<template>
  <div class="svg-image">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc3911-1af11-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
        <g class="37f71e611-2bad-42d9-89e9-dd8227636e51">
          <image xlink:href="@/assets/floors/08-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>

        <path @mouseover="addHoverClass('11-1')" @mouseleave="removeHoverClass('11-1')" @click="showModal('11-1')" id="'11-1'" :class="[returnClassRoom('11-1'), { 'hoverSvgClass': activeFloor === '11-1' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M229.87,262.32l-4.06-.07v-3.32l-30.5-.07V261l-5,0v-2.17l-30.65-.09,0,68.5,83.43.08,0-12.61,8,.07c14.37,15.76,35.64,24.81,58.16,24.42V296.41l-2.46,0v-7.3l-48.9.07V280.5l-3.53,0-.21-21.6-17.58.07-.2,17.17h-6.56V262.32Z" transform="translate(0 -10)"/>
        <path @mouseover="addHoverClass('11-2')" @mouseleave="removeHoverClass('11-2')" @click="showModal('11-2')" id="'11-2'" :class="[returnClassRoom('11-2'), { 'hoverSvgClass': activeFloor === '11-2' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M309.09,339.19c19.72-.29,40.41-7.81,58.211-24.43h7.91v12.51h31.64l51.51-.14.27-68.28h-2.44v1l-2.73,0,.011-1.111-25.46.15V261l-4.93,0v-2.23l-30.76.21.07,3.39-4.06.05v13.86l-6.62.07V258.86L364,258.79l0,21.85-3.62,0v8.52H311.46v7.24l-2.37,0v42.78Z" transform="translate(0 -10)"/>
        <path @mouseover="addHoverClass('11-3')" @mouseleave="removeHoverClass('11-3')" @click="showModal('11-3')" id="'11-3'" :class="[returnClassRoom('11-3'), { 'hoverSvgClass': activeFloor === '11-3' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M229.87,254.45l-4.06.07v3.33l-30.5.06v-2.09l-5,0V258l-30.65.09,0-68.49,83.43-.09,0,12.61,8-.07c14.311-15.75,35.64-24.81,58.16-24.42v42.78l-2.46,0v7.3l-48.21-.07v8.71l-4.22,0-.21,21.6-17.58-.06-.2-17.17h-6.56v13.77Z" transform="translate(0 -10)"/>
        <path @mouseover="addHoverClass('11-4')" @mouseleave="removeHoverClass('11-4')" @click="showModal('11-4')" id="'11-4'" :class="[returnClassRoom('11-4'), { 'hoverSvgClass': activeFloor === '11-4' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M309.09,177.58c19.72.29,40.41,7.81,58.27,24.43h7.91v-12.5h31.64l51.51.13.27,68.28h-2.44v-1l-2.73,0,.07,1.111-25.46-.15v-2.14l-4.93,0v2.23l-30.76-.2.07-3.4-4.06,0V240.54l-6.62-.07v17.44L364,258l0-21.85-4.31,0v-8.52H311.46V220.4l-2.37,0V177.58Z" transform="translate(0 -10)"/>
      </g>
    </svg>

  </div>
</template>

<script>
  export default {
    name: "nine",
    props: ['rentersList'],
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>