<template>
  <div class="svg-image">
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc392-1af8-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
        <g class="37f71e64-2bad-42d9-89e9-dd8227636e51">
          <image xlink:href="@/assets/floors/01-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>
        <path @mouseover="addHoverClass('1-1')" @mouseleave="removeHoverClass('1-1')" @click="showModal('1-1')" id="'9-1'" :class="[returnClassRoom('1-1'), { 'hoverSvgClass': activeFloor === '1-1' }]" class="7852f28a-664f-4ba9-addf-45c0bdd978a8" d="M144.92,237.09h33.31v4.16l4.41-.05.08-3.88h3.72l0-3.94h6.16l0-10.62,32.22,0-.1,10.6,7.08,0,.07-10.61,19.37.2.25,26.43-10.86,0,.14,18.62-4.39-.05,0,5.41h1l0,20.65-60.66-.42.12-19.22-5.46.05v.9l-16,.24v-.87c-6.8-.15-11-6.23-10.65-13.14h-.81l.14-21.27h.62l0-3.25Z" transform="translate(0 -10)"/>
        <path @mouseover="addHoverClass('1-2')" @mouseleave="removeHoverClass('1-2')" @click="showModal('1-2')" id="'9-2'" :class="[returnClassRoom('1-2'), { 'hoverSvgClass': activeFloor === '1-2' }]" class="7852f28a-664f-4ba9-addf-45c0bdd978a8" d="M381.58,224.08h12.3l-.07-8.21,8.05-.07.07,8.28h24.23L428,233l4.61-.9,1.14,5.39,3.49-.15,5.39,24.08v1.06l-13.14.08.16,31.14-2.66.15-.08,1.06-8.51-.15-.07-1h-7l-.08,1.14-8.81.08V293.8h-7l-.23,1.14h-8.66V293.8h-5c.07-25.21-.18-47.65.45-69.72Z" transform="translate(0 -10)"/>
        <path @mouseover="addHoverClass('1-3')" @mouseleave="removeHoverClass('1-3')" @click="showModal('1-3')" id="'9-3'" :class="[returnClassRoom('1-3'), { 'hoverSvgClass': activeFloor === '1-3' }]" class="7852f28a-664f-4ba9-addf-45c0bdd978a8" d="M443.29,222.9l30.34.15.08,5,5.62,0,.08-5.24,15.53.12.15,1.82,1.56.83.45-.19c18.52,15.08,11.58,37.33,5.88,45.7-6.69,9.83-32.72,22.34-51.41.6h-8.36l0-9.15L438.77,241h4.48l0-18.11Z" transform="translate(0 -10)"/>

        <text x="150" y="245.08" font-size="6" class="fil1 fnt0">{{ getNumberOfPlace('1-1') }}</text>
        <text x="380" y="245.08" font-size="6" class="fil1 fnt0">{{ getNumberOfPlace('1-2') }}</text>
        <text x="450" y="245.08" font-size="6" class="fil1 fnt0">{{ getNumberOfPlace('1-3') }}</text>
      </g>
    </svg>
    </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      getNumberOfPlace(id) {
        if (this.$props.rentersList && this.$props.rentersList.length) {
          const correctRenter = this.$props.rentersList.find(x => {
            return x.image_id === id
          });

          if (correctRenter) return correctRenter.renter
        }
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>