<template>
  <div class="svg-image">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc3913-1af13-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="82eae1f4-fce5-4ecd-90c2-aa1afb621ef7" data-name="Слой_1">
        <g class="7cdfe553-bc7f-4a2e-91e5-761663d53e15">
          <image xlink:href="@/assets/floors/111.png" x="0" y="0" height="335px" width="600px"></image>
        </g>
        <polygon @mouseover="addHoverClass($route.params.id + '-1')" @mouseleave="removeHoverClass($route.params.id + '-1')" @click="showModal($route.params.id + '-1')" :id="$route.params.id + '-1'" :class="[returnClassRoom($route.params.id + '-1'), { 'hoverSvgClass': activeFloor === $route.params.id + '-1' }]" class="c6f97e3e-894e-4a9d-b9d5-db9457c8953b" points="261.38 47.91 261.83 124.24 245.77 124.35 246 137.46 239.16 137.34 239.28 174.6 215.58 174.48 215.58 146.57 204.53 146.57 204.53 171.98 199.06 171.86 199.06 174.6 139.47 174.37 139.13 173.23 134.91 173.23 135.82 160.13 136.62 153.86 137.88 148.39 141.98 149.53 142.89 145.89 138.67 144.97 140.04 139.51 142.77 130.96 145.51 124.35 146.88 121.5 150.52 123.21 152.23 120.25 148.36 118.2 150.41 114.56 152.8 110.23 156.45 104.3 158.95 100.88 161.46 97.47 164.88 99.86 167.04 97.01 163.85 94.5 167.27 90.4 171.26 86.07 176.04 81.4 179.46 78.33 181.28 76.62 184.36 80.15 186.98 77.98 184.25 74.22 189.71 70.35 194.39 67.27 199.28 64.42 203.73 62.03 205.09 61.35 207.03 64.99 209.99 63.51 208.63 59.64 212.27 58.05 216.15 56.56 220.7 54.85 224.12 53.72 227.43 52.69 231.75 51.55 232.9 55.77 236.54 55.08 235.74 50.41 239.5 49.95 244.63 48.93 250.67 48.25 254.66 48.02 260.13 47.68 261.38 47.91" transform="translate(35 -10)"/>
        <polygon @mouseover="addHoverClass($route.params.id + '-2')" @mouseleave="removeHoverClass($route.params.id + '-2')" @click="showModal($route.params.id + '-2')" :id="$route.params.id + '-2'" :class="[returnClassRoom($route.params.id + '-2'), { 'hoverSvgClass': activeFloor === $route.params.id + '-2' }]" class="c6f97e3e-894e-4a9d-b9d5-db9457c8953b" points="261.38 302.39 261.83 226.06 245.77 225.94 246 212.84 239.16 212.96 239.28 175.7 215.58 175.81 215.58 203.73 204.53 203.73 204.53 178.32 199.06 178.44 199.06 175.7 139.47 175.93 139.13 177.07 134.91 177.07 135.82 190.17 136.62 196.44 137.88 201.91 141.98 200.77 142.89 204.41 138.67 205.32 140.04 210.79 142.78 219.34 145.51 225.94 146.88 228.79 150.52 227.08 152.23 230.05 148.36 232.1 150.41 235.74 152.8 240.07 156.45 246 158.95 249.41 161.46 252.83 164.88 250.44 167.04 253.29 163.85 255.79 167.27 259.9 171.26 264.23 176.04 268.9 179.46 271.97 181.28 273.68 184.36 270.15 186.98 272.32 184.25 276.07 189.72 279.95 194.39 283.02 199.28 285.87 203.73 288.27 205.1 288.95 207.03 285.3 210 286.78 208.63 290.66 212.27 292.25 216.15 293.74 220.71 295.44 224.12 296.58 227.43 297.61 231.76 298.75 232.9 294.53 236.54 295.21 235.74 299.89 239.5 300.34 244.63 301.37 250.67 302.05 254.66 302.28 260.13 302.62 261.38 302.39" transform="translate(35 -10)"/>
        <polygon @mouseover="addHoverClass($route.params.id + '-3')" @mouseleave="removeHoverClass($route.params.id + '-3')" @click="showModal($route.params.id + '-3')" :id="$route.params.id + '-3'" :class="[returnClassRoom($route.params.id + '-3'), { 'hoverSvgClass': activeFloor === $route.params.id + '-3' }]"class="c6f97e3e-894e-4a9d-b9d5-db9457c8953b" points="262.75 52.29 264.11 52.23 264.11 47.73 266.91 47.84 270.27 48.07 274.43 48.3 278.36 48.76 281.03 49.21 284 49.55 288.84 50.41 288.04 54.57 291.23 55.36 292.43 51.15 295.62 52.12 298.98 53.09 300.63 53.54 302.85 54.45 306.84 55.71 310.54 57.3 315.61 59.41 313.85 63.17 316.92 64.88 319.2 61.12 322.16 62.77 325.3 64.36 330.82 67.73 335.72 71.03 339.6 73.94 340.11 74.33 337.54 77.69 340.22 79.92 343.18 76.61 346.66 79.8 349.45 82.2 352.93 85.67 355.72 88.46 358.96 92.17 360.67 94.22 357.31 96.84 359.42 99.68 362.95 97.23 365.06 99.97 367.62 103.56 369.96 106.98 372.12 110.56 374.12 113.98 376.17 118.08 372.24 120.02 373.77 123.21 377.7 121.5 378.96 124.18 380.84 128.34 382.49 133.18 383.74 137.28 385.05 141.67 385.85 144.91 381.86 145.83 382.43 149.3 386.71 148.56 387.62 152.61 388.13 156.71 388.93 162.92 389.21 166.62 389.38 173.23 385.17 173.28 385.17 176.65 389.55 176.7 389.15 185.19 388.81 190.32 388.07 195.33 386.93 200.63 386.82 201.6 382.55 200.74 381.75 204.22 385.96 205.19 385.23 208.21 383.29 215.16 380.84 221.31 379.01 225.58 377.76 228.54 373.83 226.78 372.35 229.85 376.05 231.85 374.34 235.15 372.86 238.06 371.15 240.9 368.93 244.44 366.65 247.74 364.43 250.93 363.01 252.81 359.59 250.25 357.31 252.87 360.5 255.77 359.13 257.37 357.31 259.7 355.03 262.15 352.58 264.6 349.51 267.56 347 270.01 343.07 273.32 340.22 270.07 337.6 272.29 340.05 275.65 337.09 277.88 333.16 280.67 329.28 283.23 325.58 285.39 320.91 287.9 319.14 288.81 317.09 285.11 314.07 286.42 315.73 290.46 313.33 291.55 309.74 293.2 306.73 294.28 302.22 295.65 299.95 296.62 296.93 297.42 296.7 297.53 292.37 298.55 291.46 294.51 287.87 295.19 288.67 299.69 286.1 300.21 281.94 300.66 278.93 301.18 278.75 301.18 275.05 301.52 270.78 301.74 264.11 302.2 264.11 302.03 264.06 297.76 262.8 297.87 262.46 237.94 265.42 237.94 265.37 227.4 262.63 227.46 262.58 226.21 314.76 226.38 314.64 233.5 318.63 237.83 325.24 238 325.18 226.38 346.54 226.43 346.66 212.42 354.75 212.42 354.75 137.62 346.77 137.68 346.83 124.29 325.24 124.35 325.3 111.93 318.75 112.05 314.59 116.6 314.64 124.24 262.46 124.24 262.35 122.47 265.31 122.58 265.6 112.05 262.58 112.05 262.75 52.29" transform="translate(37 -10)"/>

        <text x="200" y="127.58" font-size="9" class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-1') }}</text>
        <text x="200" y="207.69" font-size="9" class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-2') }}</text>
        <text x="310" y="96.62" font-size="9" class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-3') }}</text>
      </g>
    </svg>
    </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      getNumberOfPlace(id) {
        if (this.$props.rentersList && this.$props.rentersList.length) {

          const correctRenter = this.$props.rentersList.find(x => {
            return x.name === id
          });
          console.log(this.$props.rentersList)
          if (correctRenter) return correctRenter.renter
        }
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>