<template>
  <div class="svg-image">
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc392-1af8-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
        <g class="37f71e64-2bad-42d9-89e9-dd8227636e51">
          <image xlink:href="@/assets/floors/09-19-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>
        <path @mouseover="addHoverClass($route.params.id + '-1')" @mouseleave="removeHoverClass($route.params.id + '-1')" @click="showModal($route.params.id + '-1')" :id="$route.params.id + '-1'" :class="[returnClassRoom($route.params.id + '-1'), { 'hoverSvgClass': activeFloor === $route.params.id + '-1' }]" d="M300.7,13V113.84H199.59l-.53,15.51-8.05.54v43.87L1.1,174.83,1.63,35.74H168.54L168,62l16.05.53C228.22,21,264.35,16.27,300.67,13Z" transform="translate(-1.1 -9)"/>
        <path @mouseover="addHoverClass($route.params.id + '-2')" @mouseleave="removeHoverClass($route.params.id + '-2')" @click="showModal($route.params.id + '-2')" :id="$route.params.id + '-2'" :class="[returnClassRoom($route.params.id + '-2'), { 'hoverSvgClass': activeFloor === $route.params.id + '-2' }]" d="M300.7,13V113.84H401.81l.53,15.51,8.05.54v43.87l189.92,1.07-.53-139.09H432.88L433.41,62l-16.05.53C373.15,21,337,16.27,300.7,13Z" transform="translate(1 -8)"/>
        <path @mouseover="addHoverClass($route.params.id + '-3')" @mouseleave="removeHoverClass($route.params.id + '-3')" @click="showModal($route.params.id + '-3')" :id="$route.params.id + '-3'" :class="[returnClassRoom($route.params.id + '-3'), { 'hoverSvgClass': activeFloor === $route.params.id + '-3' }]" d="M300.7,336.26V235.42H199.59l-.53-15.51-8.05-.54V175.51L1.1,174.44l.53,139.08H168.54L168,287.31l16.05-.53c44.17,41.53,80.3,46.21,116.62,49.48Z" transform="translate(-2 -8)"/>
        <path @mouseover="addHoverClass($route.params.id + '-4')" @mouseleave="removeHoverClass($route.params.id + '-4')" @click="showModal($route.params.id + '-4')" :id="$route.params.id + '-4'" :class="[returnClassRoom($route.params.id + '-4'), { 'hoverSvgClass': activeFloor === $route.params.id + '-4' }]" d="M300.7,336.26V235.42H401.81l.53-15.51,8.05-.54V175.51l189.92-1.07-.53,139.08H432.88l.53-26.21-16.05-.53c-44.17,41.53-80.3,46.21-116.62,49.48Z" transform="translate(-0.1 -7)"/>

        <text x="67.34" y="80"  class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-1') }}</text>
        <text x="375.32" y="80"  class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-2') }}</text>
        <text x="67.34" y="260"  class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-3') }}</text>
        <text x="375.32" y="260"  class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-4') }}</text>
      </g>
    </svg>

    </SvgPanZoom>

  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      getNumberOfPlace(id) {
        if (this.$props.rentersList && this.$props.rentersList.length) {

          const correctRenter = this.$props.rentersList.find(x => {
            return x.name === id
          });
          console.log(this.$props.rentersList)
          if (correctRenter) return correctRenter.renter
        }
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>