<template>
  <div class="svg-image">
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
      <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
      <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
        <defs>
          <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
            <rect class="28fcc396-1af8-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
          </clipPath>
        </defs>
        <title></title>
        <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
          <g class="37f71e66-2bad-42d9-89e9-dd8227636e51">
            <image xlink:href="@/assets/floors/07-floor.png" x="0" y="0" height="335px" width="600px"></image>
          </g>

          <path @mouseover="addHoverClass('6-1')" @mouseleave="removeHoverClass('6-1')" @click="showModal('6-1')" id="'9-1'" :class="[returnClassRoom('6-1'), { 'hoverSvgClass': activeFloor === '6-1' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M252,239.94H163.78l.06,9.12H154v-4.45h-26.2l-.12,36.12c-.26,7.52,3,12.15,11,13v1.19l17.26-.11v-1h6l.12,27.46,79.18-.12.11-14.46,7.41.11c0,.8.08,1.59.11,2.39a78.45,78.45,0,0,0,55.45,22.9V292.46h-3l0-7.52-46.34.12.12-7.86-2.85-.12L252,239.94Z" transform="translate(8 -8)"/>
          <path @mouseover="addHoverClass('6-2')" @mouseleave="removeHoverClass('6-2')" @click="showModal('6-2')" id="'9-2'" :class="[returnClassRoom('6-2'), { 'hoverSvgClass': activeFloor === '6-2' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M304.22,332.11c18.67-.1,38.11-7.07,55.41-22.56l.11-3,7.07.12.23,14.81,79.41-.35.11-30.41,7.75-.12c20.55,23,46.57,12.62,56.48-3.72,8.54-14.07,5.19-36.46-10.23-46V239l-55.82-.11v1.25l-27.46.11v18.35h-4.6l0-3.54-11.62.12V271.5l-37,.46v12.87l-24,.23-33.35.06.05,7.34h-2.51v39.65Z" transform="translate(10 -8)"/>
        </g>
      </svg>
    </SvgPanZoom>

  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>