<template>
  <div class="svg-image d-block m-auto">

    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" class="" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc3913-1af13-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="82eae1f4-fce5-4ecd-90c2-aa1afb621ef7" data-name="Слой_1">
        <g class="7cdfe553-bc7f-4a2e-91e5-761663d53e15">
          <image xlink:href="@/assets/floors/33-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>
      </g>
    </svg>

  </div>
</template>

<script>
  export default {
    name: "nine",
    props: ['rentersList'],
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>