<template>
  <div class="svg-image">
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc393-1af8-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
        <g class="37f71e64-2bad-42d9-89e9-dd8227636e51">
          <image xlink:href="@/assets/floors/03-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>

        <path @mouseover="addHoverClass('3-1')" @mouseleave="removeHoverClass('3-1')" @click="showModal('3-1')" id="'9-1'" :class="[returnClassRoom('3-1'), { 'hoverSvgClass': activeFloor === '3-1' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M150.08,219.6h39.65v5l6.78-.06.06-9.23h31.1l.06,9.29h7l0-9.34,18.91.05v34H256V277l-1.82-.06-.06,11.28H181.24l.06-23.75-5.7.05v.69l-15.61.28v-1c-7.14-.48-10.53-5.13-9.91-12.48h-1l.17-20.62H150l.06-11.74Z" transform="translate(0)"/>
        <path @mouseover="addHoverClass('3-2')" @mouseleave="removeHoverClass('3-2')" @click="showModal('3-2')" id="'9-2'" :class="[returnClassRoom('3-2'), { 'hoverSvgClass': activeFloor === '3-2' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M375.67,214.07l115.92.12.06,1.88c9.68,6.4,21.25,22.62,8.52,44.12-9.28,15.67-38.6,19.44-51,1.62H442v26.26l-72.8.06,0-11.16h-1.87l-.12-42.44,8.26-.06.13-20.4Z" transform="translate(0)"/>

        <text x="160" y="238.65" font-size="8" class="fil1 fnt0">{{ getNumberOfPlace('3-1') }}</text>
        <text x="380" y="238.65" font-size="8" class="fil1 fnt0">{{ getNumberOfPlace('3-2') }}</text>
      </g>
    </svg>
    </SvgPanZoom>

  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      getNumberOfPlace(id) {
        if (this.$props.rentersList && this.$props.rentersList.length) {
          const correctRenter = this.$props.rentersList.find(x => {
            return x.image_id === id
          });

          if (correctRenter) return correctRenter.renter
        }
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>