<template>
  <div class="svg-image">
    <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
    <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
      <defs>
        <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
          <rect class="28fcc3913-1af13-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
        </clipPath>
      </defs>
      <title></title>
      <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
        <g class="37f71e613-2bad-42d9-89e9-dd8227636e51">
          <image xlink:href="@/assets/floors/32-floor.png" x="0" y="0" height="335px" width="600px"></image>
        </g>

        <path @mouseover="addHoverClass($route.params.id + '-1')" @mouseleave="removeHoverClass($route.params.id + '-1')" @click="showModal($route.params.id + '-1')" :id="$route.params.id + '-1'" :class="[returnClassRoom($route.params.id + '-1'), { 'hoverSvgClass': activeFloor === $route.params.id + '-1' }]" class="296129da-53d9-4c2f-a017-3cfe3683de06" d="M143.3,173.69l-7.88.13v5.12l-44.51.13V175l-24.29-.39v4.2L7,179.33l0-133,162-.17L169,70.62l15.62-.13c52.26-57.3,151.52-69,225.7,0h15.36V46.2h61.45l100,.26.53,132.22-4.73.39-.13-2H559v1.58l-30.72.13.13-4.07-25.21.26v4.33l-44.11-.39.13-5.52h-.39l-7.49.14V145.33l-12.86-.13v33.87l-34.67.13.14-42.93-8.8-.13V120.25H301.77v-14l-8.93-.13v14.18l-93.48-.13.13,15.75-8.8.14-.13,43.06-34.13-.13-.4-33.35H143.3v28.1Z" transform="translate(4.79 -10)"/>
        <path @mouseover="addHoverClass($route.params.id + '-2')" @mouseleave="removeHoverClass($route.params.id + '-2')" @click="showModal($route.params.id + '-2')" :id="$route.params.id + '-2'" :class="[returnClassRoom($route.params.id + '-2'), { 'hoverSvgClass': activeFloor === $route.params.id + '-2' }]" class="296129da-53d9-4c2f-a017-3cfe3683de06" d="M143.3,184.76l-7.88-.13v-5.12l-44.51-.14v4.08l-24.29.39v-4.2L7,179.11l0,133,162,.16L169,287.82l15.62.13c27.66,30.33,68.48,47.88,111.77,47.46V252.32l-3.58.05V238.19l-93.48.14.13-15.76-8.8-.13-.13-43.07-34.13.14-.4,33.34H143.3V184.76Z" transform="translate(4.79 -10)"/>
        <path @mouseover="addHoverClass($route.params.id + '-3')" @mouseleave="removeHoverClass($route.params.id + '-3')" @click="showModal($route.params.id + '-3')" :id="$route.params.id + '-3'" :class="[returnClassRoom($route.params.id + '-3'), { 'hoverSvgClass': activeFloor === $route.params.id + '-3' }]" class="296129da-53d9-4c2f-a017-3cfe3683de06" d="M451.09,184.76l7.87-.13v-5.12l44.51-.14v4.08l24.29.39v-4.2l59.61-.53,0,133-162,.16.06-24.49-15.62.13c-27.65,30.33-68.47,47.88-111.77,47.46V252.32l3.58.05V238.19l93.48.14-.13-15.76,8.8-.13.13-43.07,34.14.14.39,33.34h12.74V184.76Z" transform="translate(4.79 -10)"/>

        <!--<path @mouseover="addHoverClass($route.params.id + '-1')" @mouseleave="removeHoverClass($route.params.id + '-1')" @click="showModal($route.params.id + '-1')" :id="$route.params.id + '-1'" :class="[returnClassRoom($route.params.id + '-1'), { 'hoverSvgClass': activeFloor === $route.params.id + '-1' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M164.69,170.1l-6.84.11v4.45l-38.62.11v-3.53l-21.08-.34v3.64L46.43,175l0-115.44,140.63-.14L187,80.66l13.56-.11c45.34-49.73,131.47-59.88,195.85,0h13.33V59.47h53.32l86.81.23.46,114.73-4.1.34-.12-1.71H525.4v1.37l-26.66.11.11-3.53-21.87.23V175l-38.29-.34.12-4.79h-.34L432,170v-24.5l-11.16-.11v29.39l-30.08.12.11-37.26-7.63-.11V123.73h-81V111.54l-7.74-.11v12.3l-81.12-.11.11,13.67-7.63.11-.12,37.37-29.62-.11-.34-28.94H164.69V170.1Z" transform="translate(4.79 -10)"/>-->
        <!--<path @mouseover="addHoverClass($route.params.id + '-2')" @mouseleave="removeHoverClass($route.params.id + '-2')" @click="showModal($route.params.id + '-2')" :id="$route.params.id + '-2'" :class="[returnClassRoom($route.params.id + '-2'), { 'hoverSvgClass': activeFloor === $route.params.id + '-2' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M164.69,179.71l-6.84-.12v-4.44L119.23,175v3.53l-21.08.34v-3.65l-51.72-.45,0,115.44,140.63.14L187,269.14l13.56.12c24,26.31,59.41,41.54,97,41.18v-72.1l-3.11,0v-12.3l-81.12.11.11-13.67-7.63-.11L205.7,175l-29.62.11-.34,28.94H164.69V179.71Z" transform="translate(4.79 -10)"/>-->
        <!--<path @mouseover="addHoverClass($route.params.id + '-3')" @mouseleave="removeHoverClass($route.params.id + '-3')" @click="showModal($route.params.id + '-3')" :id="$route.params.id + '-3'" :class="[returnClassRoom($route.params.id + '-3'), { 'hoverSvgClass': activeFloor === $route.params.id + '-3' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M431.78,179.71l6.83-.12v-4.44l38.63-.11v3.53l21.07.34v-3.65l51.73-.45,0,115.44-140.62.14.06-21.25-13.56.12c-24,26.31-59.42,41.54-97,41.18v-72.1l3.11,0v-12.3l81.12.11L383,212.52l7.64-.11.11-37.37,29.62.11.35,28.94h11V179.71Z" transform="translate(4.79 -10)"/>-->
      </g>
    </svg>

  </div>
</template>

<script>
  export default {
    name: "nine",
    props: ['rentersList'],
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>