<template>
  <div class="svg-image">
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
      <!--<img src="@/assets/floors/09-19-floor.png" alt="">-->
      <svg id="d4053b77-6876-4e4a-b9ec-989eae9d2426" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600" height="335" viewBox="0 0 600 335">
        <defs>
          <clipPath id="a924e954-49bd-4ff8-989e-e02e9d622dcb" transform="translate(-0.29 -17.35)">
            <rect class="28fcc393-1af8-4544-ab69-e0a17b3eedbc" y="17.35" width="600" height="561.26"/>
          </clipPath>
        </defs>
        <title></title>
        <g id="4bece316-bf7e-4715-926b-097a4215096f" data-name="Слой_1">
          <g class="37f71e64-2bad-42d9-89e9-dd8227636e51">
            <image xlink:href="@/assets/floors/20-floor.png" x="0" y="0" height="335px" width="600px"></image>
          </g>

          <path @mouseover="addHoverClass($route.params.id + '-1')" @mouseleave="removeHoverClass($route.params.id + '-1')" @click="showModal($route.params.id + '-1')" id="'9-1'" :class="[returnClassRoom($route.params.id + '-1'), { 'hoverSvgClass': activeFloor === $route.params.id + '-1' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M9.10659,236.5776l61.50462-.358,136.164-.35462-.358-7.10928h93.50148l.35462,15.28581h3.911v85.67957c-40.29835-1.12126-77.02009-14.16118-108.7873-43.72633l-5.3328-6.40006-15.99843.35462.35462,25.24219L9.10659,304.12428Z" transform="translate(-1 0)"/>
          <path @mouseover="addHoverClass($route.params.id + '-2')" @mouseleave="removeHoverClass($route.params.id + '-2')" @click="showModal($route.params.id + '-2')" id="'9-2'" :class="[returnClassRoom($route.params.id + '-2'), { 'hoverSvgClass': activeFloor === $route.params.id + '-2' }]" class="0b14b920-178f-4756-96c8-90ec74a48075" d="M599.88,236.5776l-61.50463-.358-136.164-.35462.358-7.10928H309.06791l-.35462,15.28581h-3.911v85.67957c40.29833-1.12126,77.02012-14.16118,108.7873-43.72633l5.33283-6.40006,15.99843.35462-.358,25.24219L599.88,304.12428Z" transform="translate(0 0)"/>

          <text x="60" y="260" class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-1') }}</text>
          <text x="350" y="260" class="fil1 fnt0">{{ getNumberOfPlace($route.params.id + '-2') }}</text>
        </g>
      </svg>
    </SvgPanZoom>

  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "nine",
    props: ['rentersList'],
    components: {
      SvgPanZoom
    },
    data() {
      return {
        activeFloor: null
      }
    },
    methods: {
      getNumberOfPlace(id) {
        if (this.$props.rentersList && this.$props.rentersList.length) {

          const correctRenter = this.$props.rentersList.find(x => {
            return x.name === id
          });
          console.log(this.$props.rentersList)
          if (correctRenter) return correctRenter.renter
        }
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          const room = this.$props.rentersList.find(x => {
            return x.name === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
      showModal(id) {
        this.$root.$emit('showModal', id)
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      }
    }
  }
</script>