<template>
  <div class="wrapper">

    <topLine/>

    <div class="flex_wrapper" id="home">
      <div v-show="!showFloorStatistic" class="chart_wrapper">
        <div class="main_title">Общая статистика по бизнес-центру</div>

        <div class="title_chart">Заполненость объекта</div>

        <div class="floor_stat">
          <div class="busy_wrapper">
            <div class="busy width_line">
              <div class="current_width" :style="{ 'width': generalStatisticsPercents.busy + '%' }"></div>
            </div>
            <div class="text_chart">Занято площадей</div>
            <div class="chart_lvl" data-default="98">{{ generalStatisticsPercents.busy }}%</div>
          </div>

          <div class="free_wrapper">
            <div class="free width_line">
              <div class="current_width" :style="{ 'width': generalStatisticsPercents.free + '%' }"></div>
            </div>
            <div class="text_chart">Свободно площадей</div>
            <div class="chart_lvl" data-default="0">{{ generalStatisticsPercents.free }}%</div>
          </div>

          <div class="reserve_wrapper">
            <div class="reserve width_line">
              <div class="current_width" :style="{ 'width': generalStatisticsPercents.reserved + '%' }"></div>
            </div>
            <div class="text_chart">В резерве</div>
            <div class="chart_lvl" data-default="2">{{ generalStatisticsPercents.reserved }}%</div>
          </div>
        </div>

        <div class="general_stat" style="display: block;">
          <div class="title_chart">Арендаторы</div>

          <div class="busy_wrapper">
            <div class="busy width_line">
              <div class="current_width" v-bind:style="{ 'width': renterTypePercent.first + '%'}"></div>
            </div>
            <div class="text_chart">Якорные (РН)</div>
            <div class="chart_lvl">{{renterTypePercent.first}}%</div>
          </div>

          <div class="free_wrapper">
            <div class="free width_line">
              <div class="current_width" :style="{ 'width': renterTypePercent.second + '%'}"></div>
            </div>
            <div class="text_chart">Стратегические</div>
            <div class="chart_lvl">{{renterTypePercent.second}}%</div>
          </div>

          <div class="reserve_wrapper">
            <div class="reserve width_line">
              <div class="current_width" :style="{ 'width': renterTypePercent.third + '%'}"></div>
            </div>
            <div class="text_chart">Внешние</div>
            <div class="chart_lvl">{{renterTypePercent.third}}%</div>
          </div>

          <div class="title_chart">Типы помещений</div>

          <div v-for="item in places" class="busy_wrapper">
            <div class="busy width_line">
              <div class="current_width" :style="{ 'width': item.percent + '%'}"></div>
            </div>
            <div class="text_chart">{{ item.name }}</div>
            <div class="chart_lvl">{{ item.percent }}%</div>
          </div>

          <!--<div class="free_wrapper">-->
          <!--<div class="free width_line">-->
          <!--<div class="current_width" style="width:0%;"></div>-->
          <!--</div>-->
          <!--<div class="text_chart">Свободные пом. от 500 м²</div>-->
          <!--<div class="chart_lvl">0%</div>-->
          <!--</div>-->

          <!--<div class="reserve_wrapper">-->
          <!--<div class="reserve width_line">-->
          <!--<div class="current_width" style="width:0%;"></div>-->
          <!--</div>-->
          <!--<div class="text_chart">Свободные пом. от 1500 м²</div>-->
          <!--<div class="chart_lvl">0%</div>-->
          <!--</div>-->
          <!--
          <div class="title_chart" style="margin-bottom: 20px;">Аренда</div>
          <div class="flex_wrapper">
            <div>
              Базовая аренда, руб/мес:
              <div class="price">40 000</div>
            </div>
            <div>
              Переменная, руб/мес:
              <div class="price">5 000</div>
            </div>
            <div>
              Эксплуатация, руб/мес:
              <div class="price">2 000</div>
            </div>
          </div>	-->
        </div>

        <div class="summary_parking">
          <div>Суммарный доход от здания<br>за месяц</div>
          <div class="summ">{{ sum }} руб</div>
        </div>

      </div>
      <div v-show="showFloorStatistic" style="width: 582px">
        <floorStatisticComponent :floor-id="showFloorStatisticId"/>
      </div>

      <div class="img_wrapper">

        <div class="descr">Наведите на этаж, <br>чтобы увидеть данные статистики.</div>

        <img src="../assets/tower.png" alt="">
        <div class="map"
             style="display: block; background-size: contain; position: relative; padding: 0px; width: 430px; height: 463px;">
          <!--<canvas-->
          <!--style="width: 430px; height: 463px; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px;"-->
          <!--height="463" width="430"></canvas>-->
          <!--<img src="@/assets/tower.png" width="479" class="map maphilighted" height="463" border="0"-->
          <!--usemap="#Map" style="opacity: 0; position: absolute; left: 0px; top: 0px; padding: 0px; border: 0px;">-->
        </div>
        <map name="Map" id="Map">
          <!-- <a class="chart_view" busy="20" data-free="10" data-reserve="70" data-floor="11">
            <area shape="poly" coords="193,232,221,233,226,232,265,234,303,235,346,233,346,241,303,242,265,241,224,239,193,238" />
          </a>
          <a class="chart_view" busy="40" data-free="10" data-reserve="30" data-floor="12">
            <area shape="poly" coords="193,227,221,228,226,227,265,229,303,230,346,228,346,236,303,237,265,236,224,234,193,233" />
          </a> -->
        </map>
      </div>

      <div class="floor_numbers" id="floor_select">
        <div class="floor_numbers_wrapper">
          <div @click="showFloor(42)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(42)" data-floor="41" :class="42 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">42 <span :class="activeHoverFloor === 42 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(41)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(41)" data-floor="41" :class="41 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">41 <span :class="activeHoverFloor === 41 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(40)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(40)" data-floor="40" :class="40 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">40 <span :class="activeHoverFloor === 40 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(39)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(39)" data-floor="39" :class="39 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">39 <span :class="activeHoverFloor === 39 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(38)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(38)" data-floor="38" :class="38 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="0" data-free="0" data-reserve="100">38 <span :class="activeHoverFloor === 38 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(37)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(37)" data-floor="37" :class="37 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">37 <span :class="activeHoverFloor === 37 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(36)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(36)" data-floor="36" :class="36 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">36 <span :class="activeHoverFloor === 36 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(35)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(35)" data-floor="35" :class="35 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">35 <span :class="activeHoverFloor === 35 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(34)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(34)" data-floor="34" :class="34 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">34 <span :class="activeHoverFloor === 34 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(33)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(33)" data-floor="33" :class="33 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">33 <span :class="activeHoverFloor === 33 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(32)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(32)" data-floor="32" :class="32 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">32 <span :class="activeHoverFloor === 32 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(31)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(31)" data-floor="31" :class="31 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">31 <span :class="activeHoverFloor === 31 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(30)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(30)" data-floor="30" :class="30 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">30 <span :class="activeHoverFloor === 30 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(29)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(29)" data-floor="29" :class="29 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">29 <span :class="activeHoverFloor === 29 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(28)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(28)" data-floor="28" :class="28 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">28 <span :class="activeHoverFloor === 28 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(27)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(27)" data-floor="27" :class="27 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">27 <span :class="activeHoverFloor === 27 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(26)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(26)" data-floor="26" :class="26 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">26 <span :class="activeHoverFloor === 26 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(25)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(25)" data-floor="25" :class="25 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">25 <span :class="activeHoverFloor === 25 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(24)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(24)" data-floor="24" :class="24 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">24 <span :class="activeHoverFloor === 24 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(23)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(23)" data-floor="23" :class="23 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">23 <span :class="activeHoverFloor === 23 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(22)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(22)" data-floor="22" :class="22 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">22 <span :class="activeHoverFloor === 22 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(21)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(21)" data-floor="21" :class="21 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">21 <span :class="activeHoverFloor === 21 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(20)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(20)" data-floor="20" :class="20 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">20 <span :class="activeHoverFloor === 20 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(19)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(19)" data-floor="19" :class="19 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">19 <span :class="activeHoverFloor === 19 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(18)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(18)" data-floor="18" :class="18 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">18 <span :class="activeHoverFloor === 18 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(17)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(17)" data-floor="17" :class="17 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">17 <span :class="activeHoverFloor === 17 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(16)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(16)" data-floor="16" :class="16 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">16 <span :class="activeHoverFloor === 16 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(15)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(15)" data-floor="15" :class="15 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">15 <span :class="activeHoverFloor === 15 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(14)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(14)" data-floor="14" :class="14 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">14 <span :class="activeHoverFloor === 14 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(13)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(13)" data-floor="13" :class="13 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">13 <span :class="activeHoverFloor === 13 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(12)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(12)" data-floor="12" :class="12 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">12 <span :class="activeHoverFloor === 12 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(11)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(11)" data-floor="11" :class="11 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">11 <span :class="activeHoverFloor === 11 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(10)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(10)" data-floor="10" :class="10 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">10 <span :class="activeHoverFloor === 10 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(9)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(9)" data-floor="9" :class="9 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">9 <span :class="activeHoverFloor === 9 ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(8)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(8)" data-floor="8" :class="8 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">8 <span :class="activeHoverFloor === 8  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(7)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(7)" data-floor="7" :class="7 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">7 <span :class="activeHoverFloor === 7  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(6)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(6)" data-floor="6" :class="6 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">6 <span :class="activeHoverFloor === 6  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(5)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(5)" data-floor="5" :class="5 === activeHoverFloor ? 'active_floor' : ''"
               class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">5 <span :class="activeHoverFloor === 5  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(4)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(4)" data-floor="4" :class="4 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">4 <span :class="activeHoverFloor === 4  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(3)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(3)" data-floor="3" :class="3 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">3 <span :class="activeHoverFloor === 3  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(2)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(2)" data-floor="2" :class="2 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">2 <span :class="activeHoverFloor === 2  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
          <div @click="showFloor(1)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(1)" data-floor="1" :class="1 === activeHoverFloor ? 'active_floor' : ''"
               class="chart_view" data-busy="100" data-free="0" data-reserve="0">1 <span :class="activeHoverFloor === 1  ? 'd-inline-block' : 'd-none'">Этаж</span>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import moment from 'moment';
  import floorStatisticComponent from './floorStatistic';

  export default {
    name: "admin-state",
    components: {
      Datepicker,
      floorStatisticComponent
    },
    data() {
      return {
        activeHoverFloor: null,
        showFloorStatistic: false,
        showFloorStatisticId: null,
        floors: [],
        activeFloor: null,
        sum: 0,
        generalStatistics: {
          busy: 40,
          free: 20,
          reserved: 10
        },
        generalStatisticsPercents: {
          busy: 0,
          free: 0,
          reserved: 0
        },
        priceLease: {},
        ru: ru,
        mainDate: null,
        loading: true,
        places: [],
        baseProfit: 0,
        varProfit: 0,
        profitEkp: 0,
        marketProfit: 0,
        percentForSale: 0,
        rentersType: [],
        renterTypePercent: {
          first: null,
          second: null,
          third: null
        },
        placesTypePercent: {
          first: null,
          second: null,
          third: null
        },
        showLink: false,
        maxDate: null
      }
    },
    created() {
      this.$http.get('http://nords.f-bc.ru:3000/floors').then(res => {
        this.$set(this, 'floors', res.body.data);
        this.$set(this, 'loading', false);
      });

      this.$set(this, 'mainDate', moment().format('DD.MM.YY'));
      this.$set(this, 'maxDate', moment().format('DD.MM.YY'));

      this.$http.get('http://nords.f-bc.ru:3000/places').then(res => {
        this.$set(this, 'places', res.body.data);

        this.places.forEach(item => {
          item.percent = 0;
        });

        this.$http.get('http://nords.f-bc.ru:3000/renters').then(res => {
          let total = 0;
          const renters = res.body;
          let totalRentersType_1 = 0;
          let totalRentersType_2 = 0;
          let totalRentersType_3 = 0;

          let totalStatusBusy = 0;
          let totalStatusReserve = 0;
          let totalStatusFree = 0;

          renters.forEach(item => {
            ++total;

            switch (item.status) {
              case 'busy':
                totalStatusBusy += 1;
                break;
              case 'reserve':
                totalStatusReserve += 1;
                break;
              default:
                totalStatusFree += 1;
            }

            if (item.renter_type == 1) {
              ++totalRentersType_1;
            } else if (item.renter_type == 2) {
              ++totalRentersType_2;
            } else {
              ++totalRentersType_3;
            }

            const correctPlaces = this.places.find(x => {
              return x.id === Number(item.placesType)
            });

            if (correctPlaces) ++correctPlaces.percent;
            // this.places[Number(item.placesType)] && ++this.places[Number(item.placesType)].percent;
          });

          totalRentersType_1 = totalRentersType_1 === 0 ? totalRentersType_1 : (totalRentersType_1 / total * 100).toFixed(2)
          totalRentersType_2 = totalRentersType_2 === 0 ? totalRentersType_2 : (totalRentersType_2 / total * 100).toFixed(2)
          totalRentersType_3 = totalRentersType_3 === 0 ? totalRentersType_3 : (totalRentersType_3 / total * 100).toFixed(2)

          this.$set(this.renterTypePercent, 'first', totalRentersType_1);
          this.$set(this.renterTypePercent, 'second', totalRentersType_2);
          this.$set(this.renterTypePercent, 'third', totalRentersType_3);

          this.places.forEach(item => {
            if (total > 0) item.percent = (item.percent / total * 100).toFixed(2);
          });

          this.$set(this.generalStatistics, 'busy', totalStatusBusy);
          this.$set(this.generalStatistics, 'free', totalStatusFree);
          this.$set(this.generalStatistics, 'reserved', totalStatusReserve);

          this.$set(this.generalStatisticsPercents, 'busy', Math.round(totalStatusBusy / total * 10000) / 100);
          this.$set(this.generalStatisticsPercents, 'free', Math.round(totalStatusFree / total * 10000) / 100);
          this.$set(this.generalStatisticsPercents, 'reserved', Math.round(totalStatusReserve / total * 10000) / 100);
        })
      });

      // this.$http.get('http://nords.f-bc.ru:3000/renters-type').then(res => {
      //   this.$set(this, 'places', res.body.data);
      // });

      this.$http.get('http://nords.f-bc.ru:3000/renters').then(res => {
        let totalProfit = 0;
        let baseProfit = 0;
        let varProfit = 0;
        let profitEkp = 0;
        let marketProfit = 0;
        let percentForSale = 0;

        res.body.forEach(item => {
          if (item.status === 'busy' && item.name !== 'parking') {

            // if (item.YEuse && item.YEvalue) {
            //   baseProfit += Number(item.YEvalue) * Number(item.price_base)
            //   totalProfit += Number(item.YEvalue) * Number(item.price_base)
            // } else {
            //   baseProfit += Number(item.price_base);
            //   totalProfit += Number(item.price_base);
            // }

            baseProfit += Number(item.price_base);
            totalProfit += Number(item.price_base);
            // totalProfit += item.price_base;
            // baseProfit += Number(item.price_base);
            varProfit += Number(item.price_var);
            profitEkp += Number(item.price_ekp);
            marketProfit += Number(item.market);
            percentForSale += Number(item.percentPay);
          }
        });

        this.$set(this, 'baseProfit', baseProfit);
        this.$set(this, 'varProfit', varProfit);
        this.$set(this, 'profitEkp', profitEkp);
        this.$set(this, 'marketProfit', marketProfit);
        this.$set(this, 'percentForSale', percentForSale);
        this.$set(this, 'sum', totalProfit + varProfit + profitEkp)
      });
    },
    methods: {
      showFloor(id) {
        this.$router.push({
          name: 'floor',
          params: {
            id
          }
        })
      },
      resetFloor() {
        this.$set(this, 'activeHoverFloor', null);
        this.$set(this, 'showFloorStatisticId', null)
        this.$set(this, 'showFloorStatistic', false)
      },
      showFloorStatisticFunc(id) {
        this.$set(this, 'showFloorStatisticId', id);
        this.$set(this, 'showFloorStatistic', true);
        this.$set(this, 'activeHoverFloor', id);
      },
      download() {
        window.location.replace("http://nords.f-bc.ru:3000/download-second");
        // this.$http.get('http://nords.f-bc.ru:3000/download-second').then(response => {
        //   let blob = new Blob([response.blob()], {type: response.headers.map['content-type']}),
        //     filename = (response.headers['Content-Disposition'] || '').split('filename=')[1];
        //
        //   let result = document.createElement('a');
        //   result.href = window.URL.createObjectURL(blob);
        //   result.download = filename;
        //   return result;
        // })
      },
      createExel() {
        this.$http.get('http://nords.f-bc.ru:3000/statistic?mainDate=' + moment(this.mainDate).format('MM.YYYY')).then(res => {
          this.$set(this, 'showLink', true);
        })
      },
      setActiveItem(id) {
        this.$set(this, 'activeFloor', id);
      }
    }
  }
</script>