<template>
  <modal name="renterChange" id="renterChange" :height="'auto'" :scrollable="true">
    <div class="p-4">

      <div class="modal-close-button" @click="$modal.hide('renterChange')">
        <img src="../assets/close.svg" alt="">
      </div>

      <h3>Помещение {{ correctRenter.place }}</h3>

      <div class="row mt-4">
        <div class="col-6">

          <div class="form-group">
            <small class="text-secondary">Номер помещения (БТИ)</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                   v-model="correctRenter.name">
          </div>

          <div class="form-group">
            <small class="text-secondary">Номер помещения</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                   v-model="correctRenter.place">
          </div>

        </div>
        <div class="col-6">
          <div class="form-group">
            <small class="text-secondary">Площадь помещения</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                   v-model="correctRenter.area">
          </div>

          <div class="form-group">
            <small class="text-secondary">Статус помещения</small>
            <div class="input-group mb-3">
              <select class="custom-select" v-model="correctRenter.status">
                <option value="free">Свободно</option>
                <option value="busy">Занято</option>
                <option value="reserve">В резерве</option>
              </select>
            </div>
          </div>

        </div>
      </div>

      <h3 class="mt-3">Арендатор</h3>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <small class="text-secondary">Наименование компании</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                   v-model="correctRenter.renter">
          </div>

          <div class="form-group">
            <small class="text-secondary">Договор с</small>
            <div class="row align-items-center">
              <div class="col-auto">
                <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
              </div>
              <div class="col-auto">
                <img src="../assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
              </div>
            </div>
          </div>

          <div class="form-group">
          <small class="text-secondary">Договор номер</small>
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
          v-model="correctRenter.doc_number">
          </div>
        </div>
        <div class="col-6">

          <div class="form-group">
            <small class="text-secondary">Договор по</small>
            <div class="row align-items-center">
              <div class="col-auto">
                <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
              </div>
              <div class="col-auto">
                <img src="../assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
              </div>
            </div>
          </div>

        </div>
      </div>

      <h3 class="mt-3">Список прикрепленных файлов</h3>

      <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
        <tbody>
        <tr v-for="item in correctRenter.doc_number">
        <td>{{ item.name }}</td>
        <td>
        <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
        </td>
        </tr>
        </tbody>
      </table>

      <div v-else class="text-center">
        <span>Нет файлов</span>
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
        <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
      </div>

      <h3 class="mt-3">Стоимость (основная)</h3>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <small class="text-secondary">Базовая</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                   v-model="correctRenter.price_base">
          </div>

          <div class="form-group">
            <small class="text-secondary">Эксплуатационная</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                   v-model="correctRenter.price_ekp">
          </div>
        </div>
        <div class="col-6">

          <div class="form-group">
            <small class="text-secondary">Курс условной еденицы</small>
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                </div>
              </div>
              <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse" v-model="correctRenter.YEvalue">
            </div>
          </div>

          <div class="form-group">
            <small class="text-secondary">Переменная</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                   v-model="correctRenter.price_var">
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-success d-block mt-5" @click="saveRenter()">Сохранить изменения!!</button>
    </div>
  </modal>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';

  export default {
    name: "changeRenter",
    props: ['correctRenterProp'],
    watch: {
      correctRenter(newVal) {
        if (this.correctRenter.name) {
          this.$set(this, 'needModify', true)
        }

        this.$set(this, 'correctRenter', newVal);
      }
    },
    data() {
      return {
        placesTypes: [],
        ru,
        needModify: false,
        correctRenter: null
      }
    },
    mounted() {
      this.$http.get('http://nords.f-bc.ru:3000/places').then(res => {
        this.$set(this, 'placesTypes', res.body.data);
      })
    },
    methods: {
      saveRenter() {
        let request;

        debugger

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          // this.getAllRenters();
        })
      },
      async createRenter() {
        debugger
        await this.$http.post('http://nords.f-bc.ru:3000/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.id,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      },
      async updaterenter() {
        debugger
        await this.$http.patch('http://nords.f-bc.ru:3000/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      },
      sendRequest(method) {
        this.$http[method]('http://nords.f-bc.ru:3000/renters')
      },
      onFileChange(e) {

        if (e) {
          const files = e.target.files || e.dataTransfer.files;
          if (!files.length)
            return;

          this.createImage(files[0]);
        }
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://nords.f-bc.ru:3000/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
    }
  }
</script>

<style scoped>

</style>