<template>
  <div class="wrapper floor">
    <topLine/>

    <div class="wrapper" id="etaj13">
      <div class="title">Этаж №{{ $route.params.id }}</div>

      <div class="d-flex justify-content-between">

        <div class="floor__info" v-if="$route.params.id !== 33">

          <div v-if="showShortInfo">

            <div>
              Помещение
              <div class="value status__status">{{shortInfoRenter.name}}/ {{shortInfoRenter.status}}</div>
            </div>

            <div>
              Площадь
              <div class="value area__status">{{shortInfoRenter.area}} м<sup>
                <small>2</small>
              </sup></div>
            </div>

            <div>
              Базовая аренда, руб/мес.
              <div class="value status__status">{{shortInfoRenter.price_base}}</div>
            </div>

            <div>
              Эксплутационная аренда, руб/мес.
              <div class="value status__status">{{shortInfoRenter.price_ekp}}</div>
            </div>

            <div>
              Переменная аренда, руб/мес.
              <div class="value status__status">{{shortInfoRenter.price_var}}</div>
            </div>
          </div>

          <div v-else>

            <toAdminPage/>

            <rentersList ref="rentersList" :route-id="$route.params.id"/>

            <div>
              Занято
              <div class="value area__status">{{placeArea.busy}} м<sup>
                <small>2</small>
              </sup></div>
            </div>

            <div>
              Свободно
              <div class="value status__status">{{placeArea.free}} м<sup>
                <small>2</small>
              </sup></div>
            </div>

            <div>
              Резерв
              <div class="value basic__status">{{placeArea.reserve}} м<sup>
                <small>2</small>
              </sup></div>
            </div>

            <div>
              Доход с этажа в месяц
              <div class="value peremen__static">{{ totalSum }} руб.</div>
            </div>
          </div>
        </div>
        <div v-else style="width: 200px;">
          <toAdminPage/>
        </div>

        <div class="plan_img_wrapper">
          <floorPlan :floor-id="$route.params.id" :renters-list="renters"/>
        </div>

        <floorList/>

      </div>

      <div class="download_line">
        <div v-for="doc in docs" class="mr-4" @click="downloadDoc(doc)">
          <img v-if="doc.type === 'pdf'" src="@/assets/tg_image_3888446984.jpeg" width="25" height="32" alt="">
          <img v-else src="@/assets/icon_dwg.svg" width="25" height="32" alt="">
          <a href="#" download="">Скачать план этажа в {{ doc.type }}</a>
        </div>

        <div class="hint__info">
          <div>
            <span class="color__info" style="background: #27DE8C;"></span> Свободные площади
          </div>
          <div>
            <span class="color__info" style="background: #197BFF;"></span> Занятые площади
          </div>
          <div>
            <span class="color__info" style="background: #002035;"></span> Резерв
          </div>
        </div>
      </div>

    </div>

    <modal name="renter" :pivotY="0.2" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="@/assets/close.svg" alt="">
        </div>

        <h3>Помещение № {{ correctRenter.place }}</h3>

        <div class="d-flex justify-content-between">
          <div class="form-group">
            <span class=" font-weight-bold">Площадь</span>
            <p>{{correctRenter.area}}</p>
          </div>
        </div>

        <div>
          <span class=" font-weight-bold">Статус</span>
          <p>{{ statusRenter(correctRenter.status) }}</p>
        </div>

        <div>
          <span class=" font-weight-bold">Арендатор</span>
          <p>{{correctRenter.renter}}</p>
        </div>

        <div>
          <span class="font-weight-bold">Договор</span>
          <p>{{ returnCorrectDate }}</p>
        </div>

        <span v-if="correctRenter.doc_number && correctRenter.doc_number.length" class="font-weight-bold">Прикрепленные документы</span>
        <div v-for="item in correctRenter.doc_number">
          <div><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></div>
        </div>

        <span class=" font-weight-bold">Стоимость</span>

        <div>
          <p>База - {{ basePrice(correctRenter) }} руб/месяц</p>
        </div>

        <div>
          <p>Эксплутационная - {{ correctRenter.price_ekp }} руб/месяц</p>
        </div>

        <div>
          <p>Переменная - {{ correctRenter.price_var }} руб/месяц</p>
        </div>

        <span class=" font-weight-bold">Вместимость</span>

        <div>
          <p>Количество мест по норме - {{ correctRenter.placeUser }} рабочих мест</p>
        </div>

        <div>
          <div class="d-flex justify-content-around align-items-center">
            <span>Введите норму (чел/м)</span>
            <input type="text" class="form-control w-25" v-model="correctRenter.user_places">
            <span>= {{ peopleCount }} рабочих мест</span>
          </div>
        </div>

        <button v-if="userRole === 'admin'" type="button" class="btn btn-primary d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" id="renterChange" :pivotY="0.2" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="@/assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <div class="form-group">
              <small class="">Номер помещения (БТИ)</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.name" disabled>
            </div>

            <div class="form-group">
              <small class="">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

            <div class="form-group">
              <small class="">Тип помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.placesType">
                  <option v-for="item in placesTypes" :value="item.id">{{ item.name }}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="">Площадь помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"
                     v-model="correctRenter.area">
            </div>

            <div class="form-group">
              <small class="">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Вместимость</h3>

        <div class="row">

          <div class="col-6">
            <div class="form-group">
              <small class="">Пользовательская кв.м. на человека</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Пользовательская"
                     v-model="correctRenter.user_places">
            </div>
          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="@/assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

            <div class="form-group">
            <small class="">Договор номер</small>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
            v-model="correctRenter.doc_number_name">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <small class="">Тип арендатора</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.renter_type">
                  <option v-for="item in rentersType" :value="item.id">{{ item.translate }}</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <small class="">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="@/assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

          <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
            <tbody>
            <tr v-for="item in correctRenter.doc_number">
              <td>{{ item.name }}</td>
              <td>
                <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
              </td>
            </tr>
            </tbody>
          </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная) <small>руб/месяц</small></h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <div class="form-group">
              <small class="">Эксплуатационная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"
                     v-model="correctRenter.price_ekp">
            </div>
          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Курс условной еденицы</small>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Использовать УЕ" v-model="correctRenter.YEuse">
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Значение УЕ" :disabled="!correctRenter.YEuse" v-model="correctRenter.YEvalue" placeholder="введите курс">
              </div>
            </div>

            <div class="form-group">
              <small class="">Переменная</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"
                     v-model="correctRenter.price_var">
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-primary d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>

  </div>
</template>

<script>
  import moment from 'moment'
  import Datepicker from 'vuejs-datepicker';
  import {ru} from 'vuejs-datepicker/dist/locale';
  import SvgPanZoom from 'vue-svg-pan-zoom';
  import floorList from './floorList';
  import rentersList from './rentersList';
  import modalFloor from './modalFloor';
  import floorPlan from './floorPlan';
  import changeRenter from './changeRenter';

  export default {
    name: "floor_outline_2",
    data() {
      return {
        renters: [],
        correctRenter: {},
        ru,
        rentersType: [],
        userRole: null,
        placesTypes: [],
        places: [],
        peopleCountInput: null,
        peopleCount: 0,
        rentersNames: [],
        totalSum: 0,
        placeArea: {
          free: 0,
          busy: 0,
          reserve: 0
        },
        docs: [],
        showShortInfo: false,
        shortInfoRenter: {}
      }
    },
    components: {
      Datepicker,
      floorList,
      rentersList,
      modalFloor,
      floorPlan,
      changeRenter
    },
    mounted() {
      this.$root.$on('showModal', id => {
        this.showWindow(id);
      });

      this.updateDocs();

      let count = 1;
      let floor = 1;

      this.$root.$on('showShortInfo', id => {
        const correctRenter = this.renters.find(x => {
          return x.name === id
        });

        if (correctRenter) {
          this.$set(this, 'showShortInfo', id);
          this.shortInfoRenter = Object.assign({}, this.shortInfoRenter, {
            name: correctRenter.renter,
            status: this.statusRenter(correctRenter.status),
            area: correctRenter.area,
            price_base: correctRenter.price_base,
            price_ekp: correctRenter.price_ekp,
            price_var: correctRenter.price_var
          })
        }
      });

      this.$root.$on('hideShortInfo', id => {
        this.$set(this, 'showShortInfo', null)
      });

      this.getAllRenters();
      this.rentersTypeMethod();
      this.getUserRole();
      this.getPlacesType();
      this.$http.get('http://nords.f-bc.ru:3000/places').then(res => {
        this.$set(this, 'places', res.body.data);
      })
    },
    watch: {
      'correctRenter.user_places' (newVal) {
        this.$set(this, 'peopleCount', (this.correctRenter.area / newVal).toFixed(0))
      },
      '$route'(to) {
        this.getAllRenters();
        this.rentersTypeMethod();
        this.getUserRole();
        this.getPlacesType();
        this.updateDocs();
      }
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    methods: {
      basePrice(renter) {
        return renter.YEuse
          ? renter.price_base * Number(renter.YEvalue)
          : renter.price_base;
      },
      updateDocs() {

        this.$http.get('http://nords.f-bc.ru:3000/docs').then(res => {
          this.docs = [];
          // debugger
          res.body.data.forEach(item => {
            if (this.$route.params.id == item.floor) {
              item.type = item.name.split('.')[1];
              this.docs.push(item)
            }
          })
        });
      },
      placesType() {
        const correctPlaces = this.places.find(x => {
          return x.id ===  Number(this.correctRenter.placesType)
        });

        if (correctPlaces) return correctPlaces.name
      },
      deleteDoc(id) {
        const index = this.correctRenter.doc_number.findIndex(x => {
          return x.id === id
        });

        this.correctRenter.doc_number.splice(index, 1);
      },
      b64DecodeUnicode(str) {
        return decodeURIComponent(Array.prototype.map.call(atob(str), function (c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
        }).join(''));
      },
      downloadDoc(id) {
        window.location.replace("http://nords.f-bc.ru:3000/" + id);
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://nords.f-bc.ru:3000/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      getNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.place
      },
      getAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.area
      },
      getNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) return correctRenter.renter
      },
      showNameOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlane
        }
      },
      showAreaOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneArea
        }
      },
      showNumberOfPlace(id) {
        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          return correctRenter.showOnPlaneCompanyName
        }
      },
      getPlacesType() {
        this.$http.get('http://nords.f-bc.ru:3000/places').then(res => {
          this.$set(this, 'placesTypes', res.body.data);
        })
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      rentersTypeMethod() {
        this.$http.get('http://nords.f-bc.ru:3000/renters-type').then(res => {
          this.$set(this, 'rentersType', res.body.data);
        })
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      returnActivePlaceClass(id) {
        let defaultClass = 'free';

        const correctRenter = this.renters.find(x => {
          return x.image_id === id
        });

        if (correctRenter) {
          if (correctRenter.status === 'busy') {
            defaultClass = 'busy'
          } else if (correctRenter.status === 'reserve') {
            defaultClass = 'reserve'
          }
        }

        return defaultClass;
      },
      getAllRenters() {
        this.$set(this.placeArea, 'busy', 0);
        this.$set(this.placeArea, 'free', 0);
        this.$set(this.placeArea, 'reserve', 0);
        this.$set(this, 'totalSum', 0);

        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + this.$route.params.id).then(res => {
          if (res.body.length) {
            this.$set(this, 'rentersNames', []);

            res.body.forEach(item => {
              if (item.name === 'parking') return;

              item.doc_number = JSON.parse(item.doc_number);
              this.rentersNames.push(item.renter);

              switch (item.status) {
                case 'busy':

                  this.$http.get('http://nords.f-bc.ru:3000/market?place_id=' + item.name + '&date=' + moment().format('MM.YYYY')).then(res => {
                    const renter = res.data[0];

                    if (renter.YEvalue && renter.YEvalue.length) {
                      this.totalSum = this.totalSum + (Number(item.price_base) * Number(renter.YEvalue)) + item.price_ekp + item.price_var
                    } else {
                      this.totalSum = this.totalSum + item.price_base + item.price_ekp + item.price_var
                    }
                  });

                  this.$set(this.placeArea, 'busy', (Number(this.placeArea.busy) + Number(item.area)).toFixed(2));
                  break;
                case 'free':
                  this.$set(this.placeArea, 'free', this.placeArea.free + Number(item.area));
                  break;
                case 'reserve':
                  this.$set(this.placeArea, 'reserve', this.placeArea.reserve + Number(item.area));
              }
            });

            this.$set(this, 'renters', res.body);
          }
        });

        this.$http.get('http://nords.f-bc.ru:3000/market?floor=' + this.$route.params.floorId + '&$limit=1000').then(res => {
          this.$root.$emit('getFloorStatistic', res.body);
        })
      },
      mathArea(renters) {

      },
      showWindow(id) {
        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + this.$route.params.id).then(res => {
          this.$set(this, 'renters', res.body);

          const correctRenter = this.renters.find(x => {
            return x.name === id
          });

          if (correctRenter) {
            this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
            this.correctRenter.doc_number = JSON.parse(this.correctRenter.doc_number);
          } else {
            this.$set(this, 'correctRenter', {});
            this.$set(this.correctRenter, 'image_id', id);
          }

          this.$http.get('http://nords.f-bc.ru:3000/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
            if (res.body[0]) {
              const data = res.body[0];

              this.correctRenter.placeUser = this.correctRenter.area / 4;

              this.correctRenter = Object.assign({}, this.correctRenter, {
                infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
                additional_pay: data.additional_pay,
                percentPay: data.percentPay,
                market: data.market,
                YEuse: data.YEuse,
                YEvalue: data.YEvalue
              });
            }

            this.$modal.show('renter');
          })
        });
      },
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.$root.$emit('updateRenters');
          this.getAllRenters();
          this.$refs.rentersList.updateRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://nords.f-bc.ru:3000/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.id,
          image_id: this.correctRenter.image_id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          doc_number_name: this.correctRenter.doc_number_name,
          user_places: this.correctRenter.user_places
        })
      },
      async updaterenter() {
        await this.$http.patch('http://nords.f-bc.ru:3000/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base || null,
          price_var: this.correctRenter.price_var || null,
          price_ekp: this.correctRenter.price_ekp || null,
          area: Number(this.correctRenter.area) || null,
          floor: this.$route.params.id,
          name: this.correctRenter.name,
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          doc_number_name: this.correctRenter.doc_number_name,
          user_places: this.correctRenter.user_places,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      }
    }
  }
</script>