<template>
  <div>
    <div class="relative_wrapper m-auto">
      <component :is="componentName" :renters-list="rentersList"></component>
    </div>
  </div>
</template>

<script>
  import first from './floors/first.vue';
  import nine from './floors/nine.vue';
  import third from './floors/third.vue';
  import second from './floors/second.vue';
  import four from './floors/four.vue';
  import five from './floors/five.vue';
  import six from './floors/six.vue';
  import seven from './floors/seven.vue';
  import eight from './floors/eight.vue';
  import ten from './floors/ten.vue';
  import eleven from './floors/eleven.vue';
  import twelve from './floors/twelve.vue';
  import thirteen from './floors/thirteen.vue';
  import fourteen from './floors/fourteen.vue';
  import tventyfive from './floors/tventyfive.vue';
  import lastFloor from './floors/lastFloor.vue';
  import tech from './floors/tech.vue';
  import techTwo from './floors/tech-two.vue';
  import twenty from './floors/twenty.vue';

  export default {
    name: "floorPlan",
    components: {
      first,
      nine,
      second,
      third,
      four,
      five,
      six,
      seven,
      eight,
      ten,
      eleven,
      twelve,
      thirteen,
      fourteen,
      tventyfive,
      lastFloor,
      tech,
      techTwo,
      twenty
    },
    data() {
      return {
        componentName: null
      }
    },
    props: ['floorId', 'rentersList'],
    methods: {
      setFloorId(floorId = this.$route.params.id) {
        floorId = Number(floorId);

        switch (floorId) {
          case 1:
            this.$set(this, 'componentName', 'first');
            break;
          case 2:
            this.$set(this, 'componentName', 'second');
            break;
          case 3:
            this.$set(this, 'componentName', 'third');
            break;
          case 4:
            this.$set(this, 'componentName', 'four');
            break;
          case 5:
            this.$set(this, 'componentName', 'four');
            break;
          case 6:
            this.$set(this, 'componentName', 'four');
            break;
          case 7:
            this.$set(this, 'componentName', 'four');
            break;
          case 8:
            this.$set(this, 'componentName', 'eight');
            break;
          case 9:
            this.$set(this, 'componentName', 'nine');
            break;
        }

        if (floorId >= 9 && floorId <= 19) {
          this.$set(this, 'componentName', 'nine');
        } else if (floorId === 20) {
          this.$set(this, 'componentName', 'twenty');
        } else if (floorId > 20 && floorId <= 23) {
          this.$set(this, 'componentName', 'nine');
        } else if (floorId >= 23 && floorId <= 32) {
          this.$set(this, 'componentName', 'nine');
          // this.$set(this, 'componentName', 'tventyfive');
        } else if (floorId === 33) {
          this.$set(this, 'componentName', 'tech');
        } else if (floorId > 33 && floorId !== 42 ) {
          this.$set(this, 'componentName', 'lastFloor');
        } else if (floorId === 42) {
          this.$set(this, 'componentName', 'techTwo');
        }

        // else if (floorId >= 32 && floorId < 41) {
        //   this.$set(this, 'componentName', 'fourteen');
        // }

      },
      test() {
        debugger
      }
    },
    mounted() {
      this.setFloorId();
    },
    watch: {
      floorId(newVal) {
        this.setFloorId(newVal)
      }
    }
  }
</script>

<style scoped>

</style>