<template>
  <div>
    <div class="flex_wrapper" id="home">
      <div class="chart_wrapper">
        <div class="main_title">Общая статистика по бизнес-центру</div>

        <div class="title_chart">Заполненость этажа</div>

        <div class="floor_stat">
          <div class="busy_wrapper">
            <div class="busy width_line">
              <div class="current_width" :style="{ 'width': generalStatistics.busy + '%' }"></div>
            </div>
            <div class="text_chart">Занято площадей</div>
            <div class="chart_lvl" data-default="98">{{ generalStatistics.busy }}%</div>
          </div>

          <div class="free_wrapper">
            <div class="free width_line">
              <div class="current_width" :style="{ 'width': generalStatistics.free + '%' }"></div>
            </div>
            <div class="text_chart">Свободно площадей</div>
            <div class="chart_lvl" data-default="0">{{ generalStatistics.free }}%</div>
          </div>

          <div class="reserve_wrapper">
            <div class="reserve width_line">
              <div class="current_width" :style="{ 'width': generalStatistics.reserved + '%' }"></div>
            </div>
            <div class="text_chart">В резерве</div>
            <div class="chart_lvl" data-default="2">{{ generalStatistics.reserved }}%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="floor_info mt-5">
      <span class="title_chart">Арендаторы</span>
      <ol>
        <li v-for="item in renters">{{ item }}</li>
      </ol>
    </div>

    <div class="summary_parking">
      <div>
        <span>Доход этажа за месяц</span>
      </div>
      <div class="summ">{{ sumFloor }} руб.</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "floorStatistic",
    props: {
      floorId: {
        default: null
      }
    },
    data() {
      return {
        generalStatistics: {},
        renters: [],
        sumFloor: 0
      }
    },
    watch: {
      floorId(newVal, oldVal) {
        let total = 0;
        this.renters = [];
        this.$set(this, 'sumFloor', 0);

        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + newVal).then(res => {
          if (!res.body.length) {
            this.setStatistic(0, 0, 0);
          } else {
            let busy = 0;
            let free = 0;
            let reserved = 0;

            res.body.forEach(item => {
              if (item.name === 'parking') return;

              ++total;
              switch (item.status) {
                case 'busy':
                  ++busy;
                  this.$set(this, 'sumFloor', this.sumFloor = this.sumFloor + item.price_base);
                  this.renters.push(item.renter);
                  break;
                case 'free':
                  ++free;
                  break;
                case 'reserve':
                  ++reserved;
              }
            });
            this.setStatistic(busy, free, reserved, total);
          }
        })
      }
    },
    methods: {
      setStatistic(busy, free, reserved, total) {
        this.generalStatistics = Object.assign({}, this.generalStatistics, {
          busy: Math.round(busy / total * 10000) / 100,
          free: Math.round(free / total * 10000) / 100,
          reserved: Math.round(reserved / total * 10000) / 100
        });
      }
    }
  }
</script>

<style scoped>

</style>