<template>
  <div class="floor_numbers">
    <div class="floor_numbers floor_numbers_inner">
      <div class="floor_numbers_wrapper">
        <div @click="showFloor(42)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(42)" data-floor="41" :class="42 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">42 <span :class="activeHoverFloor === 42 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(41)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(41)" data-floor="41" :class="41 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">41 <span :class="activeHoverFloor === 41 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(40)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(40)" data-floor="40" :class="40 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">40 <span :class="activeHoverFloor === 40 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(39)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(39)" data-floor="39" :class="39 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">39 <span :class="activeHoverFloor === 39 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(38)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(38)" data-floor="38" :class="38 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="0" data-free="0" data-reserve="100">38 <span :class="activeHoverFloor === 38 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(37)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(37)" data-floor="37" :class="37 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">37 <span :class="activeHoverFloor === 37 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(36)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(36)" data-floor="36" :class="36 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">36 <span :class="activeHoverFloor === 36 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(35)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(35)" data-floor="35" :class="35 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">35 <span :class="activeHoverFloor === 35 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(34)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(34)" data-floor="34" :class="34 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">34 <span :class="activeHoverFloor === 34 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(33)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(33)" data-floor="33" :class="33 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">33 <span :class="activeHoverFloor === 33 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(32)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(32)" data-floor="32" :class="32 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">32 <span :class="activeHoverFloor === 32 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(31)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(31)" data-floor="31" :class="31 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">31 <span :class="activeHoverFloor === 31 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(30)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(30)" data-floor="30" :class="30 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">30 <span :class="activeHoverFloor === 30 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(29)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(29)" data-floor="29" :class="29 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">29 <span :class="activeHoverFloor === 29 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(28)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(28)" data-floor="28" :class="28 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">28 <span :class="activeHoverFloor === 28 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(27)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(27)" data-floor="27" :class="27 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">27 <span :class="activeHoverFloor === 27 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(26)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(26)" data-floor="26" :class="26 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">26 <span :class="activeHoverFloor === 26 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(25)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(25)" data-floor="25" :class="25 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">25 <span :class="activeHoverFloor === 25 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(24)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(24)" data-floor="24" :class="24 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">24 <span :class="activeHoverFloor === 24 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(23)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(23)" data-floor="23" :class="23 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">23 <span :class="activeHoverFloor === 23 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(22)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(22)" data-floor="22" :class="22 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">22 <span :class="activeHoverFloor === 22 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(21)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(21)" data-floor="21" :class="21 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">21 <span :class="activeHoverFloor === 21 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(20)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(20)" data-floor="20" :class="20 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">20 <span :class="activeHoverFloor === 20 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(19)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(19)" data-floor="19" :class="19 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">19 <span :class="activeHoverFloor === 19 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(18)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(18)" data-floor="18" :class="18 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">18 <span :class="activeHoverFloor === 18 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(17)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(17)" data-floor="17" :class="17 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">17 <span :class="activeHoverFloor === 17 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(16)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(16)" data-floor="16" :class="16 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">16 <span :class="activeHoverFloor === 16 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(15)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(15)" data-floor="15" :class="15 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">15 <span :class="activeHoverFloor === 15 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(14)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(14)" data-floor="14" :class="14 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">14 <span :class="activeHoverFloor === 14 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(13)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(13)" data-floor="13" :class="13 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">13 <span :class="activeHoverFloor === 13 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(12)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(12)" data-floor="12" :class="12 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">12 <span :class="activeHoverFloor === 12 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(11)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(11)" data-floor="11" :class="11 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">11 <span :class="activeHoverFloor === 11 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(10)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(10)" data-floor="10" :class="10 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">10 <span :class="activeHoverFloor === 10 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(9)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(9)" data-floor="9" :class="9 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">9 <span :class="activeHoverFloor === 9 ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(8)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(8)" data-floor="8" :class="8 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">8 <span :class="activeHoverFloor === 8  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(7)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(7)" data-floor="7" :class="7 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">7 <span :class="activeHoverFloor === 7  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(6)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(6)" data-floor="6" :class="6 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">6 <span :class="activeHoverFloor === 6  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(5)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(5)" data-floor="5" :class="5 === activeHoverFloor ? 'active_floor' : ''"
             class="bold_nimber chart_view" data-busy="100" data-free="0" data-reserve="0">5 <span :class="activeHoverFloor === 5  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(4)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(4)" data-floor="4" :class="4 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">4 <span :class="activeHoverFloor === 4  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(3)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(3)" data-floor="3" :class="3 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">3 <span :class="activeHoverFloor === 3  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(2)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(2)" data-floor="2" :class="2 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">2 <span :class="activeHoverFloor === 2  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
        <div @click="showFloor(1)" @mouseleave="resetFloor()" @mouseover="showFloorStatisticFunc(1)" data-floor="1" :class="1 === activeHoverFloor ? 'active_floor' : ''"
             class="chart_view" data-busy="100" data-free="0" data-reserve="0">1 <span :class="activeHoverFloor === 1  ? 'd-inline-block' : 'd-none'">Этаж</span>
        </div>
      </div>			</div>
  </div>
</template>

<script>
  export default {
    name: "floorList",
    data: () =>({
      activeHoverFloor: null
    }),
    methods: {
      resetFloor() {
        this.$set(this, 'activeHoverFloor', null);
        this.$set(this, 'showFloorStatisticId', null)
        this.$set(this, 'showFloorStatistic', false)
      },
      showFloorStatisticFunc(id) {
        this.$set(this, 'showFloorStatisticId', id);
        this.$set(this, 'showFloorStatistic', true);
        this.$set(this, 'activeHoverFloor', id);
      },
      showFloor(id) {
        this.$router.push({
          name: 'floor',
          params: {
            id
          }
        })
      },
    }
  }
</script>

<style scoped>

</style>