<template>
  <div class="loginForm">
    <div v-if="loading">
      load
    </div>
    <div class="d-flex main-background">
      <div class="loginForm__second-row">
        <div class="d-flex align-items-center h-100 flex-wrap">
          <div class="logo mb-auto w-100">
            <img src="@/assets/logo-white.svg" alt="">
            <span>NORD STAR</span>
          </div>
          <div class="loginForm__second-row__logo-desc position-absolute h-100 w-100 d-flex align-items-center flex-wrap">
            <div>
              <span class="stars">Бизнес центр <strong>"Nordstart"</strong></span>
            </div>
          </div>
        </div>
      </div>
      <div class="loginForm__first-row d-flex align-items-center w-50">
        <img src="@/assets/logo.svg" alt="">
      </div>
    </div>
    <div class="login-form">
      <div class="login-form__body">
        <form class="" v-on:submit.prevent="onSubmit">

          <div class="text-center login-page__title">
            <span>Вход</span>
          </div>

          <div class="form-group position-relative login-input_login">
            <img src="@/assets/login.svg" alt="" class="position-absolute">
            <input type="text" class="login-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваш логин" v-model="login">
          </div>
          <div class="form-group position-relative login-input_pass">
            <img src="@/assets/password.svg" alt="" class="position-absolute">
            <input type="password" class="login-input" id="exampleInputPassword1" placeholder="Введите ваш пароль" v-model="pass">
          </div>
          <button type="submit" class="main-button"><span>Войти</span></button>
        </form>

        <div class="text-center">
          <button class="reset-password"><span>Забыли пароль?</span></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "main-page",
    data () {
      return {
        loginError: false,
        login: null,
        pass: null
      }
    },
    methods: {
      onSubmit () {
        this.$http.post('http://nords.f-bc.ru:3000/authentication', {
          "strategy": "local",
          "email": this.login,
          "password": this.pass
        }).then(res => {

          const token = res.body.accessToken;
          localStorage.setItem('token', token);
          localStorage.setItem('fish-user', JSON.stringify(res.body.user));

          this.$store.commit('changeUserInfo', res.body);

          this.$router.push({ name: 'admin-state' });
        }).catch(err => {
          this.$set(this, 'loginError', true);

          setTimeout(() => {
            this.$set(this, 'loginError', false);
          }, 4000);
        })
      }
    }
  }
</script>

<style scoped>

</style>