<template>
  <modal name="renter" class="modal-renter" :height="'auto'" :scrollable="true">
    <div class="p-4">

      <div class="modal-close-button" @click="$modal.hide('renter')">
        <img src="../assets/close.svg" alt="">
      </div>

      <h3>Помещение № {{ correctRenter.place }}</h3>

      <table class="table table-hover">
        <tbody>
        <tr>
          <td>Номер помещения(БТИ):</td>
          <td>{{correctRenter.name}}</td>
        </tr>
        <tr>
          <td>Номер помещения:</td>
          <td>{{correctRenter.place}}</td>
        </tr>
        <tr>
          <td>Площадь помещения:</td>
          <td>{{correctRenter.area}}</td>
        </tr>
        <tr>
          <td>Статус</td>
          <td>{{ statusRenter(correctRenter.status) }}</td>
        </tr>
        <tr>
          <td><span class="font-weight-bold">Арендатор</span></td>
          <td></td>
        </tr>
        <tr>
          <td>Наименование</td>
          <td>{{correctRenter.renter}}</td>
        </tr>

        <tr>
          <td>Период</td>
          <td>{{ returnCorrectDate }}</td>
        </tr>

        <tr v-for="item in correctRenter.doc_number">
          <td><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></td>
          <td></td>
        </tr>

        <tr>
          <td class="font-weight-bold">Стоимость аренды (основная)</td>
          <td></td>
        </tr>

        <tr>
          <td>Базовая аренда</td>
          <td>{{ correctRenter.price_base }}</td>
        </tr>

        <tr>
          <td>Переменная</td>
          <td>{{ correctRenter.price_var }}</td>
        </tr>

        <tr>
          <td>Эксплатыционная</td>
          <td>{{ correctRenter.price_ekp }}</td>
        </tr>

        </tbody>
      </table>


      <button v-if="userRole === 'admin'" type="button" class="btn btn-primary d-block mt-5" @click="renterChange()">
        Изменить помещение
      </button>
    </div>
  </modal>
</template>

<script>
  export default {
    name: "modalFloor",
    props: ['renterId'],
    data() {
      return {
        correctRenter: {},
        userRole: null,
      }
    },
    mounted() {
      this.getUserRole();
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id && this.correctRenter.date_from && this.correctRenter.date_to) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    watch: {
      renterId(newVal) {
        if (!newVal)
          return;
        this.$http.get('http://nords.f-bc.ru:3000/renters?id=' + newVal).then(res => {
          if (res.body.length) {
            this.$set(this, 'correctRenter', res.body[0]);
          } else {

          }
        }).catch(err => {
          alert('Что то не так, обратитесь к администратору')
        })
      }
    },
    methods: {
      renterChange() {
        this.$root.$emit('changeRenter', this.correctRenter);
      },
      getUserRole() {
        this.$set(this, 'userRole', JSON.parse(localStorage.getItem('fish-user')).role);
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      typeRenter(type) {
        if (type) {
          const renter = this.rentersType.find(x => {
            return Number(type) === x.id;
          });
          return renter.translate;
        }
      },
    }
  }
</script>

<style scoped>

</style>