<template>
  <div>
    <ul class="floor_arendator_list">
      <li v-for="item in rentersNames">{{item}}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "parkingList",
    props: ['rentersNames'],
    data() {
      return {
        list: []
      }
    }
  }
</script>
