<template>
  <div class="wrapper">

    <topLine />

    <div class="row">
      <div class="col-6">
        <div v-if="!showFloorStatistic" class="chart_wrapper">
          <div class="main_title">Общая статистика по бизнес-центру</div>

          <div class="title_chart">Заполненость объекта</div>

          <div class="floor_stat">
            <div class="busy_wrapper">
              <div class="busy width_line">
                <div class="current_width" :style="{ 'width': generalStatisticsPercents.busy + '%' }"></div>
              </div>
              <div class="text_chart">Занято площадей</div>
              <div class="chart_lvl" data-default="98">{{ generalStatisticsPercents.busy }}%</div>
            </div>

            <div class="free_wrapper">
              <div class="free width_line">
                <div class="current_width" :style="{ 'width': generalStatisticsPercents.free + '%' }"></div>
              </div>
              <div class="text_chart">Свободно площадей</div>
              <div class="chart_lvl" data-default="0">{{ generalStatisticsPercents.free }}%</div>
            </div>

            <div class="reserve_wrapper">
              <div class="reserve width_line">
                <div class="current_width" :style="{ 'width': generalStatisticsPercents.reserved + '%' }"></div>
              </div>
              <div class="text_chart">В резерве</div>
              <div class="chart_lvl" data-default="2">{{ generalStatisticsPercents.reserved }}%</div>
            </div>
          </div>

          <!--<div class="general_stat" style="display: block;">-->
            <!--<div class="title_chart">Арендаторы</div>-->

            <!--<div class="busy_wrapper">-->
              <!--<div class="busy width_line">-->
                <!--<div class="current_width" v-bind:style="{ 'width': renterTypePercent.first + '%'}"></div>-->
              <!--</div>-->
              <!--<div class="text_chart">Якорные (РН)</div>-->
              <!--<div class="chart_lvl">{{renterTypePercent.first}}%</div>-->
            <!--</div>-->

            <!--<div class="free_wrapper">-->
              <!--<div class="free width_line">-->
                <!--<div class="current_width" :style="{ 'width': renterTypePercent.second + '%'}"></div>-->
              <!--</div>-->
              <!--<div class="text_chart">Стратегические</div>-->
              <!--<div class="chart_lvl">{{renterTypePercent.second}}%</div>-->
            <!--</div>-->

            <!--<div class="reserve_wrapper">-->
              <!--<div class="reserve width_line">-->
                <!--<div class="current_width" :style="{ 'width': renterTypePercent.third + '%'}"></div>-->
              <!--</div>-->
              <!--<div class="text_chart">Внешние</div>-->
              <!--<div class="chart_lvl">{{renterTypePercent.third}}%</div>-->
            <!--</div>-->

          <!--</div>-->

          <div class="summary_parking">
            <div>Суммарный доход от парковки<br>за месяц</div>
            <div class="summ">{{ sum }} руб</div>
          </div>
        </div>
        <div v-else>

        </div>
      </div>
      <div class="col-5">
        <img src="@/assets/parking.png" alt="">
      </div>
      <div class="col-1">
        <parkingList />
      </div>
    </div>

  </div>
</template>

<script>
  import parkingList from '@/components/parking-list';

  export default {
    name: "parking",
    components: {
      parkingList
    },
    data() {
      return {
        showFloorStatistic: false,
        renterTypePercent: {},
        generalStatisticsPercents: {},
        sum: 0
      }
    },
    mounted() {
      this.$http.get('http://nords.f-bc.ru:3000/renters').then(res => {
        let total = 0;
        const renters = res.body;
        let totalRentersType_1 = 0;
        let totalRentersType_2 = 0;
        let totalRentersType_3 = 0;

        let totalStatusBusy = 0;
        let totalStatusReserve = 0;
        let totalStatusFree = 0;

        renters.forEach(item => {
          if (item.name !== 'parking') return;
          ++total;

          switch (item.status) {
            case 'busy':
              this.$set(this, 'sum', this.sum += item.price_base);
              totalStatusBusy += 1;
              break;
            case 'reserve':
              totalStatusReserve += 1;
              break;
            default:
              totalStatusFree += 1;
          }

          if (item.renter_type == 1) {
            ++totalRentersType_1;
          } else if (item.renter_type == 2) {
            ++totalRentersType_2;
          } else {
            ++totalRentersType_3;
          }

          // const correctPlaces = this.places.find(x => {
          //   return x.id === Number(item.placesType)
          // });
          //
          // if (correctPlaces) ++correctPlaces.percent;
          // this.places[Number(item.placesType)] && ++this.places[Number(item.placesType)].percent;
        });

        // totalRentersType_1 = totalRentersType_1 === 0 ? totalRentersType_1 : (totalRentersType_1 / total * 100).toFixed(2)
        // totalRentersType_2 = totalRentersType_2 === 0 ? totalRentersType_2 : (totalRentersType_2 / total * 100).toFixed(2)
        // totalRentersType_3 = totalRentersType_3 === 0 ? totalRentersType_3 : (totalRentersType_3 / total * 100).toFixed(2)
        //
        // this.$set(this.renterTypePercent, 'first', totalRentersType_1);
        // this.$set(this.renterTypePercent, 'second', totalRentersType_2);
        // this.$set(this.renterTypePercent, 'third', totalRentersType_3);

        // this.places.forEach(item => {
        //   if (total > 0) item.percent = (item.percent / total * 100).toFixed(2);
        // });

        // this.$set(this.generalStatistics, 'busy', totalStatusBusy);
        // this.$set(this.generalStatistics, 'free', totalStatusFree);
        // this.$set(this.generalStatistics, 'reserved', totalStatusReserve);

        this.$set(this.generalStatisticsPercents, 'busy', Math.round(totalStatusBusy / total * 10000) / 100);
        this.$set(this.generalStatisticsPercents, 'free', Math.round(totalStatusFree / total * 10000) / 100);
        this.$set(this.generalStatisticsPercents, 'reserved', Math.round(totalStatusReserve / total * 10000) / 100);
      })
    }
  }
</script>

<style scoped>

</style>