<template>
  <div class="floor_numbers">
    <div class="floor_numbers floor_numbers_inner">
      <div class="floor_numbers_wrapper">
        <div @click="showParking(8)" data-floor="8" class="chart_view" href="#etaj8" data-busy="100" data-free="0" data-reserve="0">8</div>
        <div @click="showParking(7)" data-floor="7" class="chart_view" href="#etaj7" data-busy="100" data-free="0" data-reserve="0">7</div>
        <div @click="showParking(6)" data-floor="6" class="chart_view" href="#etaj6" data-busy="100" data-free="0" data-reserve="0">6</div>
        <div @click="showParking(5)" data-floor="5" class="bold_nimber chart_view" href="#etaj5" data-busy="100" data-free="0" data-reserve="0">5</div>
        <div @click="showParking(4)" data-floor="4" class="chart_view" href="#etaj4" data-busy="100" data-free="0" data-reserve="0">4</div>
        <div @click="showParking(3)" data-floor="3" class="chart_view" href="#etaj3" data-busy="100" data-free="0" data-reserve="0">3</div>
        <div @click="showParking(2)" data-floor="2" class="chart_view" href="#etaj2" data-busy="100" data-free="0" data-reserve="0">2</div>
        <div @click="showParking(1)" data-floor="1" class="chart_view" href="#etaj1" data-busy="100" data-free="0" data-reserve="0">1</div>
        <div @click="showParking(-1)" data-floor="10" class="bold_nimber chart_view" href="#etaj10" data-busy="100" data-free="0" data-reserve="0">-1</div>
        <div @click="showParking(-2)" data-floor="9" class="chart_view" href="#etaj9" data-busy="100" data-free="0" data-reserve="0">-2</div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "parking-list",
    methods: {
      showParking(id) {
        this.$router.push({
          name: 'parking-floor',
          params: {
            id
          }
        })
      }
    },
  }
</script>

<style scoped>

</style>