<template>
  <div class="wrapper">
    <topLine />

    <div class="row">
      <div class="col-3">
        <parkingFloorState :renters-names="rentersNames" :place-area="placeArea" :sum="sum" :all="all"/>
      </div>
      <div class="col-7 text-center">
        <div class="title mt-0 mb-3">Этаж №{{ $route.params.id }}</div>
        <component ref="rentersList" :renters-list="rentersList" :is="componentName"></component>
      </div>
      <div class="col-2">
        <parking-list :route-id="$route.params.id"/>
      </div>

      <div class="download_line">
        <div v-for="doc in docs" class="mr-4" @click="downloadDoc(doc)">
          <img src="@/assets/icon_dwg.svg" width="25" height="32" alt="">
          <a href="#" download="">Скачать план этажа в {{ doc.type }}</a>
        </div>

        <div class="hint__info">
          <div>
            <span class="color__info" style="background: #27DE8C;"></span> Свободные площади
          </div>
          <div>
            <span class="color__info" style="background: #197BFF;"></span> Занятые площади
          </div>
          <div>
            <span class="color__info" style="background: #002035;"></span> Резерв
          </div>
        </div>
      </div>

    </div>

    <modal name="renter" :pivotY="0.2" class="modal-renter" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renter')">
          <img src="@/assets/close.svg" alt="">
        </div>

        <h3>М/Место № {{ correctRenter.place }}</h3>

        <div class="d-flex justify-content-between">
          <!--<div class="form-group">-->
            <!--<small class="text-secondary">Площадь</small>-->
            <!--<p class="font-weight-bold">{{correctRenter.area}}</p>-->
          <!--</div>-->

          <div>
            <small class="text-secondary">Статус</small>
            <p class="font-weight-bold">{{ statusRenter(correctRenter.status) }}</p>
          </div>
        </div>

        <div v-for="item in correctRenter.doc_number">
          <div><a href="#" @click="downloadDoc(item.id)">{{item.name}}</a></div>
        </div>

        <div>
          <small class="text-secondary">Арендатор</small>
          <p class="font-weight-bold">{{correctRenter.renter}}</p>
        </div>

        <div>
          <small class="text-secondary">Договор</small>
          <p class="font-weight-bold">{{ returnCorrectDate }}</p>
        </div>

        <small class="text-secondary">Стоимость</small>

        <div>
          <p class="font-weight-bold">База - {{ correctRenter.price_base }} руб/месяц</p>
        </div>

        <!--<div>-->
          <!--<p class="font-weight-bold">Эксплутационная - {{ correctRenter.price_ekp }} руб/месяц</p>-->
        <!--</div>-->

        <!--<div>-->
          <!--<p class="font-weight-bold">Переменная - {{ correctRenter.price_var }} руб/месяц</p>-->
        <!--</div>-->

        <!--<small class="text-secondary">Вместимость</small>-->

        <!--<div>-->
          <!--<p class="font-weight-bold">Количество мест по норме - {{ correctRenter.placeUser }} рабочих мест</p>-->
        <!--</div>-->

        <button type="button" class="btn btn-primary d-block mt-5" @click="renterChange()">
          Изменить помещение
        </button>
      </div>
    </modal>

    <modal name="renterChange" :pivotY="0.2" id="renterChange" :height="'auto'" :scrollable="true">
      <div class="p-4">

        <div class="modal-close-button" @click="$modal.hide('renterChange')">
          <img src="@/assets/close.svg" alt="">
        </div>

        <h3>Помещение {{ correctRenter.place }}</h3>

        <div class="row mt-4">
          <div class="col-6">

            <!--<div class="form-group">-->
              <!--<small class="text-secondary">Номер помещения (БТИ)</small>-->
              <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"-->
                     <!--v-model="correctRenter.name">-->
            <!--</div>-->

            <div class="form-group">
              <small class="text-secondary">Номер помещения</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Номер помещения"
                     v-model="correctRenter.place">
            </div>

          </div>
          <div class="col-6">
            <!--<div class="form-group">-->
              <!--<small class="text-secondary">Площадь помещения</small>-->
              <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Площадь помещения"-->
                     <!--v-model="correctRenter.area">-->
            <!--</div>-->

            <div class="form-group">
              <small class="text-secondary">Статус помещения</small>
              <div class="input-group mb-3">
                <select class="custom-select" v-model="correctRenter.status">
                  <option value="free">Свободно</option>
                  <option value="busy">Занято</option>
                  <option value="reserve">В резерве</option>
                </select>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Арендатор</h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Наименование компании</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Введите текст"
                     v-model="correctRenter.renter">
            </div>

            <div class="form-group">
              <small class="text-secondary">Договор с</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_from"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="@/assets/delete.svg" alt="" @click="correctRenter.date_from = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
          <div class="col-6">

            <div class="form-group">
              <small class="text-secondary">Договор по</small>
              <div class="row align-items-center">
                <div class="col-auto">
                  <datepicker :input-class="'form-control'" :language="ru" v-model="correctRenter.date_to"></datepicker>
                </div>
                <div class="col-auto">
                  <img src="@/assets/delete.svg" alt="" @click="correctRenter.date_to = null" class="delete-date">
                </div>
              </div>
            </div>

          </div>
        </div>

        <h3 class="mt-3">Список прикрепленных файлов</h3>

        <table class="table" v-if="correctRenter.doc_number && correctRenter.doc_number.length">
          <tbody>
          <tr v-for="item in correctRenter.doc_number">
            <td>{{ item.name }}</td>
            <td>
              <button class="btn btn-danger" @click="deleteDoc(item.id)">Удалить</button>
            </td>
          </tr>
          </tbody>
        </table>

        <div v-else class="text-center">
          <span>Нет файлов</span>
        </div>

        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" @change="onFileChange">
          <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
        </div>

        <h3 class="mt-3">Стоимость (основная) <small>руб/месяц</small></h3>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <small class="text-secondary">Базовая</small>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Базовая"
                     v-model="correctRenter.price_base">
            </div>

            <!--<div class="form-group">-->
              <!--<small class="text-secondary">Эксплуатационная</small>-->
              <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Эксплуатационная"-->
                     <!--v-model="correctRenter.price_ekp">-->
            <!--</div>-->
          </div>
          <div class="col-6">

            <!--<div class="form-group">-->
              <!--<small class="text-secondary">Переменная</small>-->
              <!--<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Переменная"-->
                     <!--v-model="correctRenter.price_var">-->
            <!--</div>-->
          </div>
        </div>

        <button type="button" class="btn btn-primary d-block mt-5" @click="saveRenter()">Сохранить изменения</button>
      </div>
    </modal>

  </div>
</template>

<script>
  import parkingFloorState from '@/components/parkingFloorState';
  import first from '@/components/parking/first';
  import second from '@/components/parking/second';
  import third from '@/components/parking/third';
  import four from '@/components/parking/four';
  import five from '@/components/parking/five';
  import six from '@/components/parking/six';
  import seven from '@/components/parking/seven';
  import eight from '@/components/parking/eight';
  import minusOne from '@/components/parking/minus-one';
  import minusTwo from '@/components/parking/minus-two';
  import parkingList from '@/components/parking-list';
  import Datepicker from 'vuejs-datepicker';
  import moment from 'moment';
  import {ru} from 'vuejs-datepicker/dist/locale';

  export default {
    name: "parking-floor",
    components: {
      parkingFloorState,
      Datepicker,
      first,
      second,
      third,
      four,
      five,
      six,
      seven,
      eight,
      minusOne,
      parkingList,
      minusTwo
    },
    mounted() {
      this.getAllRenters();
      this.setFloorPlan(Number(this.$route.params.id));

      this.$http.get('http://nords.f-bc.ru:3000/docs').then(res => {
        res.body.data.forEach(item => {
          if (this.$route.params.id === item.floor) {
            item.type = item.name.split('.')[1];
            this.docs.push(item)
          }
        })
      });

      this.$root.$on('showModal', id => {
        this.showWindow(id);
      });

      this.$root.$on('allParkingPlaces', (count) => {
        this.$set(this.placeArea, 'all', count);
      });
    },
    computed: {
      returnCorrectDate() {
        if (this.correctRenter.id && this.correctRenter.date_from && this.correctRenter.date_to) {
          return moment(this.correctRenter.date_from).format('DD.MM.YYYY') + ' - ' + moment(this.correctRenter.date_to).format('DD.MM.YYYY');
        } else {
          return '';
        }
      }
    },
    watch: {
      '$route'(to) {
        const id = to.params.id;
        this.getAllRenters();
        this.setFloorPlan(id);
      }
    },
    data() {
      return {
        componentName: null,
        rentersNames: [],
        rentersList: [],
        correctRenter: {},
        renters: {},
        all: 0,
        ru,
        sum: 0,
        docs: [],
        placeArea: {
          reserve: 0,
          free: 0,
          busy: 0,
          all: 0
        }
      }
    },
    methods: {
      saveRenter() {
        let request;

        if (this.correctRenter.id) {
          request = this.updaterenter();
        } else {
          request = this.createRenter();
        }

        request.then(() => {
          this.$modal.hide('renterChange');
          this.$root.$emit('updateRenters');
          this.getAllRenters();
          this.$refs.rentersList.updateRenters();
        })
      },
      async createRenter() {
        await this.$http.post('http://nords.f-bc.ru:3000/renters/', {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base,
          price_var: this.correctRenter.price_var,
          price_ekp: this.correctRenter.price_ekp,
          area: Number(this.correctRenter.area),
          floor: this.$route.params.id,
          image_id: this.correctRenter.image_id,
          name: 'parking',
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          user_places: this.correctRenter.user_places
        })
      },
      async updaterenter() {
        await this.$http.patch('http://nords.f-bc.ru:3000/renters/' + this.correctRenter.id, {
          place: this.correctRenter.place,
          status: this.correctRenter.status,
          renter: this.correctRenter.renter,
          renter_type: this.correctRenter.renter_type,
          doc_number: JSON.stringify(this.correctRenter.doc_number),
          date_from: this.correctRenter.date_from,
          date_to: this.correctRenter.date_to,
          price_base: this.correctRenter.price_base || null,
          price_var: this.correctRenter.price_var || null,
          price_ekp: this.correctRenter.price_ekp || null,
          area: Number(this.correctRenter.area) || null,
          floor: this.$route.params.id,
          name: 'parking',
          showOnPlane: this.correctRenter.showOnPlane,
          placesType: this.correctRenter.placesType,
          market: this.correctRenter.market,
          percentPay: this.correctRenter.percentPay,
          additional_pay: this.correctRenter.additional_pay,
          infoDate: moment(this.correctRenter.infoDate).format('MM.YYYY'),
          showOnPlaneArea: this.correctRenter.showOnPlaneArea,
          YEvalue: this.correctRenter.YEvalue,
          YEuse: this.correctRenter.YEuse,
          user_places: this.correctRenter.user_places,
          showOnPlaneCompanyName: this.correctRenter.showOnPlaneCompanyName
        })
      },
      onFileChange(e) {
        const files = e.target.files || e.dataTransfer.files;
        if (!files.length)
          return;

        this.createImage(files[0]);
      },
      createImage(file) {
        const image = new Image();
        const reader = new FileReader();
        const vm = this;

        reader.onload = (e) => {
          vm.image = e.target.result;
          vm.$http.post('http://nords.f-bc.ru:3000/uploads', {uri: e.target.result})
            .then(res => {
              if (!this.correctRenter.doc_number) this.$set(this.correctRenter, 'doc_number', []);

              this.correctRenter.doc_number.push({
                name: file.name,
                id: res.body.id
              });
            })
            .catch(err => {
              console.log(err)
            })
        };
        reader.readAsDataURL(file);
      },
      renterChange() {
        this.$modal.hide('renter');
        this.$modal.show('renterChange');
      },
      statusRenter(status) {
        const statusDictionary = {
          free: 'Свободен',
          reserve: 'В резерве',
          busy: 'Занят'
        };

        return statusDictionary[status];
      },
      downloadDoc(id) {
        window.location.replace("http://nords.f-bc.ru:3000/" + id);
      },
      showWindow(id) {
        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + this.$route.params.id).then(res => {
          this.$set(this, 'renters', res.body);

          const correctRenter = this.renters.find(x => {
            return x.image_id === id
          });

          if (correctRenter) {
            if (correctRenter.doc_number) correctRenter.doc_number = JSON.parse(correctRenter.doc_number);
            this.correctRenter = Object.assign({}, this.correctRenter, correctRenter);
          } else {
            this.$set(this, 'correctRenter', {
              name: 'parking'
            });
            this.$set(this.correctRenter, 'image_id', id);
          }

          this.$http.get('http://nords.f-bc.ru:3000/market?place_id=' + this.correctRenter.name + '&date=' + moment().format('MM.YYYY')).then(res => {
            if (res.body[0]) {
              const data = res.body[0];

              this.correctRenter.placeUser = this.correctRenter.area / 4;

              this.correctRenter = Object.assign({}, this.correctRenter, {
                infoDate: moment('01.' + data.date).format('DD.MM.YYYY'),
                additional_pay: data.additional_pay,
                percentPay: data.percentPay,
                market: data.market,
                YEuse: data.YEuse,
                YEvalue: data.YEvalue
              });
            }

            this.$modal.show('renter');
          })
        });
      },
      getAllRenters() {
        if (this.$refs.rentersList) this.$refs.rentersList.getAllCount();
        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + this.$route.params.id).then(res => {
          this.$set(this, 'sum', 0);
          this.$set(this.placeArea, 'busy', 0);
          this.$set(this.placeArea, 'reserve', 0);
          this.$set(this.placeArea, 'free', 0);
          if (res.body.length) {
            const arr = [];

            this.$set(this, 'rentersNames', []);

            res.body.forEach(item => {
              if (item.name === 'parking') {
                this.rentersNames.push(item.renter);

                item.doc_number = JSON.parse(item.doc_number);

                switch (item.status) {
                  case 'busy':
                    this.$set(this.placeArea, 'busy', ++this.placeArea.busy);
                    this.$set(this, 'sum', this.sum = this.sum + item.price_base + item.price_var + item.price_ekp);
                    break;
                  case 'reserve':
                    this.$set(this.placeArea, 'reserve', ++this.placeArea.reserve)
                    break;
                  default:
                    this.$set(this.placeArea, 'free', ++this.placeArea.free)
                }

                arr.push(item)
              }

            });

            this.$set(this.placeArea, 'all', this.placeArea.all - this.placeArea.busy - this.placeArea.reserve);
            this.$set(this, 'rentersList', arr);
          }
        });

        this.$http.get('http://nords.f-bc.ru:3000/market?floor=' + this.$route.params.floorId + '&$limit=1000').then(res => {
          this.$root.$emit('getFloorStatistic', res.body);
        })
      },
      setFloorPlan(id) {
        switch (id) {
          case -2:
            this.$set(this, 'componentName', 'minus-two');
            break;
          case -1:
            this.$set(this, 'componentName', 'minusOne');
            break;
          case 1:
            this.$set(this, 'componentName', 'first');
          break;
          case 2:
            this.$set(this, 'componentName', 'four');
          break;
          case 3:
            this.$set(this, 'componentName', 'third');
          break;
          case 4:
            this.$set(this, 'componentName', 'second');
          break;
          case 5:
            this.$set(this, 'componentName', 'five');
          break;
          case 6:
            this.$set(this, 'componentName', 'six');
          break;
          case 7:
            this.$set(this, 'componentName', 'seven');
          break;
          case 8:
            this.$set(this, 'componentName', 'eight');
          break;
        }
      }
    }
  }
</script>
