<template>
  <div>

    <toAdminPage/>

    <parkingList ref="rentersList" :renters-names="rentersNames" :route-id="$route.params.id"/>

    <div>
      Занято
      <div class="value area__status">{{placeArea.busy}} м/м</div>
    </div>

    <div>
      Свободно
      <div class="value area__status">{{placeArea.all}} м/м</div>
    </div>

    <div>
      Резерв
      <div class="value area__status">{{placeArea.reserve}} м/м</div>
    </div>

    <div>
      Доход с этажа в месяц
      <div class="value area__status">{{ sum }}</div>
    </div>
  </div>
</template>

<script>
  import parkingList from '@/components/parkingList';

  export default {
    name: "parkingFloorState",
    components: {
      parkingList
    },
    data() {
      return {
        free: 0
      }
    },
    props: ['rentersNames', 'placeArea', 'sum']
  }
</script>