<template>
  <div class="mt-4">
    Арендаторы
    <ul class="floor_arendator_list">
      <li v-for="item in renters">{{ item }}</li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: "rentersList",
    props: ['rentersList', 'routeId'],
    data() {
      return {
        renters: []
      }
    },
    mounted() {
      this.updateRenters()
    },
    watch: {
      routeId(newVal) {
        this.updateRenters()
      }
    },
    methods: {
      updateRenters() {
        this.$set(this, 'rentersNames', []);
        this.$set(this, 'renters', []);

        this.$http.get('http://nords.f-bc.ru:3000/renters?floor=' + this.$route.params.id).then(res => {
          if (res.body.length) {

            res.body.forEach(item => {
              if (item.renter && item.name !== 'parking') this.renters.push(item.renter);
            });
          } else {
            this.$set(this, 'renters', []);
          }
        });
      }
    },
  }
</script>