<template>
  <div>
    <div v-if="$route.name === 'admin-state' || $route.name === 'floor'">
      <a href="/admin">
        <img src="@/assets/back.svg" width="30" alt=""><span class="d-inline-block ml-2">Вернуться назад</span>
      </a>
    </div>
    <div v-else>
      <a href="/parking">
        <img src="@/assets/back.svg" width="30" alt=""><span class="d-inline-block ml-2">Вернуться назад</span>
      </a>
      <!--<span @click="$router.push({ name: 'parking' })">-->
        <!--<img src="@/assets/back.svg" width="30" alt=""><span class="d-inline-block ml-2">Вернуться назад</span>-->
      <!--</span>-->
    </div>
  </div>

</template>

<script>
  export default {
    name: "toAdminPage"
  }
</script>