<template>
  <div class="top_line">
    <div class="logo-nordstar">
      <a href="/admin"><img src="@/assets/logo.svg" height="36" alt=""></a>
    </div>
    <div>
      <div class="switch">
        <div @click="$router.push({ name: 'admin-state' })" :class="$route.name === 'admin-state' || $route.name === 'floor' ? 'switch_active' : ''" class="office_btn">Офисы</div>
        <div @click="$router.push({ name: 'parking' })" :class="$route.path.indexOf('parking') > -1 ? 'switch_active' : ''" class="parking_btn">Парковка</div>
      </div>
    </div>
    <!--<div class="login_name text-right">-->
      <!--<div @click="$router.push({ name: 'profile-page' })" class="login_name"><img src="@/assets/icon_login_name.png" alt="" />{{ $store.state.userInfo.email }}</div>-->
    <!--</div>-->

    <div class="top-nav position-relative">
      <img src="@/assets/menu.svg" @click="showDropdown = !showDropdown" class="openDropDown" alt="">

      <div v-show="showDropdown" class="showDropdown">
        <ul>
          <li v-for="item in dropdownItems" @click="selectItem(item.id)">{{ item.name }}</li>
        </ul>
      </div>
    </div>

    <!--<div v-if="$route.name === 'admin-state' || $route.name === 'floor'" class="top-nav">-->
      <!--<img src="@/assets/menu.svg" @click="$router.push({ name: 'table-floor', params: { id: $route.params.id } })" alt="">-->
    <!--</div>-->
    <!--<div v-else class="top-nav">-->
      <!--<img src="@/assets/menu.svg" @click="$router.push({ name: 'table-parking', params: { id: $route.params.id } })" alt="">-->
    <!--</div>-->
  </div>
</template>

<script>

  export default {
    name: "topLine",
    data: () => ({
      showDropdown: false,
      selected: null,
      dropdownItems: [{
        name: 'Перейти к списку помещений',
        id: 0
      },{
        name: 'Перейти в панель управления',
        id: 1
      },{
        name: 'Выйти',
        id: 2
      }]
    }),
    methods: {
      selectItem(id) {
        switch (id) {
          case 0:
            this.goToTable();
            break;
          case 1:
            this.$router.push({ name: 'profile-page' });
            break;
          case 2:
            localStorage.clear();
            this.$router.push({ name: 'mainPage' });
        }
      },
      goToTable() {
        // this.$router.push({ name: 'table-floor', params: { id: this.$route.params.id } });
        if (this.$route.name === 'admin-state' || this.$route.name === 'floor') {
          this.$router.push({ name: 'table-floor', params: { id: this.$route.params.id || 1 }});
        } else {
          this.$router.push({ name: 'table-parking', params: { id: this.$route.params.id || 1 }})
        }
      }
    }
  }
</script>