@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@import "./bootstrap";

.loginForm {
  &__second-row {
    width: 50vw;
    height: 100vh;
    background: url("../assets/left_picture.jpg");
    padding: 40px;
    background-size: cover;

    .logo {
      img {
        width: 50px;
      }

      span {
        color: white;
        font-weight: bold;
      }
    }

    &__logo-desc {
      color: white;

      .stars {
        font-size: 26px;
      }
    }
  }

  &__first-row {
    img {
      display: block;
      margin-left: auto;
      margin-right: 60px;
    }
  }
}

.login-form {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  top: 0;

  &__body {
    width: 450px;
    height: 600px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(7, 114, 255, .75);
    padding: 110px 70px;
  }
}

.login-input {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0;
  outline: none;
  font-size: 14px;
  line-height: 1.71;
  color: #3a4b56;
  position: relative;

  &_login, &_pass {

    img {
      z-index: 22;
      right: 20px;
      top: 20px;
    }
  }
}

.main-background {
  position: relative;
  z-index: 100;
}

.login-page__title {
  span {
    font-size: 25px;
    font-weight: bold;
  }
}

.main-button {
  width: 100%;
  border: none;
  background: #0772ff;
  border-radius: 25px;
  padding: 10px 0;
  cursor: pointer;

  span {
    color: white;
  }
}

.reset-password {
  background: transparent;
  border: none;
  object-fit: contain;
  border-bottom: 2px dashed #0772ff;
  margin-top: 30px;
  cursor: pointer;
  color: #0772ff;
  font-weight: bold;
  transition: all .3s;

  &:hover {
    color: black;
    border-bottom: 2px dashed #000;
  }
}


.wrapper {
  width: 1170px;
  margin: auto;
  position: relative;
}

.chart_wrapper {
  width: 582px;
}

.chart_wrapper_parking {
  width: 654px;
}

.chart_wrapper rect {
  fill: transparent;
}

#step_2, #step_2_parking {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#parking {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#step_2 .wrapper, #step_2_parking .wrapper {
  display: block;
  opacity: 0;
  height: 0;
}

.title {
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
}

.back, .back_parking {
  text-align: right;
  position: absolute;
}

.back span, .back_parking span {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 10px;
}

.plan_img_wrapper {
  text-align: center;

  img {
    //width: 700px;
  }
}

.plan_img {
  width: 500px;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px 40px;
  width: auto;
  margin: 20px auto;
  border-radius: 0 0 10px 10px ;
  border-top: 8px solid #0672ff;
  color: #3a4b56;
}

.select_zone_info {
  visibility: hidden;
  opacity: 0;
}

.white-popup .title {
  font-size: 24px;
  font-weight: bold;
  color: #00233b;
  margin: 0;
  text-align: left;
}

.white-popup .sub_title {
  color: #001c2f;
  font-size: 18px;
  font-weight: bold;
}

.white-popup .value {
  color: #78838b;
  font-size: 20px;
  font-weight: bold;
}

.sum_btn {
}

.map_etaj {

}

.map {
  background-repeat: no-repeat;
}

.input_wrapper {
  float: left;
  padding-left: 30px;
}

.input_wrapper:first-child {
  padding-left: 0;
}

.input_wrapper select, .input_wrapper input {
  font-size: 16px;
  height: 24px;
}

.input_wrapper label {
  font-size: 14px;
  margin-bottom: 4px;
}

.short_input {
  max-width: 100px;
}

.clear {
  clear: both;
}

.width_line {
  width: 271px;
  background: #D0D1D6;
  border-radius: 8px;
  height: 14px;
  margin-top: 3px;
}

.busy .current_width {
  background: #27DE8C;
}

.free .current_width {
  background: #197BFF;
}

.reserve .current_width {
  background: #ffc0cb;
}

.current_width {
  height: 100%;
  border-radius: 8px;
  width: 0;
}

.busy_wrapper, .free_wrapper, .reserve_wrapper {
  margin-top: 8px;
}

.busy_wrapper>div, .free_wrapper>div, .reserve_wrapper>div {
  margin-right: 29px;
  display: inline-block;
  vertical-align: middle;
}

.text_chart {
  color: #505050;
  font-size: 14px;
  line-height: 1.9;
}

.chart_lvl {
  text-align: right;
  float: right !important;
  font-weight: bold;
  font-size: 16px;
}

.chart_lvl {
  line-height: 1.6;
  font-size: 16px;
}

.busy_wrapper  .chart_lvl {
  color: #27DE8C;
}

.free_wrapper  .chart_lvl {
  color: #197BFF;
}

.reserve_wrapper  .chart_lvl {
  color: #FFC0CB;
}

.flex_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main_title {
  font-weight: 600;
  font-size: 20px;
}

.title_chart {
  font-weight: 600;
  margin-top: 20px;
}

.img_wrapper {
  width: 415px;
}

.floor_stat .floor_info {
  display: none;
}

.img_wrapper .descr {
  font-size: 14px;
  text-align: center;
  color: #b7b7b7;
  margin: 0 auto 92px;
}

#floor_select {
  margin-top: 20px;
}

.floor_numbers div {
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  min-width: 70px;
}

.floor_numbers .bold_nimber {
  font-size: 14px;
  font-weight: 600;
}

.floor_info .flex_wrapper>div,
.general_stat .flex_wrapper>div {
  width: 33.33%;
  font-size: 14px;
  color: #3d3d3d;
}

.floor_info .price,
.general_stat .price {
  font-size: 24px;
  font-weight: bold;
}

.floor_numbers .active_floor {
  color: #0672ff;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.floor_numbers .floor_numbers_wrapper>div, .floor_numbers .chart_view_parking {
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.floor_numbers .floor_numbers_wrapper>div:hover, .floor_numbers .chart_view_parking:hover {
  transform: scale(1.3);
}

.top_line {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top_line>div {
  width: 33.33%;
}

.switch {
  border-radius: 20px;
  border: solid 1px #d6d6d6;
  width: 280px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

.switch>div{
  padding: 6px 35px;
  border-radius: 20px;
  cursor: pointer;
}

.switch_active {
  background: #0672ff;
  color: #fff;
}

.login_name img {
  vertical-align: middle;
  margin-right: 10px;
}

.plan_map {
  margin: auto;
}

#step_2 .title, #step_2_parking .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

//.plan_img_wrapper .hint {
//  margin: 20px 0 38px;
//  font-size: 14px;
//  color: #b7b7b7;
//}

#step_2 .floor_numbers, #step_2_parking .floor_numbers {
  position: absolute;
  right: 0;
  top: 10%;
}

.download_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 72px auto 52px;
  flex-wrap: wrap;
}

.download_line img {
  vertical-align: middle;
  margin-right: 10px;
}

.select_zone_info, .select_floor_info {
  font-size: 14px;
  max-width: 200px;
  position: absolute;
  left: 0;
  top: 10%;
  color: #505050;
}

.select_zone_info  .value, .select_floor_info .value {
  font-size: 24px;
  font-weight: bold;
  color: #04141d;
}

.select_zone_info div, .select_floor_info div {
  margin-bottom: 30px;
}

.white-popup .block_1 .flex_wrapper>div {
  width: 200px;
  font-size: 14px;
  margin: 20px 0;
}

.summary_parking {
  background: #0065FF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0;
  padding: 20px 30px;
}

.summary_parking>div {
  color: #fff !important;
  width: auto !important;
}

.space_between {
  justify-content: space-between;
}

.summary_parking .summ {
  font-size: 22px !important;
  font-weight: bold;
}

.download_line a {
  color: #000;
}

.download_line a:hover {
  color: #000;
  text-decoration: none;
}

.hint__info {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.hint__info>div {
  margin-right: 30px;
}

.hint__info span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.zone_number {
  position: absolute;
  text-align: center;
  color: #fff;
  display: block;
  background: red;
}

.relative_wrapper {
  position: relative;
  display: inline-block;
}

.zone_table {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
}

.open_step-3 {
  text-decoration: none;
}

.zone_left_top {
  left: 300px;
  top: 200px;
}

.zone_right_top {
  right: 300px;
  top: 200px;
}

.zone_left_bottom {
  left: 300px;
  bottom: 225px;
}

.chart_view, .chart_view_parking {
  cursor: pointer;
}

.floor_numbers_wrapper {
  overflow-x: hidden;
  height: 540px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hint__info div:nth-child(1) .color__info {
  background: #197BFF !important;
}

.hint__info div:nth-child(2) .color__info {
  background: #27DE8C !important;
}

.hint__info div:nth-child(3) .color__info {
  background: #ffc0cb !important;
}

.select_floor_info ul {
  padding-left: 18px;
  margin: 0;
  font-weight: 600;
}

.select_floor_info ul li {
  margin: 5px 0;
  color: #000;
}

#parking .floor_select_parking {
  position: absolute;
  right: 0;
  top: 150px;
}

#parking .img_wrapper {
  margin-right: 128px;
}

#step_2_parking .wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}


.login-page {
  .build {
    background: url("../assets/office-building.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
  }

  &__form {
    height: 100vh;
  }

  &__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #00233b;
    margin-bottom: 30px;
  }
}

.select-floor {
  min-width: 500px;
  width: 50%;

  &__wrap {
    background: rgba(204, 204, 204, 0.5);
    height: 100px;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  &__floor {
    &__item {
      color: #8d8d8d;
      background: #fff;
      border-radius: 3px;
      margin-right: 2px;
      text-align: center;
      cursor: pointer;
      transition: all .3s;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #cacaca;
      }

      &.active {
        background: #41c340;
        color: white;
      }
    }
  }
}

.line {
  background-color: #C7CBCE;
  height: 34px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid black;

  &__first {
    height: 100%;
    background: #00a26a;
  }

  &__second {
    background: #6a787e;
    height: 100%;
  }
}

.main-nav {
  //min-width: 500px;
  //width: 50%;

  &__first-level {
    background: #008356;
    height: 100px;
    color: white;
  }

  &__second-level {
    background: #00a26a;
    //height: 100px;

    .title {
      font-size: 16px;
      font-family: Roboto;
      font-weight: bold;
      color: #fff;
    }

    .profit {
      font-size: 24px;
      font-family: Roboto;
      font-weight: bold;
      color: #fff;
    }
  }

  &__third-level {
    background: #e1e1e1;
    min-height: calc(100vh - 200px);
    color: black;

    span {
      display: block;
      color: #888;

      &:nth-child(2) {
        color: #545454;
        font-size: 16px;
        font-weight: bold;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
      color: black !important;
    }

    &__wrap {
      width: 440px;
    }
  }

  .logo {
    max-width: 200px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .profile {
    max-width: 40px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.main-admin-page {
  &__left-column {
    background: #404946;
    height: 100px;
    width: 50%;
  }

  &__right-column {
    background: #0672ff;
    height: 100px;
    width: 50%;

    .logo {
      max-width: 60px;
    }

    .profile {
      max-width: 40px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__return-nav {
    background: #828282;
    height: 100px;

    span {
      font-size: 20px;
      color: #fff;
      font-weight: bold;

      &:nth-child(2) {
        cursor: pointer;

        &:hover {
          color: #0672ff;
        }
      }
    }
  }
}

table {
  font-size: 14px;
  text-align: center;

  thead {
    th {
      vertical-align: top !important;
    }
  }

  tr {
    cursor: pointer;
  }
}

.wrap-button-modal {
  button {
    display: block;
    margin-top: 39px;
  }
}

.vdp-datepicker__calendar {
  right: 0;
}

.st0 {
  fill: #C6CACD;
}

.st1 {
  fill: #FFFFFF;
}

.st2 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.st3 {
  fill: #6A787E;
  cursor: pointer;

  &:hover {
    fill: #00a26a;
  }
}

.active-place {
  fill: #41C340;
}

.login-input {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0;
  outline: none;
  font-size: 14px;
  line-height: 1.71;
  color: #3a4b56;
  position: relative;

  &_login, &_pass {

    img {
      z-index: 22;
      right: 20px;
      top: 20px;
    }
  }
}

.statistics .table {
  width: 100%;
}

.statistics .table th {
  font-family: 'RobotoMedium';
  text-align: left;
  padding-bottom: 11px;
  color: #3d3d3d;
  border: none;
}

.statistics .table tr td:nth-child(1) {
  width: 470px;
}

.statistics .table tr td {
  padding: 3px 0;
  border: none;
}

.statistics .table tr td:nth-child(2) {
  padding-left: 30px;
  font-size: 14px;
  color: #3d3d3d;
}

.statistics .table tr td:nth-child(3) {
  color: #6a787e;
  font-size: 16px;
  font-family: RobotoBold;
  text-align: right;
}

.statistics .table tr:nth-child(2) td:nth-child(3) {
  color: #6a787e;
}

.statistics .table tr:nth-child(3) td:nth-child(3) {
  color: #00a26a;
}

.statistics .table tr:nth-child(4) td:nth-child(3) {
  color: #000000;
}

.statistics .table tr:nth-child(2) td:nth-child(1) .current {
  background: #6a787e;
}

.statistics .table tr .correct {
  background: #00a26a;
  height: 100%;
  border-radius: 14px;
}

.statistics .table tr:nth-child(3) td:nth-child(1) .current {
  background: #00a26a;
}

.statistics .table tr:nth-child(4) td:nth-child(1) .current {
  background: #000000;
}

.statistics .table {
  margin-top: 43px;
  border: none;
}

.statistics .stat_line {
  border-radius: 14px;
  background-color: #C7CBCE;
  height: 14px;
}

.statistics .stat_line .current {
  height: 100%;
  border-radius: 14px;
}

.change-exel {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    width: 20px;
    transition: all .3s;
  }
}

.bottom_line ul {
  list-style-type: none;
  display: flex;
  padding-top: 50px;
  margin: auto;
  width: 560px;
}

.bottom_line ul li:nth-child(1) span.marker {
  background: #6a787e;
}

.bottom_line ul li:nth-child(2) span.marker {
  background: #41c340;
}

.bottom_line ul li:nth-child(3) span.marker {
  background: #001a2a;
}

.bottom_line ul li {
  margin-right: 35px;
}

.marker {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.modal-renter {
  &__block {
    border-bottom: 1px solid #888;
  }
}

.datepicker-margin {
  margin-top: 40px;
}



#renterChange {
  .datepicker-margin {
    margin-top: 96px;
  }
}

.cls-1 {
  fill: none;
}

.cls-2 {
  fill: #c6cacd;
}

.cls-3 {
  fill: #fff;
}

.cls-4 {
  fill: #6a787e;
  cursor: pointer;

  &:hover {
    fill: #00a26a;
  }
}

.busy {
  fill: #41c340;
}

.free {
  fill: #6a787e;
}

.reserve {
  fill: #001a2a;
}

.statistic-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.green {
  background-color: #00a26a;
}

.grey {
  background: #6a787e;
}

.grey-light {
  background: #C7CBCE;
}

.custom-file-label::after {
  content: 'Загрузить'
}

.delete-date {
  width: 12px;
}

.table-docs {
  padding: 5px 20px;
  border: 1px solid #a2a2a2;
  border-radius: 5px;
  margin-right: 20px;

  img {
    width: 13px;
    margin-left: 20px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}

* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 1170px;
  margin: auto;
  position: relative;
}

.chart_wrapper_parking {
  width: 654px;
}

.chart_wrapper rect {
  fill: transparent;
}

#step_2, #step_2_parking {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#parking {
  position: relative;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#step_2 .wrapper, #step_2_parking .wrapper {
  display: block;
  opacity: 0;
  height: 0;
}

.title {
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
}

.back, .back_parking {
  text-align: right;
  position: absolute;
}

.back span, .back_parking span {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
  margin-left: 10px;
}

.plan_img_wrapper {
  text-align: center;
}

.plan_img {
  width: 500px;
}

.sum_btn {
}

.map_etaj {

}

.map {
  background-repeat: no-repeat;
}

.input_wrapper {
  float: left;
  padding-left: 30px;
}

.input_wrapper:first-child {
  padding-left: 0;
}

.input_wrapper select, .input_wrapper input {
  font-size: 16px;
  height: 24px;
}

.input_wrapper label {
  font-size: 14px;
  margin-bottom: 4px;
}

.short_input {
  max-width: 100px;
}

.clear {
  clear: both;
}

.width_line {
  width: 271px;
  background: #D0D1D6;
  border-radius: 8px;
  height: 14px;
  margin-top: 3px;
}

.busy .current_width {
  background: #27DE8C;
}

.free .current_width {
  background: #197BFF;
}

.reserve .current_width {
  background: #ffc0cb;
}

.current_width {
  height: 100%;
  border-radius: 8px;
  width: 0;
}

.busy_wrapper, .free_wrapper, .reserve_wrapper {
  margin-top: 8px;
}

.busy_wrapper>div, .free_wrapper>div, .reserve_wrapper>div {
  margin-right: 29px;
  display: inline-block;
  vertical-align: middle;
}

.text_chart {
  color: #505050;
  font-size: 14px;
  line-height: 1.9;
}

.chart_lvl {
  text-align: right;
  float: right !important;
  font-weight: bold;
  font-size: 16px;
}

.chart_lvl {
  line-height: 1.6;
  font-size: 16px;
}

.busy_wrapper  .chart_lvl {
  color: #27DE8C;
}

.free_wrapper  .chart_lvl {
  color: #197BFF;
}

.reserve_wrapper  .chart_lvl {
  color: #FFC0CB;
}

.flex_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main_title {
  font-weight: 600;
  font-size: 20px;
}

.title_chart {
  font-weight: 600;
  margin-top: 20px;
}

.floor_stat .floor_info {
  display: none;
}

.img_wrapper .descr {
  font-size: 14px;
  text-align: center;
  color: #b7b7b7;
  margin: 0 auto 92px;
}

.floor_numbers {
  width: 170px;
  transition: 0.2s ease-in;
  //margin: auto;
}

#floor_select {
  margin-top: 20px;
}

.floor_numbers div {
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  min-width: 70px;
}

.floor_numbers .bold_nimber {
  font-size: 14px;
  font-weight: 600;
}

.floor_info .flex_wrapper>div,
.general_stat .flex_wrapper>div {
  width: 33.33%;
  font-size: 14px;
  color: #3d3d3d;
}

.floor_info .price,
.general_stat .price {
  font-size: 24px;
  font-weight: bold;
}

.floor_numbers .active_floor {
  color: #0672ff;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.floor_numbers .floor_numbers_wrapper>div, .floor_numbers .chart_view_parking {
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.floor_numbers .floor_numbers_wrapper>div:hover, .floor_numbers .chart_view_parking:hover {
  transform: scale(1.3);
}

.top_line {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.top_line>div {
  width: 33.33%;
}

.switch {
  border-radius: 20px;
  border: solid 1px #d6d6d6;
  width: 280px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  margin: auto;
}

.switch>div{
  padding: 6px 35px;
  border-radius: 20px;
  cursor: pointer;
}

.switch_active {
  background: #0672ff;
  color: #fff;
}

.login_name img {
  vertical-align: middle;
  margin-right: 10px;
}

.plan_map {
  margin: auto;
}

#step_2 .title, #step_2_parking .title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

//.plan_img_wrapper .hint {
//  margin: 20px 0 38px;
//  font-size: 14px;
//  color: #b7b7b7;
//}

#step_2 .floor_numbers, #step_2_parking .floor_numbers {
  position: absolute;
  right: 0;
  top: 10%;
}

.download_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 72px auto 52px;
  flex-wrap: wrap;
}

.download_line img {
  vertical-align: middle;
  margin-right: 10px;
}

.select_zone_info, .select_floor_info {
  font-size: 14px;
  max-width: 200px;
  position: absolute;
  left: 0;
  top: 10%;
  color: #505050;
}

.select_zone_info  .value, .select_floor_info .value {
  font-size: 24px;
  font-weight: bold;
  color: #04141d;
}

.select_zone_info div, .select_floor_info div {
  margin-bottom: 30px;
}

.white-popup .block_1 .flex_wrapper>div {
  width: 200px;
  font-size: 14px;
  margin: 20px 0;
}

.summary_parking {
  background: #0065FF;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0;
  padding: 20px 30px;
}

.summary_parking>div {
  color: #fff !important;
  width: auto !important;
}

.space_between {
  justify-content: space-between;
}

.summary_parking .summ {
  font-size: 22px !important;
  font-weight: bold;
}

.download_line a {
  color: #000;
}

.download_line a:hover {
  color: #000;
  text-decoration: none;
}

.hint__info {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.hint__info>div {
  margin-right: 30px;
}

.hint__info span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.zone_number {
  position: absolute;
  text-align: center;
  color: #fff;
  display: block;
  background: red;
}

.relative_wrapper {
  position: relative;
  display: inline-block;
}

.zone_table {
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
}

.open_step-3 {
  text-decoration: none;
}

.zone_left_top {
  left: 300px;
  top: 200px;
}

.zone_right_top {
  right: 300px;
  top: 200px;
}

.zone_left_bottom {
  left: 300px;
  bottom: 225px;
}

.chart_view, .chart_view_parking {
  cursor: pointer;
}

.floor_numbers_wrapper {
  overflow-x: hidden;
  height: 570px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hint__info div:nth-child(1) .color__info {
  background: #197BFF !important;
}

.hint__info div:nth-child(2) .color__info {
  background: #27DE8C !important;
}

.hint__info div:nth-child(3) .color__info {
  background: #ffc0cb !important;
}

.select_floor_info ul {
  padding-left: 18px;
  margin: 0;
  font-weight: 600;
}

.select_floor_info ul li {
  margin: 5px 0;
  color: #000;
}

#parking .floor_select_parking {
  position: absolute;
  right: 0;
  top: 150px;
}

#parking .img_wrapper {
  margin-right: 128px;
}

#step_2_parking .wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.logo-nordstar {
  a {
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
  }

  span {
    display: inline-block;
    margin-left: 20px;
  }
}

.top-nav {
  text-align: right;

  img {
    width: 30px;
  }
}

.floor {
  &__info {

  }

  .area__status, .status__status, .basic__status, .peremen__static {
    font-size: 24px;
    font-weight: bold;
    color: #04141d;
  }
}

.floor_arendator_list {
  li {
    font-size: 14px;
  }
}

.floor__info {
  width: 200px;
}

.fil0 {
  fill:#FEFEFE;
}

.svg-image {
  svg {
    width: 600px;
  }
}

.openDropDown {
  cursor: pointer;
}

.showDropdown {
  ul {
    list-style: none;
    border: 1px solid #eee;
    /* padding: 10px; */
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 30px;
    background: #fff;
    padding: 0;
    z-index: 1000;

    li {
      padding: 10px;

      &:hover {
        cursor: pointer;
        background: #eee;
      }
    }
  }
}

.hoverClass {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .5);
}

.fillGreen {
  fill: rgba(100, 255, 0, .5);
}

.fillRed {
  fill: rgba(255, 100, 0, .5);
}

.fillBlue {
  fill: rgba(0, 0, 255, .5);
}

.hoverSvgClass {
  stroke-width: 6px;
  stroke: #32dda5;
}

.hoverSvgClassPark {
  stroke-width: 2px;
  stroke: #32dda5;
}

@media screen and (max-width: 1000px) {
  .main-nav {
    width: 100%;
  }

  .select-floor {
    width: 100%;
  }
}

.v--modal-overlay .v--modal-box {
  overflow: inherit !important;
}

.table-header {
  background-color: #0672ff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.area__status {
  font-size: 24px;
  font-weight: bold;
  color: #04141d;
}