<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style lang="scss" type="text/scss" src="./style/style.scss"></style>
<script>
export default {
  name: 'App',
  mounted() {
    if (localStorage.getItem('fish-user')) this.$store.commit('changeUserInfo', JSON.parse(localStorage.getItem('fish-user')));
  }
}
</script>


