

<template>
  <div>
   <SvgPanZoom
       style="width: 100%; height: 500px; margin: auto;"
       :zoomEnabled="true"
       :controlIconsEnabled="true"
       :fit="false"
       :center="true">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="425px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 648.74 511.95" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="648.74" height="511.95"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-07-floor.png" x="5" y="-20" width="648.74" height="511.95"></image>
  </g>

  <polygon id="02bf31fc-560c-4d88-949f-aa33bc0189db" @mouseover="addHoverClass('02bf31fc-560c-4d88-949f-aa33bc0189db')" @mouseleave="removeHoverClass('02bf31fc-560c-4d88-949f-aa33bc0189db')" @click="showModal('02bf31fc-560c-4d88-949f-aa33bc0189db')" :class="[returnClassRoom('02bf31fc-560c-4d88-949f-aa33bc0189db'), { 'hoverSvgClassPark': activeFloor === '02bf31fc-560c-4d88-949f-aa33bc0189db' }]" class="fil0" points="444.81,18.6 470.92,18.6 470.92,28.97 444.81,28.97 "/>
  <polygon id="cb001f7e-62b1-4b97-9a48-aa4f315d1802" @mouseover="addHoverClass('cb001f7e-62b1-4b97-9a48-aa4f315d1802')" @mouseleave="removeHoverClass('cb001f7e-62b1-4b97-9a48-aa4f315d1802')" @click="showModal('cb001f7e-62b1-4b97-9a48-aa4f315d1802')" :class="[returnClassRoom('cb001f7e-62b1-4b97-9a48-aa4f315d1802'), { 'hoverSvgClassPark': activeFloor === 'cb001f7e-62b1-4b97-9a48-aa4f315d1802' }]" class="fil0" points="444.81,29.69 470.92,29.69 470.92,40.06 444.81,40.06 "/>
  <polygon id="9954d64a-4678-4a6f-b6d2-ea499a5d1d34" @mouseover="addHoverClass('9954d64a-4678-4a6f-b6d2-ea499a5d1d34')" @mouseleave="removeHoverClass('9954d64a-4678-4a6f-b6d2-ea499a5d1d34')" @click="showModal('9954d64a-4678-4a6f-b6d2-ea499a5d1d34')" :class="[returnClassRoom('9954d64a-4678-4a6f-b6d2-ea499a5d1d34'), { 'hoverSvgClassPark': activeFloor === '9954d64a-4678-4a6f-b6d2-ea499a5d1d34' }]" class="fil0" points="444.81,49.81 470.92,49.81 470.92,60.18 444.81,60.18 "/>
  <polygon id="b978e6f0-8975-4ec8-a104-03cc68e41ddf" @mouseover="addHoverClass('b978e6f0-8975-4ec8-a104-03cc68e41ddf')" @mouseleave="removeHoverClass('b978e6f0-8975-4ec8-a104-03cc68e41ddf')" @click="showModal('b978e6f0-8975-4ec8-a104-03cc68e41ddf')" :class="[returnClassRoom('b978e6f0-8975-4ec8-a104-03cc68e41ddf'), { 'hoverSvgClassPark': activeFloor === 'b978e6f0-8975-4ec8-a104-03cc68e41ddf' }]" class="fil0" points="444.81,60.8 470.92,60.8 470.92,71.18 444.81,71.18 "/>
  <polygon id="151ef880-17a7-4fe4-bb45-02778f3dcc52" @mouseover="addHoverClass('151ef880-17a7-4fe4-bb45-02778f3dcc52')" @mouseleave="removeHoverClass('151ef880-17a7-4fe4-bb45-02778f3dcc52')" @click="showModal('151ef880-17a7-4fe4-bb45-02778f3dcc52')" :class="[returnClassRoom('151ef880-17a7-4fe4-bb45-02778f3dcc52'), { 'hoverSvgClassPark': activeFloor === '151ef880-17a7-4fe4-bb45-02778f3dcc52' }]" class="fil0" points="444.81,82.17 470.92,82.17 470.92,92.55 444.81,92.55 "/>
  <polygon id="d1140fcf-c912-42bb-902e-fc950517c103" @mouseover="addHoverClass('d1140fcf-c912-42bb-902e-fc950517c103')" @mouseleave="removeHoverClass('d1140fcf-c912-42bb-902e-fc950517c103')" @click="showModal('d1140fcf-c912-42bb-902e-fc950517c103')" :class="[returnClassRoom('d1140fcf-c912-42bb-902e-fc950517c103'), { 'hoverSvgClassPark': activeFloor === 'd1140fcf-c912-42bb-902e-fc950517c103' }]" class="fil0" points="444.81,93.17 470.92,93.17 470.92,103.54 444.81,103.54 "/>
  <polygon id="e0b417c3-97c4-4cbb-a66a-df1eecd0da75" @mouseover="addHoverClass('e0b417c3-97c4-4cbb-a66a-df1eecd0da75')" @mouseleave="removeHoverClass('e0b417c3-97c4-4cbb-a66a-df1eecd0da75')" @click="showModal('e0b417c3-97c4-4cbb-a66a-df1eecd0da75')" :class="[returnClassRoom('e0b417c3-97c4-4cbb-a66a-df1eecd0da75'), { 'hoverSvgClassPark': activeFloor === 'e0b417c3-97c4-4cbb-a66a-df1eecd0da75' }]" class="fil0" points="444.81,105.06 470.92,105.06 470.92,115.44 444.81,115.44 "/>
  <polygon id="39ecaca0-b315-4038-99d2-bfb403c900e0" @mouseover="addHoverClass('39ecaca0-b315-4038-99d2-bfb403c900e0')" @mouseleave="removeHoverClass('39ecaca0-b315-4038-99d2-bfb403c900e0')" @click="showModal('39ecaca0-b315-4038-99d2-bfb403c900e0')" :class="[returnClassRoom('39ecaca0-b315-4038-99d2-bfb403c900e0'), { 'hoverSvgClassPark': activeFloor === '39ecaca0-b315-4038-99d2-bfb403c900e0' }]" class="fil0" points="444.81,116.06 470.92,116.06 470.92,126.44 444.81,126.44 "/>
  <polygon id="e31bd81f-23c4-4d0d-a6f5-23d5662b167d" @mouseover="addHoverClass('e31bd81f-23c4-4d0d-a6f5-23d5662b167d')" @mouseleave="removeHoverClass('e31bd81f-23c4-4d0d-a6f5-23d5662b167d')" @click="showModal('e31bd81f-23c4-4d0d-a6f5-23d5662b167d')" :class="[returnClassRoom('e31bd81f-23c4-4d0d-a6f5-23d5662b167d'), { 'hoverSvgClassPark': activeFloor === 'e31bd81f-23c4-4d0d-a6f5-23d5662b167d' }]" class="fil0" points="502.34,18.6 553.66,18.6 553.66,28.97 502.34,28.97 "/>
  <polygon id="23b1bbcd-36f5-4376-81bd-fc60b4c8bf63" @mouseover="addHoverClass('23b1bbcd-36f5-4376-81bd-fc60b4c8bf63')" @mouseleave="removeHoverClass('23b1bbcd-36f5-4376-81bd-fc60b4c8bf63')" @click="showModal('23b1bbcd-36f5-4376-81bd-fc60b4c8bf63')" :class="[returnClassRoom('23b1bbcd-36f5-4376-81bd-fc60b4c8bf63'), { 'hoverSvgClassPark': activeFloor === '23b1bbcd-36f5-4376-81bd-fc60b4c8bf63' }]" class="fil0" points="502.34,29.69 553.66,29.69 553.66,40.06 502.34,40.06 "/>
  <polygon id="9593fe90-81f8-4bc6-99bd-4d954d44775b" @mouseover="addHoverClass('9593fe90-81f8-4bc6-99bd-4d954d44775b')" @mouseleave="removeHoverClass('9593fe90-81f8-4bc6-99bd-4d954d44775b')" @click="showModal('9593fe90-81f8-4bc6-99bd-4d954d44775b')" :class="[returnClassRoom('9593fe90-81f8-4bc6-99bd-4d954d44775b'), { 'hoverSvgClassPark': activeFloor === '9593fe90-81f8-4bc6-99bd-4d954d44775b' }]" class="fil0" points="502.34,49.81 553.66,49.81 553.66,60.18 502.34,60.18 "/>
  <polygon id="2206cacb-d725-477c-a615-3410677ef113" @mouseover="addHoverClass('2206cacb-d725-477c-a615-3410677ef113')" @mouseleave="removeHoverClass('2206cacb-d725-477c-a615-3410677ef113')" @click="showModal('2206cacb-d725-477c-a615-3410677ef113')" :class="[returnClassRoom('2206cacb-d725-477c-a615-3410677ef113'), { 'hoverSvgClassPark': activeFloor === '2206cacb-d725-477c-a615-3410677ef113' }]" class="fil0" points="502.34,60.8 553.66,60.8 553.66,71.18 502.34,71.18 "/>
  <polygon id="e92c5953-ff51-48f2-a199-ef92cfc8cf75" @mouseover="addHoverClass('e92c5953-ff51-48f2-a199-ef92cfc8cf75')" @mouseleave="removeHoverClass('e92c5953-ff51-48f2-a199-ef92cfc8cf75')" @click="showModal('e92c5953-ff51-48f2-a199-ef92cfc8cf75')" :class="[returnClassRoom('e92c5953-ff51-48f2-a199-ef92cfc8cf75'), { 'hoverSvgClassPark': activeFloor === 'e92c5953-ff51-48f2-a199-ef92cfc8cf75' }]" class="fil0" points="502.34,82.17 553.66,82.17 553.66,92.55 502.34,92.55 "/>
  <polygon id="6d20756b-7a53-4711-82a3-690dff99e3a8" @mouseover="addHoverClass('6d20756b-7a53-4711-82a3-690dff99e3a8')" @mouseleave="removeHoverClass('6d20756b-7a53-4711-82a3-690dff99e3a8')" @click="showModal('6d20756b-7a53-4711-82a3-690dff99e3a8')" :class="[returnClassRoom('6d20756b-7a53-4711-82a3-690dff99e3a8'), { 'hoverSvgClassPark': activeFloor === '6d20756b-7a53-4711-82a3-690dff99e3a8' }]" class="fil0" points="502.34,93.17 553.66,93.17 553.66,103.54 502.34,103.54 "/>
  <polygon id="f7921037-03f6-452c-ab76-5aceba77582d" @mouseover="addHoverClass('f7921037-03f6-452c-ab76-5aceba77582d')" @mouseleave="removeHoverClass('f7921037-03f6-452c-ab76-5aceba77582d')" @click="showModal('f7921037-03f6-452c-ab76-5aceba77582d')" :class="[returnClassRoom('f7921037-03f6-452c-ab76-5aceba77582d'), { 'hoverSvgClassPark': activeFloor === 'f7921037-03f6-452c-ab76-5aceba77582d' }]" class="fil0" points="502.34,105.06 553.66,105.06 553.66,115.44 502.34,115.44 "/>
  <polygon id="aa30f066-5f8e-4f4b-b37d-ca84293691a0" @mouseover="addHoverClass('aa30f066-5f8e-4f4b-b37d-ca84293691a0')" @mouseleave="removeHoverClass('aa30f066-5f8e-4f4b-b37d-ca84293691a0')" @click="showModal('aa30f066-5f8e-4f4b-b37d-ca84293691a0')" :class="[returnClassRoom('aa30f066-5f8e-4f4b-b37d-ca84293691a0'), { 'hoverSvgClassPark': activeFloor === 'aa30f066-5f8e-4f4b-b37d-ca84293691a0' }]" class="fil0" points="502.34,116.06 553.66,116.06 553.66,126.44 502.34,126.44 "/>
  <polygon id="a32c8124-209e-4113-9550-933d3d6faa31" @mouseover="addHoverClass('a32c8124-209e-4113-9550-933d3d6faa31')" @mouseleave="removeHoverClass('a32c8124-209e-4113-9550-933d3d6faa31')" @click="showModal('a32c8124-209e-4113-9550-933d3d6faa31')" :class="[returnClassRoom('a32c8124-209e-4113-9550-933d3d6faa31'), { 'hoverSvgClassPark': activeFloor === 'a32c8124-209e-4113-9550-933d3d6faa31' }]" class="fil0" points="586.44,18.6 612.55,18.6 612.55,28.97 586.44,28.97 "/>
  <polygon id="f35cf164-4a4f-464e-bbb5-623c48df4468" @mouseover="addHoverClass('f35cf164-4a4f-464e-bbb5-623c48df4468')" @mouseleave="removeHoverClass('f35cf164-4a4f-464e-bbb5-623c48df4468')" @click="showModal('f35cf164-4a4f-464e-bbb5-623c48df4468')" :class="[returnClassRoom('f35cf164-4a4f-464e-bbb5-623c48df4468'), { 'hoverSvgClassPark': activeFloor === 'f35cf164-4a4f-464e-bbb5-623c48df4468' }]" class="fil0" points="586.44,29.69 612.55,29.69 612.55,40.06 586.44,40.06 "/>
  <polygon id="76d5c842-2880-4088-a1a5-5baba9189de1" @mouseover="addHoverClass('76d5c842-2880-4088-a1a5-5baba9189de1')" @mouseleave="removeHoverClass('76d5c842-2880-4088-a1a5-5baba9189de1')" @click="showModal('76d5c842-2880-4088-a1a5-5baba9189de1')" :class="[returnClassRoom('76d5c842-2880-4088-a1a5-5baba9189de1'), { 'hoverSvgClassPark': activeFloor === '76d5c842-2880-4088-a1a5-5baba9189de1' }]" class="fil0" points="586.44,49.81 612.55,49.81 612.55,60.18 586.44,60.18 "/>
  <polygon id="e49d36d3-9945-4b93-a382-04d9012abcc9" @mouseover="addHoverClass('e49d36d3-9945-4b93-a382-04d9012abcc9')" @mouseleave="removeHoverClass('e49d36d3-9945-4b93-a382-04d9012abcc9')" @click="showModal('e49d36d3-9945-4b93-a382-04d9012abcc9')" :class="[returnClassRoom('e49d36d3-9945-4b93-a382-04d9012abcc9'), { 'hoverSvgClassPark': activeFloor === 'e49d36d3-9945-4b93-a382-04d9012abcc9' }]" class="fil0" points="586.44,60.8 612.55,60.8 612.55,71.18 586.44,71.18 "/>
  <polygon id="48403a2e-2b84-4e80-ad66-e26ac6f41aa3" @mouseover="addHoverClass('48403a2e-2b84-4e80-ad66-e26ac6f41aa3')" @mouseleave="removeHoverClass('48403a2e-2b84-4e80-ad66-e26ac6f41aa3')" @click="showModal('48403a2e-2b84-4e80-ad66-e26ac6f41aa3')" :class="[returnClassRoom('48403a2e-2b84-4e80-ad66-e26ac6f41aa3'), { 'hoverSvgClassPark': activeFloor === '48403a2e-2b84-4e80-ad66-e26ac6f41aa3' }]" class="fil0" points="586.44,82.17 612.55,82.17 612.55,92.55 586.44,92.55 "/>
  <polygon id="c9a79617-0c09-4068-b158-da41f5373023" @mouseover="addHoverClass('c9a79617-0c09-4068-b158-da41f5373023')" @mouseleave="removeHoverClass('c9a79617-0c09-4068-b158-da41f5373023')" @click="showModal('c9a79617-0c09-4068-b158-da41f5373023')" :class="[returnClassRoom('c9a79617-0c09-4068-b158-da41f5373023'), { 'hoverSvgClassPark': activeFloor === 'c9a79617-0c09-4068-b158-da41f5373023' }]" class="fil0" points="586.44,93.17 612.55,93.17 612.55,103.54 586.44,103.54 "/>
  <polygon id="eae4376b-ac07-4c01-a35e-184e80fc13f3" @mouseover="addHoverClass('eae4376b-ac07-4c01-a35e-184e80fc13f3')" @mouseleave="removeHoverClass('eae4376b-ac07-4c01-a35e-184e80fc13f3')" @click="showModal('eae4376b-ac07-4c01-a35e-184e80fc13f3')" :class="[returnClassRoom('eae4376b-ac07-4c01-a35e-184e80fc13f3'), { 'hoverSvgClassPark': activeFloor === 'eae4376b-ac07-4c01-a35e-184e80fc13f3' }]" class="fil0" points="586.44,105.06 612.55,105.06 612.55,115.44 586.44,115.44 "/>
  <polygon id="1a8c28dd-938f-417e-ba19-a03c299572c5" @mouseover="addHoverClass('1a8c28dd-938f-417e-ba19-a03c299572c5')" @mouseleave="removeHoverClass('1a8c28dd-938f-417e-ba19-a03c299572c5')" @click="showModal('1a8c28dd-938f-417e-ba19-a03c299572c5')" :class="[returnClassRoom('1a8c28dd-938f-417e-ba19-a03c299572c5'), { 'hoverSvgClassPark': activeFloor === '1a8c28dd-938f-417e-ba19-a03c299572c5' }]" class="fil0" points="586.44,116.06 612.55,116.06 612.55,126.44 586.44,126.44 "/>
  <polygon id="1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437" @mouseover="addHoverClass('1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437')" @mouseleave="removeHoverClass('1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437')" @click="showModal('1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437')" :class="[returnClassRoom('1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437'), { 'hoverSvgClassPark': activeFloor === '1fcdc70b-75cd-4ec0-adb5-03dfb2fb8437' }]" class="fil0" points="502.34,138.42 553.66,138.42 553.66,148.79 502.34,148.79 "/>
  <polygon id="694c5865-f1c4-434d-9a2a-cfb2892f39e4" @mouseover="addHoverClass('694c5865-f1c4-434d-9a2a-cfb2892f39e4')" @mouseleave="removeHoverClass('694c5865-f1c4-434d-9a2a-cfb2892f39e4')" @click="showModal('694c5865-f1c4-434d-9a2a-cfb2892f39e4')" :class="[returnClassRoom('694c5865-f1c4-434d-9a2a-cfb2892f39e4'), { 'hoverSvgClassPark': activeFloor === '694c5865-f1c4-434d-9a2a-cfb2892f39e4' }]" class="fil0" points="502.34,149.41 553.66,149.41 553.66,159.79 502.34,159.79 "/>
  <polygon id="7f67ab46-2933-4174-a997-49414c02ec6a" @mouseover="addHoverClass('7f67ab46-2933-4174-a997-49414c02ec6a')" @mouseleave="removeHoverClass('7f67ab46-2933-4174-a997-49414c02ec6a')" @click="showModal('7f67ab46-2933-4174-a997-49414c02ec6a')" :class="[returnClassRoom('7f67ab46-2933-4174-a997-49414c02ec6a'), { 'hoverSvgClassPark': activeFloor === '7f67ab46-2933-4174-a997-49414c02ec6a' }]" class="fil0" points="587.01,138.42 612.67,138.42 612.67,148.79 587.01,148.79 "/>
  <polygon id="048ba778-648c-4e44-be34-051900fbdab7" @mouseover="addHoverClass('048ba778-648c-4e44-be34-051900fbdab7')" @mouseleave="removeHoverClass('048ba778-648c-4e44-be34-051900fbdab7')" @click="showModal('048ba778-648c-4e44-be34-051900fbdab7')" :class="[returnClassRoom('048ba778-648c-4e44-be34-051900fbdab7'), { 'hoverSvgClassPark': activeFloor === '048ba778-648c-4e44-be34-051900fbdab7' }]" class="fil0" points="587.01,149.41 612.67,149.41 612.67,159.79 587.01,159.79 "/>
  <polygon id="eb20198e-3431-438b-ae19-71fd5bc976a8" @mouseover="addHoverClass('eb20198e-3431-438b-ae19-71fd5bc976a8')" @mouseleave="removeHoverClass('eb20198e-3431-438b-ae19-71fd5bc976a8')" @click="showModal('eb20198e-3431-438b-ae19-71fd5bc976a8')" :class="[returnClassRoom('eb20198e-3431-438b-ae19-71fd5bc976a8'), { 'hoverSvgClassPark': activeFloor === 'eb20198e-3431-438b-ae19-71fd5bc976a8' }]" class="fil0" points="439.22,167.61 439.22,141.5 449.59,141.5 449.59,167.61 "/>
  <polygon id="807485dd-3f01-4e61-be71-830220a77f37" @mouseover="addHoverClass('807485dd-3f01-4e61-be71-830220a77f37')" @mouseleave="removeHoverClass('807485dd-3f01-4e61-be71-830220a77f37')" @click="showModal('807485dd-3f01-4e61-be71-830220a77f37')" :class="[returnClassRoom('807485dd-3f01-4e61-be71-830220a77f37'), { 'hoverSvgClassPark': activeFloor === '807485dd-3f01-4e61-be71-830220a77f37' }]" class="fil0" points="450.22,167.61 450.22,141.5 460.59,141.5 460.59,167.61 "/>
  <polygon id="a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96" @mouseover="addHoverClass('a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96')" @mouseleave="removeHoverClass('a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96')" @click="showModal('a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96')" :class="[returnClassRoom('a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96'), { 'hoverSvgClassPark': activeFloor === 'a90d43e1-bb0e-4a48-ba51-b3f9fdea0e96' }]" class="fil0" points="410.07,167.61 410.07,141.5 420.44,141.5 420.44,167.61 "/>
  <polygon id="5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc" @mouseover="addHoverClass('5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc')" @mouseleave="removeHoverClass('5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc')" @click="showModal('5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc')" :class="[returnClassRoom('5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc'), { 'hoverSvgClassPark': activeFloor === '5f651b01-7d53-4e9b-b3ee-8c2bdcb403bc' }]" class="fil0" points="421.07,167.61 421.07,141.5 431.44,141.5 431.44,167.61 "/>
  <polygon id="db8e8e57-124c-415c-9262-5fe0ee980ec3" @mouseover="addHoverClass('db8e8e57-124c-415c-9262-5fe0ee980ec3')" @mouseleave="removeHoverClass('db8e8e57-124c-415c-9262-5fe0ee980ec3')" @click="showModal('db8e8e57-124c-415c-9262-5fe0ee980ec3')" :class="[returnClassRoom('db8e8e57-124c-415c-9262-5fe0ee980ec3'), { 'hoverSvgClassPark': activeFloor === 'db8e8e57-124c-415c-9262-5fe0ee980ec3' }]" class="fil0" points="325.84,167.61 325.84,141.5 336.22,141.5 336.22,167.61 "/>
  <polygon id="faecc0ec-4138-4083-9efc-dbf47ae9797a" @mouseover="addHoverClass('faecc0ec-4138-4083-9efc-dbf47ae9797a')" @mouseleave="removeHoverClass('faecc0ec-4138-4083-9efc-dbf47ae9797a')" @click="showModal('faecc0ec-4138-4083-9efc-dbf47ae9797a')" :class="[returnClassRoom('faecc0ec-4138-4083-9efc-dbf47ae9797a'), { 'hoverSvgClassPark': activeFloor === 'faecc0ec-4138-4083-9efc-dbf47ae9797a' }]" class="fil0" points="336.84,167.61 336.84,141.5 347.21,141.5 347.21,167.61 "/>
  <polygon id="43b02d93-2434-4111-8bd0-a87637ef0697" @mouseover="addHoverClass('43b02d93-2434-4111-8bd0-a87637ef0697')" @mouseleave="removeHoverClass('43b02d93-2434-4111-8bd0-a87637ef0697')" @click="showModal('43b02d93-2434-4111-8bd0-a87637ef0697')" :class="[returnClassRoom('43b02d93-2434-4111-8bd0-a87637ef0697'), { 'hoverSvgClassPark': activeFloor === '43b02d93-2434-4111-8bd0-a87637ef0697' }]" class="fil0" points="313.86,167.61 313.86,141.5 324.24,141.5 324.24,167.61 "/>
  <polygon id="614c4ca0-9078-4e2e-afe9-777bf1d7689e" @mouseover="addHoverClass('614c4ca0-9078-4e2e-afe9-777bf1d7689e')" @mouseleave="removeHoverClass('614c4ca0-9078-4e2e-afe9-777bf1d7689e')" @click="showModal('614c4ca0-9078-4e2e-afe9-777bf1d7689e')" :class="[returnClassRoom('614c4ca0-9078-4e2e-afe9-777bf1d7689e'), { 'hoverSvgClassPark': activeFloor === '614c4ca0-9078-4e2e-afe9-777bf1d7689e' }]" class="fil0" points="398.18,167.61 398.18,141.5 408.55,141.5 408.55,167.61 "/>
  <polygon id="dd9db97f-e345-464a-ab9a-754781b25ca9" @mouseover="addHoverClass('dd9db97f-e345-464a-ab9a-754781b25ca9')" @mouseleave="removeHoverClass('dd9db97f-e345-464a-ab9a-754781b25ca9')" @click="showModal('dd9db97f-e345-464a-ab9a-754781b25ca9')" :class="[returnClassRoom('dd9db97f-e345-464a-ab9a-754781b25ca9'), { 'hoverSvgClassPark': activeFloor === 'dd9db97f-e345-464a-ab9a-754781b25ca9' }]" class="fil0" points="378.23,167.61 378.23,141.5 388.6,141.5 388.6,167.61 "/>
  <polygon id="c62249c5-865d-49ad-897a-531f373a4c4d" @mouseover="addHoverClass('c62249c5-865d-49ad-897a-531f373a4c4d')" @mouseleave="removeHoverClass('c62249c5-865d-49ad-897a-531f373a4c4d')" @click="showModal('c62249c5-865d-49ad-897a-531f373a4c4d')" :class="[returnClassRoom('c62249c5-865d-49ad-897a-531f373a4c4d'), { 'hoverSvgClassPark': activeFloor === 'c62249c5-865d-49ad-897a-531f373a4c4d' }]" class="fil0" points="282.39,167.61 282.39,141.5 292.76,141.5 292.76,167.61 "/>
  <polygon id="39a4519e-1d85-4949-bb80-04945ba7e93f" @mouseover="addHoverClass('39a4519e-1d85-4949-bb80-04945ba7e93f')" @mouseleave="removeHoverClass('39a4519e-1d85-4949-bb80-04945ba7e93f')" @click="showModal('39a4519e-1d85-4949-bb80-04945ba7e93f')" :class="[returnClassRoom('39a4519e-1d85-4949-bb80-04945ba7e93f'), { 'hoverSvgClassPark': activeFloor === '39a4519e-1d85-4949-bb80-04945ba7e93f' }]" class="fil0" points="293.39,167.61 293.39,141.5 303.76,141.5 303.76,167.61 "/>
  <polygon id="b2be29f3-0cee-45bc-9d32-101d90bb6f61" @mouseover="addHoverClass('b2be29f3-0cee-45bc-9d32-101d90bb6f61')" @mouseleave="removeHoverClass('b2be29f3-0cee-45bc-9d32-101d90bb6f61')" @click="showModal('b2be29f3-0cee-45bc-9d32-101d90bb6f61')" :class="[returnClassRoom('b2be29f3-0cee-45bc-9d32-101d90bb6f61'), { 'hoverSvgClassPark': activeFloor === 'b2be29f3-0cee-45bc-9d32-101d90bb6f61' }]" class="fil0" points="270.41,167.61 270.41,141.5 280.78,141.5 280.78,167.61 "/>
  <polygon id="84247657-b600-4d59-b9ed-dfbee14a062c" @mouseover="addHoverClass('84247657-b600-4d59-b9ed-dfbee14a062c')" @mouseleave="removeHoverClass('84247657-b600-4d59-b9ed-dfbee14a062c')" @click="showModal('84247657-b600-4d59-b9ed-dfbee14a062c')" :class="[returnClassRoom('84247657-b600-4d59-b9ed-dfbee14a062c'), { 'hoverSvgClassPark': activeFloor === '84247657-b600-4d59-b9ed-dfbee14a062c' }]" class="fil0" points="241.6,167.61 241.6,141.5 251.98,141.5 251.98,167.61 "/>
  <polygon id="d4ffb43f-8064-4977-b58f-ba6013715a0f" @mouseover="addHoverClass('d4ffb43f-8064-4977-b58f-ba6013715a0f')" @mouseleave="removeHoverClass('d4ffb43f-8064-4977-b58f-ba6013715a0f')" @click="showModal('d4ffb43f-8064-4977-b58f-ba6013715a0f')" :class="[returnClassRoom('d4ffb43f-8064-4977-b58f-ba6013715a0f'), { 'hoverSvgClassPark': activeFloor === 'd4ffb43f-8064-4977-b58f-ba6013715a0f' }]" class="fil0" points="252.6,167.61 252.6,141.5 262.97,141.5 262.97,167.61 "/>
  <polygon id="f30377bd-1385-4a8d-8215-a710d18b3a11" @mouseover="addHoverClass('f30377bd-1385-4a8d-8215-a710d18b3a11')" @mouseleave="removeHoverClass('f30377bd-1385-4a8d-8215-a710d18b3a11')" @click="showModal('f30377bd-1385-4a8d-8215-a710d18b3a11')" :class="[returnClassRoom('f30377bd-1385-4a8d-8215-a710d18b3a11'), { 'hoverSvgClassPark': activeFloor === 'f30377bd-1385-4a8d-8215-a710d18b3a11' }]" class="fil0" points="229.62,167.61 229.62,141.5 240,141.5 240,167.61 "/>
  <polygon id="0098687d-8777-4f80-a0c2-3e7e3c6e7a03" @mouseover="addHoverClass('0098687d-8777-4f80-a0c2-3e7e3c6e7a03')" @mouseleave="removeHoverClass('0098687d-8777-4f80-a0c2-3e7e3c6e7a03')" @click="showModal('0098687d-8777-4f80-a0c2-3e7e3c6e7a03')" :class="[returnClassRoom('0098687d-8777-4f80-a0c2-3e7e3c6e7a03'), { 'hoverSvgClassPark': activeFloor === '0098687d-8777-4f80-a0c2-3e7e3c6e7a03' }]" class="fil0" points="210.49,167.61 210.49,141.5 220.86,141.5 220.86,167.61 "/>
  <polygon id="a4d47df9-49e1-4ce7-bc3f-6e9b2650883b" @mouseover="addHoverClass('a4d47df9-49e1-4ce7-bc3f-6e9b2650883b')" @mouseleave="removeHoverClass('a4d47df9-49e1-4ce7-bc3f-6e9b2650883b')" @click="showModal('a4d47df9-49e1-4ce7-bc3f-6e9b2650883b')" :class="[returnClassRoom('a4d47df9-49e1-4ce7-bc3f-6e9b2650883b'), { 'hoverSvgClassPark': activeFloor === 'a4d47df9-49e1-4ce7-bc3f-6e9b2650883b' }]" class="fil0" points="198.51,167.61 198.51,141.5 208.88,141.5 208.88,167.61 "/>
  <polygon id="cb5d8627-71ae-46a6-bf74-0ad756cafdd9" @mouseover="addHoverClass('cb5d8627-71ae-46a6-bf74-0ad756cafdd9')" @mouseleave="removeHoverClass('cb5d8627-71ae-46a6-bf74-0ad756cafdd9')" @click="showModal('cb5d8627-71ae-46a6-bf74-0ad756cafdd9')" :class="[returnClassRoom('cb5d8627-71ae-46a6-bf74-0ad756cafdd9'), { 'hoverSvgClassPark': activeFloor === 'cb5d8627-71ae-46a6-bf74-0ad756cafdd9' }]" class="fil0" points="183.84,167.61 183.84,141.5 194.22,141.5 194.22,167.61 "/>
  <polygon id="0955fc63-1534-4126-913a-10e8401b9257" @mouseover="addHoverClass('0955fc63-1534-4126-913a-10e8401b9257')" @mouseleave="removeHoverClass('0955fc63-1534-4126-913a-10e8401b9257')" @click="showModal('0955fc63-1534-4126-913a-10e8401b9257')" :class="[returnClassRoom('0955fc63-1534-4126-913a-10e8401b9257'), { 'hoverSvgClassPark': activeFloor === '0955fc63-1534-4126-913a-10e8401b9257' }]" class="fil0" points="171.86,167.61 171.86,141.5 182.23,141.5 182.23,167.61 "/>
  <polygon id="74b5ab30-4627-48b7-9484-f30de913c359" @mouseover="addHoverClass('74b5ab30-4627-48b7-9484-f30de913c359')" @mouseleave="removeHoverClass('74b5ab30-4627-48b7-9484-f30de913c359')" @click="showModal('74b5ab30-4627-48b7-9484-f30de913c359')" :class="[returnClassRoom('74b5ab30-4627-48b7-9484-f30de913c359'), { 'hoverSvgClassPark': activeFloor === '74b5ab30-4627-48b7-9484-f30de913c359' }]" class="fil0" points="158.45,167.61 158.45,141.5 168.82,141.5 168.82,167.61 "/>
  <polygon id="96ea2ca4-4898-4758-8e21-e5d5dec3f291" @mouseover="addHoverClass('96ea2ca4-4898-4758-8e21-e5d5dec3f291')" @mouseleave="removeHoverClass('96ea2ca4-4898-4758-8e21-e5d5dec3f291')" @click="showModal('96ea2ca4-4898-4758-8e21-e5d5dec3f291')" :class="[returnClassRoom('96ea2ca4-4898-4758-8e21-e5d5dec3f291'), { 'hoverSvgClassPark': activeFloor === '96ea2ca4-4898-4758-8e21-e5d5dec3f291' }]" class="fil0" points="325.84,223.05 325.84,196.94 336.22,196.94 336.22,223.05 "/>
  <polygon id="24fe549f-f492-4b68-bf17-fa78a4540dca" @mouseover="addHoverClass('24fe549f-f492-4b68-bf17-fa78a4540dca')" @mouseleave="removeHoverClass('24fe549f-f492-4b68-bf17-fa78a4540dca')" @click="showModal('24fe549f-f492-4b68-bf17-fa78a4540dca')" :class="[returnClassRoom('24fe549f-f492-4b68-bf17-fa78a4540dca'), { 'hoverSvgClassPark': activeFloor === '24fe549f-f492-4b68-bf17-fa78a4540dca' }]" class="fil0" points="336.84,223.05 336.84,196.94 347.21,196.94 347.21,223.05 "/>
  <polygon id="68f3f0bc-fc11-4564-b511-6dde22eb85ad" @mouseover="addHoverClass('68f3f0bc-fc11-4564-b511-6dde22eb85ad')" @mouseleave="removeHoverClass('68f3f0bc-fc11-4564-b511-6dde22eb85ad')" @click="showModal('68f3f0bc-fc11-4564-b511-6dde22eb85ad')" :class="[returnClassRoom('68f3f0bc-fc11-4564-b511-6dde22eb85ad'), { 'hoverSvgClassPark': activeFloor === '68f3f0bc-fc11-4564-b511-6dde22eb85ad' }]" class="fil0" points="313.86,223.05 313.86,196.94 324.24,196.94 324.24,223.05 "/>
  <polygon id="cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0" @mouseover="addHoverClass('cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0')" @mouseleave="removeHoverClass('cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0')" @click="showModal('cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0')" :class="[returnClassRoom('cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0'), { 'hoverSvgClassPark': activeFloor === 'cfc9fa75-ad14-4d6a-99d5-ba8d2e8567c0' }]" class="fil0" points="282.39,223.05 282.39,196.94 292.76,196.94 292.76,223.05 "/>
  <polygon id="b1ef193f-9541-401d-9497-67b67e35d3f7" @mouseover="addHoverClass('b1ef193f-9541-401d-9497-67b67e35d3f7')" @mouseleave="removeHoverClass('b1ef193f-9541-401d-9497-67b67e35d3f7')" @click="showModal('b1ef193f-9541-401d-9497-67b67e35d3f7')" :class="[returnClassRoom('b1ef193f-9541-401d-9497-67b67e35d3f7'), { 'hoverSvgClassPark': activeFloor === 'b1ef193f-9541-401d-9497-67b67e35d3f7' }]" class="fil0" points="293.39,223.05 293.39,196.94 303.76,196.94 303.76,223.05 "/>
  <polygon id="52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe" @mouseover="addHoverClass('52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe')" @mouseleave="removeHoverClass('52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe')" @click="showModal('52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe')" :class="[returnClassRoom('52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe'), { 'hoverSvgClassPark': activeFloor === '52dcbef7-26eb-48ce-866e-2bdcc0ff9bfe' }]" class="fil0" points="270.41,223.05 270.41,196.94 280.78,196.94 280.78,223.05 "/>
  <polygon id="1dea0c93-8079-480d-a9fc-9ce7a2f4c096" @mouseover="addHoverClass('1dea0c93-8079-480d-a9fc-9ce7a2f4c096')" @mouseleave="removeHoverClass('1dea0c93-8079-480d-a9fc-9ce7a2f4c096')" @click="showModal('1dea0c93-8079-480d-a9fc-9ce7a2f4c096')" :class="[returnClassRoom('1dea0c93-8079-480d-a9fc-9ce7a2f4c096'), { 'hoverSvgClassPark': activeFloor === '1dea0c93-8079-480d-a9fc-9ce7a2f4c096' }]" class="fil0" points="241.6,223.05 241.6,196.94 251.98,196.94 251.98,223.05 "/>
  <polygon id="8e70683d-86f7-428d-bf03-619da526f597" @mouseover="addHoverClass('8e70683d-86f7-428d-bf03-619da526f597')" @mouseleave="removeHoverClass('8e70683d-86f7-428d-bf03-619da526f597')" @click="showModal('8e70683d-86f7-428d-bf03-619da526f597')" :class="[returnClassRoom('8e70683d-86f7-428d-bf03-619da526f597'), { 'hoverSvgClassPark': activeFloor === '8e70683d-86f7-428d-bf03-619da526f597' }]" class="fil0" points="252.6,223.05 252.6,196.94 262.97,196.94 262.97,223.05 "/>
  <polygon id="24c5dbb7-2159-4d4e-b4f6-2908cddf7661" @mouseover="addHoverClass('24c5dbb7-2159-4d4e-b4f6-2908cddf7661')" @mouseleave="removeHoverClass('24c5dbb7-2159-4d4e-b4f6-2908cddf7661')" @click="showModal('24c5dbb7-2159-4d4e-b4f6-2908cddf7661')" :class="[returnClassRoom('24c5dbb7-2159-4d4e-b4f6-2908cddf7661'), { 'hoverSvgClassPark': activeFloor === '24c5dbb7-2159-4d4e-b4f6-2908cddf7661' }]" class="fil0" points="229.62,223.05 229.62,196.94 240,196.94 240,223.05 "/>
  <polygon id="cb0cea69-35db-4746-a9d7-33a85c46a0d1" @mouseover="addHoverClass('cb0cea69-35db-4746-a9d7-33a85c46a0d1')" @mouseleave="removeHoverClass('cb0cea69-35db-4746-a9d7-33a85c46a0d1')" @click="showModal('cb0cea69-35db-4746-a9d7-33a85c46a0d1')" :class="[returnClassRoom('cb0cea69-35db-4746-a9d7-33a85c46a0d1'), { 'hoverSvgClassPark': activeFloor === 'cb0cea69-35db-4746-a9d7-33a85c46a0d1' }]" class="fil0" points="210.49,223.05 210.49,196.94 220.86,196.94 220.86,223.05 "/>
  <polygon id="14c79d7d-7909-4048-a480-7f9f07d910b9" @mouseover="addHoverClass('14c79d7d-7909-4048-a480-7f9f07d910b9')" @mouseleave="removeHoverClass('14c79d7d-7909-4048-a480-7f9f07d910b9')" @click="showModal('14c79d7d-7909-4048-a480-7f9f07d910b9')" :class="[returnClassRoom('14c79d7d-7909-4048-a480-7f9f07d910b9'), { 'hoverSvgClassPark': activeFloor === '14c79d7d-7909-4048-a480-7f9f07d910b9' }]" class="fil0" points="198.51,223.05 198.51,196.94 208.88,196.94 208.88,223.05 "/>
  <polygon id="12c0deb2-725f-4e9b-9a51-a6a2b9596306" @mouseover="addHoverClass('12c0deb2-725f-4e9b-9a51-a6a2b9596306')" @mouseleave="removeHoverClass('12c0deb2-725f-4e9b-9a51-a6a2b9596306')" @click="showModal('12c0deb2-725f-4e9b-9a51-a6a2b9596306')" :class="[returnClassRoom('12c0deb2-725f-4e9b-9a51-a6a2b9596306'), { 'hoverSvgClassPark': activeFloor === '12c0deb2-725f-4e9b-9a51-a6a2b9596306' }]" class="fil0" points="183.84,223.05 183.84,196.94 194.22,196.94 194.22,223.05 "/>
  <polygon id="35a25f8a-579c-446a-ae64-e5a2b654d1b6" @mouseover="addHoverClass('35a25f8a-579c-446a-ae64-e5a2b654d1b6')" @mouseleave="removeHoverClass('35a25f8a-579c-446a-ae64-e5a2b654d1b6')" @click="showModal('35a25f8a-579c-446a-ae64-e5a2b654d1b6')" :class="[returnClassRoom('35a25f8a-579c-446a-ae64-e5a2b654d1b6'), { 'hoverSvgClassPark': activeFloor === '35a25f8a-579c-446a-ae64-e5a2b654d1b6' }]" class="fil0" points="171.86,223.05 171.86,196.94 182.23,196.94 182.23,223.05 "/>
  <polygon id="44f90b2b-56b3-4739-8539-f4425ce0e6d3" @mouseover="addHoverClass('44f90b2b-56b3-4739-8539-f4425ce0e6d3')" @mouseleave="removeHoverClass('44f90b2b-56b3-4739-8539-f4425ce0e6d3')" @click="showModal('44f90b2b-56b3-4739-8539-f4425ce0e6d3')" :class="[returnClassRoom('44f90b2b-56b3-4739-8539-f4425ce0e6d3'), { 'hoverSvgClassPark': activeFloor === '44f90b2b-56b3-4739-8539-f4425ce0e6d3' }]" class="fil0" points="159.3,223.1 159.3,196.99 169.67,196.99 169.67,223.1 "/>
  <polygon id="341165fe-0d59-46d7-8a52-df6256bff685" @mouseover="addHoverClass('341165fe-0d59-46d7-8a52-df6256bff685')" @mouseleave="removeHoverClass('341165fe-0d59-46d7-8a52-df6256bff685')" @click="showModal('341165fe-0d59-46d7-8a52-df6256bff685')" :class="[returnClassRoom('341165fe-0d59-46d7-8a52-df6256bff685'), { 'hoverSvgClassPark': activeFloor === '341165fe-0d59-46d7-8a52-df6256bff685' }]" class="fil0" points="367.49,223.05 367.49,196.94 377.87,196.94 377.87,223.05 "/>
  <polygon id="b928c1ad-7536-4a74-b3a3-b516ce07c490" @mouseover="addHoverClass('b928c1ad-7536-4a74-b3a3-b516ce07c490')" @mouseleave="removeHoverClass('b928c1ad-7536-4a74-b3a3-b516ce07c490')" @click="showModal('b928c1ad-7536-4a74-b3a3-b516ce07c490')" :class="[returnClassRoom('b928c1ad-7536-4a74-b3a3-b516ce07c490'), { 'hoverSvgClassPark': activeFloor === 'b928c1ad-7536-4a74-b3a3-b516ce07c490' }]" class="fil0" points="378.49,223.05 378.49,196.94 388.86,196.94 388.86,223.05 "/>
  <polygon id="afd97b4c-732a-40cc-92f0-a0d5067dc386" @mouseover="addHoverClass('afd97b4c-732a-40cc-92f0-a0d5067dc386')" @mouseleave="removeHoverClass('afd97b4c-732a-40cc-92f0-a0d5067dc386')" @click="showModal('afd97b4c-732a-40cc-92f0-a0d5067dc386')" :class="[returnClassRoom('afd97b4c-732a-40cc-92f0-a0d5067dc386'), { 'hoverSvgClassPark': activeFloor === 'afd97b4c-732a-40cc-92f0-a0d5067dc386' }]" class="fil0" points="355.51,223.05 355.51,196.94 365.89,196.94 365.89,223.05 "/>
  <polygon id="fa35ce22-3468-4ed5-a5aa-433c51a00328" @mouseover="addHoverClass('fa35ce22-3468-4ed5-a5aa-433c51a00328')" @mouseleave="removeHoverClass('fa35ce22-3468-4ed5-a5aa-433c51a00328')" @click="showModal('fa35ce22-3468-4ed5-a5aa-433c51a00328')" :class="[returnClassRoom('fa35ce22-3468-4ed5-a5aa-433c51a00328'), { 'hoverSvgClassPark': activeFloor === 'fa35ce22-3468-4ed5-a5aa-433c51a00328' }]" class="fil0" points="367.49,257.7 367.49,231.59 377.87,231.59 377.87,257.7 "/>
  <polygon id="538cc4f9-cda1-4b03-a475-da17dd999e7e" @mouseover="addHoverClass('538cc4f9-cda1-4b03-a475-da17dd999e7e')" @mouseleave="removeHoverClass('538cc4f9-cda1-4b03-a475-da17dd999e7e')" @click="showModal('538cc4f9-cda1-4b03-a475-da17dd999e7e')" :class="[returnClassRoom('538cc4f9-cda1-4b03-a475-da17dd999e7e'), { 'hoverSvgClassPark': activeFloor === '538cc4f9-cda1-4b03-a475-da17dd999e7e' }]" class="fil0" points="378.49,257.7 378.49,231.59 388.86,231.59 388.86,257.7 "/>
  <polygon id="921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4" @mouseover="addHoverClass('921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4')" @mouseleave="removeHoverClass('921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4')" @click="showModal('921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4')" :class="[returnClassRoom('921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4'), { 'hoverSvgClassPark': activeFloor === '921ceb4d-e2fa-4f7a-a5d9-7a6f587cb6f4' }]" class="fil0" points="355.51,257.7 355.51,231.59 365.89,231.59 365.89,257.7 "/>
  <polygon id="7e9c714e-5c85-4b4f-a8bd-60b51073c8b0" @mouseover="addHoverClass('7e9c714e-5c85-4b4f-a8bd-60b51073c8b0')" @mouseleave="removeHoverClass('7e9c714e-5c85-4b4f-a8bd-60b51073c8b0')" @click="showModal('7e9c714e-5c85-4b4f-a8bd-60b51073c8b0')" :class="[returnClassRoom('7e9c714e-5c85-4b4f-a8bd-60b51073c8b0'), { 'hoverSvgClassPark': activeFloor === '7e9c714e-5c85-4b4f-a8bd-60b51073c8b0' }]" class="fil0" points="318.33,257.79 318.33,231.68 328.71,231.68 328.71,257.79 "/>
  <polygon id="f0ea05f8-92b1-4827-b77a-aa985b9675de" @mouseover="addHoverClass('f0ea05f8-92b1-4827-b77a-aa985b9675de')" @mouseleave="removeHoverClass('f0ea05f8-92b1-4827-b77a-aa985b9675de')" @click="showModal('f0ea05f8-92b1-4827-b77a-aa985b9675de')" :class="[returnClassRoom('f0ea05f8-92b1-4827-b77a-aa985b9675de'), { 'hoverSvgClassPark': activeFloor === 'f0ea05f8-92b1-4827-b77a-aa985b9675de' }]" class="fil0" points="306.35,257.79 306.35,231.68 316.72,231.68 316.72,257.79 "/>
  <polygon id="9b33adaa-b138-4177-bb12-5da3d0749d7b" @mouseover="addHoverClass('9b33adaa-b138-4177-bb12-5da3d0749d7b')" @mouseleave="removeHoverClass('9b33adaa-b138-4177-bb12-5da3d0749d7b')" @click="showModal('9b33adaa-b138-4177-bb12-5da3d0749d7b')" :class="[returnClassRoom('9b33adaa-b138-4177-bb12-5da3d0749d7b'), { 'hoverSvgClassPark': activeFloor === '9b33adaa-b138-4177-bb12-5da3d0749d7b' }]" class="fil0" points="330.13,257.7 330.13,231.59 340.51,231.59 340.51,257.7 "/>
  <polygon id="99436321-5c61-4c86-bcad-b8da0a808ebd" @mouseover="addHoverClass('99436321-5c61-4c86-bcad-b8da0a808ebd')" @mouseleave="removeHoverClass('99436321-5c61-4c86-bcad-b8da0a808ebd')" @click="showModal('99436321-5c61-4c86-bcad-b8da0a808ebd')" :class="[returnClassRoom('99436321-5c61-4c86-bcad-b8da0a808ebd'), { 'hoverSvgClassPark': activeFloor === '99436321-5c61-4c86-bcad-b8da0a808ebd' }]" class="fil0" points="281.17,257.74 281.17,231.63 291.54,231.63 291.54,257.74 "/>
  <polygon id="ac08af61-9173-4b97-9baa-813e2b3e9c48" @mouseover="addHoverClass('ac08af61-9173-4b97-9baa-813e2b3e9c48')" @mouseleave="removeHoverClass('ac08af61-9173-4b97-9baa-813e2b3e9c48')" @click="showModal('ac08af61-9173-4b97-9baa-813e2b3e9c48')" :class="[returnClassRoom('ac08af61-9173-4b97-9baa-813e2b3e9c48'), { 'hoverSvgClassPark': activeFloor === 'ac08af61-9173-4b97-9baa-813e2b3e9c48' }]" class="fil0" points="269.18,257.74 269.18,231.63 279.56,231.63 279.56,257.74 "/>
  <polygon id="dd219460-52a3-4325-88ff-8ca8a6d50160" @mouseover="addHoverClass('dd219460-52a3-4325-88ff-8ca8a6d50160')" @mouseleave="removeHoverClass('dd219460-52a3-4325-88ff-8ca8a6d50160')" @click="showModal('dd219460-52a3-4325-88ff-8ca8a6d50160')" :class="[returnClassRoom('dd219460-52a3-4325-88ff-8ca8a6d50160'), { 'hoverSvgClassPark': activeFloor === 'dd219460-52a3-4325-88ff-8ca8a6d50160' }]" class="fil0" points="242.05,257.83 242.05,231.72 252.42,231.72 252.42,257.83 "/>
  <polygon id="6c90f59b-f8d5-4ddc-aa91-fa07b859392d" @mouseover="addHoverClass('6c90f59b-f8d5-4ddc-aa91-fa07b859392d')" @mouseleave="removeHoverClass('6c90f59b-f8d5-4ddc-aa91-fa07b859392d')" @click="showModal('6c90f59b-f8d5-4ddc-aa91-fa07b859392d')" :class="[returnClassRoom('6c90f59b-f8d5-4ddc-aa91-fa07b859392d'), { 'hoverSvgClassPark': activeFloor === '6c90f59b-f8d5-4ddc-aa91-fa07b859392d' }]" class="fil0" points="215.32,257.7 215.32,231.59 225.69,231.59 225.69,257.7 "/>
  <polygon id="159fb05e-54d9-4cc4-94a0-5c37c1aca49a" @mouseover="addHoverClass('159fb05e-54d9-4cc4-94a0-5c37c1aca49a')" @mouseleave="removeHoverClass('159fb05e-54d9-4cc4-94a0-5c37c1aca49a')" @click="showModal('159fb05e-54d9-4cc4-94a0-5c37c1aca49a')" :class="[returnClassRoom('159fb05e-54d9-4cc4-94a0-5c37c1aca49a'), { 'hoverSvgClassPark': activeFloor === '159fb05e-54d9-4cc4-94a0-5c37c1aca49a' }]" class="fil0" points="193.11,257.74 193.11,231.63 203.48,231.63 203.48,257.74 "/>
  <polygon id="d6a6c5ad-0100-448e-a528-058928709e62" @mouseover="addHoverClass('d6a6c5ad-0100-448e-a528-058928709e62')" @mouseleave="removeHoverClass('d6a6c5ad-0100-448e-a528-058928709e62')" @click="showModal('d6a6c5ad-0100-448e-a528-058928709e62')" :class="[returnClassRoom('d6a6c5ad-0100-448e-a528-058928709e62'), { 'hoverSvgClassPark': activeFloor === 'd6a6c5ad-0100-448e-a528-058928709e62' }]" class="fil0" points="204.46,257.7 204.46,231.59 214.84,231.59 214.84,257.7 "/>
  <polygon id="35d7a053-1e1f-415c-b608-db505e2f8d44" @mouseover="addHoverClass('35d7a053-1e1f-415c-b608-db505e2f8d44')" @mouseleave="removeHoverClass('35d7a053-1e1f-415c-b608-db505e2f8d44')" @click="showModal('35d7a053-1e1f-415c-b608-db505e2f8d44')" :class="[returnClassRoom('35d7a053-1e1f-415c-b608-db505e2f8d44'), { 'hoverSvgClassPark': activeFloor === '35d7a053-1e1f-415c-b608-db505e2f8d44' }]" class="fil0" points="178.11,257.7 178.11,231.59 188.48,231.59 188.48,257.7 "/>
  <polygon id="de2aa183-d265-486a-8de7-045aba850421" @mouseover="addHoverClass('de2aa183-d265-486a-8de7-045aba850421')" @mouseleave="removeHoverClass('de2aa183-d265-486a-8de7-045aba850421')" @click="showModal('de2aa183-d265-486a-8de7-045aba850421')" :class="[returnClassRoom('de2aa183-d265-486a-8de7-045aba850421'), { 'hoverSvgClassPark': activeFloor === 'de2aa183-d265-486a-8de7-045aba850421' }]" class="fil0" points="164.7,257.7 164.7,231.59 175.07,231.59 175.07,257.7 "/>
  <polygon id="170a4028-fa7c-461a-9019-0a3f3cc975d9" @mouseover="addHoverClass('170a4028-fa7c-461a-9019-0a3f3cc975d9')" @mouseleave="removeHoverClass('170a4028-fa7c-461a-9019-0a3f3cc975d9')" @click="showModal('170a4028-fa7c-461a-9019-0a3f3cc975d9')" :class="[returnClassRoom('170a4028-fa7c-461a-9019-0a3f3cc975d9'), { 'hoverSvgClassPark': activeFloor === '170a4028-fa7c-461a-9019-0a3f3cc975d9' }]" class="fil0" points="137.52,257.74 137.52,231.63 147.9,231.63 147.9,257.74 "/>
  <polygon id="0c77b09a-f0e6-460b-9d83-9831d479b663" @mouseover="addHoverClass('0c77b09a-f0e6-460b-9d83-9831d479b663')" @mouseleave="removeHoverClass('0c77b09a-f0e6-460b-9d83-9831d479b663')" @click="showModal('0c77b09a-f0e6-460b-9d83-9831d479b663')" :class="[returnClassRoom('0c77b09a-f0e6-460b-9d83-9831d479b663'), { 'hoverSvgClassPark': activeFloor === '0c77b09a-f0e6-460b-9d83-9831d479b663' }]" class="fil0" points="439.22,223.1 439.22,196.99 449.59,196.99 449.59,223.1 "/>
  <polygon id="a468aa5a-4cd2-4ce5-baf5-f3fbff354bef" @mouseover="addHoverClass('a468aa5a-4cd2-4ce5-baf5-f3fbff354bef')" @mouseleave="removeHoverClass('a468aa5a-4cd2-4ce5-baf5-f3fbff354bef')" @click="showModal('a468aa5a-4cd2-4ce5-baf5-f3fbff354bef')" :class="[returnClassRoom('a468aa5a-4cd2-4ce5-baf5-f3fbff354bef'), { 'hoverSvgClassPark': activeFloor === 'a468aa5a-4cd2-4ce5-baf5-f3fbff354bef' }]" class="fil0" points="450.22,223.1 450.22,196.99 460.59,196.99 460.59,223.1 "/>
  <polygon id="a02713f2-dd78-44d0-878e-d41f8e7798b1" @mouseover="addHoverClass('a02713f2-dd78-44d0-878e-d41f8e7798b1')" @mouseleave="removeHoverClass('a02713f2-dd78-44d0-878e-d41f8e7798b1')" @click="showModal('a02713f2-dd78-44d0-878e-d41f8e7798b1')" :class="[returnClassRoom('a02713f2-dd78-44d0-878e-d41f8e7798b1'), { 'hoverSvgClassPark': activeFloor === 'a02713f2-dd78-44d0-878e-d41f8e7798b1' }]" class="fil0" points="467.83,223.1 467.83,196.99 478.21,196.99 478.21,223.1 "/>
  <polygon id="0381c5fa-4bb1-4a0e-993f-a8728f90150a" @mouseover="addHoverClass('0381c5fa-4bb1-4a0e-993f-a8728f90150a')" @mouseleave="removeHoverClass('0381c5fa-4bb1-4a0e-993f-a8728f90150a')" @click="showModal('0381c5fa-4bb1-4a0e-993f-a8728f90150a')" :class="[returnClassRoom('0381c5fa-4bb1-4a0e-993f-a8728f90150a'), { 'hoverSvgClassPark': activeFloor === '0381c5fa-4bb1-4a0e-993f-a8728f90150a' }]" class="fil0" points="478.83,223.1 478.83,196.99 489.2,196.99 489.2,223.1 "/>
  <polygon id="11963525-532a-4797-8001-80adca6944a3" @mouseover="addHoverClass('11963525-532a-4797-8001-80adca6944a3')" @mouseleave="removeHoverClass('11963525-532a-4797-8001-80adca6944a3')" @click="showModal('11963525-532a-4797-8001-80adca6944a3')" :class="[returnClassRoom('11963525-532a-4797-8001-80adca6944a3'), { 'hoverSvgClassPark': activeFloor === '11963525-532a-4797-8001-80adca6944a3' }]" class="fil0" points="490.63,223.1 490.63,196.99 501.01,196.99 501.01,223.1 "/>
  <polygon id="751f9514-8eb3-4d0e-8f99-a45d8a3fc00b" @mouseover="addHoverClass('751f9514-8eb3-4d0e-8f99-a45d8a3fc00b')" @mouseleave="removeHoverClass('751f9514-8eb3-4d0e-8f99-a45d8a3fc00b')" @click="showModal('751f9514-8eb3-4d0e-8f99-a45d8a3fc00b')" :class="[returnClassRoom('751f9514-8eb3-4d0e-8f99-a45d8a3fc00b'), { 'hoverSvgClassPark': activeFloor === '751f9514-8eb3-4d0e-8f99-a45d8a3fc00b' }]" class="fil0" points="459.98,257.75 459.98,231.64 470.35,231.64 470.35,257.75 "/>
  <polygon id="7303e2ab-b719-41b8-9949-284f4e39164b" @mouseover="addHoverClass('7303e2ab-b719-41b8-9949-284f4e39164b')" @mouseleave="removeHoverClass('7303e2ab-b719-41b8-9949-284f4e39164b')" @click="showModal('7303e2ab-b719-41b8-9949-284f4e39164b')" :class="[returnClassRoom('7303e2ab-b719-41b8-9949-284f4e39164b'), { 'hoverSvgClassPark': activeFloor === '7303e2ab-b719-41b8-9949-284f4e39164b' }]" class="fil0" points="470.97,257.75 470.97,231.64 481.35,231.64 481.35,257.75 "/>
  <polygon id="f0eb5f1b-2045-4e79-8ec5-a85c645f2303" @mouseover="addHoverClass('f0eb5f1b-2045-4e79-8ec5-a85c645f2303')" @mouseleave="removeHoverClass('f0eb5f1b-2045-4e79-8ec5-a85c645f2303')" @click="showModal('f0eb5f1b-2045-4e79-8ec5-a85c645f2303')" :class="[returnClassRoom('f0eb5f1b-2045-4e79-8ec5-a85c645f2303'), { 'hoverSvgClassPark': activeFloor === 'f0eb5f1b-2045-4e79-8ec5-a85c645f2303' }]" class="fil0" points="482.78,257.75 482.78,231.64 493.15,231.64 493.15,257.75 "/>
  <polygon id="e167e28e-adb2-4ef9-bde2-22d4c3980fd9" @mouseover="addHoverClass('e167e28e-adb2-4ef9-bde2-22d4c3980fd9')" @mouseleave="removeHoverClass('e167e28e-adb2-4ef9-bde2-22d4c3980fd9')" @click="showModal('e167e28e-adb2-4ef9-bde2-22d4c3980fd9')" :class="[returnClassRoom('e167e28e-adb2-4ef9-bde2-22d4c3980fd9'), { 'hoverSvgClassPark': activeFloor === 'e167e28e-adb2-4ef9-bde2-22d4c3980fd9' }]" class="fil0" points="510.05,223.05 510.05,196.95 520.42,196.95 520.42,223.05 "/>
  <polygon id="63ed9dfa-b4bd-405c-8ec4-05c17efb4620" @mouseover="addHoverClass('63ed9dfa-b4bd-405c-8ec4-05c17efb4620')" @mouseleave="removeHoverClass('63ed9dfa-b4bd-405c-8ec4-05c17efb4620')" @click="showModal('63ed9dfa-b4bd-405c-8ec4-05c17efb4620')" :class="[returnClassRoom('63ed9dfa-b4bd-405c-8ec4-05c17efb4620'), { 'hoverSvgClassPark': activeFloor === '63ed9dfa-b4bd-405c-8ec4-05c17efb4620' }]" class="fil0" points="521.04,223.05 521.04,196.95 531.42,196.95 531.42,223.05 "/>
  <polygon id="9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2" @mouseover="addHoverClass('9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2')" @mouseleave="removeHoverClass('9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2')" @click="showModal('9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2')" :class="[returnClassRoom('9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2'), { 'hoverSvgClassPark': activeFloor === '9d7fcaf8-1eda-4ef7-b71d-d75ed791cbd2' }]" class="fil0" points="532.85,223.05 532.85,196.95 543.22,196.95 543.22,223.05 "/>
  <polygon id="303037ec-c9f5-4bb3-b8aa-467a99ed8c3b" @mouseover="addHoverClass('303037ec-c9f5-4bb3-b8aa-467a99ed8c3b')" @mouseleave="removeHoverClass('303037ec-c9f5-4bb3-b8aa-467a99ed8c3b')" @click="showModal('303037ec-c9f5-4bb3-b8aa-467a99ed8c3b')" :class="[returnClassRoom('303037ec-c9f5-4bb3-b8aa-467a99ed8c3b'), { 'hoverSvgClassPark': activeFloor === '303037ec-c9f5-4bb3-b8aa-467a99ed8c3b' }]" class="fil0" points="549.39,257.57 549.39,231.46 559.76,231.46 559.76,257.57 "/>
  <polygon id="ace57699-4791-4ecc-ba1c-4f3728485f74" @mouseover="addHoverClass('ace57699-4791-4ecc-ba1c-4f3728485f74')" @mouseleave="removeHoverClass('ace57699-4791-4ecc-ba1c-4f3728485f74')" @click="showModal('ace57699-4791-4ecc-ba1c-4f3728485f74')" :class="[returnClassRoom('ace57699-4791-4ecc-ba1c-4f3728485f74'), { 'hoverSvgClassPark': activeFloor === 'ace57699-4791-4ecc-ba1c-4f3728485f74' }]" class="fil0" points="561.1,257.66 561.1,231.55 571.48,231.55 571.48,257.66 "/>
  <polygon id="11ac90fc-8e2a-42d4-ab95-ddabe28e909f" @mouseover="addHoverClass('11ac90fc-8e2a-42d4-ab95-ddabe28e909f')" @mouseleave="removeHoverClass('11ac90fc-8e2a-42d4-ab95-ddabe28e909f')" @click="showModal('11ac90fc-8e2a-42d4-ab95-ddabe28e909f')" :class="[returnClassRoom('11ac90fc-8e2a-42d4-ab95-ddabe28e909f'), { 'hoverSvgClassPark': activeFloor === '11ac90fc-8e2a-42d4-ab95-ddabe28e909f' }]" class="fil0" points="572.19,257.57 572.19,231.46 582.56,231.46 582.56,257.57 "/>
  <polygon id="cde1bc96-635b-4535-b012-cae5ea824868" @mouseover="addHoverClass('cde1bc96-635b-4535-b012-cae5ea824868')" @mouseleave="removeHoverClass('cde1bc96-635b-4535-b012-cae5ea824868')" @click="showModal('cde1bc96-635b-4535-b012-cae5ea824868')" :class="[returnClassRoom('cde1bc96-635b-4535-b012-cae5ea824868'), { 'hoverSvgClassPark': activeFloor === 'cde1bc96-635b-4535-b012-cae5ea824868' }]" class="fil0" points="546.26,315.87 546.26,289.76 556.63,289.76 556.63,315.87 "/>
  <polygon id="a61f25e9-5f02-4281-9cdb-b15700dca69f" @mouseover="addHoverClass('a61f25e9-5f02-4281-9cdb-b15700dca69f')" @mouseleave="removeHoverClass('a61f25e9-5f02-4281-9cdb-b15700dca69f')" @click="showModal('a61f25e9-5f02-4281-9cdb-b15700dca69f')" :class="[returnClassRoom('a61f25e9-5f02-4281-9cdb-b15700dca69f'), { 'hoverSvgClassPark': activeFloor === 'a61f25e9-5f02-4281-9cdb-b15700dca69f' }]" class="fil0" points="557.26,315.87 557.26,289.76 567.63,289.76 567.63,315.87 "/>
  <polygon id="fed80cd5-27df-4214-b7eb-c50e29822772" @mouseover="addHoverClass('fed80cd5-27df-4214-b7eb-c50e29822772')" @mouseleave="removeHoverClass('fed80cd5-27df-4214-b7eb-c50e29822772')" @click="showModal('fed80cd5-27df-4214-b7eb-c50e29822772')" :class="[returnClassRoom('fed80cd5-27df-4214-b7eb-c50e29822772'), { 'hoverSvgClassPark': activeFloor === 'fed80cd5-27df-4214-b7eb-c50e29822772' }]" class="fil0" points="569.06,315.87 569.06,289.76 579.43,289.76 579.43,315.87 "/>
  <polygon id="5173cb6c-48bb-4630-a753-5d7758fc8921" @mouseover="addHoverClass('5173cb6c-48bb-4630-a753-5d7758fc8921')" @mouseleave="removeHoverClass('5173cb6c-48bb-4630-a753-5d7758fc8921')" @click="showModal('5173cb6c-48bb-4630-a753-5d7758fc8921')" :class="[returnClassRoom('5173cb6c-48bb-4630-a753-5d7758fc8921'), { 'hoverSvgClassPark': activeFloor === '5173cb6c-48bb-4630-a753-5d7758fc8921' }]" class="fil0" points="458.19,315.78 458.19,289.67 468.56,289.67 468.56,315.78 "/>
  <polygon id="90cc85a9-9396-4b6b-8923-61da3a49b21c" @mouseover="addHoverClass('90cc85a9-9396-4b6b-8923-61da3a49b21c')" @mouseleave="removeHoverClass('90cc85a9-9396-4b6b-8923-61da3a49b21c')" @click="showModal('90cc85a9-9396-4b6b-8923-61da3a49b21c')" :class="[returnClassRoom('90cc85a9-9396-4b6b-8923-61da3a49b21c'), { 'hoverSvgClassPark': activeFloor === '90cc85a9-9396-4b6b-8923-61da3a49b21c' }]" class="fil0" points="469.19,315.78 469.19,289.67 479.56,289.67 479.56,315.78 "/>
  <polygon id="3bc29407-f617-4a80-af5f-e2701a90c0ea" @mouseover="addHoverClass('3bc29407-f617-4a80-af5f-e2701a90c0ea')" @mouseleave="removeHoverClass('3bc29407-f617-4a80-af5f-e2701a90c0ea')" @click="showModal('3bc29407-f617-4a80-af5f-e2701a90c0ea')" :class="[returnClassRoom('3bc29407-f617-4a80-af5f-e2701a90c0ea'), { 'hoverSvgClassPark': activeFloor === '3bc29407-f617-4a80-af5f-e2701a90c0ea' }]" class="fil0" points="480.99,315.78 480.99,289.67 491.36,289.67 491.36,315.78 "/>
  <polygon id="a3430d45-b205-4d70-b072-81cfba071159" @mouseover="addHoverClass('a3430d45-b205-4d70-b072-81cfba071159')" @mouseleave="removeHoverClass('a3430d45-b205-4d70-b072-81cfba071159')" @click="showModal('a3430d45-b205-4d70-b072-81cfba071159')" :class="[returnClassRoom('a3430d45-b205-4d70-b072-81cfba071159'), { 'hoverSvgClassPark': activeFloor === 'a3430d45-b205-4d70-b072-81cfba071159' }]" class="fil0" points="348.3,315.87 348.3,289.76 358.67,289.76 358.67,315.87 "/>
  <polygon id="0786bc1e-e1e3-4d5b-a175-5656c89fa2b1" @mouseover="addHoverClass('0786bc1e-e1e3-4d5b-a175-5656c89fa2b1')" @mouseleave="removeHoverClass('0786bc1e-e1e3-4d5b-a175-5656c89fa2b1')" @click="showModal('0786bc1e-e1e3-4d5b-a175-5656c89fa2b1')" :class="[returnClassRoom('0786bc1e-e1e3-4d5b-a175-5656c89fa2b1'), { 'hoverSvgClassPark': activeFloor === '0786bc1e-e1e3-4d5b-a175-5656c89fa2b1' }]" class="fil0" points="359.3,315.87 359.3,289.76 369.67,289.76 369.67,315.87 "/>
  <polygon id="a5b13e9d-739f-4527-aa6b-22cebf9af4d9" @mouseover="addHoverClass('a5b13e9d-739f-4527-aa6b-22cebf9af4d9')" @mouseleave="removeHoverClass('a5b13e9d-739f-4527-aa6b-22cebf9af4d9')" @click="showModal('a5b13e9d-739f-4527-aa6b-22cebf9af4d9')" :class="[returnClassRoom('a5b13e9d-739f-4527-aa6b-22cebf9af4d9'), { 'hoverSvgClassPark': activeFloor === 'a5b13e9d-739f-4527-aa6b-22cebf9af4d9' }]" class="fil0" points="371.1,315.87 371.1,289.76 381.47,289.76 381.47,315.87 "/>
  <polygon id="5e891ab4-4417-4b9e-831a-59c4896e76bb" @mouseover="addHoverClass('5e891ab4-4417-4b9e-831a-59c4896e76bb')" @mouseleave="removeHoverClass('5e891ab4-4417-4b9e-831a-59c4896e76bb')" @click="showModal('5e891ab4-4417-4b9e-831a-59c4896e76bb')" :class="[returnClassRoom('5e891ab4-4417-4b9e-831a-59c4896e76bb'), { 'hoverSvgClassPark': activeFloor === '5e891ab4-4417-4b9e-831a-59c4896e76bb' }]" class="fil0" points="194.24,315.96 194.24,289.85 204.61,289.85 204.61,315.96 "/>
  <polygon id="1d97d056-fa03-4b10-9c45-ebea2aa78fe0" @mouseover="addHoverClass('1d97d056-fa03-4b10-9c45-ebea2aa78fe0')" @mouseleave="removeHoverClass('1d97d056-fa03-4b10-9c45-ebea2aa78fe0')" @click="showModal('1d97d056-fa03-4b10-9c45-ebea2aa78fe0')" :class="[returnClassRoom('1d97d056-fa03-4b10-9c45-ebea2aa78fe0'), { 'hoverSvgClassPark': activeFloor === '1d97d056-fa03-4b10-9c45-ebea2aa78fe0' }]" class="fil0" points="205.24,315.96 205.24,289.85 215.61,289.85 215.61,315.96 "/>
  <polygon id="abef3359-7483-408c-a50b-c35d2492d827" @mouseover="addHoverClass('abef3359-7483-408c-a50b-c35d2492d827')" @mouseleave="removeHoverClass('abef3359-7483-408c-a50b-c35d2492d827')" @click="showModal('abef3359-7483-408c-a50b-c35d2492d827')" :class="[returnClassRoom('abef3359-7483-408c-a50b-c35d2492d827'), { 'hoverSvgClassPark': activeFloor === 'abef3359-7483-408c-a50b-c35d2492d827' }]" class="fil0" points="217.04,315.96 217.04,289.85 227.41,289.85 227.41,315.96 "/>
  <polygon id="501b1557-a59d-4aba-8604-0fc9bbead217" @mouseover="addHoverClass('501b1557-a59d-4aba-8604-0fc9bbead217')" @mouseleave="removeHoverClass('501b1557-a59d-4aba-8604-0fc9bbead217')" @click="showModal('501b1557-a59d-4aba-8604-0fc9bbead217')" :class="[returnClassRoom('501b1557-a59d-4aba-8604-0fc9bbead217'), { 'hoverSvgClassPark': activeFloor === '501b1557-a59d-4aba-8604-0fc9bbead217' }]" class="fil0" points="553.68,223.14 553.68,197.04 564.06,197.04 564.06,223.14 "/>
  <polygon id="bc557854-bc0b-4718-98ef-6f6bc53e4991" @mouseover="addHoverClass('bc557854-bc0b-4718-98ef-6f6bc53e4991')" @mouseleave="removeHoverClass('bc557854-bc0b-4718-98ef-6f6bc53e4991')" @click="showModal('bc557854-bc0b-4718-98ef-6f6bc53e4991')" :class="[returnClassRoom('bc557854-bc0b-4718-98ef-6f6bc53e4991'), { 'hoverSvgClassPark': activeFloor === 'bc557854-bc0b-4718-98ef-6f6bc53e4991' }]" class="fil0" points="564.68,223.14 564.68,197.04 575.05,197.04 575.05,223.14 "/>
  <polygon id="15e33448-c651-4722-a654-6fefd5888b02" @mouseover="addHoverClass('15e33448-c651-4722-a654-6fefd5888b02')" @mouseleave="removeHoverClass('15e33448-c651-4722-a654-6fefd5888b02')" @click="showModal('15e33448-c651-4722-a654-6fefd5888b02')" :class="[returnClassRoom('15e33448-c651-4722-a654-6fefd5888b02'), { 'hoverSvgClassPark': activeFloor === '15e33448-c651-4722-a654-6fefd5888b02' }]" class="fil0" points="506.56,315.87 506.56,289.76 516.93,289.76 516.93,315.87 "/>
  <polygon id="9a108ede-1e88-405c-a6d5-825f3f3ba399" @mouseover="addHoverClass('9a108ede-1e88-405c-a6d5-825f3f3ba399')" @mouseleave="removeHoverClass('9a108ede-1e88-405c-a6d5-825f3f3ba399')" @click="showModal('9a108ede-1e88-405c-a6d5-825f3f3ba399')" :class="[returnClassRoom('9a108ede-1e88-405c-a6d5-825f3f3ba399'), { 'hoverSvgClassPark': activeFloor === '9a108ede-1e88-405c-a6d5-825f3f3ba399' }]" class="fil0" points="517.56,315.87 517.56,289.76 527.93,289.76 527.93,315.87 "/>
  <polygon id="ac757413-2bd7-43e4-a573-0f57e46e56e6" @mouseover="addHoverClass('ac757413-2bd7-43e4-a573-0f57e46e56e6')" @mouseleave="removeHoverClass('ac757413-2bd7-43e4-a573-0f57e46e56e6')" @click="showModal('ac757413-2bd7-43e4-a573-0f57e46e56e6')" :class="[returnClassRoom('ac757413-2bd7-43e4-a573-0f57e46e56e6'), { 'hoverSvgClassPark': activeFloor === 'ac757413-2bd7-43e4-a573-0f57e46e56e6' }]" class="fil0" points="507.27,257.84 507.27,231.73 517.65,231.73 517.65,257.84 "/>
  <polygon id="6e697757-4127-4aec-8612-54333dd7854b" @mouseover="addHoverClass('6e697757-4127-4aec-8612-54333dd7854b')" @mouseleave="removeHoverClass('6e697757-4127-4aec-8612-54333dd7854b')" @click="showModal('6e697757-4127-4aec-8612-54333dd7854b')" :class="[returnClassRoom('6e697757-4127-4aec-8612-54333dd7854b'), { 'hoverSvgClassPark': activeFloor === '6e697757-4127-4aec-8612-54333dd7854b' }]" class="fil0" points="519.53,257.75 519.53,231.64 529.9,231.64 529.9,257.75 "/>
  <polygon id="a2750e2f-30a7-4fbd-8ea2-eece892dc696" @mouseover="addHoverClass('a2750e2f-30a7-4fbd-8ea2-eece892dc696')" @mouseleave="removeHoverClass('a2750e2f-30a7-4fbd-8ea2-eece892dc696')" @click="showModal('a2750e2f-30a7-4fbd-8ea2-eece892dc696')" :class="[returnClassRoom('a2750e2f-30a7-4fbd-8ea2-eece892dc696'), { 'hoverSvgClassPark': activeFloor === 'a2750e2f-30a7-4fbd-8ea2-eece892dc696' }]" class="fil0" points="242.76,315.87 242.76,289.76 253.13,289.76 253.13,315.87 "/>
  <polygon id="a3c28008-e5e1-4f9b-9061-7cd10dd8e781" @mouseover="addHoverClass('a3c28008-e5e1-4f9b-9061-7cd10dd8e781')" @mouseleave="removeHoverClass('a3c28008-e5e1-4f9b-9061-7cd10dd8e781')" @click="showModal('a3c28008-e5e1-4f9b-9061-7cd10dd8e781')" :class="[returnClassRoom('a3c28008-e5e1-4f9b-9061-7cd10dd8e781'), { 'hoverSvgClassPark': activeFloor === 'a3c28008-e5e1-4f9b-9061-7cd10dd8e781' }]" class="fil0" points="253.76,315.87 253.76,289.76 264.13,289.76 264.13,315.87 "/>
  <polygon id="2ced55f7-2b7d-40e4-882f-a73932c0604d" @mouseover="addHoverClass('2ced55f7-2b7d-40e4-882f-a73932c0604d')" @mouseleave="removeHoverClass('2ced55f7-2b7d-40e4-882f-a73932c0604d')" @click="showModal('2ced55f7-2b7d-40e4-882f-a73932c0604d')" :class="[returnClassRoom('2ced55f7-2b7d-40e4-882f-a73932c0604d'), { 'hoverSvgClassPark': activeFloor === '2ced55f7-2b7d-40e4-882f-a73932c0604d' }]" class="fil0" points="157.04,315.87 157.04,289.76 167.42,289.76 167.42,315.87 "/>
  <polygon id="f3ecb0cc-9936-4363-be4b-2b2af359caa5" @mouseover="addHoverClass('f3ecb0cc-9936-4363-be4b-2b2af359caa5')" @mouseleave="removeHoverClass('f3ecb0cc-9936-4363-be4b-2b2af359caa5')" @click="showModal('f3ecb0cc-9936-4363-be4b-2b2af359caa5')" :class="[returnClassRoom('f3ecb0cc-9936-4363-be4b-2b2af359caa5'), { 'hoverSvgClassPark': activeFloor === 'f3ecb0cc-9936-4363-be4b-2b2af359caa5' }]" class="fil0" points="168.04,315.87 168.04,289.76 178.42,289.76 178.42,315.87 "/>
  <polygon id="35d45241-61d1-49a7-a316-d4fc320027ad" @mouseover="addHoverClass('35d45241-61d1-49a7-a316-d4fc320027ad')" @mouseleave="removeHoverClass('35d45241-61d1-49a7-a316-d4fc320027ad')" @click="showModal('35d45241-61d1-49a7-a316-d4fc320027ad')" :class="[returnClassRoom('35d45241-61d1-49a7-a316-d4fc320027ad'), { 'hoverSvgClassPark': activeFloor === '35d45241-61d1-49a7-a316-d4fc320027ad' }]" class="fil0" points="328.99,316.05 328.99,289.94 339.36,289.94 339.36,316.05 "/>
  <polygon id="25303ffe-ea78-4a77-9a98-652b7a71e0b0" @mouseover="addHoverClass('25303ffe-ea78-4a77-9a98-652b7a71e0b0')" @mouseleave="removeHoverClass('25303ffe-ea78-4a77-9a98-652b7a71e0b0')" @click="showModal('25303ffe-ea78-4a77-9a98-652b7a71e0b0')" :class="[returnClassRoom('25303ffe-ea78-4a77-9a98-652b7a71e0b0'), { 'hoverSvgClassPark': activeFloor === '25303ffe-ea78-4a77-9a98-652b7a71e0b0' }]" class="fil0" points="434.85,257.57 434.85,231.46 445.22,231.46 445.22,257.57 "/>
  <polygon id="ae95ea8c-2b2d-4903-a143-76953403ec78" @mouseover="addHoverClass('ae95ea8c-2b2d-4903-a143-76953403ec78')" @mouseleave="removeHoverClass('ae95ea8c-2b2d-4903-a143-76953403ec78')" @click="showModal('ae95ea8c-2b2d-4903-a143-76953403ec78')" :class="[returnClassRoom('ae95ea8c-2b2d-4903-a143-76953403ec78'), { 'hoverSvgClassPark': activeFloor === 'ae95ea8c-2b2d-4903-a143-76953403ec78' }]" class="fil0" points="400.02,315.82 400.02,289.72 414.51,289.72 414.51,315.82 "/>
  <polygon id="8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4" @mouseover="addHoverClass('8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4')" @mouseleave="removeHoverClass('8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4')" @click="showModal('8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4')" :class="[returnClassRoom('8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4'), { 'hoverSvgClassPark': activeFloor === '8e949ec3-c4a6-4d1a-9c54-f9a854d64fd4' }]" class="fil0" points="587.37,169.53 613.03,169.53 613.03,179.91 587.37,179.91 "/>
  <polygon id="039003b9-1e31-4590-a5f8-82b08ba1adba" @mouseover="addHoverClass('039003b9-1e31-4590-a5f8-82b08ba1adba')" @mouseleave="removeHoverClass('039003b9-1e31-4590-a5f8-82b08ba1adba')" @click="showModal('039003b9-1e31-4590-a5f8-82b08ba1adba')" :class="[returnClassRoom('039003b9-1e31-4590-a5f8-82b08ba1adba'), { 'hoverSvgClassPark': activeFloor === '039003b9-1e31-4590-a5f8-82b08ba1adba' }]" class="fil0" points="587.37,180.53 613.03,180.53 613.03,190.9 587.37,190.9 "/>
  <polygon id="d9fe3d61-b6be-414c-bcec-827cc069f9b3" @mouseover="addHoverClass('d9fe3d61-b6be-414c-bcec-827cc069f9b3')" @mouseleave="removeHoverClass('d9fe3d61-b6be-414c-bcec-827cc069f9b3')" @click="showModal('d9fe3d61-b6be-414c-bcec-827cc069f9b3')" :class="[returnClassRoom('d9fe3d61-b6be-414c-bcec-827cc069f9b3'), { 'hoverSvgClassPark': activeFloor === 'd9fe3d61-b6be-414c-bcec-827cc069f9b3' }]" class="fil0" points="589.87,258.56 615.53,258.56 615.53,268.93 589.87,268.93 "/>
  <polygon id="3350df7c-3690-4af0-a8b6-125f141517f2" @mouseover="addHoverClass('3350df7c-3690-4af0-a8b6-125f141517f2')" @mouseleave="removeHoverClass('3350df7c-3690-4af0-a8b6-125f141517f2')" @click="showModal('3350df7c-3690-4af0-a8b6-125f141517f2')" :class="[returnClassRoom('3350df7c-3690-4af0-a8b6-125f141517f2'), { 'hoverSvgClassPark': activeFloor === '3350df7c-3690-4af0-a8b6-125f141517f2' }]" class="fil0" points="589.87,269.55 615.53,269.55 615.53,279.93 589.87,279.93 "/>
  <polygon id="aea1ce84-29a2-4989-b5d8-fc7a48370220" @mouseover="addHoverClass('aea1ce84-29a2-4989-b5d8-fc7a48370220')" @mouseleave="removeHoverClass('aea1ce84-29a2-4989-b5d8-fc7a48370220')" @click="showModal('aea1ce84-29a2-4989-b5d8-fc7a48370220')" :class="[returnClassRoom('aea1ce84-29a2-4989-b5d8-fc7a48370220'), { 'hoverSvgClassPark': activeFloor === 'aea1ce84-29a2-4989-b5d8-fc7a48370220' }]" class="fil0" points="589.87,280.64 615.53,280.64 615.53,291.01 589.87,291.01 "/>
  <polygon id="8c33af86-8927-4ee3-ae51-c0b6eec7a1d1" @mouseover="addHoverClass('8c33af86-8927-4ee3-ae51-c0b6eec7a1d1')" @mouseleave="removeHoverClass('8c33af86-8927-4ee3-ae51-c0b6eec7a1d1')" @click="showModal('8c33af86-8927-4ee3-ae51-c0b6eec7a1d1')" :class="[returnClassRoom('8c33af86-8927-4ee3-ae51-c0b6eec7a1d1'), { 'hoverSvgClassPark': activeFloor === '8c33af86-8927-4ee3-ae51-c0b6eec7a1d1' }]" class="fil0" points="299.64,284.28 325.3,284.28 325.3,294.65 299.64,294.65 "/>
 </g>
</svg>
   </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>