

<template>
 <div>
  <SvgPanZoom
      style="width: 100%; height: 500px; margin: auto;"
      :zoomEnabled="true"
      :controlIconsEnabled="true"
      :fit="false"
      :center="true">
   <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="426px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 490.68 386.2"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>

   <clipPath id="id0">
    <rect width="490.68" height="386.2"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-03-floor.png" x="0" y="0" width="490.68" height="386.2"></image>
  </g>
  <!--<polygon class="fil0" points="432.05,110.01 439.76,110.01 439.76,128.9 432.05,128.9 "/>-->
  <!--<polygon class="fil0" points="423.1,110.01 430.81,110.01 430.81,128.9 423.1,128.9 "/>-->
  <!--<polygon class="fil0" points="414.32,110.01 422.03,110.01 422.03,128.9 414.32,128.9 414.32,126.32 416.5,125.51 416.43,122.2 414.32,122.16 "/>-->
  <!--<polygon class="fil0" points="400.76,110.01 408.47,110.01 408.47,128.9 400.76,128.9 "/>-->
  <!--<polygon class="fil0" points="391.36,110.01 399.08,110.01 399.08,128.9 391.36,128.9 "/>-->
  <!--<polygon class="fil0" points="382.85,110.01 390.57,110.01 390.57,128.9 382.85,128.9 "/>-->
  <!--<polygon class="fil0" points="368.41,110.01 376.12,110.01 376.12,128.9 368.41,128.9 "/>-->
  <!--<polygon class="fil0" points="359.36,110.01 367.08,110.01 367.08,128.9 359.36,128.9 "/>-->
  <!--<polygon class="fil0" points="350.76,110.01 358.48,110.01 358.48,128.9 350.76,128.9 "/>-->
  <!--<polygon class="fil0" points="336.58,110.01 344.29,110.01 344.29,128.9 336.58,128.9 "/>-->
  <!--<polygon class="fil0" points="328.16,110.01 335.87,110.01 335.87,128.9 328.16,128.9 "/>-->
  <!--<polygon class="fil0" points="313.89,110.01 321.6,110.01 321.6,128.9 313.89,128.9 "/>-->
  <!--<polygon class="fil0" points="305.2,110.01 312.91,110.01 312.91,128.9 305.2,128.9 "/>-->
  <!--<polygon class="fil0" points="295.81,110.01 303.52,110.01 303.52,128.9 295.81,128.9 "/>-->
  <!--<polygon class="fil0" points="280.56,110.01 288.27,110.01 288.27,128.9 280.56,128.9 "/>-->
  <!--<polygon class="fil0" points="248.29,110.01 256,110.01 256,128.9 248.29,128.9 "/>-->
  <!--<polygon class="fil0" points="239.43,110.01 247.14,110.01 247.14,128.9 239.43,128.9 "/>-->
  <!--<polygon class="fil0" points="230.21,110.01 237.92,110.01 237.92,128.9 230.21,128.9 "/>-->
  <!--<polygon class="fil0" points="215.32,110.01 223.03,110.01 223.03,128.9 215.32,128.9 "/>-->
  <!--<polygon class="fil0" points="207.07,110.01 214.78,110.01 214.78,128.9 207.07,128.9 "/>-->
  <!--<polygon class="fil0" points="198.83,110.01 206.54,110.01 206.54,128.9 198.83,128.9 "/>-->
  <!--<polygon class="fil0" points="183.67,110.01 191.38,110.01 191.38,122.38 189.84,122.38 189.81,125.61 191.38,127.16 191.38,128.9 183.67,128.9 "/>-->
  <!--<polygon class="fil0" points="175.43,110.01 183.14,110.01 183.14,128.9 175.43,128.9 "/>-->
  <!--<polygon class="fil0" points="152.32,110.01 160.03,110.01 160.03,122.42 157.83,122.44 157.82,125.43 160.03,127.16 160.03,128.9 152.32,128.9 "/>-->
  <!--<polygon class="fil0" points="144.08,110.01 151.79,110.01 151.79,128.9 144.08,128.9 "/>-->
  <!--<polygon class="fil0" points="129.95,151.68 137.66,151.68 137.66,170.56 129.95,170.56 "/>-->
  <!--<polygon class="fil0" points="121.71,151.68 129.42,151.68 129.42,170.56 121.71,170.56 "/>-->
  <!--<polygon class="fil0" points="113.46,151.68 121.18,151.68 121.18,170.56 113.46,170.56 "/>-->
  <!--<polygon class="fil0" points="153.4,151.68 161.11,151.68 161.11,170.56 153.4,170.56 "/>-->
  <!--<polygon class="fil0" points="145.15,151.68 152.87,151.68 152.87,170.56 145.15,170.56 "/>-->
  <!--<polygon class="fil0" points="183.18,151.68 190.89,151.68 190.89,170.56 183.18,170.56 "/>-->
  <!--<polygon class="fil0" points="174.94,151.68 182.65,151.68 182.65,170.56 174.94,170.56 "/>-->
  <!--<polygon class="fil0" points="166.69,151.68 174.41,151.68 174.41,170.56 166.69,170.56 "/>-->
  <!--<polygon class="fil0" points="215.09,151.68 222.81,151.68 222.81,170.56 215.09,170.56 "/>-->
  <!--<polygon class="fil0" points="206.85,151.68 214.56,151.68 214.56,170.56 206.85,170.56 "/>-->
  <!--<polygon class="fil0" points="198.61,151.68 206.32,151.68 206.32,170.56 198.61,170.56 "/>-->
  <!--<polygon class="fil0" points="246.65,151.68 254.36,151.68 254.36,170.56 246.65,170.56 "/>-->
  <!--<polygon class="fil0" points="238.41,151.68 246.12,151.68 246.12,170.56 238.41,170.56 "/>-->
  <!--<polygon class="fil0" points="230.16,151.68 237.87,151.68 237.87,170.56 230.16,170.56 "/>-->
  <!--<polygon class="fil0" points="278.92,151.68 286.63,151.68 286.63,170.56 278.92,170.56 "/>-->
  <!--<polygon class="fil0" points="270.67,151.68 278.39,151.68 278.39,170.56 270.67,170.56 "/>-->
  <!--<polygon class="fil0" points="262.43,151.68 270.14,151.68 270.14,170.56 262.43,170.56 "/>-->
  <!--<polygon class="fil0" points="391.36,151.32 399.08,151.32 399.08,170.2 391.36,170.2 "/>-->
  <!--<polygon class="fil0" points="382.85,151.32 390.57,151.32 390.57,170.2 382.85,170.2 "/>-->
  <!--<polygon class="fil0" points="368,151.32 375.71,151.32 375.71,170.2 368,170.2 "/>-->
  <!--<polygon class="fil0" points="359.36,151.32 367.08,151.32 367.08,170.2 359.36,170.2 "/>-->
  <!--<polygon class="fil0" points="350.76,151.32 358.48,151.32 358.48,170.2 350.76,170.2 "/>-->
  <!--<polygon class="fil0" points="336.98,151.32 344.69,151.32 344.69,170.2 336.98,170.2 "/>-->
  <!--<polygon class="fil0" points="328.16,151.32 335.87,151.32 335.87,170.2 328.16,170.2 "/>-->
  <!--<polygon class="fil0" points="391.36,177.03 399.08,177.03 399.08,195.91 391.36,195.91 "/>-->
  <!--<polygon class="fil0" points="382.85,177.03 390.57,177.03 390.57,195.91 382.85,195.91 "/>-->
  <!--<polygon class="fil0" points="367.6,177.03 375.31,177.03 375.31,195.91 367.6,195.91 "/>-->
  <!--<polygon class="fil0" points="359.36,177.03 367.08,177.03 367.08,195.91 359.36,195.91 "/>-->
  <!--<polygon class="fil0" points="350.76,177.03 358.48,177.03 358.48,195.91 350.76,195.91 "/>-->
  <!--<polygon class="fil0" points="328.16,177.03 335.87,177.03 335.87,195.91 328.16,195.91 "/>-->
  <!--<polygon class="fil0" points="121.19,177.21 128.9,177.21 128.9,196.09 121.19,196.09 "/>-->
  <!--<polygon class="fil0" points="112.95,177.21 120.66,177.21 120.66,196.09 112.95,196.09 "/>-->
  <!--<polygon class="fil0" points="162.35,177.17 168.43,177.17 168.38,189.93 170.06,189.84 170.06,196.05 162.35,196.05 "/>-->
  <!--<polygon class="fil0" points="154.11,177.17 161.82,177.17 161.82,196.05 154.11,196.05 "/>-->
  <!--<polygon class="fil0" points="145.86,177.17 153.57,177.17 153.57,196.05 145.86,196.05 "/>-->
  <!--<polygon class="fil0" points="181.53,177.21 189.24,177.21 189.24,196.09 181.53,196.09 "/>-->
  <!--<polygon class="fil0" points="207.14,177.21 214.85,177.21 214.85,196.09 207.14,196.09 "/>-->
  <!--<polygon class="fil0" points="198.9,177.21 206.61,177.21 206.61,196.09 198.9,196.09 "/>-->
  <!--<polygon class="fil0" points="238.17,177.21 245.88,177.21 245.88,196.09 238.17,196.09 "/>-->
  <!--<polygon class="fil0" points="229.93,177.21 237.64,177.21 237.64,196.09 229.93,196.09 "/>-->
  <!--<polygon class="fil0" points="246.41,177.21 254.12,177.21 254.12,196.09 246.41,196.09 "/>-->
  <!--<polygon class="fil0" points="272.67,177.21 280.38,177.21 280.38,196.09 272.67,196.09 "/>-->
  <!--<polygon class="fil0" points="264.03,177.21 271.74,177.21 271.74,196.09 264.03,196.09 "/>-->
  <!--<polygon class="fil0" points="281.31,177.21 289.02,177.21 289.02,196.09 281.31,196.09 "/>-->
  <!--<polygon class="fil0" points="280.6,151.68 288.31,151.68 288.31,170.56 280.6,170.56 "/>-->
  <!--<polygon class="fil0" points="424.69,224.37 432.41,224.37 432.41,243.25 424.69,243.25 "/>-->
  <!--<polygon class="fil0" points="416.18,224.37 423.9,224.37 423.9,243.25 416.18,243.25 "/>-->
  <!--<polygon class="fil0" points="271.59,220.96 279.31,220.96 279.31,239.84 271.59,239.84 "/>-->
  <!--<polygon class="fil0" points="263.35,220.96 271.06,220.96 271.06,239.84 263.35,239.84 "/>-->
  <!--<polygon class="fil0" points="279.83,220.96 287.54,220.96 287.54,239.84 279.83,239.84 "/>-->
  <!--<polygon class="fil0" points="235.99,220.82 243.71,220.82 243.71,239.7 235.99,239.7 "/>-->
  <!--<polygon class="fil0" points="227.35,220.82 235.06,220.82 235.06,239.7 227.35,239.7 "/>-->
  <!--<polygon class="fil0" points="244.63,220.82 252.35,220.82 252.35,239.7 244.63,239.7 "/>-->
  <!--<polygon class="fil0" points="188.53,221.17 196.24,221.17 196.24,240.06 188.53,240.06 "/>-->
  <!--<polygon class="fil0" points="179.88,221.17 187.59,221.17 187.59,240.06 179.88,240.06 "/>-->
  <!--<polygon class="fil0" points="197.17,221.17 204.88,221.17 204.88,240.06 197.17,240.06 "/>-->
  <!--<polygon class="fil0" points="153.99,221.17 161.7,221.17 161.7,240.06 153.99,240.06 "/>-->
  <!--<polygon class="fil0" points="145.35,221.17 153.06,221.17 153.06,240.06 145.35,240.06 "/>-->
  <!--<polygon class="fil0" points="162.63,221.17 170.34,221.17 170.34,240.06 162.63,240.06 "/>-->
  <!--<polygon class="fil0" points="122.67,221.17 130.38,221.17 130.38,240.06 122.67,240.06 "/>-->
  <!--<polygon class="fil0" points="205.77,221.17 213.48,221.17 213.48,240.06 205.77,240.06 "/>-->
  <!--<polygon class="fil0" points="167.23,110.01 174.94,110.01 174.94,128.9 167.23,128.9 "/>-->
  <polygon ref="aee6072a-ecef-4b93-bd9c-346be5fbf570" id="aee6072a-ecef-4b93-bd9c-346be5fbf570" @mouseover="addHoverClass('aee6072a-ecef-4b93-bd9c-346be5fbf570')" @mouseleave="removeHoverClass('aee6072a-ecef-4b93-bd9c-346be5fbf570')" @click="showModal('aee6072a-ecef-4b93-bd9c-346be5fbf570')" :class="[returnClassRoom('aee6072a-ecef-4b93-bd9c-346be5fbf570'), { 'hoverSvgClassPark': activeFloor === 'aee6072a-ecef-4b93-bd9c-346be5fbf570' }]" class="fil0" points="432.05,110.01 439.76,110.01 439.76,128.9 432.05,128.9 "/>
  <polygon ref="91222f07-e525-46b5-92a7-df3f94b1ca85" id="91222f07-e525-46b5-92a7-df3f94b1ca85" @mouseover="addHoverClass('91222f07-e525-46b5-92a7-df3f94b1ca85')" @mouseleave="removeHoverClass('91222f07-e525-46b5-92a7-df3f94b1ca85')" @click="showModal('91222f07-e525-46b5-92a7-df3f94b1ca85')" :class="[returnClassRoom('91222f07-e525-46b5-92a7-df3f94b1ca85'), { 'hoverSvgClassPark': activeFloor === '91222f07-e525-46b5-92a7-df3f94b1ca85' }]" class="fil0" points="423.1,110.01 430.81,110.01 430.81,128.9 423.1,128.9 "/>
  <polygon ref="ab700891-f664-4209-88cb-bf9e5f2aa74e" id="ab700891-f664-4209-88cb-bf9e5f2aa74e" @mouseover="addHoverClass('ab700891-f664-4209-88cb-bf9e5f2aa74e')" @mouseleave="removeHoverClass('ab700891-f664-4209-88cb-bf9e5f2aa74e')" @click="showModal('ab700891-f664-4209-88cb-bf9e5f2aa74e')" :class="[returnClassRoom('ab700891-f664-4209-88cb-bf9e5f2aa74e'), { 'hoverSvgClassPark': activeFloor === 'ab700891-f664-4209-88cb-bf9e5f2aa74e' }]" class="fil0" points="414.32,110.01 422.03,110.01 422.03,128.9 414.32,128.9 414.32,126.32 416.5,125.51 416.43,122.2 414.32,122.16 "/>
  <polygon ref="ed79a944-7875-49a2-b4e5-a8cd2ba60770" id="ed79a944-7875-49a2-b4e5-a8cd2ba60770" @mouseover="addHoverClass('ed79a944-7875-49a2-b4e5-a8cd2ba60770')" @mouseleave="removeHoverClass('ed79a944-7875-49a2-b4e5-a8cd2ba60770')" @click="showModal('ed79a944-7875-49a2-b4e5-a8cd2ba60770')" :class="[returnClassRoom('ed79a944-7875-49a2-b4e5-a8cd2ba60770'), { 'hoverSvgClassPark': activeFloor === 'ed79a944-7875-49a2-b4e5-a8cd2ba60770' }]" class="fil0" points="400.76,110.01 408.47,110.01 408.47,128.9 400.76,128.9 "/>
  <polygon ref="db6fc5a5-7e60-4c72-8377-e6c6a79e4950" id="db6fc5a5-7e60-4c72-8377-e6c6a79e4950" @mouseover="addHoverClass('db6fc5a5-7e60-4c72-8377-e6c6a79e4950')" @mouseleave="removeHoverClass('db6fc5a5-7e60-4c72-8377-e6c6a79e4950')" @click="showModal('db6fc5a5-7e60-4c72-8377-e6c6a79e4950')" :class="[returnClassRoom('db6fc5a5-7e60-4c72-8377-e6c6a79e4950'), { 'hoverSvgClassPark': activeFloor === 'db6fc5a5-7e60-4c72-8377-e6c6a79e4950' }]" class="fil0" points="391.36,110.01 399.08,110.01 399.08,128.9 391.36,128.9 "/>
  <polygon ref="80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b" id="80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b" @mouseover="addHoverClass('80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b')" @mouseleave="removeHoverClass('80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b')" @click="showModal('80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b')" :class="[returnClassRoom('80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b'), { 'hoverSvgClassPark': activeFloor === '80f1ab50-4fa3-4f2e-bc54-6eb514e0c28b' }]" class="fil0" points="382.85,110.01 390.57,110.01 390.57,128.9 382.85,128.9 "/>
  <polygon ref="cd87cf11-b827-4ad3-87c5-e66f5cb6fe48" id="cd87cf11-b827-4ad3-87c5-e66f5cb6fe48" @mouseover="addHoverClass('cd87cf11-b827-4ad3-87c5-e66f5cb6fe48')" @mouseleave="removeHoverClass('cd87cf11-b827-4ad3-87c5-e66f5cb6fe48')" @click="showModal('cd87cf11-b827-4ad3-87c5-e66f5cb6fe48')" :class="[returnClassRoom('cd87cf11-b827-4ad3-87c5-e66f5cb6fe48'), { 'hoverSvgClassPark': activeFloor === 'cd87cf11-b827-4ad3-87c5-e66f5cb6fe48' }]" class="fil0" points="368.41,110.01 376.12,110.01 376.12,128.9 368.41,128.9 "/>
  <polygon ref="b0ca73bc-e8bf-45d5-aa08-52eb166cb192" id="b0ca73bc-e8bf-45d5-aa08-52eb166cb192" @mouseover="addHoverClass('b0ca73bc-e8bf-45d5-aa08-52eb166cb192')" @mouseleave="removeHoverClass('b0ca73bc-e8bf-45d5-aa08-52eb166cb192')" @click="showModal('b0ca73bc-e8bf-45d5-aa08-52eb166cb192')" :class="[returnClassRoom('b0ca73bc-e8bf-45d5-aa08-52eb166cb192'), { 'hoverSvgClassPark': activeFloor === 'b0ca73bc-e8bf-45d5-aa08-52eb166cb192' }]" class="fil0" points="359.36,110.01 367.08,110.01 367.08,128.9 359.36,128.9 "/>
  <polygon ref="8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1" id="8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1" @mouseover="addHoverClass('8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1')" @mouseleave="removeHoverClass('8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1')" @click="showModal('8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1')" :class="[returnClassRoom('8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1'), { 'hoverSvgClassPark': activeFloor === '8fcf9b30-c096-4bde-aa8d-0ccc5a0a30d1' }]" class="fil0" points="350.76,110.01 358.48,110.01 358.48,128.9 350.76,128.9 "/>
  <polygon ref="a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4" id="a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4" @mouseover="addHoverClass('a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4')" @mouseleave="removeHoverClass('a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4')" @click="showModal('a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4')" :class="[returnClassRoom('a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4'), { 'hoverSvgClassPark': activeFloor === 'a1f42a5c-9f48-4e92-b2ea-75e1f15f70d4' }]" class="fil0" points="336.58,110.01 344.29,110.01 344.29,128.9 336.58,128.9 "/>
  <polygon ref="828d8ae2-8572-4dc3-a88f-09dfa77952af" id="828d8ae2-8572-4dc3-a88f-09dfa77952af" @mouseover="addHoverClass('828d8ae2-8572-4dc3-a88f-09dfa77952af')" @mouseleave="removeHoverClass('828d8ae2-8572-4dc3-a88f-09dfa77952af')" @click="showModal('828d8ae2-8572-4dc3-a88f-09dfa77952af')" :class="[returnClassRoom('828d8ae2-8572-4dc3-a88f-09dfa77952af'), { 'hoverSvgClassPark': activeFloor === '828d8ae2-8572-4dc3-a88f-09dfa77952af' }]" class="fil0" points="328.16,110.01 335.87,110.01 335.87,128.9 328.16,128.9 "/>
  <polygon ref="fcb16c32-2b3d-4ede-9763-1fa218bcbd66" id="fcb16c32-2b3d-4ede-9763-1fa218bcbd66" @mouseover="addHoverClass('fcb16c32-2b3d-4ede-9763-1fa218bcbd66')" @mouseleave="removeHoverClass('fcb16c32-2b3d-4ede-9763-1fa218bcbd66')" @click="showModal('fcb16c32-2b3d-4ede-9763-1fa218bcbd66')" :class="[returnClassRoom('fcb16c32-2b3d-4ede-9763-1fa218bcbd66'), { 'hoverSvgClassPark': activeFloor === 'fcb16c32-2b3d-4ede-9763-1fa218bcbd66' }]" class="fil0" points="313.89,110.01 321.6,110.01 321.6,128.9 313.89,128.9 "/>
  <polygon ref="12c58e4c-526c-4f56-9653-5ceff3cf267a" id="12c58e4c-526c-4f56-9653-5ceff3cf267a" @mouseover="addHoverClass('12c58e4c-526c-4f56-9653-5ceff3cf267a')" @mouseleave="removeHoverClass('12c58e4c-526c-4f56-9653-5ceff3cf267a')" @click="showModal('12c58e4c-526c-4f56-9653-5ceff3cf267a')" :class="[returnClassRoom('12c58e4c-526c-4f56-9653-5ceff3cf267a'), { 'hoverSvgClassPark': activeFloor === '12c58e4c-526c-4f56-9653-5ceff3cf267a' }]" class="fil0" points="305.2,110.01 312.91,110.01 312.91,128.9 305.2,128.9 "/>
  <polygon ref="c7b5fcce-2846-469e-b331-c2719260be8c" id="c7b5fcce-2846-469e-b331-c2719260be8c" @mouseover="addHoverClass('c7b5fcce-2846-469e-b331-c2719260be8c')" @mouseleave="removeHoverClass('c7b5fcce-2846-469e-b331-c2719260be8c')" @click="showModal('c7b5fcce-2846-469e-b331-c2719260be8c')" :class="[returnClassRoom('c7b5fcce-2846-469e-b331-c2719260be8c'), { 'hoverSvgClassPark': activeFloor === 'c7b5fcce-2846-469e-b331-c2719260be8c' }]" class="fil0" points="295.81,110.01 303.52,110.01 303.52,128.9 295.81,128.9 "/>
  <polygon ref="4d827cc9-79a9-4730-8575-007e9213e7f9" id="4d827cc9-79a9-4730-8575-007e9213e7f9" @mouseover="addHoverClass('4d827cc9-79a9-4730-8575-007e9213e7f9')" @mouseleave="removeHoverClass('4d827cc9-79a9-4730-8575-007e9213e7f9')" @click="showModal('4d827cc9-79a9-4730-8575-007e9213e7f9')" :class="[returnClassRoom('4d827cc9-79a9-4730-8575-007e9213e7f9'), { 'hoverSvgClassPark': activeFloor === '4d827cc9-79a9-4730-8575-007e9213e7f9' }]" class="fil0" points="280.56,110.01 288.27,110.01 288.27,128.9 280.56,128.9 "/>
  <polygon ref="df06512e-cd6a-46bb-a6a7-583a9c35a32c" id="df06512e-cd6a-46bb-a6a7-583a9c35a32c" @mouseover="addHoverClass('df06512e-cd6a-46bb-a6a7-583a9c35a32c')" @mouseleave="removeHoverClass('df06512e-cd6a-46bb-a6a7-583a9c35a32c')" @click="showModal('df06512e-cd6a-46bb-a6a7-583a9c35a32c')" :class="[returnClassRoom('df06512e-cd6a-46bb-a6a7-583a9c35a32c'), { 'hoverSvgClassPark': activeFloor === 'df06512e-cd6a-46bb-a6a7-583a9c35a32c' }]" class="fil0" points="248.29,110.01 256,110.01 256,128.9 248.29,128.9 "/>
  <polygon ref="20c7260c-2b09-4729-af58-73b85dcd0c9f" id="20c7260c-2b09-4729-af58-73b85dcd0c9f" @mouseover="addHoverClass('20c7260c-2b09-4729-af58-73b85dcd0c9f')" @mouseleave="removeHoverClass('20c7260c-2b09-4729-af58-73b85dcd0c9f')" @click="showModal('20c7260c-2b09-4729-af58-73b85dcd0c9f')" :class="[returnClassRoom('20c7260c-2b09-4729-af58-73b85dcd0c9f'), { 'hoverSvgClassPark': activeFloor === '20c7260c-2b09-4729-af58-73b85dcd0c9f' }]" class="fil0" points="239.43,110.01 247.14,110.01 247.14,128.9 239.43,128.9 "/>
  <polygon ref="40fab7aa-500a-4d62-8926-7098cfa55965" id="40fab7aa-500a-4d62-8926-7098cfa55965" @mouseover="addHoverClass('40fab7aa-500a-4d62-8926-7098cfa55965')" @mouseleave="removeHoverClass('40fab7aa-500a-4d62-8926-7098cfa55965')" @click="showModal('40fab7aa-500a-4d62-8926-7098cfa55965')" :class="[returnClassRoom('40fab7aa-500a-4d62-8926-7098cfa55965'), { 'hoverSvgClassPark': activeFloor === '40fab7aa-500a-4d62-8926-7098cfa55965' }]" class="fil0" points="230.21,110.01 237.92,110.01 237.92,128.9 230.21,128.9 "/>
  <polygon ref="2521d3c3-f1e2-492b-b2d0-d212dd36548b" id="2521d3c3-f1e2-492b-b2d0-d212dd36548b" @mouseover="addHoverClass('2521d3c3-f1e2-492b-b2d0-d212dd36548b')" @mouseleave="removeHoverClass('2521d3c3-f1e2-492b-b2d0-d212dd36548b')" @click="showModal('2521d3c3-f1e2-492b-b2d0-d212dd36548b')" :class="[returnClassRoom('2521d3c3-f1e2-492b-b2d0-d212dd36548b'), { 'hoverSvgClassPark': activeFloor === '2521d3c3-f1e2-492b-b2d0-d212dd36548b' }]" class="fil0" points="215.32,110.01 223.03,110.01 223.03,128.9 215.32,128.9 "/>
  <polygon ref="d1259466-4eef-4017-a4ee-da79bb41461b" id="d1259466-4eef-4017-a4ee-da79bb41461b" @mouseover="addHoverClass('d1259466-4eef-4017-a4ee-da79bb41461b')" @mouseleave="removeHoverClass('d1259466-4eef-4017-a4ee-da79bb41461b')" @click="showModal('d1259466-4eef-4017-a4ee-da79bb41461b')" :class="[returnClassRoom('d1259466-4eef-4017-a4ee-da79bb41461b'), { 'hoverSvgClassPark': activeFloor === 'd1259466-4eef-4017-a4ee-da79bb41461b' }]" class="fil0" points="207.07,110.01 214.78,110.01 214.78,128.9 207.07,128.9 "/>
  <polygon ref="3604f1ed-dbe0-40e7-ba3c-e6705a464bf9" id="3604f1ed-dbe0-40e7-ba3c-e6705a464bf9" @mouseover="addHoverClass('3604f1ed-dbe0-40e7-ba3c-e6705a464bf9')" @mouseleave="removeHoverClass('3604f1ed-dbe0-40e7-ba3c-e6705a464bf9')" @click="showModal('3604f1ed-dbe0-40e7-ba3c-e6705a464bf9')" :class="[returnClassRoom('3604f1ed-dbe0-40e7-ba3c-e6705a464bf9'), { 'hoverSvgClassPark': activeFloor === '3604f1ed-dbe0-40e7-ba3c-e6705a464bf9' }]" class="fil0" points="198.83,110.01 206.54,110.01 206.54,128.9 198.83,128.9 "/>
  <polygon ref="8e2930dd-c836-4d85-a10c-dcb1ee7acc27" id="8e2930dd-c836-4d85-a10c-dcb1ee7acc27" @mouseover="addHoverClass('8e2930dd-c836-4d85-a10c-dcb1ee7acc27')" @mouseleave="removeHoverClass('8e2930dd-c836-4d85-a10c-dcb1ee7acc27')" @click="showModal('8e2930dd-c836-4d85-a10c-dcb1ee7acc27')" :class="[returnClassRoom('8e2930dd-c836-4d85-a10c-dcb1ee7acc27'), { 'hoverSvgClassPark': activeFloor === '8e2930dd-c836-4d85-a10c-dcb1ee7acc27' }]" class="fil0" points="183.67,110.01 191.38,110.01 191.38,122.38 189.84,122.38 189.81,125.61 191.38,127.16 191.38,128.9 183.67,128.9 "/>
  <polygon ref="87dfcf2b-7883-4f6c-8a02-7483d72285f5" id="87dfcf2b-7883-4f6c-8a02-7483d72285f5" @mouseover="addHoverClass('87dfcf2b-7883-4f6c-8a02-7483d72285f5')" @mouseleave="removeHoverClass('87dfcf2b-7883-4f6c-8a02-7483d72285f5')" @click="showModal('87dfcf2b-7883-4f6c-8a02-7483d72285f5')" :class="[returnClassRoom('87dfcf2b-7883-4f6c-8a02-7483d72285f5'), { 'hoverSvgClassPark': activeFloor === '87dfcf2b-7883-4f6c-8a02-7483d72285f5' }]" class="fil0" points="175.43,110.01 183.14,110.01 183.14,128.9 175.43,128.9 "/>
  <polygon ref="ff219047-bd10-4e14-abda-8eb256facee6" id="ff219047-bd10-4e14-abda-8eb256facee6" @mouseover="addHoverClass('ff219047-bd10-4e14-abda-8eb256facee6')" @mouseleave="removeHoverClass('ff219047-bd10-4e14-abda-8eb256facee6')" @click="showModal('ff219047-bd10-4e14-abda-8eb256facee6')" :class="[returnClassRoom('ff219047-bd10-4e14-abda-8eb256facee6'), { 'hoverSvgClassPark': activeFloor === 'ff219047-bd10-4e14-abda-8eb256facee6' }]" class="fil0" points="152.32,110.01 160.03,110.01 160.03,122.42 157.83,122.44 157.82,125.43 160.03,127.16 160.03,128.9 152.32,128.9 "/>
  <polygon ref="bded5822-1458-494d-bb8e-4f401ca0491e" id="bded5822-1458-494d-bb8e-4f401ca0491e" @mouseover="addHoverClass('bded5822-1458-494d-bb8e-4f401ca0491e')" @mouseleave="removeHoverClass('bded5822-1458-494d-bb8e-4f401ca0491e')" @click="showModal('bded5822-1458-494d-bb8e-4f401ca0491e')" :class="[returnClassRoom('bded5822-1458-494d-bb8e-4f401ca0491e'), { 'hoverSvgClassPark': activeFloor === 'bded5822-1458-494d-bb8e-4f401ca0491e' }]" class="fil0" points="144.08,110.01 151.79,110.01 151.79,128.9 144.08,128.9 "/>
  <polygon ref="01d47b65-91cc-4e3e-b546-2f673fc21f41" id="01d47b65-91cc-4e3e-b546-2f673fc21f41" @mouseover="addHoverClass('01d47b65-91cc-4e3e-b546-2f673fc21f41')" @mouseleave="removeHoverClass('01d47b65-91cc-4e3e-b546-2f673fc21f41')" @click="showModal('01d47b65-91cc-4e3e-b546-2f673fc21f41')" :class="[returnClassRoom('01d47b65-91cc-4e3e-b546-2f673fc21f41'), { 'hoverSvgClassPark': activeFloor === '01d47b65-91cc-4e3e-b546-2f673fc21f41' }]" class="fil0" points="129.95,151.68 137.66,151.68 137.66,170.56 129.95,170.56 "/>
  <polygon ref="05fcd9d6-454d-471b-b4b3-e236010058b2" id="05fcd9d6-454d-471b-b4b3-e236010058b2" @mouseover="addHoverClass('05fcd9d6-454d-471b-b4b3-e236010058b2')" @mouseleave="removeHoverClass('05fcd9d6-454d-471b-b4b3-e236010058b2')" @click="showModal('05fcd9d6-454d-471b-b4b3-e236010058b2')" :class="[returnClassRoom('05fcd9d6-454d-471b-b4b3-e236010058b2'), { 'hoverSvgClassPark': activeFloor === '05fcd9d6-454d-471b-b4b3-e236010058b2' }]" class="fil0" points="121.71,151.68 129.42,151.68 129.42,170.56 121.71,170.56 "/>
  <polygon ref="3256c566-83c4-426b-9b34-3780cadcf35f" id="3256c566-83c4-426b-9b34-3780cadcf35f" @mouseover="addHoverClass('3256c566-83c4-426b-9b34-3780cadcf35f')" @mouseleave="removeHoverClass('3256c566-83c4-426b-9b34-3780cadcf35f')" @click="showModal('3256c566-83c4-426b-9b34-3780cadcf35f')" :class="[returnClassRoom('3256c566-83c4-426b-9b34-3780cadcf35f'), { 'hoverSvgClassPark': activeFloor === '3256c566-83c4-426b-9b34-3780cadcf35f' }]" class="fil0" points="113.46,151.68 121.18,151.68 121.18,170.56 113.46,170.56 "/>
  <polygon ref="4dc96c40-4df5-4984-875c-4b1c5b635f03" id="4dc96c40-4df5-4984-875c-4b1c5b635f03" @mouseover="addHoverClass('4dc96c40-4df5-4984-875c-4b1c5b635f03')" @mouseleave="removeHoverClass('4dc96c40-4df5-4984-875c-4b1c5b635f03')" @click="showModal('4dc96c40-4df5-4984-875c-4b1c5b635f03')" :class="[returnClassRoom('4dc96c40-4df5-4984-875c-4b1c5b635f03'), { 'hoverSvgClassPark': activeFloor === '4dc96c40-4df5-4984-875c-4b1c5b635f03' }]" class="fil0" points="153.4,151.68 161.11,151.68 161.11,170.56 153.4,170.56 "/>
  <polygon ref="b23e9a44-e201-43ad-9fdc-ad513f8ec1e5" id="b23e9a44-e201-43ad-9fdc-ad513f8ec1e5" @mouseover="addHoverClass('b23e9a44-e201-43ad-9fdc-ad513f8ec1e5')" @mouseleave="removeHoverClass('b23e9a44-e201-43ad-9fdc-ad513f8ec1e5')" @click="showModal('b23e9a44-e201-43ad-9fdc-ad513f8ec1e5')" :class="[returnClassRoom('b23e9a44-e201-43ad-9fdc-ad513f8ec1e5'), { 'hoverSvgClassPark': activeFloor === 'b23e9a44-e201-43ad-9fdc-ad513f8ec1e5' }]" class="fil0" points="145.15,151.68 152.87,151.68 152.87,170.56 145.15,170.56 "/>
  <polygon ref="34e303b2-4898-467a-b4b5-d47f2d98ec1d" id="34e303b2-4898-467a-b4b5-d47f2d98ec1d" @mouseover="addHoverClass('34e303b2-4898-467a-b4b5-d47f2d98ec1d')" @mouseleave="removeHoverClass('34e303b2-4898-467a-b4b5-d47f2d98ec1d')" @click="showModal('34e303b2-4898-467a-b4b5-d47f2d98ec1d')" :class="[returnClassRoom('34e303b2-4898-467a-b4b5-d47f2d98ec1d'), { 'hoverSvgClassPark': activeFloor === '34e303b2-4898-467a-b4b5-d47f2d98ec1d' }]" class="fil0" points="183.18,151.68 190.89,151.68 190.89,170.56 183.18,170.56 "/>
  <polygon ref="e0337527-5f0c-4cc4-9770-9f96ada71598" id="e0337527-5f0c-4cc4-9770-9f96ada71598" @mouseover="addHoverClass('e0337527-5f0c-4cc4-9770-9f96ada71598')" @mouseleave="removeHoverClass('e0337527-5f0c-4cc4-9770-9f96ada71598')" @click="showModal('e0337527-5f0c-4cc4-9770-9f96ada71598')" :class="[returnClassRoom('e0337527-5f0c-4cc4-9770-9f96ada71598'), { 'hoverSvgClassPark': activeFloor === 'e0337527-5f0c-4cc4-9770-9f96ada71598' }]" class="fil0" points="174.94,151.68 182.65,151.68 182.65,170.56 174.94,170.56 "/>
  <polygon ref="b8c3fa04-55a3-45fc-a126-cdcee6746459" id="b8c3fa04-55a3-45fc-a126-cdcee6746459" @mouseover="addHoverClass('b8c3fa04-55a3-45fc-a126-cdcee6746459')" @mouseleave="removeHoverClass('b8c3fa04-55a3-45fc-a126-cdcee6746459')" @click="showModal('b8c3fa04-55a3-45fc-a126-cdcee6746459')" :class="[returnClassRoom('b8c3fa04-55a3-45fc-a126-cdcee6746459'), { 'hoverSvgClassPark': activeFloor === 'b8c3fa04-55a3-45fc-a126-cdcee6746459' }]" class="fil0" points="166.69,151.68 174.41,151.68 174.41,170.56 166.69,170.56 "/>
  <polygon ref="b9b7cc50-d30a-4820-aeb4-3c8228626455" id="b9b7cc50-d30a-4820-aeb4-3c8228626455" @mouseover="addHoverClass('b9b7cc50-d30a-4820-aeb4-3c8228626455')" @mouseleave="removeHoverClass('b9b7cc50-d30a-4820-aeb4-3c8228626455')" @click="showModal('b9b7cc50-d30a-4820-aeb4-3c8228626455')" :class="[returnClassRoom('b9b7cc50-d30a-4820-aeb4-3c8228626455'), { 'hoverSvgClassPark': activeFloor === 'b9b7cc50-d30a-4820-aeb4-3c8228626455' }]" class="fil0" points="215.09,151.68 222.81,151.68 222.81,170.56 215.09,170.56 "/>
  <polygon ref="1c41e0ce-f512-42f4-a3bc-79a00deedfda" id="1c41e0ce-f512-42f4-a3bc-79a00deedfda" @mouseover="addHoverClass('1c41e0ce-f512-42f4-a3bc-79a00deedfda')" @mouseleave="removeHoverClass('1c41e0ce-f512-42f4-a3bc-79a00deedfda')" @click="showModal('1c41e0ce-f512-42f4-a3bc-79a00deedfda')" :class="[returnClassRoom('1c41e0ce-f512-42f4-a3bc-79a00deedfda'), { 'hoverSvgClassPark': activeFloor === '1c41e0ce-f512-42f4-a3bc-79a00deedfda' }]" class="fil0" points="206.85,151.68 214.56,151.68 214.56,170.56 206.85,170.56 "/>
  <polygon ref="6c8baa8d-db34-4759-b756-59c94d59ebd6" id="6c8baa8d-db34-4759-b756-59c94d59ebd6" @mouseover="addHoverClass('6c8baa8d-db34-4759-b756-59c94d59ebd6')" @mouseleave="removeHoverClass('6c8baa8d-db34-4759-b756-59c94d59ebd6')" @click="showModal('6c8baa8d-db34-4759-b756-59c94d59ebd6')" :class="[returnClassRoom('6c8baa8d-db34-4759-b756-59c94d59ebd6'), { 'hoverSvgClassPark': activeFloor === '6c8baa8d-db34-4759-b756-59c94d59ebd6' }]" class="fil0" points="198.61,151.68 206.32,151.68 206.32,170.56 198.61,170.56 "/>
  <polygon ref="26be3c0b-1249-4322-9ff7-2096c7c9a174" id="26be3c0b-1249-4322-9ff7-2096c7c9a174" @mouseover="addHoverClass('26be3c0b-1249-4322-9ff7-2096c7c9a174')" @mouseleave="removeHoverClass('26be3c0b-1249-4322-9ff7-2096c7c9a174')" @click="showModal('26be3c0b-1249-4322-9ff7-2096c7c9a174')" :class="[returnClassRoom('26be3c0b-1249-4322-9ff7-2096c7c9a174'), { 'hoverSvgClassPark': activeFloor === '26be3c0b-1249-4322-9ff7-2096c7c9a174' }]" class="fil0" points="246.65,151.68 254.36,151.68 254.36,170.56 246.65,170.56 "/>
  <polygon ref="52ab1147-dc85-4a41-be72-aee8fe2ef435" id="52ab1147-dc85-4a41-be72-aee8fe2ef435" @mouseover="addHoverClass('52ab1147-dc85-4a41-be72-aee8fe2ef435')" @mouseleave="removeHoverClass('52ab1147-dc85-4a41-be72-aee8fe2ef435')" @click="showModal('52ab1147-dc85-4a41-be72-aee8fe2ef435')" :class="[returnClassRoom('52ab1147-dc85-4a41-be72-aee8fe2ef435'), { 'hoverSvgClassPark': activeFloor === '52ab1147-dc85-4a41-be72-aee8fe2ef435' }]" class="fil0" points="238.41,151.68 246.12,151.68 246.12,170.56 238.41,170.56 "/>
  <polygon ref="7453fd87-37b0-466c-9235-34a6da54b6bf" id="7453fd87-37b0-466c-9235-34a6da54b6bf" @mouseover="addHoverClass('7453fd87-37b0-466c-9235-34a6da54b6bf')" @mouseleave="removeHoverClass('7453fd87-37b0-466c-9235-34a6da54b6bf')" @click="showModal('7453fd87-37b0-466c-9235-34a6da54b6bf')" :class="[returnClassRoom('7453fd87-37b0-466c-9235-34a6da54b6bf'), { 'hoverSvgClassPark': activeFloor === '7453fd87-37b0-466c-9235-34a6da54b6bf' }]" class="fil0" points="230.16,151.68 237.87,151.68 237.87,170.56 230.16,170.56 "/>
  <polygon ref="44289c10-4cb8-48a9-823f-56729bf00b8e" id="44289c10-4cb8-48a9-823f-56729bf00b8e" @mouseover="addHoverClass('44289c10-4cb8-48a9-823f-56729bf00b8e')" @mouseleave="removeHoverClass('44289c10-4cb8-48a9-823f-56729bf00b8e')" @click="showModal('44289c10-4cb8-48a9-823f-56729bf00b8e')" :class="[returnClassRoom('44289c10-4cb8-48a9-823f-56729bf00b8e'), { 'hoverSvgClassPark': activeFloor === '44289c10-4cb8-48a9-823f-56729bf00b8e' }]" class="fil0" points="278.92,151.68 286.63,151.68 286.63,170.56 278.92,170.56 "/>
  <polygon ref="87ca827d-308b-48b8-b928-e98428e9f153" id="87ca827d-308b-48b8-b928-e98428e9f153" @mouseover="addHoverClass('87ca827d-308b-48b8-b928-e98428e9f153')" @mouseleave="removeHoverClass('87ca827d-308b-48b8-b928-e98428e9f153')" @click="showModal('87ca827d-308b-48b8-b928-e98428e9f153')" :class="[returnClassRoom('87ca827d-308b-48b8-b928-e98428e9f153'), { 'hoverSvgClassPark': activeFloor === '87ca827d-308b-48b8-b928-e98428e9f153' }]" class="fil0" points="270.67,151.68 278.39,151.68 278.39,170.56 270.67,170.56 "/>
  <polygon ref="6f71fd39-22d0-46ae-a02f-5165e8d1e0ed" id="6f71fd39-22d0-46ae-a02f-5165e8d1e0ed" @mouseover="addHoverClass('6f71fd39-22d0-46ae-a02f-5165e8d1e0ed')" @mouseleave="removeHoverClass('6f71fd39-22d0-46ae-a02f-5165e8d1e0ed')" @click="showModal('6f71fd39-22d0-46ae-a02f-5165e8d1e0ed')" :class="[returnClassRoom('6f71fd39-22d0-46ae-a02f-5165e8d1e0ed'), { 'hoverSvgClassPark': activeFloor === '6f71fd39-22d0-46ae-a02f-5165e8d1e0ed' }]" class="fil0" points="262.43,151.68 270.14,151.68 270.14,170.56 262.43,170.56 "/>
  <polygon ref="cee5eb99-4d95-44cb-85fa-c076ee0039de" id="cee5eb99-4d95-44cb-85fa-c076ee0039de" @mouseover="addHoverClass('cee5eb99-4d95-44cb-85fa-c076ee0039de')" @mouseleave="removeHoverClass('cee5eb99-4d95-44cb-85fa-c076ee0039de')" @click="showModal('cee5eb99-4d95-44cb-85fa-c076ee0039de')" :class="[returnClassRoom('cee5eb99-4d95-44cb-85fa-c076ee0039de'), { 'hoverSvgClassPark': activeFloor === 'cee5eb99-4d95-44cb-85fa-c076ee0039de' }]" class="fil0" points="391.36,151.32 399.08,151.32 399.08,170.2 391.36,170.2 "/>
  <polygon ref="b61bb803-0964-4b87-8790-ded7d9c776ce" id="b61bb803-0964-4b87-8790-ded7d9c776ce" @mouseover="addHoverClass('b61bb803-0964-4b87-8790-ded7d9c776ce')" @mouseleave="removeHoverClass('b61bb803-0964-4b87-8790-ded7d9c776ce')" @click="showModal('b61bb803-0964-4b87-8790-ded7d9c776ce')" :class="[returnClassRoom('b61bb803-0964-4b87-8790-ded7d9c776ce'), { 'hoverSvgClassPark': activeFloor === 'b61bb803-0964-4b87-8790-ded7d9c776ce' }]" class="fil0" points="382.85,151.32 390.57,151.32 390.57,170.2 382.85,170.2 "/>
  <polygon ref="90a4719e-52e0-4eee-a31f-9bfb44aa82a6" id="90a4719e-52e0-4eee-a31f-9bfb44aa82a6" @mouseover="addHoverClass('90a4719e-52e0-4eee-a31f-9bfb44aa82a6')" @mouseleave="removeHoverClass('90a4719e-52e0-4eee-a31f-9bfb44aa82a6')" @click="showModal('90a4719e-52e0-4eee-a31f-9bfb44aa82a6')" :class="[returnClassRoom('90a4719e-52e0-4eee-a31f-9bfb44aa82a6'), { 'hoverSvgClassPark': activeFloor === '90a4719e-52e0-4eee-a31f-9bfb44aa82a6' }]" class="fil0" points="368,151.32 375.71,151.32 375.71,170.2 368,170.2 "/>
  <polygon ref="3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd" id="3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd" @mouseover="addHoverClass('3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd')" @mouseleave="removeHoverClass('3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd')" @click="showModal('3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd')" :class="[returnClassRoom('3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd'), { 'hoverSvgClassPark': activeFloor === '3ced86f1-03d2-4c2a-8ee3-567cb6a9e7fd' }]" class="fil0" points="359.36,151.32 367.08,151.32 367.08,170.2 359.36,170.2 "/>
  <polygon ref="011033f8-8a0f-4e61-a501-748ce04989cf" id="011033f8-8a0f-4e61-a501-748ce04989cf" @mouseover="addHoverClass('011033f8-8a0f-4e61-a501-748ce04989cf')" @mouseleave="removeHoverClass('011033f8-8a0f-4e61-a501-748ce04989cf')" @click="showModal('011033f8-8a0f-4e61-a501-748ce04989cf')" :class="[returnClassRoom('011033f8-8a0f-4e61-a501-748ce04989cf'), { 'hoverSvgClassPark': activeFloor === '011033f8-8a0f-4e61-a501-748ce04989cf' }]" class="fil0" points="350.76,151.32 358.48,151.32 358.48,170.2 350.76,170.2 "/>
  <polygon ref="ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb" id="ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb" @mouseover="addHoverClass('ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb')" @mouseleave="removeHoverClass('ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb')" @click="showModal('ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb')" :class="[returnClassRoom('ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb'), { 'hoverSvgClassPark': activeFloor === 'ef9c3704-6f25-4f1c-a3e8-0bf1cb9671eb' }]" class="fil0" points="336.98,151.32 344.69,151.32 344.69,170.2 336.98,170.2 "/>
  <polygon ref="6a8865d1-ee8c-48c8-86c6-edaacaa29841" id="6a8865d1-ee8c-48c8-86c6-edaacaa29841" @mouseover="addHoverClass('6a8865d1-ee8c-48c8-86c6-edaacaa29841')" @mouseleave="removeHoverClass('6a8865d1-ee8c-48c8-86c6-edaacaa29841')" @click="showModal('6a8865d1-ee8c-48c8-86c6-edaacaa29841')" :class="[returnClassRoom('6a8865d1-ee8c-48c8-86c6-edaacaa29841'), { 'hoverSvgClassPark': activeFloor === '6a8865d1-ee8c-48c8-86c6-edaacaa29841' }]" class="fil0" points="328.16,151.32 335.87,151.32 335.87,170.2 328.16,170.2 "/>
  <polygon ref="dd9c1284-5b31-4015-a714-4dd5aa4d96bc" id="dd9c1284-5b31-4015-a714-4dd5aa4d96bc" @mouseover="addHoverClass('dd9c1284-5b31-4015-a714-4dd5aa4d96bc')" @mouseleave="removeHoverClass('dd9c1284-5b31-4015-a714-4dd5aa4d96bc')" @click="showModal('dd9c1284-5b31-4015-a714-4dd5aa4d96bc')" :class="[returnClassRoom('dd9c1284-5b31-4015-a714-4dd5aa4d96bc'), { 'hoverSvgClassPark': activeFloor === 'dd9c1284-5b31-4015-a714-4dd5aa4d96bc' }]" class="fil0" points="391.36,177.03 399.08,177.03 399.08,195.91 391.36,195.91 "/>
  <polygon ref="36f54f6e-0fd4-428e-88fe-237613e2bce3" id="36f54f6e-0fd4-428e-88fe-237613e2bce3" @mouseover="addHoverClass('36f54f6e-0fd4-428e-88fe-237613e2bce3')" @mouseleave="removeHoverClass('36f54f6e-0fd4-428e-88fe-237613e2bce3')" @click="showModal('36f54f6e-0fd4-428e-88fe-237613e2bce3')" :class="[returnClassRoom('36f54f6e-0fd4-428e-88fe-237613e2bce3'), { 'hoverSvgClassPark': activeFloor === '36f54f6e-0fd4-428e-88fe-237613e2bce3' }]" class="fil0" points="382.85,177.03 390.57,177.03 390.57,195.91 382.85,195.91 "/>
  <polygon ref="8fc70640-c0df-4d6b-bcc7-827cd40a10bb" id="8fc70640-c0df-4d6b-bcc7-827cd40a10bb" @mouseover="addHoverClass('8fc70640-c0df-4d6b-bcc7-827cd40a10bb')" @mouseleave="removeHoverClass('8fc70640-c0df-4d6b-bcc7-827cd40a10bb')" @click="showModal('8fc70640-c0df-4d6b-bcc7-827cd40a10bb')" :class="[returnClassRoom('8fc70640-c0df-4d6b-bcc7-827cd40a10bb'), { 'hoverSvgClassPark': activeFloor === '8fc70640-c0df-4d6b-bcc7-827cd40a10bb' }]" class="fil0" points="367.6,177.03 375.31,177.03 375.31,195.91 367.6,195.91 "/>
  <polygon ref="04ecc491-7865-467d-8095-ae6f59308278" id="04ecc491-7865-467d-8095-ae6f59308278" @mouseover="addHoverClass('04ecc491-7865-467d-8095-ae6f59308278')" @mouseleave="removeHoverClass('04ecc491-7865-467d-8095-ae6f59308278')" @click="showModal('04ecc491-7865-467d-8095-ae6f59308278')" :class="[returnClassRoom('04ecc491-7865-467d-8095-ae6f59308278'), { 'hoverSvgClassPark': activeFloor === '04ecc491-7865-467d-8095-ae6f59308278' }]" class="fil0" points="359.36,177.03 367.08,177.03 367.08,195.91 359.36,195.91 "/>
  <polygon ref="f0e60d82-3c55-480c-a25a-9e60010bd704" id="f0e60d82-3c55-480c-a25a-9e60010bd704" @mouseover="addHoverClass('f0e60d82-3c55-480c-a25a-9e60010bd704')" @mouseleave="removeHoverClass('f0e60d82-3c55-480c-a25a-9e60010bd704')" @click="showModal('f0e60d82-3c55-480c-a25a-9e60010bd704')" :class="[returnClassRoom('f0e60d82-3c55-480c-a25a-9e60010bd704'), { 'hoverSvgClassPark': activeFloor === 'f0e60d82-3c55-480c-a25a-9e60010bd704' }]" class="fil0" points="350.76,177.03 358.48,177.03 358.48,195.91 350.76,195.91 "/>
  <polygon ref="ba8951ba-8f2e-486c-bcd7-e45b26cbc30e" id="ba8951ba-8f2e-486c-bcd7-e45b26cbc30e" @mouseover="addHoverClass('ba8951ba-8f2e-486c-bcd7-e45b26cbc30e')" @mouseleave="removeHoverClass('ba8951ba-8f2e-486c-bcd7-e45b26cbc30e')" @click="showModal('ba8951ba-8f2e-486c-bcd7-e45b26cbc30e')" :class="[returnClassRoom('ba8951ba-8f2e-486c-bcd7-e45b26cbc30e'), { 'hoverSvgClassPark': activeFloor === 'ba8951ba-8f2e-486c-bcd7-e45b26cbc30e' }]" class="fil0" points="328.16,177.03 335.87,177.03 335.87,195.91 328.16,195.91 "/>
  <polygon ref="40f8f9ef-4033-41f4-b349-a2e40929aa3c" id="40f8f9ef-4033-41f4-b349-a2e40929aa3c" @mouseover="addHoverClass('40f8f9ef-4033-41f4-b349-a2e40929aa3c')" @mouseleave="removeHoverClass('40f8f9ef-4033-41f4-b349-a2e40929aa3c')" @click="showModal('40f8f9ef-4033-41f4-b349-a2e40929aa3c')" :class="[returnClassRoom('40f8f9ef-4033-41f4-b349-a2e40929aa3c'), { 'hoverSvgClassPark': activeFloor === '40f8f9ef-4033-41f4-b349-a2e40929aa3c' }]" class="fil0" points="121.19,177.21 128.9,177.21 128.9,196.09 121.19,196.09 "/>
  <polygon ref="2b824ed6-2223-42f3-9a02-1e9e69e642cf" id="2b824ed6-2223-42f3-9a02-1e9e69e642cf" @mouseover="addHoverClass('2b824ed6-2223-42f3-9a02-1e9e69e642cf')" @mouseleave="removeHoverClass('2b824ed6-2223-42f3-9a02-1e9e69e642cf')" @click="showModal('2b824ed6-2223-42f3-9a02-1e9e69e642cf')" :class="[returnClassRoom('2b824ed6-2223-42f3-9a02-1e9e69e642cf'), { 'hoverSvgClassPark': activeFloor === '2b824ed6-2223-42f3-9a02-1e9e69e642cf' }]" class="fil0" points="112.95,177.21 120.66,177.21 120.66,196.09 112.95,196.09 "/>
  <polygon ref="b52dc38e-6b09-45f1-9239-2692a606aa19" id="b52dc38e-6b09-45f1-9239-2692a606aa19" @mouseover="addHoverClass('b52dc38e-6b09-45f1-9239-2692a606aa19')" @mouseleave="removeHoverClass('b52dc38e-6b09-45f1-9239-2692a606aa19')" @click="showModal('b52dc38e-6b09-45f1-9239-2692a606aa19')" :class="[returnClassRoom('b52dc38e-6b09-45f1-9239-2692a606aa19'), { 'hoverSvgClassPark': activeFloor === 'b52dc38e-6b09-45f1-9239-2692a606aa19' }]" class="fil0" points="162.35,177.17 168.43,177.17 168.38,189.93 170.06,189.84 170.06,196.05 162.35,196.05 "/>
  <polygon ref="1dd209f5-61ed-440b-af0a-3a9384c62aae" id="1dd209f5-61ed-440b-af0a-3a9384c62aae" @mouseover="addHoverClass('1dd209f5-61ed-440b-af0a-3a9384c62aae')" @mouseleave="removeHoverClass('1dd209f5-61ed-440b-af0a-3a9384c62aae')" @click="showModal('1dd209f5-61ed-440b-af0a-3a9384c62aae')" :class="[returnClassRoom('1dd209f5-61ed-440b-af0a-3a9384c62aae'), { 'hoverSvgClassPark': activeFloor === '1dd209f5-61ed-440b-af0a-3a9384c62aae' }]" class="fil0" points="154.11,177.17 161.82,177.17 161.82,196.05 154.11,196.05 "/>
  <polygon ref="556c7a61-01aa-4de9-8436-a66431390eb6" id="556c7a61-01aa-4de9-8436-a66431390eb6" @mouseover="addHoverClass('556c7a61-01aa-4de9-8436-a66431390eb6')" @mouseleave="removeHoverClass('556c7a61-01aa-4de9-8436-a66431390eb6')" @click="showModal('556c7a61-01aa-4de9-8436-a66431390eb6')" :class="[returnClassRoom('556c7a61-01aa-4de9-8436-a66431390eb6'), { 'hoverSvgClassPark': activeFloor === '556c7a61-01aa-4de9-8436-a66431390eb6' }]" class="fil0" points="145.86,177.17 153.57,177.17 153.57,196.05 145.86,196.05 "/>
  <polygon ref="d4de7848-6ae1-4436-98df-17ffc079c572" id="d4de7848-6ae1-4436-98df-17ffc079c572" @mouseover="addHoverClass('d4de7848-6ae1-4436-98df-17ffc079c572')" @mouseleave="removeHoverClass('d4de7848-6ae1-4436-98df-17ffc079c572')" @click="showModal('d4de7848-6ae1-4436-98df-17ffc079c572')" :class="[returnClassRoom('d4de7848-6ae1-4436-98df-17ffc079c572'), { 'hoverSvgClassPark': activeFloor === 'd4de7848-6ae1-4436-98df-17ffc079c572' }]" class="fil0" points="181.53,177.21 189.24,177.21 189.24,196.09 181.53,196.09 "/>
  <polygon ref="7cdc3e71-94fd-4f19-8509-80c50e414c04" id="7cdc3e71-94fd-4f19-8509-80c50e414c04" @mouseover="addHoverClass('7cdc3e71-94fd-4f19-8509-80c50e414c04')" @mouseleave="removeHoverClass('7cdc3e71-94fd-4f19-8509-80c50e414c04')" @click="showModal('7cdc3e71-94fd-4f19-8509-80c50e414c04')" :class="[returnClassRoom('7cdc3e71-94fd-4f19-8509-80c50e414c04'), { 'hoverSvgClassPark': activeFloor === '7cdc3e71-94fd-4f19-8509-80c50e414c04' }]" class="fil0" points="207.14,177.21 214.85,177.21 214.85,196.09 207.14,196.09 "/>
  <polygon ref="b46d5de6-1649-4265-b67d-c921b65067c6" id="b46d5de6-1649-4265-b67d-c921b65067c6" @mouseover="addHoverClass('b46d5de6-1649-4265-b67d-c921b65067c6')" @mouseleave="removeHoverClass('b46d5de6-1649-4265-b67d-c921b65067c6')" @click="showModal('b46d5de6-1649-4265-b67d-c921b65067c6')" :class="[returnClassRoom('b46d5de6-1649-4265-b67d-c921b65067c6'), { 'hoverSvgClassPark': activeFloor === 'b46d5de6-1649-4265-b67d-c921b65067c6' }]" class="fil0" points="198.9,177.21 206.61,177.21 206.61,196.09 198.9,196.09 "/>
  <polygon ref="2d992df3-ffc6-459c-85a1-113959bebad0" id="2d992df3-ffc6-459c-85a1-113959bebad0" @mouseover="addHoverClass('2d992df3-ffc6-459c-85a1-113959bebad0')" @mouseleave="removeHoverClass('2d992df3-ffc6-459c-85a1-113959bebad0')" @click="showModal('2d992df3-ffc6-459c-85a1-113959bebad0')" :class="[returnClassRoom('2d992df3-ffc6-459c-85a1-113959bebad0'), { 'hoverSvgClassPark': activeFloor === '2d992df3-ffc6-459c-85a1-113959bebad0' }]" class="fil0" points="238.17,177.21 245.88,177.21 245.88,196.09 238.17,196.09 "/>
  <polygon ref="710c5631-d841-425a-bd2b-099a62477dea" id="710c5631-d841-425a-bd2b-099a62477dea" @mouseover="addHoverClass('710c5631-d841-425a-bd2b-099a62477dea')" @mouseleave="removeHoverClass('710c5631-d841-425a-bd2b-099a62477dea')" @click="showModal('710c5631-d841-425a-bd2b-099a62477dea')" :class="[returnClassRoom('710c5631-d841-425a-bd2b-099a62477dea'), { 'hoverSvgClassPark': activeFloor === '710c5631-d841-425a-bd2b-099a62477dea' }]" class="fil0" points="229.93,177.21 237.64,177.21 237.64,196.09 229.93,196.09 "/>
  <polygon ref="a1b10881-02c1-4d0d-85cd-70e7e42d8b9d" id="a1b10881-02c1-4d0d-85cd-70e7e42d8b9d" @mouseover="addHoverClass('a1b10881-02c1-4d0d-85cd-70e7e42d8b9d')" @mouseleave="removeHoverClass('a1b10881-02c1-4d0d-85cd-70e7e42d8b9d')" @click="showModal('a1b10881-02c1-4d0d-85cd-70e7e42d8b9d')" :class="[returnClassRoom('a1b10881-02c1-4d0d-85cd-70e7e42d8b9d'), { 'hoverSvgClassPark': activeFloor === 'a1b10881-02c1-4d0d-85cd-70e7e42d8b9d' }]" class="fil0" points="246.41,177.21 254.12,177.21 254.12,196.09 246.41,196.09 "/>
  <polygon ref="c9f101af-0569-43d1-b5c8-415daf58e96d" id="c9f101af-0569-43d1-b5c8-415daf58e96d" @mouseover="addHoverClass('c9f101af-0569-43d1-b5c8-415daf58e96d')" @mouseleave="removeHoverClass('c9f101af-0569-43d1-b5c8-415daf58e96d')" @click="showModal('c9f101af-0569-43d1-b5c8-415daf58e96d')" :class="[returnClassRoom('c9f101af-0569-43d1-b5c8-415daf58e96d'), { 'hoverSvgClassPark': activeFloor === 'c9f101af-0569-43d1-b5c8-415daf58e96d' }]" class="fil0" points="272.67,177.21 280.38,177.21 280.38,196.09 272.67,196.09 "/>
  <polygon ref="5aa5910a-8d0c-4fa2-b063-29df336d6524" id="5aa5910a-8d0c-4fa2-b063-29df336d6524" @mouseover="addHoverClass('5aa5910a-8d0c-4fa2-b063-29df336d6524')" @mouseleave="removeHoverClass('5aa5910a-8d0c-4fa2-b063-29df336d6524')" @click="showModal('5aa5910a-8d0c-4fa2-b063-29df336d6524')" :class="[returnClassRoom('5aa5910a-8d0c-4fa2-b063-29df336d6524'), { 'hoverSvgClassPark': activeFloor === '5aa5910a-8d0c-4fa2-b063-29df336d6524' }]" class="fil0" points="264.03,177.21 271.74,177.21 271.74,196.09 264.03,196.09 "/>
  <polygon ref="8064cc9a-c870-4f3d-b472-3a88d589aa47" id="8064cc9a-c870-4f3d-b472-3a88d589aa47" @mouseover="addHoverClass('8064cc9a-c870-4f3d-b472-3a88d589aa47')" @mouseleave="removeHoverClass('8064cc9a-c870-4f3d-b472-3a88d589aa47')" @click="showModal('8064cc9a-c870-4f3d-b472-3a88d589aa47')" :class="[returnClassRoom('8064cc9a-c870-4f3d-b472-3a88d589aa47'), { 'hoverSvgClassPark': activeFloor === '8064cc9a-c870-4f3d-b472-3a88d589aa47' }]" class="fil0" points="281.31,177.21 289.02,177.21 289.02,196.09 281.31,196.09 "/>
  <polygon ref="aa89b708-fd24-4f61-838c-30e531f5be4c" id="aa89b708-fd24-4f61-838c-30e531f5be4c" @mouseover="addHoverClass('aa89b708-fd24-4f61-838c-30e531f5be4c')" @mouseleave="removeHoverClass('aa89b708-fd24-4f61-838c-30e531f5be4c')" @click="showModal('aa89b708-fd24-4f61-838c-30e531f5be4c')" :class="[returnClassRoom('aa89b708-fd24-4f61-838c-30e531f5be4c'), { 'hoverSvgClassPark': activeFloor === 'aa89b708-fd24-4f61-838c-30e531f5be4c' }]" class="fil0" points="280.6,151.68 288.31,151.68 288.31,170.56 280.6,170.56 "/>
  <polygon ref="bf564d29-3d96-4185-a690-7f0fd7235316" id="bf564d29-3d96-4185-a690-7f0fd7235316" @mouseover="addHoverClass('bf564d29-3d96-4185-a690-7f0fd7235316')" @mouseleave="removeHoverClass('bf564d29-3d96-4185-a690-7f0fd7235316')" @click="showModal('bf564d29-3d96-4185-a690-7f0fd7235316')" :class="[returnClassRoom('bf564d29-3d96-4185-a690-7f0fd7235316'), { 'hoverSvgClassPark': activeFloor === 'bf564d29-3d96-4185-a690-7f0fd7235316' }]" class="fil0" points="424.69,224.37 432.41,224.37 432.41,243.25 424.69,243.25 "/>
  <polygon ref="60d6c545-23cf-48ce-8c45-057bcb3bf521" id="60d6c545-23cf-48ce-8c45-057bcb3bf521" @mouseover="addHoverClass('60d6c545-23cf-48ce-8c45-057bcb3bf521')" @mouseleave="removeHoverClass('60d6c545-23cf-48ce-8c45-057bcb3bf521')" @click="showModal('60d6c545-23cf-48ce-8c45-057bcb3bf521')" :class="[returnClassRoom('60d6c545-23cf-48ce-8c45-057bcb3bf521'), { 'hoverSvgClassPark': activeFloor === '60d6c545-23cf-48ce-8c45-057bcb3bf521' }]" class="fil0" points="416.18,224.37 423.9,224.37 423.9,243.25 416.18,243.25 "/>
  <polygon ref="d5f0da1c-66f5-4d40-8d7a-c38334704c48" id="d5f0da1c-66f5-4d40-8d7a-c38334704c48" @mouseover="addHoverClass('d5f0da1c-66f5-4d40-8d7a-c38334704c48')" @mouseleave="removeHoverClass('d5f0da1c-66f5-4d40-8d7a-c38334704c48')" @click="showModal('d5f0da1c-66f5-4d40-8d7a-c38334704c48')" :class="[returnClassRoom('d5f0da1c-66f5-4d40-8d7a-c38334704c48'), { 'hoverSvgClassPark': activeFloor === 'd5f0da1c-66f5-4d40-8d7a-c38334704c48' }]" class="fil0" points="271.59,220.96 279.31,220.96 279.31,239.84 271.59,239.84 "/>
  <polygon ref="1de71096-3767-4cdb-99d9-bac7448df11e" id="1de71096-3767-4cdb-99d9-bac7448df11e" @mouseover="addHoverClass('1de71096-3767-4cdb-99d9-bac7448df11e')" @mouseleave="removeHoverClass('1de71096-3767-4cdb-99d9-bac7448df11e')" @click="showModal('1de71096-3767-4cdb-99d9-bac7448df11e')" :class="[returnClassRoom('1de71096-3767-4cdb-99d9-bac7448df11e'), { 'hoverSvgClassPark': activeFloor === '1de71096-3767-4cdb-99d9-bac7448df11e' }]" class="fil0" points="263.35,220.96 271.06,220.96 271.06,239.84 263.35,239.84 "/>
  <polygon ref="85d99744-eb1b-4bc3-8b20-eac6984a421b" id="85d99744-eb1b-4bc3-8b20-eac6984a421b" @mouseover="addHoverClass('85d99744-eb1b-4bc3-8b20-eac6984a421b')" @mouseleave="removeHoverClass('85d99744-eb1b-4bc3-8b20-eac6984a421b')" @click="showModal('85d99744-eb1b-4bc3-8b20-eac6984a421b')" :class="[returnClassRoom('85d99744-eb1b-4bc3-8b20-eac6984a421b'), { 'hoverSvgClassPark': activeFloor === '85d99744-eb1b-4bc3-8b20-eac6984a421b' }]" class="fil0" points="279.83,220.96 287.54,220.96 287.54,239.84 279.83,239.84 "/>
  <polygon ref="8c40fa1e-fa47-49ba-850b-577291e14466" id="8c40fa1e-fa47-49ba-850b-577291e14466" @mouseover="addHoverClass('8c40fa1e-fa47-49ba-850b-577291e14466')" @mouseleave="removeHoverClass('8c40fa1e-fa47-49ba-850b-577291e14466')" @click="showModal('8c40fa1e-fa47-49ba-850b-577291e14466')" :class="[returnClassRoom('8c40fa1e-fa47-49ba-850b-577291e14466'), { 'hoverSvgClassPark': activeFloor === '8c40fa1e-fa47-49ba-850b-577291e14466' }]" class="fil0" points="235.99,220.82 243.71,220.82 243.71,239.7 235.99,239.7 "/>
  <polygon ref="d42d368c-a678-439d-89db-8b43c748d21e" id="d42d368c-a678-439d-89db-8b43c748d21e" @mouseover="addHoverClass('d42d368c-a678-439d-89db-8b43c748d21e')" @mouseleave="removeHoverClass('d42d368c-a678-439d-89db-8b43c748d21e')" @click="showModal('d42d368c-a678-439d-89db-8b43c748d21e')" :class="[returnClassRoom('d42d368c-a678-439d-89db-8b43c748d21e'), { 'hoverSvgClassPark': activeFloor === 'd42d368c-a678-439d-89db-8b43c748d21e' }]" class="fil0" points="227.35,220.82 235.06,220.82 235.06,239.7 227.35,239.7 "/>
  <polygon ref="306c2b2e-bed0-427a-85b1-f4c19a062c7f" id="306c2b2e-bed0-427a-85b1-f4c19a062c7f" @mouseover="addHoverClass('306c2b2e-bed0-427a-85b1-f4c19a062c7f')" @mouseleave="removeHoverClass('306c2b2e-bed0-427a-85b1-f4c19a062c7f')" @click="showModal('306c2b2e-bed0-427a-85b1-f4c19a062c7f')" :class="[returnClassRoom('306c2b2e-bed0-427a-85b1-f4c19a062c7f'), { 'hoverSvgClassPark': activeFloor === '306c2b2e-bed0-427a-85b1-f4c19a062c7f' }]" class="fil0" points="244.63,220.82 252.35,220.82 252.35,239.7 244.63,239.7 "/>
  <polygon ref="85707f1f-80e7-47f4-842c-98e588817ac5" id="85707f1f-80e7-47f4-842c-98e588817ac5" @mouseover="addHoverClass('85707f1f-80e7-47f4-842c-98e588817ac5')" @mouseleave="removeHoverClass('85707f1f-80e7-47f4-842c-98e588817ac5')" @click="showModal('85707f1f-80e7-47f4-842c-98e588817ac5')" :class="[returnClassRoom('85707f1f-80e7-47f4-842c-98e588817ac5'), { 'hoverSvgClassPark': activeFloor === '85707f1f-80e7-47f4-842c-98e588817ac5' }]" class="fil0" points="188.53,221.17 196.24,221.17 196.24,240.06 188.53,240.06 "/>
  <polygon ref="72dd114a-a8e7-474d-b705-4093972fd2b0" id="72dd114a-a8e7-474d-b705-4093972fd2b0" @mouseover="addHoverClass('72dd114a-a8e7-474d-b705-4093972fd2b0')" @mouseleave="removeHoverClass('72dd114a-a8e7-474d-b705-4093972fd2b0')" @click="showModal('72dd114a-a8e7-474d-b705-4093972fd2b0')" :class="[returnClassRoom('72dd114a-a8e7-474d-b705-4093972fd2b0'), { 'hoverSvgClassPark': activeFloor === '72dd114a-a8e7-474d-b705-4093972fd2b0' }]" class="fil0" points="179.88,221.17 187.59,221.17 187.59,240.06 179.88,240.06 "/>
  <polygon ref="532f5946-ffb3-4192-a025-e1638a05e81f" id="532f5946-ffb3-4192-a025-e1638a05e81f" @mouseover="addHoverClass('532f5946-ffb3-4192-a025-e1638a05e81f')" @mouseleave="removeHoverClass('532f5946-ffb3-4192-a025-e1638a05e81f')" @click="showModal('532f5946-ffb3-4192-a025-e1638a05e81f')" :class="[returnClassRoom('532f5946-ffb3-4192-a025-e1638a05e81f'), { 'hoverSvgClassPark': activeFloor === '532f5946-ffb3-4192-a025-e1638a05e81f' }]" class="fil0" points="197.17,221.17 204.88,221.17 204.88,240.06 197.17,240.06 "/>
  <polygon ref="2512a9d4-6285-49a4-9ec4-915d90ee857c" id="2512a9d4-6285-49a4-9ec4-915d90ee857c" @mouseover="addHoverClass('2512a9d4-6285-49a4-9ec4-915d90ee857c')" @mouseleave="removeHoverClass('2512a9d4-6285-49a4-9ec4-915d90ee857c')" @click="showModal('2512a9d4-6285-49a4-9ec4-915d90ee857c')" :class="[returnClassRoom('2512a9d4-6285-49a4-9ec4-915d90ee857c'), { 'hoverSvgClassPark': activeFloor === '2512a9d4-6285-49a4-9ec4-915d90ee857c' }]" class="fil0" points="153.99,221.17 161.7,221.17 161.7,240.06 153.99,240.06 "/>
  <polygon ref="d905e13a-e725-4a10-a8ad-a4a2c466095f" id="d905e13a-e725-4a10-a8ad-a4a2c466095f" @mouseover="addHoverClass('d905e13a-e725-4a10-a8ad-a4a2c466095f')" @mouseleave="removeHoverClass('d905e13a-e725-4a10-a8ad-a4a2c466095f')" @click="showModal('d905e13a-e725-4a10-a8ad-a4a2c466095f')" :class="[returnClassRoom('d905e13a-e725-4a10-a8ad-a4a2c466095f'), { 'hoverSvgClassPark': activeFloor === 'd905e13a-e725-4a10-a8ad-a4a2c466095f' }]" class="fil0" points="145.35,221.17 153.06,221.17 153.06,240.06 145.35,240.06 "/>
  <polygon ref="b4af043d-8fe9-4b20-a1ec-4247676eda03" id="b4af043d-8fe9-4b20-a1ec-4247676eda03" @mouseover="addHoverClass('b4af043d-8fe9-4b20-a1ec-4247676eda03')" @mouseleave="removeHoverClass('b4af043d-8fe9-4b20-a1ec-4247676eda03')" @click="showModal('b4af043d-8fe9-4b20-a1ec-4247676eda03')" :class="[returnClassRoom('b4af043d-8fe9-4b20-a1ec-4247676eda03'), { 'hoverSvgClassPark': activeFloor === 'b4af043d-8fe9-4b20-a1ec-4247676eda03' }]" class="fil0" points="162.63,221.17 170.34,221.17 170.34,240.06 162.63,240.06 "/>
  <polygon ref="d80303f4-d64f-46f3-9f6a-80745cbaa0a9" id="d80303f4-d64f-46f3-9f6a-80745cbaa0a9" @mouseover="addHoverClass('d80303f4-d64f-46f3-9f6a-80745cbaa0a9')" @mouseleave="removeHoverClass('d80303f4-d64f-46f3-9f6a-80745cbaa0a9')" @click="showModal('d80303f4-d64f-46f3-9f6a-80745cbaa0a9')" :class="[returnClassRoom('d80303f4-d64f-46f3-9f6a-80745cbaa0a9'), { 'hoverSvgClassPark': activeFloor === 'd80303f4-d64f-46f3-9f6a-80745cbaa0a9' }]" class="fil0" points="122.67,221.17 130.38,221.17 130.38,240.06 122.67,240.06 "/>
  <polygon ref="4a1e96c7-381c-4457-9acd-9d5f604fe33f" id="4a1e96c7-381c-4457-9acd-9d5f604fe33f" @mouseover="addHoverClass('4a1e96c7-381c-4457-9acd-9d5f604fe33f')" @mouseleave="removeHoverClass('4a1e96c7-381c-4457-9acd-9d5f604fe33f')" @click="showModal('4a1e96c7-381c-4457-9acd-9d5f604fe33f')" :class="[returnClassRoom('4a1e96c7-381c-4457-9acd-9d5f604fe33f'), { 'hoverSvgClassPark': activeFloor === '4a1e96c7-381c-4457-9acd-9d5f604fe33f' }]" class="fil0" points="205.77,221.17 213.48,221.17 213.48,240.06 205.77,240.06 "/>
  <polygon ref="5dc76d72-b629-484c-aa0b-f920b6fc7c53" id="5dc76d72-b629-484c-aa0b-f920b6fc7c53" @mouseover="addHoverClass('5dc76d72-b629-484c-aa0b-f920b6fc7c53')" @mouseleave="removeHoverClass('5dc76d72-b629-484c-aa0b-f920b6fc7c53')" @click="showModal('5dc76d72-b629-484c-aa0b-f920b6fc7c53')" :class="[returnClassRoom('5dc76d72-b629-484c-aa0b-f920b6fc7c53'), { 'hoverSvgClassPark': activeFloor === '5dc76d72-b629-484c-aa0b-f920b6fc7c53' }]" class="fil0" points="167.23,110.01 174.94,110.01 174.94,128.9 167.23,128.9 "/>
 </g>
</svg>
  </SvgPanZoom>
 </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>