

<template>
  <div>
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="425px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 648.74 511.95" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="648.74" height="511.95"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-07-floor.png" x="5" y="-20" width="648.74" height="511.95"></image>
  </g>

  <polygon ref="3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43" id="3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43" @mouseover="addHoverClass('3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43')" @mouseleave="removeHoverClass('3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43')" @click="showModal('3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43')" :class="[returnClassRoom('3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43'), { 'hoverSvgClassPark': activeFloor === '3ea98cd1-ecaf-4b41-85d4-1439cb7ecd43' }]" class="fil0" points="444.81,18.6 470.92,18.6 470.92,28.97 444.81,28.97 "/>
  <polygon ref="f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb" id="f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb" @mouseover="addHoverClass('f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb')" @mouseleave="removeHoverClass('f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb')" @click="showModal('f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb')" :class="[returnClassRoom('f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb'), { 'hoverSvgClassPark': activeFloor === 'f0d6c271-a5f4-43f3-8260-8b9d7fc7fdbb' }]" class="fil0" points="444.81,29.69 470.92,29.69 470.92,40.06 444.81,40.06 "/>
  <polygon ref="7b492813-9fdc-4a70-94df-a87c7a8ea7a5" id="7b492813-9fdc-4a70-94df-a87c7a8ea7a5" @mouseover="addHoverClass('7b492813-9fdc-4a70-94df-a87c7a8ea7a5')" @mouseleave="removeHoverClass('7b492813-9fdc-4a70-94df-a87c7a8ea7a5')" @click="showModal('7b492813-9fdc-4a70-94df-a87c7a8ea7a5')" :class="[returnClassRoom('7b492813-9fdc-4a70-94df-a87c7a8ea7a5'), { 'hoverSvgClassPark': activeFloor === '7b492813-9fdc-4a70-94df-a87c7a8ea7a5' }]" class="fil0" points="444.81,49.81 470.92,49.81 470.92,60.18 444.81,60.18 "/>
  <polygon ref="92fdad77-d8c2-4924-8a45-837bac6c8e66" id="92fdad77-d8c2-4924-8a45-837bac6c8e66" @mouseover="addHoverClass('92fdad77-d8c2-4924-8a45-837bac6c8e66')" @mouseleave="removeHoverClass('92fdad77-d8c2-4924-8a45-837bac6c8e66')" @click="showModal('92fdad77-d8c2-4924-8a45-837bac6c8e66')" :class="[returnClassRoom('92fdad77-d8c2-4924-8a45-837bac6c8e66'), { 'hoverSvgClassPark': activeFloor === '92fdad77-d8c2-4924-8a45-837bac6c8e66' }]" class="fil0" points="444.81,60.8 470.92,60.8 470.92,71.18 444.81,71.18 "/>
  <polygon ref="78450097-b878-4dc4-ae38-3ea2f1b14936" id="78450097-b878-4dc4-ae38-3ea2f1b14936" @mouseover="addHoverClass('78450097-b878-4dc4-ae38-3ea2f1b14936')" @mouseleave="removeHoverClass('78450097-b878-4dc4-ae38-3ea2f1b14936')" @click="showModal('78450097-b878-4dc4-ae38-3ea2f1b14936')" :class="[returnClassRoom('78450097-b878-4dc4-ae38-3ea2f1b14936'), { 'hoverSvgClassPark': activeFloor === '78450097-b878-4dc4-ae38-3ea2f1b14936' }]" class="fil0" points="444.81,82.17 470.92,82.17 470.92,92.55 444.81,92.55 "/>
  <polygon ref="4d08b265-126e-478a-bc01-6bd7ac4b7caf" id="4d08b265-126e-478a-bc01-6bd7ac4b7caf" @mouseover="addHoverClass('4d08b265-126e-478a-bc01-6bd7ac4b7caf')" @mouseleave="removeHoverClass('4d08b265-126e-478a-bc01-6bd7ac4b7caf')" @click="showModal('4d08b265-126e-478a-bc01-6bd7ac4b7caf')" :class="[returnClassRoom('4d08b265-126e-478a-bc01-6bd7ac4b7caf'), { 'hoverSvgClassPark': activeFloor === '4d08b265-126e-478a-bc01-6bd7ac4b7caf' }]" class="fil0" points="444.81,93.17 470.92,93.17 470.92,103.54 444.81,103.54 "/>
  <polygon ref="5d7d35a1-5b70-4bb6-86e2-345aeba0477e" id="5d7d35a1-5b70-4bb6-86e2-345aeba0477e" @mouseover="addHoverClass('5d7d35a1-5b70-4bb6-86e2-345aeba0477e')" @mouseleave="removeHoverClass('5d7d35a1-5b70-4bb6-86e2-345aeba0477e')" @click="showModal('5d7d35a1-5b70-4bb6-86e2-345aeba0477e')" :class="[returnClassRoom('5d7d35a1-5b70-4bb6-86e2-345aeba0477e'), { 'hoverSvgClassPark': activeFloor === '5d7d35a1-5b70-4bb6-86e2-345aeba0477e' }]" class="fil0" points="444.81,105.06 470.92,105.06 470.92,115.44 444.81,115.44 "/>
  <polygon ref="bd2d1939-60ca-49e6-9b18-065a01353ac7" id="bd2d1939-60ca-49e6-9b18-065a01353ac7" @mouseover="addHoverClass('bd2d1939-60ca-49e6-9b18-065a01353ac7')" @mouseleave="removeHoverClass('bd2d1939-60ca-49e6-9b18-065a01353ac7')" @click="showModal('bd2d1939-60ca-49e6-9b18-065a01353ac7')" :class="[returnClassRoom('bd2d1939-60ca-49e6-9b18-065a01353ac7'), { 'hoverSvgClassPark': activeFloor === 'bd2d1939-60ca-49e6-9b18-065a01353ac7' }]" class="fil0" points="444.81,116.06 470.92,116.06 470.92,126.44 444.81,126.44 "/>
  <polygon ref="af22d574-2f30-427a-a4bc-7b61cdafb9b8" id="af22d574-2f30-427a-a4bc-7b61cdafb9b8" @mouseover="addHoverClass('af22d574-2f30-427a-a4bc-7b61cdafb9b8')" @mouseleave="removeHoverClass('af22d574-2f30-427a-a4bc-7b61cdafb9b8')" @click="showModal('af22d574-2f30-427a-a4bc-7b61cdafb9b8')" :class="[returnClassRoom('af22d574-2f30-427a-a4bc-7b61cdafb9b8'), { 'hoverSvgClassPark': activeFloor === 'af22d574-2f30-427a-a4bc-7b61cdafb9b8' }]" class="fil0" points="502.34,18.6 553.66,18.6 553.66,28.97 502.34,28.97 "/>
  <polygon ref="878c3fbe-edc4-4c24-8354-2c4f72d22b43" id="878c3fbe-edc4-4c24-8354-2c4f72d22b43" @mouseover="addHoverClass('878c3fbe-edc4-4c24-8354-2c4f72d22b43')" @mouseleave="removeHoverClass('878c3fbe-edc4-4c24-8354-2c4f72d22b43')" @click="showModal('878c3fbe-edc4-4c24-8354-2c4f72d22b43')" :class="[returnClassRoom('878c3fbe-edc4-4c24-8354-2c4f72d22b43'), { 'hoverSvgClassPark': activeFloor === '878c3fbe-edc4-4c24-8354-2c4f72d22b43' }]" class="fil0" points="502.34,29.69 553.66,29.69 553.66,40.06 502.34,40.06 "/>
  <polygon ref="9c4e2515-45e4-4738-82dc-06f2959fe0ee" id="9c4e2515-45e4-4738-82dc-06f2959fe0ee" @mouseover="addHoverClass('9c4e2515-45e4-4738-82dc-06f2959fe0ee')" @mouseleave="removeHoverClass('9c4e2515-45e4-4738-82dc-06f2959fe0ee')" @click="showModal('9c4e2515-45e4-4738-82dc-06f2959fe0ee')" :class="[returnClassRoom('9c4e2515-45e4-4738-82dc-06f2959fe0ee'), { 'hoverSvgClassPark': activeFloor === '9c4e2515-45e4-4738-82dc-06f2959fe0ee' }]" class="fil0" points="502.34,49.81 553.66,49.81 553.66,60.18 502.34,60.18 "/>
  <polygon ref="c86bab44-76df-4b47-adeb-02f0b1209778" id="c86bab44-76df-4b47-adeb-02f0b1209778" @mouseover="addHoverClass('c86bab44-76df-4b47-adeb-02f0b1209778')" @mouseleave="removeHoverClass('c86bab44-76df-4b47-adeb-02f0b1209778')" @click="showModal('c86bab44-76df-4b47-adeb-02f0b1209778')" :class="[returnClassRoom('c86bab44-76df-4b47-adeb-02f0b1209778'), { 'hoverSvgClassPark': activeFloor === 'c86bab44-76df-4b47-adeb-02f0b1209778' }]" class="fil0" points="502.34,60.8 553.66,60.8 553.66,71.18 502.34,71.18 "/>
  <polygon ref="1be8dec0-4641-4147-b2ae-5b358afb9c70" id="1be8dec0-4641-4147-b2ae-5b358afb9c70" @mouseover="addHoverClass('1be8dec0-4641-4147-b2ae-5b358afb9c70')" @mouseleave="removeHoverClass('1be8dec0-4641-4147-b2ae-5b358afb9c70')" @click="showModal('1be8dec0-4641-4147-b2ae-5b358afb9c70')" :class="[returnClassRoom('1be8dec0-4641-4147-b2ae-5b358afb9c70'), { 'hoverSvgClassPark': activeFloor === '1be8dec0-4641-4147-b2ae-5b358afb9c70' }]" class="fil0" points="502.34,82.17 553.66,82.17 553.66,92.55 502.34,92.55 "/>
  <polygon ref="5d249916-aee1-4d54-98e5-16a2dbb4688d" id="5d249916-aee1-4d54-98e5-16a2dbb4688d" @mouseover="addHoverClass('5d249916-aee1-4d54-98e5-16a2dbb4688d')" @mouseleave="removeHoverClass('5d249916-aee1-4d54-98e5-16a2dbb4688d')" @click="showModal('5d249916-aee1-4d54-98e5-16a2dbb4688d')" :class="[returnClassRoom('5d249916-aee1-4d54-98e5-16a2dbb4688d'), { 'hoverSvgClassPark': activeFloor === '5d249916-aee1-4d54-98e5-16a2dbb4688d' }]" class="fil0" points="502.34,93.17 553.66,93.17 553.66,103.54 502.34,103.54 "/>
  <polygon ref="90a82487-f6bd-49d3-bdcb-0be3d866b185" id="90a82487-f6bd-49d3-bdcb-0be3d866b185" @mouseover="addHoverClass('90a82487-f6bd-49d3-bdcb-0be3d866b185')" @mouseleave="removeHoverClass('90a82487-f6bd-49d3-bdcb-0be3d866b185')" @click="showModal('90a82487-f6bd-49d3-bdcb-0be3d866b185')" :class="[returnClassRoom('90a82487-f6bd-49d3-bdcb-0be3d866b185'), { 'hoverSvgClassPark': activeFloor === '90a82487-f6bd-49d3-bdcb-0be3d866b185' }]" class="fil0" points="502.34,105.06 553.66,105.06 553.66,115.44 502.34,115.44 "/>
  <polygon ref="e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a" id="e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a" @mouseover="addHoverClass('e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a')" @mouseleave="removeHoverClass('e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a')" @click="showModal('e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a')" :class="[returnClassRoom('e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a'), { 'hoverSvgClassPark': activeFloor === 'e0c6cd11-5b9b-4ff7-8d8d-75baaec28b3a' }]" class="fil0" points="502.34,116.06 553.66,116.06 553.66,126.44 502.34,126.44 "/>
  <polygon ref="a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8" id="a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8" @mouseover="addHoverClass('a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8')" @mouseleave="removeHoverClass('a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8')" @click="showModal('a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8')" :class="[returnClassRoom('a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8'), { 'hoverSvgClassPark': activeFloor === 'a1c763f6-71fe-4b1d-bd5b-45e283cbdbf8' }]" class="fil0" points="586.44,18.6 612.55,18.6 612.55,28.97 586.44,28.97 "/>
  <polygon ref="9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d" id="9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d" @mouseover="addHoverClass('9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d')" @mouseleave="removeHoverClass('9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d')" @click="showModal('9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d')" :class="[returnClassRoom('9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d'), { 'hoverSvgClassPark': activeFloor === '9794aeb9-8bc2-4b02-a33b-2ec0b4a0344d' }]" class="fil0" points="586.44,29.69 612.55,29.69 612.55,40.06 586.44,40.06 "/>
  <polygon ref="6a6cdde0-f36c-4143-902c-5dd529f2d144" id="6a6cdde0-f36c-4143-902c-5dd529f2d144" @mouseover="addHoverClass('6a6cdde0-f36c-4143-902c-5dd529f2d144')" @mouseleave="removeHoverClass('6a6cdde0-f36c-4143-902c-5dd529f2d144')" @click="showModal('6a6cdde0-f36c-4143-902c-5dd529f2d144')" :class="[returnClassRoom('6a6cdde0-f36c-4143-902c-5dd529f2d144'), { 'hoverSvgClassPark': activeFloor === '6a6cdde0-f36c-4143-902c-5dd529f2d144' }]" class="fil0" points="586.44,49.81 612.55,49.81 612.55,60.18 586.44,60.18 "/>
  <polygon ref="00796c19-f7bf-4fea-8ee8-ce260292bf1e" id="00796c19-f7bf-4fea-8ee8-ce260292bf1e" @mouseover="addHoverClass('00796c19-f7bf-4fea-8ee8-ce260292bf1e')" @mouseleave="removeHoverClass('00796c19-f7bf-4fea-8ee8-ce260292bf1e')" @click="showModal('00796c19-f7bf-4fea-8ee8-ce260292bf1e')" :class="[returnClassRoom('00796c19-f7bf-4fea-8ee8-ce260292bf1e'), { 'hoverSvgClassPark': activeFloor === '00796c19-f7bf-4fea-8ee8-ce260292bf1e' }]" class="fil0" points="586.44,60.8 612.55,60.8 612.55,71.18 586.44,71.18 "/>
  <polygon ref="e04739a0-db11-4f07-92d0-c983e1f988d3" id="e04739a0-db11-4f07-92d0-c983e1f988d3" @mouseover="addHoverClass('e04739a0-db11-4f07-92d0-c983e1f988d3')" @mouseleave="removeHoverClass('e04739a0-db11-4f07-92d0-c983e1f988d3')" @click="showModal('e04739a0-db11-4f07-92d0-c983e1f988d3')" :class="[returnClassRoom('e04739a0-db11-4f07-92d0-c983e1f988d3'), { 'hoverSvgClassPark': activeFloor === 'e04739a0-db11-4f07-92d0-c983e1f988d3' }]" class="fil0" points="586.44,82.17 612.55,82.17 612.55,92.55 586.44,92.55 "/>
  <polygon ref="937166ca-20b1-4bd5-89a7-373601b72135" id="937166ca-20b1-4bd5-89a7-373601b72135" @mouseover="addHoverClass('937166ca-20b1-4bd5-89a7-373601b72135')" @mouseleave="removeHoverClass('937166ca-20b1-4bd5-89a7-373601b72135')" @click="showModal('937166ca-20b1-4bd5-89a7-373601b72135')" :class="[returnClassRoom('937166ca-20b1-4bd5-89a7-373601b72135'), { 'hoverSvgClassPark': activeFloor === '937166ca-20b1-4bd5-89a7-373601b72135' }]" class="fil0" points="586.44,93.17 612.55,93.17 612.55,103.54 586.44,103.54 "/>
  <polygon ref="e6e0a78e-3122-45cb-87f9-9925334344df" id="e6e0a78e-3122-45cb-87f9-9925334344df" @mouseover="addHoverClass('e6e0a78e-3122-45cb-87f9-9925334344df')" @mouseleave="removeHoverClass('e6e0a78e-3122-45cb-87f9-9925334344df')" @click="showModal('e6e0a78e-3122-45cb-87f9-9925334344df')" :class="[returnClassRoom('e6e0a78e-3122-45cb-87f9-9925334344df'), { 'hoverSvgClassPark': activeFloor === 'e6e0a78e-3122-45cb-87f9-9925334344df' }]" class="fil0" points="586.44,105.06 612.55,105.06 612.55,115.44 586.44,115.44 "/>
  <polygon ref="0c50ca30-6e7c-4d42-bd27-833cccd576a6" id="0c50ca30-6e7c-4d42-bd27-833cccd576a6" @mouseover="addHoverClass('0c50ca30-6e7c-4d42-bd27-833cccd576a6')" @mouseleave="removeHoverClass('0c50ca30-6e7c-4d42-bd27-833cccd576a6')" @click="showModal('0c50ca30-6e7c-4d42-bd27-833cccd576a6')" :class="[returnClassRoom('0c50ca30-6e7c-4d42-bd27-833cccd576a6'), { 'hoverSvgClassPark': activeFloor === '0c50ca30-6e7c-4d42-bd27-833cccd576a6' }]" class="fil0" points="586.44,116.06 612.55,116.06 612.55,126.44 586.44,126.44 "/>
  <polygon ref="646df94e-1a82-4eb2-b8da-bae78d14417d" id="646df94e-1a82-4eb2-b8da-bae78d14417d" @mouseover="addHoverClass('646df94e-1a82-4eb2-b8da-bae78d14417d')" @mouseleave="removeHoverClass('646df94e-1a82-4eb2-b8da-bae78d14417d')" @click="showModal('646df94e-1a82-4eb2-b8da-bae78d14417d')" :class="[returnClassRoom('646df94e-1a82-4eb2-b8da-bae78d14417d'), { 'hoverSvgClassPark': activeFloor === '646df94e-1a82-4eb2-b8da-bae78d14417d' }]" class="fil0" points="502.34,138.42 553.66,138.42 553.66,148.79 502.34,148.79 "/>
  <polygon ref="c15af5b5-0d68-4a6e-a47d-035fb9b4223f" id="c15af5b5-0d68-4a6e-a47d-035fb9b4223f" @mouseover="addHoverClass('c15af5b5-0d68-4a6e-a47d-035fb9b4223f')" @mouseleave="removeHoverClass('c15af5b5-0d68-4a6e-a47d-035fb9b4223f')" @click="showModal('c15af5b5-0d68-4a6e-a47d-035fb9b4223f')" :class="[returnClassRoom('c15af5b5-0d68-4a6e-a47d-035fb9b4223f'), { 'hoverSvgClassPark': activeFloor === 'c15af5b5-0d68-4a6e-a47d-035fb9b4223f' }]" class="fil0" points="502.34,149.41 553.66,149.41 553.66,159.79 502.34,159.79 "/>
  <polygon ref="56c28f8f-71c1-4675-977e-7f2e41f8ecde" id="56c28f8f-71c1-4675-977e-7f2e41f8ecde" @mouseover="addHoverClass('56c28f8f-71c1-4675-977e-7f2e41f8ecde')" @mouseleave="removeHoverClass('56c28f8f-71c1-4675-977e-7f2e41f8ecde')" @click="showModal('56c28f8f-71c1-4675-977e-7f2e41f8ecde')" :class="[returnClassRoom('56c28f8f-71c1-4675-977e-7f2e41f8ecde'), { 'hoverSvgClassPark': activeFloor === '56c28f8f-71c1-4675-977e-7f2e41f8ecde' }]" class="fil0" points="587.01,138.42 612.67,138.42 612.67,148.79 587.01,148.79 "/>
  <polygon ref="366bafe1-dcd9-463e-a72f-0dd193955c2e" id="366bafe1-dcd9-463e-a72f-0dd193955c2e" @mouseover="addHoverClass('366bafe1-dcd9-463e-a72f-0dd193955c2e')" @mouseleave="removeHoverClass('366bafe1-dcd9-463e-a72f-0dd193955c2e')" @click="showModal('366bafe1-dcd9-463e-a72f-0dd193955c2e')" :class="[returnClassRoom('366bafe1-dcd9-463e-a72f-0dd193955c2e'), { 'hoverSvgClassPark': activeFloor === '366bafe1-dcd9-463e-a72f-0dd193955c2e' }]" class="fil0" points="587.01,149.41 612.67,149.41 612.67,159.79 587.01,159.79 "/>
  <polygon ref="36d64e57-bcec-436e-a5d8-feacc50a36ea" id="36d64e57-bcec-436e-a5d8-feacc50a36ea" @mouseover="addHoverClass('36d64e57-bcec-436e-a5d8-feacc50a36ea')" @mouseleave="removeHoverClass('36d64e57-bcec-436e-a5d8-feacc50a36ea')" @click="showModal('36d64e57-bcec-436e-a5d8-feacc50a36ea')" :class="[returnClassRoom('36d64e57-bcec-436e-a5d8-feacc50a36ea'), { 'hoverSvgClassPark': activeFloor === '36d64e57-bcec-436e-a5d8-feacc50a36ea' }]" class="fil0" points="439.22,167.61 439.22,141.5 449.59,141.5 449.59,167.61 "/>
  <polygon ref="768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f" id="768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f" @mouseover="addHoverClass('768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f')" @mouseleave="removeHoverClass('768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f')" @click="showModal('768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f')" :class="[returnClassRoom('768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f'), { 'hoverSvgClassPark': activeFloor === '768bbbf3-12cf-42a1-a55a-d5a8e69f7c2f' }]" class="fil0" points="450.22,167.61 450.22,141.5 460.59,141.5 460.59,167.61 "/>
  <polygon ref="5490f924-2b6a-458b-928f-ccf7e2f0e057" id="5490f924-2b6a-458b-928f-ccf7e2f0e057" @mouseover="addHoverClass('5490f924-2b6a-458b-928f-ccf7e2f0e057')" @mouseleave="removeHoverClass('5490f924-2b6a-458b-928f-ccf7e2f0e057')" @click="showModal('5490f924-2b6a-458b-928f-ccf7e2f0e057')" :class="[returnClassRoom('5490f924-2b6a-458b-928f-ccf7e2f0e057'), { 'hoverSvgClassPark': activeFloor === '5490f924-2b6a-458b-928f-ccf7e2f0e057' }]" class="fil0" points="410.07,167.61 410.07,141.5 420.44,141.5 420.44,167.61 "/>
  <polygon ref="0abc7325-a63d-4524-8e96-a94a1bae6355" id="0abc7325-a63d-4524-8e96-a94a1bae6355" @mouseover="addHoverClass('0abc7325-a63d-4524-8e96-a94a1bae6355')" @mouseleave="removeHoverClass('0abc7325-a63d-4524-8e96-a94a1bae6355')" @click="showModal('0abc7325-a63d-4524-8e96-a94a1bae6355')" :class="[returnClassRoom('0abc7325-a63d-4524-8e96-a94a1bae6355'), { 'hoverSvgClassPark': activeFloor === '0abc7325-a63d-4524-8e96-a94a1bae6355' }]" class="fil0" points="421.07,167.61 421.07,141.5 431.44,141.5 431.44,167.61 "/>
  <polygon ref="8d23cbc6-50a1-4c53-98d8-594a69acf970" id="8d23cbc6-50a1-4c53-98d8-594a69acf970" @mouseover="addHoverClass('8d23cbc6-50a1-4c53-98d8-594a69acf970')" @mouseleave="removeHoverClass('8d23cbc6-50a1-4c53-98d8-594a69acf970')" @click="showModal('8d23cbc6-50a1-4c53-98d8-594a69acf970')" :class="[returnClassRoom('8d23cbc6-50a1-4c53-98d8-594a69acf970'), { 'hoverSvgClassPark': activeFloor === '8d23cbc6-50a1-4c53-98d8-594a69acf970' }]" class="fil0" points="325.84,167.61 325.84,141.5 336.22,141.5 336.22,167.61 "/>
  <polygon ref="3c9a7d1f-a575-449d-9469-94808b8b9da3" id="3c9a7d1f-a575-449d-9469-94808b8b9da3" @mouseover="addHoverClass('3c9a7d1f-a575-449d-9469-94808b8b9da3')" @mouseleave="removeHoverClass('3c9a7d1f-a575-449d-9469-94808b8b9da3')" @click="showModal('3c9a7d1f-a575-449d-9469-94808b8b9da3')" :class="[returnClassRoom('3c9a7d1f-a575-449d-9469-94808b8b9da3'), { 'hoverSvgClassPark': activeFloor === '3c9a7d1f-a575-449d-9469-94808b8b9da3' }]" class="fil0" points="336.84,167.61 336.84,141.5 347.21,141.5 347.21,167.61 "/>
  <polygon ref="dccab197-b4f2-4f11-96ae-9bb57a7587a4" id="dccab197-b4f2-4f11-96ae-9bb57a7587a4" @mouseover="addHoverClass('dccab197-b4f2-4f11-96ae-9bb57a7587a4')" @mouseleave="removeHoverClass('dccab197-b4f2-4f11-96ae-9bb57a7587a4')" @click="showModal('dccab197-b4f2-4f11-96ae-9bb57a7587a4')" :class="[returnClassRoom('dccab197-b4f2-4f11-96ae-9bb57a7587a4'), { 'hoverSvgClassPark': activeFloor === 'dccab197-b4f2-4f11-96ae-9bb57a7587a4' }]" class="fil0" points="313.86,167.61 313.86,141.5 324.24,141.5 324.24,167.61 "/>
  <polygon ref="e809619d-1474-48ba-bfbb-982281cd7865" id="e809619d-1474-48ba-bfbb-982281cd7865" @mouseover="addHoverClass('e809619d-1474-48ba-bfbb-982281cd7865')" @mouseleave="removeHoverClass('e809619d-1474-48ba-bfbb-982281cd7865')" @click="showModal('e809619d-1474-48ba-bfbb-982281cd7865')" :class="[returnClassRoom('e809619d-1474-48ba-bfbb-982281cd7865'), { 'hoverSvgClassPark': activeFloor === 'e809619d-1474-48ba-bfbb-982281cd7865' }]" class="fil0" points="398.18,167.61 398.18,141.5 408.55,141.5 408.55,167.61 "/>
  <polygon ref="708b93ce-04ef-4935-9786-05a7655c0ed2" id="708b93ce-04ef-4935-9786-05a7655c0ed2" @mouseover="addHoverClass('708b93ce-04ef-4935-9786-05a7655c0ed2')" @mouseleave="removeHoverClass('708b93ce-04ef-4935-9786-05a7655c0ed2')" @click="showModal('708b93ce-04ef-4935-9786-05a7655c0ed2')" :class="[returnClassRoom('708b93ce-04ef-4935-9786-05a7655c0ed2'), { 'hoverSvgClassPark': activeFloor === '708b93ce-04ef-4935-9786-05a7655c0ed2' }]" class="fil0" points="378.23,167.61 378.23,141.5 388.6,141.5 388.6,167.61 "/>
  <polygon ref="c945a9a8-c273-45f6-b1e8-ac917e71bce2" id="c945a9a8-c273-45f6-b1e8-ac917e71bce2" @mouseover="addHoverClass('c945a9a8-c273-45f6-b1e8-ac917e71bce2')" @mouseleave="removeHoverClass('c945a9a8-c273-45f6-b1e8-ac917e71bce2')" @click="showModal('c945a9a8-c273-45f6-b1e8-ac917e71bce2')" :class="[returnClassRoom('c945a9a8-c273-45f6-b1e8-ac917e71bce2'), { 'hoverSvgClassPark': activeFloor === 'c945a9a8-c273-45f6-b1e8-ac917e71bce2' }]" class="fil0" points="282.39,167.61 282.39,141.5 292.76,141.5 292.76,167.61 "/>
  <polygon ref="ec73cc1c-7ccd-4ab5-bde9-8999bd41f943" id="ec73cc1c-7ccd-4ab5-bde9-8999bd41f943" @mouseover="addHoverClass('ec73cc1c-7ccd-4ab5-bde9-8999bd41f943')" @mouseleave="removeHoverClass('ec73cc1c-7ccd-4ab5-bde9-8999bd41f943')" @click="showModal('ec73cc1c-7ccd-4ab5-bde9-8999bd41f943')" :class="[returnClassRoom('ec73cc1c-7ccd-4ab5-bde9-8999bd41f943'), { 'hoverSvgClassPark': activeFloor === 'ec73cc1c-7ccd-4ab5-bde9-8999bd41f943' }]" class="fil0" points="293.39,167.61 293.39,141.5 303.76,141.5 303.76,167.61 "/>
  <polygon ref="5ff7ed48-3a67-40ab-a5eb-208bef455ed6" id="5ff7ed48-3a67-40ab-a5eb-208bef455ed6" @mouseover="addHoverClass('5ff7ed48-3a67-40ab-a5eb-208bef455ed6')" @mouseleave="removeHoverClass('5ff7ed48-3a67-40ab-a5eb-208bef455ed6')" @click="showModal('5ff7ed48-3a67-40ab-a5eb-208bef455ed6')" :class="[returnClassRoom('5ff7ed48-3a67-40ab-a5eb-208bef455ed6'), { 'hoverSvgClassPark': activeFloor === '5ff7ed48-3a67-40ab-a5eb-208bef455ed6' }]" class="fil0" points="270.41,167.61 270.41,141.5 280.78,141.5 280.78,167.61 "/>
  <polygon ref="1db08dcf-db76-4f31-a91e-66a58e2df2aa" id="1db08dcf-db76-4f31-a91e-66a58e2df2aa" @mouseover="addHoverClass('1db08dcf-db76-4f31-a91e-66a58e2df2aa')" @mouseleave="removeHoverClass('1db08dcf-db76-4f31-a91e-66a58e2df2aa')" @click="showModal('1db08dcf-db76-4f31-a91e-66a58e2df2aa')" :class="[returnClassRoom('1db08dcf-db76-4f31-a91e-66a58e2df2aa'), { 'hoverSvgClassPark': activeFloor === '1db08dcf-db76-4f31-a91e-66a58e2df2aa' }]" class="fil0" points="241.6,167.61 241.6,141.5 251.98,141.5 251.98,167.61 "/>
  <polygon ref="ae09304c-8081-4d94-a039-46ecb9fbe596" id="ae09304c-8081-4d94-a039-46ecb9fbe596" @mouseover="addHoverClass('ae09304c-8081-4d94-a039-46ecb9fbe596')" @mouseleave="removeHoverClass('ae09304c-8081-4d94-a039-46ecb9fbe596')" @click="showModal('ae09304c-8081-4d94-a039-46ecb9fbe596')" :class="[returnClassRoom('ae09304c-8081-4d94-a039-46ecb9fbe596'), { 'hoverSvgClassPark': activeFloor === 'ae09304c-8081-4d94-a039-46ecb9fbe596' }]" class="fil0" points="252.6,167.61 252.6,141.5 262.97,141.5 262.97,167.61 "/>
  <polygon ref="4adde452-2dc9-43cc-a039-362621c3bdd8" id="4adde452-2dc9-43cc-a039-362621c3bdd8" @mouseover="addHoverClass('4adde452-2dc9-43cc-a039-362621c3bdd8')" @mouseleave="removeHoverClass('4adde452-2dc9-43cc-a039-362621c3bdd8')" @click="showModal('4adde452-2dc9-43cc-a039-362621c3bdd8')" :class="[returnClassRoom('4adde452-2dc9-43cc-a039-362621c3bdd8'), { 'hoverSvgClassPark': activeFloor === '4adde452-2dc9-43cc-a039-362621c3bdd8' }]" class="fil0" points="229.62,167.61 229.62,141.5 240,141.5 240,167.61 "/>
  <polygon ref="68830db5-f08a-431e-9921-8307ff6ffa01" id="68830db5-f08a-431e-9921-8307ff6ffa01" @mouseover="addHoverClass('68830db5-f08a-431e-9921-8307ff6ffa01')" @mouseleave="removeHoverClass('68830db5-f08a-431e-9921-8307ff6ffa01')" @click="showModal('68830db5-f08a-431e-9921-8307ff6ffa01')" :class="[returnClassRoom('68830db5-f08a-431e-9921-8307ff6ffa01'), { 'hoverSvgClassPark': activeFloor === '68830db5-f08a-431e-9921-8307ff6ffa01' }]" class="fil0" points="210.49,167.61 210.49,141.5 220.86,141.5 220.86,167.61 "/>
  <polygon ref="02f4dd62-3992-4c2b-85aa-b9fdbbd56c46" id="02f4dd62-3992-4c2b-85aa-b9fdbbd56c46" @mouseover="addHoverClass('02f4dd62-3992-4c2b-85aa-b9fdbbd56c46')" @mouseleave="removeHoverClass('02f4dd62-3992-4c2b-85aa-b9fdbbd56c46')" @click="showModal('02f4dd62-3992-4c2b-85aa-b9fdbbd56c46')" :class="[returnClassRoom('02f4dd62-3992-4c2b-85aa-b9fdbbd56c46'), { 'hoverSvgClassPark': activeFloor === '02f4dd62-3992-4c2b-85aa-b9fdbbd56c46' }]" class="fil0" points="198.51,167.61 198.51,141.5 208.88,141.5 208.88,167.61 "/>
  <polygon ref="7339228f-9989-49b3-bdb2-815ab2e9b0fc" id="7339228f-9989-49b3-bdb2-815ab2e9b0fc" @mouseover="addHoverClass('7339228f-9989-49b3-bdb2-815ab2e9b0fc')" @mouseleave="removeHoverClass('7339228f-9989-49b3-bdb2-815ab2e9b0fc')" @click="showModal('7339228f-9989-49b3-bdb2-815ab2e9b0fc')" :class="[returnClassRoom('7339228f-9989-49b3-bdb2-815ab2e9b0fc'), { 'hoverSvgClassPark': activeFloor === '7339228f-9989-49b3-bdb2-815ab2e9b0fc' }]" class="fil0" points="183.84,167.61 183.84,141.5 194.22,141.5 194.22,167.61 "/>
  <polygon ref="7091038e-c0a2-488e-a752-91c8d73307f3" id="7091038e-c0a2-488e-a752-91c8d73307f3" @mouseover="addHoverClass('7091038e-c0a2-488e-a752-91c8d73307f3')" @mouseleave="removeHoverClass('7091038e-c0a2-488e-a752-91c8d73307f3')" @click="showModal('7091038e-c0a2-488e-a752-91c8d73307f3')" :class="[returnClassRoom('7091038e-c0a2-488e-a752-91c8d73307f3'), { 'hoverSvgClassPark': activeFloor === '7091038e-c0a2-488e-a752-91c8d73307f3' }]" class="fil0" points="171.86,167.61 171.86,141.5 182.23,141.5 182.23,167.61 "/>
  <polygon ref="6154cb8d-90c6-4d16-8bb9-69c6d59a2493" id="6154cb8d-90c6-4d16-8bb9-69c6d59a2493" @mouseover="addHoverClass('6154cb8d-90c6-4d16-8bb9-69c6d59a2493')" @mouseleave="removeHoverClass('6154cb8d-90c6-4d16-8bb9-69c6d59a2493')" @click="showModal('6154cb8d-90c6-4d16-8bb9-69c6d59a2493')" :class="[returnClassRoom('6154cb8d-90c6-4d16-8bb9-69c6d59a2493'), { 'hoverSvgClassPark': activeFloor === '6154cb8d-90c6-4d16-8bb9-69c6d59a2493' }]" class="fil0" points="158.45,167.61 158.45,141.5 168.82,141.5 168.82,167.61 "/>
  <polygon ref="d131c29e-dc84-41ea-8e64-d9abefbb378b" id="d131c29e-dc84-41ea-8e64-d9abefbb378b" @mouseover="addHoverClass('d131c29e-dc84-41ea-8e64-d9abefbb378b')" @mouseleave="removeHoverClass('d131c29e-dc84-41ea-8e64-d9abefbb378b')" @click="showModal('d131c29e-dc84-41ea-8e64-d9abefbb378b')" :class="[returnClassRoom('d131c29e-dc84-41ea-8e64-d9abefbb378b'), { 'hoverSvgClassPark': activeFloor === 'd131c29e-dc84-41ea-8e64-d9abefbb378b' }]" class="fil0" points="325.84,223.05 325.84,196.94 336.22,196.94 336.22,223.05 "/>
  <polygon ref="bfcdf9a5-1a7d-4161-ac6b-87eef55079c8" id="bfcdf9a5-1a7d-4161-ac6b-87eef55079c8" @mouseover="addHoverClass('bfcdf9a5-1a7d-4161-ac6b-87eef55079c8')" @mouseleave="removeHoverClass('bfcdf9a5-1a7d-4161-ac6b-87eef55079c8')" @click="showModal('bfcdf9a5-1a7d-4161-ac6b-87eef55079c8')" :class="[returnClassRoom('bfcdf9a5-1a7d-4161-ac6b-87eef55079c8'), { 'hoverSvgClassPark': activeFloor === 'bfcdf9a5-1a7d-4161-ac6b-87eef55079c8' }]" class="fil0" points="336.84,223.05 336.84,196.94 347.21,196.94 347.21,223.05 "/>
  <polygon ref="68fcf9d5-6916-4282-99cb-7c3a233b9141" id="68fcf9d5-6916-4282-99cb-7c3a233b9141" @mouseover="addHoverClass('68fcf9d5-6916-4282-99cb-7c3a233b9141')" @mouseleave="removeHoverClass('68fcf9d5-6916-4282-99cb-7c3a233b9141')" @click="showModal('68fcf9d5-6916-4282-99cb-7c3a233b9141')" :class="[returnClassRoom('68fcf9d5-6916-4282-99cb-7c3a233b9141'), { 'hoverSvgClassPark': activeFloor === '68fcf9d5-6916-4282-99cb-7c3a233b9141' }]" class="fil0" points="313.86,223.05 313.86,196.94 324.24,196.94 324.24,223.05 "/>
  <polygon ref="9675314e-2f0a-4d81-b658-f1867afce8b1" id="9675314e-2f0a-4d81-b658-f1867afce8b1" @mouseover="addHoverClass('9675314e-2f0a-4d81-b658-f1867afce8b1')" @mouseleave="removeHoverClass('9675314e-2f0a-4d81-b658-f1867afce8b1')" @click="showModal('9675314e-2f0a-4d81-b658-f1867afce8b1')" :class="[returnClassRoom('9675314e-2f0a-4d81-b658-f1867afce8b1'), { 'hoverSvgClassPark': activeFloor === '9675314e-2f0a-4d81-b658-f1867afce8b1' }]" class="fil0" points="282.39,223.05 282.39,196.94 292.76,196.94 292.76,223.05 "/>
  <polygon ref="4a6b2b70-f05d-4f67-bc1a-e770743aef58" id="4a6b2b70-f05d-4f67-bc1a-e770743aef58" @mouseover="addHoverClass('4a6b2b70-f05d-4f67-bc1a-e770743aef58')" @mouseleave="removeHoverClass('4a6b2b70-f05d-4f67-bc1a-e770743aef58')" @click="showModal('4a6b2b70-f05d-4f67-bc1a-e770743aef58')" :class="[returnClassRoom('4a6b2b70-f05d-4f67-bc1a-e770743aef58'), { 'hoverSvgClassPark': activeFloor === '4a6b2b70-f05d-4f67-bc1a-e770743aef58' }]" class="fil0" points="293.39,223.05 293.39,196.94 303.76,196.94 303.76,223.05 "/>
  <polygon ref="c5e09eeb-88e8-4e18-b25d-fe06605cfce7" id="c5e09eeb-88e8-4e18-b25d-fe06605cfce7" @mouseover="addHoverClass('c5e09eeb-88e8-4e18-b25d-fe06605cfce7')" @mouseleave="removeHoverClass('c5e09eeb-88e8-4e18-b25d-fe06605cfce7')" @click="showModal('c5e09eeb-88e8-4e18-b25d-fe06605cfce7')" :class="[returnClassRoom('c5e09eeb-88e8-4e18-b25d-fe06605cfce7'), { 'hoverSvgClassPark': activeFloor === 'c5e09eeb-88e8-4e18-b25d-fe06605cfce7' }]" class="fil0" points="270.41,223.05 270.41,196.94 280.78,196.94 280.78,223.05 "/>
  <polygon ref="7b081758-0e56-4e9f-a36e-23a18aafb490" id="7b081758-0e56-4e9f-a36e-23a18aafb490" @mouseover="addHoverClass('7b081758-0e56-4e9f-a36e-23a18aafb490')" @mouseleave="removeHoverClass('7b081758-0e56-4e9f-a36e-23a18aafb490')" @click="showModal('7b081758-0e56-4e9f-a36e-23a18aafb490')" :class="[returnClassRoom('7b081758-0e56-4e9f-a36e-23a18aafb490'), { 'hoverSvgClassPark': activeFloor === '7b081758-0e56-4e9f-a36e-23a18aafb490' }]" class="fil0" points="241.6,223.05 241.6,196.94 251.98,196.94 251.98,223.05 "/>
  <polygon ref="41bca8a0-1b31-4e80-b288-54323b4eb695" id="41bca8a0-1b31-4e80-b288-54323b4eb695" @mouseover="addHoverClass('41bca8a0-1b31-4e80-b288-54323b4eb695')" @mouseleave="removeHoverClass('41bca8a0-1b31-4e80-b288-54323b4eb695')" @click="showModal('41bca8a0-1b31-4e80-b288-54323b4eb695')" :class="[returnClassRoom('41bca8a0-1b31-4e80-b288-54323b4eb695'), { 'hoverSvgClassPark': activeFloor === '41bca8a0-1b31-4e80-b288-54323b4eb695' }]" class="fil0" points="252.6,223.05 252.6,196.94 262.97,196.94 262.97,223.05 "/>
  <polygon ref="ffbcb074-0fa6-4659-a1a5-b13d477e9405" id="ffbcb074-0fa6-4659-a1a5-b13d477e9405" @mouseover="addHoverClass('ffbcb074-0fa6-4659-a1a5-b13d477e9405')" @mouseleave="removeHoverClass('ffbcb074-0fa6-4659-a1a5-b13d477e9405')" @click="showModal('ffbcb074-0fa6-4659-a1a5-b13d477e9405')" :class="[returnClassRoom('ffbcb074-0fa6-4659-a1a5-b13d477e9405'), { 'hoverSvgClassPark': activeFloor === 'ffbcb074-0fa6-4659-a1a5-b13d477e9405' }]" class="fil0" points="229.62,223.05 229.62,196.94 240,196.94 240,223.05 "/>
  <polygon ref="2317f77e-ff43-4705-8099-70d5111dc61d" id="2317f77e-ff43-4705-8099-70d5111dc61d" @mouseover="addHoverClass('2317f77e-ff43-4705-8099-70d5111dc61d')" @mouseleave="removeHoverClass('2317f77e-ff43-4705-8099-70d5111dc61d')" @click="showModal('2317f77e-ff43-4705-8099-70d5111dc61d')" :class="[returnClassRoom('2317f77e-ff43-4705-8099-70d5111dc61d'), { 'hoverSvgClassPark': activeFloor === '2317f77e-ff43-4705-8099-70d5111dc61d' }]" class="fil0" points="210.49,223.05 210.49,196.94 220.86,196.94 220.86,223.05 "/>
  <polygon ref="b422c763-25ff-4443-93eb-6ec7ac5e4e2f" id="b422c763-25ff-4443-93eb-6ec7ac5e4e2f" @mouseover="addHoverClass('b422c763-25ff-4443-93eb-6ec7ac5e4e2f')" @mouseleave="removeHoverClass('b422c763-25ff-4443-93eb-6ec7ac5e4e2f')" @click="showModal('b422c763-25ff-4443-93eb-6ec7ac5e4e2f')" :class="[returnClassRoom('b422c763-25ff-4443-93eb-6ec7ac5e4e2f'), { 'hoverSvgClassPark': activeFloor === 'b422c763-25ff-4443-93eb-6ec7ac5e4e2f' }]" class="fil0" points="198.51,223.05 198.51,196.94 208.88,196.94 208.88,223.05 "/>
  <polygon ref="e8e9d5f5-8c46-414f-b759-249e109596c3" id="e8e9d5f5-8c46-414f-b759-249e109596c3" @mouseover="addHoverClass('e8e9d5f5-8c46-414f-b759-249e109596c3')" @mouseleave="removeHoverClass('e8e9d5f5-8c46-414f-b759-249e109596c3')" @click="showModal('e8e9d5f5-8c46-414f-b759-249e109596c3')" :class="[returnClassRoom('e8e9d5f5-8c46-414f-b759-249e109596c3'), { 'hoverSvgClassPark': activeFloor === 'e8e9d5f5-8c46-414f-b759-249e109596c3' }]" class="fil0" points="183.84,223.05 183.84,196.94 194.22,196.94 194.22,223.05 "/>
  <polygon ref="1b18f630-3fbb-48bd-9150-ccbefde3b1ff" id="1b18f630-3fbb-48bd-9150-ccbefde3b1ff" @mouseover="addHoverClass('1b18f630-3fbb-48bd-9150-ccbefde3b1ff')" @mouseleave="removeHoverClass('1b18f630-3fbb-48bd-9150-ccbefde3b1ff')" @click="showModal('1b18f630-3fbb-48bd-9150-ccbefde3b1ff')" :class="[returnClassRoom('1b18f630-3fbb-48bd-9150-ccbefde3b1ff'), { 'hoverSvgClassPark': activeFloor === '1b18f630-3fbb-48bd-9150-ccbefde3b1ff' }]" class="fil0" points="171.86,223.05 171.86,196.94 182.23,196.94 182.23,223.05 "/>
  <polygon ref="bd820b4a-884b-4974-bfa1-d9a4af4258a9" id="bd820b4a-884b-4974-bfa1-d9a4af4258a9" @mouseover="addHoverClass('bd820b4a-884b-4974-bfa1-d9a4af4258a9')" @mouseleave="removeHoverClass('bd820b4a-884b-4974-bfa1-d9a4af4258a9')" @click="showModal('bd820b4a-884b-4974-bfa1-d9a4af4258a9')" :class="[returnClassRoom('bd820b4a-884b-4974-bfa1-d9a4af4258a9'), { 'hoverSvgClassPark': activeFloor === 'bd820b4a-884b-4974-bfa1-d9a4af4258a9' }]" class="fil0" points="159.3,223.1 159.3,196.99 169.67,196.99 169.67,223.1 "/>
  <polygon ref="0b3400fe-0c80-41f3-8422-3a9c98dd2134" id="0b3400fe-0c80-41f3-8422-3a9c98dd2134" @mouseover="addHoverClass('0b3400fe-0c80-41f3-8422-3a9c98dd2134')" @mouseleave="removeHoverClass('0b3400fe-0c80-41f3-8422-3a9c98dd2134')" @click="showModal('0b3400fe-0c80-41f3-8422-3a9c98dd2134')" :class="[returnClassRoom('0b3400fe-0c80-41f3-8422-3a9c98dd2134'), { 'hoverSvgClassPark': activeFloor === '0b3400fe-0c80-41f3-8422-3a9c98dd2134' }]" class="fil0" points="367.49,223.05 367.49,196.94 377.87,196.94 377.87,223.05 "/>
  <polygon ref="1de4bb2d-9824-4c7d-b553-854bb06fa61b" id="1de4bb2d-9824-4c7d-b553-854bb06fa61b" @mouseover="addHoverClass('1de4bb2d-9824-4c7d-b553-854bb06fa61b')" @mouseleave="removeHoverClass('1de4bb2d-9824-4c7d-b553-854bb06fa61b')" @click="showModal('1de4bb2d-9824-4c7d-b553-854bb06fa61b')" :class="[returnClassRoom('1de4bb2d-9824-4c7d-b553-854bb06fa61b'), { 'hoverSvgClassPark': activeFloor === '1de4bb2d-9824-4c7d-b553-854bb06fa61b' }]" class="fil0" points="378.49,223.05 378.49,196.94 388.86,196.94 388.86,223.05 "/>
  <polygon ref="99d362c5-38e0-47c9-8660-f107efd99271" id="99d362c5-38e0-47c9-8660-f107efd99271" @mouseover="addHoverClass('99d362c5-38e0-47c9-8660-f107efd99271')" @mouseleave="removeHoverClass('99d362c5-38e0-47c9-8660-f107efd99271')" @click="showModal('99d362c5-38e0-47c9-8660-f107efd99271')" :class="[returnClassRoom('99d362c5-38e0-47c9-8660-f107efd99271'), { 'hoverSvgClassPark': activeFloor === '99d362c5-38e0-47c9-8660-f107efd99271' }]" class="fil0" points="355.51,223.05 355.51,196.94 365.89,196.94 365.89,223.05 "/>
  <polygon ref="bf6203f2-575c-4cbd-aa4b-485d977e1ae6" id="bf6203f2-575c-4cbd-aa4b-485d977e1ae6" @mouseover="addHoverClass('bf6203f2-575c-4cbd-aa4b-485d977e1ae6')" @mouseleave="removeHoverClass('bf6203f2-575c-4cbd-aa4b-485d977e1ae6')" @click="showModal('bf6203f2-575c-4cbd-aa4b-485d977e1ae6')" :class="[returnClassRoom('bf6203f2-575c-4cbd-aa4b-485d977e1ae6'), { 'hoverSvgClassPark': activeFloor === 'bf6203f2-575c-4cbd-aa4b-485d977e1ae6' }]" class="fil0" points="367.49,257.7 367.49,231.59 377.87,231.59 377.87,257.7 "/>
  <polygon ref="907a556c-5912-4bdc-bb6c-db652af9cc77" id="907a556c-5912-4bdc-bb6c-db652af9cc77" @mouseover="addHoverClass('907a556c-5912-4bdc-bb6c-db652af9cc77')" @mouseleave="removeHoverClass('907a556c-5912-4bdc-bb6c-db652af9cc77')" @click="showModal('907a556c-5912-4bdc-bb6c-db652af9cc77')" :class="[returnClassRoom('907a556c-5912-4bdc-bb6c-db652af9cc77'), { 'hoverSvgClassPark': activeFloor === '907a556c-5912-4bdc-bb6c-db652af9cc77' }]" class="fil0" points="378.49,257.7 378.49,231.59 388.86,231.59 388.86,257.7 "/>
  <polygon ref="db8c13af-c86a-40e1-8b15-c0a9c4e35a5f" id="db8c13af-c86a-40e1-8b15-c0a9c4e35a5f" @mouseover="addHoverClass('db8c13af-c86a-40e1-8b15-c0a9c4e35a5f')" @mouseleave="removeHoverClass('db8c13af-c86a-40e1-8b15-c0a9c4e35a5f')" @click="showModal('db8c13af-c86a-40e1-8b15-c0a9c4e35a5f')" :class="[returnClassRoom('db8c13af-c86a-40e1-8b15-c0a9c4e35a5f'), { 'hoverSvgClassPark': activeFloor === 'db8c13af-c86a-40e1-8b15-c0a9c4e35a5f' }]" class="fil0" points="355.51,257.7 355.51,231.59 365.89,231.59 365.89,257.7 "/>
  <polygon ref="f30a2002-0b18-4a29-aba4-50cd8d4749b6" id="f30a2002-0b18-4a29-aba4-50cd8d4749b6" @mouseover="addHoverClass('f30a2002-0b18-4a29-aba4-50cd8d4749b6')" @mouseleave="removeHoverClass('f30a2002-0b18-4a29-aba4-50cd8d4749b6')" @click="showModal('f30a2002-0b18-4a29-aba4-50cd8d4749b6')" :class="[returnClassRoom('f30a2002-0b18-4a29-aba4-50cd8d4749b6'), { 'hoverSvgClassPark': activeFloor === 'f30a2002-0b18-4a29-aba4-50cd8d4749b6' }]" class="fil0" points="318.33,257.79 318.33,231.68 328.71,231.68 328.71,257.79 "/>
  <polygon ref="5f1f2411-1893-4a43-a166-5275f66e09f4" id="5f1f2411-1893-4a43-a166-5275f66e09f4" @mouseover="addHoverClass('5f1f2411-1893-4a43-a166-5275f66e09f4')" @mouseleave="removeHoverClass('5f1f2411-1893-4a43-a166-5275f66e09f4')" @click="showModal('5f1f2411-1893-4a43-a166-5275f66e09f4')" :class="[returnClassRoom('5f1f2411-1893-4a43-a166-5275f66e09f4'), { 'hoverSvgClassPark': activeFloor === '5f1f2411-1893-4a43-a166-5275f66e09f4' }]" class="fil0" points="306.35,257.79 306.35,231.68 316.72,231.68 316.72,257.79 "/>
  <polygon ref="c74a63a0-cc5e-4296-82bc-3477fc40a342" id="c74a63a0-cc5e-4296-82bc-3477fc40a342" @mouseover="addHoverClass('c74a63a0-cc5e-4296-82bc-3477fc40a342')" @mouseleave="removeHoverClass('c74a63a0-cc5e-4296-82bc-3477fc40a342')" @click="showModal('c74a63a0-cc5e-4296-82bc-3477fc40a342')" :class="[returnClassRoom('c74a63a0-cc5e-4296-82bc-3477fc40a342'), { 'hoverSvgClassPark': activeFloor === 'c74a63a0-cc5e-4296-82bc-3477fc40a342' }]" class="fil0" points="330.13,257.7 330.13,231.59 340.51,231.59 340.51,257.7 "/>
  <polygon ref="00d20cdb-0ec2-4780-bf10-4806823d3a3b" id="00d20cdb-0ec2-4780-bf10-4806823d3a3b" @mouseover="addHoverClass('00d20cdb-0ec2-4780-bf10-4806823d3a3b')" @mouseleave="removeHoverClass('00d20cdb-0ec2-4780-bf10-4806823d3a3b')" @click="showModal('00d20cdb-0ec2-4780-bf10-4806823d3a3b')" :class="[returnClassRoom('00d20cdb-0ec2-4780-bf10-4806823d3a3b'), { 'hoverSvgClassPark': activeFloor === '00d20cdb-0ec2-4780-bf10-4806823d3a3b' }]" class="fil0" points="281.17,257.74 281.17,231.63 291.54,231.63 291.54,257.74 "/>
  <polygon ref="86ad29a6-4194-4e5e-8778-f543bcc0623e" id="86ad29a6-4194-4e5e-8778-f543bcc0623e" @mouseover="addHoverClass('86ad29a6-4194-4e5e-8778-f543bcc0623e')" @mouseleave="removeHoverClass('86ad29a6-4194-4e5e-8778-f543bcc0623e')" @click="showModal('86ad29a6-4194-4e5e-8778-f543bcc0623e')" :class="[returnClassRoom('86ad29a6-4194-4e5e-8778-f543bcc0623e'), { 'hoverSvgClassPark': activeFloor === '86ad29a6-4194-4e5e-8778-f543bcc0623e' }]" class="fil0" points="269.18,257.74 269.18,231.63 279.56,231.63 279.56,257.74 "/>
  <polygon ref="51108964-be2f-469a-98c4-c8eb7e529101" id="51108964-be2f-469a-98c4-c8eb7e529101" @mouseover="addHoverClass('51108964-be2f-469a-98c4-c8eb7e529101')" @mouseleave="removeHoverClass('51108964-be2f-469a-98c4-c8eb7e529101')" @click="showModal('51108964-be2f-469a-98c4-c8eb7e529101')" :class="[returnClassRoom('51108964-be2f-469a-98c4-c8eb7e529101'), { 'hoverSvgClassPark': activeFloor === '51108964-be2f-469a-98c4-c8eb7e529101' }]" class="fil0" points="242.05,257.83 242.05,231.72 252.42,231.72 252.42,257.83 "/>
  <polygon ref="e923cb34-a4a7-4208-83a0-76535ce9f4aa" id="e923cb34-a4a7-4208-83a0-76535ce9f4aa" @mouseover="addHoverClass('e923cb34-a4a7-4208-83a0-76535ce9f4aa')" @mouseleave="removeHoverClass('e923cb34-a4a7-4208-83a0-76535ce9f4aa')" @click="showModal('e923cb34-a4a7-4208-83a0-76535ce9f4aa')" :class="[returnClassRoom('e923cb34-a4a7-4208-83a0-76535ce9f4aa'), { 'hoverSvgClassPark': activeFloor === 'e923cb34-a4a7-4208-83a0-76535ce9f4aa' }]" class="fil0" points="215.32,257.7 215.32,231.59 225.69,231.59 225.69,257.7 "/>
  <polygon ref="3e4711a6-b6fa-4e0d-ac24-a898db71e122" id="3e4711a6-b6fa-4e0d-ac24-a898db71e122" @mouseover="addHoverClass('3e4711a6-b6fa-4e0d-ac24-a898db71e122')" @mouseleave="removeHoverClass('3e4711a6-b6fa-4e0d-ac24-a898db71e122')" @click="showModal('3e4711a6-b6fa-4e0d-ac24-a898db71e122')" :class="[returnClassRoom('3e4711a6-b6fa-4e0d-ac24-a898db71e122'), { 'hoverSvgClassPark': activeFloor === '3e4711a6-b6fa-4e0d-ac24-a898db71e122' }]" class="fil0" points="193.11,257.74 193.11,231.63 203.48,231.63 203.48,257.74 "/>
  <polygon ref="b2f88bbb-58e4-4382-a421-f070c1ab4ebc" id="b2f88bbb-58e4-4382-a421-f070c1ab4ebc" @mouseover="addHoverClass('b2f88bbb-58e4-4382-a421-f070c1ab4ebc')" @mouseleave="removeHoverClass('b2f88bbb-58e4-4382-a421-f070c1ab4ebc')" @click="showModal('b2f88bbb-58e4-4382-a421-f070c1ab4ebc')" :class="[returnClassRoom('b2f88bbb-58e4-4382-a421-f070c1ab4ebc'), { 'hoverSvgClassPark': activeFloor === 'b2f88bbb-58e4-4382-a421-f070c1ab4ebc' }]" class="fil0" points="204.46,257.7 204.46,231.59 214.84,231.59 214.84,257.7 "/>
  <polygon ref="c66b7254-ef7a-496d-8a14-8a0762ba9af0" id="c66b7254-ef7a-496d-8a14-8a0762ba9af0" @mouseover="addHoverClass('c66b7254-ef7a-496d-8a14-8a0762ba9af0')" @mouseleave="removeHoverClass('c66b7254-ef7a-496d-8a14-8a0762ba9af0')" @click="showModal('c66b7254-ef7a-496d-8a14-8a0762ba9af0')" :class="[returnClassRoom('c66b7254-ef7a-496d-8a14-8a0762ba9af0'), { 'hoverSvgClassPark': activeFloor === 'c66b7254-ef7a-496d-8a14-8a0762ba9af0' }]" class="fil0" points="178.11,257.7 178.11,231.59 188.48,231.59 188.48,257.7 "/>
  <polygon ref="0436f1e5-0514-4529-abfd-d3da34c5dd63" id="0436f1e5-0514-4529-abfd-d3da34c5dd63" @mouseover="addHoverClass('0436f1e5-0514-4529-abfd-d3da34c5dd63')" @mouseleave="removeHoverClass('0436f1e5-0514-4529-abfd-d3da34c5dd63')" @click="showModal('0436f1e5-0514-4529-abfd-d3da34c5dd63')" :class="[returnClassRoom('0436f1e5-0514-4529-abfd-d3da34c5dd63'), { 'hoverSvgClassPark': activeFloor === '0436f1e5-0514-4529-abfd-d3da34c5dd63' }]" class="fil0" points="164.7,257.7 164.7,231.59 175.07,231.59 175.07,257.7 "/>
  <polygon ref="97c66264-c2ce-489a-9199-43ea668ee0ba" id="97c66264-c2ce-489a-9199-43ea668ee0ba" @mouseover="addHoverClass('97c66264-c2ce-489a-9199-43ea668ee0ba')" @mouseleave="removeHoverClass('97c66264-c2ce-489a-9199-43ea668ee0ba')" @click="showModal('97c66264-c2ce-489a-9199-43ea668ee0ba')" :class="[returnClassRoom('97c66264-c2ce-489a-9199-43ea668ee0ba'), { 'hoverSvgClassPark': activeFloor === '97c66264-c2ce-489a-9199-43ea668ee0ba' }]" class="fil0" points="137.52,257.74 137.52,231.63 147.9,231.63 147.9,257.74 "/>
  <polygon ref="7cff45b7-28e8-4fa5-aad8-114f0e6efeff" id="7cff45b7-28e8-4fa5-aad8-114f0e6efeff" @mouseover="addHoverClass('7cff45b7-28e8-4fa5-aad8-114f0e6efeff')" @mouseleave="removeHoverClass('7cff45b7-28e8-4fa5-aad8-114f0e6efeff')" @click="showModal('7cff45b7-28e8-4fa5-aad8-114f0e6efeff')" :class="[returnClassRoom('7cff45b7-28e8-4fa5-aad8-114f0e6efeff'), { 'hoverSvgClassPark': activeFloor === '7cff45b7-28e8-4fa5-aad8-114f0e6efeff' }]" class="fil0" points="439.22,223.1 439.22,196.99 449.59,196.99 449.59,223.1 "/>
  <polygon ref="1e87f490-1aae-4dc7-a4de-f00905ad2646" id="1e87f490-1aae-4dc7-a4de-f00905ad2646" @mouseover="addHoverClass('1e87f490-1aae-4dc7-a4de-f00905ad2646')" @mouseleave="removeHoverClass('1e87f490-1aae-4dc7-a4de-f00905ad2646')" @click="showModal('1e87f490-1aae-4dc7-a4de-f00905ad2646')" :class="[returnClassRoom('1e87f490-1aae-4dc7-a4de-f00905ad2646'), { 'hoverSvgClassPark': activeFloor === '1e87f490-1aae-4dc7-a4de-f00905ad2646' }]" class="fil0" points="450.22,223.1 450.22,196.99 460.59,196.99 460.59,223.1 "/>
  <polygon ref="9b44f75e-9adf-4655-86bd-22fcca4f1dcc" id="9b44f75e-9adf-4655-86bd-22fcca4f1dcc" @mouseover="addHoverClass('9b44f75e-9adf-4655-86bd-22fcca4f1dcc')" @mouseleave="removeHoverClass('9b44f75e-9adf-4655-86bd-22fcca4f1dcc')" @click="showModal('9b44f75e-9adf-4655-86bd-22fcca4f1dcc')" :class="[returnClassRoom('9b44f75e-9adf-4655-86bd-22fcca4f1dcc'), { 'hoverSvgClassPark': activeFloor === '9b44f75e-9adf-4655-86bd-22fcca4f1dcc' }]" class="fil0" points="467.83,223.1 467.83,196.99 478.21,196.99 478.21,223.1 "/>
  <polygon ref="ce211a3a-543b-463c-8c8f-1290526660d3" id="ce211a3a-543b-463c-8c8f-1290526660d3" @mouseover="addHoverClass('ce211a3a-543b-463c-8c8f-1290526660d3')" @mouseleave="removeHoverClass('ce211a3a-543b-463c-8c8f-1290526660d3')" @click="showModal('ce211a3a-543b-463c-8c8f-1290526660d3')" :class="[returnClassRoom('ce211a3a-543b-463c-8c8f-1290526660d3'), { 'hoverSvgClassPark': activeFloor === 'ce211a3a-543b-463c-8c8f-1290526660d3' }]" class="fil0" points="478.83,223.1 478.83,196.99 489.2,196.99 489.2,223.1 "/>
  <polygon ref="4037d21e-d3d6-4269-be96-b6b8f6d9354b" id="4037d21e-d3d6-4269-be96-b6b8f6d9354b" @mouseover="addHoverClass('4037d21e-d3d6-4269-be96-b6b8f6d9354b')" @mouseleave="removeHoverClass('4037d21e-d3d6-4269-be96-b6b8f6d9354b')" @click="showModal('4037d21e-d3d6-4269-be96-b6b8f6d9354b')" :class="[returnClassRoom('4037d21e-d3d6-4269-be96-b6b8f6d9354b'), { 'hoverSvgClassPark': activeFloor === '4037d21e-d3d6-4269-be96-b6b8f6d9354b' }]" class="fil0" points="490.63,223.1 490.63,196.99 501.01,196.99 501.01,223.1 "/>
  <polygon ref="2b199c81-e0ae-4cae-8031-a71f5c92d6b2" id="2b199c81-e0ae-4cae-8031-a71f5c92d6b2" @mouseover="addHoverClass('2b199c81-e0ae-4cae-8031-a71f5c92d6b2')" @mouseleave="removeHoverClass('2b199c81-e0ae-4cae-8031-a71f5c92d6b2')" @click="showModal('2b199c81-e0ae-4cae-8031-a71f5c92d6b2')" :class="[returnClassRoom('2b199c81-e0ae-4cae-8031-a71f5c92d6b2'), { 'hoverSvgClassPark': activeFloor === '2b199c81-e0ae-4cae-8031-a71f5c92d6b2' }]" class="fil0" points="459.98,257.75 459.98,231.64 470.35,231.64 470.35,257.75 "/>
  <polygon ref="21493bcb-a2e7-4172-a10d-7eee31e7bebf" id="21493bcb-a2e7-4172-a10d-7eee31e7bebf" @mouseover="addHoverClass('21493bcb-a2e7-4172-a10d-7eee31e7bebf')" @mouseleave="removeHoverClass('21493bcb-a2e7-4172-a10d-7eee31e7bebf')" @click="showModal('21493bcb-a2e7-4172-a10d-7eee31e7bebf')" :class="[returnClassRoom('21493bcb-a2e7-4172-a10d-7eee31e7bebf'), { 'hoverSvgClassPark': activeFloor === '21493bcb-a2e7-4172-a10d-7eee31e7bebf' }]" class="fil0" points="470.97,257.75 470.97,231.64 481.35,231.64 481.35,257.75 "/>
  <polygon ref="d23d8155-5055-4095-915f-5624a490f68c" id="d23d8155-5055-4095-915f-5624a490f68c" @mouseover="addHoverClass('d23d8155-5055-4095-915f-5624a490f68c')" @mouseleave="removeHoverClass('d23d8155-5055-4095-915f-5624a490f68c')" @click="showModal('d23d8155-5055-4095-915f-5624a490f68c')" :class="[returnClassRoom('d23d8155-5055-4095-915f-5624a490f68c'), { 'hoverSvgClassPark': activeFloor === 'd23d8155-5055-4095-915f-5624a490f68c' }]" class="fil0" points="482.78,257.75 482.78,231.64 493.15,231.64 493.15,257.75 "/>
  <polygon ref="51909bc2-659a-4b6c-9962-0904f77625ff" id="51909bc2-659a-4b6c-9962-0904f77625ff" @mouseover="addHoverClass('51909bc2-659a-4b6c-9962-0904f77625ff')" @mouseleave="removeHoverClass('51909bc2-659a-4b6c-9962-0904f77625ff')" @click="showModal('51909bc2-659a-4b6c-9962-0904f77625ff')" :class="[returnClassRoom('51909bc2-659a-4b6c-9962-0904f77625ff'), { 'hoverSvgClassPark': activeFloor === '51909bc2-659a-4b6c-9962-0904f77625ff' }]" class="fil0" points="510.05,223.05 510.05,196.95 520.42,196.95 520.42,223.05 "/>
  <polygon ref="b52303b2-fd8d-4e52-b3c7-7af27c23d8fe" id="b52303b2-fd8d-4e52-b3c7-7af27c23d8fe" @mouseover="addHoverClass('b52303b2-fd8d-4e52-b3c7-7af27c23d8fe')" @mouseleave="removeHoverClass('b52303b2-fd8d-4e52-b3c7-7af27c23d8fe')" @click="showModal('b52303b2-fd8d-4e52-b3c7-7af27c23d8fe')" :class="[returnClassRoom('b52303b2-fd8d-4e52-b3c7-7af27c23d8fe'), { 'hoverSvgClassPark': activeFloor === 'b52303b2-fd8d-4e52-b3c7-7af27c23d8fe' }]" class="fil0" points="521.04,223.05 521.04,196.95 531.42,196.95 531.42,223.05 "/>
  <polygon ref="049ada33-8656-4ca2-9742-37a9f31852bb" id="049ada33-8656-4ca2-9742-37a9f31852bb" @mouseover="addHoverClass('049ada33-8656-4ca2-9742-37a9f31852bb')" @mouseleave="removeHoverClass('049ada33-8656-4ca2-9742-37a9f31852bb')" @click="showModal('049ada33-8656-4ca2-9742-37a9f31852bb')" :class="[returnClassRoom('049ada33-8656-4ca2-9742-37a9f31852bb'), { 'hoverSvgClassPark': activeFloor === '049ada33-8656-4ca2-9742-37a9f31852bb' }]" class="fil0" points="532.85,223.05 532.85,196.95 543.22,196.95 543.22,223.05 "/>
  <polygon ref="8d4255f6-1fdf-442a-a3fe-78061ebd0a1d" id="8d4255f6-1fdf-442a-a3fe-78061ebd0a1d" @mouseover="addHoverClass('8d4255f6-1fdf-442a-a3fe-78061ebd0a1d')" @mouseleave="removeHoverClass('8d4255f6-1fdf-442a-a3fe-78061ebd0a1d')" @click="showModal('8d4255f6-1fdf-442a-a3fe-78061ebd0a1d')" :class="[returnClassRoom('8d4255f6-1fdf-442a-a3fe-78061ebd0a1d'), { 'hoverSvgClassPark': activeFloor === '8d4255f6-1fdf-442a-a3fe-78061ebd0a1d' }]" class="fil0" points="549.39,257.57 549.39,231.46 559.76,231.46 559.76,257.57 "/>
  <polygon ref="3fc14bc1-df0e-47df-ba56-62b0d0e1e931" id="3fc14bc1-df0e-47df-ba56-62b0d0e1e931" @mouseover="addHoverClass('3fc14bc1-df0e-47df-ba56-62b0d0e1e931')" @mouseleave="removeHoverClass('3fc14bc1-df0e-47df-ba56-62b0d0e1e931')" @click="showModal('3fc14bc1-df0e-47df-ba56-62b0d0e1e931')" :class="[returnClassRoom('3fc14bc1-df0e-47df-ba56-62b0d0e1e931'), { 'hoverSvgClassPark': activeFloor === '3fc14bc1-df0e-47df-ba56-62b0d0e1e931' }]" class="fil0" points="561.1,257.66 561.1,231.55 571.48,231.55 571.48,257.66 "/>
  <polygon ref="02c73724-8f40-4852-8596-8c5f83007e24" id="02c73724-8f40-4852-8596-8c5f83007e24" @mouseover="addHoverClass('02c73724-8f40-4852-8596-8c5f83007e24')" @mouseleave="removeHoverClass('02c73724-8f40-4852-8596-8c5f83007e24')" @click="showModal('02c73724-8f40-4852-8596-8c5f83007e24')" :class="[returnClassRoom('02c73724-8f40-4852-8596-8c5f83007e24'), { 'hoverSvgClassPark': activeFloor === '02c73724-8f40-4852-8596-8c5f83007e24' }]" class="fil0" points="572.19,257.57 572.19,231.46 582.56,231.46 582.56,257.57 "/>
  <polygon ref="6961b528-e2cd-4034-92da-750eef2512ab" id="6961b528-e2cd-4034-92da-750eef2512ab" @mouseover="addHoverClass('6961b528-e2cd-4034-92da-750eef2512ab')" @mouseleave="removeHoverClass('6961b528-e2cd-4034-92da-750eef2512ab')" @click="showModal('6961b528-e2cd-4034-92da-750eef2512ab')" :class="[returnClassRoom('6961b528-e2cd-4034-92da-750eef2512ab'), { 'hoverSvgClassPark': activeFloor === '6961b528-e2cd-4034-92da-750eef2512ab' }]" class="fil0" points="546.26,315.87 546.26,289.76 556.63,289.76 556.63,315.87 "/>
  <polygon ref="eca64f96-cd64-4689-b8bc-d064617f8aba" id="eca64f96-cd64-4689-b8bc-d064617f8aba" @mouseover="addHoverClass('eca64f96-cd64-4689-b8bc-d064617f8aba')" @mouseleave="removeHoverClass('eca64f96-cd64-4689-b8bc-d064617f8aba')" @click="showModal('eca64f96-cd64-4689-b8bc-d064617f8aba')" :class="[returnClassRoom('eca64f96-cd64-4689-b8bc-d064617f8aba'), { 'hoverSvgClassPark': activeFloor === 'eca64f96-cd64-4689-b8bc-d064617f8aba' }]" class="fil0" points="557.26,315.87 557.26,289.76 567.63,289.76 567.63,315.87 "/>
  <polygon ref="604bf98f-7b1a-4721-a014-ff6b336e419c" id="604bf98f-7b1a-4721-a014-ff6b336e419c" @mouseover="addHoverClass('604bf98f-7b1a-4721-a014-ff6b336e419c')" @mouseleave="removeHoverClass('604bf98f-7b1a-4721-a014-ff6b336e419c')" @click="showModal('604bf98f-7b1a-4721-a014-ff6b336e419c')" :class="[returnClassRoom('604bf98f-7b1a-4721-a014-ff6b336e419c'), { 'hoverSvgClassPark': activeFloor === '604bf98f-7b1a-4721-a014-ff6b336e419c' }]" class="fil0" points="569.06,315.87 569.06,289.76 579.43,289.76 579.43,315.87 "/>
  <polygon ref="04dbb19b-ebaf-4e5c-93fb-21885f2069aa" id="04dbb19b-ebaf-4e5c-93fb-21885f2069aa" @mouseover="addHoverClass('04dbb19b-ebaf-4e5c-93fb-21885f2069aa')" @mouseleave="removeHoverClass('04dbb19b-ebaf-4e5c-93fb-21885f2069aa')" @click="showModal('04dbb19b-ebaf-4e5c-93fb-21885f2069aa')" :class="[returnClassRoom('04dbb19b-ebaf-4e5c-93fb-21885f2069aa'), { 'hoverSvgClassPark': activeFloor === '04dbb19b-ebaf-4e5c-93fb-21885f2069aa' }]" class="fil0" points="458.19,315.78 458.19,289.67 468.56,289.67 468.56,315.78 "/>
  <polygon ref="c9951d90-cf11-4eba-a5e7-d488585b6a3a" id="c9951d90-cf11-4eba-a5e7-d488585b6a3a" @mouseover="addHoverClass('c9951d90-cf11-4eba-a5e7-d488585b6a3a')" @mouseleave="removeHoverClass('c9951d90-cf11-4eba-a5e7-d488585b6a3a')" @click="showModal('c9951d90-cf11-4eba-a5e7-d488585b6a3a')" :class="[returnClassRoom('c9951d90-cf11-4eba-a5e7-d488585b6a3a'), { 'hoverSvgClassPark': activeFloor === 'c9951d90-cf11-4eba-a5e7-d488585b6a3a' }]" class="fil0" points="469.19,315.78 469.19,289.67 479.56,289.67 479.56,315.78 "/>
  <polygon ref="a4915047-e559-44c4-ad3b-9e0a9678fa1e" id="a4915047-e559-44c4-ad3b-9e0a9678fa1e" @mouseover="addHoverClass('a4915047-e559-44c4-ad3b-9e0a9678fa1e')" @mouseleave="removeHoverClass('a4915047-e559-44c4-ad3b-9e0a9678fa1e')" @click="showModal('a4915047-e559-44c4-ad3b-9e0a9678fa1e')" :class="[returnClassRoom('a4915047-e559-44c4-ad3b-9e0a9678fa1e'), { 'hoverSvgClassPark': activeFloor === 'a4915047-e559-44c4-ad3b-9e0a9678fa1e' }]" class="fil0" points="480.99,315.78 480.99,289.67 491.36,289.67 491.36,315.78 "/>
  <polygon ref="5e947eab-f54e-41e0-8570-057fea080ee2" id="5e947eab-f54e-41e0-8570-057fea080ee2" @mouseover="addHoverClass('5e947eab-f54e-41e0-8570-057fea080ee2')" @mouseleave="removeHoverClass('5e947eab-f54e-41e0-8570-057fea080ee2')" @click="showModal('5e947eab-f54e-41e0-8570-057fea080ee2')" :class="[returnClassRoom('5e947eab-f54e-41e0-8570-057fea080ee2'), { 'hoverSvgClassPark': activeFloor === '5e947eab-f54e-41e0-8570-057fea080ee2' }]" class="fil0" points="348.3,315.87 348.3,289.76 358.67,289.76 358.67,315.87 "/>
  <polygon ref="104553d2-89e8-4862-a059-84a535920ce4" id="104553d2-89e8-4862-a059-84a535920ce4" @mouseover="addHoverClass('104553d2-89e8-4862-a059-84a535920ce4')" @mouseleave="removeHoverClass('104553d2-89e8-4862-a059-84a535920ce4')" @click="showModal('104553d2-89e8-4862-a059-84a535920ce4')" :class="[returnClassRoom('104553d2-89e8-4862-a059-84a535920ce4'), { 'hoverSvgClassPark': activeFloor === '104553d2-89e8-4862-a059-84a535920ce4' }]" class="fil0" points="359.3,315.87 359.3,289.76 369.67,289.76 369.67,315.87 "/>
  <polygon ref="ed4573b6-3c25-4b5b-bccd-7e94809df27c" id="ed4573b6-3c25-4b5b-bccd-7e94809df27c" @mouseover="addHoverClass('ed4573b6-3c25-4b5b-bccd-7e94809df27c')" @mouseleave="removeHoverClass('ed4573b6-3c25-4b5b-bccd-7e94809df27c')" @click="showModal('ed4573b6-3c25-4b5b-bccd-7e94809df27c')" :class="[returnClassRoom('ed4573b6-3c25-4b5b-bccd-7e94809df27c'), { 'hoverSvgClassPark': activeFloor === 'ed4573b6-3c25-4b5b-bccd-7e94809df27c' }]" class="fil0" points="371.1,315.87 371.1,289.76 381.47,289.76 381.47,315.87 "/>
  <polygon ref="a5bd4227-d8f1-4aee-b973-934143e85891" id="a5bd4227-d8f1-4aee-b973-934143e85891" @mouseover="addHoverClass('a5bd4227-d8f1-4aee-b973-934143e85891')" @mouseleave="removeHoverClass('a5bd4227-d8f1-4aee-b973-934143e85891')" @click="showModal('a5bd4227-d8f1-4aee-b973-934143e85891')" :class="[returnClassRoom('a5bd4227-d8f1-4aee-b973-934143e85891'), { 'hoverSvgClassPark': activeFloor === 'a5bd4227-d8f1-4aee-b973-934143e85891' }]" class="fil0" points="194.24,315.96 194.24,289.85 204.61,289.85 204.61,315.96 "/>
  <polygon ref="4719c5ee-a078-4ad8-bb08-c019108064d8" id="4719c5ee-a078-4ad8-bb08-c019108064d8" @mouseover="addHoverClass('4719c5ee-a078-4ad8-bb08-c019108064d8')" @mouseleave="removeHoverClass('4719c5ee-a078-4ad8-bb08-c019108064d8')" @click="showModal('4719c5ee-a078-4ad8-bb08-c019108064d8')" :class="[returnClassRoom('4719c5ee-a078-4ad8-bb08-c019108064d8'), { 'hoverSvgClassPark': activeFloor === '4719c5ee-a078-4ad8-bb08-c019108064d8' }]" class="fil0" points="205.24,315.96 205.24,289.85 215.61,289.85 215.61,315.96 "/>
  <polygon ref="ed356114-10cb-4b21-8c53-58f17a865565" id="ed356114-10cb-4b21-8c53-58f17a865565" @mouseover="addHoverClass('ed356114-10cb-4b21-8c53-58f17a865565')" @mouseleave="removeHoverClass('ed356114-10cb-4b21-8c53-58f17a865565')" @click="showModal('ed356114-10cb-4b21-8c53-58f17a865565')" :class="[returnClassRoom('ed356114-10cb-4b21-8c53-58f17a865565'), { 'hoverSvgClassPark': activeFloor === 'ed356114-10cb-4b21-8c53-58f17a865565' }]" class="fil0" points="217.04,315.96 217.04,289.85 227.41,289.85 227.41,315.96 "/>
  <polygon ref="693d171c-3ffa-4234-ba49-5797e65b950d" id="693d171c-3ffa-4234-ba49-5797e65b950d" @mouseover="addHoverClass('693d171c-3ffa-4234-ba49-5797e65b950d')" @mouseleave="removeHoverClass('693d171c-3ffa-4234-ba49-5797e65b950d')" @click="showModal('693d171c-3ffa-4234-ba49-5797e65b950d')" :class="[returnClassRoom('693d171c-3ffa-4234-ba49-5797e65b950d'), { 'hoverSvgClassPark': activeFloor === '693d171c-3ffa-4234-ba49-5797e65b950d' }]" class="fil0" points="553.68,223.14 553.68,197.04 564.06,197.04 564.06,223.14 "/>
  <polygon ref="a0712a7e-6383-4874-b1b8-71ad1b63257f" id="a0712a7e-6383-4874-b1b8-71ad1b63257f" @mouseover="addHoverClass('a0712a7e-6383-4874-b1b8-71ad1b63257f')" @mouseleave="removeHoverClass('a0712a7e-6383-4874-b1b8-71ad1b63257f')" @click="showModal('a0712a7e-6383-4874-b1b8-71ad1b63257f')" :class="[returnClassRoom('a0712a7e-6383-4874-b1b8-71ad1b63257f'), { 'hoverSvgClassPark': activeFloor === 'a0712a7e-6383-4874-b1b8-71ad1b63257f' }]" class="fil0" points="564.68,223.14 564.68,197.04 575.05,197.04 575.05,223.14 "/>
  <polygon ref="acf51c17-3f96-42cd-a71e-497e1a1acc57" id="acf51c17-3f96-42cd-a71e-497e1a1acc57" @mouseover="addHoverClass('acf51c17-3f96-42cd-a71e-497e1a1acc57')" @mouseleave="removeHoverClass('acf51c17-3f96-42cd-a71e-497e1a1acc57')" @click="showModal('acf51c17-3f96-42cd-a71e-497e1a1acc57')" :class="[returnClassRoom('acf51c17-3f96-42cd-a71e-497e1a1acc57'), { 'hoverSvgClassPark': activeFloor === 'acf51c17-3f96-42cd-a71e-497e1a1acc57' }]" class="fil0" points="506.56,315.87 506.56,289.76 516.93,289.76 516.93,315.87 "/>
  <polygon ref="67de25b1-129a-4887-a866-c04a32de1d5e" id="67de25b1-129a-4887-a866-c04a32de1d5e" @mouseover="addHoverClass('67de25b1-129a-4887-a866-c04a32de1d5e')" @mouseleave="removeHoverClass('67de25b1-129a-4887-a866-c04a32de1d5e')" @click="showModal('67de25b1-129a-4887-a866-c04a32de1d5e')" :class="[returnClassRoom('67de25b1-129a-4887-a866-c04a32de1d5e'), { 'hoverSvgClassPark': activeFloor === '67de25b1-129a-4887-a866-c04a32de1d5e' }]" class="fil0" points="517.56,315.87 517.56,289.76 527.93,289.76 527.93,315.87 "/>
  <polygon ref="011928b8-c938-46c7-b3d8-3397b88b0d30" id="011928b8-c938-46c7-b3d8-3397b88b0d30" @mouseover="addHoverClass('011928b8-c938-46c7-b3d8-3397b88b0d30')" @mouseleave="removeHoverClass('011928b8-c938-46c7-b3d8-3397b88b0d30')" @click="showModal('011928b8-c938-46c7-b3d8-3397b88b0d30')" :class="[returnClassRoom('011928b8-c938-46c7-b3d8-3397b88b0d30'), { 'hoverSvgClassPark': activeFloor === '011928b8-c938-46c7-b3d8-3397b88b0d30' }]" class="fil0" points="507.27,257.84 507.27,231.73 517.65,231.73 517.65,257.84 "/>
  <polygon ref="3cbe03ad-413d-425b-825a-d640ecf1d1ed" id="3cbe03ad-413d-425b-825a-d640ecf1d1ed" @mouseover="addHoverClass('3cbe03ad-413d-425b-825a-d640ecf1d1ed')" @mouseleave="removeHoverClass('3cbe03ad-413d-425b-825a-d640ecf1d1ed')" @click="showModal('3cbe03ad-413d-425b-825a-d640ecf1d1ed')" :class="[returnClassRoom('3cbe03ad-413d-425b-825a-d640ecf1d1ed'), { 'hoverSvgClassPark': activeFloor === '3cbe03ad-413d-425b-825a-d640ecf1d1ed' }]" class="fil0" points="519.53,257.75 519.53,231.64 529.9,231.64 529.9,257.75 "/>
  <polygon ref="81762a5e-2efb-4233-9987-5f8ca9961dde" id="81762a5e-2efb-4233-9987-5f8ca9961dde" @mouseover="addHoverClass('81762a5e-2efb-4233-9987-5f8ca9961dde')" @mouseleave="removeHoverClass('81762a5e-2efb-4233-9987-5f8ca9961dde')" @click="showModal('81762a5e-2efb-4233-9987-5f8ca9961dde')" :class="[returnClassRoom('81762a5e-2efb-4233-9987-5f8ca9961dde'), { 'hoverSvgClassPark': activeFloor === '81762a5e-2efb-4233-9987-5f8ca9961dde' }]" class="fil0" points="242.76,315.87 242.76,289.76 253.13,289.76 253.13,315.87 "/>
  <polygon ref="0df95774-f486-46e4-835f-786c8c0e7189" id="0df95774-f486-46e4-835f-786c8c0e7189" @mouseover="addHoverClass('0df95774-f486-46e4-835f-786c8c0e7189')" @mouseleave="removeHoverClass('0df95774-f486-46e4-835f-786c8c0e7189')" @click="showModal('0df95774-f486-46e4-835f-786c8c0e7189')" :class="[returnClassRoom('0df95774-f486-46e4-835f-786c8c0e7189'), { 'hoverSvgClassPark': activeFloor === '0df95774-f486-46e4-835f-786c8c0e7189' }]" class="fil0" points="253.76,315.87 253.76,289.76 264.13,289.76 264.13,315.87 "/>
  <polygon ref="4f9d85ec-6f9b-442c-bf08-b4b795a757ef" id="4f9d85ec-6f9b-442c-bf08-b4b795a757ef" @mouseover="addHoverClass('4f9d85ec-6f9b-442c-bf08-b4b795a757ef')" @mouseleave="removeHoverClass('4f9d85ec-6f9b-442c-bf08-b4b795a757ef')" @click="showModal('4f9d85ec-6f9b-442c-bf08-b4b795a757ef')" :class="[returnClassRoom('4f9d85ec-6f9b-442c-bf08-b4b795a757ef'), { 'hoverSvgClassPark': activeFloor === '4f9d85ec-6f9b-442c-bf08-b4b795a757ef' }]" class="fil0" points="157.04,315.87 157.04,289.76 167.42,289.76 167.42,315.87 "/>
  <polygon ref="55e9bb88-11f0-4ad3-aead-0942d4720d4c" id="55e9bb88-11f0-4ad3-aead-0942d4720d4c" @mouseover="addHoverClass('55e9bb88-11f0-4ad3-aead-0942d4720d4c')" @mouseleave="removeHoverClass('55e9bb88-11f0-4ad3-aead-0942d4720d4c')" @click="showModal('55e9bb88-11f0-4ad3-aead-0942d4720d4c')" :class="[returnClassRoom('55e9bb88-11f0-4ad3-aead-0942d4720d4c'), { 'hoverSvgClassPark': activeFloor === '55e9bb88-11f0-4ad3-aead-0942d4720d4c' }]" class="fil0" points="168.04,315.87 168.04,289.76 178.42,289.76 178.42,315.87 "/>
  <polygon ref="a7a787d4-007a-4c16-b76e-083cca3bf3ba" id="a7a787d4-007a-4c16-b76e-083cca3bf3ba" @mouseover="addHoverClass('a7a787d4-007a-4c16-b76e-083cca3bf3ba')" @mouseleave="removeHoverClass('a7a787d4-007a-4c16-b76e-083cca3bf3ba')" @click="showModal('a7a787d4-007a-4c16-b76e-083cca3bf3ba')" :class="[returnClassRoom('a7a787d4-007a-4c16-b76e-083cca3bf3ba'), { 'hoverSvgClassPark': activeFloor === 'a7a787d4-007a-4c16-b76e-083cca3bf3ba' }]" class="fil0" points="328.99,316.05 328.99,289.94 339.36,289.94 339.36,316.05 "/>
  <polygon ref="c53de109-f5b5-4ffd-abf4-3bfe139be03c" id="c53de109-f5b5-4ffd-abf4-3bfe139be03c" @mouseover="addHoverClass('c53de109-f5b5-4ffd-abf4-3bfe139be03c')" @mouseleave="removeHoverClass('c53de109-f5b5-4ffd-abf4-3bfe139be03c')" @click="showModal('c53de109-f5b5-4ffd-abf4-3bfe139be03c')" :class="[returnClassRoom('c53de109-f5b5-4ffd-abf4-3bfe139be03c'), { 'hoverSvgClassPark': activeFloor === 'c53de109-f5b5-4ffd-abf4-3bfe139be03c' }]" class="fil0" points="434.85,257.57 434.85,231.46 445.22,231.46 445.22,257.57 "/>
  <polygon ref="d7ff502e-5fc2-4f17-b177-ff93880d4cdf" id="d7ff502e-5fc2-4f17-b177-ff93880d4cdf" @mouseover="addHoverClass('d7ff502e-5fc2-4f17-b177-ff93880d4cdf')" @mouseleave="removeHoverClass('d7ff502e-5fc2-4f17-b177-ff93880d4cdf')" @click="showModal('d7ff502e-5fc2-4f17-b177-ff93880d4cdf')" :class="[returnClassRoom('d7ff502e-5fc2-4f17-b177-ff93880d4cdf'), { 'hoverSvgClassPark': activeFloor === 'd7ff502e-5fc2-4f17-b177-ff93880d4cdf' }]" class="fil0" points="400.02,315.82 400.02,289.72 414.51,289.72 414.51,315.82 "/>
  <polygon ref="370ff895-4443-4e04-b6ce-decc01f5f5df" id="370ff895-4443-4e04-b6ce-decc01f5f5df" @mouseover="addHoverClass('370ff895-4443-4e04-b6ce-decc01f5f5df')" @mouseleave="removeHoverClass('370ff895-4443-4e04-b6ce-decc01f5f5df')" @click="showModal('370ff895-4443-4e04-b6ce-decc01f5f5df')" :class="[returnClassRoom('370ff895-4443-4e04-b6ce-decc01f5f5df'), { 'hoverSvgClassPark': activeFloor === '370ff895-4443-4e04-b6ce-decc01f5f5df' }]" class="fil0" points="587.37,169.53 613.03,169.53 613.03,179.91 587.37,179.91 "/>
  <polygon ref="4bc244d2-45db-41d4-966f-83c4ee44d9cb" id="4bc244d2-45db-41d4-966f-83c4ee44d9cb" @mouseover="addHoverClass('4bc244d2-45db-41d4-966f-83c4ee44d9cb')" @mouseleave="removeHoverClass('4bc244d2-45db-41d4-966f-83c4ee44d9cb')" @click="showModal('4bc244d2-45db-41d4-966f-83c4ee44d9cb')" :class="[returnClassRoom('4bc244d2-45db-41d4-966f-83c4ee44d9cb'), { 'hoverSvgClassPark': activeFloor === '4bc244d2-45db-41d4-966f-83c4ee44d9cb' }]" class="fil0" points="587.37,180.53 613.03,180.53 613.03,190.9 587.37,190.9 "/>
  <polygon ref="133203eb-7ed2-43ab-bd2a-f93c99a48010" id="133203eb-7ed2-43ab-bd2a-f93c99a48010" @mouseover="addHoverClass('133203eb-7ed2-43ab-bd2a-f93c99a48010')" @mouseleave="removeHoverClass('133203eb-7ed2-43ab-bd2a-f93c99a48010')" @click="showModal('133203eb-7ed2-43ab-bd2a-f93c99a48010')" :class="[returnClassRoom('133203eb-7ed2-43ab-bd2a-f93c99a48010'), { 'hoverSvgClassPark': activeFloor === '133203eb-7ed2-43ab-bd2a-f93c99a48010' }]" class="fil0" points="589.87,258.56 615.53,258.56 615.53,268.93 589.87,268.93 "/>
  <polygon ref="7cfc36e7-12fa-404d-97c9-e1f317cd71a7" id="7cfc36e7-12fa-404d-97c9-e1f317cd71a7" @mouseover="addHoverClass('7cfc36e7-12fa-404d-97c9-e1f317cd71a7')" @mouseleave="removeHoverClass('7cfc36e7-12fa-404d-97c9-e1f317cd71a7')" @click="showModal('7cfc36e7-12fa-404d-97c9-e1f317cd71a7')" :class="[returnClassRoom('7cfc36e7-12fa-404d-97c9-e1f317cd71a7'), { 'hoverSvgClassPark': activeFloor === '7cfc36e7-12fa-404d-97c9-e1f317cd71a7' }]" class="fil0" points="589.87,269.55 615.53,269.55 615.53,279.93 589.87,279.93 "/>
  <polygon ref="107025b4-f9aa-4452-a635-836bc7f1b54c" id="107025b4-f9aa-4452-a635-836bc7f1b54c" @mouseover="addHoverClass('107025b4-f9aa-4452-a635-836bc7f1b54c')" @mouseleave="removeHoverClass('107025b4-f9aa-4452-a635-836bc7f1b54c')" @click="showModal('107025b4-f9aa-4452-a635-836bc7f1b54c')" :class="[returnClassRoom('107025b4-f9aa-4452-a635-836bc7f1b54c'), { 'hoverSvgClassPark': activeFloor === '107025b4-f9aa-4452-a635-836bc7f1b54c' }]" class="fil0" points="589.87,280.64 615.53,280.64 615.53,291.01 589.87,291.01 "/>
  <polygon ref="6ebb6915-600b-4b06-9454-964399833a53" id="6ebb6915-600b-4b06-9454-964399833a53" @mouseover="addHoverClass('6ebb6915-600b-4b06-9454-964399833a53')" @mouseleave="removeHoverClass('6ebb6915-600b-4b06-9454-964399833a53')" @click="showModal('6ebb6915-600b-4b06-9454-964399833a53')" :class="[returnClassRoom('6ebb6915-600b-4b06-9454-964399833a53'), { 'hoverSvgClassPark': activeFloor === '6ebb6915-600b-4b06-9454-964399833a53' }]" class="fil0" points="299.64,284.28 325.3,284.28 325.3,294.65 299.64,294.65 "/>
 </g>
</svg>
   </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>