<template>
  <div>
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="416px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 1930.3 1554.66" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="1930.3" height="1554.66"/>
   </clipPath>
 </defs>
   <image xlink:href="@/assets/parking/parking-04-floor.png" x="0" y="0" width="1930.3" height="1554.66"></image>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
<!--floor-park-2-->
  </g>

  <polygon ref="6f5dba53-c2dc-46e0-99b9-039bab0cd88e" id="6f5dba53-c2dc-46e0-99b9-039bab0cd88e" @mouseover="addHoverClass('6f5dba53-c2dc-46e0-99b9-039bab0cd88e')" @mouseleave="removeHoverClass('6f5dba53-c2dc-46e0-99b9-039bab0cd88e')" @click="showModal('6f5dba53-c2dc-46e0-99b9-039bab0cd88e')" :class="[returnClassRoom('6f5dba53-c2dc-46e0-99b9-039bab0cd88e'), { 'hoverSvgClassPark': activeFloor === '6f5dba53-c2dc-46e0-99b9-039bab0cd88e' }]" class="fil0" points="1740.84,498.93 1818.93,498.93 1818.93,530.04 1740.84,530.04 "/>
  <polygon ref="fa24cf8e-d283-4fe6-a0f8-5413f1daf924" id="fa24cf8e-d283-4fe6-a0f8-5413f1daf924" @mouseover="addHoverClass('fa24cf8e-d283-4fe6-a0f8-5413f1daf924')" @mouseleave="removeHoverClass('fa24cf8e-d283-4fe6-a0f8-5413f1daf924')" @click="showModal('fa24cf8e-d283-4fe6-a0f8-5413f1daf924')" :class="[returnClassRoom('fa24cf8e-d283-4fe6-a0f8-5413f1daf924'), { 'hoverSvgClassPark': activeFloor === 'fa24cf8e-d283-4fe6-a0f8-5413f1daf924' }]" class="fil0" points="1740.84,534.48 1818.93,534.48 1818.93,565.59 1740.84,565.59 "/>
  <polygon ref="26f00232-cb32-4512-951d-5faf0619d853" id="26f00232-cb32-4512-951d-5faf0619d853" @mouseover="addHoverClass('26f00232-cb32-4512-951d-5faf0619d853')" @mouseleave="removeHoverClass('26f00232-cb32-4512-951d-5faf0619d853')" @click="showModal('26f00232-cb32-4512-951d-5faf0619d853')" :class="[returnClassRoom('26f00232-cb32-4512-951d-5faf0619d853'), { 'hoverSvgClassPark': activeFloor === '26f00232-cb32-4512-951d-5faf0619d853' }]" class="fil0" points="1729.43,753.87 1807.52,753.87 1807.52,784.97 1729.43,784.97 "/>
  <polygon ref="818fd34f-41f1-43de-926e-ad8eb2f8474b" id="818fd34f-41f1-43de-926e-ad8eb2f8474b" @mouseover="addHoverClass('818fd34f-41f1-43de-926e-ad8eb2f8474b')" @mouseleave="removeHoverClass('818fd34f-41f1-43de-926e-ad8eb2f8474b')" @click="showModal('818fd34f-41f1-43de-926e-ad8eb2f8474b')" :class="[returnClassRoom('818fd34f-41f1-43de-926e-ad8eb2f8474b'), { 'hoverSvgClassPark': activeFloor === '818fd34f-41f1-43de-926e-ad8eb2f8474b' }]" class="fil0" points="1729.43,789.42 1807.52,789.42 1807.52,820.53 1729.43,820.53 "/>
  <polygon ref="36a315d1-dde9-4fee-8fe8-baad8b2a194d" id="36a315d1-dde9-4fee-8fe8-baad8b2a194d" @mouseover="addHoverClass('36a315d1-dde9-4fee-8fe8-baad8b2a194d')" @mouseleave="removeHoverClass('36a315d1-dde9-4fee-8fe8-baad8b2a194d')" @click="showModal('36a315d1-dde9-4fee-8fe8-baad8b2a194d')" :class="[returnClassRoom('36a315d1-dde9-4fee-8fe8-baad8b2a194d'), { 'hoverSvgClassPark': activeFloor === '36a315d1-dde9-4fee-8fe8-baad8b2a194d' }]" class="fil0" points="1729.43,826.88 1807.52,826.88 1807.52,857.98 1729.43,857.98 "/>
  <polygon ref="b209f9d0-63db-429a-bd1c-561e0b54882a" id="b209f9d0-63db-429a-bd1c-561e0b54882a" @mouseover="addHoverClass('b209f9d0-63db-429a-bd1c-561e0b54882a')" @mouseleave="removeHoverClass('b209f9d0-63db-429a-bd1c-561e0b54882a')" @click="showModal('b209f9d0-63db-429a-bd1c-561e0b54882a')" :class="[returnClassRoom('b209f9d0-63db-429a-bd1c-561e0b54882a'), { 'hoverSvgClassPark': activeFloor === 'b209f9d0-63db-429a-bd1c-561e0b54882a' }]" class="fil0" points="1692.93,418.32 1723.4,418.32 1723.4,490.7 1692.93,490.7 "/>
  <polygon ref="28c5a0fc-cf4c-448c-a509-0e64bd4a5796" id="28c5a0fc-cf4c-448c-a509-0e64bd4a5796" @mouseover="addHoverClass('28c5a0fc-cf4c-448c-a509-0e64bd4a5796')" @mouseleave="removeHoverClass('28c5a0fc-cf4c-448c-a509-0e64bd4a5796')" @click="showModal('28c5a0fc-cf4c-448c-a509-0e64bd4a5796')" :class="[returnClassRoom('28c5a0fc-cf4c-448c-a509-0e64bd4a5796'), { 'hoverSvgClassPark': activeFloor === '28c5a0fc-cf4c-448c-a509-0e64bd4a5796' }]" class="fil0" points="1657.69,418.32 1688.16,418.32 1688.16,490.7 1657.69,490.7 "/>
  <polygon ref="29d72946-d8db-418e-9486-1415c0722f60" id="29d72946-d8db-418e-9486-1415c0722f60" @mouseover="addHoverClass('29d72946-d8db-418e-9486-1415c0722f60')" @mouseleave="removeHoverClass('29d72946-d8db-418e-9486-1415c0722f60')" @click="showModal('29d72946-d8db-418e-9486-1415c0722f60')" :class="[returnClassRoom('29d72946-d8db-418e-9486-1415c0722f60'), { 'hoverSvgClassPark': activeFloor === '29d72946-d8db-418e-9486-1415c0722f60' }]" class="fil0" points="1655.46,418.32 1655.46,490.7 1624.99,490.7 1633.91,486 1633.56,473.21 1624.99,473.05 1624.99,427.97 1637.53,418.32 "/>
  <polygon ref="d0198732-782f-4625-973b-3aeb7c05b7f4" id="d0198732-782f-4625-973b-3aeb7c05b7f4" @mouseover="addHoverClass('d0198732-782f-4625-973b-3aeb7c05b7f4')" @mouseleave="removeHoverClass('d0198732-782f-4625-973b-3aeb7c05b7f4')" @click="showModal('d0198732-782f-4625-973b-3aeb7c05b7f4')" :class="[returnClassRoom('d0198732-782f-4625-973b-3aeb7c05b7f4'), { 'hoverSvgClassPark': activeFloor === 'd0198732-782f-4625-973b-3aeb7c05b7f4' }]" class="fil0" points="1572.29,418.32 1602.77,418.32 1602.77,490.7 1572.29,490.7 "/>
  <polygon ref="b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28" id="b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28" @mouseover="addHoverClass('b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28')" @mouseleave="removeHoverClass('b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28')" @click="showModal('b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28')" :class="[returnClassRoom('b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28'), { 'hoverSvgClassPark': activeFloor === 'b5eca1ea-65dd-4c20-bff3-8b00c1ee0b28' }]" class="fil0" points="1535.78,418.32 1566.26,418.32 1566.26,490.7 1535.78,490.7 "/>
  <polygon ref="29fc578e-a640-4061-8641-16c9a705a5c1" id="29fc578e-a640-4061-8641-16c9a705a5c1" @mouseover="addHoverClass('29fc578e-a640-4061-8641-16c9a705a5c1')" @mouseleave="removeHoverClass('29fc578e-a640-4061-8641-16c9a705a5c1')" @click="showModal('29fc578e-a640-4061-8641-16c9a705a5c1')" :class="[returnClassRoom('29fc578e-a640-4061-8641-16c9a705a5c1'), { 'hoverSvgClassPark': activeFloor === '29fc578e-a640-4061-8641-16c9a705a5c1' }]" class="fil0" points="1510.54,421.97 1507.84,418.32 1531.02,418.32 1531.02,490.7 1500.54,490.7 1500.54,486.38 1502.45,486.22 1502.71,473.37 1500.54,472.73 1500.54,428.76 "/>
  <polygon ref="1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba" id="1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba" @mouseover="addHoverClass('1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba')" @mouseleave="removeHoverClass('1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba')" @click="showModal('1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba')" :class="[returnClassRoom('1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba'), { 'hoverSvgClassPark': activeFloor === '1d1bfbc4-1199-4f3a-929f-9d7cbe8e03ba' }]" class="fil0" points="1446.89,418.32 1477.37,418.32 1477.37,490.7 1446.89,490.7 "/>
  <polygon ref="026d458b-9e9a-4733-839c-dbdb8ab5954a" id="026d458b-9e9a-4733-839c-dbdb8ab5954a" @mouseover="addHoverClass('026d458b-9e9a-4733-839c-dbdb8ab5954a')" @mouseleave="removeHoverClass('026d458b-9e9a-4733-839c-dbdb8ab5954a')" @click="showModal('026d458b-9e9a-4733-839c-dbdb8ab5954a')" :class="[returnClassRoom('026d458b-9e9a-4733-839c-dbdb8ab5954a'), { 'hoverSvgClassPark': activeFloor === '026d458b-9e9a-4733-839c-dbdb8ab5954a' }]" class="fil0" points="1411.97,418.32 1442.44,418.32 1442.44,490.7 1411.97,490.7 "/>
  <polygon ref="2064fd8d-6f37-4009-88c3-219c66343a92" id="2064fd8d-6f37-4009-88c3-219c66343a92" @mouseover="addHoverClass('2064fd8d-6f37-4009-88c3-219c66343a92')" @mouseleave="removeHoverClass('2064fd8d-6f37-4009-88c3-219c66343a92')" @click="showModal('2064fd8d-6f37-4009-88c3-219c66343a92')" :class="[returnClassRoom('2064fd8d-6f37-4009-88c3-219c66343a92'), { 'hoverSvgClassPark': activeFloor === '2064fd8d-6f37-4009-88c3-219c66343a92' }]" class="fil0" points="1376.73,418.32 1388.48,418.32 1398.64,428.96 1407.21,418.32 1407.21,490.7 1376.73,490.7 "/>
  <polygon ref="e47be6bc-e2a2-435f-ba2c-e08ff7b26143" id="e47be6bc-e2a2-435f-ba2c-e08ff7b26143" @mouseover="addHoverClass('e47be6bc-e2a2-435f-ba2c-e08ff7b26143')" @mouseleave="removeHoverClass('e47be6bc-e2a2-435f-ba2c-e08ff7b26143')" @click="showModal('e47be6bc-e2a2-435f-ba2c-e08ff7b26143')" :class="[returnClassRoom('e47be6bc-e2a2-435f-ba2c-e08ff7b26143'), { 'hoverSvgClassPark': activeFloor === 'e47be6bc-e2a2-435f-ba2c-e08ff7b26143' }]" class="fil0" points="1322.77,418.32 1353.24,418.32 1353.24,482.5 1347.45,490.7 1322.77,490.7 "/>
  <polygon ref="6fe960f7-cfe6-4b6b-b432-7bb2600972c4" id="6fe960f7-cfe6-4b6b-b432-7bb2600972c4" @mouseover="addHoverClass('6fe960f7-cfe6-4b6b-b432-7bb2600972c4')" @mouseleave="removeHoverClass('6fe960f7-cfe6-4b6b-b432-7bb2600972c4')" @click="showModal('6fe960f7-cfe6-4b6b-b432-7bb2600972c4')" :class="[returnClassRoom('6fe960f7-cfe6-4b6b-b432-7bb2600972c4'), { 'hoverSvgClassPark': activeFloor === '6fe960f7-cfe6-4b6b-b432-7bb2600972c4' }]" class="fil0" points="1287.21,418.32 1317.68,418.32 1317.68,490.7 1287.21,490.7 "/>
  <polygon ref="7568f5ae-9fe0-45fa-b3ce-4903be7e6245" id="7568f5ae-9fe0-45fa-b3ce-4903be7e6245" @mouseover="addHoverClass('7568f5ae-9fe0-45fa-b3ce-4903be7e6245')" @mouseleave="removeHoverClass('7568f5ae-9fe0-45fa-b3ce-4903be7e6245')" @click="showModal('7568f5ae-9fe0-45fa-b3ce-4903be7e6245')" :class="[returnClassRoom('7568f5ae-9fe0-45fa-b3ce-4903be7e6245'), { 'hoverSvgClassPark': activeFloor === '7568f5ae-9fe0-45fa-b3ce-4903be7e6245' }]" class="fil0" points="1230.7,418.32 1261.18,418.32 1261.18,490.7 1230.7,490.7 "/>
  <polygon ref="0203d337-ccec-458e-a79f-652de47797bb" id="0203d337-ccec-458e-a79f-652de47797bb" @mouseover="addHoverClass('0203d337-ccec-458e-a79f-652de47797bb')" @mouseleave="removeHoverClass('0203d337-ccec-458e-a79f-652de47797bb')" @click="showModal('0203d337-ccec-458e-a79f-652de47797bb')" :class="[returnClassRoom('0203d337-ccec-458e-a79f-652de47797bb'), { 'hoverSvgClassPark': activeFloor === '0203d337-ccec-458e-a79f-652de47797bb' }]" class="fil0" points="1194.2,418.32 1224.67,418.32 1224.67,490.7 1194.2,490.7 "/>
  <polygon ref="8c285372-3b67-468c-b08a-6f684b1170ed" id="8c285372-3b67-468c-b08a-6f684b1170ed" @mouseover="addHoverClass('8c285372-3b67-468c-b08a-6f684b1170ed')" @mouseleave="removeHoverClass('8c285372-3b67-468c-b08a-6f684b1170ed')" @click="showModal('8c285372-3b67-468c-b08a-6f684b1170ed')" :class="[returnClassRoom('8c285372-3b67-468c-b08a-6f684b1170ed'), { 'hoverSvgClassPark': activeFloor === '8c285372-3b67-468c-b08a-6f684b1170ed' }]" class="fil0" points="1158.96,418.32 1189.43,418.32 1189.43,490.7 1158.96,490.7 "/>
  <polygon ref="b65e0b0a-ea14-4685-9b44-670f5514660b" id="b65e0b0a-ea14-4685-9b44-670f5514660b" @mouseover="addHoverClass('b65e0b0a-ea14-4685-9b44-670f5514660b')" @mouseleave="removeHoverClass('b65e0b0a-ea14-4685-9b44-670f5514660b')" @click="showModal('b65e0b0a-ea14-4685-9b44-670f5514660b')" :class="[returnClassRoom('b65e0b0a-ea14-4685-9b44-670f5514660b'), { 'hoverSvgClassPark': activeFloor === 'b65e0b0a-ea14-4685-9b44-670f5514660b' }]" class="fil0" points="1104.99,418.32 1126.61,418.32 1135.47,429.27 1135.47,490.7 1104.99,490.7 "/>
  <polygon ref="5c877475-3b8e-4848-b51c-3dd5b23e4a06" id="5c877475-3b8e-4848-b51c-3dd5b23e4a06" @mouseover="addHoverClass('5c877475-3b8e-4848-b51c-3dd5b23e4a06')" @mouseleave="removeHoverClass('5c877475-3b8e-4848-b51c-3dd5b23e4a06')" @click="showModal('5c877475-3b8e-4848-b51c-3dd5b23e4a06')" :class="[returnClassRoom('5c877475-3b8e-4848-b51c-3dd5b23e4a06'), { 'hoverSvgClassPark': activeFloor === '5c877475-3b8e-4848-b51c-3dd5b23e4a06' }]" class="fil0" points="976.11,418.32 1006.58,418.32 1006.58,490.7 976.11,490.7 "/>
  <polygon ref="490247b7-fef4-466e-bb0d-a663efef3fba" id="490247b7-fef4-466e-bb0d-a663efef3fba" @mouseover="addHoverClass('490247b7-fef4-466e-bb0d-a663efef3fba')" @mouseleave="removeHoverClass('490247b7-fef4-466e-bb0d-a663efef3fba')" @click="showModal('490247b7-fef4-466e-bb0d-a663efef3fba')" :class="[returnClassRoom('490247b7-fef4-466e-bb0d-a663efef3fba'), { 'hoverSvgClassPark': activeFloor === '490247b7-fef4-466e-bb0d-a663efef3fba' }]" class="fil0" points="942.45,418.32 972.93,418.32 972.93,490.7 942.45,490.7 "/>
  <polygon ref="a04cdadc-8990-4209-9bf4-270ee23941d5" id="a04cdadc-8990-4209-9bf4-270ee23941d5" @mouseover="addHoverClass('a04cdadc-8990-4209-9bf4-270ee23941d5')" @mouseleave="removeHoverClass('a04cdadc-8990-4209-9bf4-270ee23941d5')" @click="showModal('a04cdadc-8990-4209-9bf4-270ee23941d5')" :class="[returnClassRoom('a04cdadc-8990-4209-9bf4-270ee23941d5'), { 'hoverSvgClassPark': activeFloor === 'a04cdadc-8990-4209-9bf4-270ee23941d5' }]" class="fil0" points="908.17,418.32 938.65,418.32 938.65,490.7 908.17,490.7 "/>
  <polygon ref="88f5d47b-d9a6-4a7a-9389-901e2c01d750" id="88f5d47b-d9a6-4a7a-9389-901e2c01d750" @mouseover="addHoverClass('88f5d47b-d9a6-4a7a-9389-901e2c01d750')" @mouseleave="removeHoverClass('88f5d47b-d9a6-4a7a-9389-901e2c01d750')" @click="showModal('88f5d47b-d9a6-4a7a-9389-901e2c01d750')" :class="[returnClassRoom('88f5d47b-d9a6-4a7a-9389-901e2c01d750'), { 'hoverSvgClassPark': activeFloor === '88f5d47b-d9a6-4a7a-9389-901e2c01d750' }]" class="fil0" points="852.3,418.32 882.77,418.32 882.77,490.7 852.3,490.7 "/>
  <polygon ref="99e22085-845c-44bd-9e7a-bcf519174448" id="99e22085-845c-44bd-9e7a-bcf519174448" @mouseover="addHoverClass('99e22085-845c-44bd-9e7a-bcf519174448')" @mouseleave="removeHoverClass('99e22085-845c-44bd-9e7a-bcf519174448')" @click="showModal('99e22085-845c-44bd-9e7a-bcf519174448')" :class="[returnClassRoom('99e22085-845c-44bd-9e7a-bcf519174448'), { 'hoverSvgClassPark': activeFloor === '99e22085-845c-44bd-9e7a-bcf519174448' }]" class="fil0" points="818.65,418.32 849.13,418.32 849.13,490.7 818.65,490.7 "/>
  <polygon ref="26498634-81c4-4812-8517-9c3bd79f706f" id="26498634-81c4-4812-8517-9c3bd79f706f" @mouseover="addHoverClass('26498634-81c4-4812-8517-9c3bd79f706f')" @mouseleave="removeHoverClass('26498634-81c4-4812-8517-9c3bd79f706f')" @click="showModal('26498634-81c4-4812-8517-9c3bd79f706f')" :class="[returnClassRoom('26498634-81c4-4812-8517-9c3bd79f706f'), { 'hoverSvgClassPark': activeFloor === '26498634-81c4-4812-8517-9c3bd79f706f' }]" class="fil0" points="783.73,418.32 814.2,418.32 814.2,490.7 783.73,490.7 "/>
  <polygon ref="f13d6820-23fa-4247-9694-d534a45a5fa5" id="f13d6820-23fa-4247-9694-d534a45a5fa5" @mouseover="addHoverClass('f13d6820-23fa-4247-9694-d534a45a5fa5')" @mouseleave="removeHoverClass('f13d6820-23fa-4247-9694-d534a45a5fa5')" @click="showModal('f13d6820-23fa-4247-9694-d534a45a5fa5')" :class="[returnClassRoom('f13d6820-23fa-4247-9694-d534a45a5fa5'), { 'hoverSvgClassPark': activeFloor === 'f13d6820-23fa-4247-9694-d534a45a5fa5' }]" class="fil0" points="723.41,418.32 753.89,418.32 753.89,490.7 723.41,490.7 "/>
  <polygon ref="5366dd83-99e8-475f-8575-18e2cbd82fc8" id="5366dd83-99e8-475f-8575-18e2cbd82fc8" @mouseover="addHoverClass('5366dd83-99e8-475f-8575-18e2cbd82fc8')" @mouseleave="removeHoverClass('5366dd83-99e8-475f-8575-18e2cbd82fc8')" @click="showModal('5366dd83-99e8-475f-8575-18e2cbd82fc8')" :class="[returnClassRoom('5366dd83-99e8-475f-8575-18e2cbd82fc8'), { 'hoverSvgClassPark': activeFloor === '5366dd83-99e8-475f-8575-18e2cbd82fc8' }]" class="fil0" points="687.86,418.32 718.33,418.32 718.33,490.7 687.86,490.7 "/>
  <polygon ref="4be25e1f-9383-4a10-ba0d-9af2490b7149" id="4be25e1f-9383-4a10-ba0d-9af2490b7149" @mouseover="addHoverClass('4be25e1f-9383-4a10-ba0d-9af2490b7149')" @mouseleave="removeHoverClass('4be25e1f-9383-4a10-ba0d-9af2490b7149')" @click="showModal('4be25e1f-9383-4a10-ba0d-9af2490b7149')" :class="[returnClassRoom('4be25e1f-9383-4a10-ba0d-9af2490b7149'), { 'hoverSvgClassPark': activeFloor === '4be25e1f-9383-4a10-ba0d-9af2490b7149' }]" class="fil0" points="653.26,418.32 683.73,418.32 683.73,490.7 653.26,490.7 "/>
  <polygon ref="f3f8f737-7834-4086-9f33-df4ce3b9748a" id="f3f8f737-7834-4086-9f33-df4ce3b9748a" @mouseover="addHoverClass('f3f8f737-7834-4086-9f33-df4ce3b9748a')" @mouseleave="removeHoverClass('f3f8f737-7834-4086-9f33-df4ce3b9748a')" @click="showModal('f3f8f737-7834-4086-9f33-df4ce3b9748a')" :class="[returnClassRoom('f3f8f737-7834-4086-9f33-df4ce3b9748a'), { 'hoverSvgClassPark': activeFloor === 'f3f8f737-7834-4086-9f33-df4ce3b9748a' }]" class="fil0" points="601.83,418.32 632.3,418.32 632.3,490.7 601.83,490.7 "/>
  <polygon ref="39d0b209-b0db-4b99-9d2d-834261774117" id="39d0b209-b0db-4b99-9d2d-834261774117" @mouseover="addHoverClass('39d0b209-b0db-4b99-9d2d-834261774117')" @mouseleave="removeHoverClass('39d0b209-b0db-4b99-9d2d-834261774117')" @click="showModal('39d0b209-b0db-4b99-9d2d-834261774117')" :class="[returnClassRoom('39d0b209-b0db-4b99-9d2d-834261774117'), { 'hoverSvgClassPark': activeFloor === '39d0b209-b0db-4b99-9d2d-834261774117' }]" class="fil0" points="513.9,589.74 544.37,589.74 544.37,593 536.59,592.92 536.73,606.19 544.37,608.8 544.37,662.12 513.9,662.12 "/>
  <polygon ref="ace2b256-ac2e-45da-be99-35d8c51b51e6" id="ace2b256-ac2e-45da-be99-35d8c51b51e6" @mouseover="addHoverClass('ace2b256-ac2e-45da-be99-35d8c51b51e6')" @mouseleave="removeHoverClass('ace2b256-ac2e-45da-be99-35d8c51b51e6')" @click="showModal('ace2b256-ac2e-45da-be99-35d8c51b51e6')" :class="[returnClassRoom('ace2b256-ac2e-45da-be99-35d8c51b51e6'), { 'hoverSvgClassPark': activeFloor === 'ace2b256-ac2e-45da-be99-35d8c51b51e6' }]" class="fil0" points="478.35,589.74 508.82,589.74 508.82,662.12 478.35,662.12 "/>
  <polygon ref="bfb652ca-8b65-42e4-8881-30e963112a2e" id="bfb652ca-8b65-42e4-8881-30e963112a2e" @mouseover="addHoverClass('bfb652ca-8b65-42e4-8881-30e963112a2e')" @mouseleave="removeHoverClass('bfb652ca-8b65-42e4-8881-30e963112a2e')" @click="showModal('bfb652ca-8b65-42e4-8881-30e963112a2e')" :class="[returnClassRoom('bfb652ca-8b65-42e4-8881-30e963112a2e'), { 'hoverSvgClassPark': activeFloor === 'bfb652ca-8b65-42e4-8881-30e963112a2e' }]" class="fil0" points="443.74,589.74 474.22,589.74 474.22,662.12 443.74,662.12 "/>
  <polygon ref="3fef3c9b-4f99-4480-8d86-6956adbc438e" id="3fef3c9b-4f99-4480-8d86-6956adbc438e" @mouseover="addHoverClass('3fef3c9b-4f99-4480-8d86-6956adbc438e')" @mouseleave="removeHoverClass('3fef3c9b-4f99-4480-8d86-6956adbc438e')" @click="showModal('3fef3c9b-4f99-4480-8d86-6956adbc438e')" :class="[returnClassRoom('3fef3c9b-4f99-4480-8d86-6956adbc438e'), { 'hoverSvgClassPark': activeFloor === '3fef3c9b-4f99-4480-8d86-6956adbc438e' }]" class="fil0" points="644.49,682.61 664.38,682.61 664.33,737.53 674.96,737.52 674.96,754.99 644.49,754.99 "/>
  <polygon ref="0e49caa4-f99a-4875-bcc4-aa8a381a32c6" id="0e49caa4-f99a-4875-bcc4-aa8a381a32c6" @mouseover="addHoverClass('0e49caa4-f99a-4875-bcc4-aa8a381a32c6')" @mouseleave="removeHoverClass('0e49caa4-f99a-4875-bcc4-aa8a381a32c6')" @click="showModal('0e49caa4-f99a-4875-bcc4-aa8a381a32c6')" :class="[returnClassRoom('0e49caa4-f99a-4875-bcc4-aa8a381a32c6'), { 'hoverSvgClassPark': activeFloor === '0e49caa4-f99a-4875-bcc4-aa8a381a32c6' }]" class="fil0" points="618.62,686.34 618.65,682.61 639.41,682.61 639.41,754.99 608.94,754.99 608.94,686.25 "/>
  <polygon ref="9d9dc2aa-7f1e-456f-af8d-613546e00cb7" id="9d9dc2aa-7f1e-456f-af8d-613546e00cb7" @mouseover="addHoverClass('9d9dc2aa-7f1e-456f-af8d-613546e00cb7')" @mouseleave="removeHoverClass('9d9dc2aa-7f1e-456f-af8d-613546e00cb7')" @click="showModal('9d9dc2aa-7f1e-456f-af8d-613546e00cb7')" :class="[returnClassRoom('9d9dc2aa-7f1e-456f-af8d-613546e00cb7'), { 'hoverSvgClassPark': activeFloor === '9d9dc2aa-7f1e-456f-af8d-613546e00cb7' }]" class="fil0" points="574.33,686.17 604.81,686.17 604.81,754.99 574.33,754.99 "/>
  <polygon ref="5dcc42a7-0440-420f-9ec7-7d6ff9a2760f" id="5dcc42a7-0440-420f-9ec7-7d6ff9a2760f" @mouseover="addHoverClass('5dcc42a7-0440-420f-9ec7-7d6ff9a2760f')" @mouseleave="removeHoverClass('5dcc42a7-0440-420f-9ec7-7d6ff9a2760f')" @click="showModal('5dcc42a7-0440-420f-9ec7-7d6ff9a2760f')" :class="[returnClassRoom('5dcc42a7-0440-420f-9ec7-7d6ff9a2760f'), { 'hoverSvgClassPark': activeFloor === '5dcc42a7-0440-420f-9ec7-7d6ff9a2760f' }]" class="fil0" points="727.03,586.74 757.5,586.74 757.5,592.72 748.02,593.28 748.14,606.21 757.5,612.25 757.5,659.13 727.03,659.13 "/>
  <polygon ref="1a87c1e3-62d6-4d32-bb84-99210eb67b72" id="1a87c1e3-62d6-4d32-bb84-99210eb67b72" @mouseover="addHoverClass('1a87c1e3-62d6-4d32-bb84-99210eb67b72')" @mouseleave="removeHoverClass('1a87c1e3-62d6-4d32-bb84-99210eb67b72')" @click="showModal('1a87c1e3-62d6-4d32-bb84-99210eb67b72')" :class="[returnClassRoom('1a87c1e3-62d6-4d32-bb84-99210eb67b72'), { 'hoverSvgClassPark': activeFloor === '1a87c1e3-62d6-4d32-bb84-99210eb67b72' }]" class="fil0" points="691.47,586.74 721.95,586.74 721.95,659.13 691.47,659.13 "/>
  <polygon ref="78e7c8b8-059a-40d7-ae1d-2a08642171c7" id="78e7c8b8-059a-40d7-ae1d-2a08642171c7" @mouseover="addHoverClass('78e7c8b8-059a-40d7-ae1d-2a08642171c7')" @mouseleave="removeHoverClass('78e7c8b8-059a-40d7-ae1d-2a08642171c7')" @click="showModal('78e7c8b8-059a-40d7-ae1d-2a08642171c7')" :class="[returnClassRoom('78e7c8b8-059a-40d7-ae1d-2a08642171c7'), { 'hoverSvgClassPark': activeFloor === '78e7c8b8-059a-40d7-ae1d-2a08642171c7' }]" class="fil0" points="656.87,586.74 687.35,586.74 687.35,659.13 656.87,659.13 "/>
  <polygon ref="960527fc-b4da-4256-bf7c-885c010fd1d4" id="960527fc-b4da-4256-bf7c-885c010fd1d4" @mouseover="addHoverClass('960527fc-b4da-4256-bf7c-885c010fd1d4')" @mouseleave="removeHoverClass('960527fc-b4da-4256-bf7c-885c010fd1d4')" @click="showModal('960527fc-b4da-4256-bf7c-885c010fd1d4')" :class="[returnClassRoom('960527fc-b4da-4256-bf7c-885c010fd1d4'), { 'hoverSvgClassPark': activeFloor === '960527fc-b4da-4256-bf7c-885c010fd1d4' }]" class="fil0" points="852.1,586.11 882.58,586.11 882.58,658.49 852.1,658.49 "/>
  <polygon ref="b72d6ff9-0870-4c74-a562-8d7e38a4a1db" id="b72d6ff9-0870-4c74-a562-8d7e38a4a1db" @mouseover="addHoverClass('b72d6ff9-0870-4c74-a562-8d7e38a4a1db')" @mouseleave="removeHoverClass('b72d6ff9-0870-4c74-a562-8d7e38a4a1db')" @click="showModal('b72d6ff9-0870-4c74-a562-8d7e38a4a1db')" :class="[returnClassRoom('b72d6ff9-0870-4c74-a562-8d7e38a4a1db'), { 'hoverSvgClassPark': activeFloor === 'b72d6ff9-0870-4c74-a562-8d7e38a4a1db' }]" class="fil0" points="816.55,586.11 847.03,586.11 847.03,658.49 816.55,658.49 "/>
  <polygon ref="1f307241-ccd5-463b-966e-9db329932129" id="1f307241-ccd5-463b-966e-9db329932129" @mouseover="addHoverClass('1f307241-ccd5-463b-966e-9db329932129')" @mouseleave="removeHoverClass('1f307241-ccd5-463b-966e-9db329932129')" @click="showModal('1f307241-ccd5-463b-966e-9db329932129')" :class="[returnClassRoom('1f307241-ccd5-463b-966e-9db329932129'), { 'hoverSvgClassPark': activeFloor === '1f307241-ccd5-463b-966e-9db329932129' }]" class="fil0" points="781.95,586.11 812.42,586.11 812.42,658.49 781.95,658.49 "/>
  <polygon ref="3192367a-727d-4f7e-8d34-524df09ab349" id="3192367a-727d-4f7e-8d34-524df09ab349" @mouseover="addHoverClass('3192367a-727d-4f7e-8d34-524df09ab349')" @mouseleave="removeHoverClass('3192367a-727d-4f7e-8d34-524df09ab349')" @click="showModal('3192367a-727d-4f7e-8d34-524df09ab349')" :class="[returnClassRoom('3192367a-727d-4f7e-8d34-524df09ab349'), { 'hoverSvgClassPark': activeFloor === '3192367a-727d-4f7e-8d34-524df09ab349' }]" class="fil0" points="977.81,586.11 1008.29,586.11 1008.29,658.49 977.81,658.49 "/>
  <polygon ref="7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f" id="7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f" @mouseover="addHoverClass('7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f')" @mouseleave="removeHoverClass('7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f')" @click="showModal('7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f')" :class="[returnClassRoom('7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f'), { 'hoverSvgClassPark': activeFloor === '7bc2f7e0-8f30-46f3-b8cd-8906859e3a4f' }]" class="fil0" points="942.26,586.11 972.74,586.11 972.74,658.49 942.26,658.49 "/>
  <polygon ref="a4ce2d56-30bd-4ce2-becc-f14e241a1355" id="a4ce2d56-30bd-4ce2-becc-f14e241a1355" @mouseover="addHoverClass('a4ce2d56-30bd-4ce2-becc-f14e241a1355')" @mouseleave="removeHoverClass('a4ce2d56-30bd-4ce2-becc-f14e241a1355')" @click="showModal('a4ce2d56-30bd-4ce2-becc-f14e241a1355')" :class="[returnClassRoom('a4ce2d56-30bd-4ce2-becc-f14e241a1355'), { 'hoverSvgClassPark': activeFloor === 'a4ce2d56-30bd-4ce2-becc-f14e241a1355' }]" class="fil0" points="907.66,586.11 938.13,586.11 938.13,658.49 907.66,658.49 "/>
  <polygon ref="a281a0d6-0750-45f4-b965-e96119c24d16" id="a281a0d6-0750-45f4-b965-e96119c24d16" @mouseover="addHoverClass('a281a0d6-0750-45f4-b965-e96119c24d16')" @mouseleave="removeHoverClass('a281a0d6-0750-45f4-b965-e96119c24d16')" @click="showModal('a281a0d6-0750-45f4-b965-e96119c24d16')" :class="[returnClassRoom('a281a0d6-0750-45f4-b965-e96119c24d16'), { 'hoverSvgClassPark': activeFloor === 'a281a0d6-0750-45f4-b965-e96119c24d16' }]" class="fil0" points="1104.8,586.11 1135.27,586.11 1135.27,658.49 1104.8,658.49 "/>
  <polygon ref="3dcda030-e5ae-4841-b6bc-dcf71326aa3b" id="3dcda030-e5ae-4841-b6bc-dcf71326aa3b" @mouseover="addHoverClass('3dcda030-e5ae-4841-b6bc-dcf71326aa3b')" @mouseleave="removeHoverClass('3dcda030-e5ae-4841-b6bc-dcf71326aa3b')" @click="showModal('3dcda030-e5ae-4841-b6bc-dcf71326aa3b')" :class="[returnClassRoom('3dcda030-e5ae-4841-b6bc-dcf71326aa3b'), { 'hoverSvgClassPark': activeFloor === '3dcda030-e5ae-4841-b6bc-dcf71326aa3b' }]" class="fil0" points="1069.24,586.11 1099.72,586.11 1099.72,658.49 1069.24,658.49 "/>
  <polygon ref="004bc3f5-6ce5-40e2-ac52-9a326194bd01" id="004bc3f5-6ce5-40e2-ac52-9a326194bd01" @mouseover="addHoverClass('004bc3f5-6ce5-40e2-ac52-9a326194bd01')" @mouseleave="removeHoverClass('004bc3f5-6ce5-40e2-ac52-9a326194bd01')" @click="showModal('004bc3f5-6ce5-40e2-ac52-9a326194bd01')" :class="[returnClassRoom('004bc3f5-6ce5-40e2-ac52-9a326194bd01'), { 'hoverSvgClassPark': activeFloor === '004bc3f5-6ce5-40e2-ac52-9a326194bd01' }]" class="fil0" points="1034.64,586.11 1065.12,586.11 1065.12,658.49 1034.64,658.49 "/>
  <polygon ref="11df9215-124d-4107-98c9-0e65e553c062" id="11df9215-124d-4107-98c9-0e65e553c062" @mouseover="addHoverClass('11df9215-124d-4107-98c9-0e65e553c062')" @mouseleave="removeHoverClass('11df9215-124d-4107-98c9-0e65e553c062')" @click="showModal('11df9215-124d-4107-98c9-0e65e553c062')" :class="[returnClassRoom('11df9215-124d-4107-98c9-0e65e553c062'), { 'hoverSvgClassPark': activeFloor === '11df9215-124d-4107-98c9-0e65e553c062' }]" class="fil0" points="1125.27,682.77 1125.11,680.71 1135.27,680.71 1135.27,753.09 1104.8,753.09 1104.8,682.55 "/>
  <polygon ref="c139167f-c328-4166-83c9-0f899ed13b50" id="c139167f-c328-4166-83c9-0f899ed13b50" @mouseover="addHoverClass('c139167f-c328-4166-83c9-0f899ed13b50')" @mouseleave="removeHoverClass('c139167f-c328-4166-83c9-0f899ed13b50')" @click="showModal('c139167f-c328-4166-83c9-0f899ed13b50')" :class="[returnClassRoom('c139167f-c328-4166-83c9-0f899ed13b50'), { 'hoverSvgClassPark': activeFloor === 'c139167f-c328-4166-83c9-0f899ed13b50' }]" class="fil0" points="1069.24,682.38 1099.72,682.38 1099.72,753.09 1069.24,753.09 "/>
  <polygon ref="b0840ddb-da83-4df3-afe3-93c3b5694175" id="b0840ddb-da83-4df3-afe3-93c3b5694175" @mouseover="addHoverClass('b0840ddb-da83-4df3-afe3-93c3b5694175')" @mouseleave="removeHoverClass('b0840ddb-da83-4df3-afe3-93c3b5694175')" @click="showModal('b0840ddb-da83-4df3-afe3-93c3b5694175')" :class="[returnClassRoom('b0840ddb-da83-4df3-afe3-93c3b5694175'), { 'hoverSvgClassPark': activeFloor === 'b0840ddb-da83-4df3-afe3-93c3b5694175' }]" class="fil0" points="1034.64,680.71 1065.12,680.71 1065.12,753.09 1034.64,753.09 "/>
  <polygon ref="2edb6dcf-9769-422e-b912-3a18a921935a" id="2edb6dcf-9769-422e-b912-3a18a921935a" @mouseover="addHoverClass('2edb6dcf-9769-422e-b912-3a18a921935a')" @mouseleave="removeHoverClass('2edb6dcf-9769-422e-b912-3a18a921935a')" @click="showModal('2edb6dcf-9769-422e-b912-3a18a921935a')" :class="[returnClassRoom('2edb6dcf-9769-422e-b912-3a18a921935a'), { 'hoverSvgClassPark': activeFloor === '2edb6dcf-9769-422e-b912-3a18a921935a' }]" class="fil0" points="974.96,682.69 974.95,680.71 998.13,680.71 998.13,753.09 967.65,753.09 967.65,682.63 "/>
  <polygon ref="0fcfdf23-87bd-4f60-9473-52aadcf908a1" id="0fcfdf23-87bd-4f60-9473-52aadcf908a1" @mouseover="addHoverClass('0fcfdf23-87bd-4f60-9473-52aadcf908a1')" @mouseleave="removeHoverClass('0fcfdf23-87bd-4f60-9473-52aadcf908a1')" @click="showModal('0fcfdf23-87bd-4f60-9473-52aadcf908a1')" :class="[returnClassRoom('0fcfdf23-87bd-4f60-9473-52aadcf908a1'), { 'hoverSvgClassPark': activeFloor === '0fcfdf23-87bd-4f60-9473-52aadcf908a1' }]" class="fil0" points="932.1,682.46 962.58,682.46 962.58,753.09 932.1,753.09 "/>
  <polygon ref="0783b007-59ea-4cb8-88cd-53980086b4fa" id="0783b007-59ea-4cb8-88cd-53980086b4fa" @mouseover="addHoverClass('0783b007-59ea-4cb8-88cd-53980086b4fa')" @mouseleave="removeHoverClass('0783b007-59ea-4cb8-88cd-53980086b4fa')" @click="showModal('0783b007-59ea-4cb8-88cd-53980086b4fa')" :class="[returnClassRoom('0783b007-59ea-4cb8-88cd-53980086b4fa'), { 'hoverSvgClassPark': activeFloor === '0783b007-59ea-4cb8-88cd-53980086b4fa' }]" class="fil0" points="897.5,680.71 919.47,680.71 919.45,682.49 927.97,682.51 927.97,753.09 897.5,753.09 "/>
  <polygon ref="5a435719-781d-4452-bb9c-4a145c6b29b4" id="5a435719-781d-4452-bb9c-4a145c6b29b4" @mouseover="addHoverClass('5a435719-781d-4452-bb9c-4a145c6b29b4')" @mouseleave="removeHoverClass('5a435719-781d-4452-bb9c-4a145c6b29b4')" @click="showModal('5a435719-781d-4452-bb9c-4a145c6b29b4')" :class="[returnClassRoom('5a435719-781d-4452-bb9c-4a145c6b29b4'), { 'hoverSvgClassPark': activeFloor === '5a435719-781d-4452-bb9c-4a145c6b29b4' }]" class="fil0" points="608.94,586.74 639.41,586.74 639.41,595.43 634.22,592.93 623.97,593.13 624.33,605.74 639.41,613.84 639.41,659.13 608.94,659.13 "/>
  <polygon ref="c15b4789-3df2-4376-a6b6-12bd59db663f" id="c15b4789-3df2-4376-a6b6-12bd59db663f" @mouseover="addHoverClass('c15b4789-3df2-4376-a6b6-12bd59db663f')" @mouseleave="removeHoverClass('c15b4789-3df2-4376-a6b6-12bd59db663f')" @click="showModal('c15b4789-3df2-4376-a6b6-12bd59db663f')" :class="[returnClassRoom('c15b4789-3df2-4376-a6b6-12bd59db663f'), { 'hoverSvgClassPark': activeFloor === 'c15b4789-3df2-4376-a6b6-12bd59db663f' }]" class="fil0" points="574.33,586.74 604.81,586.74 604.81,659.13 574.33,659.13 "/>
  <polygon ref="434b9c2b-48e1-461e-b517-be4e7c37f87f" id="434b9c2b-48e1-461e-b517-be4e7c37f87f" @mouseover="addHoverClass('434b9c2b-48e1-461e-b517-be4e7c37f87f')" @mouseleave="removeHoverClass('434b9c2b-48e1-461e-b517-be4e7c37f87f')" @click="showModal('434b9c2b-48e1-461e-b517-be4e7c37f87f')" :class="[returnClassRoom('434b9c2b-48e1-461e-b517-be4e7c37f87f'), { 'hoverSvgClassPark': activeFloor === '434b9c2b-48e1-461e-b517-be4e7c37f87f' }]" class="fil0" points="506.09,683.25 536.56,683.25 536.56,733.79 532.59,733.88 532.75,752.99 536.56,752.99 536.56,755.63 506.09,755.63 "/>
  <polygon ref="8cf4f9c1-3fe7-47a9-ad4c-6545135f2508" id="8cf4f9c1-3fe7-47a9-ad4c-6545135f2508" @mouseover="addHoverClass('8cf4f9c1-3fe7-47a9-ad4c-6545135f2508')" @mouseleave="removeHoverClass('8cf4f9c1-3fe7-47a9-ad4c-6545135f2508')" @click="showModal('8cf4f9c1-3fe7-47a9-ad4c-6545135f2508')" :class="[returnClassRoom('8cf4f9c1-3fe7-47a9-ad4c-6545135f2508'), { 'hoverSvgClassPark': activeFloor === '8cf4f9c1-3fe7-47a9-ad4c-6545135f2508' }]" class="fil0" points="471.48,683.25 501.96,683.25 501.96,755.63 471.48,755.63 "/>
  <polygon ref="99500a10-3020-4cf4-8a13-4aa8d988fca0" id="99500a10-3020-4cf4-8a13-4aa8d988fca0" @mouseover="addHoverClass('99500a10-3020-4cf4-8a13-4aa8d988fca0')" @mouseleave="removeHoverClass('99500a10-3020-4cf4-8a13-4aa8d988fca0')" @click="showModal('99500a10-3020-4cf4-8a13-4aa8d988fca0')" :class="[returnClassRoom('99500a10-3020-4cf4-8a13-4aa8d988fca0'), { 'hoverSvgClassPark': activeFloor === '99500a10-3020-4cf4-8a13-4aa8d988fca0' }]" class="fil0" points="829.89,683.25 860.36,683.25 860.36,755.63 829.89,755.63 "/>
  <polygon ref="bfc8d508-0c51-4133-94e6-c2a891b26173" id="bfc8d508-0c51-4133-94e6-c2a891b26173" @mouseover="addHoverClass('bfc8d508-0c51-4133-94e6-c2a891b26173')" @mouseleave="removeHoverClass('bfc8d508-0c51-4133-94e6-c2a891b26173')" @click="showModal('bfc8d508-0c51-4133-94e6-c2a891b26173')" :class="[returnClassRoom('bfc8d508-0c51-4133-94e6-c2a891b26173'), { 'hoverSvgClassPark': activeFloor === 'bfc8d508-0c51-4133-94e6-c2a891b26173' }]" class="fil0" points="795.29,686.19 825.76,686.19 825.76,755.63 795.29,755.63 "/>
  <polygon ref="def5f30d-12f1-42fa-bd93-82bdef895754" id="def5f30d-12f1-42fa-bd93-82bdef895754" @mouseover="addHoverClass('def5f30d-12f1-42fa-bd93-82bdef895754')" @mouseleave="removeHoverClass('def5f30d-12f1-42fa-bd93-82bdef895754')" @click="showModal('def5f30d-12f1-42fa-bd93-82bdef895754')" :class="[returnClassRoom('def5f30d-12f1-42fa-bd93-82bdef895754'), { 'hoverSvgClassPark': activeFloor === 'def5f30d-12f1-42fa-bd93-82bdef895754' }]" class="fil0" points="721.31,683.25 751.79,683.25 751.79,733.8 747.84,733.81 747.9,753.08 751.79,753.08 751.79,755.63 721.31,755.63 "/>
  <polygon ref="63739250-aa55-4402-83f8-83e28add573b" id="63739250-aa55-4402-83f8-83e28add573b" @mouseover="addHoverClass('63739250-aa55-4402-83f8-83e28add573b')" @mouseleave="removeHoverClass('63739250-aa55-4402-83f8-83e28add573b')" @click="showModal('63739250-aa55-4402-83f8-83e28add573b')" :class="[returnClassRoom('63739250-aa55-4402-83f8-83e28add573b'), { 'hoverSvgClassPark': activeFloor === '63739250-aa55-4402-83f8-83e28add573b' }]" class="fil0" points="387.52,683.25 417.99,683.25 417.99,734.18 412.49,733.99 412.59,752.76 417.99,752.92 417.99,755.63 387.52,755.63 "/>
  <polygon ref="9bd1e11d-69da-4263-9ae7-4f62d203b70a" id="9bd1e11d-69da-4263-9ae7-4f62d203b70a" @mouseover="addHoverClass('9bd1e11d-69da-4263-9ae7-4f62d203b70a')" @mouseleave="removeHoverClass('9bd1e11d-69da-4263-9ae7-4f62d203b70a')" @click="showModal('9bd1e11d-69da-4263-9ae7-4f62d203b70a')" :class="[returnClassRoom('9bd1e11d-69da-4263-9ae7-4f62d203b70a'), { 'hoverSvgClassPark': activeFloor === '9bd1e11d-69da-4263-9ae7-4f62d203b70a' }]" class="fil0" points="600.49,857.21 630.97,857.21 630.97,929.59 600.49,929.59 "/>
  <polygon ref="1284bdcd-0f06-48a7-a1f2-d844e4b08bd9" id="1284bdcd-0f06-48a7-a1f2-d844e4b08bd9" @mouseover="addHoverClass('1284bdcd-0f06-48a7-a1f2-d844e4b08bd9')" @mouseleave="removeHoverClass('1284bdcd-0f06-48a7-a1f2-d844e4b08bd9')" @click="showModal('1284bdcd-0f06-48a7-a1f2-d844e4b08bd9')" :class="[returnClassRoom('1284bdcd-0f06-48a7-a1f2-d844e4b08bd9'), { 'hoverSvgClassPark': activeFloor === '1284bdcd-0f06-48a7-a1f2-d844e4b08bd9' }]" class="fil0" points="565.89,857.21 596.36,857.21 596.36,929.59 565.89,929.59 "/>
  <polygon ref="d934f7e6-5d83-4fef-9e6d-794978667c47" id="d934f7e6-5d83-4fef-9e6d-794978667c47" @mouseover="addHoverClass('d934f7e6-5d83-4fef-9e6d-794978667c47')" @mouseleave="removeHoverClass('d934f7e6-5d83-4fef-9e6d-794978667c47')" @click="showModal('d934f7e6-5d83-4fef-9e6d-794978667c47')" :class="[returnClassRoom('d934f7e6-5d83-4fef-9e6d-794978667c47'), { 'hoverSvgClassPark': activeFloor === 'd934f7e6-5d83-4fef-9e6d-794978667c47' }]" class="fil0" points="499.54,857.21 530.02,857.21 530.02,929.59 499.54,929.59 "/>
  <polygon ref="21b657f4-c753-4898-ae04-4d3b6ef6870b" id="21b657f4-c753-4898-ae04-4d3b6ef6870b" @mouseover="addHoverClass('21b657f4-c753-4898-ae04-4d3b6ef6870b')" @mouseleave="removeHoverClass('21b657f4-c753-4898-ae04-4d3b6ef6870b')" @click="showModal('21b657f4-c753-4898-ae04-4d3b6ef6870b')" :class="[returnClassRoom('21b657f4-c753-4898-ae04-4d3b6ef6870b'), { 'hoverSvgClassPark': activeFloor === '21b657f4-c753-4898-ae04-4d3b6ef6870b' }]" class="fil0" points="464.94,857.21 495.42,857.21 495.42,929.59 464.94,929.59 "/>
  <polygon ref="b8fee466-f88a-4c0a-b243-d8471ca698dd" id="b8fee466-f88a-4c0a-b243-d8471ca698dd" @mouseover="addHoverClass('b8fee466-f88a-4c0a-b243-d8471ca698dd')" @mouseleave="removeHoverClass('b8fee466-f88a-4c0a-b243-d8471ca698dd')" @click="showModal('b8fee466-f88a-4c0a-b243-d8471ca698dd')" :class="[returnClassRoom('b8fee466-f88a-4c0a-b243-d8471ca698dd'), { 'hoverSvgClassPark': activeFloor === 'b8fee466-f88a-4c0a-b243-d8471ca698dd' }]" class="fil0" points="637.31,857.21 667.79,857.21 667.79,929.59 637.31,929.59 "/>
  <polygon ref="0506b340-c744-4ae8-9c4e-61bc8f0cc2da" id="0506b340-c744-4ae8-9c4e-61bc8f0cc2da" @mouseover="addHoverClass('0506b340-c744-4ae8-9c4e-61bc8f0cc2da')" @mouseleave="removeHoverClass('0506b340-c744-4ae8-9c4e-61bc8f0cc2da')" @click="showModal('0506b340-c744-4ae8-9c4e-61bc8f0cc2da')" :class="[returnClassRoom('0506b340-c744-4ae8-9c4e-61bc8f0cc2da'), { 'hoverSvgClassPark': activeFloor === '0506b340-c744-4ae8-9c4e-61bc8f0cc2da' }]" class="fil0" points="715.6,857.21 746.07,857.21 746.07,929.59 715.6,929.59 "/>
  <polygon ref="fd8c1cfb-16ba-4fec-9451-2aae07d0404c" id="fd8c1cfb-16ba-4fec-9451-2aae07d0404c" @mouseover="addHoverClass('fd8c1cfb-16ba-4fec-9451-2aae07d0404c')" @mouseleave="removeHoverClass('fd8c1cfb-16ba-4fec-9451-2aae07d0404c')" @click="showModal('fd8c1cfb-16ba-4fec-9451-2aae07d0404c')" :class="[returnClassRoom('fd8c1cfb-16ba-4fec-9451-2aae07d0404c'), { 'hoverSvgClassPark': activeFloor === 'fd8c1cfb-16ba-4fec-9451-2aae07d0404c' }]" class="fil0" points="752.42,857.21 782.9,857.21 782.9,929.59 752.42,929.59 "/>
  <polygon ref="7cbb4ba6-8d1c-4734-900c-f443ac994916" id="7cbb4ba6-8d1c-4734-900c-f443ac994916" @mouseover="addHoverClass('7cbb4ba6-8d1c-4734-900c-f443ac994916')" @mouseleave="removeHoverClass('7cbb4ba6-8d1c-4734-900c-f443ac994916')" @click="showModal('7cbb4ba6-8d1c-4734-900c-f443ac994916')" :class="[returnClassRoom('7cbb4ba6-8d1c-4734-900c-f443ac994916'), { 'hoverSvgClassPark': activeFloor === '7cbb4ba6-8d1c-4734-900c-f443ac994916' }]" class="fil0" points="972.42,857.21 1002.89,857.21 1002.89,929.59 972.42,929.59 "/>
  <polygon ref="69437409-593b-427e-9908-653dd35cea3d" id="69437409-593b-427e-9908-653dd35cea3d" @mouseover="addHoverClass('69437409-593b-427e-9908-653dd35cea3d')" @mouseleave="removeHoverClass('69437409-593b-427e-9908-653dd35cea3d')" @click="showModal('69437409-593b-427e-9908-653dd35cea3d')" :class="[returnClassRoom('69437409-593b-427e-9908-653dd35cea3d'), { 'hoverSvgClassPark': activeFloor === '69437409-593b-427e-9908-653dd35cea3d' }]" class="fil0" points="1033.69,857.21 1064.16,857.21 1064.16,929.59 1033.69,929.59 "/>
  <polygon ref="ff522d16-ab0b-4dd9-ac26-b5fc6921c241" id="ff522d16-ab0b-4dd9-ac26-b5fc6921c241" @mouseover="addHoverClass('ff522d16-ab0b-4dd9-ac26-b5fc6921c241')" @mouseleave="removeHoverClass('ff522d16-ab0b-4dd9-ac26-b5fc6921c241')" @click="showModal('ff522d16-ab0b-4dd9-ac26-b5fc6921c241')" :class="[returnClassRoom('ff522d16-ab0b-4dd9-ac26-b5fc6921c241'), { 'hoverSvgClassPark': activeFloor === 'ff522d16-ab0b-4dd9-ac26-b5fc6921c241' }]" class="fil0" points="1066.7,857.21 1097.17,857.21 1097.17,929.59 1066.7,929.59 "/>
  <polygon ref="646a45e0-5bb3-4ae8-ad7a-b945d32a97c6" id="646a45e0-5bb3-4ae8-ad7a-b945d32a97c6" @mouseover="addHoverClass('646a45e0-5bb3-4ae8-ad7a-b945d32a97c6')" @mouseleave="removeHoverClass('646a45e0-5bb3-4ae8-ad7a-b945d32a97c6')" @click="showModal('646a45e0-5bb3-4ae8-ad7a-b945d32a97c6')" :class="[returnClassRoom('646a45e0-5bb3-4ae8-ad7a-b945d32a97c6'), { 'hoverSvgClassPark': activeFloor === '646a45e0-5bb3-4ae8-ad7a-b945d32a97c6' }]" class="fil0" points="1100.98,857.21 1131.46,857.21 1131.46,929.59 1100.98,929.59 "/>
  <polygon ref="c062a887-e870-43c9-b561-ed3907236d50" id="c062a887-e870-43c9-b561-ed3907236d50" @mouseover="addHoverClass('c062a887-e870-43c9-b561-ed3907236d50')" @mouseleave="removeHoverClass('c062a887-e870-43c9-b561-ed3907236d50')" @click="showModal('c062a887-e870-43c9-b561-ed3907236d50')" :class="[returnClassRoom('c062a887-e870-43c9-b561-ed3907236d50'), { 'hoverSvgClassPark': activeFloor === 'c062a887-e870-43c9-b561-ed3907236d50' }]" class="fil0" points="1187.97,857.21 1218.44,857.21 1218.44,929.59 1187.97,929.59 "/>
  <polygon ref="deaa9062-670f-4bba-9659-b1a4a18a2c9c" id="deaa9062-670f-4bba-9659-b1a4a18a2c9c" @mouseover="addHoverClass('deaa9062-670f-4bba-9659-b1a4a18a2c9c')" @mouseleave="removeHoverClass('deaa9062-670f-4bba-9659-b1a4a18a2c9c')" @click="showModal('deaa9062-670f-4bba-9659-b1a4a18a2c9c')" :class="[returnClassRoom('deaa9062-670f-4bba-9659-b1a4a18a2c9c'), { 'hoverSvgClassPark': activeFloor === 'deaa9062-670f-4bba-9659-b1a4a18a2c9c' }]" class="fil0" points="857.15,873.73 857.15,843.26 929.53,843.26 929.53,873.73 "/>
  <polygon ref="628d8870-8005-48f1-b939-f065f930ace2" id="628d8870-8005-48f1-b939-f065f930ace2" @mouseover="addHoverClass('628d8870-8005-48f1-b939-f065f930ace2')" @mouseleave="removeHoverClass('628d8870-8005-48f1-b939-f065f930ace2')" @click="showModal('628d8870-8005-48f1-b939-f065f930ace2')" :class="[returnClassRoom('628d8870-8005-48f1-b939-f065f930ace2'), { 'hoverSvgClassPark': activeFloor === '628d8870-8005-48f1-b939-f065f930ace2' }]" class="fil0" points="1359.39,866.1 1389.87,866.1 1389.87,938.48 1359.39,938.48 "/>
  <polygon ref="d270b07c-c537-4532-955c-f771617bbcf9" id="d270b07c-c537-4532-955c-f771617bbcf9" @mouseover="addHoverClass('d270b07c-c537-4532-955c-f771617bbcf9')" @mouseleave="removeHoverClass('d270b07c-c537-4532-955c-f771617bbcf9')" @click="showModal('d270b07c-c537-4532-955c-f771617bbcf9')" :class="[returnClassRoom('d270b07c-c537-4532-955c-f771617bbcf9'), { 'hoverSvgClassPark': activeFloor === 'd270b07c-c537-4532-955c-f771617bbcf9' }]" class="fil0" points="1392.41,866.1 1422.88,866.1 1422.88,938.48 1392.41,938.48 "/>
  <polygon ref="381a3567-24cf-49ba-aa41-c7d31e593239" id="381a3567-24cf-49ba-aa41-c7d31e593239" @mouseover="addHoverClass('381a3567-24cf-49ba-aa41-c7d31e593239')" @mouseleave="removeHoverClass('381a3567-24cf-49ba-aa41-c7d31e593239')" @click="showModal('381a3567-24cf-49ba-aa41-c7d31e593239')" :class="[returnClassRoom('381a3567-24cf-49ba-aa41-c7d31e593239'), { 'hoverSvgClassPark': activeFloor === '381a3567-24cf-49ba-aa41-c7d31e593239' }]" class="fil0" points="1426.69,866.1 1457.17,866.1 1457.17,938.48 1426.69,938.48 "/>
  <polygon ref="fb481cb9-92ea-403d-8885-02867f8d4ace" id="fb481cb9-92ea-403d-8885-02867f8d4ace" @mouseover="addHoverClass('fb481cb9-92ea-403d-8885-02867f8d4ace')" @mouseleave="removeHoverClass('fb481cb9-92ea-403d-8885-02867f8d4ace')" @click="showModal('fb481cb9-92ea-403d-8885-02867f8d4ace')" :class="[returnClassRoom('fb481cb9-92ea-403d-8885-02867f8d4ace'), { 'hoverSvgClassPark': activeFloor === 'fb481cb9-92ea-403d-8885-02867f8d4ace' }]" class="fil0" points="1609.55,865.46 1640.02,865.46 1640.02,937.84 1609.55,937.84 "/>
  <polygon ref="4c079f35-ea68-4658-8a50-f75922de611a" id="4c079f35-ea68-4658-8a50-f75922de611a" @mouseover="addHoverClass('4c079f35-ea68-4658-8a50-f75922de611a')" @mouseleave="removeHoverClass('4c079f35-ea68-4658-8a50-f75922de611a')" @click="showModal('4c079f35-ea68-4658-8a50-f75922de611a')" :class="[returnClassRoom('4c079f35-ea68-4658-8a50-f75922de611a'), { 'hoverSvgClassPark': activeFloor === '4c079f35-ea68-4658-8a50-f75922de611a' }]" class="fil0" points="1642.56,865.46 1673.04,865.46 1673.04,937.84 1642.56,937.84 "/>
  <polygon ref="bbbfe6ef-bf5f-44ae-af6e-2b06d0917913" id="bbbfe6ef-bf5f-44ae-af6e-2b06d0917913" @mouseover="addHoverClass('bbbfe6ef-bf5f-44ae-af6e-2b06d0917913')" @mouseleave="removeHoverClass('bbbfe6ef-bf5f-44ae-af6e-2b06d0917913')" @click="showModal('bbbfe6ef-bf5f-44ae-af6e-2b06d0917913')" :class="[returnClassRoom('bbbfe6ef-bf5f-44ae-af6e-2b06d0917913'), { 'hoverSvgClassPark': activeFloor === 'bbbfe6ef-bf5f-44ae-af6e-2b06d0917913' }]" class="fil0" points="1676.85,865.46 1707.32,865.46 1707.32,937.84 1676.85,937.84 "/>
  <polygon ref="ff955f5e-481a-4d8b-897c-c44fd701cba9" id="ff955f5e-481a-4d8b-897c-c44fd701cba9" @mouseover="addHoverClass('ff955f5e-481a-4d8b-897c-c44fd701cba9')" @mouseleave="removeHoverClass('ff955f5e-481a-4d8b-897c-c44fd701cba9')" @click="showModal('ff955f5e-481a-4d8b-897c-c44fd701cba9')" :class="[returnClassRoom('ff955f5e-481a-4d8b-897c-c44fd701cba9'), { 'hoverSvgClassPark': activeFloor === 'ff955f5e-481a-4d8b-897c-c44fd701cba9' }]" class="fil0" points="1502.19,865.46 1532.67,865.46 1532.67,937.84 1502.19,937.84 "/>
  <polygon ref="303b1f3e-a64d-4d12-afda-8361fc47baf1" id="303b1f3e-a64d-4d12-afda-8361fc47baf1" @mouseover="addHoverClass('303b1f3e-a64d-4d12-afda-8361fc47baf1')" @mouseleave="removeHoverClass('303b1f3e-a64d-4d12-afda-8361fc47baf1')" @click="showModal('303b1f3e-a64d-4d12-afda-8361fc47baf1')" :class="[returnClassRoom('303b1f3e-a64d-4d12-afda-8361fc47baf1'), { 'hoverSvgClassPark': activeFloor === '303b1f3e-a64d-4d12-afda-8361fc47baf1' }]" class="fil0" points="1535.21,865.46 1565.68,865.46 1565.68,937.84 1535.21,937.84 "/>
  <polygon ref="9a718da9-fd44-4049-a15b-01eb5f8fb742" id="9a718da9-fd44-4049-a15b-01eb5f8fb742" @mouseover="addHoverClass('9a718da9-fd44-4049-a15b-01eb5f8fb742')" @mouseleave="removeHoverClass('9a718da9-fd44-4049-a15b-01eb5f8fb742')" @click="showModal('9a718da9-fd44-4049-a15b-01eb5f8fb742')" :class="[returnClassRoom('9a718da9-fd44-4049-a15b-01eb5f8fb742'), { 'hoverSvgClassPark': activeFloor === '9a718da9-fd44-4049-a15b-01eb5f8fb742' }]" class="fil0" points="1500.93,680.71 1531.4,680.71 1531.4,753.09 1500.93,753.09 "/>
  <polygon ref="be8b9e29-d3af-4d99-8c5d-051a32d3263e" id="be8b9e29-d3af-4d99-8c5d-051a32d3263e" @mouseover="addHoverClass('be8b9e29-d3af-4d99-8c5d-051a32d3263e')" @mouseleave="removeHoverClass('be8b9e29-d3af-4d99-8c5d-051a32d3263e')" @click="showModal('be8b9e29-d3af-4d99-8c5d-051a32d3263e')" :class="[returnClassRoom('be8b9e29-d3af-4d99-8c5d-051a32d3263e'), { 'hoverSvgClassPark': activeFloor === 'be8b9e29-d3af-4d99-8c5d-051a32d3263e' }]" class="fil0" points="1533.94,680.71 1564.42,680.71 1564.42,753.09 1533.94,753.09 "/>
  <polygon ref="6741027f-893a-42e3-87cb-f0bdd690e1a7" id="6741027f-893a-42e3-87cb-f0bdd690e1a7" @mouseover="addHoverClass('6741027f-893a-42e3-87cb-f0bdd690e1a7')" @mouseleave="removeHoverClass('6741027f-893a-42e3-87cb-f0bdd690e1a7')" @click="showModal('6741027f-893a-42e3-87cb-f0bdd690e1a7')" :class="[returnClassRoom('6741027f-893a-42e3-87cb-f0bdd690e1a7'), { 'hoverSvgClassPark': activeFloor === '6741027f-893a-42e3-87cb-f0bdd690e1a7' }]" class="fil0" points="1430.45,684.51 1460.93,684.51 1460.93,756.89 1430.45,756.89 "/>
  <polygon ref="92fa2968-5632-4b96-a112-0f28d7aef346" id="92fa2968-5632-4b96-a112-0f28d7aef346" @mouseover="addHoverClass('92fa2968-5632-4b96-a112-0f28d7aef346')" @mouseleave="removeHoverClass('92fa2968-5632-4b96-a112-0f28d7aef346')" @click="showModal('92fa2968-5632-4b96-a112-0f28d7aef346')" :class="[returnClassRoom('92fa2968-5632-4b96-a112-0f28d7aef346'), { 'hoverSvgClassPark': activeFloor === '92fa2968-5632-4b96-a112-0f28d7aef346' }]" class="fil0" points="1610.12,683.88 1640.6,683.88 1640.6,756.27 1610.12,756.27 "/>
  <polygon ref="12eae1c7-be52-4a33-b6a2-62567db7a1cb" id="12eae1c7-be52-4a33-b6a2-62567db7a1cb" @mouseover="addHoverClass('12eae1c7-be52-4a33-b6a2-62567db7a1cb')" @mouseleave="removeHoverClass('12eae1c7-be52-4a33-b6a2-62567db7a1cb')" @click="showModal('12eae1c7-be52-4a33-b6a2-62567db7a1cb')" :class="[returnClassRoom('12eae1c7-be52-4a33-b6a2-62567db7a1cb'), { 'hoverSvgClassPark': activeFloor === '12eae1c7-be52-4a33-b6a2-62567db7a1cb' }]" class="fil0" points="1643.14,683.88 1673.61,683.88 1673.61,756.27 1643.14,756.27 "/>
  <polygon ref="4aac6916-48c5-400f-a60e-73b20d15141e" id="4aac6916-48c5-400f-a60e-73b20d15141e" @mouseover="addHoverClass('4aac6916-48c5-400f-a60e-73b20d15141e')" @mouseleave="removeHoverClass('4aac6916-48c5-400f-a60e-73b20d15141e')" @click="showModal('4aac6916-48c5-400f-a60e-73b20d15141e')" :class="[returnClassRoom('4aac6916-48c5-400f-a60e-73b20d15141e'), { 'hoverSvgClassPark': activeFloor === '4aac6916-48c5-400f-a60e-73b20d15141e' }]" class="fil0" points="1677.42,683.88 1707.9,683.88 1707.9,756.27 1677.42,756.27 "/>
  <polygon ref="8001e4e3-9cfa-45bd-9f0d-0c4b4779f264" id="8001e4e3-9cfa-45bd-9f0d-0c4b4779f264" @mouseover="addHoverClass('8001e4e3-9cfa-45bd-9f0d-0c4b4779f264')" @mouseleave="removeHoverClass('8001e4e3-9cfa-45bd-9f0d-0c4b4779f264')" @click="showModal('8001e4e3-9cfa-45bd-9f0d-0c4b4779f264')" :class="[returnClassRoom('8001e4e3-9cfa-45bd-9f0d-0c4b4779f264'), { 'hoverSvgClassPark': activeFloor === '8001e4e3-9cfa-45bd-9f0d-0c4b4779f264' }]" class="fil0" points="1499.02,585.46 1529.49,585.46 1529.49,657.84 1499.02,657.84 "/>
  <polygon ref="15e4dacb-636d-4c34-8b1e-04210ae22f57" id="15e4dacb-636d-4c34-8b1e-04210ae22f57" @mouseover="addHoverClass('15e4dacb-636d-4c34-8b1e-04210ae22f57')" @mouseleave="removeHoverClass('15e4dacb-636d-4c34-8b1e-04210ae22f57')" @click="showModal('15e4dacb-636d-4c34-8b1e-04210ae22f57')" :class="[returnClassRoom('15e4dacb-636d-4c34-8b1e-04210ae22f57'), { 'hoverSvgClassPark': activeFloor === '15e4dacb-636d-4c34-8b1e-04210ae22f57' }]" class="fil0" points="1532.03,585.46 1562.5,585.46 1562.5,657.84 1532.03,657.84 "/>
  <polygon ref="72653bcf-d0ce-47c2-b9ca-54d5fa5ca460" id="72653bcf-d0ce-47c2-b9ca-54d5fa5ca460" @mouseover="addHoverClass('72653bcf-d0ce-47c2-b9ca-54d5fa5ca460')" @mouseleave="removeHoverClass('72653bcf-d0ce-47c2-b9ca-54d5fa5ca460')" @click="showModal('72653bcf-d0ce-47c2-b9ca-54d5fa5ca460')" :class="[returnClassRoom('72653bcf-d0ce-47c2-b9ca-54d5fa5ca460'), { 'hoverSvgClassPark': activeFloor === '72653bcf-d0ce-47c2-b9ca-54d5fa5ca460' }]" class="fil0" points="1566.32,585.46 1596.79,585.46 1596.79,657.84 1566.32,657.84 "/>
  <polygon ref="88fc3076-3bd1-471b-984b-36ba187b5245" id="88fc3076-3bd1-471b-984b-36ba187b5245" @mouseover="addHoverClass('88fc3076-3bd1-471b-984b-36ba187b5245')" @mouseleave="removeHoverClass('88fc3076-3bd1-471b-984b-36ba187b5245')" @click="showModal('88fc3076-3bd1-471b-984b-36ba187b5245')" :class="[returnClassRoom('88fc3076-3bd1-471b-984b-36ba187b5245'), { 'hoverSvgClassPark': activeFloor === '88fc3076-3bd1-471b-984b-36ba187b5245' }]" class="fil0" points="1373.31,586.1 1403.78,586.1 1403.78,658.48 1373.31,658.48 "/>
  <polygon ref="8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e" id="8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e" @mouseover="addHoverClass('8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e')" @mouseleave="removeHoverClass('8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e')" @click="showModal('8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e')" :class="[returnClassRoom('8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e'), { 'hoverSvgClassPark': activeFloor === '8cbdd6b8-27f7-495b-a671-4ee5ba3fe95e' }]" class="fil0" points="1406.32,586.1 1436.79,586.1 1436.79,658.48 1406.32,658.48 "/>
  <polygon ref="299172d9-2a13-4782-a9b8-edc2512a5b7a" id="299172d9-2a13-4782-a9b8-edc2512a5b7a" @mouseover="addHoverClass('299172d9-2a13-4782-a9b8-edc2512a5b7a')" @mouseleave="removeHoverClass('299172d9-2a13-4782-a9b8-edc2512a5b7a')" @click="showModal('299172d9-2a13-4782-a9b8-edc2512a5b7a')" :class="[returnClassRoom('299172d9-2a13-4782-a9b8-edc2512a5b7a'), { 'hoverSvgClassPark': activeFloor === '299172d9-2a13-4782-a9b8-edc2512a5b7a' }]" class="fil0" points="1440.61,586.1 1471.08,586.1 1471.08,658.48 1440.61,658.48 "/>
  <polygon ref="3b5dd36d-cd65-4f71-9342-c24c191db844" id="3b5dd36d-cd65-4f71-9342-c24c191db844" @mouseover="addHoverClass('3b5dd36d-cd65-4f71-9342-c24c191db844')" @mouseleave="removeHoverClass('3b5dd36d-cd65-4f71-9342-c24c191db844')" @click="showModal('3b5dd36d-cd65-4f71-9342-c24c191db844')" :class="[returnClassRoom('3b5dd36d-cd65-4f71-9342-c24c191db844'), { 'hoverSvgClassPark': activeFloor === '3b5dd36d-cd65-4f71-9342-c24c191db844' }]" class="fil0" points="1284.42,586.73 1314.89,586.73 1314.89,659.11 1284.42,659.11 "/>
  <polygon ref="fa4cecdf-663c-48f7-8bef-346959a0d3af" id="fa4cecdf-663c-48f7-8bef-346959a0d3af" @mouseover="addHoverClass('fa4cecdf-663c-48f7-8bef-346959a0d3af')" @mouseleave="removeHoverClass('fa4cecdf-663c-48f7-8bef-346959a0d3af')" @click="showModal('fa4cecdf-663c-48f7-8bef-346959a0d3af')" :class="[returnClassRoom('fa4cecdf-663c-48f7-8bef-346959a0d3af'), { 'hoverSvgClassPark': activeFloor === 'fa4cecdf-663c-48f7-8bef-346959a0d3af' }]" class="fil0" points="1317.43,586.73 1347.91,586.73 1347.91,659.11 1317.43,659.11 "/>
  <polygon ref="1ed4b24d-f969-4082-bbea-58ad29ff4fa2" id="1ed4b24d-f969-4082-bbea-58ad29ff4fa2" @mouseover="addHoverClass('1ed4b24d-f969-4082-bbea-58ad29ff4fa2')" @mouseleave="removeHoverClass('1ed4b24d-f969-4082-bbea-58ad29ff4fa2')" @click="showModal('1ed4b24d-f969-4082-bbea-58ad29ff4fa2')" :class="[returnClassRoom('1ed4b24d-f969-4082-bbea-58ad29ff4fa2'), { 'hoverSvgClassPark': activeFloor === '1ed4b24d-f969-4082-bbea-58ad29ff4fa2' }]" class="fil0" points="1363.15,682.6 1393.62,682.6 1393.62,754.98 1363.15,754.98 "/>
  <polygon ref="474f0487-7a70-4274-a918-6a24916024af" id="474f0487-7a70-4274-a918-6a24916024af" @mouseover="addHoverClass('474f0487-7a70-4274-a918-6a24916024af')" @mouseleave="removeHoverClass('474f0487-7a70-4274-a918-6a24916024af')" @click="showModal('474f0487-7a70-4274-a918-6a24916024af')" :class="[returnClassRoom('474f0487-7a70-4274-a918-6a24916024af'), { 'hoverSvgClassPark': activeFloor === '474f0487-7a70-4274-a918-6a24916024af' }]" class="fil0" points="1396.16,682.6 1426.63,682.6 1426.63,754.98 1396.16,754.98 "/>
  <polygon ref="abcb0c4d-ebd6-45ab-b07d-25c75c70b226" id="abcb0c4d-ebd6-45ab-b07d-25c75c70b226" @mouseover="addHoverClass('abcb0c4d-ebd6-45ab-b07d-25c75c70b226')" @mouseleave="removeHoverClass('abcb0c4d-ebd6-45ab-b07d-25c75c70b226')" @click="showModal('abcb0c4d-ebd6-45ab-b07d-25c75c70b226')" :class="[returnClassRoom('abcb0c4d-ebd6-45ab-b07d-25c75c70b226'), { 'hoverSvgClassPark': activeFloor === 'abcb0c4d-ebd6-45ab-b07d-25c75c70b226' }]" class="fil0" points="1620.92,586.73 1651.39,586.73 1651.39,659.11 1620.92,659.11 1620.92,609.56 1633.61,606.07 1633.92,592.98 1620.92,592.73 "/>
  <polygon ref="7a749c18-8309-40af-8710-94ce994fc55a" id="7a749c18-8309-40af-8710-94ce994fc55a" @mouseover="addHoverClass('7a749c18-8309-40af-8710-94ce994fc55a')" @mouseleave="removeHoverClass('7a749c18-8309-40af-8710-94ce994fc55a')" @click="showModal('7a749c18-8309-40af-8710-94ce994fc55a')" :class="[returnClassRoom('7a749c18-8309-40af-8710-94ce994fc55a'), { 'hoverSvgClassPark': activeFloor === '7a749c18-8309-40af-8710-94ce994fc55a' }]" class="fil0" points="1653.93,586.73 1684.4,586.73 1684.4,659.11 1653.93,659.11 "/>
  <polygon ref="11f8bfbc-6540-4b3f-981b-19e8e934bbb1" id="11f8bfbc-6540-4b3f-981b-19e8e934bbb1" @mouseover="addHoverClass('11f8bfbc-6540-4b3f-981b-19e8e934bbb1')" @mouseleave="removeHoverClass('11f8bfbc-6540-4b3f-981b-19e8e934bbb1')" @click="showModal('11f8bfbc-6540-4b3f-981b-19e8e934bbb1')" :class="[returnClassRoom('11f8bfbc-6540-4b3f-981b-19e8e934bbb1'), { 'hoverSvgClassPark': activeFloor === '11f8bfbc-6540-4b3f-981b-19e8e934bbb1' }]" class="fil0" points="566.91,418.32 597.39,418.32 597.39,490.7 566.91,490.7 "/>
 </g>
</svg>
    </SvgPanZoom>
  </div>
</template>
<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "first",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>