<template>
  <div>
   <SvgPanZoom
       style="width: 100%; height: 500px; margin: auto;"
       :zoomEnabled="true"
       :controlIconsEnabled="true"
       :fit="false"
       :center="true">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="600px" height="318px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 599 317.77" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="599" height="317.77"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
          <image xlink:href="@/assets/parking/_2.png" x="0" y="0" width="599" height="317.77"></image>
  </g>
  <polygon id="7367564f-4566-4cbb-9cb3-91897cfe6667" @mouseover="addHoverClass('7367564f-4566-4cbb-9cb3-91897cfe6667')" @mouseleave="removeHoverClass('7367564f-4566-4cbb-9cb3-91897cfe6667')" @click="showModal('7367564f-4566-4cbb-9cb3-91897cfe6667')" :class="[returnClassRoom('7367564f-4566-4cbb-9cb3-91897cfe6667'), { 'hoverSvgClassPark': activeFloor === '7367564f-4566-4cbb-9cb3-91897cfe6667' }]" class="fil0" points="207.95,42.96 218.13,42.96 218.13,19.79 207.95,19.79 "/>
  <polygon id="133fa6f1-2268-453d-af9d-4fc0de568e21" @mouseover="addHoverClass('133fa6f1-2268-453d-af9d-4fc0de568e21')" @mouseleave="removeHoverClass('133fa6f1-2268-453d-af9d-4fc0de568e21')" @click="showModal('133fa6f1-2268-453d-af9d-4fc0de568e21')" :class="[returnClassRoom('133fa6f1-2268-453d-af9d-4fc0de568e21'), { 'hoverSvgClassPark': activeFloor === '133fa6f1-2268-453d-af9d-4fc0de568e21' }]" class="fil0" points="218.66,42.96 228.84,42.96 228.84,19.79 218.66,19.79 "/>
  <polygon id="13192e28-5cbd-499b-a6d7-00a46fbbe02e" @mouseover="addHoverClass('13192e28-5cbd-499b-a6d7-00a46fbbe02e')" @mouseleave="removeHoverClass('13192e28-5cbd-499b-a6d7-00a46fbbe02e')" @click="showModal('13192e28-5cbd-499b-a6d7-00a46fbbe02e')" :class="[returnClassRoom('13192e28-5cbd-499b-a6d7-00a46fbbe02e'), { 'hoverSvgClassPark': activeFloor === '13192e28-5cbd-499b-a6d7-00a46fbbe02e' }]" class="fil0" points="229.27,19.79 239.46,19.79 239.46,32.32 237.92,32.29 237.91,36.03 239.45,36.16 239.46,42.96 229.27,42.96 "/>
  <polygon id="a49be4a0-156c-4419-ad75-ed23db62123a" @mouseover="addHoverClass('a49be4a0-156c-4419-ad75-ed23db62123a')" @mouseleave="removeHoverClass('a49be4a0-156c-4419-ad75-ed23db62123a')" @click="showModal('a49be4a0-156c-4419-ad75-ed23db62123a')" :class="[returnClassRoom('a49be4a0-156c-4419-ad75-ed23db62123a'), { 'hoverSvgClassPark': activeFloor === 'a49be4a0-156c-4419-ad75-ed23db62123a' }]" class="fil0" points="245.55,42.96 255.73,42.96 255.73,19.79 245.55,19.79 "/>
  <polygon id="6c0f8460-0949-4440-9c5a-871e722d93f1" @mouseover="addHoverClass('6c0f8460-0949-4440-9c5a-871e722d93f1')" @mouseleave="removeHoverClass('6c0f8460-0949-4440-9c5a-871e722d93f1')" @click="showModal('6c0f8460-0949-4440-9c5a-871e722d93f1')" :class="[returnClassRoom('6c0f8460-0949-4440-9c5a-871e722d93f1'), { 'hoverSvgClassPark': activeFloor === '6c0f8460-0949-4440-9c5a-871e722d93f1' }]" class="fil0" points="256.26,42.96 266.44,42.96 266.44,19.79 256.26,19.79 "/>
  <polygon id="0b88a71c-1160-4493-9501-03d48e55d029" @mouseover="addHoverClass('0b88a71c-1160-4493-9501-03d48e55d029')" @mouseleave="removeHoverClass('0b88a71c-1160-4493-9501-03d48e55d029')" @click="showModal('0b88a71c-1160-4493-9501-03d48e55d029')" :class="[returnClassRoom('0b88a71c-1160-4493-9501-03d48e55d029'), { 'hoverSvgClassPark': activeFloor === '0b88a71c-1160-4493-9501-03d48e55d029' }]" class="fil0" points="266.92,42.96 277.1,42.96 277.1,19.79 266.92,19.79 "/>
  <polygon id="f5672a2e-51b7-4775-a235-ba9ddefaf5d2" @mouseover="addHoverClass('f5672a2e-51b7-4775-a235-ba9ddefaf5d2')" @mouseleave="removeHoverClass('f5672a2e-51b7-4775-a235-ba9ddefaf5d2')" @click="showModal('f5672a2e-51b7-4775-a235-ba9ddefaf5d2')" :class="[returnClassRoom('f5672a2e-51b7-4775-a235-ba9ddefaf5d2'), { 'hoverSvgClassPark': activeFloor === 'f5672a2e-51b7-4775-a235-ba9ddefaf5d2' }]" class="fil0" points="283.82,42.96 294,42.96 294,19.79 283.82,19.79 "/>
  <polygon id="b1e3cbf5-c15c-4394-955c-fa36d2cf28dd" @mouseover="addHoverClass('b1e3cbf5-c15c-4394-955c-fa36d2cf28dd')" @mouseleave="removeHoverClass('b1e3cbf5-c15c-4394-955c-fa36d2cf28dd')" @click="showModal('b1e3cbf5-c15c-4394-955c-fa36d2cf28dd')" :class="[returnClassRoom('b1e3cbf5-c15c-4394-955c-fa36d2cf28dd'), { 'hoverSvgClassPark': activeFloor === 'b1e3cbf5-c15c-4394-955c-fa36d2cf28dd' }]" class="fil0" points="294.48,42.96 304.66,42.96 304.66,19.79 294.48,19.79 "/>
  <polygon id="15007659-a320-4700-9f81-ba3c49466ed8" @mouseover="addHoverClass('15007659-a320-4700-9f81-ba3c49466ed8')" @mouseleave="removeHoverClass('15007659-a320-4700-9f81-ba3c49466ed8')" @click="showModal('15007659-a320-4700-9f81-ba3c49466ed8')" :class="[returnClassRoom('15007659-a320-4700-9f81-ba3c49466ed8'), { 'hoverSvgClassPark': activeFloor === '15007659-a320-4700-9f81-ba3c49466ed8' }]" class="fil0" points="249.21,69.09 259.39,69.09 259.39,92.29 249.21,92.06 "/>
  <polygon id="79b43269-60ee-4d27-92d9-0337f0473b3d" @mouseover="addHoverClass('79b43269-60ee-4d27-92d9-0337f0473b3d')" @mouseleave="removeHoverClass('79b43269-60ee-4d27-92d9-0337f0473b3d')" @click="showModal('79b43269-60ee-4d27-92d9-0337f0473b3d')" :class="[returnClassRoom('79b43269-60ee-4d27-92d9-0337f0473b3d'), { 'hoverSvgClassPark': activeFloor === '79b43269-60ee-4d27-92d9-0337f0473b3d' }]" class="fil0" points="260.13,69.09 270.32,69.09 270.32,92.26 265.09,92.26 260.08,92.33 260.13,89.45 "/>
  <polygon id="a9913102-e7d8-4d0a-aa2b-7eeab2e22af6" @mouseover="addHoverClass('a9913102-e7d8-4d0a-aa2b-7eeab2e22af6')" @mouseleave="removeHoverClass('a9913102-e7d8-4d0a-aa2b-7eeab2e22af6')" @click="showModal('a9913102-e7d8-4d0a-aa2b-7eeab2e22af6')" :class="[returnClassRoom('a9913102-e7d8-4d0a-aa2b-7eeab2e22af6'), { 'hoverSvgClassPark': activeFloor === 'a9913102-e7d8-4d0a-aa2b-7eeab2e22af6' }]" class="fil0" points="270.97,69.09 279.23,69.09 279.18,72.96 281.16,78.4 281.16,89.5 281.21,92.19 271.84,92.26 270.97,92.26 "/>
  <polygon id="abbd7e51-211d-4d56-be49-79961e1f7b1d" @mouseover="addHoverClass('abbd7e51-211d-4d56-be49-79961e1f7b1d')" @mouseleave="removeHoverClass('abbd7e51-211d-4d56-be49-79961e1f7b1d')" @click="showModal('abbd7e51-211d-4d56-be49-79961e1f7b1d')" :class="[returnClassRoom('abbd7e51-211d-4d56-be49-79961e1f7b1d'), { 'hoverSvgClassPark': activeFloor === 'abbd7e51-211d-4d56-be49-79961e1f7b1d' }]" class="fil0" points="142.34,92.76 152.53,92.76 152.53,69.59 142.34,69.59 "/>
  <polygon id="7a1bc41c-8039-476b-b37a-277d9fb34fa1" @mouseover="addHoverClass('7a1bc41c-8039-476b-b37a-277d9fb34fa1')" @mouseleave="removeHoverClass('7a1bc41c-8039-476b-b37a-277d9fb34fa1')" @click="showModal('7a1bc41c-8039-476b-b37a-277d9fb34fa1')" :class="[returnClassRoom('7a1bc41c-8039-476b-b37a-277d9fb34fa1'), { 'hoverSvgClassPark': activeFloor === '7a1bc41c-8039-476b-b37a-277d9fb34fa1' }]" class="fil0" points="147.68,126.05 157.86,126.05 157.86,102.88 147.68,102.88 "/>
  <polygon id="3b90dcc1-9495-4f1e-8e84-19d98956ebf7" @mouseover="addHoverClass('3b90dcc1-9495-4f1e-8e84-19d98956ebf7')" @mouseleave="removeHoverClass('3b90dcc1-9495-4f1e-8e84-19d98956ebf7')" @click="showModal('3b90dcc1-9495-4f1e-8e84-19d98956ebf7')" :class="[returnClassRoom('3b90dcc1-9495-4f1e-8e84-19d98956ebf7'), { 'hoverSvgClassPark': activeFloor === '3b90dcc1-9495-4f1e-8e84-19d98956ebf7' }]" class="fil0" points="182.48,126.05 192.66,126.05 192.66,102.88 182.48,102.88 "/>
  <polygon id="0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa" @mouseover="addHoverClass('0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa')" @mouseleave="removeHoverClass('0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa')" @click="showModal('0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa')" :class="[returnClassRoom('0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa'), { 'hoverSvgClassPark': activeFloor === '0d5fb3b1-59b2-46bc-ba49-d05cc5cd8faa' }]" class="fil0" points="249.33,126.05 259.51,126.05 259.51,102.88 249.33,102.88 "/>
  <polygon id="181564ce-bdfb-4667-b3e7-0c6bf36a9592" @mouseover="addHoverClass('181564ce-bdfb-4667-b3e7-0c6bf36a9592')" @mouseleave="removeHoverClass('181564ce-bdfb-4667-b3e7-0c6bf36a9592')" @click="showModal('181564ce-bdfb-4667-b3e7-0c6bf36a9592')" :class="[returnClassRoom('181564ce-bdfb-4667-b3e7-0c6bf36a9592'), { 'hoverSvgClassPark': activeFloor === '181564ce-bdfb-4667-b3e7-0c6bf36a9592' }]" class="fil0" points="286.21,126.05 296.39,126.05 296.39,102.88 286.21,102.88 "/>
  <polygon id="c5761f1d-59a4-4144-9d0f-8f600fa69220" @mouseover="addHoverClass('c5761f1d-59a4-4144-9d0f-8f600fa69220')" @mouseleave="removeHoverClass('c5761f1d-59a4-4144-9d0f-8f600fa69220')" @click="showModal('c5761f1d-59a4-4144-9d0f-8f600fa69220')" :class="[returnClassRoom('c5761f1d-59a4-4144-9d0f-8f600fa69220'), { 'hoverSvgClassPark': activeFloor === 'c5761f1d-59a4-4144-9d0f-8f600fa69220' }]" class="fil0" points="296.92,126.05 307.1,126.05 307.1,102.88 296.92,102.88 "/>
  <polygon id="f2951887-dfa5-4678-b1f4-e4f98b9f9515" @mouseover="addHoverClass('f2951887-dfa5-4678-b1f4-e4f98b9f9515')" @mouseleave="removeHoverClass('f2951887-dfa5-4678-b1f4-e4f98b9f9515')" @click="showModal('f2951887-dfa5-4678-b1f4-e4f98b9f9515')" :class="[returnClassRoom('f2951887-dfa5-4678-b1f4-e4f98b9f9515'), { 'hoverSvgClassPark': activeFloor === 'f2951887-dfa5-4678-b1f4-e4f98b9f9515' }]" class="fil0" points="307.63,126.05 317.81,126.05 317.81,102.88 307.63,102.88 "/>
  <polygon id="f5830bd8-03e6-4758-8cf4-960133cea570" @mouseover="addHoverClass('f5830bd8-03e6-4758-8cf4-960133cea570')" @mouseleave="removeHoverClass('f5830bd8-03e6-4758-8cf4-960133cea570')" @click="showModal('f5830bd8-03e6-4758-8cf4-960133cea570')" :class="[returnClassRoom('f5830bd8-03e6-4758-8cf4-960133cea570'), { 'hoverSvgClassPark': activeFloor === 'f5830bd8-03e6-4758-8cf4-960133cea570' }]" class="fil0" points="324.7,126.05 334.88,126.05 334.88,102.88 324.7,102.88 "/>
  <polygon id="8573392a-82af-4a89-8568-d4372ed3f7fd" @mouseover="addHoverClass('8573392a-82af-4a89-8568-d4372ed3f7fd')" @mouseleave="removeHoverClass('8573392a-82af-4a89-8568-d4372ed3f7fd')" @click="showModal('8573392a-82af-4a89-8568-d4372ed3f7fd')" :class="[returnClassRoom('8573392a-82af-4a89-8568-d4372ed3f7fd'), { 'hoverSvgClassPark': activeFloor === '8573392a-82af-4a89-8568-d4372ed3f7fd' }]" class="fil0" points="335.41,126.05 345.59,126.05 345.59,102.88 335.41,102.88 "/>
  <polygon id="f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6" @mouseover="addHoverClass('f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6')" @mouseleave="removeHoverClass('f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6')" @click="showModal('f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6')" :class="[returnClassRoom('f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6'), { 'hoverSvgClassPark': activeFloor === 'f904dfcb-0f4c-4d95-bfe2-b2e8da9585a6' }]" class="fil0" points="346.11,126.05 356.3,126.05 356.3,102.88 346.11,102.88 "/>
  <polygon id="160d2db9-c557-4690-9b9f-78c59956b12b" @mouseover="addHoverClass('160d2db9-c557-4690-9b9f-78c59956b12b')" @mouseleave="removeHoverClass('160d2db9-c557-4690-9b9f-78c59956b12b')" @click="showModal('160d2db9-c557-4690-9b9f-78c59956b12b')" :class="[returnClassRoom('160d2db9-c557-4690-9b9f-78c59956b12b'), { 'hoverSvgClassPark': activeFloor === '160d2db9-c557-4690-9b9f-78c59956b12b' }]" class="fil0" points="326.29,178.89 336.47,178.89 336.47,155.72 326.29,155.72 "/>
  <polygon id="4d05d885-3603-4070-a7df-c8bb40f5490e" @mouseover="addHoverClass('4d05d885-3603-4070-a7df-c8bb40f5490e')" @mouseleave="removeHoverClass('4d05d885-3603-4070-a7df-c8bb40f5490e')" @click="showModal('4d05d885-3603-4070-a7df-c8bb40f5490e')" :class="[returnClassRoom('4d05d885-3603-4070-a7df-c8bb40f5490e'), { 'hoverSvgClassPark': activeFloor === '4d05d885-3603-4070-a7df-c8bb40f5490e' }]" class="fil0" points="337,178.89 347.18,178.89 347.18,155.72 337,155.72 "/>
  <polygon id="2b028395-3999-4757-8d1c-d52eacc617a6" @mouseover="addHoverClass('2b028395-3999-4757-8d1c-d52eacc617a6')" @mouseleave="removeHoverClass('2b028395-3999-4757-8d1c-d52eacc617a6')" @click="showModal('2b028395-3999-4757-8d1c-d52eacc617a6')" :class="[returnClassRoom('2b028395-3999-4757-8d1c-d52eacc617a6'), { 'hoverSvgClassPark': activeFloor === '2b028395-3999-4757-8d1c-d52eacc617a6' }]" class="fil0" points="347.71,178.89 357.89,178.89 357.89,155.72 347.71,155.72 "/>
  <polygon id="41265100-4ace-4210-92ea-90ca9bc8ec0a" @mouseover="addHoverClass('41265100-4ace-4210-92ea-90ca9bc8ec0a')" @mouseleave="removeHoverClass('41265100-4ace-4210-92ea-90ca9bc8ec0a')" @click="showModal('41265100-4ace-4210-92ea-90ca9bc8ec0a')" :class="[returnClassRoom('41265100-4ace-4210-92ea-90ca9bc8ec0a'), { 'hoverSvgClassPark': activeFloor === '41265100-4ace-4210-92ea-90ca9bc8ec0a' }]" class="fil0" points="283.4,178.89 293.58,178.89 293.58,155.72 283.4,155.72 "/>
  <polygon id="2c3fea9a-e019-48ca-9e95-370beb3c7f6b" @mouseover="addHoverClass('2c3fea9a-e019-48ca-9e95-370beb3c7f6b')" @mouseleave="removeHoverClass('2c3fea9a-e019-48ca-9e95-370beb3c7f6b')" @click="showModal('2c3fea9a-e019-48ca-9e95-370beb3c7f6b')" :class="[returnClassRoom('2c3fea9a-e019-48ca-9e95-370beb3c7f6b'), { 'hoverSvgClassPark': activeFloor === '2c3fea9a-e019-48ca-9e95-370beb3c7f6b' }]" class="fil0" points="294.11,178.89 304.29,178.89 304.29,155.72 294.11,155.72 "/>
  <polygon id="afbce68e-ccca-488e-927e-7e7aeb657557" @mouseover="addHoverClass('afbce68e-ccca-488e-927e-7e7aeb657557')" @mouseleave="removeHoverClass('afbce68e-ccca-488e-927e-7e7aeb657557')" @click="showModal('afbce68e-ccca-488e-927e-7e7aeb657557')" :class="[returnClassRoom('afbce68e-ccca-488e-927e-7e7aeb657557'), { 'hoverSvgClassPark': activeFloor === 'afbce68e-ccca-488e-927e-7e7aeb657557' }]" class="fil0" points="304.82,178.89 315,178.89 315,155.72 304.82,155.72 "/>
  <polygon id="8743b49e-28a8-4ffb-a59c-9d9882e66201" @mouseover="addHoverClass('8743b49e-28a8-4ffb-a59c-9d9882e66201')" @mouseleave="removeHoverClass('8743b49e-28a8-4ffb-a59c-9d9882e66201')" @click="showModal('8743b49e-28a8-4ffb-a59c-9d9882e66201')" :class="[returnClassRoom('8743b49e-28a8-4ffb-a59c-9d9882e66201'), { 'hoverSvgClassPark': activeFloor === '8743b49e-28a8-4ffb-a59c-9d9882e66201' }]" class="fil0" points="239.34,178.89 249.52,178.89 249.52,155.72 239.34,155.72 "/>
  <polygon id="17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792" @mouseover="addHoverClass('17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792')" @mouseleave="removeHoverClass('17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792')" @click="showModal('17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792')" :class="[returnClassRoom('17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792'), { 'hoverSvgClassPark': activeFloor === '17b6f2c9-eb6a-47ec-9187-0b3ed2e7f792' }]" class="fil0" points="250.05,178.89 260.23,178.89 260.23,155.72 250.05,155.72 "/>
  <polygon id="e6e4dad0-2be1-4b5d-9f75-c13d031897b2" @mouseover="addHoverClass('e6e4dad0-2be1-4b5d-9f75-c13d031897b2')" @mouseleave="removeHoverClass('e6e4dad0-2be1-4b5d-9f75-c13d031897b2')" @click="showModal('e6e4dad0-2be1-4b5d-9f75-c13d031897b2')" :class="[returnClassRoom('e6e4dad0-2be1-4b5d-9f75-c13d031897b2'), { 'hoverSvgClassPark': activeFloor === 'e6e4dad0-2be1-4b5d-9f75-c13d031897b2' }]" class="fil0" points="260.76,178.89 270.94,178.89 270.94,155.72 260.76,155.72 "/>
  <polygon id="f3168b9f-cf2b-4915-a7dd-bd4eb25afd06" @mouseover="addHoverClass('f3168b9f-cf2b-4915-a7dd-bd4eb25afd06')" @mouseleave="removeHoverClass('f3168b9f-cf2b-4915-a7dd-bd4eb25afd06')" @click="showModal('f3168b9f-cf2b-4915-a7dd-bd4eb25afd06')" :class="[returnClassRoom('f3168b9f-cf2b-4915-a7dd-bd4eb25afd06'), { 'hoverSvgClassPark': activeFloor === 'f3168b9f-cf2b-4915-a7dd-bd4eb25afd06' }]" class="fil0" points="228.46,178.89 238.64,178.89 238.64,155.72 228.46,155.72 "/>
  <polygon id="802a738f-e81a-4165-8e99-70a039637131" @mouseover="addHoverClass('802a738f-e81a-4165-8e99-70a039637131')" @mouseleave="removeHoverClass('802a738f-e81a-4165-8e99-70a039637131')" @click="showModal('802a738f-e81a-4165-8e99-70a039637131')" :class="[returnClassRoom('802a738f-e81a-4165-8e99-70a039637131'), { 'hoverSvgClassPark': activeFloor === '802a738f-e81a-4165-8e99-70a039637131' }]" class="fil0" points="191.48,183.45 201.66,183.45 201.66,160.28 191.48,160.28 "/>
  <polygon id="510282f4-faba-4347-832e-0f9f9f9ca18a" @mouseover="addHoverClass('510282f4-faba-4347-832e-0f9f9f9ca18a')" @mouseleave="removeHoverClass('510282f4-faba-4347-832e-0f9f9f9ca18a')" @click="showModal('510282f4-faba-4347-832e-0f9f9f9ca18a')" :class="[returnClassRoom('510282f4-faba-4347-832e-0f9f9f9ca18a'), { 'hoverSvgClassPark': activeFloor === '510282f4-faba-4347-832e-0f9f9f9ca18a' }]" class="fil0" points="180.6,183.45 190.78,183.45 190.78,160.28 180.6,160.28 "/>
  <polygon id="c62b455d-893e-4c78-a8a9-2abc583c3d71" @mouseover="addHoverClass('c62b455d-893e-4c78-a8a9-2abc583c3d71')" @mouseleave="removeHoverClass('c62b455d-893e-4c78-a8a9-2abc583c3d71')" @click="showModal('c62b455d-893e-4c78-a8a9-2abc583c3d71')" :class="[returnClassRoom('c62b455d-893e-4c78-a8a9-2abc583c3d71'), { 'hoverSvgClassPark': activeFloor === 'c62b455d-893e-4c78-a8a9-2abc583c3d71' }]" class="fil0" points="151.13,183.45 161.31,183.45 161.31,160.28 151.13,160.28 "/>
  <polygon id="a98e4413-07d7-41cf-936a-d4a5483aec31" @mouseover="addHoverClass('a98e4413-07d7-41cf-936a-d4a5483aec31')" @mouseleave="removeHoverClass('a98e4413-07d7-41cf-936a-d4a5483aec31')" @click="showModal('a98e4413-07d7-41cf-936a-d4a5483aec31')" :class="[returnClassRoom('a98e4413-07d7-41cf-936a-d4a5483aec31'), { 'hoverSvgClassPark': activeFloor === 'a98e4413-07d7-41cf-936a-d4a5483aec31' }]" class="fil0" points="150.3,159.98 150.3,149.8 128.36,149.8 128.36,159.98 "/>
  <polygon id="7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840" @mouseover="addHoverClass('7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840')" @mouseleave="removeHoverClass('7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840')" @click="showModal('7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840')" :class="[returnClassRoom('7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840'), { 'hoverSvgClassPark': activeFloor === '7ae3d2d0-2c81-4cbe-bbdb-a7269a4b3840' }]" class="fil0" points="180.65,210.94 190.43,210.94 190.43,188.86 180.65,188.86 "/>
  <polygon id="b81d363b-5d29-477d-a3af-77d9e7af15d3" @mouseover="addHoverClass('b81d363b-5d29-477d-a3af-77d9e7af15d3')" @mouseleave="removeHoverClass('b81d363b-5d29-477d-a3af-77d9e7af15d3')" @click="showModal('b81d363b-5d29-477d-a3af-77d9e7af15d3')" :class="[returnClassRoom('b81d363b-5d29-477d-a3af-77d9e7af15d3'), { 'hoverSvgClassPark': activeFloor === 'b81d363b-5d29-477d-a3af-77d9e7af15d3' }]" class="fil0" points="190.83,188.86 196.42,188.86 200.61,188.86 200.61,201.63 200.61,210.94 190.83,210.94 "/>
  <polygon id="2f2569a1-b8a4-44b5-8eaf-9a43bac71f41" @mouseover="addHoverClass('2f2569a1-b8a4-44b5-8eaf-9a43bac71f41')" @mouseleave="removeHoverClass('2f2569a1-b8a4-44b5-8eaf-9a43bac71f41')" @click="showModal('2f2569a1-b8a4-44b5-8eaf-9a43bac71f41')" :class="[returnClassRoom('2f2569a1-b8a4-44b5-8eaf-9a43bac71f41'), { 'hoverSvgClassPark': activeFloor === '2f2569a1-b8a4-44b5-8eaf-9a43bac71f41' }]" class="fil0" points="193.31,267.57 203.49,267.57 203.49,244.4 193.31,244.4 "/>
  <polygon id="9201debc-6210-4902-bc6e-618b65061f85" @mouseover="addHoverClass('9201debc-6210-4902-bc6e-618b65061f85')" @mouseleave="removeHoverClass('9201debc-6210-4902-bc6e-618b65061f85')" @click="showModal('9201debc-6210-4902-bc6e-618b65061f85')" :class="[returnClassRoom('9201debc-6210-4902-bc6e-618b65061f85'), { 'hoverSvgClassPark': activeFloor === '9201debc-6210-4902-bc6e-618b65061f85' }]" class="fil0" points="182.43,267.57 192.61,267.57 192.61,244.4 182.43,244.4 "/>
  <polygon id="849dce40-7427-458c-a5de-e41f09f657cb" @mouseover="addHoverClass('849dce40-7427-458c-a5de-e41f09f657cb')" @mouseleave="removeHoverClass('849dce40-7427-458c-a5de-e41f09f657cb')" @click="showModal('849dce40-7427-458c-a5de-e41f09f657cb')" :class="[returnClassRoom('849dce40-7427-458c-a5de-e41f09f657cb'), { 'hoverSvgClassPark': activeFloor === '849dce40-7427-458c-a5de-e41f09f657cb' }]" class="fil0" points="148.52,232.76 148.52,222.57 123.7,222.57 123.7,232.76 "/>
  <polygon id="3e33ed07-1efd-44a3-88b1-d17e1eb19ee6" @mouseover="addHoverClass('3e33ed07-1efd-44a3-88b1-d17e1eb19ee6')" @mouseleave="removeHoverClass('3e33ed07-1efd-44a3-88b1-d17e1eb19ee6')" @click="showModal('3e33ed07-1efd-44a3-88b1-d17e1eb19ee6')" :class="[returnClassRoom('3e33ed07-1efd-44a3-88b1-d17e1eb19ee6'), { 'hoverSvgClassPark': activeFloor === '3e33ed07-1efd-44a3-88b1-d17e1eb19ee6' }]" class="fil0" points="151.38,267.61 161.56,267.61 161.56,244.44 151.38,244.44 "/>
  <polygon id="cdbc44ff-871f-4f16-82c1-bdd11ab9a34b" @mouseover="addHoverClass('cdbc44ff-871f-4f16-82c1-bdd11ab9a34b')" @mouseleave="removeHoverClass('cdbc44ff-871f-4f16-82c1-bdd11ab9a34b')" @click="showModal('cdbc44ff-871f-4f16-82c1-bdd11ab9a34b')" :class="[returnClassRoom('cdbc44ff-871f-4f16-82c1-bdd11ab9a34b'), { 'hoverSvgClassPark': activeFloor === 'cdbc44ff-871f-4f16-82c1-bdd11ab9a34b' }]" class="fil0" points="325.38,92.93 335.56,92.93 335.56,69.76 325.38,69.76 "/>
  <polygon id="d9230730-3add-4de7-9839-e6fa5ce19646" @mouseover="addHoverClass('d9230730-3add-4de7-9839-e6fa5ce19646')" @mouseleave="removeHoverClass('d9230730-3add-4de7-9839-e6fa5ce19646')" @click="showModal('d9230730-3add-4de7-9839-e6fa5ce19646')" :class="[returnClassRoom('d9230730-3add-4de7-9839-e6fa5ce19646'), { 'hoverSvgClassPark': activeFloor === 'd9230730-3add-4de7-9839-e6fa5ce19646' }]" class="fil0" points="367.42,43.23 377.6,43.23 377.6,20.06 367.42,20.06 "/>
  <polygon id="fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1" @mouseover="addHoverClass('fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1')" @mouseleave="removeHoverClass('fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1')" @click="showModal('fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1')" :class="[returnClassRoom('fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1'), { 'hoverSvgClassPark': activeFloor === 'fdff0f1d-3542-42bb-aa87-75a7b1b9f5f1' }]" class="fil0" points="378.13,43.23 388.31,43.23 388.31,20.06 378.13,20.06 "/>
  <polygon id="f56dda43-657f-4614-9bbc-b1efc2d63094" @mouseover="addHoverClass('f56dda43-657f-4614-9bbc-b1efc2d63094')" @mouseleave="removeHoverClass('f56dda43-657f-4614-9bbc-b1efc2d63094')" @click="showModal('f56dda43-657f-4614-9bbc-b1efc2d63094')" :class="[returnClassRoom('f56dda43-657f-4614-9bbc-b1efc2d63094'), { 'hoverSvgClassPark': activeFloor === 'f56dda43-657f-4614-9bbc-b1efc2d63094' }]" class="fil0" points="388.83,43.23 399.01,43.23 399.01,20.06 388.83,20.06 "/>
  <polygon id="f1512d32-dfaa-4837-82e0-f3e920f8dfe9" @mouseover="addHoverClass('f1512d32-dfaa-4837-82e0-f3e920f8dfe9')" @mouseleave="removeHoverClass('f1512d32-dfaa-4837-82e0-f3e920f8dfe9')" @click="showModal('f1512d32-dfaa-4837-82e0-f3e920f8dfe9')" :class="[returnClassRoom('f1512d32-dfaa-4837-82e0-f3e920f8dfe9'), { 'hoverSvgClassPark': activeFloor === 'f1512d32-dfaa-4837-82e0-f3e920f8dfe9' }]" class="fil0" points="415.34,43.23 425.52,43.23 425.52,20.06 415.34,20.06 "/>
  <polygon id="17e1fc7f-d518-4dd7-9205-44d2045f8c5d" @mouseover="addHoverClass('17e1fc7f-d518-4dd7-9205-44d2045f8c5d')" @mouseleave="removeHoverClass('17e1fc7f-d518-4dd7-9205-44d2045f8c5d')" @click="showModal('17e1fc7f-d518-4dd7-9205-44d2045f8c5d')" :class="[returnClassRoom('17e1fc7f-d518-4dd7-9205-44d2045f8c5d'), { 'hoverSvgClassPark': activeFloor === '17e1fc7f-d518-4dd7-9205-44d2045f8c5d' }]" class="fil0" points="443.74,42.83 453.92,42.83 453.92,19.66 443.74,19.66 "/>
  <polygon id="1b178ee7-79ae-4f25-8824-65072118cf22" @mouseover="addHoverClass('1b178ee7-79ae-4f25-8824-65072118cf22')" @mouseleave="removeHoverClass('1b178ee7-79ae-4f25-8824-65072118cf22')" @click="showModal('1b178ee7-79ae-4f25-8824-65072118cf22')" :class="[returnClassRoom('1b178ee7-79ae-4f25-8824-65072118cf22'), { 'hoverSvgClassPark': activeFloor === '1b178ee7-79ae-4f25-8824-65072118cf22' }]" class="fil0" points="454.45,42.83 464.63,42.83 464.63,19.66 454.45,19.66 "/>
  <polygon id="a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc" @mouseover="addHoverClass('a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc')" @mouseleave="removeHoverClass('a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc')" @click="showModal('a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc')" :class="[returnClassRoom('a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc'), { 'hoverSvgClassPark': activeFloor === 'a28ccdc1-f6c7-4f50-ba8c-d9c6597581bc' }]" class="fil0" points="480.91,42.83 491.09,42.83 491.09,19.66 480.91,19.66 "/>
  <polygon id="72b43960-3f0f-42c3-a396-aec0e20d09a5" @mouseover="addHoverClass('72b43960-3f0f-42c3-a396-aec0e20d09a5')" @mouseleave="removeHoverClass('72b43960-3f0f-42c3-a396-aec0e20d09a5')" @click="showModal('72b43960-3f0f-42c3-a396-aec0e20d09a5')" :class="[returnClassRoom('72b43960-3f0f-42c3-a396-aec0e20d09a5'), { 'hoverSvgClassPark': activeFloor === '72b43960-3f0f-42c3-a396-aec0e20d09a5' }]" class="fil0" points="491.61,42.83 501.79,42.83 501.79,19.66 491.61,19.66 "/>
  <polygon id="a0297f84-202d-4278-a040-412780530f5a" @mouseover="addHoverClass('a0297f84-202d-4278-a040-412780530f5a')" @mouseleave="removeHoverClass('a0297f84-202d-4278-a040-412780530f5a')" @click="showModal('a0297f84-202d-4278-a040-412780530f5a')" :class="[returnClassRoom('a0297f84-202d-4278-a040-412780530f5a'), { 'hoverSvgClassPark': activeFloor === 'a0297f84-202d-4278-a040-412780530f5a' }]" class="fil0" points="519.92,43.23 530.1,43.23 530.1,20.06 519.92,20.06 "/>
  <polygon id="f6853758-ee3e-4f82-8fda-c799ae692264" @mouseover="addHoverClass('f6853758-ee3e-4f82-8fda-c799ae692264')" @mouseleave="removeHoverClass('f6853758-ee3e-4f82-8fda-c799ae692264')" @click="showModal('f6853758-ee3e-4f82-8fda-c799ae692264')" :class="[returnClassRoom('f6853758-ee3e-4f82-8fda-c799ae692264'), { 'hoverSvgClassPark': activeFloor === 'f6853758-ee3e-4f82-8fda-c799ae692264' }]" class="fil0" points="530.63,43.23 540.81,43.23 540.81,20.06 530.63,20.06 "/>
  <polygon id="9f03af83-ec82-425a-a9ef-f35d60656e58" @mouseover="addHoverClass('9f03af83-ec82-425a-a9ef-f35d60656e58')" @mouseleave="removeHoverClass('9f03af83-ec82-425a-a9ef-f35d60656e58')" @click="showModal('9f03af83-ec82-425a-a9ef-f35d60656e58')" :class="[returnClassRoom('9f03af83-ec82-425a-a9ef-f35d60656e58'), { 'hoverSvgClassPark': activeFloor === '9f03af83-ec82-425a-a9ef-f35d60656e58' }]" class="fil0" points="547.16,69.68 569.98,69.68 569.98,48.79 547.16,48.79 "/>
  <polygon id="286c81a1-f493-4eba-95c5-2be063f5a37d" @mouseover="addHoverClass('286c81a1-f493-4eba-95c5-2be063f5a37d')" @mouseleave="removeHoverClass('286c81a1-f493-4eba-95c5-2be063f5a37d')" @click="showModal('286c81a1-f493-4eba-95c5-2be063f5a37d')" :class="[returnClassRoom('286c81a1-f493-4eba-95c5-2be063f5a37d'), { 'hoverSvgClassPark': activeFloor === '286c81a1-f493-4eba-95c5-2be063f5a37d' }]" class="fil0" points="523.71,92.44 533.89,92.44 533.89,69.27 523.71,69.27 "/>
  <polygon id="c8279d66-fb69-42d3-8141-b4b13125d15f" @mouseover="addHoverClass('c8279d66-fb69-42d3-8141-b4b13125d15f')" @mouseleave="removeHoverClass('c8279d66-fb69-42d3-8141-b4b13125d15f')" @click="showModal('c8279d66-fb69-42d3-8141-b4b13125d15f')" :class="[returnClassRoom('c8279d66-fb69-42d3-8141-b4b13125d15f'), { 'hoverSvgClassPark': activeFloor === 'c8279d66-fb69-42d3-8141-b4b13125d15f' }]" class="fil0" points="534.42,92.44 544.6,92.44 544.6,69.27 534.42,69.27 "/>
  <polygon id="3523dae6-3979-4124-a2c4-a7537ff3f8bc" @mouseover="addHoverClass('3523dae6-3979-4124-a2c4-a7537ff3f8bc')" @mouseleave="removeHoverClass('3523dae6-3979-4124-a2c4-a7537ff3f8bc')" @click="showModal('3523dae6-3979-4124-a2c4-a7537ff3f8bc')" :class="[returnClassRoom('3523dae6-3979-4124-a2c4-a7537ff3f8bc'), { 'hoverSvgClassPark': activeFloor === '3523dae6-3979-4124-a2c4-a7537ff3f8bc' }]" class="fil0" points="522.61,126.17 532.79,126.17 532.79,103 522.61,103 "/>
  <polygon id="4aab861b-0916-41f9-b6e3-dcf7265b00e7" @mouseover="addHoverClass('4aab861b-0916-41f9-b6e3-dcf7265b00e7')" @mouseleave="removeHoverClass('4aab861b-0916-41f9-b6e3-dcf7265b00e7')" @click="showModal('4aab861b-0916-41f9-b6e3-dcf7265b00e7')" :class="[returnClassRoom('4aab861b-0916-41f9-b6e3-dcf7265b00e7'), { 'hoverSvgClassPark': activeFloor === '4aab861b-0916-41f9-b6e3-dcf7265b00e7' }]" class="fil0" points="533.32,126.17 543.5,126.17 543.5,103 533.32,103 "/>
  <polygon id="7544d96b-b330-46de-a105-9ff023c1a93b" @mouseover="addHoverClass('7544d96b-b330-46de-a105-9ff023c1a93b')" @mouseleave="removeHoverClass('7544d96b-b330-46de-a105-9ff023c1a93b')" @click="showModal('7544d96b-b330-46de-a105-9ff023c1a93b')" :class="[returnClassRoom('7544d96b-b330-46de-a105-9ff023c1a93b'), { 'hoverSvgClassPark': activeFloor === '7544d96b-b330-46de-a105-9ff023c1a93b' }]" class="fil0" points="482.13,92.44 492.31,92.44 492.31,69.27 482.13,69.27 "/>
  <polygon id="6a8e6486-c9c2-441c-b907-4c28b7676995" @mouseover="addHoverClass('6a8e6486-c9c2-441c-b907-4c28b7676995')" @mouseleave="removeHoverClass('6a8e6486-c9c2-441c-b907-4c28b7676995')" @click="showModal('6a8e6486-c9c2-441c-b907-4c28b7676995')" :class="[returnClassRoom('6a8e6486-c9c2-441c-b907-4c28b7676995'), { 'hoverSvgClassPark': activeFloor === '6a8e6486-c9c2-441c-b907-4c28b7676995' }]" class="fil0" points="481.05,125.82 491.24,125.82 491.24,102.65 481.05,102.65 "/>
  <polygon id="898513ac-2b83-4e25-a67e-47d4bb6930ec" @mouseover="addHoverClass('898513ac-2b83-4e25-a67e-47d4bb6930ec')" @mouseleave="removeHoverClass('898513ac-2b83-4e25-a67e-47d4bb6930ec')" @click="showModal('898513ac-2b83-4e25-a67e-47d4bb6930ec')" :class="[returnClassRoom('898513ac-2b83-4e25-a67e-47d4bb6930ec'), { 'hoverSvgClassPark': activeFloor === '898513ac-2b83-4e25-a67e-47d4bb6930ec' }]" class="fil0" points="448.99,125.96 459.17,125.96 459.17,102.78 448.99,102.78 "/>
  <polygon id="e3bb1578-6448-4798-9410-6d7e5708cf22" @mouseover="addHoverClass('e3bb1578-6448-4798-9410-6d7e5708cf22')" @mouseleave="removeHoverClass('e3bb1578-6448-4798-9410-6d7e5708cf22')" @click="showModal('e3bb1578-6448-4798-9410-6d7e5708cf22')" :class="[returnClassRoom('e3bb1578-6448-4798-9410-6d7e5708cf22'), { 'hoverSvgClassPark': activeFloor === 'e3bb1578-6448-4798-9410-6d7e5708cf22' }]" class="fil0" points="438.41,125.96 448.59,125.96 448.59,102.78 438.41,102.78 "/>
  <polygon id="9db307f1-fda8-476c-b7ec-d12f63dfbe2e" @mouseover="addHoverClass('9db307f1-fda8-476c-b7ec-d12f63dfbe2e')" @mouseleave="removeHoverClass('9db307f1-fda8-476c-b7ec-d12f63dfbe2e')" @click="showModal('9db307f1-fda8-476c-b7ec-d12f63dfbe2e')" :class="[returnClassRoom('9db307f1-fda8-476c-b7ec-d12f63dfbe2e'), { 'hoverSvgClassPark': activeFloor === '9db307f1-fda8-476c-b7ec-d12f63dfbe2e' }]" class="fil0" points="437.73,183.11 447.43,183.11 447.43,159.94 437.73,159.94 "/>
  <polygon id="22ebad5d-159e-41d7-ab54-f349c53eea42" @mouseover="addHoverClass('22ebad5d-159e-41d7-ab54-f349c53eea42')" @mouseleave="removeHoverClass('22ebad5d-159e-41d7-ab54-f349c53eea42')" @click="showModal('22ebad5d-159e-41d7-ab54-f349c53eea42')" :class="[returnClassRoom('22ebad5d-159e-41d7-ab54-f349c53eea42'), { 'hoverSvgClassPark': activeFloor === '22ebad5d-159e-41d7-ab54-f349c53eea42' }]" class="fil0" points="448.22,183.11 457.92,183.11 457.92,159.94 448.22,159.94 "/>
  <polygon id="34e9060f-e8e9-46eb-bac3-16b7edfec751" @mouseover="addHoverClass('34e9060f-e8e9-46eb-bac3-16b7edfec751')" @mouseleave="removeHoverClass('34e9060f-e8e9-46eb-bac3-16b7edfec751')" @click="showModal('34e9060f-e8e9-46eb-bac3-16b7edfec751')" :class="[returnClassRoom('34e9060f-e8e9-46eb-bac3-16b7edfec751'), { 'hoverSvgClassPark': activeFloor === '34e9060f-e8e9-46eb-bac3-16b7edfec751' }]" class="fil0" points="437.73,211.06 447.43,211.06 447.43,187.89 437.73,187.89 "/>
  <polygon id="8a13a21e-3581-44cf-aeb7-75cecb5c7f5b" @mouseover="addHoverClass('8a13a21e-3581-44cf-aeb7-75cecb5c7f5b')" @mouseleave="removeHoverClass('8a13a21e-3581-44cf-aeb7-75cecb5c7f5b')" @click="showModal('8a13a21e-3581-44cf-aeb7-75cecb5c7f5b')" :class="[returnClassRoom('8a13a21e-3581-44cf-aeb7-75cecb5c7f5b'), { 'hoverSvgClassPark': activeFloor === '8a13a21e-3581-44cf-aeb7-75cecb5c7f5b' }]" class="fil0" points="448.22,211.06 457.92,211.06 457.92,187.89 448.22,187.89 "/>
  <polygon id="fcdceebd-fefd-499b-a78a-6aeab642c6db" @mouseover="addHoverClass('fcdceebd-fefd-499b-a78a-6aeab642c6db')" @mouseleave="removeHoverClass('fcdceebd-fefd-499b-a78a-6aeab642c6db')" @click="showModal('fcdceebd-fefd-499b-a78a-6aeab642c6db')" :class="[returnClassRoom('fcdceebd-fefd-499b-a78a-6aeab642c6db'), { 'hoverSvgClassPark': activeFloor === 'fcdceebd-fefd-499b-a78a-6aeab642c6db' }]" class="fil0" points="519.08,208.43 528.78,208.43 528.78,159.67 519.08,159.67 "/>
  <polygon id="4269a2e3-b59a-4924-99fa-cbfe9bd43987" @mouseover="addHoverClass('4269a2e3-b59a-4924-99fa-cbfe9bd43987')" @mouseleave="removeHoverClass('4269a2e3-b59a-4924-99fa-cbfe9bd43987')" @click="showModal('4269a2e3-b59a-4924-99fa-cbfe9bd43987')" :class="[returnClassRoom('4269a2e3-b59a-4924-99fa-cbfe9bd43987'), { 'hoverSvgClassPark': activeFloor === '4269a2e3-b59a-4924-99fa-cbfe9bd43987' }]" class="fil0" points="529.57,208.43 539.26,208.43 539.26,159.67 529.57,159.67 "/>
  <polygon id="2b4daa90-f825-473b-945b-23db8f4ef897" @mouseover="addHoverClass('2b4daa90-f825-473b-945b-23db8f4ef897')" @mouseleave="removeHoverClass('2b4daa90-f825-473b-945b-23db8f4ef897')" @click="showModal('2b4daa90-f825-473b-945b-23db8f4ef897')" :class="[returnClassRoom('2b4daa90-f825-473b-945b-23db8f4ef897'), { 'hoverSvgClassPark': activeFloor === '2b4daa90-f825-473b-945b-23db8f4ef897' }]" class="fil0" points="562.68,210.42 572.38,210.42 572.38,187.25 562.68,187.25 "/>
  <polygon id="9cf18482-09f8-4404-8f7c-0f68fd010379" @mouseover="addHoverClass('9cf18482-09f8-4404-8f7c-0f68fd010379')" @mouseleave="removeHoverClass('9cf18482-09f8-4404-8f7c-0f68fd010379')" @click="showModal('9cf18482-09f8-4404-8f7c-0f68fd010379')" :class="[returnClassRoom('9cf18482-09f8-4404-8f7c-0f68fd010379'), { 'hoverSvgClassPark': activeFloor === '9cf18482-09f8-4404-8f7c-0f68fd010379' }]" class="fil0" points="559.91,266.39 569.61,266.39 569.61,243.22 559.91,243.22 "/>
  <polygon id="7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43" @mouseover="addHoverClass('7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43')" @mouseleave="removeHoverClass('7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43')" @click="showModal('7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43')" :class="[returnClassRoom('7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43'), { 'hoverSvgClassPark': activeFloor === '7bbf6fd4-7bd5-4b5e-aec5-094c2380dc43' }]" class="fil0" points="523.32,266.39 533.02,266.39 533.02,243.22 523.32,243.22 "/>
  <polygon id="6682239c-ac69-41a3-8e4d-4c4bbc7f22fa" @mouseover="addHoverClass('6682239c-ac69-41a3-8e4d-4c4bbc7f22fa')" @mouseleave="removeHoverClass('6682239c-ac69-41a3-8e4d-4c4bbc7f22fa')" @click="showModal('6682239c-ac69-41a3-8e4d-4c4bbc7f22fa')" :class="[returnClassRoom('6682239c-ac69-41a3-8e4d-4c4bbc7f22fa'), { 'hoverSvgClassPark': activeFloor === '6682239c-ac69-41a3-8e4d-4c4bbc7f22fa' }]" class="fil0" points="512.52,266.39 522.21,266.39 522.21,243.22 512.52,243.22 "/>
  <polygon id="77519655-2e77-403d-8682-033b564f34bd" @mouseover="addHoverClass('77519655-2e77-403d-8682-033b564f34bd')" @mouseleave="removeHoverClass('77519655-2e77-403d-8682-033b564f34bd')" @click="showModal('77519655-2e77-403d-8682-033b564f34bd')" :class="[returnClassRoom('77519655-2e77-403d-8682-033b564f34bd'), { 'hoverSvgClassPark': activeFloor === '77519655-2e77-403d-8682-033b564f34bd' }]" class="fil0" points="476.66,266.39 486.36,266.39 486.36,243.22 476.66,243.22 "/>
  <polygon id="ccfa7c5d-37a1-4734-a313-7468ae23fc17" @mouseover="addHoverClass('ccfa7c5d-37a1-4734-a313-7468ae23fc17')" @mouseleave="removeHoverClass('ccfa7c5d-37a1-4734-a313-7468ae23fc17')" @click="showModal('ccfa7c5d-37a1-4734-a313-7468ae23fc17')" :class="[returnClassRoom('ccfa7c5d-37a1-4734-a313-7468ae23fc17'), { 'hoverSvgClassPark': activeFloor === 'ccfa7c5d-37a1-4734-a313-7468ae23fc17' }]" class="fil0" points="445.77,266.39 455.47,266.39 455.47,243.22 445.77,243.22 "/>
  <polygon id="fbc708fd-e128-4b6d-a4db-53dbcbe161fe" @mouseover="addHoverClass('fbc708fd-e128-4b6d-a4db-53dbcbe161fe')" @mouseleave="removeHoverClass('fbc708fd-e128-4b6d-a4db-53dbcbe161fe')" @click="showModal('fbc708fd-e128-4b6d-a4db-53dbcbe161fe')" :class="[returnClassRoom('fbc708fd-e128-4b6d-a4db-53dbcbe161fe'), { 'hoverSvgClassPark': activeFloor === 'fbc708fd-e128-4b6d-a4db-53dbcbe161fe' }]" class="fil0" points="435.41,266.39 445.11,266.39 445.11,243.22 435.41,243.22 "/>
  <polygon id="c237833d-acb1-402f-8622-2e9fecffca2c" @mouseover="addHoverClass('c237833d-acb1-402f-8622-2e9fecffca2c')" @mouseleave="removeHoverClass('c237833d-acb1-402f-8622-2e9fecffca2c')" @click="showModal('c237833d-acb1-402f-8622-2e9fecffca2c')" :class="[returnClassRoom('c237833d-acb1-402f-8622-2e9fecffca2c'), { 'hoverSvgClassPark': activeFloor === 'c237833d-acb1-402f-8622-2e9fecffca2c' }]" class="fil0" points="412.85,242.02 412.85,232.32 393.01,232.32 393.01,242.02 "/>
  <polygon id="95b434ba-33d8-417a-a0a2-9fa932d5a4a6" @mouseover="addHoverClass('95b434ba-33d8-417a-a0a2-9fa932d5a4a6')" @mouseleave="removeHoverClass('95b434ba-33d8-417a-a0a2-9fa932d5a4a6')" @click="showModal('95b434ba-33d8-417a-a0a2-9fa932d5a4a6')" :class="[returnClassRoom('95b434ba-33d8-417a-a0a2-9fa932d5a4a6'), { 'hoverSvgClassPark': activeFloor === '95b434ba-33d8-417a-a0a2-9fa932d5a4a6' }]" class="fil0" points="412.85,231.49 412.85,224.06 393.01,224.06 393.01,231.49 "/>
  <polygon id="7762a992-0e52-4bb7-954d-31886a7b1408" @mouseover="addHoverClass('7762a992-0e52-4bb7-954d-31886a7b1408')" @mouseleave="removeHoverClass('7762a992-0e52-4bb7-954d-31886a7b1408')" @click="showModal('7762a992-0e52-4bb7-954d-31886a7b1408')" :class="[returnClassRoom('7762a992-0e52-4bb7-954d-31886a7b1408'), { 'hoverSvgClassPark': activeFloor === '7762a992-0e52-4bb7-954d-31886a7b1408' }]" class="fil0" points="350.13,43.23 360.31,43.23 360.31,20.06 350.13,20.06 "/>
  <polygon id="bdd065d7-3a54-4ba4-982c-1625b11b1073" @mouseover="addHoverClass('bdd065d7-3a54-4ba4-982c-1625b11b1073')" @mouseleave="removeHoverClass('bdd065d7-3a54-4ba4-982c-1625b11b1073')" @click="showModal('bdd065d7-3a54-4ba4-982c-1625b11b1073')" :class="[returnClassRoom('bdd065d7-3a54-4ba4-982c-1625b11b1073'), { 'hoverSvgClassPark': activeFloor === 'bdd065d7-3a54-4ba4-982c-1625b11b1073' }]" class="fil0" points="404.72,20.06 414.9,20.06 414.9,43.23 404.72,43.23 404.72,39.81 407.92,36.04 407.93,32.3 404.72,32.31 "/>
  <polygon id="6409c0eb-b712-4f1b-8688-cfc0b8c13a91" @mouseover="addHoverClass('6409c0eb-b712-4f1b-8688-cfc0b8c13a91')" @mouseleave="removeHoverClass('6409c0eb-b712-4f1b-8688-cfc0b8c13a91')" @click="showModal('6409c0eb-b712-4f1b-8688-cfc0b8c13a91')" :class="[returnClassRoom('6409c0eb-b712-4f1b-8688-cfc0b8c13a91'), { 'hoverSvgClassPark': activeFloor === '6409c0eb-b712-4f1b-8688-cfc0b8c13a91' }]" class="fil0" points="433.03,19.66 443.21,19.66 443.21,42.83 433.03,42.83 433.03,39.41 436.24,35.64 436.25,31.9 433.03,31.91 "/>
  <polygon id="7b9104ef-368a-4b45-babe-6b7f3bab1fc2" @mouseover="addHoverClass('7b9104ef-368a-4b45-babe-6b7f3bab1fc2')" @mouseleave="removeHoverClass('7b9104ef-368a-4b45-babe-6b7f3bab1fc2')" @click="showModal('7b9104ef-368a-4b45-babe-6b7f3bab1fc2')" :class="[returnClassRoom('7b9104ef-368a-4b45-babe-6b7f3bab1fc2'), { 'hoverSvgClassPark': activeFloor === '7b9104ef-368a-4b45-babe-6b7f3bab1fc2' }]" class="fil0" points="470.2,19.66 480.38,19.66 480.38,42.83 470.2,42.83 470.2,40.03 476.52,35.33 476.53,31.98 473.41,31.9 470.2,34.37 "/>
  <polygon id="18a95f36-5bf7-4a7c-b324-fb5404bd1b01" @mouseover="addHoverClass('18a95f36-5bf7-4a7c-b324-fb5404bd1b01')" @mouseleave="removeHoverClass('18a95f36-5bf7-4a7c-b324-fb5404bd1b01')" @click="showModal('18a95f36-5bf7-4a7c-b324-fb5404bd1b01')" :class="[returnClassRoom('18a95f36-5bf7-4a7c-b324-fb5404bd1b01'), { 'hoverSvgClassPark': activeFloor === '18a95f36-5bf7-4a7c-b324-fb5404bd1b01' }]" class="fil0" points="508.91,20.06 519.09,20.06 519.09,43.23 508.91,43.23 508.91,41.28 518.34,35.84 518.33,32.18 514.61,32.19 514.24,32.78 508.84,35.55 "/>
  <polygon id="6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4" @mouseover="addHoverClass('6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4')" @mouseleave="removeHoverClass('6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4')" @click="showModal('6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4')" :class="[returnClassRoom('6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4'), { 'hoverSvgClassPark': activeFloor === '6a2eadbc-e2b8-47a9-b1c0-b848f2b89cf4' }]" class="fil0" points="152.96,69.59 163.14,69.59 163.14,89.69 163.1,92.76 162.58,92.76 152.96,92.76 "/>
  <polygon id="c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd" @mouseover="addHoverClass('c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd')" @mouseleave="removeHoverClass('c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd')" @click="showModal('c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd')" :class="[returnClassRoom('c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd'), { 'hoverSvgClassPark': activeFloor === 'c5ce0fdb-63d2-4b8d-ab75-b07890c0b2dd' }]" class="fil0" points="163.85,69.59 169.98,69.59 170.08,73.67 174.03,76.03 174.03,92.56 163.85,92.56 "/>
  <polygon id="8f9102a5-a8c7-4e71-81e1-05cc59a1564f" @mouseover="addHoverClass('8f9102a5-a8c7-4e71-81e1-05cc59a1564f')" @mouseleave="removeHoverClass('8f9102a5-a8c7-4e71-81e1-05cc59a1564f')" @click="showModal('8f9102a5-a8c7-4e71-81e1-05cc59a1564f')" :class="[returnClassRoom('8f9102a5-a8c7-4e71-81e1-05cc59a1564f'), { 'hoverSvgClassPark': activeFloor === '8f9102a5-a8c7-4e71-81e1-05cc59a1564f' }]" class="fil0" points="180.08,92.84 190.26,92.84 190.26,69.31 180.08,69.31 "/>
  <polygon id="b50ef0af-a35f-4174-a992-b58b78d2ec28" @mouseover="addHoverClass('b50ef0af-a35f-4174-a992-b58b78d2ec28')" @mouseleave="removeHoverClass('b50ef0af-a35f-4174-a992-b58b78d2ec28')" @click="showModal('b50ef0af-a35f-4174-a992-b58b78d2ec28')" :class="[returnClassRoom('b50ef0af-a35f-4174-a992-b58b78d2ec28'), { 'hoverSvgClassPark': activeFloor === 'b50ef0af-a35f-4174-a992-b58b78d2ec28' }]" class="fil0" points="190.87,69.31 197.95,69.31 198.03,73.49 201.09,76.51 201.09,92.76 190.83,92.78 "/>
  <polygon id="75fbff78-4348-493a-b595-4284f04fe5e7" @mouseover="addHoverClass('75fbff78-4348-493a-b595-4284f04fe5e7')" @mouseleave="removeHoverClass('75fbff78-4348-493a-b595-4284f04fe5e7')" @click="showModal('75fbff78-4348-493a-b595-4284f04fe5e7')" :class="[returnClassRoom('75fbff78-4348-493a-b595-4284f04fe5e7'), { 'hoverSvgClassPark': activeFloor === '75fbff78-4348-493a-b595-4284f04fe5e7' }]" class="fil0" points="193.14,126.05 203.32,126.05 203.32,102.88 193.14,102.88 "/>
  <polygon id="0214c227-869e-428b-937c-418012827d60" @mouseover="addHoverClass('0214c227-869e-428b-937c-418012827d60')" @mouseleave="removeHoverClass('0214c227-869e-428b-937c-418012827d60')" @click="showModal('0214c227-869e-428b-937c-418012827d60')" :class="[returnClassRoom('0214c227-869e-428b-937c-418012827d60'), { 'hoverSvgClassPark': activeFloor === '0214c227-869e-428b-937c-418012827d60' }]" class="fil0" points="203.76,102.88 210.7,102.88 210.6,116.14 213.94,116.24 213.94,126.06 203.76,126.06 "/>
  <polygon id="b1c74cd1-3ede-4d6c-840a-355f3f05f836" @mouseover="addHoverClass('b1c74cd1-3ede-4d6c-840a-355f3f05f836')" @mouseleave="removeHoverClass('b1c74cd1-3ede-4d6c-840a-355f3f05f836')" @click="showModal('b1c74cd1-3ede-4d6c-840a-355f3f05f836')" :class="[returnClassRoom('b1c74cd1-3ede-4d6c-840a-355f3f05f836'), { 'hoverSvgClassPark': activeFloor === 'b1c74cd1-3ede-4d6c-840a-355f3f05f836' }]" class="fil0" points="158.38,102.88 162.75,102.88 162.65,116.14 168.56,116.24 168.56,126.06 158.38,126.06 "/>
  <polygon id="e0a0e029-556d-4e26-a18f-f6a1a85a6883" @mouseover="addHoverClass('e0a0e029-556d-4e26-a18f-f6a1a85a6883')" @mouseleave="removeHoverClass('e0a0e029-556d-4e26-a18f-f6a1a85a6883')" @click="showModal('e0a0e029-556d-4e26-a18f-f6a1a85a6883')" :class="[returnClassRoom('e0a0e029-556d-4e26-a18f-f6a1a85a6883'), { 'hoverSvgClassPark': activeFloor === 'e0a0e029-556d-4e26-a18f-f6a1a85a6883' }]" class="fil0" points="125.51,102.48 135.69,102.48 135.69,114.93 130.79,114.92 130.69,121.21 131.53,121.22 135.69,122.32 135.69,125.65 125.51,125.65 "/>
  <polygon id="b9448669-ff38-4b1f-a2d1-0a71d63faa00" @mouseover="addHoverClass('b9448669-ff38-4b1f-a2d1-0a71d63faa00')" @mouseleave="removeHoverClass('b9448669-ff38-4b1f-a2d1-0a71d63faa00')" @click="showModal('b9448669-ff38-4b1f-a2d1-0a71d63faa00')" :class="[returnClassRoom('b9448669-ff38-4b1f-a2d1-0a71d63faa00'), { 'hoverSvgClassPark': activeFloor === 'b9448669-ff38-4b1f-a2d1-0a71d63faa00' }]" class="fil0" points="211.34,69.49 221.52,69.49 221.52,92.24 211.34,92.48 "/>
  <polygon id="645b0a15-93ea-4222-87db-49bf26842faf" @mouseover="addHoverClass('645b0a15-93ea-4222-87db-49bf26842faf')" @mouseleave="removeHoverClass('645b0a15-93ea-4222-87db-49bf26842faf')" @click="showModal('645b0a15-93ea-4222-87db-49bf26842faf')" :class="[returnClassRoom('645b0a15-93ea-4222-87db-49bf26842faf'), { 'hoverSvgClassPark': activeFloor === '645b0a15-93ea-4222-87db-49bf26842faf' }]" class="fil0" points="222.04,69.49 232.22,69.49 232.22,92.66 222.04,92.39 "/>
  <polygon id="b541ba11-6fad-410b-aa47-57243f05c01f" @mouseover="addHoverClass('b541ba11-6fad-410b-aa47-57243f05c01f')" @mouseleave="removeHoverClass('b541ba11-6fad-410b-aa47-57243f05c01f')" @click="showModal('b541ba11-6fad-410b-aa47-57243f05c01f')" :class="[returnClassRoom('b541ba11-6fad-410b-aa47-57243f05c01f'), { 'hoverSvgClassPark': activeFloor === 'b541ba11-6fad-410b-aa47-57243f05c01f' }]" class="fil0" points="232.92,69.49 237.91,69.58 238,74.87 243.1,79.1 243.1,89.5 243.16,92.66 232.92,92.66 "/>
  <polygon id="5826bcc0-ee60-402e-aa3b-b94ec92018c4" @mouseover="addHoverClass('5826bcc0-ee60-402e-aa3b-b94ec92018c4')" @mouseleave="removeHoverClass('5826bcc0-ee60-402e-aa3b-b94ec92018c4')" @click="showModal('5826bcc0-ee60-402e-aa3b-b94ec92018c4')" :class="[returnClassRoom('5826bcc0-ee60-402e-aa3b-b94ec92018c4'), { 'hoverSvgClassPark': activeFloor === '5826bcc0-ee60-402e-aa3b-b94ec92018c4' }]" class="fil0" points="226.41,102.88 233.69,102.88 233.69,116.4 236.59,116.45 236.59,126.06 226.41,126.06 "/>
  <polygon id="21719e99-401a-497f-9b39-a6300bbd505a" @mouseover="addHoverClass('21719e99-401a-497f-9b39-a6300bbd505a')" @mouseleave="removeHoverClass('21719e99-401a-497f-9b39-a6300bbd505a')" @click="showModal('21719e99-401a-497f-9b39-a6300bbd505a')" :class="[returnClassRoom('21719e99-401a-497f-9b39-a6300bbd505a'), { 'hoverSvgClassPark': activeFloor === '21719e99-401a-497f-9b39-a6300bbd505a' }]" class="fil0" points="260.65,102.88 269.1,102.88 269.08,116.67 270.83,116.72 270.83,126.06 260.65,126.06 "/>
  <polygon id="f90723b2-0e5a-4daf-b039-652c179374ad" @mouseover="addHoverClass('f90723b2-0e5a-4daf-b039-652c179374ad')" @mouseleave="removeHoverClass('f90723b2-0e5a-4daf-b039-652c179374ad')" @click="showModal('f90723b2-0e5a-4daf-b039-652c179374ad')" :class="[returnClassRoom('f90723b2-0e5a-4daf-b039-652c179374ad'), { 'hoverSvgClassPark': activeFloor === 'f90723b2-0e5a-4daf-b039-652c179374ad' }]" class="fil0" points="308.83,69.49 319.01,69.49 319.01,92.66 310.04,92.66 308.85,92.65 308.83,89.43 "/>
  <polygon id="067ed3f7-05d1-49cd-acb3-d709f0492895" @mouseover="addHoverClass('067ed3f7-05d1-49cd-acb3-d709f0492895')" @mouseleave="removeHoverClass('067ed3f7-05d1-49cd-acb3-d709f0492895')" @click="showModal('067ed3f7-05d1-49cd-acb3-d709f0492895')" :class="[returnClassRoom('067ed3f7-05d1-49cd-acb3-d709f0492895'), { 'hoverSvgClassPark': activeFloor === '067ed3f7-05d1-49cd-acb3-d709f0492895' }]" class="fil0" points="298,69.49 308.18,69.49 308.18,92.62 298,92.62 "/>
  <polygon id="477bc16f-9db5-4a05-9c66-8d913b49f7f2" @mouseover="addHoverClass('477bc16f-9db5-4a05-9c66-8d913b49f7f2')" @mouseleave="removeHoverClass('477bc16f-9db5-4a05-9c66-8d913b49f7f2')" @click="showModal('477bc16f-9db5-4a05-9c66-8d913b49f7f2')" :class="[returnClassRoom('477bc16f-9db5-4a05-9c66-8d913b49f7f2'), { 'hoverSvgClassPark': activeFloor === '477bc16f-9db5-4a05-9c66-8d913b49f7f2' }]" class="fil0" points="286.89,69.49 297.07,69.49 297.07,89.53 297.07,92.66 292.66,92.66 286.89,92.66 "/>
  <polygon id="6c8ba491-f3ab-416f-9c2d-26216817787c" @mouseover="addHoverClass('6c8ba491-f3ab-416f-9c2d-26216817787c')" @mouseleave="removeHoverClass('6c8ba491-f3ab-416f-9c2d-26216817787c')" @click="showModal('6c8ba491-f3ab-416f-9c2d-26216817787c')" :class="[returnClassRoom('6c8ba491-f3ab-416f-9c2d-26216817787c'), { 'hoverSvgClassPark': activeFloor === '6c8ba491-f3ab-416f-9c2d-26216817787c' }]" class="fil0" points="202.62,160.28 213.16,160.28 212.8,183.45 202.62,183.45 "/>
  <polygon id="01122470-3423-4b64-9237-5b83a43d246b" @mouseover="addHoverClass('01122470-3423-4b64-9237-5b83a43d246b')" @mouseleave="removeHoverClass('01122470-3423-4b64-9237-5b83a43d246b')" @click="showModal('01122470-3423-4b64-9237-5b83a43d246b')" :class="[returnClassRoom('01122470-3423-4b64-9237-5b83a43d246b'), { 'hoverSvgClassPark': activeFloor === '01122470-3423-4b64-9237-5b83a43d246b' }]" class="fil0" points="123.7,221.35 123.7,213.31 137.04,213.18 143.19,211.17 148.52,211.17 148.52,221.35 "/>
  <polygon id="9b6c1736-4268-4f63-9423-15ffb24904f8" @mouseover="addHoverClass('9b6c1736-4268-4f63-9423-15ffb24904f8')" @mouseleave="removeHoverClass('9b6c1736-4268-4f63-9423-15ffb24904f8')" @click="showModal('9b6c1736-4268-4f63-9423-15ffb24904f8')" :class="[returnClassRoom('9b6c1736-4268-4f63-9423-15ffb24904f8'), { 'hoverSvgClassPark': activeFloor === '9b6c1736-4268-4f63-9423-15ffb24904f8' }]" class="fil0" points="219.97,225.72 219.97,215.54 200.4,215.54 200.4,225.72 "/>
  <polygon id="94adf135-6251-46ae-8005-14a5ca9ba4a8" @mouseover="addHoverClass('94adf135-6251-46ae-8005-14a5ca9ba4a8')" @mouseleave="removeHoverClass('94adf135-6251-46ae-8005-14a5ca9ba4a8')" @click="showModal('94adf135-6251-46ae-8005-14a5ca9ba4a8')" :class="[returnClassRoom('94adf135-6251-46ae-8005-14a5ca9ba4a8'), { 'hoverSvgClassPark': activeFloor === '94adf135-6251-46ae-8005-14a5ca9ba4a8' }]" class="fil0" points="204.19,244.4 214.37,244.4 214.37,249.4 214.37,258.1 214.37,267.57 204.19,267.57 "/>
  <polygon id="ba425cf5-ae31-4817-8397-4b8d0a2bad2f" @mouseover="addHoverClass('ba425cf5-ae31-4817-8397-4b8d0a2bad2f')" @mouseleave="removeHoverClass('ba425cf5-ae31-4817-8397-4b8d0a2bad2f')" @click="showModal('ba425cf5-ae31-4817-8397-4b8d0a2bad2f')" :class="[returnClassRoom('ba425cf5-ae31-4817-8397-4b8d0a2bad2f'), { 'hoverSvgClassPark': activeFloor === 'ba425cf5-ae31-4817-8397-4b8d0a2bad2f' }]" class="fil0" points="336,69.76 346.18,69.76 346.18,92.93 336,92.93 "/>
  <polygon id="8d0599cf-09f9-4f64-a71b-2b0e806c586a" @mouseover="addHoverClass('8d0599cf-09f9-4f64-a71b-2b0e806c586a')" @mouseleave="removeHoverClass('8d0599cf-09f9-4f64-a71b-2b0e806c586a')" @click="showModal('8d0599cf-09f9-4f64-a71b-2b0e806c586a')" :class="[returnClassRoom('8d0599cf-09f9-4f64-a71b-2b0e806c586a'), { 'hoverSvgClassPark': activeFloor === '8d0599cf-09f9-4f64-a71b-2b0e806c586a' }]" class="fil0" points="346.88,92.86 357.06,92.86 357.06,69.76 346.88,69.76 "/>
  <polygon id="ae934c94-3d7a-475f-822f-b30c28c4f5fe" @mouseover="addHoverClass('ae934c94-3d7a-475f-822f-b30c28c4f5fe')" @mouseleave="removeHoverClass('ae934c94-3d7a-475f-822f-b30c28c4f5fe')" @click="showModal('ae934c94-3d7a-475f-822f-b30c28c4f5fe')" :class="[returnClassRoom('ae934c94-3d7a-475f-822f-b30c28c4f5fe'), { 'hoverSvgClassPark': activeFloor === 'ae934c94-3d7a-475f-822f-b30c28c4f5fe' }]" class="fil0" points="508.37,159.67 518.07,159.67 518.07,208.43 513.22,208.43 513.21,207.16 516.99,207.16 516.96,166.59 513.6,166.59 513.55,161.42 508.37,161.42 "/>
  <polygon id="ee6216ad-4130-4522-b0fa-5303fc5ead51" @mouseover="addHoverClass('ee6216ad-4130-4522-b0fa-5303fc5ead51')" @mouseleave="removeHoverClass('ee6216ad-4130-4522-b0fa-5303fc5ead51')" @click="showModal('ee6216ad-4130-4522-b0fa-5303fc5ead51')" :class="[returnClassRoom('ee6216ad-4130-4522-b0fa-5303fc5ead51'), { 'hoverSvgClassPark': activeFloor === 'ee6216ad-4130-4522-b0fa-5303fc5ead51' }]" class="fil0" points="549.38,185.99 556.84,186.1 556.83,187.38 559.08,187.4 559.13,208.15 549.43,206.17 "/>
  <polygon id="80dd4798-4734-450f-93ce-271525503926" @mouseover="addHoverClass('80dd4798-4734-450f-93ce-271525503926')" @mouseleave="removeHoverClass('80dd4798-4734-450f-93ce-271525503926')" @click="showModal('80dd4798-4734-450f-93ce-271525503926')" :class="[returnClassRoom('80dd4798-4734-450f-93ce-271525503926'), { 'hoverSvgClassPark': activeFloor === '80dd4798-4734-450f-93ce-271525503926' }]" class="fil0" points="416.3,69.1 426.48,69.1 426.48,92.47 416.3,92.29 "/>
  <polygon id="dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4" @mouseover="addHoverClass('dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4')" @mouseleave="removeHoverClass('dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4')" @click="showModal('dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4')" :class="[returnClassRoom('dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4'), { 'hoverSvgClassPark': activeFloor === 'dbc08d43-bd40-453e-b6ac-c6a9f6c4d0e4' }]" class="fil0" points="453.86,92.36 464.04,92.36 464.04,69.1 453.86,69.1 "/>
  <polygon id="5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded" @mouseover="addHoverClass('5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded')" @mouseleave="removeHoverClass('5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded')" @click="showModal('5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded')" :class="[returnClassRoom('5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded'), { 'hoverSvgClassPark': activeFloor === '5abeb8b4-92bb-4cc5-b341-5d7b07ae8ded' }]" class="fil0" points="407.69,73.72 407.65,69.1 415.86,69.1 415.86,92.23 407.65,92.27 405.68,92.27 405.68,75.32 "/>
  <polygon id="45e82af7-3193-4bfa-96e4-29d8cf1f086c" @mouseover="addHoverClass('45e82af7-3193-4bfa-96e4-29d8cf1f086c')" @mouseleave="removeHoverClass('45e82af7-3193-4bfa-96e4-29d8cf1f086c')" @click="showModal('45e82af7-3193-4bfa-96e4-29d8cf1f086c')" :class="[returnClassRoom('45e82af7-3193-4bfa-96e4-29d8cf1f086c'), { 'hoverSvgClassPark': activeFloor === '45e82af7-3193-4bfa-96e4-29d8cf1f086c' }]" class="fil0" points="436.76,73.92 436.34,69.1 442.63,69.1 442.63,92.27 432.59,92.27 432.44,76.25 "/>
  <polygon id="5fc782fe-5127-4c59-a67b-09d53f656999" @mouseover="addHoverClass('5fc782fe-5127-4c59-a67b-09d53f656999')" @mouseleave="removeHoverClass('5fc782fe-5127-4c59-a67b-09d53f656999')" @click="showModal('5fc782fe-5127-4c59-a67b-09d53f656999')" :class="[returnClassRoom('5fc782fe-5127-4c59-a67b-09d53f656999'), { 'hoverSvgClassPark': activeFloor === '5fc782fe-5127-4c59-a67b-09d53f656999' }]" class="fil0" points="443.23,69.1 453.41,69.1 453.41,92.4 443.27,92.31 "/>
  <polygon id="b711933b-8127-4bb5-bf7f-7e1dac3e4c4e" @mouseover="addHoverClass('b711933b-8127-4bb5-bf7f-7e1dac3e4c4e')" @mouseleave="removeHoverClass('b711933b-8127-4bb5-bf7f-7e1dac3e4c4e')" @click="showModal('b711933b-8127-4bb5-bf7f-7e1dac3e4c4e')" :class="[returnClassRoom('b711933b-8127-4bb5-bf7f-7e1dac3e4c4e'), { 'hoverSvgClassPark': activeFloor === 'b711933b-8127-4bb5-bf7f-7e1dac3e4c4e' }]" class="fil0" points="470.21,102.65 480.39,102.65 480.39,125.82 470.21,125.82 470.21,122.08 474.64,120.63 474.61,114.76 470.21,114.71 "/>
  <polygon id="8ef50500-a0c4-4784-a169-d73a69fad200" @mouseover="addHoverClass('8ef50500-a0c4-4784-a169-d73a69fad200')" @mouseleave="removeHoverClass('8ef50500-a0c4-4784-a169-d73a69fad200')" @click="showModal('8ef50500-a0c4-4784-a169-d73a69fad200')" :class="[returnClassRoom('8ef50500-a0c4-4784-a169-d73a69fad200'), { 'hoverSvgClassPark': activeFloor === '8ef50500-a0c4-4784-a169-d73a69fad200' }]" class="fil0" points="476.4,74.46 476.39,69.27 481.73,69.27 481.73,92.44 471.55,92.44 471.55,76.76 "/>
  <polygon id="144f2bbe-4fb3-416b-bdb9-745fe5697d28" @mouseover="addHoverClass('144f2bbe-4fb3-416b-bdb9-745fe5697d28')" @mouseleave="removeHoverClass('144f2bbe-4fb3-416b-bdb9-745fe5697d28')" @click="showModal('144f2bbe-4fb3-416b-bdb9-745fe5697d28')" :class="[returnClassRoom('144f2bbe-4fb3-416b-bdb9-745fe5697d28'), { 'hoverSvgClassPark': activeFloor === '144f2bbe-4fb3-416b-bdb9-745fe5697d28' }]" class="fil0" points="518.65,103.09 522.09,103 522.09,126.17 511.9,126.17 511.9,121.14 514.02,121.15 514.02,114.86 518.56,114.89 "/>
  <polygon id="b797d3d1-b0ea-430b-88bc-90e606b9510b" @mouseover="addHoverClass('b797d3d1-b0ea-430b-88bc-90e606b9510b')" @mouseleave="removeHoverClass('b797d3d1-b0ea-430b-88bc-90e606b9510b')" @click="showModal('b797d3d1-b0ea-430b-88bc-90e606b9510b')" :class="[returnClassRoom('b797d3d1-b0ea-430b-88bc-90e606b9510b'), { 'hoverSvgClassPark': activeFloor === 'b797d3d1-b0ea-430b-88bc-90e606b9510b' }]" class="fil0" points="433.23,102.79 437.7,102.79 437.7,125.96 427.52,125.96 427.52,121.63 430.2,121.63 430.16,115.66 433.2,115.62 "/>
  <polygon id="165ce2b9-3836-4227-b7c2-58fba0026f0d" @mouseover="addHoverClass('165ce2b9-3836-4227-b7c2-58fba0026f0d')" @mouseleave="removeHoverClass('165ce2b9-3836-4227-b7c2-58fba0026f0d')" @click="showModal('165ce2b9-3836-4227-b7c2-58fba0026f0d')" :class="[returnClassRoom('165ce2b9-3836-4227-b7c2-58fba0026f0d'), { 'hoverSvgClassPark': activeFloor === '165ce2b9-3836-4227-b7c2-58fba0026f0d' }]" class="fil0" points="405.59,102.79 415.77,102.79 415.77,125.96 405.59,125.96 405.59,121.63 407.61,120.84 407.67,114.9 405.59,114.87 "/>
  <polygon id="efe833a0-9026-40a0-99b4-495438d4cb89" @mouseover="addHoverClass('efe833a0-9026-40a0-99b4-495438d4cb89')" @mouseleave="removeHoverClass('efe833a0-9026-40a0-99b4-495438d4cb89')" @click="showModal('efe833a0-9026-40a0-99b4-495438d4cb89')" :class="[returnClassRoom('efe833a0-9026-40a0-99b4-495438d4cb89'), { 'hoverSvgClassPark': activeFloor === 'efe833a0-9026-40a0-99b4-495438d4cb89' }]" class="fil0" points="372.4,178.89 385.51,178.89 385.51,155.72 372.4,155.72 "/>
  <polygon id="22160a11-5027-4532-911f-00043b9921d9" @mouseover="addHoverClass('22160a11-5027-4532-911f-00043b9921d9')" @mouseleave="removeHoverClass('22160a11-5027-4532-911f-00043b9921d9')" @click="showModal('22160a11-5027-4532-911f-00043b9921d9')" :class="[returnClassRoom('22160a11-5027-4532-911f-00043b9921d9'), { 'hoverSvgClassPark': activeFloor === '22160a11-5027-4532-911f-00043b9921d9' }]" class="fil0" points="427.29,159.94 436.99,159.94 436.99,183.11 427.29,183.11 427.29,168.08 429.92,168.08 429.9,160.68 427.29,160.7 "/>
  <polygon id="98d2ea53-608c-4d95-9e80-b1958cf11f43" @mouseover="addHoverClass('98d2ea53-608c-4d95-9e80-b1958cf11f43')" @mouseleave="removeHoverClass('98d2ea53-608c-4d95-9e80-b1958cf11f43')" @click="showModal('98d2ea53-608c-4d95-9e80-b1958cf11f43')" :class="[returnClassRoom('98d2ea53-608c-4d95-9e80-b1958cf11f43'), { 'hoverSvgClassPark': activeFloor === '98d2ea53-608c-4d95-9e80-b1958cf11f43' }]" class="fil0" points="429.92,211.04 436.99,211.04 436.99,187.87 427.29,187.87 427.29,203.68 429.96,204.25 "/>
  <polygon id="83744192-321f-44ff-a7f8-0923b8217300" @mouseover="addHoverClass('83744192-321f-44ff-a7f8-0923b8217300')" @mouseleave="removeHoverClass('83744192-321f-44ff-a7f8-0923b8217300')" @click="showModal('83744192-321f-44ff-a7f8-0923b8217300')" :class="[returnClassRoom('83744192-321f-44ff-a7f8-0923b8217300'), { 'hoverSvgClassPark': activeFloor === '83744192-321f-44ff-a7f8-0923b8217300' }]" class="fil0" points="424.4,243.22 434.1,243.22 434.1,266.4 429.18,266.4 429.19,258.21 429.54,258.2 429.53,250.81 424.4,247.3 "/>
  <polygon id="dfd30b1f-611d-4984-829f-2dc7fd25b039" @mouseover="addHoverClass('dfd30b1f-611d-4984-829f-2dc7fd25b039')" @mouseleave="removeHoverClass('dfd30b1f-611d-4984-829f-2dc7fd25b039')" @click="showModal('dfd30b1f-611d-4984-829f-2dc7fd25b039')" :class="[returnClassRoom('dfd30b1f-611d-4984-829f-2dc7fd25b039'), { 'hoverSvgClassPark': activeFloor === 'dfd30b1f-611d-4984-829f-2dc7fd25b039' }]" class="fil0" points="519.92,69.27 523.01,69.27 523.01,92.44 517.92,92.44 517.92,69.24 "/>
  <polygon id="51f4cd72-1d32-4c38-a46a-6352324d4a84" @mouseover="addHoverClass('51f4cd72-1d32-4c38-a46a-6352324d4a84')" @mouseleave="removeHoverClass('51f4cd72-1d32-4c38-a46a-6352324d4a84')" @click="showModal('51f4cd72-1d32-4c38-a46a-6352324d4a84')" :class="[returnClassRoom('51f4cd72-1d32-4c38-a46a-6352324d4a84'), { 'hoverSvgClassPark': activeFloor === '51f4cd72-1d32-4c38-a46a-6352324d4a84' }]" class="fil0" points="162,244.44 172.18,244.44 172.18,249.75 168.85,252.07 168.87,267.61 162,267.61 "/>
  <polygon id="77789563-0b55-4c8a-9a14-ab7c322282eb" @mouseover="addHoverClass('77789563-0b55-4c8a-9a14-ab7c322282eb')" @mouseleave="removeHoverClass('77789563-0b55-4c8a-9a14-ab7c322282eb')" @click="showModal('77789563-0b55-4c8a-9a14-ab7c322282eb')" :class="[returnClassRoom('77789563-0b55-4c8a-9a14-ab7c322282eb'), { 'hoverSvgClassPark': activeFloor === '77789563-0b55-4c8a-9a14-ab7c322282eb' }]" class="fil0" points="466.17,243.22 475.87,243.22 475.87,266.4 466.17,266.4 466.15,257.01 468.19,258.19 474.02,258.19 474.02,250.97 467.37,247.35 466.17,247.34 "/>
  <path class="fil0" d="M501.75 243.22l9.7 0 0 8.38 -9.7 -3.98 0 -4.4zm9.7 23.12l-9.7 0 0 -10.48 3.56 1.58 6.17 0.1 -0.03 8.8z"/>
  <path class="fil0" d="M557.14 266.34l-9.7 0 0 -12.37 6.73 2.55 2.99 -0.01 -0.02 9.83zm-9.7 -23.12l9.7 0 0 9.28 -9.7 -3.68 0 -5.6z"/>

 </g>
</svg>
   </SvgPanZoom>>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "minus-two",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>