<template>
  <div>

   <SvgPanZoom
       style="width: 100%; height: 500px; margin: auto;"
       :zoomEnabled="true"
       :controlIconsEnabled="true"
       :fit="false"
       :center="true">

    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="600px" height="318px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 268.51 142.39"
 xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>

   <clipPath id="id0">
    <rect width="268.51" height="142.39"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
          <image xlink:href="@/assets/parking/_1.png" x="0" y="0" width="268.51" height="142.39"></image>
  </g>
  <polygon ref="879f9201-0d88-4efd-bdc1-b480d13065e9" id="879f9201-0d88-4efd-bdc1-b480d13065e9" @mouseover="addHoverClass('879f9201-0d88-4efd-bdc1-b480d13065e9')" @mouseleave="removeHoverClass('879f9201-0d88-4efd-bdc1-b480d13065e9')" @click="showModal('879f9201-0d88-4efd-bdc1-b480d13065e9')" :class="[returnClassRoom('879f9201-0d88-4efd-bdc1-b480d13065e9'), { 'hoverSvgClassPark': activeFloor === '879f9201-0d88-4efd-bdc1-b480d13065e9' }]" class="fil0" points="92.87,8.89 97.48,8.89 97.48,19.39 92.87,19.39 "/>
  <polygon ref="36e477a3-b4b3-40b0-925c-ced83efbae2d" id="36e477a3-b4b3-40b0-925c-ced83efbae2d" @mouseover="addHoverClass('36e477a3-b4b3-40b0-925c-ced83efbae2d')" @mouseleave="removeHoverClass('36e477a3-b4b3-40b0-925c-ced83efbae2d')" @click="showModal('36e477a3-b4b3-40b0-925c-ced83efbae2d')" :class="[returnClassRoom('36e477a3-b4b3-40b0-925c-ced83efbae2d'), { 'hoverSvgClassPark': activeFloor === '36e477a3-b4b3-40b0-925c-ced83efbae2d' }]" class="fil0" points="97.74,8.89 102.35,8.89 102.35,19.39 97.74,19.39 "/>
  <polygon ref="d19ae6e4-d904-47c3-80d1-d6fd0d27cef6" id="d19ae6e4-d904-47c3-80d1-d6fd0d27cef6" @mouseover="addHoverClass('d19ae6e4-d904-47c3-80d1-d6fd0d27cef6')" @mouseleave="removeHoverClass('d19ae6e4-d904-47c3-80d1-d6fd0d27cef6')" @click="showModal('d19ae6e4-d904-47c3-80d1-d6fd0d27cef6')" :class="[returnClassRoom('d19ae6e4-d904-47c3-80d1-d6fd0d27cef6'), { 'hoverSvgClassPark': activeFloor === 'd19ae6e4-d904-47c3-80d1-d6fd0d27cef6' }]" class="fil0" points="102.65,8.89 107.26,8.89 107.26,14.57 106.56,14.56 106.55,16.25 107.25,17.65 107.26,19.39 102.65,19.39 "/>
  <polygon ref="b11f9f32-d1df-47a0-8b59-f627653e6feb" id="b11f9f32-d1df-47a0-8b59-f627653e6feb" @mouseover="addHoverClass('b11f9f32-d1df-47a0-8b59-f627653e6feb')" @mouseleave="removeHoverClass('b11f9f32-d1df-47a0-8b59-f627653e6feb')" @click="showModal('b11f9f32-d1df-47a0-8b59-f627653e6feb')" :class="[returnClassRoom('b11f9f32-d1df-47a0-8b59-f627653e6feb'), { 'hoverSvgClassPark': activeFloor === 'b11f9f32-d1df-47a0-8b59-f627653e6feb' }]" class="fil0" points="110.03,8.89 114.64,8.89 114.64,19.39 110.03,19.39 "/>
  <polygon ref="803a1791-415c-4d19-8b83-fbe0ca71fcd8" id="803a1791-415c-4d19-8b83-fbe0ca71fcd8" @mouseover="addHoverClass('803a1791-415c-4d19-8b83-fbe0ca71fcd8')" @mouseleave="removeHoverClass('803a1791-415c-4d19-8b83-fbe0ca71fcd8')" @click="showModal('803a1791-415c-4d19-8b83-fbe0ca71fcd8')" :class="[returnClassRoom('803a1791-415c-4d19-8b83-fbe0ca71fcd8'), { 'hoverSvgClassPark': activeFloor === '803a1791-415c-4d19-8b83-fbe0ca71fcd8' }]" class="fil0" points="114.97,8.89 119.58,8.89 119.58,19.39 114.97,19.39 "/>
  <polygon ref="b0c7510e-2ae7-4945-9e4e-7f9499e73c30" id="b0c7510e-2ae7-4945-9e4e-7f9499e73c30" @mouseover="addHoverClass('b0c7510e-2ae7-4945-9e4e-7f9499e73c30')" @mouseleave="removeHoverClass('b0c7510e-2ae7-4945-9e4e-7f9499e73c30')" @click="showModal('b0c7510e-2ae7-4945-9e4e-7f9499e73c30')" :class="[returnClassRoom('b0c7510e-2ae7-4945-9e4e-7f9499e73c30'), { 'hoverSvgClassPark': activeFloor === 'b0c7510e-2ae7-4945-9e4e-7f9499e73c30' }]" class="fil0" points="119.81,8.89 124.42,8.89 124.42,19.39 119.81,19.39 "/>
  <polygon ref="5ebdb579-d539-4d9b-b88a-d1e11e30688b" id="5ebdb579-d539-4d9b-b88a-d1e11e30688b" @mouseover="addHoverClass('5ebdb579-d539-4d9b-b88a-d1e11e30688b')" @mouseleave="removeHoverClass('5ebdb579-d539-4d9b-b88a-d1e11e30688b')" @click="showModal('5ebdb579-d539-4d9b-b88a-d1e11e30688b')" :class="[returnClassRoom('5ebdb579-d539-4d9b-b88a-d1e11e30688b'), { 'hoverSvgClassPark': activeFloor === '5ebdb579-d539-4d9b-b88a-d1e11e30688b' }]" class="fil0" points="127.32,8.89 131.94,8.89 131.94,19.39 127.32,19.39 "/>
  <polygon ref="3be459e4-0921-48ac-acf7-e55a8de6d521" id="3be459e4-0921-48ac-acf7-e55a8de6d521" @mouseover="addHoverClass('3be459e4-0921-48ac-acf7-e55a8de6d521')" @mouseleave="removeHoverClass('3be459e4-0921-48ac-acf7-e55a8de6d521')" @click="showModal('3be459e4-0921-48ac-acf7-e55a8de6d521')" :class="[returnClassRoom('3be459e4-0921-48ac-acf7-e55a8de6d521'), { 'hoverSvgClassPark': activeFloor === '3be459e4-0921-48ac-acf7-e55a8de6d521' }]" class="fil0" points="132.39,8.89 137,8.89 137,19.39 132.39,19.39 "/>
  <polygon ref="f6e7befd-3377-4bf1-8e28-0001b52dfc8f" id="f6e7befd-3377-4bf1-8e28-0001b52dfc8f" @mouseover="addHoverClass('f6e7befd-3377-4bf1-8e28-0001b52dfc8f')" @mouseleave="removeHoverClass('f6e7befd-3377-4bf1-8e28-0001b52dfc8f')" @click="showModal('f6e7befd-3377-4bf1-8e28-0001b52dfc8f')" :class="[returnClassRoom('f6e7befd-3377-4bf1-8e28-0001b52dfc8f'), { 'hoverSvgClassPark': activeFloor === 'f6e7befd-3377-4bf1-8e28-0001b52dfc8f' }]" class="fil0" points="110.2,32.08 114.81,32.08 114.81,42.59 111.25,42.65 110.2,41.3 "/>
  <polygon ref="8ffff610-e03d-4b4f-94a1-70cb0fc9e95c" id="8ffff610-e03d-4b4f-94a1-70cb0fc9e95c" @mouseover="addHoverClass('8ffff610-e03d-4b4f-94a1-70cb0fc9e95c')" @mouseleave="removeHoverClass('8ffff610-e03d-4b4f-94a1-70cb0fc9e95c')" @click="showModal('8ffff610-e03d-4b4f-94a1-70cb0fc9e95c')" :class="[returnClassRoom('8ffff610-e03d-4b4f-94a1-70cb0fc9e95c'), { 'hoverSvgClassPark': activeFloor === '8ffff610-e03d-4b4f-94a1-70cb0fc9e95c' }]" class="fil0" points="115.15,32.08 119.76,32.08 119.76,42.57 117.39,42.57 115.12,42.61 115.15,41.3 "/>
  <polygon ref="029964f5-4c9e-4f68-8214-01bd07b72ffa" id="029964f5-4c9e-4f68-8214-01bd07b72ffa" @mouseover="addHoverClass('029964f5-4c9e-4f68-8214-01bd07b72ffa')" @mouseleave="removeHoverClass('029964f5-4c9e-4f68-8214-01bd07b72ffa')" @click="showModal('029964f5-4c9e-4f68-8214-01bd07b72ffa')" :class="[returnClassRoom('029964f5-4c9e-4f68-8214-01bd07b72ffa'), { 'hoverSvgClassPark': activeFloor === '029964f5-4c9e-4f68-8214-01bd07b72ffa' }]" class="fil0" points="120.05,32.08 124.67,32.08 124.67,41.32 120.45,41.32 120.45,42.57 120.05,42.57 "/>
  <polygon ref="e07e1165-df83-48cd-b998-77e7431cd301" id="e07e1165-df83-48cd-b998-77e7431cd301" @mouseover="addHoverClass('e07e1165-df83-48cd-b998-77e7431cd301')" @mouseleave="removeHoverClass('e07e1165-df83-48cd-b998-77e7431cd301')" @click="showModal('e07e1165-df83-48cd-b998-77e7431cd301')" :class="[returnClassRoom('e07e1165-df83-48cd-b998-77e7431cd301'), { 'hoverSvgClassPark': activeFloor === 'e07e1165-df83-48cd-b998-77e7431cd301' }]" class="fil0" points="63.1,32.08 67.71,32.08 67.71,42.58 63.1,42.58 "/>
  <polygon ref="7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0" id="7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0" @mouseover="addHoverClass('7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0')" @mouseleave="removeHoverClass('7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0')" @click="showModal('7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0')" :class="[returnClassRoom('7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0'), { 'hoverSvgClassPark': activeFloor === '7c503bf7-dfa9-4b4c-ac0f-2cdcf7b4a4b0' }]" class="fil0" points="65.97,45.08 70.58,45.08 70.58,55.58 65.97,55.58 "/>
  <polygon ref="2943d60b-4ac3-4a8e-9b7b-4d08ca94453d" id="2943d60b-4ac3-4a8e-9b7b-4d08ca94453d" @mouseover="addHoverClass('2943d60b-4ac3-4a8e-9b7b-4d08ca94453d')" @mouseleave="removeHoverClass('2943d60b-4ac3-4a8e-9b7b-4d08ca94453d')" @click="showModal('2943d60b-4ac3-4a8e-9b7b-4d08ca94453d')" :class="[returnClassRoom('2943d60b-4ac3-4a8e-9b7b-4d08ca94453d'), { 'hoverSvgClassPark': activeFloor === '2943d60b-4ac3-4a8e-9b7b-4d08ca94453d' }]" class="fil0" points="81.68,45.04 86.29,45.04 86.29,55.54 81.68,55.54 "/>
  <polygon ref="436e515d-d7bb-47c0-8600-345c94136d6c" id="436e515d-d7bb-47c0-8600-345c94136d6c" @mouseover="addHoverClass('436e515d-d7bb-47c0-8600-345c94136d6c')" @mouseleave="removeHoverClass('436e515d-d7bb-47c0-8600-345c94136d6c')" @click="showModal('436e515d-d7bb-47c0-8600-345c94136d6c')" :class="[returnClassRoom('436e515d-d7bb-47c0-8600-345c94136d6c'), { 'hoverSvgClassPark': activeFloor === '436e515d-d7bb-47c0-8600-345c94136d6c' }]" class="fil0" points="112.05,45.04 116.66,45.04 116.66,55.54 112.05,55.54 "/>
  <polygon ref="82916971-7625-4f51-8536-b7e4059eea3f" id="82916971-7625-4f51-8536-b7e4059eea3f" @mouseover="addHoverClass('82916971-7625-4f51-8536-b7e4059eea3f')" @mouseleave="removeHoverClass('82916971-7625-4f51-8536-b7e4059eea3f')" @click="showModal('82916971-7625-4f51-8536-b7e4059eea3f')" :class="[returnClassRoom('82916971-7625-4f51-8536-b7e4059eea3f'), { 'hoverSvgClassPark': activeFloor === '82916971-7625-4f51-8536-b7e4059eea3f' }]" class="fil0" points="127.48,45.08 132.09,45.08 132.09,55.58 127.48,55.58 "/>
  <polygon ref="064467cd-6f91-4a2d-be6c-f4a7d6225294" id="064467cd-6f91-4a2d-be6c-f4a7d6225294" @mouseover="addHoverClass('064467cd-6f91-4a2d-be6c-f4a7d6225294')" @mouseleave="removeHoverClass('064467cd-6f91-4a2d-be6c-f4a7d6225294')" @click="showModal('064467cd-6f91-4a2d-be6c-f4a7d6225294')" :class="[returnClassRoom('064467cd-6f91-4a2d-be6c-f4a7d6225294'), { 'hoverSvgClassPark': activeFloor === '064467cd-6f91-4a2d-be6c-f4a7d6225294' }]" class="fil0" points="132.33,45.08 136.94,45.08 136.94,55.58 132.33,55.58 "/>
  <polygon ref="88cbd16f-badf-4317-8b1b-9fc4887dd24b" id="88cbd16f-badf-4317-8b1b-9fc4887dd24b" @mouseover="addHoverClass('88cbd16f-badf-4317-8b1b-9fc4887dd24b')" @mouseleave="removeHoverClass('88cbd16f-badf-4317-8b1b-9fc4887dd24b')" @click="showModal('88cbd16f-badf-4317-8b1b-9fc4887dd24b')" :class="[returnClassRoom('88cbd16f-badf-4317-8b1b-9fc4887dd24b'), { 'hoverSvgClassPark': activeFloor === '88cbd16f-badf-4317-8b1b-9fc4887dd24b' }]" class="fil0" points="137.18,45.08 141.79,45.08 141.79,55.58 137.18,55.58 "/>
  <polygon ref="d04d3bb4-59bd-478a-8aeb-a54b23b17a86" id="d04d3bb4-59bd-478a-8aeb-a54b23b17a86" @mouseover="addHoverClass('d04d3bb4-59bd-478a-8aeb-a54b23b17a86')" @mouseleave="removeHoverClass('d04d3bb4-59bd-478a-8aeb-a54b23b17a86')" @click="showModal('d04d3bb4-59bd-478a-8aeb-a54b23b17a86')" :class="[returnClassRoom('d04d3bb4-59bd-478a-8aeb-a54b23b17a86'), { 'hoverSvgClassPark': activeFloor === 'd04d3bb4-59bd-478a-8aeb-a54b23b17a86' }]" class="fil0" points="145.69,45.12 150.3,45.12 150.3,55.62 145.69,55.62 "/>
  <polygon ref="4b87af4d-0d0f-439d-a719-f36ce8317c8f" id="4b87af4d-0d0f-439d-a719-f36ce8317c8f" @mouseover="addHoverClass('4b87af4d-0d0f-439d-a719-f36ce8317c8f')" @mouseleave="removeHoverClass('4b87af4d-0d0f-439d-a719-f36ce8317c8f')" @click="showModal('4b87af4d-0d0f-439d-a719-f36ce8317c8f')" :class="[returnClassRoom('4b87af4d-0d0f-439d-a719-f36ce8317c8f'), { 'hoverSvgClassPark': activeFloor === '4b87af4d-0d0f-439d-a719-f36ce8317c8f' }]" class="fil0" points="150.54,45.12 155.15,45.12 155.15,55.62 150.54,55.62 "/>
  <polygon ref="24d5f265-1015-4c43-adfd-5dbc392611c7" id="24d5f265-1015-4c43-adfd-5dbc392611c7" @mouseover="addHoverClass('24d5f265-1015-4c43-adfd-5dbc392611c7')" @mouseleave="removeHoverClass('24d5f265-1015-4c43-adfd-5dbc392611c7')" @click="showModal('24d5f265-1015-4c43-adfd-5dbc392611c7')" :class="[returnClassRoom('24d5f265-1015-4c43-adfd-5dbc392611c7'), { 'hoverSvgClassPark': activeFloor === '24d5f265-1015-4c43-adfd-5dbc392611c7' }]" class="fil0" points="155.39,45.12 160,45.12 160,55.62 155.39,55.62 "/>
  <polygon ref="f64b9ee7-9f2d-45fa-893a-30fdbb2daefa" id="f64b9ee7-9f2d-45fa-893a-30fdbb2daefa" @mouseover="addHoverClass('f64b9ee7-9f2d-45fa-893a-30fdbb2daefa')" @mouseleave="removeHoverClass('f64b9ee7-9f2d-45fa-893a-30fdbb2daefa')" @click="showModal('f64b9ee7-9f2d-45fa-893a-30fdbb2daefa')" :class="[returnClassRoom('f64b9ee7-9f2d-45fa-893a-30fdbb2daefa'), { 'hoverSvgClassPark': activeFloor === 'f64b9ee7-9f2d-45fa-893a-30fdbb2daefa' }]" class="fil0" points="146.49,69.21 151.1,69.21 151.1,79.71 146.49,79.71 "/>
  <polygon ref="25e245bd-07b9-43e8-95f2-d92bf7258426" id="25e245bd-07b9-43e8-95f2-d92bf7258426" @mouseover="addHoverClass('25e245bd-07b9-43e8-95f2-d92bf7258426')" @mouseleave="removeHoverClass('25e245bd-07b9-43e8-95f2-d92bf7258426')" @click="showModal('25e245bd-07b9-43e8-95f2-d92bf7258426')" :class="[returnClassRoom('25e245bd-07b9-43e8-95f2-d92bf7258426'), { 'hoverSvgClassPark': activeFloor === '25e245bd-07b9-43e8-95f2-d92bf7258426' }]" class="fil0" points="151.34,69.21 155.95,69.21 155.95,79.71 151.34,79.71 "/>
  <polygon ref="3825eb4d-61e7-4fe5-9a36-7cb197f60c15" id="3825eb4d-61e7-4fe5-9a36-7cb197f60c15" @mouseover="addHoverClass('3825eb4d-61e7-4fe5-9a36-7cb197f60c15')" @mouseleave="removeHoverClass('3825eb4d-61e7-4fe5-9a36-7cb197f60c15')" @click="showModal('3825eb4d-61e7-4fe5-9a36-7cb197f60c15')" :class="[returnClassRoom('3825eb4d-61e7-4fe5-9a36-7cb197f60c15'), { 'hoverSvgClassPark': activeFloor === '3825eb4d-61e7-4fe5-9a36-7cb197f60c15' }]" class="fil0" points="156.19,69.21 160.8,69.21 160.8,79.71 156.19,79.71 "/>
  <polygon ref="171ced85-bddd-4b0f-a918-e343056e7571" id="171ced85-bddd-4b0f-a918-e343056e7571" @mouseover="addHoverClass('171ced85-bddd-4b0f-a918-e343056e7571')" @mouseleave="removeHoverClass('171ced85-bddd-4b0f-a918-e343056e7571')" @click="showModal('171ced85-bddd-4b0f-a918-e343056e7571')" :class="[returnClassRoom('171ced85-bddd-4b0f-a918-e343056e7571'), { 'hoverSvgClassPark': activeFloor === '171ced85-bddd-4b0f-a918-e343056e7571' }]" class="fil0" points="126.36,69.24 130.98,69.24 130.98,79.73 126.36,79.73 "/>
  <polygon ref="eb9539f2-2f0f-4457-ba4f-70ab8a7da529" id="eb9539f2-2f0f-4457-ba4f-70ab8a7da529" @mouseover="addHoverClass('eb9539f2-2f0f-4457-ba4f-70ab8a7da529')" @mouseleave="removeHoverClass('eb9539f2-2f0f-4457-ba4f-70ab8a7da529')" @click="showModal('eb9539f2-2f0f-4457-ba4f-70ab8a7da529')" :class="[returnClassRoom('eb9539f2-2f0f-4457-ba4f-70ab8a7da529'), { 'hoverSvgClassPark': activeFloor === 'eb9539f2-2f0f-4457-ba4f-70ab8a7da529' }]" class="fil0" points="131.21,69.24 135.82,69.24 135.82,79.73 131.21,79.73 "/>
  <polygon ref="dace45ab-baee-440e-bab1-ccdd16842c0a" id="dace45ab-baee-440e-bab1-ccdd16842c0a" @mouseover="addHoverClass('dace45ab-baee-440e-bab1-ccdd16842c0a')" @mouseleave="removeHoverClass('dace45ab-baee-440e-bab1-ccdd16842c0a')" @click="showModal('dace45ab-baee-440e-bab1-ccdd16842c0a')" :class="[returnClassRoom('dace45ab-baee-440e-bab1-ccdd16842c0a'), { 'hoverSvgClassPark': activeFloor === 'dace45ab-baee-440e-bab1-ccdd16842c0a' }]" class="fil0" points="136.06,69.24 140.67,69.24 140.67,79.73 136.06,79.73 "/>
  <polygon ref="722e0d16-0d52-4918-91f5-1acf80e7f6b4" id="722e0d16-0d52-4918-91f5-1acf80e7f6b4" @mouseover="addHoverClass('722e0d16-0d52-4918-91f5-1acf80e7f6b4')" @mouseleave="removeHoverClass('722e0d16-0d52-4918-91f5-1acf80e7f6b4')" @click="showModal('722e0d16-0d52-4918-91f5-1acf80e7f6b4')" :class="[returnClassRoom('722e0d16-0d52-4918-91f5-1acf80e7f6b4'), { 'hoverSvgClassPark': activeFloor === '722e0d16-0d52-4918-91f5-1acf80e7f6b4' }]" class="fil0" points="106.23,69.19 110.84,69.19 110.84,79.69 106.23,79.69 "/>
  <polygon ref="e30b320d-6d05-4251-a876-abb2fea01002" id="e30b320d-6d05-4251-a876-abb2fea01002" @mouseover="addHoverClass('e30b320d-6d05-4251-a876-abb2fea01002')" @mouseleave="removeHoverClass('e30b320d-6d05-4251-a876-abb2fea01002')" @click="showModal('e30b320d-6d05-4251-a876-abb2fea01002')" :class="[returnClassRoom('e30b320d-6d05-4251-a876-abb2fea01002'), { 'hoverSvgClassPark': activeFloor === 'e30b320d-6d05-4251-a876-abb2fea01002' }]" class="fil0" points="111.62,69.19 116.23,69.19 116.23,79.69 111.62,79.69 "/>
  <polygon ref="c9c20dde-0569-425a-9a08-6d121d1f0956" id="c9c20dde-0569-425a-9a08-6d121d1f0956" @mouseover="addHoverClass('c9c20dde-0569-425a-9a08-6d121d1f0956')" @mouseleave="removeHoverClass('c9c20dde-0569-425a-9a08-6d121d1f0956')" @click="showModal('c9c20dde-0569-425a-9a08-6d121d1f0956')" :class="[returnClassRoom('c9c20dde-0569-425a-9a08-6d121d1f0956'), { 'hoverSvgClassPark': activeFloor === 'c9c20dde-0569-425a-9a08-6d121d1f0956' }]" class="fil0" points="116.83,69.19 121.44,69.19 121.44,79.69 116.83,79.69 "/>
  <polygon ref="cd457f98-764d-46f6-bd89-57c566bbb317" id="cd457f98-764d-46f6-bd89-57c566bbb317" @mouseover="addHoverClass('cd457f98-764d-46f6-bd89-57c566bbb317')" @mouseleave="removeHoverClass('cd457f98-764d-46f6-bd89-57c566bbb317')" @click="showModal('cd457f98-764d-46f6-bd89-57c566bbb317')" :class="[returnClassRoom('cd457f98-764d-46f6-bd89-57c566bbb317'), { 'hoverSvgClassPark': activeFloor === 'cd457f98-764d-46f6-bd89-57c566bbb317' }]" class="fil0" points="100.76,69.19 105.37,69.19 105.37,79.69 100.76,79.69 "/>
  <polygon ref="d690c776-82c9-433c-9526-832fb21af49c" id="d690c776-82c9-433c-9526-832fb21af49c" @mouseover="addHoverClass('d690c776-82c9-433c-9526-832fb21af49c')" @mouseleave="removeHoverClass('d690c776-82c9-433c-9526-832fb21af49c')" @click="showModal('d690c776-82c9-433c-9526-832fb21af49c')" :class="[returnClassRoom('d690c776-82c9-433c-9526-832fb21af49c'), { 'hoverSvgClassPark': activeFloor === 'd690c776-82c9-433c-9526-832fb21af49c' }]" class="fil0" points="87.12,71.36 91.73,71.36 91.73,81.86 87.12,81.86 "/>
  <polygon ref="05209071-3244-4fd8-9408-87bad97dc3c4" id="05209071-3244-4fd8-9408-87bad97dc3c4" @mouseover="addHoverClass('05209071-3244-4fd8-9408-87bad97dc3c4')" @mouseleave="removeHoverClass('05209071-3244-4fd8-9408-87bad97dc3c4')" @click="showModal('05209071-3244-4fd8-9408-87bad97dc3c4')" :class="[returnClassRoom('05209071-3244-4fd8-9408-87bad97dc3c4'), { 'hoverSvgClassPark': activeFloor === '05209071-3244-4fd8-9408-87bad97dc3c4' }]" class="fil0" points="82.19,71.36 86.8,71.36 86.8,81.86 82.19,81.86 "/>
  <polygon ref="70d89870-d92c-492d-aeb0-5c1d78ccf5cf" id="70d89870-d92c-492d-aeb0-5c1d78ccf5cf" @mouseover="addHoverClass('70d89870-d92c-492d-aeb0-5c1d78ccf5cf')" @mouseleave="removeHoverClass('70d89870-d92c-492d-aeb0-5c1d78ccf5cf')" @click="showModal('70d89870-d92c-492d-aeb0-5c1d78ccf5cf')" :class="[returnClassRoom('70d89870-d92c-492d-aeb0-5c1d78ccf5cf'), { 'hoverSvgClassPark': activeFloor === '70d89870-d92c-492d-aeb0-5c1d78ccf5cf' }]" class="fil0" points="86.56,85.06 88.74,85.06 88.77,90.54 91,90.49 91,95.06 86.56,95.06 "/>
  <polygon ref="5a719bed-00ea-441b-a879-6d426c0cea32" id="5a719bed-00ea-441b-a879-6d426c0cea32" @mouseover="addHoverClass('5a719bed-00ea-441b-a879-6d426c0cea32')" @mouseleave="removeHoverClass('5a719bed-00ea-441b-a879-6d426c0cea32')" @click="showModal('5a719bed-00ea-441b-a879-6d426c0cea32')" :class="[returnClassRoom('5a719bed-00ea-441b-a879-6d426c0cea32'), { 'hoverSvgClassPark': activeFloor === '5a719bed-00ea-441b-a879-6d426c0cea32' }]" class="fil0" points="87.69,110.46 92.3,110.46 92.3,120.95 87.69,120.95 "/>
  <polygon ref="b7dc43fb-5244-4f49-92bf-20313c5f6ca8" id="b7dc43fb-5244-4f49-92bf-20313c5f6ca8" @mouseover="addHoverClass('b7dc43fb-5244-4f49-92bf-20313c5f6ca8')" @mouseleave="removeHoverClass('b7dc43fb-5244-4f49-92bf-20313c5f6ca8')" @click="showModal('b7dc43fb-5244-4f49-92bf-20313c5f6ca8')" :class="[returnClassRoom('b7dc43fb-5244-4f49-92bf-20313c5f6ca8'), { 'hoverSvgClassPark': activeFloor === 'b7dc43fb-5244-4f49-92bf-20313c5f6ca8' }]" class="fil0" points="82.84,110.46 87.45,110.46 87.45,120.95 82.84,120.95 "/>
  <polygon ref="4366f954-405e-492d-8887-8617e8b33ae0" id="4366f954-405e-492d-8887-8617e8b33ae0" @mouseover="addHoverClass('4366f954-405e-492d-8887-8617e8b33ae0')" @mouseleave="removeHoverClass('4366f954-405e-492d-8887-8617e8b33ae0')" @click="showModal('4366f954-405e-492d-8887-8617e8b33ae0')" :class="[returnClassRoom('4366f954-405e-492d-8887-8617e8b33ae0'), { 'hoverSvgClassPark': activeFloor === '4366f954-405e-492d-8887-8617e8b33ae0' }]" class="fil0" points="68.45,110.49 73.06,110.49 73.06,120.99 68.45,120.99 "/>
  <polygon ref="b63cb75f-5a28-4883-9a6b-d161ed3e32ae" id="b63cb75f-5a28-4883-9a6b-d161ed3e32ae" @mouseover="addHoverClass('b63cb75f-5a28-4883-9a6b-d161ed3e32ae')" @mouseleave="removeHoverClass('b63cb75f-5a28-4883-9a6b-d161ed3e32ae')" @click="showModal('b63cb75f-5a28-4883-9a6b-d161ed3e32ae')" :class="[returnClassRoom('b63cb75f-5a28-4883-9a6b-d161ed3e32ae'), { 'hoverSvgClassPark': activeFloor === 'b63cb75f-5a28-4883-9a6b-d161ed3e32ae' }]" class="fil0" points="145.29,32.13 149.9,32.13 149.9,42.62 145.29,42.62 "/>
  <polygon ref="a247e9a2-a40b-41a2-a955-37d0515fe073" id="a247e9a2-a40b-41a2-a955-37d0515fe073" @mouseover="addHoverClass('a247e9a2-a40b-41a2-a955-37d0515fe073')" @mouseleave="removeHoverClass('a247e9a2-a40b-41a2-a955-37d0515fe073')" @click="showModal('a247e9a2-a40b-41a2-a955-37d0515fe073')" :class="[returnClassRoom('a247e9a2-a40b-41a2-a955-37d0515fe073'), { 'hoverSvgClassPark': activeFloor === 'a247e9a2-a40b-41a2-a955-37d0515fe073' }]" class="fil0" points="163.6,8.95 168.21,8.95 168.21,19.45 163.6,19.45 "/>
  <polygon ref="e8ac3882-130e-47f6-9ff8-9348eb4eec23" id="e8ac3882-130e-47f6-9ff8-9348eb4eec23" @mouseover="addHoverClass('e8ac3882-130e-47f6-9ff8-9348eb4eec23')" @mouseleave="removeHoverClass('e8ac3882-130e-47f6-9ff8-9348eb4eec23')" @click="showModal('e8ac3882-130e-47f6-9ff8-9348eb4eec23')" :class="[returnClassRoom('e8ac3882-130e-47f6-9ff8-9348eb4eec23'), { 'hoverSvgClassPark': activeFloor === 'e8ac3882-130e-47f6-9ff8-9348eb4eec23' }]" class="fil0" points="168.8,8.95 173.42,8.95 173.42,19.45 168.8,19.45 "/>
  <polygon ref="746b8511-65ed-48d7-a3e3-a6d65eba60b8" id="746b8511-65ed-48d7-a3e3-a6d65eba60b8" @mouseover="addHoverClass('746b8511-65ed-48d7-a3e3-a6d65eba60b8')" @mouseleave="removeHoverClass('746b8511-65ed-48d7-a3e3-a6d65eba60b8')" @click="showModal('746b8511-65ed-48d7-a3e3-a6d65eba60b8')" :class="[returnClassRoom('746b8511-65ed-48d7-a3e3-a6d65eba60b8'), { 'hoverSvgClassPark': activeFloor === '746b8511-65ed-48d7-a3e3-a6d65eba60b8' }]" class="fil0" points="173.93,8.95 178.54,8.95 178.54,19.45 173.93,19.45 "/>
  <polygon ref="4dbb4f4e-fd9e-4b2c-9672-23c8393005f8" id="4dbb4f4e-fd9e-4b2c-9672-23c8393005f8" @mouseover="addHoverClass('4dbb4f4e-fd9e-4b2c-9672-23c8393005f8')" @mouseleave="removeHoverClass('4dbb4f4e-fd9e-4b2c-9672-23c8393005f8')" @click="showModal('4dbb4f4e-fd9e-4b2c-9672-23c8393005f8')" :class="[returnClassRoom('4dbb4f4e-fd9e-4b2c-9672-23c8393005f8'), { 'hoverSvgClassPark': activeFloor === '4dbb4f4e-fd9e-4b2c-9672-23c8393005f8' }]" class="fil0" points="186.43,8.95 191.04,8.95 191.04,19.45 186.43,19.45 "/>
  <polygon ref="777b4a97-f451-4458-a80e-3f7ac7602d71" id="777b4a97-f451-4458-a80e-3f7ac7602d71" @mouseover="addHoverClass('777b4a97-f451-4458-a80e-3f7ac7602d71')" @mouseleave="removeHoverClass('777b4a97-f451-4458-a80e-3f7ac7602d71')" @click="showModal('777b4a97-f451-4458-a80e-3f7ac7602d71')" :class="[returnClassRoom('777b4a97-f451-4458-a80e-3f7ac7602d71'), { 'hoverSvgClassPark': activeFloor === '777b4a97-f451-4458-a80e-3f7ac7602d71' }]" class="fil0" points="198.88,8.77 203.49,8.77 203.49,19.27 198.88,19.27 "/>
  <polygon ref="fadba624-bb83-4b5a-96e2-54b5a50e69b9" id="fadba624-bb83-4b5a-96e2-54b5a50e69b9" @mouseover="addHoverClass('fadba624-bb83-4b5a-96e2-54b5a50e69b9')" @mouseleave="removeHoverClass('fadba624-bb83-4b5a-96e2-54b5a50e69b9')" @click="showModal('fadba624-bb83-4b5a-96e2-54b5a50e69b9')" :class="[returnClassRoom('fadba624-bb83-4b5a-96e2-54b5a50e69b9'), { 'hoverSvgClassPark': activeFloor === 'fadba624-bb83-4b5a-96e2-54b5a50e69b9' }]" class="fil0" points="203.73,8.77 208.34,8.77 208.34,19.27 203.73,19.27 "/>
  <polygon ref="7542ac26-5060-4223-a457-0fe6a0927d93" id="7542ac26-5060-4223-a457-0fe6a0927d93" @mouseover="addHoverClass('7542ac26-5060-4223-a457-0fe6a0927d93')" @mouseleave="removeHoverClass('7542ac26-5060-4223-a457-0fe6a0927d93')" @click="showModal('7542ac26-5060-4223-a457-0fe6a0927d93')" :class="[returnClassRoom('7542ac26-5060-4223-a457-0fe6a0927d93'), { 'hoverSvgClassPark': activeFloor === '7542ac26-5060-4223-a457-0fe6a0927d93' }]" class="fil0" points="215.89,8.77 220.5,8.77 220.5,19.27 215.89,19.27 "/>
  <polygon ref="32f55649-d98b-496e-ac27-e3d61e2a74a3" id="32f55649-d98b-496e-ac27-e3d61e2a74a3" @mouseover="addHoverClass('32f55649-d98b-496e-ac27-e3d61e2a74a3')" @mouseleave="removeHoverClass('32f55649-d98b-496e-ac27-e3d61e2a74a3')" @click="showModal('32f55649-d98b-496e-ac27-e3d61e2a74a3')" :class="[returnClassRoom('32f55649-d98b-496e-ac27-e3d61e2a74a3'), { 'hoverSvgClassPark': activeFloor === '32f55649-d98b-496e-ac27-e3d61e2a74a3' }]" class="fil0" points="220.74,8.77 225.35,8.77 225.35,19.27 220.74,19.27 "/>
  <polygon ref="55aa64ac-cc39-4868-9323-2af8f727eee9" id="55aa64ac-cc39-4868-9323-2af8f727eee9" @mouseover="addHoverClass('55aa64ac-cc39-4868-9323-2af8f727eee9')" @mouseleave="removeHoverClass('55aa64ac-cc39-4868-9323-2af8f727eee9')" @click="showModal('55aa64ac-cc39-4868-9323-2af8f727eee9')" :class="[returnClassRoom('55aa64ac-cc39-4868-9323-2af8f727eee9'), { 'hoverSvgClassPark': activeFloor === '55aa64ac-cc39-4868-9323-2af8f727eee9' }]" class="fil0" points="233.1,8.95 237.71,8.95 237.71,19.45 233.1,19.45 "/>
  <polygon ref="d8ec1a48-584f-4e14-8e2f-374700b3b1a8" id="d8ec1a48-584f-4e14-8e2f-374700b3b1a8" @mouseover="addHoverClass('d8ec1a48-584f-4e14-8e2f-374700b3b1a8')" @mouseleave="removeHoverClass('d8ec1a48-584f-4e14-8e2f-374700b3b1a8')" @click="showModal('d8ec1a48-584f-4e14-8e2f-374700b3b1a8')" :class="[returnClassRoom('d8ec1a48-584f-4e14-8e2f-374700b3b1a8'), { 'hoverSvgClassPark': activeFloor === 'd8ec1a48-584f-4e14-8e2f-374700b3b1a8' }]" class="fil0" points="238.01,8.95 242.62,8.95 242.62,19.45 238.01,19.45 "/>
  <polygon ref="32692cf1-2221-457b-ba95-db78350587b7" id="32692cf1-2221-457b-ba95-db78350587b7" @mouseover="addHoverClass('32692cf1-2221-457b-ba95-db78350587b7')" @mouseleave="removeHoverClass('32692cf1-2221-457b-ba95-db78350587b7')" @click="showModal('32692cf1-2221-457b-ba95-db78350587b7')" :class="[returnClassRoom('32692cf1-2221-457b-ba95-db78350587b7'), { 'hoverSvgClassPark': activeFloor === '32692cf1-2221-457b-ba95-db78350587b7' }]" class="fil0" points="233.57,32.11 238.18,32.11 238.18,42.6 233.57,42.6 "/>
  <polygon ref="7811580e-7d8a-4c9a-a459-fe197f8e9fc7" id="7811580e-7d8a-4c9a-a459-fe197f8e9fc7" @mouseover="addHoverClass('7811580e-7d8a-4c9a-a459-fe197f8e9fc7')" @mouseleave="removeHoverClass('7811580e-7d8a-4c9a-a459-fe197f8e9fc7')" @click="showModal('7811580e-7d8a-4c9a-a459-fe197f8e9fc7')" :class="[returnClassRoom('7811580e-7d8a-4c9a-a459-fe197f8e9fc7'), { 'hoverSvgClassPark': activeFloor === '7811580e-7d8a-4c9a-a459-fe197f8e9fc7' }]" class="fil0" points="238.42,32.11 243.03,32.11 243.03,42.6 238.42,42.6 "/>
  <polygon ref="712ab7ad-2cf0-4403-8ef7-e1c2987e88c6" id="712ab7ad-2cf0-4403-8ef7-e1c2987e88c6" @mouseover="addHoverClass('712ab7ad-2cf0-4403-8ef7-e1c2987e88c6')" @mouseleave="removeHoverClass('712ab7ad-2cf0-4403-8ef7-e1c2987e88c6')" @click="showModal('712ab7ad-2cf0-4403-8ef7-e1c2987e88c6')" :class="[returnClassRoom('712ab7ad-2cf0-4403-8ef7-e1c2987e88c6'), { 'hoverSvgClassPark': activeFloor === '712ab7ad-2cf0-4403-8ef7-e1c2987e88c6' }]" class="fil0" points="233.91,45.06 238.52,45.06 238.52,55.56 233.91,55.56 "/>
  <polygon ref="545ae1b2-9156-4435-8f53-d8a814b747ea" id="545ae1b2-9156-4435-8f53-d8a814b747ea" @mouseover="addHoverClass('545ae1b2-9156-4435-8f53-d8a814b747ea')" @mouseleave="removeHoverClass('545ae1b2-9156-4435-8f53-d8a814b747ea')" @click="showModal('545ae1b2-9156-4435-8f53-d8a814b747ea')" :class="[returnClassRoom('545ae1b2-9156-4435-8f53-d8a814b747ea'), { 'hoverSvgClassPark': activeFloor === '545ae1b2-9156-4435-8f53-d8a814b747ea' }]" class="fil0" points="238.76,45.06 243.37,45.06 243.37,55.56 238.76,55.56 "/>
  <polygon ref="7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd" id="7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd" @mouseover="addHoverClass('7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd')" @mouseleave="removeHoverClass('7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd')" @click="showModal('7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd')" :class="[returnClassRoom('7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd'), { 'hoverSvgClassPark': activeFloor === '7bb4d0fd-80e4-4f68-92b6-dbdbf264e9cd' }]" class="fil0" points="216.01,45.06 220.62,45.06 220.62,55.56 216.01,55.56 "/>
  <polygon ref="9f605c28-651e-41b0-bad1-20c4dc2260e7" id="9f605c28-651e-41b0-bad1-20c4dc2260e7" @mouseover="addHoverClass('9f605c28-651e-41b0-bad1-20c4dc2260e7')" @mouseleave="removeHoverClass('9f605c28-651e-41b0-bad1-20c4dc2260e7')" @click="showModal('9f605c28-651e-41b0-bad1-20c4dc2260e7')" :class="[returnClassRoom('9f605c28-651e-41b0-bad1-20c4dc2260e7'), { 'hoverSvgClassPark': activeFloor === '9f605c28-651e-41b0-bad1-20c4dc2260e7' }]" class="fil0" points="202.38,45.1 206.99,45.1 206.99,55.6 202.38,55.6 "/>
  <polygon ref="802da5b5-7db0-4f40-a679-9856fce894fb" id="802da5b5-7db0-4f40-a679-9856fce894fb" @mouseover="addHoverClass('802da5b5-7db0-4f40-a679-9856fce894fb')" @mouseleave="removeHoverClass('802da5b5-7db0-4f40-a679-9856fce894fb')" @click="showModal('802da5b5-7db0-4f40-a679-9856fce894fb')" :class="[returnClassRoom('802da5b5-7db0-4f40-a679-9856fce894fb'), { 'hoverSvgClassPark': activeFloor === '802da5b5-7db0-4f40-a679-9856fce894fb' }]" class="fil0" points="197.59,45.1 202.2,45.1 202.2,55.6 197.59,55.6 "/>
  <polygon ref="e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a" id="e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a" @mouseover="addHoverClass('e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a')" @mouseleave="removeHoverClass('e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a')" @click="showModal('e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a')" :class="[returnClassRoom('e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a'), { 'hoverSvgClassPark': activeFloor === 'e7e98cb1-b4b9-4eff-b4d2-c3cc09760c5a' }]" class="fil0" points="196.6,71.78 200.99,71.78 200.99,82.27 196.6,82.27 "/>
  <polygon ref="5c8b89d4-d2b4-44a9-a95a-5a97fba1c210" id="5c8b89d4-d2b4-44a9-a95a-5a97fba1c210" @mouseover="addHoverClass('5c8b89d4-d2b4-44a9-a95a-5a97fba1c210')" @mouseleave="removeHoverClass('5c8b89d4-d2b4-44a9-a95a-5a97fba1c210')" @click="showModal('5c8b89d4-d2b4-44a9-a95a-5a97fba1c210')" :class="[returnClassRoom('5c8b89d4-d2b4-44a9-a95a-5a97fba1c210'), { 'hoverSvgClassPark': activeFloor === '5c8b89d4-d2b4-44a9-a95a-5a97fba1c210' }]" class="fil0" points="201.35,71.78 205.74,71.78 205.74,82.27 201.35,82.27 "/>
  <polygon ref="52495c84-4e6c-4a7b-8faf-646a33d7b1a0" id="52495c84-4e6c-4a7b-8faf-646a33d7b1a0" @mouseover="addHoverClass('52495c84-4e6c-4a7b-8faf-646a33d7b1a0')" @mouseleave="removeHoverClass('52495c84-4e6c-4a7b-8faf-646a33d7b1a0')" @click="showModal('52495c84-4e6c-4a7b-8faf-646a33d7b1a0')" :class="[returnClassRoom('52495c84-4e6c-4a7b-8faf-646a33d7b1a0'), { 'hoverSvgClassPark': activeFloor === '52495c84-4e6c-4a7b-8faf-646a33d7b1a0' }]" class="fil0" points="196.71,84.55 201.1,84.55 201.1,95.05 196.71,95.05 "/>
  <polygon ref="a45abd6a-2fe8-44c5-a8be-3c220d0e49af" id="a45abd6a-2fe8-44c5-a8be-3c220d0e49af" @mouseover="addHoverClass('a45abd6a-2fe8-44c5-a8be-3c220d0e49af')" @mouseleave="removeHoverClass('a45abd6a-2fe8-44c5-a8be-3c220d0e49af')" @click="showModal('a45abd6a-2fe8-44c5-a8be-3c220d0e49af')" :class="[returnClassRoom('a45abd6a-2fe8-44c5-a8be-3c220d0e49af'), { 'hoverSvgClassPark': activeFloor === 'a45abd6a-2fe8-44c5-a8be-3c220d0e49af' }]" class="fil0" points="201.45,84.55 205.85,84.55 205.85,95.05 201.45,95.05 "/>
  <polygon ref="db7ee702-9cae-4c0d-9be4-42e59630f683" id="db7ee702-9cae-4c0d-9be4-42e59630f683" @mouseover="addHoverClass('db7ee702-9cae-4c0d-9be4-42e59630f683')" @mouseleave="removeHoverClass('db7ee702-9cae-4c0d-9be4-42e59630f683')" @click="showModal('db7ee702-9cae-4c0d-9be4-42e59630f683')" :class="[returnClassRoom('db7ee702-9cae-4c0d-9be4-42e59630f683'), { 'hoverSvgClassPark': activeFloor === 'db7ee702-9cae-4c0d-9be4-42e59630f683' }]" class="fil0" points="234.04,71.57 238.44,71.57 238.44,83.77 234.04,83.77 "/>
  <polygon ref="bf0cce07-2940-4a1a-b71a-b308957821f2" id="bf0cce07-2940-4a1a-b71a-b308957821f2" @mouseover="addHoverClass('bf0cce07-2940-4a1a-b71a-b308957821f2')" @mouseleave="removeHoverClass('bf0cce07-2940-4a1a-b71a-b308957821f2')" @click="showModal('bf0cce07-2940-4a1a-b71a-b308957821f2')" :class="[returnClassRoom('bf0cce07-2940-4a1a-b71a-b308957821f2'), { 'hoverSvgClassPark': activeFloor === 'bf0cce07-2940-4a1a-b71a-b308957821f2' }]" class="fil0" points="238.79,71.57 243.18,71.57 243.18,83.77 238.79,83.77 "/>
  <polygon ref="8e76d8d0-5239-4055-a7f6-350f602c3767" id="8e76d8d0-5239-4055-a7f6-350f602c3767" @mouseover="addHoverClass('8e76d8d0-5239-4055-a7f6-350f602c3767')" @mouseleave="removeHoverClass('8e76d8d0-5239-4055-a7f6-350f602c3767')" @click="showModal('8e76d8d0-5239-4055-a7f6-350f602c3767')" :class="[returnClassRoom('8e76d8d0-5239-4055-a7f6-350f602c3767'), { 'hoverSvgClassPark': activeFloor === '8e76d8d0-5239-4055-a7f6-350f602c3767' }]" class="fil0" points="252.47,84.23 256.86,84.23 256.86,94.72 252.47,94.72 "/>
  <polygon ref="faf86c5f-a1b9-46b5-9fd0-5e8edb350eff" id="faf86c5f-a1b9-46b5-9fd0-5e8edb350eff" @mouseover="addHoverClass('faf86c5f-a1b9-46b5-9fd0-5e8edb350eff')" @mouseleave="removeHoverClass('faf86c5f-a1b9-46b5-9fd0-5e8edb350eff')" @click="showModal('faf86c5f-a1b9-46b5-9fd0-5e8edb350eff')" :class="[returnClassRoom('faf86c5f-a1b9-46b5-9fd0-5e8edb350eff'), { 'hoverSvgClassPark': activeFloor === 'faf86c5f-a1b9-46b5-9fd0-5e8edb350eff' }]" class="fil0" points="252.08,110.47 256.48,110.47 256.48,120.97 252.08,120.97 "/>
  <polygon ref="ae48decd-6863-4a26-88e4-97f64899dc63" id="ae48decd-6863-4a26-88e4-97f64899dc63" @mouseover="addHoverClass('ae48decd-6863-4a26-88e4-97f64899dc63')" @mouseleave="removeHoverClass('ae48decd-6863-4a26-88e4-97f64899dc63')" @click="showModal('ae48decd-6863-4a26-88e4-97f64899dc63')" :class="[returnClassRoom('ae48decd-6863-4a26-88e4-97f64899dc63'), { 'hoverSvgClassPark': activeFloor === 'ae48decd-6863-4a26-88e4-97f64899dc63' }]" class="fil0" points="238.89,110.47 243.29,110.47 243.29,120.97 238.89,120.97 "/>
  <polygon ref="509c6fff-abb3-4dc2-8f74-01c259423766" id="509c6fff-abb3-4dc2-8f74-01c259423766" @mouseover="addHoverClass('509c6fff-abb3-4dc2-8f74-01c259423766')" @mouseleave="removeHoverClass('509c6fff-abb3-4dc2-8f74-01c259423766')" @click="showModal('509c6fff-abb3-4dc2-8f74-01c259423766')" :class="[returnClassRoom('509c6fff-abb3-4dc2-8f74-01c259423766'), { 'hoverSvgClassPark': activeFloor === '509c6fff-abb3-4dc2-8f74-01c259423766' }]" class="fil0" points="234,110.47 238.39,110.47 238.39,120.97 234,120.97 "/>
  <polygon ref="7b54adba-841c-4e81-b83e-a971ec283209" id="7b54adba-841c-4e81-b83e-a971ec283209" @mouseover="addHoverClass('7b54adba-841c-4e81-b83e-a971ec283209')" @mouseleave="removeHoverClass('7b54adba-841c-4e81-b83e-a971ec283209')" @click="showModal('7b54adba-841c-4e81-b83e-a971ec283209')" :class="[returnClassRoom('7b54adba-841c-4e81-b83e-a971ec283209'), { 'hoverSvgClassPark': activeFloor === '7b54adba-841c-4e81-b83e-a971ec283209' }]" class="fil0" points="217.61,110.51 222,110.51 222,121.01 217.61,121.01 "/>
  <polygon ref="ef077788-fceb-41e2-8b00-07de4b3b9703" id="ef077788-fceb-41e2-8b00-07de4b3b9703" @mouseover="addHoverClass('ef077788-fceb-41e2-8b00-07de4b3b9703')" @mouseleave="removeHoverClass('ef077788-fceb-41e2-8b00-07de4b3b9703')" @click="showModal('ef077788-fceb-41e2-8b00-07de4b3b9703')" :class="[returnClassRoom('ef077788-fceb-41e2-8b00-07de4b3b9703'), { 'hoverSvgClassPark': activeFloor === 'ef077788-fceb-41e2-8b00-07de4b3b9703' }]" class="fil0" points="202.1,110.51 206.49,110.51 206.49,121.01 202.1,121.01 "/>
  <polygon ref="92779464-742f-43cd-90e7-ed51aaefa46a" id="92779464-742f-43cd-90e7-ed51aaefa46a" @mouseover="addHoverClass('92779464-742f-43cd-90e7-ed51aaefa46a')" @mouseleave="removeHoverClass('92779464-742f-43cd-90e7-ed51aaefa46a')" @click="showModal('92779464-742f-43cd-90e7-ed51aaefa46a')" :class="[returnClassRoom('92779464-742f-43cd-90e7-ed51aaefa46a'), { 'hoverSvgClassPark': activeFloor === '92779464-742f-43cd-90e7-ed51aaefa46a' }]" class="fil0" points="197.09,110.51 201.48,110.51 201.48,121.01 197.09,121.01 "/>
  <polygon ref="0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf" id="0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf" @mouseover="addHoverClass('0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf')" @mouseleave="removeHoverClass('0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf')" @click="showModal('0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf')" :class="[returnClassRoom('0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf'), { 'hoverSvgClassPark': activeFloor === '0fde5bc6-c0fd-46d3-9e6e-bb2852ca78cf' }]" class="fil0" points="176.24,109.25 176.24,104.86 185.22,104.86 185.22,109.25 "/>
  <polygon ref="159cb935-ef63-410b-b870-91108329d3b4" id="159cb935-ef63-410b-b870-91108329d3b4" @mouseover="addHoverClass('159cb935-ef63-410b-b870-91108329d3b4')" @mouseleave="removeHoverClass('159cb935-ef63-410b-b870-91108329d3b4')" @click="showModal('159cb935-ef63-410b-b870-91108329d3b4')" :class="[returnClassRoom('159cb935-ef63-410b-b870-91108329d3b4'), { 'hoverSvgClassPark': activeFloor === '159cb935-ef63-410b-b870-91108329d3b4' }]" class="fil0" points="176.24,104.48 176.24,101.12 185.22,101.12 185.22,104.48 "/>
  <polygon ref="410ef579-a469-4bbe-8e80-a939f6ca541c" id="410ef579-a469-4bbe-8e80-a939f6ca541c" @mouseover="addHoverClass('410ef579-a469-4bbe-8e80-a939f6ca541c')" @mouseleave="removeHoverClass('410ef579-a469-4bbe-8e80-a939f6ca541c')" @click="showModal('410ef579-a469-4bbe-8e80-a939f6ca541c')" :class="[returnClassRoom('410ef579-a469-4bbe-8e80-a939f6ca541c'), { 'hoverSvgClassPark': activeFloor === '410ef579-a469-4bbe-8e80-a939f6ca541c' }]" class="fil0" points="156.11,8.95 160.72,8.95 160.72,19.45 156.11,19.45 "/>
  <polygon ref="0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119" id="0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119" @mouseover="addHoverClass('0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119')" @mouseleave="removeHoverClass('0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119')" @click="showModal('0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119')" :class="[returnClassRoom('0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119'), { 'hoverSvgClassPark': activeFloor === '0bb5f1c4-3f58-46b6-84a7-f3b9c6ec4119' }]" class="fil0" points="181.63,8.95 186.24,8.95 186.24,19.45 181.63,19.45 181.63,17.56 182.49,16.19 182.49,14.5 181.63,14.5 "/>
  <polygon ref="a62f30c0-e4c4-4922-b5cc-af33c934ef09" id="a62f30c0-e4c4-4922-b5cc-af33c934ef09" @mouseover="addHoverClass('a62f30c0-e4c4-4922-b5cc-af33c934ef09')" @mouseleave="removeHoverClass('a62f30c0-e4c4-4922-b5cc-af33c934ef09')" @click="showModal('a62f30c0-e4c4-4922-b5cc-af33c934ef09')" :class="[returnClassRoom('a62f30c0-e4c4-4922-b5cc-af33c934ef09'), { 'hoverSvgClassPark': activeFloor === 'a62f30c0-e4c4-4922-b5cc-af33c934ef09' }]" class="fil0" points="194.03,8.77 198.64,8.77 198.64,19.27 194.03,19.27 194.03,17.72 195.48,16.45 195.38,14.68 194.03,14.68 "/>
  <polygon ref="1e21176d-6062-4827-9007-09e1bd528412" id="1e21176d-6062-4827-9007-09e1bd528412" @mouseover="addHoverClass('1e21176d-6062-4827-9007-09e1bd528412')" @mouseleave="removeHoverClass('1e21176d-6062-4827-9007-09e1bd528412')" @click="showModal('1e21176d-6062-4827-9007-09e1bd528412')" :class="[returnClassRoom('1e21176d-6062-4827-9007-09e1bd528412'), { 'hoverSvgClassPark': activeFloor === '1e21176d-6062-4827-9007-09e1bd528412' }]" class="fil0" points="211,8.77 215.61,8.77 215.61,19.27 211,19.27 211,18.14 213.65,16.43 213.69,14.64 212.05,14.66 211,15.45 "/>
  <polygon ref="108ab6f2-dd14-4d8d-a97d-8660e4c5139b" id="108ab6f2-dd14-4d8d-a97d-8660e4c5139b" @mouseover="addHoverClass('108ab6f2-dd14-4d8d-a97d-8660e4c5139b')" @mouseleave="removeHoverClass('108ab6f2-dd14-4d8d-a97d-8660e4c5139b')" @click="showModal('108ab6f2-dd14-4d8d-a97d-8660e4c5139b')" :class="[returnClassRoom('108ab6f2-dd14-4d8d-a97d-8660e4c5139b'), { 'hoverSvgClassPark': activeFloor === '108ab6f2-dd14-4d8d-a97d-8660e4c5139b' }]" class="fil0" points="228.19,8.95 232.8,8.95 232.8,19.45 228.19,19.45 228.19,18.66 232.28,16.43 232.27,14.6 230.87,14.6 228.16,16.15 "/>
  <polygon ref="98c5c788-23e2-4f9d-81fc-5d7178e41edd" id="98c5c788-23e2-4f9d-81fc-5d7178e41edd" @mouseover="addHoverClass('98c5c788-23e2-4f9d-81fc-5d7178e41edd')" @mouseleave="removeHoverClass('98c5c788-23e2-4f9d-81fc-5d7178e41edd')" @click="showModal('98c5c788-23e2-4f9d-81fc-5d7178e41edd')" :class="[returnClassRoom('98c5c788-23e2-4f9d-81fc-5d7178e41edd'), { 'hoverSvgClassPark': activeFloor === '98c5c788-23e2-4f9d-81fc-5d7178e41edd' }]" class="fil0" points="67.91,32.08 72.52,32.08 72.52,41.19 72.5,42.58 72.26,42.58 67.91,42.58 "/>
  <polygon ref="144b4b04-e2c2-43fb-b299-2fe869df8c96" id="144b4b04-e2c2-43fb-b299-2fe869df8c96" @mouseover="addHoverClass('144b4b04-e2c2-43fb-b299-2fe869df8c96')" @mouseleave="removeHoverClass('144b4b04-e2c2-43fb-b299-2fe869df8c96')" @click="showModal('144b4b04-e2c2-43fb-b299-2fe869df8c96')" :class="[returnClassRoom('144b4b04-e2c2-43fb-b299-2fe869df8c96'), { 'hoverSvgClassPark': activeFloor === '144b4b04-e2c2-43fb-b299-2fe869df8c96' }]" class="fil0" points="72.83,32.08 76.49,32.08 76.5,33.52 77.45,34.19 77.45,41.59 72.83,41.59 "/>
  <polygon ref="77d93dd4-47a0-4971-9f29-b10c1e6f497f" id="77d93dd4-47a0-4971-9f29-b10c1e6f497f" @mouseover="addHoverClass('77d93dd4-47a0-4971-9f29-b10c1e6f497f')" @mouseleave="removeHoverClass('77d93dd4-47a0-4971-9f29-b10c1e6f497f')" @click="showModal('77d93dd4-47a0-4971-9f29-b10c1e6f497f')" :class="[returnClassRoom('77d93dd4-47a0-4971-9f29-b10c1e6f497f'), { 'hoverSvgClassPark': activeFloor === '77d93dd4-47a0-4971-9f29-b10c1e6f497f' }]" class="fil0" points="80.85,32.1 85.47,32.1 85.47,41.62 80.85,41.62 "/>
  <polygon ref="2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f" id="2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f" @mouseover="addHoverClass('2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f')" @mouseleave="removeHoverClass('2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f')" @click="showModal('2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f')" :class="[returnClassRoom('2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f'), { 'hoverSvgClassPark': activeFloor === '2ba84f85-7b75-4a14-84f9-2bf5d5da4e3f' }]" class="fil0" points="85.74,32.1 88.93,32.1 88.93,33.4 90.37,34.71 90.37,42.72 87.79,42.73 87.75,41.44 85.73,41.44 "/>
  <polygon ref="b563606d-d80d-4d9c-8785-ebb786f8d0b8" id="b563606d-d80d-4d9c-8785-ebb786f8d0b8" @mouseover="addHoverClass('b563606d-d80d-4d9c-8785-ebb786f8d0b8')" @mouseleave="removeHoverClass('b563606d-d80d-4d9c-8785-ebb786f8d0b8')" @click="showModal('b563606d-d80d-4d9c-8785-ebb786f8d0b8')" :class="[returnClassRoom('b563606d-d80d-4d9c-8785-ebb786f8d0b8'), { 'hoverSvgClassPark': activeFloor === 'b563606d-d80d-4d9c-8785-ebb786f8d0b8' }]" class="fil0" points="86.5,45.04 91.11,45.04 91.11,55.54 86.5,55.54 "/>
  <polygon ref="19794085-370f-4667-beff-19524faf9576" id="19794085-370f-4667-beff-19524faf9576" @mouseover="addHoverClass('19794085-370f-4667-beff-19524faf9576')" @mouseleave="removeHoverClass('19794085-370f-4667-beff-19524faf9576')" @click="showModal('19794085-370f-4667-beff-19524faf9576')" :class="[returnClassRoom('19794085-370f-4667-beff-19524faf9576'), { 'hoverSvgClassPark': activeFloor === '19794085-370f-4667-beff-19524faf9576' }]" class="fil0" points="91.31,45.04 94.46,45.04 94.41,52.13 95.92,52.17 95.92,55.54 91.31,55.54 "/>
  <polygon ref="8231a4b0-0993-4bda-a97a-5ce92b84c2df" id="8231a4b0-0993-4bda-a97a-5ce92b84c2df" @mouseover="addHoverClass('8231a4b0-0993-4bda-a97a-5ce92b84c2df')" @mouseleave="removeHoverClass('8231a4b0-0993-4bda-a97a-5ce92b84c2df')" @click="showModal('8231a4b0-0993-4bda-a97a-5ce92b84c2df')" :class="[returnClassRoom('8231a4b0-0993-4bda-a97a-5ce92b84c2df'), { 'hoverSvgClassPark': activeFloor === '8231a4b0-0993-4bda-a97a-5ce92b84c2df' }]" class="fil0" points="71,45.08 73.34,45.08 73.3,51.99 75.61,52.03 75.61,55.58 71,55.58 "/>
  <polygon ref="3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a" id="3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a" @mouseover="addHoverClass('3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a')" @mouseleave="removeHoverClass('3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a')" @click="showModal('3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a')" :class="[returnClassRoom('3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a'), { 'hoverSvgClassPark': activeFloor === '3b2e9f4b-7a4a-42e5-b446-b4bb8bc7cc9a' }]" class="fil0" points="56.33,45.04 60.94,45.04 60.94,51.58 58.72,51.58 58.68,54.43 59.06,54.44 60.94,54.57 60.94,55.54 56.33,55.54 "/>
  <polygon ref="0d2e9fcf-f9ff-4194-9a62-608eb2d76d82" id="0d2e9fcf-f9ff-4194-9a62-608eb2d76d82" @mouseover="addHoverClass('0d2e9fcf-f9ff-4194-9a62-608eb2d76d82')" @mouseleave="removeHoverClass('0d2e9fcf-f9ff-4194-9a62-608eb2d76d82')" @click="showModal('0d2e9fcf-f9ff-4194-9a62-608eb2d76d82')" :class="[returnClassRoom('0d2e9fcf-f9ff-4194-9a62-608eb2d76d82'), { 'hoverSvgClassPark': activeFloor === '0d2e9fcf-f9ff-4194-9a62-608eb2d76d82' }]" class="fil0" points="92.82,32.11 97.44,32.11 97.44,41.41 94.75,41.39 94.74,42.52 92.82,42.52 "/>
  <polygon ref="b5aee812-d4cf-4afc-a3ac-c00c271853fc" id="b5aee812-d4cf-4afc-a3ac-c00c271853fc" @mouseover="addHoverClass('b5aee812-d4cf-4afc-a3ac-c00c271853fc')" @mouseleave="removeHoverClass('b5aee812-d4cf-4afc-a3ac-c00c271853fc')" @click="showModal('b5aee812-d4cf-4afc-a3ac-c00c271853fc')" :class="[returnClassRoom('b5aee812-d4cf-4afc-a3ac-c00c271853fc'), { 'hoverSvgClassPark': activeFloor === 'b5aee812-d4cf-4afc-a3ac-c00c271853fc' }]" class="fil0" points="97.85,32.11 102.46,32.11 102.46,42.6 101.39,42.6 99.7,41.41 97.85,41.41 "/>
  <polygon ref="e6b98354-80e3-4cb1-b872-5659e4bf6da3" id="e6b98354-80e3-4cb1-b872-5659e4bf6da3" @mouseover="addHoverClass('e6b98354-80e3-4cb1-b872-5659e4bf6da3')" @mouseleave="removeHoverClass('e6b98354-80e3-4cb1-b872-5659e4bf6da3')" @click="showModal('e6b98354-80e3-4cb1-b872-5659e4bf6da3')" :class="[returnClassRoom('e6b98354-80e3-4cb1-b872-5659e4bf6da3'), { 'hoverSvgClassPark': activeFloor === 'e6b98354-80e3-4cb1-b872-5659e4bf6da3' }]" class="fil0" points="103.14,32.11 106.42,32.11 106.46,33.16 107.75,34.59 107.75,41.53 105.17,41.51 105.17,42.6 103.14,42.6 "/>
  <polygon ref="23e51cd4-1234-4b0d-a55c-9e190031f417" id="23e51cd4-1234-4b0d-a55c-9e190031f417" @mouseover="addHoverClass('23e51cd4-1234-4b0d-a55c-9e190031f417')" @mouseleave="removeHoverClass('23e51cd4-1234-4b0d-a55c-9e190031f417')" @click="showModal('23e51cd4-1234-4b0d-a55c-9e190031f417')" :class="[returnClassRoom('23e51cd4-1234-4b0d-a55c-9e190031f417'), { 'hoverSvgClassPark': activeFloor === '23e51cd4-1234-4b0d-a55c-9e190031f417' }]" class="fil0" points="101.71,45.12 105.01,45.12 105.01,52.15 106.32,52.17 106.32,55.62 101.71,55.62 "/>
  <polygon ref="616c893e-938e-4fd6-b54f-9568248b76b8" id="616c893e-938e-4fd6-b54f-9568248b76b8" @mouseover="addHoverClass('616c893e-938e-4fd6-b54f-9568248b76b8')" @mouseleave="removeHoverClass('616c893e-938e-4fd6-b54f-9568248b76b8')" @click="showModal('616c893e-938e-4fd6-b54f-9568248b76b8')" :class="[returnClassRoom('616c893e-938e-4fd6-b54f-9568248b76b8'), { 'hoverSvgClassPark': activeFloor === '616c893e-938e-4fd6-b54f-9568248b76b8' }]" class="fil0" points="117.18,45.04 121.01,45.04 121,52.19 121.79,52.21 121.79,55.54 117.18,55.54 "/>
  <polygon ref="a74257d7-5e38-42c8-8a48-f6c2b1de7478" id="a74257d7-5e38-42c8-8a48-f6c2b1de7478" @mouseover="addHoverClass('a74257d7-5e38-42c8-8a48-f6c2b1de7478')" @mouseleave="removeHoverClass('a74257d7-5e38-42c8-8a48-f6c2b1de7478')" @click="showModal('a74257d7-5e38-42c8-8a48-f6c2b1de7478')" :class="[returnClassRoom('a74257d7-5e38-42c8-8a48-f6c2b1de7478'), { 'hoverSvgClassPark': activeFloor === 'a74257d7-5e38-42c8-8a48-f6c2b1de7478' }]" class="fil0" points="136.96,32.12 141.57,32.12 141.57,42.62 138.85,42.62 138.86,41.66 136.97,41.62 136.96,41.16 "/>
  <polygon ref="897f2d9b-ff72-4be1-b37f-3889ca63b680" id="897f2d9b-ff72-4be1-b37f-3889ca63b680" @mouseover="addHoverClass('897f2d9b-ff72-4be1-b37f-3889ca63b680')" @mouseleave="removeHoverClass('897f2d9b-ff72-4be1-b37f-3889ca63b680')" @click="showModal('897f2d9b-ff72-4be1-b37f-3889ca63b680')" :class="[returnClassRoom('897f2d9b-ff72-4be1-b37f-3889ca63b680'), { 'hoverSvgClassPark': activeFloor === '897f2d9b-ff72-4be1-b37f-3889ca63b680' }]" class="fil0" points="132.05,32.12 136.67,32.12 136.67,41.7 132.05,41.7 "/>
  <polygon ref="1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c" id="1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c" @mouseover="addHoverClass('1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c')" @mouseleave="removeHoverClass('1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c')" @click="showModal('1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c')" :class="[returnClassRoom('1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c'), { 'hoverSvgClassPark': activeFloor === '1203ce2d-ee0f-4ecc-ad7e-93e50c6d229c' }]" class="fil0" points="127.03,32.12 131.64,32.12 131.64,41.2 131.64,41.52 130.92,41.53 130.94,42.62 129.64,42.62 127.03,42.62 "/>
  <polygon ref="ff51b056-11d9-47d6-8a02-febae1cffa17" id="ff51b056-11d9-47d6-8a02-febae1cffa17" @mouseover="addHoverClass('ff51b056-11d9-47d6-8a02-febae1cffa17')" @mouseleave="removeHoverClass('ff51b056-11d9-47d6-8a02-febae1cffa17')" @click="showModal('ff51b056-11d9-47d6-8a02-febae1cffa17')" :class="[returnClassRoom('ff51b056-11d9-47d6-8a02-febae1cffa17'), { 'hoverSvgClassPark': activeFloor === 'ff51b056-11d9-47d6-8a02-febae1cffa17' }]" class="fil0" points="92.17,71.36 96.2,71.36 96.22,75.64 96.78,75.64 96.78,81.86 92.17,81.86 "/>
  <polygon ref="85d91376-222c-4a16-afd2-831377d4826a" id="85d91376-222c-4a16-afd2-831377d4826a" @mouseover="addHoverClass('85d91376-222c-4a16-afd2-831377d4826a')" @mouseleave="removeHoverClass('85d91376-222c-4a16-afd2-831377d4826a')" @click="showModal('85d91376-222c-4a16-afd2-831377d4826a')" :class="[returnClassRoom('85d91376-222c-4a16-afd2-831377d4826a'), { 'hoverSvgClassPark': activeFloor === '85d91376-222c-4a16-afd2-831377d4826a' }]" class="fil0" points="92.51,110.45 97.12,110.45 97.12,112.36 96.36,112.95 96.32,116.3 97.12,116.3 97.12,120.95 92.51,120.95 "/>
  <polygon ref="4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c" id="4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c" @mouseover="addHoverClass('4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c')" @mouseleave="removeHoverClass('4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c')" @click="showModal('4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c')" :class="[returnClassRoom('4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c'), { 'hoverSvgClassPark': activeFloor === '4fe2ba6a-967d-4cc7-b94e-5ef1b850a61c' }]" class="fil0" points="150.3,32.13 154.91,32.13 154.91,41.75 152.03,41.71 151.99,42.62 150.3,42.62 "/>
  <polygon ref="ce4ba896-6553-41c9-9935-18a074915698" id="ce4ba896-6553-41c9-9935-18a074915698" @mouseover="addHoverClass('ce4ba896-6553-41c9-9935-18a074915698')" @mouseleave="removeHoverClass('ce4ba896-6553-41c9-9935-18a074915698')" @click="showModal('ce4ba896-6553-41c9-9935-18a074915698')" :class="[returnClassRoom('ce4ba896-6553-41c9-9935-18a074915698'), { 'hoverSvgClassPark': activeFloor === 'ce4ba896-6553-41c9-9935-18a074915698' }]" class="fil0" points="155.39,32.13 160,32.13 160,41.63 155.39,41.63 "/>
  <polygon ref="cd1e5845-8c81-40d7-8dd9-e30a7384d409" id="cd1e5845-8c81-40d7-8dd9-e30a7384d409" @mouseover="addHoverClass('cd1e5845-8c81-40d7-8dd9-e30a7384d409')" @mouseleave="removeHoverClass('cd1e5845-8c81-40d7-8dd9-e30a7384d409')" @click="showModal('cd1e5845-8c81-40d7-8dd9-e30a7384d409')" :class="[returnClassRoom('cd1e5845-8c81-40d7-8dd9-e30a7384d409'), { 'hoverSvgClassPark': activeFloor === 'cd1e5845-8c81-40d7-8dd9-e30a7384d409' }]" class="fil0" points="229.19,71.57 233.59,71.57 233.59,83.73 231.55,83.73 231.56,74.8 230.47,74.78 230.44,72.36 229.19,72.36 "/>
  <polygon ref="1f63dcc1-b3b3-4650-a78c-12e94d447f65" id="1f63dcc1-b3b3-4650-a78c-12e94d447f65" @mouseover="addHoverClass('1f63dcc1-b3b3-4650-a78c-12e94d447f65')" @mouseleave="removeHoverClass('1f63dcc1-b3b3-4650-a78c-12e94d447f65')" @click="showModal('1f63dcc1-b3b3-4650-a78c-12e94d447f65')" :class="[returnClassRoom('1f63dcc1-b3b3-4650-a78c-12e94d447f65'), { 'hoverSvgClassPark': activeFloor === '1f63dcc1-b3b3-4650-a78c-12e94d447f65' }]" class="fil0" points="247.24,84.42 251.64,84.44 251.73,94.93 251.05,94.92 251.05,93.29 247.26,92.52 "/>
  <polygon ref="299abbf3-5edb-4b4d-b28a-d04a8f65aee2" id="299abbf3-5edb-4b4d-b28a-d04a8f65aee2" @mouseover="addHoverClass('299abbf3-5edb-4b4d-b28a-d04a8f65aee2')" @mouseleave="removeHoverClass('299abbf3-5edb-4b4d-b28a-d04a8f65aee2')" @click="showModal('299abbf3-5edb-4b4d-b28a-d04a8f65aee2')" :class="[returnClassRoom('299abbf3-5edb-4b4d-b28a-d04a8f65aee2'), { 'hoverSvgClassPark': activeFloor === '299abbf3-5edb-4b4d-b28a-d04a8f65aee2' }]" class="fil0" points="186.47,31.92 191.09,31.92 191.09,41.37 189.77,41.43 189.77,41.43 186.47,41.36 "/>
  <polygon ref="fd42b732-f22a-4236-b47b-0c733add089f" id="fd42b732-f22a-4236-b47b-0c733add089f" @mouseover="addHoverClass('fd42b732-f22a-4236-b47b-0c733add089f')" @mouseleave="removeHoverClass('fd42b732-f22a-4236-b47b-0c733add089f')" @click="showModal('fd42b732-f22a-4236-b47b-0c733add089f')" :class="[returnClassRoom('fd42b732-f22a-4236-b47b-0c733add089f'), { 'hoverSvgClassPark': activeFloor === 'fd42b732-f22a-4236-b47b-0c733add089f' }]" class="fil0" points="203.56,32.12 208.17,32.12 208.17,41.6 203.56,41.61 "/>
  <polygon ref="ad4fa069-3814-4d15-b579-831cb94f91f6" id="ad4fa069-3814-4d15-b579-831cb94f91f6" @mouseover="addHoverClass('ad4fa069-3814-4d15-b579-831cb94f91f6')" @mouseleave="removeHoverClass('ad4fa069-3814-4d15-b579-831cb94f91f6')" @click="showModal('ad4fa069-3814-4d15-b579-831cb94f91f6')" :class="[returnClassRoom('ad4fa069-3814-4d15-b579-831cb94f91f6'), { 'hoverSvgClassPark': activeFloor === 'ad4fa069-3814-4d15-b579-831cb94f91f6' }]" class="fil0" points="182.5,33.46 182.5,31.92 186.22,31.92 186.2,41.54 182.58,41.62 181.59,42.2 181.59,34.18 "/>
  <polygon ref="98674f5e-c218-45d8-8941-d1dec4d6b3bc" id="98674f5e-c218-45d8-8941-d1dec4d6b3bc" @mouseover="addHoverClass('98674f5e-c218-45d8-8941-d1dec4d6b3bc')" @mouseleave="removeHoverClass('98674f5e-c218-45d8-8941-d1dec4d6b3bc')" @click="showModal('98674f5e-c218-45d8-8941-d1dec4d6b3bc')" :class="[returnClassRoom('98674f5e-c218-45d8-8941-d1dec4d6b3bc'), { 'hoverSvgClassPark': activeFloor === '98674f5e-c218-45d8-8941-d1dec4d6b3bc' }]" class="fil0" points="195.43,32.11 198.47,32.12 198.47,42.62 194.26,42.62 194.28,41.57 193.86,41.59 193.86,34.31 195.45,33.42 "/>
  <polygon ref="02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0" id="02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0" @mouseover="addHoverClass('02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0')" @mouseleave="removeHoverClass('02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0')" @click="showModal('02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0')" :class="[returnClassRoom('02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0'), { 'hoverSvgClassPark': activeFloor === '02cbb8b3-11c7-4f66-a2b8-09b4aa0fe2f0' }]" class="fil0" points="198.75,32.12 203.36,32.12 203.36,41.56 200.63,42.66 198.77,42.64 "/>
  <polygon ref="0f00b668-deff-426f-b14f-e6894479378c" id="0f00b668-deff-426f-b14f-e6894479378c" @mouseover="addHoverClass('0f00b668-deff-426f-b14f-e6894479378c')" @mouseleave="removeHoverClass('0f00b668-deff-426f-b14f-e6894479378c')" @click="showModal('0f00b668-deff-426f-b14f-e6894479378c')" :class="[returnClassRoom('0f00b668-deff-426f-b14f-e6894479378c'), { 'hoverSvgClassPark': activeFloor === '0f00b668-deff-426f-b14f-e6894479378c' }]" class="fil0" points="213.76,33.46 213.85,32.07 215.85,32.07 215.85,42.56 211.24,42.56 211.24,34.65 "/>
  <polygon ref="81306576-9ba4-4732-bc4c-9135c834a358" id="81306576-9ba4-4732-bc4c-9135c834a358" @mouseover="addHoverClass('81306576-9ba4-4732-bc4c-9135c834a358')" @mouseleave="removeHoverClass('81306576-9ba4-4732-bc4c-9135c834a358')" @click="showModal('81306576-9ba4-4732-bc4c-9135c834a358')" :class="[returnClassRoom('81306576-9ba4-4732-bc4c-9135c834a358'), { 'hoverSvgClassPark': activeFloor === '81306576-9ba4-4732-bc4c-9135c834a358' }]" class="fil0" points="232.24,45.07 233.01,45.06 233.67,45.06 233.67,55.56 228.94,55.59 228.96,54.57 230.18,54.55 230.14,52.08 232.24,52.02 "/>
  <polygon ref="3db49d23-c691-4a1b-85c8-09c202c8b5aa" id="3db49d23-c691-4a1b-85c8-09c202c8b5aa" @mouseover="addHoverClass('3db49d23-c691-4a1b-85c8-09c202c8b5aa')" @mouseleave="removeHoverClass('3db49d23-c691-4a1b-85c8-09c202c8b5aa')" @click="showModal('3db49d23-c691-4a1b-85c8-09c202c8b5aa')" :class="[returnClassRoom('3db49d23-c691-4a1b-85c8-09c202c8b5aa'), { 'hoverSvgClassPark': activeFloor === '3db49d23-c691-4a1b-85c8-09c202c8b5aa' }]" class="fil0" points="194.16,45.1 197.45,45.1 197.45,55.6 192.83,55.6 192.83,52.11 194.1,52.11 194.14,50.92 "/>
  <polygon ref="f9f6da37-c3c6-48b0-a633-589db39d2d4e" id="f9f6da37-c3c6-48b0-a633-589db39d2d4e" @mouseover="addHoverClass('f9f6da37-c3c6-48b0-a633-589db39d2d4e')" @mouseleave="removeHoverClass('f9f6da37-c3c6-48b0-a633-589db39d2d4e')" @click="showModal('f9f6da37-c3c6-48b0-a633-589db39d2d4e')" :class="[returnClassRoom('f9f6da37-c3c6-48b0-a633-589db39d2d4e'), { 'hoverSvgClassPark': activeFloor === 'f9f6da37-c3c6-48b0-a633-589db39d2d4e' }]" class="fil0" points="181.59,45.96 186.2,45.96 186.2,55.7 181.59,55.7 181.59,54.72 182.49,54.41 182.53,51.66 181.59,51.64 "/>
  <polygon ref="0ad0643c-3864-4066-b9c1-4022f0e90243" id="0ad0643c-3864-4066-b9c1-4022f0e90243" @mouseover="addHoverClass('0ad0643c-3864-4066-b9c1-4022f0e90243')" @mouseleave="removeHoverClass('0ad0643c-3864-4066-b9c1-4022f0e90243')" @click="showModal('0ad0643c-3864-4066-b9c1-4022f0e90243')" :class="[returnClassRoom('0ad0643c-3864-4066-b9c1-4022f0e90243'), { 'hoverSvgClassPark': activeFloor === '0ad0643c-3864-4066-b9c1-4022f0e90243' }]" class="fil0" points="166.94,69.21 172.88,69.21 172.88,79.71 166.94,79.71 "/>
  <polygon ref="7121b0db-76f8-4aad-a06f-88142887128b" id="7121b0db-76f8-4aad-a06f-88142887128b" @mouseover="addHoverClass('7121b0db-76f8-4aad-a06f-88142887128b')" @mouseleave="removeHoverClass('7121b0db-76f8-4aad-a06f-88142887128b')" @click="showModal('7121b0db-76f8-4aad-a06f-88142887128b')" :class="[returnClassRoom('7121b0db-76f8-4aad-a06f-88142887128b'), { 'hoverSvgClassPark': activeFloor === '7121b0db-76f8-4aad-a06f-88142887128b' }]" class="fil0" points="191.87,71.78 196.26,71.78 196.26,82.27 191.87,82.27 191.87,75.46 192.7,75.46 192.69,72.11 191.87,72.12 "/>
  <polygon ref="535049ca-9779-4dac-8a90-bc49d69ad4c1" id="535049ca-9779-4dac-8a90-bc49d69ad4c1" @mouseover="addHoverClass('535049ca-9779-4dac-8a90-bc49d69ad4c1')" @mouseleave="removeHoverClass('535049ca-9779-4dac-8a90-bc49d69ad4c1')" @click="showModal('535049ca-9779-4dac-8a90-bc49d69ad4c1')" :class="[returnClassRoom('535049ca-9779-4dac-8a90-bc49d69ad4c1'), { 'hoverSvgClassPark': activeFloor === '535049ca-9779-4dac-8a90-bc49d69ad4c1' }]" class="fil0" points="192.99,95.04 196.19,95.04 196.19,84.55 191.8,84.55 191.8,91.71 193.01,91.96 "/>
  <polygon ref="2cad6b66-fc4e-42b2-b674-e0b47b6d0673" id="2cad6b66-fc4e-42b2-b674-e0b47b6d0673" @mouseover="addHoverClass('2cad6b66-fc4e-42b2-b674-e0b47b6d0673')" @mouseleave="removeHoverClass('2cad6b66-fc4e-42b2-b674-e0b47b6d0673')" @click="showModal('2cad6b66-fc4e-42b2-b674-e0b47b6d0673')" :class="[returnClassRoom('2cad6b66-fc4e-42b2-b674-e0b47b6d0673'), { 'hoverSvgClassPark': activeFloor === '2cad6b66-fc4e-42b2-b674-e0b47b6d0673' }]" class="fil0" points="212.24,110.47 216.63,110.47 216.63,120.97 212.24,120.97 212.19,116.26 213.11,116.24 213.07,112.67 212.78,112.34 212.24,112.34 "/>
  <polygon ref="bea0aafd-d34c-42f9-bd3f-2ad67923ff72" id="bea0aafd-d34c-42f9-bd3f-2ad67923ff72" @mouseover="addHoverClass('bea0aafd-d34c-42f9-bd3f-2ad67923ff72')" @mouseleave="removeHoverClass('bea0aafd-d34c-42f9-bd3f-2ad67923ff72')" @click="showModal('bea0aafd-d34c-42f9-bd3f-2ad67923ff72')" :class="[returnClassRoom('bea0aafd-d34c-42f9-bd3f-2ad67923ff72'), { 'hoverSvgClassPark': activeFloor === 'bea0aafd-d34c-42f9-bd3f-2ad67923ff72' }]" class="fil0" points="232.18,32.11 233.25,32.11 233.25,42.6 232.3,42.6 "/>
  <polygon ref="65eaec02-3137-40db-b9c7-1372b3f11bea" id="65eaec02-3137-40db-b9c7-1372b3f11bea" @mouseover="addHoverClass('65eaec02-3137-40db-b9c7-1372b3f11bea')" @mouseleave="removeHoverClass('65eaec02-3137-40db-b9c7-1372b3f11bea')" @click="showModal('65eaec02-3137-40db-b9c7-1372b3f11bea')" :class="[returnClassRoom('65eaec02-3137-40db-b9c7-1372b3f11bea'), { 'hoverSvgClassPark': activeFloor === '65eaec02-3137-40db-b9c7-1372b3f11bea' }]" class="fil0" points="73.36,110.41 77.97,110.41 77.97,111.62 75.83,113 75.8,120.91 73.36,120.91 "/>
  <polygon ref="bb0801c2-d479-452e-929a-5db855ef4815" id="bb0801c2-d479-452e-929a-5db855ef4815" @mouseover="addHoverClass('bb0801c2-d479-452e-929a-5db855ef4815')" @mouseleave="removeHoverClass('bb0801c2-d479-452e-929a-5db855ef4815')" @click="showModal('bb0801c2-d479-452e-929a-5db855ef4815')" :class="[returnClassRoom('bb0801c2-d479-452e-929a-5db855ef4815'), { 'hoverSvgClassPark': activeFloor === 'bb0801c2-d479-452e-929a-5db855ef4815' }]" class="fil0" points="243.22,25.77 243.22,21.16 253.71,21.16 253.71,25.77 "/>
  <polygon ref="c9e2d13b-93d7-4188-964e-1c48bf3b1452" id="c9e2d13b-93d7-4188-964e-1c48bf3b1452" @mouseover="addHoverClass('c9e2d13b-93d7-4188-964e-1c48bf3b1452')" @mouseleave="removeHoverClass('c9e2d13b-93d7-4188-964e-1c48bf3b1452')" @click="showModal('c9e2d13b-93d7-4188-964e-1c48bf3b1452')" :class="[returnClassRoom('c9e2d13b-93d7-4188-964e-1c48bf3b1452'), { 'hoverSvgClassPark': activeFloor === 'c9e2d13b-93d7-4188-964e-1c48bf3b1452' }]" class="fil0" points="243.22,30.8 243.22,26.19 253.71,26.19 253.71,30.8 "/>
  <polygon ref="773b1d55-9cff-4079-83bc-e98d43e56b9f" id="773b1d55-9cff-4079-83bc-e98d43e56b9f" @mouseover="addHoverClass('773b1d55-9cff-4079-83bc-e98d43e56b9f')" @mouseleave="removeHoverClass('773b1d55-9cff-4079-83bc-e98d43e56b9f')" @click="showModal('773b1d55-9cff-4079-83bc-e98d43e56b9f')" :class="[returnClassRoom('773b1d55-9cff-4079-83bc-e98d43e56b9f'), { 'hoverSvgClassPark': activeFloor === '773b1d55-9cff-4079-83bc-e98d43e56b9f' }]" class="fil0" points="216.07,32.07 220.68,32.07 220.68,42.56 216.07,42.56 "/>
  <polygon ref="0976bde4-bf55-45b0-acc2-93d21b43caf2" id="0976bde4-bf55-45b0-acc2-93d21b43caf2" @mouseover="addHoverClass('0976bde4-bf55-45b0-acc2-93d21b43caf2')" @mouseleave="removeHoverClass('0976bde4-bf55-45b0-acc2-93d21b43caf2')" @click="showModal('0976bde4-bf55-45b0-acc2-93d21b43caf2')" :class="[returnClassRoom('0976bde4-bf55-45b0-acc2-93d21b43caf2'), { 'hoverSvgClassPark': activeFloor === '0976bde4-bf55-45b0-acc2-93d21b43caf2' }]" class="fil0" points="234.04,84.21 238.44,84.21 238.44,95.01 234.04,95.01 "/>
  <polygon ref="597778f9-8f80-48ac-b814-e163f8d330ec" id="597778f9-8f80-48ac-b814-e163f8d330ec" @mouseover="addHoverClass('597778f9-8f80-48ac-b814-e163f8d330ec')" @mouseleave="removeHoverClass('597778f9-8f80-48ac-b814-e163f8d330ec')" @click="showModal('597778f9-8f80-48ac-b814-e163f8d330ec')" :class="[returnClassRoom('597778f9-8f80-48ac-b814-e163f8d330ec'), { 'hoverSvgClassPark': activeFloor === '597778f9-8f80-48ac-b814-e163f8d330ec' }]" class="fil0" points="238.97,84.21 243.36,84.21 243.36,95.01 238.97,95.01 "/>
  <polygon ref="5ae07c6e-b051-4b4f-a123-c9bc7c3e5431" id="5ae07c6e-b051-4b4f-a123-c9bc7c3e5431" @mouseover="addHoverClass('5ae07c6e-b051-4b4f-a123-c9bc7c3e5431')" @mouseleave="removeHoverClass('5ae07c6e-b051-4b4f-a123-c9bc7c3e5431')" @click="showModal('5ae07c6e-b051-4b4f-a123-c9bc7c3e5431')" :class="[returnClassRoom('5ae07c6e-b051-4b4f-a123-c9bc7c3e5431'), { 'hoverSvgClassPark': activeFloor === '5ae07c6e-b051-4b4f-a123-c9bc7c3e5431' }]" class="fil0" points="231.76,84.21 233.65,84.21 233.65,95.01 230.65,95.01 230.64,93.03 231.72,93.04 "/>
  <polygon ref="0a1d5e13-fb1e-4017-9eac-18069307e39d" id="0a1d5e13-fb1e-4017-9eac-18069307e39d" @mouseover="addHoverClass('0a1d5e13-fb1e-4017-9eac-18069307e39d')" @mouseleave="removeHoverClass('0a1d5e13-fb1e-4017-9eac-18069307e39d')" @click="showModal('0a1d5e13-fb1e-4017-9eac-18069307e39d')" :class="[returnClassRoom('0a1d5e13-fb1e-4017-9eac-18069307e39d'), { 'hoverSvgClassPark': activeFloor === '0a1d5e13-fb1e-4017-9eac-18069307e39d' }]" class="fil0" points="247.39,110.47 251.79,110.47 251.79,120.97 247.39,120.97 247.39,114.83 248.86,115.18 250.16,115.2 250.17,113.45 247.39,112.4 "/>
  <polygon ref="3c0375a9-f803-4780-a5fe-0caa37502ad3" id="3c0375a9-f803-4780-a5fe-0caa37502ad3" @mouseover="addHoverClass('3c0375a9-f803-4780-a5fe-0caa37502ad3')" @mouseleave="removeHoverClass('3c0375a9-f803-4780-a5fe-0caa37502ad3')" @click="showModal('3c0375a9-f803-4780-a5fe-0caa37502ad3')" :class="[returnClassRoom('3c0375a9-f803-4780-a5fe-0caa37502ad3'), { 'hoverSvgClassPark': activeFloor === '3c0375a9-f803-4780-a5fe-0caa37502ad3' }]" class="fil0" points="229.09,110.47 233.49,110.47 233.49,120.97 229.09,120.97 229.09,115.82 230.11,115.82 230.1,113.15 229.09,112.54 "/>
  <polygon ref="e0981494-860a-4f87-bc91-a2c2a0c8d953" id="e0981494-860a-4f87-bc91-a2c2a0c8d953" @mouseover="addHoverClass('e0981494-860a-4f87-bc91-a2c2a0c8d953')" @mouseleave="removeHoverClass('e0981494-860a-4f87-bc91-a2c2a0c8d953')" @click="showModal('e0981494-860a-4f87-bc91-a2c2a0c8d953')" :class="[returnClassRoom('e0981494-860a-4f87-bc91-a2c2a0c8d953'), { 'hoverSvgClassPark': activeFloor === 'e0981494-860a-4f87-bc91-a2c2a0c8d953' }]" class="fil0" points="81.71,85.06 86.15,85.06 86.15,95.06 81.71,95.06 "/>
  <polygon ref="293a419d-f019-4a40-9393-34fda349508e" id="293a419d-f019-4a40-9393-34fda349508e" @mouseover="addHoverClass('293a419d-f019-4a40-9393-34fda349508e')" @mouseleave="removeHoverClass('293a419d-f019-4a40-9393-34fda349508e')" @click="showModal('293a419d-f019-4a40-9393-34fda349508e')" :class="[returnClassRoom('293a419d-f019-4a40-9393-34fda349508e'), { 'hoverSvgClassPark': activeFloor === '293a419d-f019-4a40-9393-34fda349508e' }]" class="fil0" points="211.2,45.06 215.81,45.06 215.81,55.56 211.2,55.56 211.2,54.68 213.2,54.23 213.18,51.6 211.2,51.62 "/>
   <path     class="fil0" d="M191.91 110.39l4.39 0 0 10.5 -3.7 0c0.01,-4.99 -0.04,-7.93 -0.04,-7.93l-0.65 -0.72 0 -1.85z"/>
 </g>
</svg>

   </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "minus-one",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>