

<template>
  <div>
    <SvgPanZoom
        style="width: 100%; height: 500px; margin: auto;"
        :zoomEnabled="true"
        :controlIconsEnabled="true"
        :fit="false"
        :center="true">
      <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="425px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 648.74 511.95" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="648.74" height="511.95"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-06-floor.png" x="5" y="0" width="648.74" height="511.95"></image>
  </g>

  <polygon ref="e41ce67d-6abf-4220-ab07-c0723cdc384c" id="e41ce67d-6abf-4220-ab07-c0723cdc384c" @mouseover="addHoverClass('e41ce67d-6abf-4220-ab07-c0723cdc384c')" @mouseleave="removeHoverClass('e41ce67d-6abf-4220-ab07-c0723cdc384c')" @click="showModal('e41ce67d-6abf-4220-ab07-c0723cdc384c')" :class="[returnClassRoom('e41ce67d-6abf-4220-ab07-c0723cdc384c'), { 'hoverSvgClassPark': activeFloor === 'e41ce67d-6abf-4220-ab07-c0723cdc384c' }]" class="fil0" points="444.81,18.6 470.92,18.6 470.92,28.97 444.81,28.97 "/>
  <polygon ref="3eecd528-685a-4625-93b3-3204ee1c040c" id="3eecd528-685a-4625-93b3-3204ee1c040c" @mouseover="addHoverClass('3eecd528-685a-4625-93b3-3204ee1c040c')" @mouseleave="removeHoverClass('3eecd528-685a-4625-93b3-3204ee1c040c')" @click="showModal('3eecd528-685a-4625-93b3-3204ee1c040c')" :class="[returnClassRoom('3eecd528-685a-4625-93b3-3204ee1c040c'), { 'hoverSvgClassPark': activeFloor === '3eecd528-685a-4625-93b3-3204ee1c040c' }]" class="fil0" points="444.81,29.69 470.92,29.69 470.92,40.06 444.81,40.06 "/>
  <polygon ref="616f970f-1521-4671-82ec-3eecceb3f146" id="616f970f-1521-4671-82ec-3eecceb3f146" @mouseover="addHoverClass('616f970f-1521-4671-82ec-3eecceb3f146')" @mouseleave="removeHoverClass('616f970f-1521-4671-82ec-3eecceb3f146')" @click="showModal('616f970f-1521-4671-82ec-3eecceb3f146')" :class="[returnClassRoom('616f970f-1521-4671-82ec-3eecceb3f146'), { 'hoverSvgClassPark': activeFloor === '616f970f-1521-4671-82ec-3eecceb3f146' }]" class="fil0" points="444.81,49.81 470.92,49.81 470.92,60.18 444.81,60.18 "/>
  <polygon ref="30683ef5-57cc-4637-9051-cf20748acb3a" id="30683ef5-57cc-4637-9051-cf20748acb3a" @mouseover="addHoverClass('30683ef5-57cc-4637-9051-cf20748acb3a')" @mouseleave="removeHoverClass('30683ef5-57cc-4637-9051-cf20748acb3a')" @click="showModal('30683ef5-57cc-4637-9051-cf20748acb3a')" :class="[returnClassRoom('30683ef5-57cc-4637-9051-cf20748acb3a'), { 'hoverSvgClassPark': activeFloor === '30683ef5-57cc-4637-9051-cf20748acb3a' }]" class="fil0" points="444.81,60.8 470.92,60.8 470.92,71.18 444.81,71.18 "/>
  <polygon ref="9795b966-3a5a-4790-8a82-1d85fcce7dc6" id="9795b966-3a5a-4790-8a82-1d85fcce7dc6" @mouseover="addHoverClass('9795b966-3a5a-4790-8a82-1d85fcce7dc6')" @mouseleave="removeHoverClass('9795b966-3a5a-4790-8a82-1d85fcce7dc6')" @click="showModal('9795b966-3a5a-4790-8a82-1d85fcce7dc6')" :class="[returnClassRoom('9795b966-3a5a-4790-8a82-1d85fcce7dc6'), { 'hoverSvgClassPark': activeFloor === '9795b966-3a5a-4790-8a82-1d85fcce7dc6' }]" class="fil0" points="444.81,82.17 470.92,82.17 470.92,92.55 444.81,92.55 "/>
  <polygon ref="7bd8c37a-0ed6-47cb-9e6f-b6005995546d" id="7bd8c37a-0ed6-47cb-9e6f-b6005995546d" @mouseover="addHoverClass('7bd8c37a-0ed6-47cb-9e6f-b6005995546d')" @mouseleave="removeHoverClass('7bd8c37a-0ed6-47cb-9e6f-b6005995546d')" @click="showModal('7bd8c37a-0ed6-47cb-9e6f-b6005995546d')" :class="[returnClassRoom('7bd8c37a-0ed6-47cb-9e6f-b6005995546d'), { 'hoverSvgClassPark': activeFloor === '7bd8c37a-0ed6-47cb-9e6f-b6005995546d' }]" class="fil0" points="444.81,93.17 470.92,93.17 470.92,103.54 444.81,103.54 "/>
  <polygon ref="c28ca5fa-8812-485c-8e49-dddb89ce5a45" id="c28ca5fa-8812-485c-8e49-dddb89ce5a45" @mouseover="addHoverClass('c28ca5fa-8812-485c-8e49-dddb89ce5a45')" @mouseleave="removeHoverClass('c28ca5fa-8812-485c-8e49-dddb89ce5a45')" @click="showModal('c28ca5fa-8812-485c-8e49-dddb89ce5a45')" :class="[returnClassRoom('c28ca5fa-8812-485c-8e49-dddb89ce5a45'), { 'hoverSvgClassPark': activeFloor === 'c28ca5fa-8812-485c-8e49-dddb89ce5a45' }]" class="fil0" points="444.81,105.06 470.92,105.06 470.92,115.44 444.81,115.44 "/>
  <polygon ref="65f29df9-516a-4f34-a56b-9149b1fef63c" id="65f29df9-516a-4f34-a56b-9149b1fef63c" @mouseover="addHoverClass('65f29df9-516a-4f34-a56b-9149b1fef63c')" @mouseleave="removeHoverClass('65f29df9-516a-4f34-a56b-9149b1fef63c')" @click="showModal('65f29df9-516a-4f34-a56b-9149b1fef63c')" :class="[returnClassRoom('65f29df9-516a-4f34-a56b-9149b1fef63c'), { 'hoverSvgClassPark': activeFloor === '65f29df9-516a-4f34-a56b-9149b1fef63c' }]" class="fil0" points="444.81,116.06 470.92,116.06 470.92,126.44 444.81,126.44 "/>
  <polygon ref="e2b39f28-b217-4f41-9822-0253b93e2c4a" id="e2b39f28-b217-4f41-9822-0253b93e2c4a" @mouseover="addHoverClass('e2b39f28-b217-4f41-9822-0253b93e2c4a')" @mouseleave="removeHoverClass('e2b39f28-b217-4f41-9822-0253b93e2c4a')" @click="showModal('e2b39f28-b217-4f41-9822-0253b93e2c4a')" :class="[returnClassRoom('e2b39f28-b217-4f41-9822-0253b93e2c4a'), { 'hoverSvgClassPark': activeFloor === 'e2b39f28-b217-4f41-9822-0253b93e2c4a' }]" class="fil0" points="502.34,18.6 553.66,18.6 553.66,28.97 502.34,28.97 "/>
  <polygon ref="00d3fc83-d770-4cc4-8299-75bf44516e48" id="00d3fc83-d770-4cc4-8299-75bf44516e48" @mouseover="addHoverClass('00d3fc83-d770-4cc4-8299-75bf44516e48')" @mouseleave="removeHoverClass('00d3fc83-d770-4cc4-8299-75bf44516e48')" @click="showModal('00d3fc83-d770-4cc4-8299-75bf44516e48')" :class="[returnClassRoom('00d3fc83-d770-4cc4-8299-75bf44516e48'), { 'hoverSvgClassPark': activeFloor === '00d3fc83-d770-4cc4-8299-75bf44516e48' }]" class="fil0" points="502.34,29.69 553.66,29.69 553.66,40.06 502.34,40.06 "/>
  <polygon ref="5de7cd99-1b71-4c48-81c0-ca571651aa3b" id="5de7cd99-1b71-4c48-81c0-ca571651aa3b" @mouseover="addHoverClass('5de7cd99-1b71-4c48-81c0-ca571651aa3b')" @mouseleave="removeHoverClass('5de7cd99-1b71-4c48-81c0-ca571651aa3b')" @click="showModal('5de7cd99-1b71-4c48-81c0-ca571651aa3b')" :class="[returnClassRoom('5de7cd99-1b71-4c48-81c0-ca571651aa3b'), { 'hoverSvgClassPark': activeFloor === '5de7cd99-1b71-4c48-81c0-ca571651aa3b' }]" class="fil0" points="502.34,49.81 553.66,49.81 553.66,60.18 502.34,60.18 "/>
  <polygon ref="93409222-4aa7-4ae6-bb99-4bd9ca4a8a30" id="93409222-4aa7-4ae6-bb99-4bd9ca4a8a30" @mouseover="addHoverClass('93409222-4aa7-4ae6-bb99-4bd9ca4a8a30')" @mouseleave="removeHoverClass('93409222-4aa7-4ae6-bb99-4bd9ca4a8a30')" @click="showModal('93409222-4aa7-4ae6-bb99-4bd9ca4a8a30')" :class="[returnClassRoom('93409222-4aa7-4ae6-bb99-4bd9ca4a8a30'), { 'hoverSvgClassPark': activeFloor === '93409222-4aa7-4ae6-bb99-4bd9ca4a8a30' }]" class="fil0" points="502.34,60.8 553.66,60.8 553.66,71.18 502.34,71.18 "/>
  <polygon ref="ea4830a5-dbc2-4088-8729-2ef75eb3c2a6" id="ea4830a5-dbc2-4088-8729-2ef75eb3c2a6" @mouseover="addHoverClass('ea4830a5-dbc2-4088-8729-2ef75eb3c2a6')" @mouseleave="removeHoverClass('ea4830a5-dbc2-4088-8729-2ef75eb3c2a6')" @click="showModal('ea4830a5-dbc2-4088-8729-2ef75eb3c2a6')" :class="[returnClassRoom('ea4830a5-dbc2-4088-8729-2ef75eb3c2a6'), { 'hoverSvgClassPark': activeFloor === 'ea4830a5-dbc2-4088-8729-2ef75eb3c2a6' }]" class="fil0" points="502.34,82.17 553.66,82.17 553.66,92.55 502.34,92.55 "/>
  <polygon ref="b66abe36-9ee9-4121-9c5b-82c54cc58fbb" id="b66abe36-9ee9-4121-9c5b-82c54cc58fbb" @mouseover="addHoverClass('b66abe36-9ee9-4121-9c5b-82c54cc58fbb')" @mouseleave="removeHoverClass('b66abe36-9ee9-4121-9c5b-82c54cc58fbb')" @click="showModal('b66abe36-9ee9-4121-9c5b-82c54cc58fbb')" :class="[returnClassRoom('b66abe36-9ee9-4121-9c5b-82c54cc58fbb'), { 'hoverSvgClassPark': activeFloor === 'b66abe36-9ee9-4121-9c5b-82c54cc58fbb' }]" class="fil0" points="502.34,93.17 553.66,93.17 553.66,103.54 502.34,103.54 "/>
  <polygon ref="ea8d1589-2540-4456-a959-d98c542e6caa" id="ea8d1589-2540-4456-a959-d98c542e6caa" @mouseover="addHoverClass('ea8d1589-2540-4456-a959-d98c542e6caa')" @mouseleave="removeHoverClass('ea8d1589-2540-4456-a959-d98c542e6caa')" @click="showModal('ea8d1589-2540-4456-a959-d98c542e6caa')" :class="[returnClassRoom('ea8d1589-2540-4456-a959-d98c542e6caa'), { 'hoverSvgClassPark': activeFloor === 'ea8d1589-2540-4456-a959-d98c542e6caa' }]" class="fil0" points="502.34,105.06 553.66,105.06 553.66,115.44 502.34,115.44 "/>
  <polygon ref="0e12d24f-918a-436e-8e1f-38e3051d3533" id="0e12d24f-918a-436e-8e1f-38e3051d3533" @mouseover="addHoverClass('0e12d24f-918a-436e-8e1f-38e3051d3533')" @mouseleave="removeHoverClass('0e12d24f-918a-436e-8e1f-38e3051d3533')" @click="showModal('0e12d24f-918a-436e-8e1f-38e3051d3533')" :class="[returnClassRoom('0e12d24f-918a-436e-8e1f-38e3051d3533'), { 'hoverSvgClassPark': activeFloor === '0e12d24f-918a-436e-8e1f-38e3051d3533' }]" class="fil0" points="502.34,116.06 553.66,116.06 553.66,126.44 502.34,126.44 "/>
  <polygon ref="5b47627d-d19f-4044-84e4-5d881975477f" id="5b47627d-d19f-4044-84e4-5d881975477f" @mouseover="addHoverClass('5b47627d-d19f-4044-84e4-5d881975477f')" @mouseleave="removeHoverClass('5b47627d-d19f-4044-84e4-5d881975477f')" @click="showModal('5b47627d-d19f-4044-84e4-5d881975477f')" :class="[returnClassRoom('5b47627d-d19f-4044-84e4-5d881975477f'), { 'hoverSvgClassPark': activeFloor === '5b47627d-d19f-4044-84e4-5d881975477f' }]" class="fil0" points="586.44,18.6 612.55,18.6 612.55,28.97 586.44,28.97 "/>
  <polygon ref="3d1e47d3-7220-4cc6-a34d-380c62908433" id="3d1e47d3-7220-4cc6-a34d-380c62908433" @mouseover="addHoverClass('3d1e47d3-7220-4cc6-a34d-380c62908433')" @mouseleave="removeHoverClass('3d1e47d3-7220-4cc6-a34d-380c62908433')" @click="showModal('3d1e47d3-7220-4cc6-a34d-380c62908433')" :class="[returnClassRoom('3d1e47d3-7220-4cc6-a34d-380c62908433'), { 'hoverSvgClassPark': activeFloor === '3d1e47d3-7220-4cc6-a34d-380c62908433' }]" class="fil0" points="586.44,29.69 612.55,29.69 612.55,40.06 586.44,40.06 "/>
  <polygon ref="5e89c3db-f2de-434a-9058-8aec01ffd203" id="5e89c3db-f2de-434a-9058-8aec01ffd203" @mouseover="addHoverClass('5e89c3db-f2de-434a-9058-8aec01ffd203')" @mouseleave="removeHoverClass('5e89c3db-f2de-434a-9058-8aec01ffd203')" @click="showModal('5e89c3db-f2de-434a-9058-8aec01ffd203')" :class="[returnClassRoom('5e89c3db-f2de-434a-9058-8aec01ffd203'), { 'hoverSvgClassPark': activeFloor === '5e89c3db-f2de-434a-9058-8aec01ffd203' }]" class="fil0" points="586.44,49.81 612.55,49.81 612.55,60.18 586.44,60.18 "/>
  <polygon ref="63b574c1-557a-4f0f-b9d8-528637de9e82" id="63b574c1-557a-4f0f-b9d8-528637de9e82" @mouseover="addHoverClass('63b574c1-557a-4f0f-b9d8-528637de9e82')" @mouseleave="removeHoverClass('63b574c1-557a-4f0f-b9d8-528637de9e82')" @click="showModal('63b574c1-557a-4f0f-b9d8-528637de9e82')" :class="[returnClassRoom('63b574c1-557a-4f0f-b9d8-528637de9e82'), { 'hoverSvgClassPark': activeFloor === '63b574c1-557a-4f0f-b9d8-528637de9e82' }]" class="fil0" points="586.44,60.8 612.55,60.8 612.55,71.18 586.44,71.18 "/>
  <polygon ref="0419c308-c361-4579-a340-1a5d8bac099a" id="0419c308-c361-4579-a340-1a5d8bac099a" @mouseover="addHoverClass('0419c308-c361-4579-a340-1a5d8bac099a')" @mouseleave="removeHoverClass('0419c308-c361-4579-a340-1a5d8bac099a')" @click="showModal('0419c308-c361-4579-a340-1a5d8bac099a')" :class="[returnClassRoom('0419c308-c361-4579-a340-1a5d8bac099a'), { 'hoverSvgClassPark': activeFloor === '0419c308-c361-4579-a340-1a5d8bac099a' }]" class="fil0" points="586.44,82.17 612.55,82.17 612.55,92.55 586.44,92.55 "/>
  <polygon ref="b10062df-aa47-40d5-b32c-06a27151b6a5" id="b10062df-aa47-40d5-b32c-06a27151b6a5" @mouseover="addHoverClass('b10062df-aa47-40d5-b32c-06a27151b6a5')" @mouseleave="removeHoverClass('b10062df-aa47-40d5-b32c-06a27151b6a5')" @click="showModal('b10062df-aa47-40d5-b32c-06a27151b6a5')" :class="[returnClassRoom('b10062df-aa47-40d5-b32c-06a27151b6a5'), { 'hoverSvgClassPark': activeFloor === 'b10062df-aa47-40d5-b32c-06a27151b6a5' }]" class="fil0" points="586.44,93.17 612.55,93.17 612.55,103.54 586.44,103.54 "/>
  <polygon ref="495ccd39-a527-48a3-aff5-195eb0ebc8d4" id="495ccd39-a527-48a3-aff5-195eb0ebc8d4" @mouseover="addHoverClass('495ccd39-a527-48a3-aff5-195eb0ebc8d4')" @mouseleave="removeHoverClass('495ccd39-a527-48a3-aff5-195eb0ebc8d4')" @click="showModal('495ccd39-a527-48a3-aff5-195eb0ebc8d4')" :class="[returnClassRoom('495ccd39-a527-48a3-aff5-195eb0ebc8d4'), { 'hoverSvgClassPark': activeFloor === '495ccd39-a527-48a3-aff5-195eb0ebc8d4' }]" class="fil0" points="586.44,105.06 612.55,105.06 612.55,115.44 586.44,115.44 "/>
  <polygon ref="ddb21f00-c886-4868-85ac-b5559c9d4f76" id="ddb21f00-c886-4868-85ac-b5559c9d4f76" @mouseover="addHoverClass('ddb21f00-c886-4868-85ac-b5559c9d4f76')" @mouseleave="removeHoverClass('ddb21f00-c886-4868-85ac-b5559c9d4f76')" @click="showModal('ddb21f00-c886-4868-85ac-b5559c9d4f76')" :class="[returnClassRoom('ddb21f00-c886-4868-85ac-b5559c9d4f76'), { 'hoverSvgClassPark': activeFloor === 'ddb21f00-c886-4868-85ac-b5559c9d4f76' }]" class="fil0" points="586.44,116.06 612.55,116.06 612.55,126.44 586.44,126.44 "/>
  <polygon ref="ce445bab-72fb-497b-91f7-1822bf23277f" id="ce445bab-72fb-497b-91f7-1822bf23277f" @mouseover="addHoverClass('ce445bab-72fb-497b-91f7-1822bf23277f')" @mouseleave="removeHoverClass('ce445bab-72fb-497b-91f7-1822bf23277f')" @click="showModal('ce445bab-72fb-497b-91f7-1822bf23277f')" :class="[returnClassRoom('ce445bab-72fb-497b-91f7-1822bf23277f'), { 'hoverSvgClassPark': activeFloor === 'ce445bab-72fb-497b-91f7-1822bf23277f' }]" class="fil0" points="502.34,138.42 553.66,138.42 553.66,148.79 502.34,148.79 "/>
  <polygon ref="2c98f860-6ccd-4b7a-ac08-1417c79e6f69" id="2c98f860-6ccd-4b7a-ac08-1417c79e6f69" @mouseover="addHoverClass('2c98f860-6ccd-4b7a-ac08-1417c79e6f69')" @mouseleave="removeHoverClass('2c98f860-6ccd-4b7a-ac08-1417c79e6f69')" @click="showModal('2c98f860-6ccd-4b7a-ac08-1417c79e6f69')" :class="[returnClassRoom('2c98f860-6ccd-4b7a-ac08-1417c79e6f69'), { 'hoverSvgClassPark': activeFloor === '2c98f860-6ccd-4b7a-ac08-1417c79e6f69' }]" class="fil0" points="502.34,149.41 553.66,149.41 553.66,159.79 502.34,159.79 "/>
  <polygon ref="16844bd3-9f5e-456d-a166-1e0571d30f6d" id="16844bd3-9f5e-456d-a166-1e0571d30f6d" @mouseover="addHoverClass('16844bd3-9f5e-456d-a166-1e0571d30f6d')" @mouseleave="removeHoverClass('16844bd3-9f5e-456d-a166-1e0571d30f6d')" @click="showModal('16844bd3-9f5e-456d-a166-1e0571d30f6d')" :class="[returnClassRoom('16844bd3-9f5e-456d-a166-1e0571d30f6d'), { 'hoverSvgClassPark': activeFloor === '16844bd3-9f5e-456d-a166-1e0571d30f6d' }]" class="fil0" points="587.01,138.42 612.67,138.42 612.67,148.79 587.01,148.79 "/>
  <polygon ref="6602f195-6f3c-42c1-be66-7389ae301c51" id="6602f195-6f3c-42c1-be66-7389ae301c51" @mouseover="addHoverClass('6602f195-6f3c-42c1-be66-7389ae301c51')" @mouseleave="removeHoverClass('6602f195-6f3c-42c1-be66-7389ae301c51')" @click="showModal('6602f195-6f3c-42c1-be66-7389ae301c51')" :class="[returnClassRoom('6602f195-6f3c-42c1-be66-7389ae301c51'), { 'hoverSvgClassPark': activeFloor === '6602f195-6f3c-42c1-be66-7389ae301c51' }]" class="fil0" points="587.01,149.41 612.67,149.41 612.67,159.79 587.01,159.79 "/>
  <polygon ref="d74ca598-968d-4965-a67b-b200ea9da6fd" id="d74ca598-968d-4965-a67b-b200ea9da6fd" @mouseover="addHoverClass('d74ca598-968d-4965-a67b-b200ea9da6fd')" @mouseleave="removeHoverClass('d74ca598-968d-4965-a67b-b200ea9da6fd')" @click="showModal('d74ca598-968d-4965-a67b-b200ea9da6fd')" :class="[returnClassRoom('d74ca598-968d-4965-a67b-b200ea9da6fd'), { 'hoverSvgClassPark': activeFloor === 'd74ca598-968d-4965-a67b-b200ea9da6fd' }]" class="fil0" points="439.22,167.61 439.22,141.5 449.59,141.5 449.59,167.61 "/>
  <polygon ref="b2cea367-9424-4ff3-a394-b6ddaf3f6aa1" id="b2cea367-9424-4ff3-a394-b6ddaf3f6aa1" @mouseover="addHoverClass('b2cea367-9424-4ff3-a394-b6ddaf3f6aa1')" @mouseleave="removeHoverClass('b2cea367-9424-4ff3-a394-b6ddaf3f6aa1')" @click="showModal('b2cea367-9424-4ff3-a394-b6ddaf3f6aa1')" :class="[returnClassRoom('b2cea367-9424-4ff3-a394-b6ddaf3f6aa1'), { 'hoverSvgClassPark': activeFloor === 'b2cea367-9424-4ff3-a394-b6ddaf3f6aa1' }]" class="fil0" points="450.22,167.61 450.22,141.5 460.59,141.5 460.59,167.61 "/>
  <polygon ref="59f6eddc-e3bb-4520-b210-9c56b575e34b" id="59f6eddc-e3bb-4520-b210-9c56b575e34b" @mouseover="addHoverClass('59f6eddc-e3bb-4520-b210-9c56b575e34b')" @mouseleave="removeHoverClass('59f6eddc-e3bb-4520-b210-9c56b575e34b')" @click="showModal('59f6eddc-e3bb-4520-b210-9c56b575e34b')" :class="[returnClassRoom('59f6eddc-e3bb-4520-b210-9c56b575e34b'), { 'hoverSvgClassPark': activeFloor === '59f6eddc-e3bb-4520-b210-9c56b575e34b' }]" class="fil0" points="410.07,167.61 410.07,141.5 420.44,141.5 420.44,167.61 "/>
  <polygon ref="aa42068a-3dae-4a72-989b-4f1749c804fc" id="aa42068a-3dae-4a72-989b-4f1749c804fc" @mouseover="addHoverClass('aa42068a-3dae-4a72-989b-4f1749c804fc')" @mouseleave="removeHoverClass('aa42068a-3dae-4a72-989b-4f1749c804fc')" @click="showModal('aa42068a-3dae-4a72-989b-4f1749c804fc')" :class="[returnClassRoom('aa42068a-3dae-4a72-989b-4f1749c804fc'), { 'hoverSvgClassPark': activeFloor === 'aa42068a-3dae-4a72-989b-4f1749c804fc' }]" class="fil0" points="421.07,167.61 421.07,141.5 431.44,141.5 431.44,167.61 "/>
  <polygon ref="e83d6022-698f-4e14-a6ed-7805bfc39279" id="e83d6022-698f-4e14-a6ed-7805bfc39279" @mouseover="addHoverClass('e83d6022-698f-4e14-a6ed-7805bfc39279')" @mouseleave="removeHoverClass('e83d6022-698f-4e14-a6ed-7805bfc39279')" @click="showModal('e83d6022-698f-4e14-a6ed-7805bfc39279')" :class="[returnClassRoom('e83d6022-698f-4e14-a6ed-7805bfc39279'), { 'hoverSvgClassPark': activeFloor === 'e83d6022-698f-4e14-a6ed-7805bfc39279' }]" class="fil0" points="325.84,167.61 325.84,141.5 336.22,141.5 336.22,167.61 "/>
  <polygon ref="59e7c1f9-fbfb-4613-86da-f4f0882b26c6" id="59e7c1f9-fbfb-4613-86da-f4f0882b26c6" @mouseover="addHoverClass('59e7c1f9-fbfb-4613-86da-f4f0882b26c6')" @mouseleave="removeHoverClass('59e7c1f9-fbfb-4613-86da-f4f0882b26c6')" @click="showModal('59e7c1f9-fbfb-4613-86da-f4f0882b26c6')" :class="[returnClassRoom('59e7c1f9-fbfb-4613-86da-f4f0882b26c6'), { 'hoverSvgClassPark': activeFloor === '59e7c1f9-fbfb-4613-86da-f4f0882b26c6' }]" class="fil0" points="336.84,167.61 336.84,141.5 347.21,141.5 347.21,167.61 "/>
  <polygon ref="e7e8ab90-b45d-45f2-a519-4996deff828e" id="e7e8ab90-b45d-45f2-a519-4996deff828e" @mouseover="addHoverClass('e7e8ab90-b45d-45f2-a519-4996deff828e')" @mouseleave="removeHoverClass('e7e8ab90-b45d-45f2-a519-4996deff828e')" @click="showModal('e7e8ab90-b45d-45f2-a519-4996deff828e')" :class="[returnClassRoom('e7e8ab90-b45d-45f2-a519-4996deff828e'), { 'hoverSvgClassPark': activeFloor === 'e7e8ab90-b45d-45f2-a519-4996deff828e' }]" class="fil0" points="313.86,167.61 313.86,141.5 324.24,141.5 324.24,167.61 "/>
  <polygon ref="63453dad-d5f0-45d2-9664-ef387f78c30c" id="63453dad-d5f0-45d2-9664-ef387f78c30c" @mouseover="addHoverClass('63453dad-d5f0-45d2-9664-ef387f78c30c')" @mouseleave="removeHoverClass('63453dad-d5f0-45d2-9664-ef387f78c30c')" @click="showModal('63453dad-d5f0-45d2-9664-ef387f78c30c')" :class="[returnClassRoom('63453dad-d5f0-45d2-9664-ef387f78c30c'), { 'hoverSvgClassPark': activeFloor === '63453dad-d5f0-45d2-9664-ef387f78c30c' }]" class="fil0" points="398.18,167.61 398.18,141.5 408.55,141.5 408.55,167.61 "/>
  <polygon ref="57265b5e-78a2-45be-8ced-216307b5837e" id="57265b5e-78a2-45be-8ced-216307b5837e" @mouseover="addHoverClass('57265b5e-78a2-45be-8ced-216307b5837e')" @mouseleave="removeHoverClass('57265b5e-78a2-45be-8ced-216307b5837e')" @click="showModal('57265b5e-78a2-45be-8ced-216307b5837e')" :class="[returnClassRoom('57265b5e-78a2-45be-8ced-216307b5837e'), { 'hoverSvgClassPark': activeFloor === '57265b5e-78a2-45be-8ced-216307b5837e' }]" class="fil0" points="378.23,167.61 378.23,141.5 388.6,141.5 388.6,167.61 "/>
  <polygon ref="7a428b96-968a-435f-82bb-9e893dfed4ea" id="7a428b96-968a-435f-82bb-9e893dfed4ea" @mouseover="addHoverClass('7a428b96-968a-435f-82bb-9e893dfed4ea')" @mouseleave="removeHoverClass('7a428b96-968a-435f-82bb-9e893dfed4ea')" @click="showModal('7a428b96-968a-435f-82bb-9e893dfed4ea')" :class="[returnClassRoom('7a428b96-968a-435f-82bb-9e893dfed4ea'), { 'hoverSvgClassPark': activeFloor === '7a428b96-968a-435f-82bb-9e893dfed4ea' }]" class="fil0" points="282.39,167.61 282.39,141.5 292.76,141.5 292.76,167.61 "/>
  <polygon ref="4d2cea09-ba54-495d-aea9-211c04b04e1e" id="4d2cea09-ba54-495d-aea9-211c04b04e1e" @mouseover="addHoverClass('4d2cea09-ba54-495d-aea9-211c04b04e1e')" @mouseleave="removeHoverClass('4d2cea09-ba54-495d-aea9-211c04b04e1e')" @click="showModal('4d2cea09-ba54-495d-aea9-211c04b04e1e')" :class="[returnClassRoom('4d2cea09-ba54-495d-aea9-211c04b04e1e'), { 'hoverSvgClassPark': activeFloor === '4d2cea09-ba54-495d-aea9-211c04b04e1e' }]" class="fil0" points="293.39,167.61 293.39,141.5 303.76,141.5 303.76,167.61 "/>
  <polygon ref="1aaf5dd8-5136-4aad-b19b-f86d37ba2892" id="1aaf5dd8-5136-4aad-b19b-f86d37ba2892" @mouseover="addHoverClass('1aaf5dd8-5136-4aad-b19b-f86d37ba2892')" @mouseleave="removeHoverClass('1aaf5dd8-5136-4aad-b19b-f86d37ba2892')" @click="showModal('1aaf5dd8-5136-4aad-b19b-f86d37ba2892')" :class="[returnClassRoom('1aaf5dd8-5136-4aad-b19b-f86d37ba2892'), { 'hoverSvgClassPark': activeFloor === '1aaf5dd8-5136-4aad-b19b-f86d37ba2892' }]" class="fil0" points="270.41,167.61 270.41,141.5 280.78,141.5 280.78,167.61 "/>
  <polygon ref="a78eff99-a736-42e9-8b17-10450e09ea13" id="a78eff99-a736-42e9-8b17-10450e09ea13" @mouseover="addHoverClass('a78eff99-a736-42e9-8b17-10450e09ea13')" @mouseleave="removeHoverClass('a78eff99-a736-42e9-8b17-10450e09ea13')" @click="showModal('a78eff99-a736-42e9-8b17-10450e09ea13')" :class="[returnClassRoom('a78eff99-a736-42e9-8b17-10450e09ea13'), { 'hoverSvgClassPark': activeFloor === 'a78eff99-a736-42e9-8b17-10450e09ea13' }]" class="fil0" points="241.6,167.61 241.6,141.5 251.98,141.5 251.98,167.61 "/>
  <polygon ref="7ee6016f-e737-496a-912f-e326ea93b340" id="7ee6016f-e737-496a-912f-e326ea93b340" @mouseover="addHoverClass('7ee6016f-e737-496a-912f-e326ea93b340')" @mouseleave="removeHoverClass('7ee6016f-e737-496a-912f-e326ea93b340')" @click="showModal('7ee6016f-e737-496a-912f-e326ea93b340')" :class="[returnClassRoom('7ee6016f-e737-496a-912f-e326ea93b340'), { 'hoverSvgClassPark': activeFloor === '7ee6016f-e737-496a-912f-e326ea93b340' }]" class="fil0" points="252.6,167.61 252.6,141.5 262.97,141.5 262.97,167.61 "/>
  <polygon ref="f012eabd-76d2-445a-be59-51d256be09a9" id="f012eabd-76d2-445a-be59-51d256be09a9" @mouseover="addHoverClass('f012eabd-76d2-445a-be59-51d256be09a9')" @mouseleave="removeHoverClass('f012eabd-76d2-445a-be59-51d256be09a9')" @click="showModal('f012eabd-76d2-445a-be59-51d256be09a9')" :class="[returnClassRoom('f012eabd-76d2-445a-be59-51d256be09a9'), { 'hoverSvgClassPark': activeFloor === 'f012eabd-76d2-445a-be59-51d256be09a9' }]" class="fil0" points="229.62,167.61 229.62,141.5 240,141.5 240,167.61 "/>
  <polygon ref="eedcb53b-30e7-412a-bf49-2585edb893ff" id="eedcb53b-30e7-412a-bf49-2585edb893ff" @mouseover="addHoverClass('eedcb53b-30e7-412a-bf49-2585edb893ff')" @mouseleave="removeHoverClass('eedcb53b-30e7-412a-bf49-2585edb893ff')" @click="showModal('eedcb53b-30e7-412a-bf49-2585edb893ff')" :class="[returnClassRoom('eedcb53b-30e7-412a-bf49-2585edb893ff'), { 'hoverSvgClassPark': activeFloor === 'eedcb53b-30e7-412a-bf49-2585edb893ff' }]" class="fil0" points="210.49,167.61 210.49,141.5 220.86,141.5 220.86,167.61 "/>
  <polygon ref="1120cc1c-5463-4937-9efd-0c532b074102" id="1120cc1c-5463-4937-9efd-0c532b074102" @mouseover="addHoverClass('1120cc1c-5463-4937-9efd-0c532b074102')" @mouseleave="removeHoverClass('1120cc1c-5463-4937-9efd-0c532b074102')" @click="showModal('1120cc1c-5463-4937-9efd-0c532b074102')" :class="[returnClassRoom('1120cc1c-5463-4937-9efd-0c532b074102'), { 'hoverSvgClassPark': activeFloor === '1120cc1c-5463-4937-9efd-0c532b074102' }]" class="fil0" points="198.51,167.61 198.51,141.5 208.88,141.5 208.88,167.61 "/>
  <polygon ref="a3ba0379-4f48-41d5-9142-bddd36f337f9" id="a3ba0379-4f48-41d5-9142-bddd36f337f9" @mouseover="addHoverClass('a3ba0379-4f48-41d5-9142-bddd36f337f9')" @mouseleave="removeHoverClass('a3ba0379-4f48-41d5-9142-bddd36f337f9')" @click="showModal('a3ba0379-4f48-41d5-9142-bddd36f337f9')" :class="[returnClassRoom('a3ba0379-4f48-41d5-9142-bddd36f337f9'), { 'hoverSvgClassPark': activeFloor === 'a3ba0379-4f48-41d5-9142-bddd36f337f9' }]" class="fil0" points="183.84,167.61 183.84,141.5 194.22,141.5 194.22,167.61 "/>
  <polygon ref="b195421e-262d-470a-a5db-9df1b2e252b6" id="b195421e-262d-470a-a5db-9df1b2e252b6" @mouseover="addHoverClass('b195421e-262d-470a-a5db-9df1b2e252b6')" @mouseleave="removeHoverClass('b195421e-262d-470a-a5db-9df1b2e252b6')" @click="showModal('b195421e-262d-470a-a5db-9df1b2e252b6')" :class="[returnClassRoom('b195421e-262d-470a-a5db-9df1b2e252b6'), { 'hoverSvgClassPark': activeFloor === 'b195421e-262d-470a-a5db-9df1b2e252b6' }]" class="fil0" points="171.86,167.61 171.86,141.5 182.23,141.5 182.23,167.61 "/>
  <polygon ref="c2d4ad2b-460f-4deb-b98f-c68e69bcaefb" id="c2d4ad2b-460f-4deb-b98f-c68e69bcaefb" @mouseover="addHoverClass('c2d4ad2b-460f-4deb-b98f-c68e69bcaefb')" @mouseleave="removeHoverClass('c2d4ad2b-460f-4deb-b98f-c68e69bcaefb')" @click="showModal('c2d4ad2b-460f-4deb-b98f-c68e69bcaefb')" :class="[returnClassRoom('c2d4ad2b-460f-4deb-b98f-c68e69bcaefb'), { 'hoverSvgClassPark': activeFloor === 'c2d4ad2b-460f-4deb-b98f-c68e69bcaefb' }]" class="fil0" points="158.45,167.61 158.45,141.5 168.82,141.5 168.82,167.61 "/>
  <polygon ref="b01ae1c3-cffd-4de8-84ba-45dfa01ead32" id="b01ae1c3-cffd-4de8-84ba-45dfa01ead32" @mouseover="addHoverClass('b01ae1c3-cffd-4de8-84ba-45dfa01ead32')" @mouseleave="removeHoverClass('b01ae1c3-cffd-4de8-84ba-45dfa01ead32')" @click="showModal('b01ae1c3-cffd-4de8-84ba-45dfa01ead32')" :class="[returnClassRoom('b01ae1c3-cffd-4de8-84ba-45dfa01ead32'), { 'hoverSvgClassPark': activeFloor === 'b01ae1c3-cffd-4de8-84ba-45dfa01ead32' }]" class="fil0" points="325.84,223.05 325.84,196.94 336.22,196.94 336.22,223.05 "/>
  <polygon ref="9ff1aa68-4751-4b0f-b34b-9cdeb7581291" id="9ff1aa68-4751-4b0f-b34b-9cdeb7581291" @mouseover="addHoverClass('9ff1aa68-4751-4b0f-b34b-9cdeb7581291')" @mouseleave="removeHoverClass('9ff1aa68-4751-4b0f-b34b-9cdeb7581291')" @click="showModal('9ff1aa68-4751-4b0f-b34b-9cdeb7581291')" :class="[returnClassRoom('9ff1aa68-4751-4b0f-b34b-9cdeb7581291'), { 'hoverSvgClassPark': activeFloor === '9ff1aa68-4751-4b0f-b34b-9cdeb7581291' }]" class="fil0" points="336.84,223.05 336.84,196.94 347.21,196.94 347.21,223.05 "/>
  <polygon ref="e5147e5a-dda5-44f3-8b4f-4476eb679e6d" id="e5147e5a-dda5-44f3-8b4f-4476eb679e6d" @mouseover="addHoverClass('e5147e5a-dda5-44f3-8b4f-4476eb679e6d')" @mouseleave="removeHoverClass('e5147e5a-dda5-44f3-8b4f-4476eb679e6d')" @click="showModal('e5147e5a-dda5-44f3-8b4f-4476eb679e6d')" :class="[returnClassRoom('e5147e5a-dda5-44f3-8b4f-4476eb679e6d'), { 'hoverSvgClassPark': activeFloor === 'e5147e5a-dda5-44f3-8b4f-4476eb679e6d' }]" class="fil0" points="313.86,223.05 313.86,196.94 324.24,196.94 324.24,223.05 "/>
  <polygon ref="d5afd90f-d38f-48f1-9326-6ec396d593ff" id="d5afd90f-d38f-48f1-9326-6ec396d593ff" @mouseover="addHoverClass('d5afd90f-d38f-48f1-9326-6ec396d593ff')" @mouseleave="removeHoverClass('d5afd90f-d38f-48f1-9326-6ec396d593ff')" @click="showModal('d5afd90f-d38f-48f1-9326-6ec396d593ff')" :class="[returnClassRoom('d5afd90f-d38f-48f1-9326-6ec396d593ff'), { 'hoverSvgClassPark': activeFloor === 'd5afd90f-d38f-48f1-9326-6ec396d593ff' }]" class="fil0" points="282.39,223.05 282.39,196.94 292.76,196.94 292.76,223.05 "/>
  <polygon ref="c99b3f76-e41c-43b9-aef4-e4d059fae817" id="c99b3f76-e41c-43b9-aef4-e4d059fae817" @mouseover="addHoverClass('c99b3f76-e41c-43b9-aef4-e4d059fae817')" @mouseleave="removeHoverClass('c99b3f76-e41c-43b9-aef4-e4d059fae817')" @click="showModal('c99b3f76-e41c-43b9-aef4-e4d059fae817')" :class="[returnClassRoom('c99b3f76-e41c-43b9-aef4-e4d059fae817'), { 'hoverSvgClassPark': activeFloor === 'c99b3f76-e41c-43b9-aef4-e4d059fae817' }]" class="fil0" points="293.39,223.05 293.39,196.94 303.76,196.94 303.76,223.05 "/>
  <polygon ref="ce62a9cd-b2c7-43e8-b479-5d246662c923" id="ce62a9cd-b2c7-43e8-b479-5d246662c923" @mouseover="addHoverClass('ce62a9cd-b2c7-43e8-b479-5d246662c923')" @mouseleave="removeHoverClass('ce62a9cd-b2c7-43e8-b479-5d246662c923')" @click="showModal('ce62a9cd-b2c7-43e8-b479-5d246662c923')" :class="[returnClassRoom('ce62a9cd-b2c7-43e8-b479-5d246662c923'), { 'hoverSvgClassPark': activeFloor === 'ce62a9cd-b2c7-43e8-b479-5d246662c923' }]" class="fil0" points="270.41,223.05 270.41,196.94 280.78,196.94 280.78,223.05 "/>
  <polygon ref="007b8a10-cebe-4cf0-a8c3-ecd36794ab4c" id="007b8a10-cebe-4cf0-a8c3-ecd36794ab4c" @mouseover="addHoverClass('007b8a10-cebe-4cf0-a8c3-ecd36794ab4c')" @mouseleave="removeHoverClass('007b8a10-cebe-4cf0-a8c3-ecd36794ab4c')" @click="showModal('007b8a10-cebe-4cf0-a8c3-ecd36794ab4c')" :class="[returnClassRoom('007b8a10-cebe-4cf0-a8c3-ecd36794ab4c'), { 'hoverSvgClassPark': activeFloor === '007b8a10-cebe-4cf0-a8c3-ecd36794ab4c' }]" class="fil0" points="241.6,223.05 241.6,196.94 251.98,196.94 251.98,223.05 "/>
  <polygon ref="2df589a9-0653-49b3-affb-cd18ea0faee5" id="2df589a9-0653-49b3-affb-cd18ea0faee5" @mouseover="addHoverClass('2df589a9-0653-49b3-affb-cd18ea0faee5')" @mouseleave="removeHoverClass('2df589a9-0653-49b3-affb-cd18ea0faee5')" @click="showModal('2df589a9-0653-49b3-affb-cd18ea0faee5')" :class="[returnClassRoom('2df589a9-0653-49b3-affb-cd18ea0faee5'), { 'hoverSvgClassPark': activeFloor === '2df589a9-0653-49b3-affb-cd18ea0faee5' }]" class="fil0" points="252.6,223.05 252.6,196.94 262.97,196.94 262.97,223.05 "/>
  <polygon ref="688f5f7e-a259-4f4a-b2ae-8ee0addc97e2" id="688f5f7e-a259-4f4a-b2ae-8ee0addc97e2" @mouseover="addHoverClass('688f5f7e-a259-4f4a-b2ae-8ee0addc97e2')" @mouseleave="removeHoverClass('688f5f7e-a259-4f4a-b2ae-8ee0addc97e2')" @click="showModal('688f5f7e-a259-4f4a-b2ae-8ee0addc97e2')" :class="[returnClassRoom('688f5f7e-a259-4f4a-b2ae-8ee0addc97e2'), { 'hoverSvgClassPark': activeFloor === '688f5f7e-a259-4f4a-b2ae-8ee0addc97e2' }]" class="fil0" points="229.62,223.05 229.62,196.94 240,196.94 240,223.05 "/>
  <polygon ref="37cbf169-74ed-4655-bb6d-03572585ce9e" id="37cbf169-74ed-4655-bb6d-03572585ce9e" @mouseover="addHoverClass('37cbf169-74ed-4655-bb6d-03572585ce9e')" @mouseleave="removeHoverClass('37cbf169-74ed-4655-bb6d-03572585ce9e')" @click="showModal('37cbf169-74ed-4655-bb6d-03572585ce9e')" :class="[returnClassRoom('37cbf169-74ed-4655-bb6d-03572585ce9e'), { 'hoverSvgClassPark': activeFloor === '37cbf169-74ed-4655-bb6d-03572585ce9e' }]" class="fil0" points="210.49,223.05 210.49,196.94 220.86,196.94 220.86,223.05 "/>
  <polygon ref="cb235f9c-c042-4d31-97e9-4e22e345f8eb" id="cb235f9c-c042-4d31-97e9-4e22e345f8eb" @mouseover="addHoverClass('cb235f9c-c042-4d31-97e9-4e22e345f8eb')" @mouseleave="removeHoverClass('cb235f9c-c042-4d31-97e9-4e22e345f8eb')" @click="showModal('cb235f9c-c042-4d31-97e9-4e22e345f8eb')" :class="[returnClassRoom('cb235f9c-c042-4d31-97e9-4e22e345f8eb'), { 'hoverSvgClassPark': activeFloor === 'cb235f9c-c042-4d31-97e9-4e22e345f8eb' }]" class="fil0" points="198.51,223.05 198.51,196.94 208.88,196.94 208.88,223.05 "/>
  <polygon ref="75c9e150-ba1f-4925-a80f-98561a0b7f4c" id="75c9e150-ba1f-4925-a80f-98561a0b7f4c" @mouseover="addHoverClass('75c9e150-ba1f-4925-a80f-98561a0b7f4c')" @mouseleave="removeHoverClass('75c9e150-ba1f-4925-a80f-98561a0b7f4c')" @click="showModal('75c9e150-ba1f-4925-a80f-98561a0b7f4c')" :class="[returnClassRoom('75c9e150-ba1f-4925-a80f-98561a0b7f4c'), { 'hoverSvgClassPark': activeFloor === '75c9e150-ba1f-4925-a80f-98561a0b7f4c' }]" class="fil0" points="183.84,223.05 183.84,196.94 194.22,196.94 194.22,223.05 "/>
  <polygon ref="3a92f65f-ce22-409a-a578-8c280c7b0653" id="3a92f65f-ce22-409a-a578-8c280c7b0653" @mouseover="addHoverClass('3a92f65f-ce22-409a-a578-8c280c7b0653')" @mouseleave="removeHoverClass('3a92f65f-ce22-409a-a578-8c280c7b0653')" @click="showModal('3a92f65f-ce22-409a-a578-8c280c7b0653')" :class="[returnClassRoom('3a92f65f-ce22-409a-a578-8c280c7b0653'), { 'hoverSvgClassPark': activeFloor === '3a92f65f-ce22-409a-a578-8c280c7b0653' }]" class="fil0" points="171.86,223.05 171.86,196.94 182.23,196.94 182.23,223.05 "/>
  <polygon ref="940f53cc-a8bb-42ca-8ed5-68b4aae22e1a" id="940f53cc-a8bb-42ca-8ed5-68b4aae22e1a" @mouseover="addHoverClass('940f53cc-a8bb-42ca-8ed5-68b4aae22e1a')" @mouseleave="removeHoverClass('940f53cc-a8bb-42ca-8ed5-68b4aae22e1a')" @click="showModal('940f53cc-a8bb-42ca-8ed5-68b4aae22e1a')" :class="[returnClassRoom('940f53cc-a8bb-42ca-8ed5-68b4aae22e1a'), { 'hoverSvgClassPark': activeFloor === '940f53cc-a8bb-42ca-8ed5-68b4aae22e1a' }]" class="fil0" points="159.3,223.1 159.3,196.99 169.67,196.99 169.67,223.1 "/>
  <polygon ref="1a6b2d5e-e37a-4e45-95f5-75cfc50875ad" id="1a6b2d5e-e37a-4e45-95f5-75cfc50875ad" @mouseover="addHoverClass('1a6b2d5e-e37a-4e45-95f5-75cfc50875ad')" @mouseleave="removeHoverClass('1a6b2d5e-e37a-4e45-95f5-75cfc50875ad')" @click="showModal('1a6b2d5e-e37a-4e45-95f5-75cfc50875ad')" :class="[returnClassRoom('1a6b2d5e-e37a-4e45-95f5-75cfc50875ad'), { 'hoverSvgClassPark': activeFloor === '1a6b2d5e-e37a-4e45-95f5-75cfc50875ad' }]" class="fil0" points="367.49,223.05 367.49,196.94 377.87,196.94 377.87,223.05 "/>
  <polygon ref="17eae226-fe19-49c4-967d-0477e29e75fa" id="17eae226-fe19-49c4-967d-0477e29e75fa" @mouseover="addHoverClass('17eae226-fe19-49c4-967d-0477e29e75fa')" @mouseleave="removeHoverClass('17eae226-fe19-49c4-967d-0477e29e75fa')" @click="showModal('17eae226-fe19-49c4-967d-0477e29e75fa')" :class="[returnClassRoom('17eae226-fe19-49c4-967d-0477e29e75fa'), { 'hoverSvgClassPark': activeFloor === '17eae226-fe19-49c4-967d-0477e29e75fa' }]" class="fil0" points="378.49,223.05 378.49,196.94 388.86,196.94 388.86,223.05 "/>
  <polygon ref="308ef5a1-0990-4d34-9ea5-e4852c12defc" id="308ef5a1-0990-4d34-9ea5-e4852c12defc" @mouseover="addHoverClass('308ef5a1-0990-4d34-9ea5-e4852c12defc')" @mouseleave="removeHoverClass('308ef5a1-0990-4d34-9ea5-e4852c12defc')" @click="showModal('308ef5a1-0990-4d34-9ea5-e4852c12defc')" :class="[returnClassRoom('308ef5a1-0990-4d34-9ea5-e4852c12defc'), { 'hoverSvgClassPark': activeFloor === '308ef5a1-0990-4d34-9ea5-e4852c12defc' }]" class="fil0" points="355.51,223.05 355.51,196.94 365.89,196.94 365.89,223.05 "/>
  <polygon ref="62a21238-0388-4fc4-9af7-a06f0df6749a" id="62a21238-0388-4fc4-9af7-a06f0df6749a" @mouseover="addHoverClass('62a21238-0388-4fc4-9af7-a06f0df6749a')" @mouseleave="removeHoverClass('62a21238-0388-4fc4-9af7-a06f0df6749a')" @click="showModal('62a21238-0388-4fc4-9af7-a06f0df6749a')" :class="[returnClassRoom('62a21238-0388-4fc4-9af7-a06f0df6749a'), { 'hoverSvgClassPark': activeFloor === '62a21238-0388-4fc4-9af7-a06f0df6749a' }]" class="fil0" points="367.49,257.7 367.49,231.59 377.87,231.59 377.87,257.7 "/>
  <polygon ref="cafa8cf4-15c0-469a-a3e3-1ad76410f645" id="cafa8cf4-15c0-469a-a3e3-1ad76410f645" @mouseover="addHoverClass('cafa8cf4-15c0-469a-a3e3-1ad76410f645')" @mouseleave="removeHoverClass('cafa8cf4-15c0-469a-a3e3-1ad76410f645')" @click="showModal('cafa8cf4-15c0-469a-a3e3-1ad76410f645')" :class="[returnClassRoom('cafa8cf4-15c0-469a-a3e3-1ad76410f645'), { 'hoverSvgClassPark': activeFloor === 'cafa8cf4-15c0-469a-a3e3-1ad76410f645' }]" class="fil0" points="378.49,257.7 378.49,231.59 388.86,231.59 388.86,257.7 "/>
  <polygon ref="92f10b46-8562-4a33-b5f8-f860677d5f47" id="92f10b46-8562-4a33-b5f8-f860677d5f47" @mouseover="addHoverClass('92f10b46-8562-4a33-b5f8-f860677d5f47')" @mouseleave="removeHoverClass('92f10b46-8562-4a33-b5f8-f860677d5f47')" @click="showModal('92f10b46-8562-4a33-b5f8-f860677d5f47')" :class="[returnClassRoom('92f10b46-8562-4a33-b5f8-f860677d5f47'), { 'hoverSvgClassPark': activeFloor === '92f10b46-8562-4a33-b5f8-f860677d5f47' }]" class="fil0" points="355.51,257.7 355.51,231.59 365.89,231.59 365.89,257.7 "/>
  <polygon ref="e5cd145b-4e26-47fa-a1f8-2ba626836042" id="e5cd145b-4e26-47fa-a1f8-2ba626836042" @mouseover="addHoverClass('e5cd145b-4e26-47fa-a1f8-2ba626836042')" @mouseleave="removeHoverClass('e5cd145b-4e26-47fa-a1f8-2ba626836042')" @click="showModal('e5cd145b-4e26-47fa-a1f8-2ba626836042')" :class="[returnClassRoom('e5cd145b-4e26-47fa-a1f8-2ba626836042'), { 'hoverSvgClassPark': activeFloor === 'e5cd145b-4e26-47fa-a1f8-2ba626836042' }]" class="fil0" points="318.33,257.79 318.33,231.68 328.71,231.68 328.71,257.79 "/>
  <polygon ref="5c1d4db4-bbb9-42a8-a646-e231724e730b" id="5c1d4db4-bbb9-42a8-a646-e231724e730b" @mouseover="addHoverClass('5c1d4db4-bbb9-42a8-a646-e231724e730b')" @mouseleave="removeHoverClass('5c1d4db4-bbb9-42a8-a646-e231724e730b')" @click="showModal('5c1d4db4-bbb9-42a8-a646-e231724e730b')" :class="[returnClassRoom('5c1d4db4-bbb9-42a8-a646-e231724e730b'), { 'hoverSvgClassPark': activeFloor === '5c1d4db4-bbb9-42a8-a646-e231724e730b' }]" class="fil0" points="306.35,257.79 306.35,231.68 316.72,231.68 316.72,257.79 "/>
  <polygon ref="6a166080-eb17-4af4-b4ba-63f750f670b1" id="6a166080-eb17-4af4-b4ba-63f750f670b1" @mouseover="addHoverClass('6a166080-eb17-4af4-b4ba-63f750f670b1')" @mouseleave="removeHoverClass('6a166080-eb17-4af4-b4ba-63f750f670b1')" @click="showModal('6a166080-eb17-4af4-b4ba-63f750f670b1')" :class="[returnClassRoom('6a166080-eb17-4af4-b4ba-63f750f670b1'), { 'hoverSvgClassPark': activeFloor === '6a166080-eb17-4af4-b4ba-63f750f670b1' }]" class="fil0" points="330.13,257.7 330.13,231.59 340.51,231.59 340.51,257.7 "/>
  <polygon ref="3d6e1a8c-439c-494a-85d3-03757a8bdd04" id="3d6e1a8c-439c-494a-85d3-03757a8bdd04" @mouseover="addHoverClass('3d6e1a8c-439c-494a-85d3-03757a8bdd04')" @mouseleave="removeHoverClass('3d6e1a8c-439c-494a-85d3-03757a8bdd04')" @click="showModal('3d6e1a8c-439c-494a-85d3-03757a8bdd04')" :class="[returnClassRoom('3d6e1a8c-439c-494a-85d3-03757a8bdd04'), { 'hoverSvgClassPark': activeFloor === '3d6e1a8c-439c-494a-85d3-03757a8bdd04' }]" class="fil0" points="281.17,257.74 281.17,231.63 291.54,231.63 291.54,257.74 "/>
  <polygon ref="77ecd4d5-3658-43f4-ab41-286f60a8a66a" id="77ecd4d5-3658-43f4-ab41-286f60a8a66a" @mouseover="addHoverClass('77ecd4d5-3658-43f4-ab41-286f60a8a66a')" @mouseleave="removeHoverClass('77ecd4d5-3658-43f4-ab41-286f60a8a66a')" @click="showModal('77ecd4d5-3658-43f4-ab41-286f60a8a66a')" :class="[returnClassRoom('77ecd4d5-3658-43f4-ab41-286f60a8a66a'), { 'hoverSvgClassPark': activeFloor === '77ecd4d5-3658-43f4-ab41-286f60a8a66a' }]" class="fil0" points="269.18,257.74 269.18,231.63 279.56,231.63 279.56,257.74 "/>
  <polygon ref="3e958d8e-2e77-45eb-af0b-2841b250961d" id="3e958d8e-2e77-45eb-af0b-2841b250961d" @mouseover="addHoverClass('3e958d8e-2e77-45eb-af0b-2841b250961d')" @mouseleave="removeHoverClass('3e958d8e-2e77-45eb-af0b-2841b250961d')" @click="showModal('3e958d8e-2e77-45eb-af0b-2841b250961d')" :class="[returnClassRoom('3e958d8e-2e77-45eb-af0b-2841b250961d'), { 'hoverSvgClassPark': activeFloor === '3e958d8e-2e77-45eb-af0b-2841b250961d' }]" class="fil0" points="242.05,257.83 242.05,231.72 252.42,231.72 252.42,257.83 "/>
  <polygon ref="ad20235d-77e0-4900-b776-ebe9df627fc9" id="ad20235d-77e0-4900-b776-ebe9df627fc9" @mouseover="addHoverClass('ad20235d-77e0-4900-b776-ebe9df627fc9')" @mouseleave="removeHoverClass('ad20235d-77e0-4900-b776-ebe9df627fc9')" @click="showModal('ad20235d-77e0-4900-b776-ebe9df627fc9')" :class="[returnClassRoom('ad20235d-77e0-4900-b776-ebe9df627fc9'), { 'hoverSvgClassPark': activeFloor === 'ad20235d-77e0-4900-b776-ebe9df627fc9' }]" class="fil0" points="215.32,257.7 215.32,231.59 225.69,231.59 225.69,257.7 "/>
  <polygon ref="f0291ef3-d0c0-456a-be38-d8c788ffb146" id="f0291ef3-d0c0-456a-be38-d8c788ffb146" @mouseover="addHoverClass('f0291ef3-d0c0-456a-be38-d8c788ffb146')" @mouseleave="removeHoverClass('f0291ef3-d0c0-456a-be38-d8c788ffb146')" @click="showModal('f0291ef3-d0c0-456a-be38-d8c788ffb146')" :class="[returnClassRoom('f0291ef3-d0c0-456a-be38-d8c788ffb146'), { 'hoverSvgClassPark': activeFloor === 'f0291ef3-d0c0-456a-be38-d8c788ffb146' }]" class="fil0" points="193.11,257.74 193.11,231.63 203.48,231.63 203.48,257.74 "/>
  <polygon ref="e54bd55b-c4f9-43ad-8495-7317b945b6e9" id="e54bd55b-c4f9-43ad-8495-7317b945b6e9" @mouseover="addHoverClass('e54bd55b-c4f9-43ad-8495-7317b945b6e9')" @mouseleave="removeHoverClass('e54bd55b-c4f9-43ad-8495-7317b945b6e9')" @click="showModal('e54bd55b-c4f9-43ad-8495-7317b945b6e9')" :class="[returnClassRoom('e54bd55b-c4f9-43ad-8495-7317b945b6e9'), { 'hoverSvgClassPark': activeFloor === 'e54bd55b-c4f9-43ad-8495-7317b945b6e9' }]" class="fil0" points="204.46,257.7 204.46,231.59 214.84,231.59 214.84,257.7 "/>
  <polygon ref="df37598e-984b-478e-987f-2680ff436cc5" id="df37598e-984b-478e-987f-2680ff436cc5" @mouseover="addHoverClass('df37598e-984b-478e-987f-2680ff436cc5')" @mouseleave="removeHoverClass('df37598e-984b-478e-987f-2680ff436cc5')" @click="showModal('df37598e-984b-478e-987f-2680ff436cc5')" :class="[returnClassRoom('df37598e-984b-478e-987f-2680ff436cc5'), { 'hoverSvgClassPark': activeFloor === 'df37598e-984b-478e-987f-2680ff436cc5' }]" class="fil0" points="178.11,257.7 178.11,231.59 188.48,231.59 188.48,257.7 "/>
  <polygon ref="c35c59f1-30ef-4c1a-9997-0a83639811c5" id="c35c59f1-30ef-4c1a-9997-0a83639811c5" @mouseover="addHoverClass('c35c59f1-30ef-4c1a-9997-0a83639811c5')" @mouseleave="removeHoverClass('c35c59f1-30ef-4c1a-9997-0a83639811c5')" @click="showModal('c35c59f1-30ef-4c1a-9997-0a83639811c5')" :class="[returnClassRoom('c35c59f1-30ef-4c1a-9997-0a83639811c5'), { 'hoverSvgClassPark': activeFloor === 'c35c59f1-30ef-4c1a-9997-0a83639811c5' }]" class="fil0" points="164.7,257.7 164.7,231.59 175.07,231.59 175.07,257.7 "/>
  <polygon ref="d32c8f04-5508-449a-9391-035bf7517a11" id="d32c8f04-5508-449a-9391-035bf7517a11" @mouseover="addHoverClass('d32c8f04-5508-449a-9391-035bf7517a11')" @mouseleave="removeHoverClass('d32c8f04-5508-449a-9391-035bf7517a11')" @click="showModal('d32c8f04-5508-449a-9391-035bf7517a11')" :class="[returnClassRoom('d32c8f04-5508-449a-9391-035bf7517a11'), { 'hoverSvgClassPark': activeFloor === 'd32c8f04-5508-449a-9391-035bf7517a11' }]" class="fil0" points="137.52,257.74 137.52,231.63 147.9,231.63 147.9,257.74 "/>
  <polygon ref="eda6c01f-617a-4ddb-b8b9-02721317a857" id="eda6c01f-617a-4ddb-b8b9-02721317a857" @mouseover="addHoverClass('eda6c01f-617a-4ddb-b8b9-02721317a857')" @mouseleave="removeHoverClass('eda6c01f-617a-4ddb-b8b9-02721317a857')" @click="showModal('eda6c01f-617a-4ddb-b8b9-02721317a857')" :class="[returnClassRoom('eda6c01f-617a-4ddb-b8b9-02721317a857'), { 'hoverSvgClassPark': activeFloor === 'eda6c01f-617a-4ddb-b8b9-02721317a857' }]" class="fil0" points="439.22,223.1 439.22,196.99 449.59,196.99 449.59,223.1 "/>
  <polygon ref="641e9fce-d303-401e-805c-40bf7e849a64" id="641e9fce-d303-401e-805c-40bf7e849a64" @mouseover="addHoverClass('641e9fce-d303-401e-805c-40bf7e849a64')" @mouseleave="removeHoverClass('641e9fce-d303-401e-805c-40bf7e849a64')" @click="showModal('641e9fce-d303-401e-805c-40bf7e849a64')" :class="[returnClassRoom('641e9fce-d303-401e-805c-40bf7e849a64'), { 'hoverSvgClassPark': activeFloor === '641e9fce-d303-401e-805c-40bf7e849a64' }]" class="fil0" points="450.22,223.1 450.22,196.99 460.59,196.99 460.59,223.1 "/>
  <polygon ref="089738a8-4c14-4b1e-ae5b-56b4ed6693e4" id="089738a8-4c14-4b1e-ae5b-56b4ed6693e4" @mouseover="addHoverClass('089738a8-4c14-4b1e-ae5b-56b4ed6693e4')" @mouseleave="removeHoverClass('089738a8-4c14-4b1e-ae5b-56b4ed6693e4')" @click="showModal('089738a8-4c14-4b1e-ae5b-56b4ed6693e4')" :class="[returnClassRoom('089738a8-4c14-4b1e-ae5b-56b4ed6693e4'), { 'hoverSvgClassPark': activeFloor === '089738a8-4c14-4b1e-ae5b-56b4ed6693e4' }]" class="fil0" points="467.83,223.1 467.83,196.99 478.21,196.99 478.21,223.1 "/>
  <polygon ref="5f6b9857-43d0-4cbb-b00a-c906eb47fd44" id="5f6b9857-43d0-4cbb-b00a-c906eb47fd44" @mouseover="addHoverClass('5f6b9857-43d0-4cbb-b00a-c906eb47fd44')" @mouseleave="removeHoverClass('5f6b9857-43d0-4cbb-b00a-c906eb47fd44')" @click="showModal('5f6b9857-43d0-4cbb-b00a-c906eb47fd44')" :class="[returnClassRoom('5f6b9857-43d0-4cbb-b00a-c906eb47fd44'), { 'hoverSvgClassPark': activeFloor === '5f6b9857-43d0-4cbb-b00a-c906eb47fd44' }]" class="fil0" points="478.83,223.1 478.83,196.99 489.2,196.99 489.2,223.1 "/>
  <polygon ref="0d0b9b89-2a9f-44ae-a08b-4ca20de206b1" id="0d0b9b89-2a9f-44ae-a08b-4ca20de206b1" @mouseover="addHoverClass('0d0b9b89-2a9f-44ae-a08b-4ca20de206b1')" @mouseleave="removeHoverClass('0d0b9b89-2a9f-44ae-a08b-4ca20de206b1')" @click="showModal('0d0b9b89-2a9f-44ae-a08b-4ca20de206b1')" :class="[returnClassRoom('0d0b9b89-2a9f-44ae-a08b-4ca20de206b1'), { 'hoverSvgClassPark': activeFloor === '0d0b9b89-2a9f-44ae-a08b-4ca20de206b1' }]" class="fil0" points="490.63,223.1 490.63,196.99 501.01,196.99 501.01,223.1 "/>
  <polygon ref="e79e602b-9583-4b1c-b509-c5562dad581d" id="e79e602b-9583-4b1c-b509-c5562dad581d" @mouseover="addHoverClass('e79e602b-9583-4b1c-b509-c5562dad581d')" @mouseleave="removeHoverClass('e79e602b-9583-4b1c-b509-c5562dad581d')" @click="showModal('e79e602b-9583-4b1c-b509-c5562dad581d')" :class="[returnClassRoom('e79e602b-9583-4b1c-b509-c5562dad581d'), { 'hoverSvgClassPark': activeFloor === 'e79e602b-9583-4b1c-b509-c5562dad581d' }]" class="fil0" points="459.98,257.75 459.98,231.64 470.35,231.64 470.35,257.75 "/>
  <polygon ref="2fd8d986-1a76-4771-86ae-625ad490b868" id="2fd8d986-1a76-4771-86ae-625ad490b868" @mouseover="addHoverClass('2fd8d986-1a76-4771-86ae-625ad490b868')" @mouseleave="removeHoverClass('2fd8d986-1a76-4771-86ae-625ad490b868')" @click="showModal('2fd8d986-1a76-4771-86ae-625ad490b868')" :class="[returnClassRoom('2fd8d986-1a76-4771-86ae-625ad490b868'), { 'hoverSvgClassPark': activeFloor === '2fd8d986-1a76-4771-86ae-625ad490b868' }]" class="fil0" points="470.97,257.75 470.97,231.64 481.35,231.64 481.35,257.75 "/>
  <polygon ref="10735177-552f-43c7-993b-1b64c024bd73" id="10735177-552f-43c7-993b-1b64c024bd73" @mouseover="addHoverClass('10735177-552f-43c7-993b-1b64c024bd73')" @mouseleave="removeHoverClass('10735177-552f-43c7-993b-1b64c024bd73')" @click="showModal('10735177-552f-43c7-993b-1b64c024bd73')" :class="[returnClassRoom('10735177-552f-43c7-993b-1b64c024bd73'), { 'hoverSvgClassPark': activeFloor === '10735177-552f-43c7-993b-1b64c024bd73' }]" class="fil0" points="482.78,257.75 482.78,231.64 493.15,231.64 493.15,257.75 "/>
  <polygon ref="48d56a0f-a208-462c-98fb-1baaf1760824" id="48d56a0f-a208-462c-98fb-1baaf1760824" @mouseover="addHoverClass('48d56a0f-a208-462c-98fb-1baaf1760824')" @mouseleave="removeHoverClass('48d56a0f-a208-462c-98fb-1baaf1760824')" @click="showModal('48d56a0f-a208-462c-98fb-1baaf1760824')" :class="[returnClassRoom('48d56a0f-a208-462c-98fb-1baaf1760824'), { 'hoverSvgClassPark': activeFloor === '48d56a0f-a208-462c-98fb-1baaf1760824' }]" class="fil0" points="510.05,223.05 510.05,196.95 520.42,196.95 520.42,223.05 "/>
  <polygon ref="793fc7bf-f958-412e-9e00-16743181bb98" id="793fc7bf-f958-412e-9e00-16743181bb98" @mouseover="addHoverClass('793fc7bf-f958-412e-9e00-16743181bb98')" @mouseleave="removeHoverClass('793fc7bf-f958-412e-9e00-16743181bb98')" @click="showModal('793fc7bf-f958-412e-9e00-16743181bb98')" :class="[returnClassRoom('793fc7bf-f958-412e-9e00-16743181bb98'), { 'hoverSvgClassPark': activeFloor === '793fc7bf-f958-412e-9e00-16743181bb98' }]" class="fil0" points="521.04,223.05 521.04,196.95 531.42,196.95 531.42,223.05 "/>
  <polygon ref="2068093f-de65-477d-9630-12c273a02bcc" id="2068093f-de65-477d-9630-12c273a02bcc" @mouseover="addHoverClass('2068093f-de65-477d-9630-12c273a02bcc')" @mouseleave="removeHoverClass('2068093f-de65-477d-9630-12c273a02bcc')" @click="showModal('2068093f-de65-477d-9630-12c273a02bcc')" :class="[returnClassRoom('2068093f-de65-477d-9630-12c273a02bcc'), { 'hoverSvgClassPark': activeFloor === '2068093f-de65-477d-9630-12c273a02bcc' }]" class="fil0" points="532.85,223.05 532.85,196.95 543.22,196.95 543.22,223.05 "/>
  <polygon ref="f53b340d-32fa-4604-a79c-b0373fd15fdf" id="f53b340d-32fa-4604-a79c-b0373fd15fdf" @mouseover="addHoverClass('f53b340d-32fa-4604-a79c-b0373fd15fdf')" @mouseleave="removeHoverClass('f53b340d-32fa-4604-a79c-b0373fd15fdf')" @click="showModal('f53b340d-32fa-4604-a79c-b0373fd15fdf')" :class="[returnClassRoom('f53b340d-32fa-4604-a79c-b0373fd15fdf'), { 'hoverSvgClassPark': activeFloor === 'f53b340d-32fa-4604-a79c-b0373fd15fdf' }]" class="fil0" points="549.39,257.57 549.39,231.46 559.76,231.46 559.76,257.57 "/>
  <polygon ref="d7afec99-7b73-41eb-b3d1-cc169395bb19" id="d7afec99-7b73-41eb-b3d1-cc169395bb19" @mouseover="addHoverClass('d7afec99-7b73-41eb-b3d1-cc169395bb19')" @mouseleave="removeHoverClass('d7afec99-7b73-41eb-b3d1-cc169395bb19')" @click="showModal('d7afec99-7b73-41eb-b3d1-cc169395bb19')" :class="[returnClassRoom('d7afec99-7b73-41eb-b3d1-cc169395bb19'), { 'hoverSvgClassPark': activeFloor === 'd7afec99-7b73-41eb-b3d1-cc169395bb19' }]" class="fil0" points="561.1,257.66 561.1,231.55 571.48,231.55 571.48,257.66 "/>
  <polygon ref="e3fb2502-2222-4481-9fad-0cec25d6940a" id="e3fb2502-2222-4481-9fad-0cec25d6940a" @mouseover="addHoverClass('e3fb2502-2222-4481-9fad-0cec25d6940a')" @mouseleave="removeHoverClass('e3fb2502-2222-4481-9fad-0cec25d6940a')" @click="showModal('e3fb2502-2222-4481-9fad-0cec25d6940a')" :class="[returnClassRoom('e3fb2502-2222-4481-9fad-0cec25d6940a'), { 'hoverSvgClassPark': activeFloor === 'e3fb2502-2222-4481-9fad-0cec25d6940a' }]" class="fil0" points="572.19,257.57 572.19,231.46 582.56,231.46 582.56,257.57 "/>
  <polygon ref="e3204f00-37de-47a0-a368-5a455beb759a" id="e3204f00-37de-47a0-a368-5a455beb759a" @mouseover="addHoverClass('e3204f00-37de-47a0-a368-5a455beb759a')" @mouseleave="removeHoverClass('e3204f00-37de-47a0-a368-5a455beb759a')" @click="showModal('e3204f00-37de-47a0-a368-5a455beb759a')" :class="[returnClassRoom('e3204f00-37de-47a0-a368-5a455beb759a'), { 'hoverSvgClassPark': activeFloor === 'e3204f00-37de-47a0-a368-5a455beb759a' }]" class="fil0" points="546.26,315.87 546.26,289.76 556.63,289.76 556.63,315.87 "/>
  <polygon ref="6526e327-2167-4ab5-b1ca-5d0d45c3ee71" id="6526e327-2167-4ab5-b1ca-5d0d45c3ee71" @mouseover="addHoverClass('6526e327-2167-4ab5-b1ca-5d0d45c3ee71')" @mouseleave="removeHoverClass('6526e327-2167-4ab5-b1ca-5d0d45c3ee71')" @click="showModal('6526e327-2167-4ab5-b1ca-5d0d45c3ee71')" :class="[returnClassRoom('6526e327-2167-4ab5-b1ca-5d0d45c3ee71'), { 'hoverSvgClassPark': activeFloor === '6526e327-2167-4ab5-b1ca-5d0d45c3ee71' }]" class="fil0" points="557.26,315.87 557.26,289.76 567.63,289.76 567.63,315.87 "/>
  <polygon ref="d0ed84e9-8b0c-460c-9e97-4c5b0a69111a" id="d0ed84e9-8b0c-460c-9e97-4c5b0a69111a" @mouseover="addHoverClass('d0ed84e9-8b0c-460c-9e97-4c5b0a69111a')" @mouseleave="removeHoverClass('d0ed84e9-8b0c-460c-9e97-4c5b0a69111a')" @click="showModal('d0ed84e9-8b0c-460c-9e97-4c5b0a69111a')" :class="[returnClassRoom('d0ed84e9-8b0c-460c-9e97-4c5b0a69111a'), { 'hoverSvgClassPark': activeFloor === 'd0ed84e9-8b0c-460c-9e97-4c5b0a69111a' }]" class="fil0" points="569.06,315.87 569.06,289.76 579.43,289.76 579.43,315.87 "/>
  <polygon ref="f974c204-680d-4105-8d82-45a5c801dada" id="f974c204-680d-4105-8d82-45a5c801dada" @mouseover="addHoverClass('f974c204-680d-4105-8d82-45a5c801dada')" @mouseleave="removeHoverClass('f974c204-680d-4105-8d82-45a5c801dada')" @click="showModal('f974c204-680d-4105-8d82-45a5c801dada')" :class="[returnClassRoom('f974c204-680d-4105-8d82-45a5c801dada'), { 'hoverSvgClassPark': activeFloor === 'f974c204-680d-4105-8d82-45a5c801dada' }]" class="fil0" points="458.19,315.78 458.19,289.67 468.56,289.67 468.56,315.78 "/>
  <polygon ref="b366a44e-8c09-4648-a4a9-b08bfa64ca9f" id="b366a44e-8c09-4648-a4a9-b08bfa64ca9f" @mouseover="addHoverClass('b366a44e-8c09-4648-a4a9-b08bfa64ca9f')" @mouseleave="removeHoverClass('b366a44e-8c09-4648-a4a9-b08bfa64ca9f')" @click="showModal('b366a44e-8c09-4648-a4a9-b08bfa64ca9f')" :class="[returnClassRoom('b366a44e-8c09-4648-a4a9-b08bfa64ca9f'), { 'hoverSvgClassPark': activeFloor === 'b366a44e-8c09-4648-a4a9-b08bfa64ca9f' }]" class="fil0" points="469.19,315.78 469.19,289.67 479.56,289.67 479.56,315.78 "/>
  <polygon ref="6c04be03-e9ab-4f69-9c30-633524d24722" id="6c04be03-e9ab-4f69-9c30-633524d24722" @mouseover="addHoverClass('6c04be03-e9ab-4f69-9c30-633524d24722')" @mouseleave="removeHoverClass('6c04be03-e9ab-4f69-9c30-633524d24722')" @click="showModal('6c04be03-e9ab-4f69-9c30-633524d24722')" :class="[returnClassRoom('6c04be03-e9ab-4f69-9c30-633524d24722'), { 'hoverSvgClassPark': activeFloor === '6c04be03-e9ab-4f69-9c30-633524d24722' }]" class="fil0" points="480.99,315.78 480.99,289.67 491.36,289.67 491.36,315.78 "/>
  <polygon ref="1876dcd3-004b-4fbb-abe1-07c95a70d71e" id="1876dcd3-004b-4fbb-abe1-07c95a70d71e" @mouseover="addHoverClass('1876dcd3-004b-4fbb-abe1-07c95a70d71e')" @mouseleave="removeHoverClass('1876dcd3-004b-4fbb-abe1-07c95a70d71e')" @click="showModal('1876dcd3-004b-4fbb-abe1-07c95a70d71e')" :class="[returnClassRoom('1876dcd3-004b-4fbb-abe1-07c95a70d71e'), { 'hoverSvgClassPark': activeFloor === '1876dcd3-004b-4fbb-abe1-07c95a70d71e' }]" class="fil0" points="348.3,315.87 348.3,289.76 358.67,289.76 358.67,315.87 "/>
  <polygon ref="8aabe635-5186-4b96-97a9-f32268b8da89" id="8aabe635-5186-4b96-97a9-f32268b8da89" @mouseover="addHoverClass('8aabe635-5186-4b96-97a9-f32268b8da89')" @mouseleave="removeHoverClass('8aabe635-5186-4b96-97a9-f32268b8da89')" @click="showModal('8aabe635-5186-4b96-97a9-f32268b8da89')" :class="[returnClassRoom('8aabe635-5186-4b96-97a9-f32268b8da89'), { 'hoverSvgClassPark': activeFloor === '8aabe635-5186-4b96-97a9-f32268b8da89' }]" class="fil0" points="359.3,315.87 359.3,289.76 369.67,289.76 369.67,315.87 "/>
  <polygon ref="9f762083-e23a-4c3d-a3ce-a148ba2fb74c" id="9f762083-e23a-4c3d-a3ce-a148ba2fb74c" @mouseover="addHoverClass('9f762083-e23a-4c3d-a3ce-a148ba2fb74c')" @mouseleave="removeHoverClass('9f762083-e23a-4c3d-a3ce-a148ba2fb74c')" @click="showModal('9f762083-e23a-4c3d-a3ce-a148ba2fb74c')" :class="[returnClassRoom('9f762083-e23a-4c3d-a3ce-a148ba2fb74c'), { 'hoverSvgClassPark': activeFloor === '9f762083-e23a-4c3d-a3ce-a148ba2fb74c' }]" class="fil0" points="371.1,315.87 371.1,289.76 381.47,289.76 381.47,315.87 "/>
  <polygon ref="da2431e5-03b8-4a89-90db-f93ac3854a97" id="da2431e5-03b8-4a89-90db-f93ac3854a97" @mouseover="addHoverClass('da2431e5-03b8-4a89-90db-f93ac3854a97')" @mouseleave="removeHoverClass('da2431e5-03b8-4a89-90db-f93ac3854a97')" @click="showModal('da2431e5-03b8-4a89-90db-f93ac3854a97')" :class="[returnClassRoom('da2431e5-03b8-4a89-90db-f93ac3854a97'), { 'hoverSvgClassPark': activeFloor === 'da2431e5-03b8-4a89-90db-f93ac3854a97' }]" class="fil0" points="194.24,315.96 194.24,289.85 204.61,289.85 204.61,315.96 "/>
  <polygon ref="19348c23-21cd-4bd7-8e45-8e7848cc6a87" id="19348c23-21cd-4bd7-8e45-8e7848cc6a87" @mouseover="addHoverClass('19348c23-21cd-4bd7-8e45-8e7848cc6a87')" @mouseleave="removeHoverClass('19348c23-21cd-4bd7-8e45-8e7848cc6a87')" @click="showModal('19348c23-21cd-4bd7-8e45-8e7848cc6a87')" :class="[returnClassRoom('19348c23-21cd-4bd7-8e45-8e7848cc6a87'), { 'hoverSvgClassPark': activeFloor === '19348c23-21cd-4bd7-8e45-8e7848cc6a87' }]" class="fil0" points="205.24,315.96 205.24,289.85 215.61,289.85 215.61,315.96 "/>
  <polygon ref="22639e3a-90e6-4ecb-ba21-7a43b22848ce" id="22639e3a-90e6-4ecb-ba21-7a43b22848ce" @mouseover="addHoverClass('22639e3a-90e6-4ecb-ba21-7a43b22848ce')" @mouseleave="removeHoverClass('22639e3a-90e6-4ecb-ba21-7a43b22848ce')" @click="showModal('22639e3a-90e6-4ecb-ba21-7a43b22848ce')" :class="[returnClassRoom('22639e3a-90e6-4ecb-ba21-7a43b22848ce'), { 'hoverSvgClassPark': activeFloor === '22639e3a-90e6-4ecb-ba21-7a43b22848ce' }]" class="fil0" points="217.04,315.96 217.04,289.85 227.41,289.85 227.41,315.96 "/>
  <polygon ref="07e2fa98-7176-4429-a87f-6057eae3ad72" id="07e2fa98-7176-4429-a87f-6057eae3ad72" @mouseover="addHoverClass('07e2fa98-7176-4429-a87f-6057eae3ad72')" @mouseleave="removeHoverClass('07e2fa98-7176-4429-a87f-6057eae3ad72')" @click="showModal('07e2fa98-7176-4429-a87f-6057eae3ad72')" :class="[returnClassRoom('07e2fa98-7176-4429-a87f-6057eae3ad72'), { 'hoverSvgClassPark': activeFloor === '07e2fa98-7176-4429-a87f-6057eae3ad72' }]" class="fil0" points="553.68,223.14 553.68,197.04 564.06,197.04 564.06,223.14 "/>
  <polygon ref="e10d30c4-0861-4b11-828e-a53b2f799fdd" id="e10d30c4-0861-4b11-828e-a53b2f799fdd" @mouseover="addHoverClass('e10d30c4-0861-4b11-828e-a53b2f799fdd')" @mouseleave="removeHoverClass('e10d30c4-0861-4b11-828e-a53b2f799fdd')" @click="showModal('e10d30c4-0861-4b11-828e-a53b2f799fdd')" :class="[returnClassRoom('e10d30c4-0861-4b11-828e-a53b2f799fdd'), { 'hoverSvgClassPark': activeFloor === 'e10d30c4-0861-4b11-828e-a53b2f799fdd' }]" class="fil0" points="564.68,223.14 564.68,197.04 575.05,197.04 575.05,223.14 "/>
  <polygon ref="e1a75582-ffd2-4644-9050-523316e8b43d" id="e1a75582-ffd2-4644-9050-523316e8b43d" @mouseover="addHoverClass('e1a75582-ffd2-4644-9050-523316e8b43d')" @mouseleave="removeHoverClass('e1a75582-ffd2-4644-9050-523316e8b43d')" @click="showModal('e1a75582-ffd2-4644-9050-523316e8b43d')" :class="[returnClassRoom('e1a75582-ffd2-4644-9050-523316e8b43d'), { 'hoverSvgClassPark': activeFloor === 'e1a75582-ffd2-4644-9050-523316e8b43d' }]" class="fil0" points="506.56,315.87 506.56,289.76 516.93,289.76 516.93,315.87 "/>
  <polygon ref="e8309676-9d55-46db-bc67-21c43fadcc74" id="e8309676-9d55-46db-bc67-21c43fadcc74" @mouseover="addHoverClass('e8309676-9d55-46db-bc67-21c43fadcc74')" @mouseleave="removeHoverClass('e8309676-9d55-46db-bc67-21c43fadcc74')" @click="showModal('e8309676-9d55-46db-bc67-21c43fadcc74')" :class="[returnClassRoom('e8309676-9d55-46db-bc67-21c43fadcc74'), { 'hoverSvgClassPark': activeFloor === 'e8309676-9d55-46db-bc67-21c43fadcc74' }]" class="fil0" points="517.56,315.87 517.56,289.76 527.93,289.76 527.93,315.87 "/>
  <polygon ref="9a885869-47a0-4ad1-9f4e-8786f1b9752a" id="9a885869-47a0-4ad1-9f4e-8786f1b9752a" @mouseover="addHoverClass('9a885869-47a0-4ad1-9f4e-8786f1b9752a')" @mouseleave="removeHoverClass('9a885869-47a0-4ad1-9f4e-8786f1b9752a')" @click="showModal('9a885869-47a0-4ad1-9f4e-8786f1b9752a')" :class="[returnClassRoom('9a885869-47a0-4ad1-9f4e-8786f1b9752a'), { 'hoverSvgClassPark': activeFloor === '9a885869-47a0-4ad1-9f4e-8786f1b9752a' }]" class="fil0" points="507.27,257.84 507.27,231.73 517.65,231.73 517.65,257.84 "/>
  <polygon ref="70557c01-89b7-4b6f-90c4-fc0728553059" id="70557c01-89b7-4b6f-90c4-fc0728553059" @mouseover="addHoverClass('70557c01-89b7-4b6f-90c4-fc0728553059')" @mouseleave="removeHoverClass('70557c01-89b7-4b6f-90c4-fc0728553059')" @click="showModal('70557c01-89b7-4b6f-90c4-fc0728553059')" :class="[returnClassRoom('70557c01-89b7-4b6f-90c4-fc0728553059'), { 'hoverSvgClassPark': activeFloor === '70557c01-89b7-4b6f-90c4-fc0728553059' }]" class="fil0" points="519.53,257.75 519.53,231.64 529.9,231.64 529.9,257.75 "/>
  <polygon ref="78ab60af-c9de-4615-bb4b-d42d19aefe51" id="78ab60af-c9de-4615-bb4b-d42d19aefe51" @mouseover="addHoverClass('78ab60af-c9de-4615-bb4b-d42d19aefe51')" @mouseleave="removeHoverClass('78ab60af-c9de-4615-bb4b-d42d19aefe51')" @click="showModal('78ab60af-c9de-4615-bb4b-d42d19aefe51')" :class="[returnClassRoom('78ab60af-c9de-4615-bb4b-d42d19aefe51'), { 'hoverSvgClassPark': activeFloor === '78ab60af-c9de-4615-bb4b-d42d19aefe51' }]" class="fil0" points="242.76,315.87 242.76,289.76 253.13,289.76 253.13,315.87 "/>
  <polygon ref="718d6ad9-3848-4ad5-9063-8c7843c84178" id="718d6ad9-3848-4ad5-9063-8c7843c84178" @mouseover="addHoverClass('718d6ad9-3848-4ad5-9063-8c7843c84178')" @mouseleave="removeHoverClass('718d6ad9-3848-4ad5-9063-8c7843c84178')" @click="showModal('718d6ad9-3848-4ad5-9063-8c7843c84178')" :class="[returnClassRoom('718d6ad9-3848-4ad5-9063-8c7843c84178'), { 'hoverSvgClassPark': activeFloor === '718d6ad9-3848-4ad5-9063-8c7843c84178' }]" class="fil0" points="253.76,315.87 253.76,289.76 264.13,289.76 264.13,315.87 "/>
  <polygon ref="8dbbf43b-a460-4d82-8f9b-309c73b8c771" id="8dbbf43b-a460-4d82-8f9b-309c73b8c771" @mouseover="addHoverClass('8dbbf43b-a460-4d82-8f9b-309c73b8c771')" @mouseleave="removeHoverClass('8dbbf43b-a460-4d82-8f9b-309c73b8c771')" @click="showModal('8dbbf43b-a460-4d82-8f9b-309c73b8c771')" :class="[returnClassRoom('8dbbf43b-a460-4d82-8f9b-309c73b8c771'), { 'hoverSvgClassPark': activeFloor === '8dbbf43b-a460-4d82-8f9b-309c73b8c771' }]" class="fil0" points="157.04,315.87 157.04,289.76 167.42,289.76 167.42,315.87 "/>
  <polygon ref="3623fb7b-d659-4178-b70a-33c88b284251" id="3623fb7b-d659-4178-b70a-33c88b284251" @mouseover="addHoverClass('3623fb7b-d659-4178-b70a-33c88b284251')" @mouseleave="removeHoverClass('3623fb7b-d659-4178-b70a-33c88b284251')" @click="showModal('3623fb7b-d659-4178-b70a-33c88b284251')" :class="[returnClassRoom('3623fb7b-d659-4178-b70a-33c88b284251'), { 'hoverSvgClassPark': activeFloor === '3623fb7b-d659-4178-b70a-33c88b284251' }]" class="fil0" points="168.04,315.87 168.04,289.76 178.42,289.76 178.42,315.87 "/>
  <polygon ref="c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7" id="c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7" @mouseover="addHoverClass('c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7')" @mouseleave="removeHoverClass('c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7')" @click="showModal('c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7')" :class="[returnClassRoom('c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7'), { 'hoverSvgClassPark': activeFloor === 'c1de08b9-7cfe-4f3a-af86-5dd46e3f8dc7' }]" class="fil0" points="328.99,316.05 328.99,289.94 339.36,289.94 339.36,316.05 "/>
  <polygon ref="7b23136c-427c-4fe0-ba6e-c0c880b3168f" id="7b23136c-427c-4fe0-ba6e-c0c880b3168f" @mouseover="addHoverClass('7b23136c-427c-4fe0-ba6e-c0c880b3168f')" @mouseleave="removeHoverClass('7b23136c-427c-4fe0-ba6e-c0c880b3168f')" @click="showModal('7b23136c-427c-4fe0-ba6e-c0c880b3168f')" :class="[returnClassRoom('7b23136c-427c-4fe0-ba6e-c0c880b3168f'), { 'hoverSvgClassPark': activeFloor === '7b23136c-427c-4fe0-ba6e-c0c880b3168f' }]" class="fil0" points="434.85,257.57 434.85,231.46 445.22,231.46 445.22,257.57 "/>
  <polygon ref="c9eebfca-8722-4c38-afc2-9ab13bc36e33" id="c9eebfca-8722-4c38-afc2-9ab13bc36e33" @mouseover="addHoverClass('c9eebfca-8722-4c38-afc2-9ab13bc36e33')" @mouseleave="removeHoverClass('c9eebfca-8722-4c38-afc2-9ab13bc36e33')" @click="showModal('c9eebfca-8722-4c38-afc2-9ab13bc36e33')" :class="[returnClassRoom('c9eebfca-8722-4c38-afc2-9ab13bc36e33'), { 'hoverSvgClassPark': activeFloor === 'c9eebfca-8722-4c38-afc2-9ab13bc36e33' }]" class="fil0" points="400.02,315.82 400.02,289.72 414.51,289.72 414.51,315.82 "/>
  <polygon ref="1b736a85-4ee9-4a4b-9de1-06c57d2abb4d" id="1b736a85-4ee9-4a4b-9de1-06c57d2abb4d" @mouseover="addHoverClass('1b736a85-4ee9-4a4b-9de1-06c57d2abb4d')" @mouseleave="removeHoverClass('1b736a85-4ee9-4a4b-9de1-06c57d2abb4d')" @click="showModal('1b736a85-4ee9-4a4b-9de1-06c57d2abb4d')" :class="[returnClassRoom('1b736a85-4ee9-4a4b-9de1-06c57d2abb4d'), { 'hoverSvgClassPark': activeFloor === '1b736a85-4ee9-4a4b-9de1-06c57d2abb4d' }]" class="fil0" points="587.37,169.53 613.03,169.53 613.03,179.91 587.37,179.91 "/>
  <polygon ref="4ffc461e-bcb9-432c-98ea-6b9ff394d0d3" id="4ffc461e-bcb9-432c-98ea-6b9ff394d0d3" @mouseover="addHoverClass('4ffc461e-bcb9-432c-98ea-6b9ff394d0d3')" @mouseleave="removeHoverClass('4ffc461e-bcb9-432c-98ea-6b9ff394d0d3')" @click="showModal('4ffc461e-bcb9-432c-98ea-6b9ff394d0d3')" :class="[returnClassRoom('4ffc461e-bcb9-432c-98ea-6b9ff394d0d3'), { 'hoverSvgClassPark': activeFloor === '4ffc461e-bcb9-432c-98ea-6b9ff394d0d3' }]" class="fil0" points="587.37,180.53 613.03,180.53 613.03,190.9 587.37,190.9 "/>
  <polygon ref="76ccf828-f433-453d-83dc-78072cccc704" id="76ccf828-f433-453d-83dc-78072cccc704" @mouseover="addHoverClass('76ccf828-f433-453d-83dc-78072cccc704')" @mouseleave="removeHoverClass('76ccf828-f433-453d-83dc-78072cccc704')" @click="showModal('76ccf828-f433-453d-83dc-78072cccc704')" :class="[returnClassRoom('76ccf828-f433-453d-83dc-78072cccc704'), { 'hoverSvgClassPark': activeFloor === '76ccf828-f433-453d-83dc-78072cccc704' }]" class="fil0" points="589.87,258.56 615.53,258.56 615.53,268.93 589.87,268.93 "/>
  <polygon ref="ec193a3e-cf7a-40c0-aaec-d87ef3b18ede" id="ec193a3e-cf7a-40c0-aaec-d87ef3b18ede" @mouseover="addHoverClass('ec193a3e-cf7a-40c0-aaec-d87ef3b18ede')" @mouseleave="removeHoverClass('ec193a3e-cf7a-40c0-aaec-d87ef3b18ede')" @click="showModal('ec193a3e-cf7a-40c0-aaec-d87ef3b18ede')" :class="[returnClassRoom('ec193a3e-cf7a-40c0-aaec-d87ef3b18ede'), { 'hoverSvgClassPark': activeFloor === 'ec193a3e-cf7a-40c0-aaec-d87ef3b18ede' }]" class="fil0" points="589.87,269.55 615.53,269.55 615.53,279.93 589.87,279.93 "/>
  <polygon ref="10aeace2-5e22-4f3c-9b12-75883d66f204" id="10aeace2-5e22-4f3c-9b12-75883d66f204" @mouseover="addHoverClass('10aeace2-5e22-4f3c-9b12-75883d66f204')" @mouseleave="removeHoverClass('10aeace2-5e22-4f3c-9b12-75883d66f204')" @click="showModal('10aeace2-5e22-4f3c-9b12-75883d66f204')" :class="[returnClassRoom('10aeace2-5e22-4f3c-9b12-75883d66f204'), { 'hoverSvgClassPark': activeFloor === '10aeace2-5e22-4f3c-9b12-75883d66f204' }]" class="fil0" points="589.87,280.64 615.53,280.64 615.53,291.01 589.87,291.01 "/>
  <polygon ref="475da522-03f7-46bb-80d1-246954949f5f" id="475da522-03f7-46bb-80d1-246954949f5f" @mouseover="addHoverClass('475da522-03f7-46bb-80d1-246954949f5f')" @mouseleave="removeHoverClass('475da522-03f7-46bb-80d1-246954949f5f')" @click="showModal('475da522-03f7-46bb-80d1-246954949f5f')" :class="[returnClassRoom('475da522-03f7-46bb-80d1-246954949f5f'), { 'hoverSvgClassPark': activeFloor === '475da522-03f7-46bb-80d1-246954949f5f' }]" class="fil0" points="299.64,284.28 325.3,284.28 325.3,294.65 299.64,294.65 "/>
 </g>
</svg>
    </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>