

<template>
  <div>
   <SvgPanZoom
       style="width: 100%; height: 500px; margin: auto;"
       :zoomEnabled="true"
       :controlIconsEnabled="true"
       :fit="false"
       :center="true">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="425px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 648.74 511.95" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="648.74" height="511.95"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-07-floor.png" x="5" y="-20" width="648.74" height="511.95"></image>
  </g>

  <polygon ref="479749e3-55d1-43d7-b98b-376bf2de3ed5" id="479749e3-55d1-43d7-b98b-376bf2de3ed5" @mouseover="addHoverClass('479749e3-55d1-43d7-b98b-376bf2de3ed5')" @mouseleave="removeHoverClass('479749e3-55d1-43d7-b98b-376bf2de3ed5')" @click="showModal('479749e3-55d1-43d7-b98b-376bf2de3ed5')" :class="[returnClassRoom('479749e3-55d1-43d7-b98b-376bf2de3ed5'), { 'hoverSvgClassPark': activeFloor === '479749e3-55d1-43d7-b98b-376bf2de3ed5' }]" class="fil0" points="444.81,18.6 470.92,18.6 470.92,28.97 444.81,28.97 "/>
  <polygon ref="40aec598-c58a-4c71-86ac-d60fd1eb4c95" id="40aec598-c58a-4c71-86ac-d60fd1eb4c95" @mouseover="addHoverClass('40aec598-c58a-4c71-86ac-d60fd1eb4c95')" @mouseleave="removeHoverClass('40aec598-c58a-4c71-86ac-d60fd1eb4c95')" @click="showModal('40aec598-c58a-4c71-86ac-d60fd1eb4c95')" :class="[returnClassRoom('40aec598-c58a-4c71-86ac-d60fd1eb4c95'), { 'hoverSvgClassPark': activeFloor === '40aec598-c58a-4c71-86ac-d60fd1eb4c95' }]" class="fil0" points="444.81,29.69 470.92,29.69 470.92,40.06 444.81,40.06 "/>
  <polygon ref="71007cff-4ea9-4a2f-85f5-cd123f66bed4" id="71007cff-4ea9-4a2f-85f5-cd123f66bed4" @mouseover="addHoverClass('71007cff-4ea9-4a2f-85f5-cd123f66bed4')" @mouseleave="removeHoverClass('71007cff-4ea9-4a2f-85f5-cd123f66bed4')" @click="showModal('71007cff-4ea9-4a2f-85f5-cd123f66bed4')" :class="[returnClassRoom('71007cff-4ea9-4a2f-85f5-cd123f66bed4'), { 'hoverSvgClassPark': activeFloor === '71007cff-4ea9-4a2f-85f5-cd123f66bed4' }]" class="fil0" points="444.81,49.81 470.92,49.81 470.92,60.18 444.81,60.18 "/>
  <polygon ref="19cb9718-d18c-49f5-9f16-321f3818afc3" id="19cb9718-d18c-49f5-9f16-321f3818afc3" @mouseover="addHoverClass('19cb9718-d18c-49f5-9f16-321f3818afc3')" @mouseleave="removeHoverClass('19cb9718-d18c-49f5-9f16-321f3818afc3')" @click="showModal('19cb9718-d18c-49f5-9f16-321f3818afc3')" :class="[returnClassRoom('19cb9718-d18c-49f5-9f16-321f3818afc3'), { 'hoverSvgClassPark': activeFloor === '19cb9718-d18c-49f5-9f16-321f3818afc3' }]" class="fil0" points="444.81,60.8 470.92,60.8 470.92,71.18 444.81,71.18 "/>
  <polygon ref="1303f04e-aca9-4589-b3a7-5e90ab0ef995" id="1303f04e-aca9-4589-b3a7-5e90ab0ef995" @mouseover="addHoverClass('1303f04e-aca9-4589-b3a7-5e90ab0ef995')" @mouseleave="removeHoverClass('1303f04e-aca9-4589-b3a7-5e90ab0ef995')" @click="showModal('1303f04e-aca9-4589-b3a7-5e90ab0ef995')" :class="[returnClassRoom('1303f04e-aca9-4589-b3a7-5e90ab0ef995'), { 'hoverSvgClassPark': activeFloor === '1303f04e-aca9-4589-b3a7-5e90ab0ef995' }]" class="fil0" points="444.81,82.17 470.92,82.17 470.92,92.55 444.81,92.55 "/>
  <polygon ref="a2d6cb01-587d-492b-a322-b765ad86a650" id="a2d6cb01-587d-492b-a322-b765ad86a650" @mouseover="addHoverClass('a2d6cb01-587d-492b-a322-b765ad86a650')" @mouseleave="removeHoverClass('a2d6cb01-587d-492b-a322-b765ad86a650')" @click="showModal('a2d6cb01-587d-492b-a322-b765ad86a650')" :class="[returnClassRoom('a2d6cb01-587d-492b-a322-b765ad86a650'), { 'hoverSvgClassPark': activeFloor === 'a2d6cb01-587d-492b-a322-b765ad86a650' }]" class="fil0" points="444.81,93.17 470.92,93.17 470.92,103.54 444.81,103.54 "/>
  <polygon ref="f6492070-f4b5-4500-bba5-d88c746f89be" id="f6492070-f4b5-4500-bba5-d88c746f89be" @mouseover="addHoverClass('f6492070-f4b5-4500-bba5-d88c746f89be')" @mouseleave="removeHoverClass('f6492070-f4b5-4500-bba5-d88c746f89be')" @click="showModal('f6492070-f4b5-4500-bba5-d88c746f89be')" :class="[returnClassRoom('f6492070-f4b5-4500-bba5-d88c746f89be'), { 'hoverSvgClassPark': activeFloor === 'f6492070-f4b5-4500-bba5-d88c746f89be' }]" class="fil0" points="444.81,105.06 470.92,105.06 470.92,115.44 444.81,115.44 "/>
  <polygon ref="6504b591-8bcb-4c33-b71c-05bb7cabc184" id="6504b591-8bcb-4c33-b71c-05bb7cabc184" @mouseover="addHoverClass('6504b591-8bcb-4c33-b71c-05bb7cabc184')" @mouseleave="removeHoverClass('6504b591-8bcb-4c33-b71c-05bb7cabc184')" @click="showModal('6504b591-8bcb-4c33-b71c-05bb7cabc184')" :class="[returnClassRoom('6504b591-8bcb-4c33-b71c-05bb7cabc184'), { 'hoverSvgClassPark': activeFloor === '6504b591-8bcb-4c33-b71c-05bb7cabc184' }]" class="fil0" points="444.81,116.06 470.92,116.06 470.92,126.44 444.81,126.44 "/>
  <polygon ref="3b2cc165-14e8-45a0-8d47-664249926775" id="3b2cc165-14e8-45a0-8d47-664249926775" @mouseover="addHoverClass('3b2cc165-14e8-45a0-8d47-664249926775')" @mouseleave="removeHoverClass('3b2cc165-14e8-45a0-8d47-664249926775')" @click="showModal('3b2cc165-14e8-45a0-8d47-664249926775')" :class="[returnClassRoom('3b2cc165-14e8-45a0-8d47-664249926775'), { 'hoverSvgClassPark': activeFloor === '3b2cc165-14e8-45a0-8d47-664249926775' }]" class="fil0" points="502.34,18.6 553.66,18.6 553.66,28.97 502.34,28.97 "/>
  <polygon ref="67af7c36-1bad-47bd-ab8c-8e27cc8d70ce" id="67af7c36-1bad-47bd-ab8c-8e27cc8d70ce" @mouseover="addHoverClass('67af7c36-1bad-47bd-ab8c-8e27cc8d70ce')" @mouseleave="removeHoverClass('67af7c36-1bad-47bd-ab8c-8e27cc8d70ce')" @click="showModal('67af7c36-1bad-47bd-ab8c-8e27cc8d70ce')" :class="[returnClassRoom('67af7c36-1bad-47bd-ab8c-8e27cc8d70ce'), { 'hoverSvgClassPark': activeFloor === '67af7c36-1bad-47bd-ab8c-8e27cc8d70ce' }]" class="fil0" points="502.34,29.69 553.66,29.69 553.66,40.06 502.34,40.06 "/>
  <polygon ref="c7af82b1-1497-4374-97f0-d7ee226680de" id="c7af82b1-1497-4374-97f0-d7ee226680de" @mouseover="addHoverClass('c7af82b1-1497-4374-97f0-d7ee226680de')" @mouseleave="removeHoverClass('c7af82b1-1497-4374-97f0-d7ee226680de')" @click="showModal('c7af82b1-1497-4374-97f0-d7ee226680de')" :class="[returnClassRoom('c7af82b1-1497-4374-97f0-d7ee226680de'), { 'hoverSvgClassPark': activeFloor === 'c7af82b1-1497-4374-97f0-d7ee226680de' }]" class="fil0" points="502.34,49.81 553.66,49.81 553.66,60.18 502.34,60.18 "/>
  <polygon ref="9254280a-3cef-4c47-a4bc-dff1d6eb604d" id="9254280a-3cef-4c47-a4bc-dff1d6eb604d" @mouseover="addHoverClass('9254280a-3cef-4c47-a4bc-dff1d6eb604d')" @mouseleave="removeHoverClass('9254280a-3cef-4c47-a4bc-dff1d6eb604d')" @click="showModal('9254280a-3cef-4c47-a4bc-dff1d6eb604d')" :class="[returnClassRoom('9254280a-3cef-4c47-a4bc-dff1d6eb604d'), { 'hoverSvgClassPark': activeFloor === '9254280a-3cef-4c47-a4bc-dff1d6eb604d' }]" class="fil0" points="502.34,60.8 553.66,60.8 553.66,71.18 502.34,71.18 "/>
  <polygon ref="5da783bb-a9d8-439f-bcb1-b3f10c1013c2" id="5da783bb-a9d8-439f-bcb1-b3f10c1013c2" @mouseover="addHoverClass('5da783bb-a9d8-439f-bcb1-b3f10c1013c2')" @mouseleave="removeHoverClass('5da783bb-a9d8-439f-bcb1-b3f10c1013c2')" @click="showModal('5da783bb-a9d8-439f-bcb1-b3f10c1013c2')" :class="[returnClassRoom('5da783bb-a9d8-439f-bcb1-b3f10c1013c2'), { 'hoverSvgClassPark': activeFloor === '5da783bb-a9d8-439f-bcb1-b3f10c1013c2' }]" class="fil0" points="502.34,82.17 553.66,82.17 553.66,92.55 502.34,92.55 "/>
  <polygon ref="26902f26-a134-4fb6-b917-63b8f742cf34" id="26902f26-a134-4fb6-b917-63b8f742cf34" @mouseover="addHoverClass('26902f26-a134-4fb6-b917-63b8f742cf34')" @mouseleave="removeHoverClass('26902f26-a134-4fb6-b917-63b8f742cf34')" @click="showModal('26902f26-a134-4fb6-b917-63b8f742cf34')" :class="[returnClassRoom('26902f26-a134-4fb6-b917-63b8f742cf34'), { 'hoverSvgClassPark': activeFloor === '26902f26-a134-4fb6-b917-63b8f742cf34' }]" class="fil0" points="502.34,93.17 553.66,93.17 553.66,103.54 502.34,103.54 "/>
  <polygon ref="84b5e03f-e8fc-4aca-a312-c5276f4e8342" id="84b5e03f-e8fc-4aca-a312-c5276f4e8342" @mouseover="addHoverClass('84b5e03f-e8fc-4aca-a312-c5276f4e8342')" @mouseleave="removeHoverClass('84b5e03f-e8fc-4aca-a312-c5276f4e8342')" @click="showModal('84b5e03f-e8fc-4aca-a312-c5276f4e8342')" :class="[returnClassRoom('84b5e03f-e8fc-4aca-a312-c5276f4e8342'), { 'hoverSvgClassPark': activeFloor === '84b5e03f-e8fc-4aca-a312-c5276f4e8342' }]" class="fil0" points="502.34,105.06 553.66,105.06 553.66,115.44 502.34,115.44 "/>
  <polygon ref="a580ff1c-36d6-49c6-ae71-11b016c24a0c" id="a580ff1c-36d6-49c6-ae71-11b016c24a0c" @mouseover="addHoverClass('a580ff1c-36d6-49c6-ae71-11b016c24a0c')" @mouseleave="removeHoverClass('a580ff1c-36d6-49c6-ae71-11b016c24a0c')" @click="showModal('a580ff1c-36d6-49c6-ae71-11b016c24a0c')" :class="[returnClassRoom('a580ff1c-36d6-49c6-ae71-11b016c24a0c'), { 'hoverSvgClassPark': activeFloor === 'a580ff1c-36d6-49c6-ae71-11b016c24a0c' }]" class="fil0" points="502.34,116.06 553.66,116.06 553.66,126.44 502.34,126.44 "/>
  <polygon ref="432abe46-d873-4762-b398-78cb8363ef66" id="432abe46-d873-4762-b398-78cb8363ef66" @mouseover="addHoverClass('432abe46-d873-4762-b398-78cb8363ef66')" @mouseleave="removeHoverClass('432abe46-d873-4762-b398-78cb8363ef66')" @click="showModal('432abe46-d873-4762-b398-78cb8363ef66')" :class="[returnClassRoom('432abe46-d873-4762-b398-78cb8363ef66'), { 'hoverSvgClassPark': activeFloor === '432abe46-d873-4762-b398-78cb8363ef66' }]" class="fil0" points="586.44,18.6 612.55,18.6 612.55,28.97 586.44,28.97 "/>
  <polygon ref="ff128fa7-f8a0-4b54-b6bb-74b188c03809" id="ff128fa7-f8a0-4b54-b6bb-74b188c03809" @mouseover="addHoverClass('ff128fa7-f8a0-4b54-b6bb-74b188c03809')" @mouseleave="removeHoverClass('ff128fa7-f8a0-4b54-b6bb-74b188c03809')" @click="showModal('ff128fa7-f8a0-4b54-b6bb-74b188c03809')" :class="[returnClassRoom('ff128fa7-f8a0-4b54-b6bb-74b188c03809'), { 'hoverSvgClassPark': activeFloor === 'ff128fa7-f8a0-4b54-b6bb-74b188c03809' }]" class="fil0" points="586.44,29.69 612.55,29.69 612.55,40.06 586.44,40.06 "/>
  <polygon ref="7421db63-c5d7-4668-85cc-19732024d793" id="7421db63-c5d7-4668-85cc-19732024d793" @mouseover="addHoverClass('7421db63-c5d7-4668-85cc-19732024d793')" @mouseleave="removeHoverClass('7421db63-c5d7-4668-85cc-19732024d793')" @click="showModal('7421db63-c5d7-4668-85cc-19732024d793')" :class="[returnClassRoom('7421db63-c5d7-4668-85cc-19732024d793'), { 'hoverSvgClassPark': activeFloor === '7421db63-c5d7-4668-85cc-19732024d793' }]" class="fil0" points="586.44,49.81 612.55,49.81 612.55,60.18 586.44,60.18 "/>
  <polygon ref="93c6cbc4-e339-4584-98c7-880b9406e7b0" id="93c6cbc4-e339-4584-98c7-880b9406e7b0" @mouseover="addHoverClass('93c6cbc4-e339-4584-98c7-880b9406e7b0')" @mouseleave="removeHoverClass('93c6cbc4-e339-4584-98c7-880b9406e7b0')" @click="showModal('93c6cbc4-e339-4584-98c7-880b9406e7b0')" :class="[returnClassRoom('93c6cbc4-e339-4584-98c7-880b9406e7b0'), { 'hoverSvgClassPark': activeFloor === '93c6cbc4-e339-4584-98c7-880b9406e7b0' }]" class="fil0" points="586.44,60.8 612.55,60.8 612.55,71.18 586.44,71.18 "/>
  <polygon ref="3795c982-1e02-4fb3-a8e8-ac7b27d4f161" id="3795c982-1e02-4fb3-a8e8-ac7b27d4f161" @mouseover="addHoverClass('3795c982-1e02-4fb3-a8e8-ac7b27d4f161')" @mouseleave="removeHoverClass('3795c982-1e02-4fb3-a8e8-ac7b27d4f161')" @click="showModal('3795c982-1e02-4fb3-a8e8-ac7b27d4f161')" :class="[returnClassRoom('3795c982-1e02-4fb3-a8e8-ac7b27d4f161'), { 'hoverSvgClassPark': activeFloor === '3795c982-1e02-4fb3-a8e8-ac7b27d4f161' }]" class="fil0" points="586.44,82.17 612.55,82.17 612.55,92.55 586.44,92.55 "/>
  <polygon ref="99717306-bc98-4b51-9ecd-bf40ea78f8ee" id="99717306-bc98-4b51-9ecd-bf40ea78f8ee" @mouseover="addHoverClass('99717306-bc98-4b51-9ecd-bf40ea78f8ee')" @mouseleave="removeHoverClass('99717306-bc98-4b51-9ecd-bf40ea78f8ee')" @click="showModal('99717306-bc98-4b51-9ecd-bf40ea78f8ee')" :class="[returnClassRoom('99717306-bc98-4b51-9ecd-bf40ea78f8ee'), { 'hoverSvgClassPark': activeFloor === '99717306-bc98-4b51-9ecd-bf40ea78f8ee' }]" class="fil0" points="586.44,93.17 612.55,93.17 612.55,103.54 586.44,103.54 "/>
  <polygon ref="f14ab084-687b-4bf4-a5a6-7a8d86c205e7" id="f14ab084-687b-4bf4-a5a6-7a8d86c205e7" @mouseover="addHoverClass('f14ab084-687b-4bf4-a5a6-7a8d86c205e7')" @mouseleave="removeHoverClass('f14ab084-687b-4bf4-a5a6-7a8d86c205e7')" @click="showModal('f14ab084-687b-4bf4-a5a6-7a8d86c205e7')" :class="[returnClassRoom('f14ab084-687b-4bf4-a5a6-7a8d86c205e7'), { 'hoverSvgClassPark': activeFloor === 'f14ab084-687b-4bf4-a5a6-7a8d86c205e7' }]" class="fil0" points="586.44,105.06 612.55,105.06 612.55,115.44 586.44,115.44 "/>
  <polygon ref="5755a2e5-088f-43a4-9a21-657c47f9f534" id="5755a2e5-088f-43a4-9a21-657c47f9f534" @mouseover="addHoverClass('5755a2e5-088f-43a4-9a21-657c47f9f534')" @mouseleave="removeHoverClass('5755a2e5-088f-43a4-9a21-657c47f9f534')" @click="showModal('5755a2e5-088f-43a4-9a21-657c47f9f534')" :class="[returnClassRoom('5755a2e5-088f-43a4-9a21-657c47f9f534'), { 'hoverSvgClassPark': activeFloor === '5755a2e5-088f-43a4-9a21-657c47f9f534' }]" class="fil0" points="586.44,116.06 612.55,116.06 612.55,126.44 586.44,126.44 "/>
  <polygon ref="6c936d5b-9d13-4583-bef1-6576acbdbe45" id="6c936d5b-9d13-4583-bef1-6576acbdbe45" @mouseover="addHoverClass('6c936d5b-9d13-4583-bef1-6576acbdbe45')" @mouseleave="removeHoverClass('6c936d5b-9d13-4583-bef1-6576acbdbe45')" @click="showModal('6c936d5b-9d13-4583-bef1-6576acbdbe45')" :class="[returnClassRoom('6c936d5b-9d13-4583-bef1-6576acbdbe45'), { 'hoverSvgClassPark': activeFloor === '6c936d5b-9d13-4583-bef1-6576acbdbe45' }]" class="fil0" points="502.34,138.42 553.66,138.42 553.66,148.79 502.34,148.79 "/>
  <polygon ref="ad58c266-698c-401f-81c6-82624e3dd9e0" id="ad58c266-698c-401f-81c6-82624e3dd9e0" @mouseover="addHoverClass('ad58c266-698c-401f-81c6-82624e3dd9e0')" @mouseleave="removeHoverClass('ad58c266-698c-401f-81c6-82624e3dd9e0')" @click="showModal('ad58c266-698c-401f-81c6-82624e3dd9e0')" :class="[returnClassRoom('ad58c266-698c-401f-81c6-82624e3dd9e0'), { 'hoverSvgClassPark': activeFloor === 'ad58c266-698c-401f-81c6-82624e3dd9e0' }]" class="fil0" points="502.34,149.41 553.66,149.41 553.66,159.79 502.34,159.79 "/>
  <polygon ref="56f4f80b-662a-448d-a245-ada96af63af3" id="56f4f80b-662a-448d-a245-ada96af63af3" @mouseover="addHoverClass('56f4f80b-662a-448d-a245-ada96af63af3')" @mouseleave="removeHoverClass('56f4f80b-662a-448d-a245-ada96af63af3')" @click="showModal('56f4f80b-662a-448d-a245-ada96af63af3')" :class="[returnClassRoom('56f4f80b-662a-448d-a245-ada96af63af3'), { 'hoverSvgClassPark': activeFloor === '56f4f80b-662a-448d-a245-ada96af63af3' }]" class="fil0" points="587.01,138.42 612.67,138.42 612.67,148.79 587.01,148.79 "/>
  <polygon ref="03c77b97-6650-4758-b169-091d7ac184ef" id="03c77b97-6650-4758-b169-091d7ac184ef" @mouseover="addHoverClass('03c77b97-6650-4758-b169-091d7ac184ef')" @mouseleave="removeHoverClass('03c77b97-6650-4758-b169-091d7ac184ef')" @click="showModal('03c77b97-6650-4758-b169-091d7ac184ef')" :class="[returnClassRoom('03c77b97-6650-4758-b169-091d7ac184ef'), { 'hoverSvgClassPark': activeFloor === '03c77b97-6650-4758-b169-091d7ac184ef' }]" class="fil0" points="587.01,149.41 612.67,149.41 612.67,159.79 587.01,159.79 "/>
  <polygon ref="08ea03cc-2809-4ab9-95f5-89ef4e87b226" id="08ea03cc-2809-4ab9-95f5-89ef4e87b226" @mouseover="addHoverClass('08ea03cc-2809-4ab9-95f5-89ef4e87b226')" @mouseleave="removeHoverClass('08ea03cc-2809-4ab9-95f5-89ef4e87b226')" @click="showModal('08ea03cc-2809-4ab9-95f5-89ef4e87b226')" :class="[returnClassRoom('08ea03cc-2809-4ab9-95f5-89ef4e87b226'), { 'hoverSvgClassPark': activeFloor === '08ea03cc-2809-4ab9-95f5-89ef4e87b226' }]" class="fil0" points="439.22,167.61 439.22,141.5 449.59,141.5 449.59,167.61 "/>
  <polygon ref="4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb" id="4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb" @mouseover="addHoverClass('4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb')" @mouseleave="removeHoverClass('4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb')" @click="showModal('4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb')" :class="[returnClassRoom('4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb'), { 'hoverSvgClassPark': activeFloor === '4b9bddd5-e6c1-4261-ad7c-19d6fb351ffb' }]" class="fil0" points="450.22,167.61 450.22,141.5 460.59,141.5 460.59,167.61 "/>
  <polygon ref="293f81d5-4465-407a-a152-2fdc4b6d2cad" id="293f81d5-4465-407a-a152-2fdc4b6d2cad" @mouseover="addHoverClass('293f81d5-4465-407a-a152-2fdc4b6d2cad')" @mouseleave="removeHoverClass('293f81d5-4465-407a-a152-2fdc4b6d2cad')" @click="showModal('293f81d5-4465-407a-a152-2fdc4b6d2cad')" :class="[returnClassRoom('293f81d5-4465-407a-a152-2fdc4b6d2cad'), { 'hoverSvgClassPark': activeFloor === '293f81d5-4465-407a-a152-2fdc4b6d2cad' }]" class="fil0" points="410.07,167.61 410.07,141.5 420.44,141.5 420.44,167.61 "/>
  <polygon ref="8b2dafc1-bc0c-4900-994a-ff0284213b4e" id="8b2dafc1-bc0c-4900-994a-ff0284213b4e" @mouseover="addHoverClass('8b2dafc1-bc0c-4900-994a-ff0284213b4e')" @mouseleave="removeHoverClass('8b2dafc1-bc0c-4900-994a-ff0284213b4e')" @click="showModal('8b2dafc1-bc0c-4900-994a-ff0284213b4e')" :class="[returnClassRoom('8b2dafc1-bc0c-4900-994a-ff0284213b4e'), { 'hoverSvgClassPark': activeFloor === '8b2dafc1-bc0c-4900-994a-ff0284213b4e' }]" class="fil0" points="421.07,167.61 421.07,141.5 431.44,141.5 431.44,167.61 "/>
  <polygon ref="2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6" id="2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6" @mouseover="addHoverClass('2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6')" @mouseleave="removeHoverClass('2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6')" @click="showModal('2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6')" :class="[returnClassRoom('2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6'), { 'hoverSvgClassPark': activeFloor === '2f79fc5b-11bb-428a-97e7-b5d4a47d0dc6' }]" class="fil0" points="325.84,167.61 325.84,141.5 336.22,141.5 336.22,167.61 "/>
  <polygon ref="76f296ca-dfae-431e-9f49-959cf52408c0" id="76f296ca-dfae-431e-9f49-959cf52408c0" @mouseover="addHoverClass('76f296ca-dfae-431e-9f49-959cf52408c0')" @mouseleave="removeHoverClass('76f296ca-dfae-431e-9f49-959cf52408c0')" @click="showModal('76f296ca-dfae-431e-9f49-959cf52408c0')" :class="[returnClassRoom('76f296ca-dfae-431e-9f49-959cf52408c0'), { 'hoverSvgClassPark': activeFloor === '76f296ca-dfae-431e-9f49-959cf52408c0' }]" class="fil0" points="336.84,167.61 336.84,141.5 347.21,141.5 347.21,167.61 "/>
  <polygon ref="b5301ef8-d8cf-4402-bd09-8f2249c32bbe" id="b5301ef8-d8cf-4402-bd09-8f2249c32bbe" @mouseover="addHoverClass('b5301ef8-d8cf-4402-bd09-8f2249c32bbe')" @mouseleave="removeHoverClass('b5301ef8-d8cf-4402-bd09-8f2249c32bbe')" @click="showModal('b5301ef8-d8cf-4402-bd09-8f2249c32bbe')" :class="[returnClassRoom('b5301ef8-d8cf-4402-bd09-8f2249c32bbe'), { 'hoverSvgClassPark': activeFloor === 'b5301ef8-d8cf-4402-bd09-8f2249c32bbe' }]" class="fil0" points="313.86,167.61 313.86,141.5 324.24,141.5 324.24,167.61 "/>
  <polygon ref="6e5df385-18d6-4cf1-b76e-506e36993fa4" id="6e5df385-18d6-4cf1-b76e-506e36993fa4" @mouseover="addHoverClass('6e5df385-18d6-4cf1-b76e-506e36993fa4')" @mouseleave="removeHoverClass('6e5df385-18d6-4cf1-b76e-506e36993fa4')" @click="showModal('6e5df385-18d6-4cf1-b76e-506e36993fa4')" :class="[returnClassRoom('6e5df385-18d6-4cf1-b76e-506e36993fa4'), { 'hoverSvgClassPark': activeFloor === '6e5df385-18d6-4cf1-b76e-506e36993fa4' }]" class="fil0" points="398.18,167.61 398.18,141.5 408.55,141.5 408.55,167.61 "/>
  <polygon ref="b78f3809-e724-484b-97ac-68e9f0ecb408" id="b78f3809-e724-484b-97ac-68e9f0ecb408" @mouseover="addHoverClass('b78f3809-e724-484b-97ac-68e9f0ecb408')" @mouseleave="removeHoverClass('b78f3809-e724-484b-97ac-68e9f0ecb408')" @click="showModal('b78f3809-e724-484b-97ac-68e9f0ecb408')" :class="[returnClassRoom('b78f3809-e724-484b-97ac-68e9f0ecb408'), { 'hoverSvgClassPark': activeFloor === 'b78f3809-e724-484b-97ac-68e9f0ecb408' }]" class="fil0" points="378.23,167.61 378.23,141.5 388.6,141.5 388.6,167.61 "/>
  <polygon ref="02ff8cb9-a276-4917-8ae4-ddad670aa2ba" id="02ff8cb9-a276-4917-8ae4-ddad670aa2ba" @mouseover="addHoverClass('02ff8cb9-a276-4917-8ae4-ddad670aa2ba')" @mouseleave="removeHoverClass('02ff8cb9-a276-4917-8ae4-ddad670aa2ba')" @click="showModal('02ff8cb9-a276-4917-8ae4-ddad670aa2ba')" :class="[returnClassRoom('02ff8cb9-a276-4917-8ae4-ddad670aa2ba'), { 'hoverSvgClassPark': activeFloor === '02ff8cb9-a276-4917-8ae4-ddad670aa2ba' }]" class="fil0" points="282.39,167.61 282.39,141.5 292.76,141.5 292.76,167.61 "/>
  <polygon ref="054d3b93-fcff-4d0a-95d0-89c27b4db62b" id="054d3b93-fcff-4d0a-95d0-89c27b4db62b" @mouseover="addHoverClass('054d3b93-fcff-4d0a-95d0-89c27b4db62b')" @mouseleave="removeHoverClass('054d3b93-fcff-4d0a-95d0-89c27b4db62b')" @click="showModal('054d3b93-fcff-4d0a-95d0-89c27b4db62b')" :class="[returnClassRoom('054d3b93-fcff-4d0a-95d0-89c27b4db62b'), { 'hoverSvgClassPark': activeFloor === '054d3b93-fcff-4d0a-95d0-89c27b4db62b' }]" class="fil0" points="293.39,167.61 293.39,141.5 303.76,141.5 303.76,167.61 "/>
  <polygon ref="3b6be890-05ee-4731-9623-c5f64f78a396" id="3b6be890-05ee-4731-9623-c5f64f78a396" @mouseover="addHoverClass('3b6be890-05ee-4731-9623-c5f64f78a396')" @mouseleave="removeHoverClass('3b6be890-05ee-4731-9623-c5f64f78a396')" @click="showModal('3b6be890-05ee-4731-9623-c5f64f78a396')" :class="[returnClassRoom('3b6be890-05ee-4731-9623-c5f64f78a396'), { 'hoverSvgClassPark': activeFloor === '3b6be890-05ee-4731-9623-c5f64f78a396' }]" class="fil0" points="270.41,167.61 270.41,141.5 280.78,141.5 280.78,167.61 "/>
  <polygon ref="1bad7b40-9286-4f68-95e8-b31fdd074adc" id="1bad7b40-9286-4f68-95e8-b31fdd074adc" @mouseover="addHoverClass('1bad7b40-9286-4f68-95e8-b31fdd074adc')" @mouseleave="removeHoverClass('1bad7b40-9286-4f68-95e8-b31fdd074adc')" @click="showModal('1bad7b40-9286-4f68-95e8-b31fdd074adc')" :class="[returnClassRoom('1bad7b40-9286-4f68-95e8-b31fdd074adc'), { 'hoverSvgClassPark': activeFloor === '1bad7b40-9286-4f68-95e8-b31fdd074adc' }]" class="fil0" points="241.6,167.61 241.6,141.5 251.98,141.5 251.98,167.61 "/>
  <polygon ref="476ce72c-4664-4c0c-a17a-2548ebcc83fb" id="476ce72c-4664-4c0c-a17a-2548ebcc83fb" @mouseover="addHoverClass('476ce72c-4664-4c0c-a17a-2548ebcc83fb')" @mouseleave="removeHoverClass('476ce72c-4664-4c0c-a17a-2548ebcc83fb')" @click="showModal('476ce72c-4664-4c0c-a17a-2548ebcc83fb')" :class="[returnClassRoom('476ce72c-4664-4c0c-a17a-2548ebcc83fb'), { 'hoverSvgClassPark': activeFloor === '476ce72c-4664-4c0c-a17a-2548ebcc83fb' }]" class="fil0" points="252.6,167.61 252.6,141.5 262.97,141.5 262.97,167.61 "/>
  <polygon ref="a0002bb5-aac7-45a3-840c-265ffde072de" id="a0002bb5-aac7-45a3-840c-265ffde072de" @mouseover="addHoverClass('a0002bb5-aac7-45a3-840c-265ffde072de')" @mouseleave="removeHoverClass('a0002bb5-aac7-45a3-840c-265ffde072de')" @click="showModal('a0002bb5-aac7-45a3-840c-265ffde072de')" :class="[returnClassRoom('a0002bb5-aac7-45a3-840c-265ffde072de'), { 'hoverSvgClassPark': activeFloor === 'a0002bb5-aac7-45a3-840c-265ffde072de' }]" class="fil0" points="229.62,167.61 229.62,141.5 240,141.5 240,167.61 "/>
  <polygon ref="88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9" id="88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9" @mouseover="addHoverClass('88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9')" @mouseleave="removeHoverClass('88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9')" @click="showModal('88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9')" :class="[returnClassRoom('88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9'), { 'hoverSvgClassPark': activeFloor === '88da7cbc-8e6f-4ce4-9b6f-3599fd4d54c9' }]" class="fil0" points="210.49,167.61 210.49,141.5 220.86,141.5 220.86,167.61 "/>
  <polygon ref="6644185d-a75d-44ac-b016-0de95a146856" id="6644185d-a75d-44ac-b016-0de95a146856" @mouseover="addHoverClass('6644185d-a75d-44ac-b016-0de95a146856')" @mouseleave="removeHoverClass('6644185d-a75d-44ac-b016-0de95a146856')" @click="showModal('6644185d-a75d-44ac-b016-0de95a146856')" :class="[returnClassRoom('6644185d-a75d-44ac-b016-0de95a146856'), { 'hoverSvgClassPark': activeFloor === '6644185d-a75d-44ac-b016-0de95a146856' }]" class="fil0" points="198.51,167.61 198.51,141.5 208.88,141.5 208.88,167.61 "/>
  <polygon ref="548f3a69-e741-47b4-aefa-de5f0126f9a4" id="548f3a69-e741-47b4-aefa-de5f0126f9a4" @mouseover="addHoverClass('548f3a69-e741-47b4-aefa-de5f0126f9a4')" @mouseleave="removeHoverClass('548f3a69-e741-47b4-aefa-de5f0126f9a4')" @click="showModal('548f3a69-e741-47b4-aefa-de5f0126f9a4')" :class="[returnClassRoom('548f3a69-e741-47b4-aefa-de5f0126f9a4'), { 'hoverSvgClassPark': activeFloor === '548f3a69-e741-47b4-aefa-de5f0126f9a4' }]" class="fil0" points="183.84,167.61 183.84,141.5 194.22,141.5 194.22,167.61 "/>
  <polygon ref="efc1189d-da8a-444a-a17c-3f6341b06030" id="efc1189d-da8a-444a-a17c-3f6341b06030" @mouseover="addHoverClass('efc1189d-da8a-444a-a17c-3f6341b06030')" @mouseleave="removeHoverClass('efc1189d-da8a-444a-a17c-3f6341b06030')" @click="showModal('efc1189d-da8a-444a-a17c-3f6341b06030')" :class="[returnClassRoom('efc1189d-da8a-444a-a17c-3f6341b06030'), { 'hoverSvgClassPark': activeFloor === 'efc1189d-da8a-444a-a17c-3f6341b06030' }]" class="fil0" points="171.86,167.61 171.86,141.5 182.23,141.5 182.23,167.61 "/>
  <polygon ref="fdee1de0-b5ec-42da-a4e6-f7dded67535c" id="fdee1de0-b5ec-42da-a4e6-f7dded67535c" @mouseover="addHoverClass('fdee1de0-b5ec-42da-a4e6-f7dded67535c')" @mouseleave="removeHoverClass('fdee1de0-b5ec-42da-a4e6-f7dded67535c')" @click="showModal('fdee1de0-b5ec-42da-a4e6-f7dded67535c')" :class="[returnClassRoom('fdee1de0-b5ec-42da-a4e6-f7dded67535c'), { 'hoverSvgClassPark': activeFloor === 'fdee1de0-b5ec-42da-a4e6-f7dded67535c' }]" class="fil0" points="158.45,167.61 158.45,141.5 168.82,141.5 168.82,167.61 "/>
  <polygon ref="4b743818-0d35-439c-a079-7d0d34efbcaa" id="4b743818-0d35-439c-a079-7d0d34efbcaa" @mouseover="addHoverClass('4b743818-0d35-439c-a079-7d0d34efbcaa')" @mouseleave="removeHoverClass('4b743818-0d35-439c-a079-7d0d34efbcaa')" @click="showModal('4b743818-0d35-439c-a079-7d0d34efbcaa')" :class="[returnClassRoom('4b743818-0d35-439c-a079-7d0d34efbcaa'), { 'hoverSvgClassPark': activeFloor === '4b743818-0d35-439c-a079-7d0d34efbcaa' }]" class="fil0" points="325.84,223.05 325.84,196.94 336.22,196.94 336.22,223.05 "/>
  <polygon ref="f8bf28b0-ffbc-4182-a029-1e907ce949d2" id="f8bf28b0-ffbc-4182-a029-1e907ce949d2" @mouseover="addHoverClass('f8bf28b0-ffbc-4182-a029-1e907ce949d2')" @mouseleave="removeHoverClass('f8bf28b0-ffbc-4182-a029-1e907ce949d2')" @click="showModal('f8bf28b0-ffbc-4182-a029-1e907ce949d2')" :class="[returnClassRoom('f8bf28b0-ffbc-4182-a029-1e907ce949d2'), { 'hoverSvgClassPark': activeFloor === 'f8bf28b0-ffbc-4182-a029-1e907ce949d2' }]" class="fil0" points="336.84,223.05 336.84,196.94 347.21,196.94 347.21,223.05 "/>
  <polygon ref="29df51b7-b347-430c-908e-ca5e188a6075" id="29df51b7-b347-430c-908e-ca5e188a6075" @mouseover="addHoverClass('29df51b7-b347-430c-908e-ca5e188a6075')" @mouseleave="removeHoverClass('29df51b7-b347-430c-908e-ca5e188a6075')" @click="showModal('29df51b7-b347-430c-908e-ca5e188a6075')" :class="[returnClassRoom('29df51b7-b347-430c-908e-ca5e188a6075'), { 'hoverSvgClassPark': activeFloor === '29df51b7-b347-430c-908e-ca5e188a6075' }]" class="fil0" points="313.86,223.05 313.86,196.94 324.24,196.94 324.24,223.05 "/>
  <polygon ref="598c666b-9c7b-4fe4-8b75-98607c6b328b" id="598c666b-9c7b-4fe4-8b75-98607c6b328b" @mouseover="addHoverClass('598c666b-9c7b-4fe4-8b75-98607c6b328b')" @mouseleave="removeHoverClass('598c666b-9c7b-4fe4-8b75-98607c6b328b')" @click="showModal('598c666b-9c7b-4fe4-8b75-98607c6b328b')" :class="[returnClassRoom('598c666b-9c7b-4fe4-8b75-98607c6b328b'), { 'hoverSvgClassPark': activeFloor === '598c666b-9c7b-4fe4-8b75-98607c6b328b' }]" class="fil0" points="282.39,223.05 282.39,196.94 292.76,196.94 292.76,223.05 "/>
  <polygon ref="b6bd2ada-7109-4926-b3d9-8a99c3527ec0" id="b6bd2ada-7109-4926-b3d9-8a99c3527ec0" @mouseover="addHoverClass('b6bd2ada-7109-4926-b3d9-8a99c3527ec0')" @mouseleave="removeHoverClass('b6bd2ada-7109-4926-b3d9-8a99c3527ec0')" @click="showModal('b6bd2ada-7109-4926-b3d9-8a99c3527ec0')" :class="[returnClassRoom('b6bd2ada-7109-4926-b3d9-8a99c3527ec0'), { 'hoverSvgClassPark': activeFloor === 'b6bd2ada-7109-4926-b3d9-8a99c3527ec0' }]" class="fil0" points="293.39,223.05 293.39,196.94 303.76,196.94 303.76,223.05 "/>
  <polygon ref="d55ba4de-d1a7-4fae-b375-bcd96aef1662" id="d55ba4de-d1a7-4fae-b375-bcd96aef1662" @mouseover="addHoverClass('d55ba4de-d1a7-4fae-b375-bcd96aef1662')" @mouseleave="removeHoverClass('d55ba4de-d1a7-4fae-b375-bcd96aef1662')" @click="showModal('d55ba4de-d1a7-4fae-b375-bcd96aef1662')" :class="[returnClassRoom('d55ba4de-d1a7-4fae-b375-bcd96aef1662'), { 'hoverSvgClassPark': activeFloor === 'd55ba4de-d1a7-4fae-b375-bcd96aef1662' }]" class="fil0" points="270.41,223.05 270.41,196.94 280.78,196.94 280.78,223.05 "/>
  <polygon ref="bcbabaa1-3ca6-45de-bab9-ac63a3b5695a" id="bcbabaa1-3ca6-45de-bab9-ac63a3b5695a" @mouseover="addHoverClass('bcbabaa1-3ca6-45de-bab9-ac63a3b5695a')" @mouseleave="removeHoverClass('bcbabaa1-3ca6-45de-bab9-ac63a3b5695a')" @click="showModal('bcbabaa1-3ca6-45de-bab9-ac63a3b5695a')" :class="[returnClassRoom('bcbabaa1-3ca6-45de-bab9-ac63a3b5695a'), { 'hoverSvgClassPark': activeFloor === 'bcbabaa1-3ca6-45de-bab9-ac63a3b5695a' }]" class="fil0" points="241.6,223.05 241.6,196.94 251.98,196.94 251.98,223.05 "/>
  <polygon ref="15b01592-1e78-40d0-ab71-6ee62066a785" id="15b01592-1e78-40d0-ab71-6ee62066a785" @mouseover="addHoverClass('15b01592-1e78-40d0-ab71-6ee62066a785')" @mouseleave="removeHoverClass('15b01592-1e78-40d0-ab71-6ee62066a785')" @click="showModal('15b01592-1e78-40d0-ab71-6ee62066a785')" :class="[returnClassRoom('15b01592-1e78-40d0-ab71-6ee62066a785'), { 'hoverSvgClassPark': activeFloor === '15b01592-1e78-40d0-ab71-6ee62066a785' }]" class="fil0" points="252.6,223.05 252.6,196.94 262.97,196.94 262.97,223.05 "/>
  <polygon ref="4e53837f-46d6-4ccd-816c-f8268c2ce704" id="4e53837f-46d6-4ccd-816c-f8268c2ce704" @mouseover="addHoverClass('4e53837f-46d6-4ccd-816c-f8268c2ce704')" @mouseleave="removeHoverClass('4e53837f-46d6-4ccd-816c-f8268c2ce704')" @click="showModal('4e53837f-46d6-4ccd-816c-f8268c2ce704')" :class="[returnClassRoom('4e53837f-46d6-4ccd-816c-f8268c2ce704'), { 'hoverSvgClassPark': activeFloor === '4e53837f-46d6-4ccd-816c-f8268c2ce704' }]" class="fil0" points="229.62,223.05 229.62,196.94 240,196.94 240,223.05 "/>
  <polygon ref="7ca96b85-5bef-4127-ac6f-b1e460660d33" id="7ca96b85-5bef-4127-ac6f-b1e460660d33" @mouseover="addHoverClass('7ca96b85-5bef-4127-ac6f-b1e460660d33')" @mouseleave="removeHoverClass('7ca96b85-5bef-4127-ac6f-b1e460660d33')" @click="showModal('7ca96b85-5bef-4127-ac6f-b1e460660d33')" :class="[returnClassRoom('7ca96b85-5bef-4127-ac6f-b1e460660d33'), { 'hoverSvgClassPark': activeFloor === '7ca96b85-5bef-4127-ac6f-b1e460660d33' }]" class="fil0" points="210.49,223.05 210.49,196.94 220.86,196.94 220.86,223.05 "/>
  <polygon ref="2abc078f-329f-48e9-9330-8902c212018b" id="2abc078f-329f-48e9-9330-8902c212018b" @mouseover="addHoverClass('2abc078f-329f-48e9-9330-8902c212018b')" @mouseleave="removeHoverClass('2abc078f-329f-48e9-9330-8902c212018b')" @click="showModal('2abc078f-329f-48e9-9330-8902c212018b')" :class="[returnClassRoom('2abc078f-329f-48e9-9330-8902c212018b'), { 'hoverSvgClassPark': activeFloor === '2abc078f-329f-48e9-9330-8902c212018b' }]" class="fil0" points="198.51,223.05 198.51,196.94 208.88,196.94 208.88,223.05 "/>
  <polygon ref="172963a0-264d-4a68-97b4-5e4f675d3dd9" id="172963a0-264d-4a68-97b4-5e4f675d3dd9" @mouseover="addHoverClass('172963a0-264d-4a68-97b4-5e4f675d3dd9')" @mouseleave="removeHoverClass('172963a0-264d-4a68-97b4-5e4f675d3dd9')" @click="showModal('172963a0-264d-4a68-97b4-5e4f675d3dd9')" :class="[returnClassRoom('172963a0-264d-4a68-97b4-5e4f675d3dd9'), { 'hoverSvgClassPark': activeFloor === '172963a0-264d-4a68-97b4-5e4f675d3dd9' }]" class="fil0" points="183.84,223.05 183.84,196.94 194.22,196.94 194.22,223.05 "/>
  <polygon ref="e76ce309-920a-47e3-a302-7df278d0ee22" id="e76ce309-920a-47e3-a302-7df278d0ee22" @mouseover="addHoverClass('e76ce309-920a-47e3-a302-7df278d0ee22')" @mouseleave="removeHoverClass('e76ce309-920a-47e3-a302-7df278d0ee22')" @click="showModal('e76ce309-920a-47e3-a302-7df278d0ee22')" :class="[returnClassRoom('e76ce309-920a-47e3-a302-7df278d0ee22'), { 'hoverSvgClassPark': activeFloor === 'e76ce309-920a-47e3-a302-7df278d0ee22' }]" class="fil0" points="171.86,223.05 171.86,196.94 182.23,196.94 182.23,223.05 "/>
  <polygon ref="ca1318f4-c969-4307-898b-21b476f8e7cf" id="ca1318f4-c969-4307-898b-21b476f8e7cf" @mouseover="addHoverClass('ca1318f4-c969-4307-898b-21b476f8e7cf')" @mouseleave="removeHoverClass('ca1318f4-c969-4307-898b-21b476f8e7cf')" @click="showModal('ca1318f4-c969-4307-898b-21b476f8e7cf')" :class="[returnClassRoom('ca1318f4-c969-4307-898b-21b476f8e7cf'), { 'hoverSvgClassPark': activeFloor === 'ca1318f4-c969-4307-898b-21b476f8e7cf' }]" class="fil0" points="159.3,223.1 159.3,196.99 169.67,196.99 169.67,223.1 "/>
  <polygon ref="5a3b6552-c197-468d-b952-795300e40ac7" id="5a3b6552-c197-468d-b952-795300e40ac7" @mouseover="addHoverClass('5a3b6552-c197-468d-b952-795300e40ac7')" @mouseleave="removeHoverClass('5a3b6552-c197-468d-b952-795300e40ac7')" @click="showModal('5a3b6552-c197-468d-b952-795300e40ac7')" :class="[returnClassRoom('5a3b6552-c197-468d-b952-795300e40ac7'), { 'hoverSvgClassPark': activeFloor === '5a3b6552-c197-468d-b952-795300e40ac7' }]" class="fil0" points="367.49,223.05 367.49,196.94 377.87,196.94 377.87,223.05 "/>
  <polygon ref="fadfb2e9-c928-4c71-87e2-ba237273c790" id="fadfb2e9-c928-4c71-87e2-ba237273c790" @mouseover="addHoverClass('fadfb2e9-c928-4c71-87e2-ba237273c790')" @mouseleave="removeHoverClass('fadfb2e9-c928-4c71-87e2-ba237273c790')" @click="showModal('fadfb2e9-c928-4c71-87e2-ba237273c790')" :class="[returnClassRoom('fadfb2e9-c928-4c71-87e2-ba237273c790'), { 'hoverSvgClassPark': activeFloor === 'fadfb2e9-c928-4c71-87e2-ba237273c790' }]" class="fil0" points="378.49,223.05 378.49,196.94 388.86,196.94 388.86,223.05 "/>
  <polygon ref="7892f19c-d43d-4675-a355-0fa37d3acbf2" id="7892f19c-d43d-4675-a355-0fa37d3acbf2" @mouseover="addHoverClass('7892f19c-d43d-4675-a355-0fa37d3acbf2')" @mouseleave="removeHoverClass('7892f19c-d43d-4675-a355-0fa37d3acbf2')" @click="showModal('7892f19c-d43d-4675-a355-0fa37d3acbf2')" :class="[returnClassRoom('7892f19c-d43d-4675-a355-0fa37d3acbf2'), { 'hoverSvgClassPark': activeFloor === '7892f19c-d43d-4675-a355-0fa37d3acbf2' }]" class="fil0" points="355.51,223.05 355.51,196.94 365.89,196.94 365.89,223.05 "/>
  <polygon ref="b52df30c-0c9c-4660-8e8c-a973940ec0a9" id="b52df30c-0c9c-4660-8e8c-a973940ec0a9" @mouseover="addHoverClass('b52df30c-0c9c-4660-8e8c-a973940ec0a9')" @mouseleave="removeHoverClass('b52df30c-0c9c-4660-8e8c-a973940ec0a9')" @click="showModal('b52df30c-0c9c-4660-8e8c-a973940ec0a9')" :class="[returnClassRoom('b52df30c-0c9c-4660-8e8c-a973940ec0a9'), { 'hoverSvgClassPark': activeFloor === 'b52df30c-0c9c-4660-8e8c-a973940ec0a9' }]" class="fil0" points="367.49,257.7 367.49,231.59 377.87,231.59 377.87,257.7 "/>
  <polygon ref="578058da-1f94-4681-bafa-95daa2a43d4a" id="578058da-1f94-4681-bafa-95daa2a43d4a" @mouseover="addHoverClass('578058da-1f94-4681-bafa-95daa2a43d4a')" @mouseleave="removeHoverClass('578058da-1f94-4681-bafa-95daa2a43d4a')" @click="showModal('578058da-1f94-4681-bafa-95daa2a43d4a')" :class="[returnClassRoom('578058da-1f94-4681-bafa-95daa2a43d4a'), { 'hoverSvgClassPark': activeFloor === '578058da-1f94-4681-bafa-95daa2a43d4a' }]" class="fil0" points="378.49,257.7 378.49,231.59 388.86,231.59 388.86,257.7 "/>
  <polygon ref="5e229a8a-b3b6-48ad-8048-9556be4651a8" id="5e229a8a-b3b6-48ad-8048-9556be4651a8" @mouseover="addHoverClass('5e229a8a-b3b6-48ad-8048-9556be4651a8')" @mouseleave="removeHoverClass('5e229a8a-b3b6-48ad-8048-9556be4651a8')" @click="showModal('5e229a8a-b3b6-48ad-8048-9556be4651a8')" :class="[returnClassRoom('5e229a8a-b3b6-48ad-8048-9556be4651a8'), { 'hoverSvgClassPark': activeFloor === '5e229a8a-b3b6-48ad-8048-9556be4651a8' }]" class="fil0" points="355.51,257.7 355.51,231.59 365.89,231.59 365.89,257.7 "/>
  <polygon ref="f0e64f4b-7748-4f1b-a119-79a19a5dd1f1" id="f0e64f4b-7748-4f1b-a119-79a19a5dd1f1" @mouseover="addHoverClass('f0e64f4b-7748-4f1b-a119-79a19a5dd1f1')" @mouseleave="removeHoverClass('f0e64f4b-7748-4f1b-a119-79a19a5dd1f1')" @click="showModal('f0e64f4b-7748-4f1b-a119-79a19a5dd1f1')" :class="[returnClassRoom('f0e64f4b-7748-4f1b-a119-79a19a5dd1f1'), { 'hoverSvgClassPark': activeFloor === 'f0e64f4b-7748-4f1b-a119-79a19a5dd1f1' }]" class="fil0" points="318.33,257.79 318.33,231.68 328.71,231.68 328.71,257.79 "/>
  <polygon ref="7a7b364b-7cc9-443a-883f-5395c99a5242" id="7a7b364b-7cc9-443a-883f-5395c99a5242" @mouseover="addHoverClass('7a7b364b-7cc9-443a-883f-5395c99a5242')" @mouseleave="removeHoverClass('7a7b364b-7cc9-443a-883f-5395c99a5242')" @click="showModal('7a7b364b-7cc9-443a-883f-5395c99a5242')" :class="[returnClassRoom('7a7b364b-7cc9-443a-883f-5395c99a5242'), { 'hoverSvgClassPark': activeFloor === '7a7b364b-7cc9-443a-883f-5395c99a5242' }]" class="fil0" points="306.35,257.79 306.35,231.68 316.72,231.68 316.72,257.79 "/>
  <polygon ref="556b50f6-feba-4d90-b1ff-2dffc3b441ef" id="556b50f6-feba-4d90-b1ff-2dffc3b441ef" @mouseover="addHoverClass('556b50f6-feba-4d90-b1ff-2dffc3b441ef')" @mouseleave="removeHoverClass('556b50f6-feba-4d90-b1ff-2dffc3b441ef')" @click="showModal('556b50f6-feba-4d90-b1ff-2dffc3b441ef')" :class="[returnClassRoom('556b50f6-feba-4d90-b1ff-2dffc3b441ef'), { 'hoverSvgClassPark': activeFloor === '556b50f6-feba-4d90-b1ff-2dffc3b441ef' }]" class="fil0" points="330.13,257.7 330.13,231.59 340.51,231.59 340.51,257.7 "/>
  <polygon ref="dc0e8ef9-1296-4c89-baf0-2f195dbcf25f" id="dc0e8ef9-1296-4c89-baf0-2f195dbcf25f" @mouseover="addHoverClass('dc0e8ef9-1296-4c89-baf0-2f195dbcf25f')" @mouseleave="removeHoverClass('dc0e8ef9-1296-4c89-baf0-2f195dbcf25f')" @click="showModal('dc0e8ef9-1296-4c89-baf0-2f195dbcf25f')" :class="[returnClassRoom('dc0e8ef9-1296-4c89-baf0-2f195dbcf25f'), { 'hoverSvgClassPark': activeFloor === 'dc0e8ef9-1296-4c89-baf0-2f195dbcf25f' }]" class="fil0" points="281.17,257.74 281.17,231.63 291.54,231.63 291.54,257.74 "/>
  <polygon ref="21f6b43c-a637-4e13-b154-09aac717e375" id="21f6b43c-a637-4e13-b154-09aac717e375" @mouseover="addHoverClass('21f6b43c-a637-4e13-b154-09aac717e375')" @mouseleave="removeHoverClass('21f6b43c-a637-4e13-b154-09aac717e375')" @click="showModal('21f6b43c-a637-4e13-b154-09aac717e375')" :class="[returnClassRoom('21f6b43c-a637-4e13-b154-09aac717e375'), { 'hoverSvgClassPark': activeFloor === '21f6b43c-a637-4e13-b154-09aac717e375' }]" class="fil0" points="269.18,257.74 269.18,231.63 279.56,231.63 279.56,257.74 "/>
  <polygon ref="6d0380ad-ea47-4464-ae92-c5ff10680b35" id="6d0380ad-ea47-4464-ae92-c5ff10680b35" @mouseover="addHoverClass('6d0380ad-ea47-4464-ae92-c5ff10680b35')" @mouseleave="removeHoverClass('6d0380ad-ea47-4464-ae92-c5ff10680b35')" @click="showModal('6d0380ad-ea47-4464-ae92-c5ff10680b35')" :class="[returnClassRoom('6d0380ad-ea47-4464-ae92-c5ff10680b35'), { 'hoverSvgClassPark': activeFloor === '6d0380ad-ea47-4464-ae92-c5ff10680b35' }]" class="fil0" points="242.05,257.83 242.05,231.72 252.42,231.72 252.42,257.83 "/>
  <polygon ref="e9af8b7d-ba3a-4707-a0a4-097568e0ebce" id="e9af8b7d-ba3a-4707-a0a4-097568e0ebce" @mouseover="addHoverClass('e9af8b7d-ba3a-4707-a0a4-097568e0ebce')" @mouseleave="removeHoverClass('e9af8b7d-ba3a-4707-a0a4-097568e0ebce')" @click="showModal('e9af8b7d-ba3a-4707-a0a4-097568e0ebce')" :class="[returnClassRoom('e9af8b7d-ba3a-4707-a0a4-097568e0ebce'), { 'hoverSvgClassPark': activeFloor === 'e9af8b7d-ba3a-4707-a0a4-097568e0ebce' }]" class="fil0" points="215.32,257.7 215.32,231.59 225.69,231.59 225.69,257.7 "/>
  <polygon ref="c1c5db1f-3063-470c-8641-f6eb7f04478d" id="c1c5db1f-3063-470c-8641-f6eb7f04478d" @mouseover="addHoverClass('c1c5db1f-3063-470c-8641-f6eb7f04478d')" @mouseleave="removeHoverClass('c1c5db1f-3063-470c-8641-f6eb7f04478d')" @click="showModal('c1c5db1f-3063-470c-8641-f6eb7f04478d')" :class="[returnClassRoom('c1c5db1f-3063-470c-8641-f6eb7f04478d'), { 'hoverSvgClassPark': activeFloor === 'c1c5db1f-3063-470c-8641-f6eb7f04478d' }]" class="fil0" points="193.11,257.74 193.11,231.63 203.48,231.63 203.48,257.74 "/>
  <polygon ref="389911f2-b2c3-4be5-bd43-f27d13098b62" id="389911f2-b2c3-4be5-bd43-f27d13098b62" @mouseover="addHoverClass('389911f2-b2c3-4be5-bd43-f27d13098b62')" @mouseleave="removeHoverClass('389911f2-b2c3-4be5-bd43-f27d13098b62')" @click="showModal('389911f2-b2c3-4be5-bd43-f27d13098b62')" :class="[returnClassRoom('389911f2-b2c3-4be5-bd43-f27d13098b62'), { 'hoverSvgClassPark': activeFloor === '389911f2-b2c3-4be5-bd43-f27d13098b62' }]" class="fil0" points="204.46,257.7 204.46,231.59 214.84,231.59 214.84,257.7 "/>
  <polygon ref="e55b1595-6b28-4d3e-b404-a6cd4938db85" id="e55b1595-6b28-4d3e-b404-a6cd4938db85" @mouseover="addHoverClass('e55b1595-6b28-4d3e-b404-a6cd4938db85')" @mouseleave="removeHoverClass('e55b1595-6b28-4d3e-b404-a6cd4938db85')" @click="showModal('e55b1595-6b28-4d3e-b404-a6cd4938db85')" :class="[returnClassRoom('e55b1595-6b28-4d3e-b404-a6cd4938db85'), { 'hoverSvgClassPark': activeFloor === 'e55b1595-6b28-4d3e-b404-a6cd4938db85' }]" class="fil0" points="178.11,257.7 178.11,231.59 188.48,231.59 188.48,257.7 "/>
  <polygon ref="ce736080-18f5-4579-88ff-803db2fb48e7" id="ce736080-18f5-4579-88ff-803db2fb48e7" @mouseover="addHoverClass('ce736080-18f5-4579-88ff-803db2fb48e7')" @mouseleave="removeHoverClass('ce736080-18f5-4579-88ff-803db2fb48e7')" @click="showModal('ce736080-18f5-4579-88ff-803db2fb48e7')" :class="[returnClassRoom('ce736080-18f5-4579-88ff-803db2fb48e7'), { 'hoverSvgClassPark': activeFloor === 'ce736080-18f5-4579-88ff-803db2fb48e7' }]" class="fil0" points="164.7,257.7 164.7,231.59 175.07,231.59 175.07,257.7 "/>
  <polygon ref="42c1f977-8a2e-4baa-9545-a6e34280884d" id="42c1f977-8a2e-4baa-9545-a6e34280884d" @mouseover="addHoverClass('42c1f977-8a2e-4baa-9545-a6e34280884d')" @mouseleave="removeHoverClass('42c1f977-8a2e-4baa-9545-a6e34280884d')" @click="showModal('42c1f977-8a2e-4baa-9545-a6e34280884d')" :class="[returnClassRoom('42c1f977-8a2e-4baa-9545-a6e34280884d'), { 'hoverSvgClassPark': activeFloor === '42c1f977-8a2e-4baa-9545-a6e34280884d' }]" class="fil0" points="137.52,257.74 137.52,231.63 147.9,231.63 147.9,257.74 "/>
  <polygon ref="4f4337f3-70bb-4a95-aa9c-aefc4dc7e059" id="4f4337f3-70bb-4a95-aa9c-aefc4dc7e059" @mouseover="addHoverClass('4f4337f3-70bb-4a95-aa9c-aefc4dc7e059')" @mouseleave="removeHoverClass('4f4337f3-70bb-4a95-aa9c-aefc4dc7e059')" @click="showModal('4f4337f3-70bb-4a95-aa9c-aefc4dc7e059')" :class="[returnClassRoom('4f4337f3-70bb-4a95-aa9c-aefc4dc7e059'), { 'hoverSvgClassPark': activeFloor === '4f4337f3-70bb-4a95-aa9c-aefc4dc7e059' }]" class="fil0" points="439.22,223.1 439.22,196.99 449.59,196.99 449.59,223.1 "/>
  <polygon ref="2d5681cc-3934-4280-ac83-ff57b3c0eaef" id="2d5681cc-3934-4280-ac83-ff57b3c0eaef" @mouseover="addHoverClass('2d5681cc-3934-4280-ac83-ff57b3c0eaef')" @mouseleave="removeHoverClass('2d5681cc-3934-4280-ac83-ff57b3c0eaef')" @click="showModal('2d5681cc-3934-4280-ac83-ff57b3c0eaef')" :class="[returnClassRoom('2d5681cc-3934-4280-ac83-ff57b3c0eaef'), { 'hoverSvgClassPark': activeFloor === '2d5681cc-3934-4280-ac83-ff57b3c0eaef' }]" class="fil0" points="450.22,223.1 450.22,196.99 460.59,196.99 460.59,223.1 "/>
  <polygon ref="b3e29c58-698e-42b1-a97e-8ea5b65bb1e6" id="b3e29c58-698e-42b1-a97e-8ea5b65bb1e6" @mouseover="addHoverClass('b3e29c58-698e-42b1-a97e-8ea5b65bb1e6')" @mouseleave="removeHoverClass('b3e29c58-698e-42b1-a97e-8ea5b65bb1e6')" @click="showModal('b3e29c58-698e-42b1-a97e-8ea5b65bb1e6')" :class="[returnClassRoom('b3e29c58-698e-42b1-a97e-8ea5b65bb1e6'), { 'hoverSvgClassPark': activeFloor === 'b3e29c58-698e-42b1-a97e-8ea5b65bb1e6' }]" class="fil0" points="467.83,223.1 467.83,196.99 478.21,196.99 478.21,223.1 "/>
  <polygon ref="a88ac1eb-f88d-4b70-8697-804ce21b90da" id="a88ac1eb-f88d-4b70-8697-804ce21b90da" @mouseover="addHoverClass('a88ac1eb-f88d-4b70-8697-804ce21b90da')" @mouseleave="removeHoverClass('a88ac1eb-f88d-4b70-8697-804ce21b90da')" @click="showModal('a88ac1eb-f88d-4b70-8697-804ce21b90da')" :class="[returnClassRoom('a88ac1eb-f88d-4b70-8697-804ce21b90da'), { 'hoverSvgClassPark': activeFloor === 'a88ac1eb-f88d-4b70-8697-804ce21b90da' }]" class="fil0" points="478.83,223.1 478.83,196.99 489.2,196.99 489.2,223.1 "/>
  <polygon ref="2d61eb35-828d-4784-82e3-5245a0fe6231" id="2d61eb35-828d-4784-82e3-5245a0fe6231" @mouseover="addHoverClass('2d61eb35-828d-4784-82e3-5245a0fe6231')" @mouseleave="removeHoverClass('2d61eb35-828d-4784-82e3-5245a0fe6231')" @click="showModal('2d61eb35-828d-4784-82e3-5245a0fe6231')" :class="[returnClassRoom('2d61eb35-828d-4784-82e3-5245a0fe6231'), { 'hoverSvgClassPark': activeFloor === '2d61eb35-828d-4784-82e3-5245a0fe6231' }]" class="fil0" points="490.63,223.1 490.63,196.99 501.01,196.99 501.01,223.1 "/>
  <polygon ref="e358c313-054a-4dae-8e49-38f0e56cbe94" id="e358c313-054a-4dae-8e49-38f0e56cbe94" @mouseover="addHoverClass('e358c313-054a-4dae-8e49-38f0e56cbe94')" @mouseleave="removeHoverClass('e358c313-054a-4dae-8e49-38f0e56cbe94')" @click="showModal('e358c313-054a-4dae-8e49-38f0e56cbe94')" :class="[returnClassRoom('e358c313-054a-4dae-8e49-38f0e56cbe94'), { 'hoverSvgClassPark': activeFloor === 'e358c313-054a-4dae-8e49-38f0e56cbe94' }]" class="fil0" points="459.98,257.75 459.98,231.64 470.35,231.64 470.35,257.75 "/>
  <polygon ref="76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0" id="76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0" @mouseover="addHoverClass('76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0')" @mouseleave="removeHoverClass('76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0')" @click="showModal('76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0')" :class="[returnClassRoom('76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0'), { 'hoverSvgClassPark': activeFloor === '76d8a2a0-20b6-49d7-9f40-d0bc3fbf53a0' }]" class="fil0" points="470.97,257.75 470.97,231.64 481.35,231.64 481.35,257.75 "/>
  <polygon ref="f422ec56-9a43-4cc6-8d3f-071efd629cce" id="f422ec56-9a43-4cc6-8d3f-071efd629cce" @mouseover="addHoverClass('f422ec56-9a43-4cc6-8d3f-071efd629cce')" @mouseleave="removeHoverClass('f422ec56-9a43-4cc6-8d3f-071efd629cce')" @click="showModal('f422ec56-9a43-4cc6-8d3f-071efd629cce')" :class="[returnClassRoom('f422ec56-9a43-4cc6-8d3f-071efd629cce'), { 'hoverSvgClassPark': activeFloor === 'f422ec56-9a43-4cc6-8d3f-071efd629cce' }]" class="fil0" points="482.78,257.75 482.78,231.64 493.15,231.64 493.15,257.75 "/>
  <polygon ref="977ad8f3-c09d-4e76-ab68-191e6944ef5f" id="977ad8f3-c09d-4e76-ab68-191e6944ef5f" @mouseover="addHoverClass('977ad8f3-c09d-4e76-ab68-191e6944ef5f')" @mouseleave="removeHoverClass('977ad8f3-c09d-4e76-ab68-191e6944ef5f')" @click="showModal('977ad8f3-c09d-4e76-ab68-191e6944ef5f')" :class="[returnClassRoom('977ad8f3-c09d-4e76-ab68-191e6944ef5f'), { 'hoverSvgClassPark': activeFloor === '977ad8f3-c09d-4e76-ab68-191e6944ef5f' }]" class="fil0" points="510.05,223.05 510.05,196.95 520.42,196.95 520.42,223.05 "/>
  <polygon ref="eaca64b6-3160-4604-b100-e5ce0a4af4e9" id="eaca64b6-3160-4604-b100-e5ce0a4af4e9" @mouseover="addHoverClass('eaca64b6-3160-4604-b100-e5ce0a4af4e9')" @mouseleave="removeHoverClass('eaca64b6-3160-4604-b100-e5ce0a4af4e9')" @click="showModal('eaca64b6-3160-4604-b100-e5ce0a4af4e9')" :class="[returnClassRoom('eaca64b6-3160-4604-b100-e5ce0a4af4e9'), { 'hoverSvgClassPark': activeFloor === 'eaca64b6-3160-4604-b100-e5ce0a4af4e9' }]" class="fil0" points="521.04,223.05 521.04,196.95 531.42,196.95 531.42,223.05 "/>
  <polygon ref="7ed8541f-c867-478e-81eb-5a9ffcecc63b" id="7ed8541f-c867-478e-81eb-5a9ffcecc63b" @mouseover="addHoverClass('7ed8541f-c867-478e-81eb-5a9ffcecc63b')" @mouseleave="removeHoverClass('7ed8541f-c867-478e-81eb-5a9ffcecc63b')" @click="showModal('7ed8541f-c867-478e-81eb-5a9ffcecc63b')" :class="[returnClassRoom('7ed8541f-c867-478e-81eb-5a9ffcecc63b'), { 'hoverSvgClassPark': activeFloor === '7ed8541f-c867-478e-81eb-5a9ffcecc63b' }]" class="fil0" points="532.85,223.05 532.85,196.95 543.22,196.95 543.22,223.05 "/>
  <polygon ref="fb6ab3f4-030d-4929-9dbf-780137f2399d" id="fb6ab3f4-030d-4929-9dbf-780137f2399d" @mouseover="addHoverClass('fb6ab3f4-030d-4929-9dbf-780137f2399d')" @mouseleave="removeHoverClass('fb6ab3f4-030d-4929-9dbf-780137f2399d')" @click="showModal('fb6ab3f4-030d-4929-9dbf-780137f2399d')" :class="[returnClassRoom('fb6ab3f4-030d-4929-9dbf-780137f2399d'), { 'hoverSvgClassPark': activeFloor === 'fb6ab3f4-030d-4929-9dbf-780137f2399d' }]" class="fil0" points="549.39,257.57 549.39,231.46 559.76,231.46 559.76,257.57 "/>
  <polygon ref="86fbe8ae-e64d-4b0f-a429-7b714d264e8b" id="86fbe8ae-e64d-4b0f-a429-7b714d264e8b" @mouseover="addHoverClass('86fbe8ae-e64d-4b0f-a429-7b714d264e8b')" @mouseleave="removeHoverClass('86fbe8ae-e64d-4b0f-a429-7b714d264e8b')" @click="showModal('86fbe8ae-e64d-4b0f-a429-7b714d264e8b')" :class="[returnClassRoom('86fbe8ae-e64d-4b0f-a429-7b714d264e8b'), { 'hoverSvgClassPark': activeFloor === '86fbe8ae-e64d-4b0f-a429-7b714d264e8b' }]" class="fil0" points="561.1,257.66 561.1,231.55 571.48,231.55 571.48,257.66 "/>
  <polygon ref="7ba1fa0c-555d-48a7-ae15-0b90852efdfc" id="7ba1fa0c-555d-48a7-ae15-0b90852efdfc" @mouseover="addHoverClass('7ba1fa0c-555d-48a7-ae15-0b90852efdfc')" @mouseleave="removeHoverClass('7ba1fa0c-555d-48a7-ae15-0b90852efdfc')" @click="showModal('7ba1fa0c-555d-48a7-ae15-0b90852efdfc')" :class="[returnClassRoom('7ba1fa0c-555d-48a7-ae15-0b90852efdfc'), { 'hoverSvgClassPark': activeFloor === '7ba1fa0c-555d-48a7-ae15-0b90852efdfc' }]" class="fil0" points="572.19,257.57 572.19,231.46 582.56,231.46 582.56,257.57 "/>
  <polygon ref="071f0f1b-a2ce-41d9-b038-82c011ce7933" id="071f0f1b-a2ce-41d9-b038-82c011ce7933" @mouseover="addHoverClass('071f0f1b-a2ce-41d9-b038-82c011ce7933')" @mouseleave="removeHoverClass('071f0f1b-a2ce-41d9-b038-82c011ce7933')" @click="showModal('071f0f1b-a2ce-41d9-b038-82c011ce7933')" :class="[returnClassRoom('071f0f1b-a2ce-41d9-b038-82c011ce7933'), { 'hoverSvgClassPark': activeFloor === '071f0f1b-a2ce-41d9-b038-82c011ce7933' }]" class="fil0" points="546.26,315.87 546.26,289.76 556.63,289.76 556.63,315.87 "/>
  <polygon ref="375b81e8-5f29-4bbb-a328-d96392a3caba" id="375b81e8-5f29-4bbb-a328-d96392a3caba" @mouseover="addHoverClass('375b81e8-5f29-4bbb-a328-d96392a3caba')" @mouseleave="removeHoverClass('375b81e8-5f29-4bbb-a328-d96392a3caba')" @click="showModal('375b81e8-5f29-4bbb-a328-d96392a3caba')" :class="[returnClassRoom('375b81e8-5f29-4bbb-a328-d96392a3caba'), { 'hoverSvgClassPark': activeFloor === '375b81e8-5f29-4bbb-a328-d96392a3caba' }]" class="fil0" points="557.26,315.87 557.26,289.76 567.63,289.76 567.63,315.87 "/>
  <polygon ref="8801c723-e57f-4142-9f09-47cec71466ba" id="8801c723-e57f-4142-9f09-47cec71466ba" @mouseover="addHoverClass('8801c723-e57f-4142-9f09-47cec71466ba')" @mouseleave="removeHoverClass('8801c723-e57f-4142-9f09-47cec71466ba')" @click="showModal('8801c723-e57f-4142-9f09-47cec71466ba')" :class="[returnClassRoom('8801c723-e57f-4142-9f09-47cec71466ba'), { 'hoverSvgClassPark': activeFloor === '8801c723-e57f-4142-9f09-47cec71466ba' }]" class="fil0" points="569.06,315.87 569.06,289.76 579.43,289.76 579.43,315.87 "/>
  <polygon ref="58958879-de5d-464b-a365-19eff6f254d9" id="58958879-de5d-464b-a365-19eff6f254d9" @mouseover="addHoverClass('58958879-de5d-464b-a365-19eff6f254d9')" @mouseleave="removeHoverClass('58958879-de5d-464b-a365-19eff6f254d9')" @click="showModal('58958879-de5d-464b-a365-19eff6f254d9')" :class="[returnClassRoom('58958879-de5d-464b-a365-19eff6f254d9'), { 'hoverSvgClassPark': activeFloor === '58958879-de5d-464b-a365-19eff6f254d9' }]" class="fil0" points="458.19,315.78 458.19,289.67 468.56,289.67 468.56,315.78 "/>
  <polygon ref="56ec085e-88b9-48d5-ae7f-5bdc84c5f233" id="56ec085e-88b9-48d5-ae7f-5bdc84c5f233" @mouseover="addHoverClass('56ec085e-88b9-48d5-ae7f-5bdc84c5f233')" @mouseleave="removeHoverClass('56ec085e-88b9-48d5-ae7f-5bdc84c5f233')" @click="showModal('56ec085e-88b9-48d5-ae7f-5bdc84c5f233')" :class="[returnClassRoom('56ec085e-88b9-48d5-ae7f-5bdc84c5f233'), { 'hoverSvgClassPark': activeFloor === '56ec085e-88b9-48d5-ae7f-5bdc84c5f233' }]" class="fil0" points="469.19,315.78 469.19,289.67 479.56,289.67 479.56,315.78 "/>
  <polygon ref="32fbc391-1124-4074-8d91-ea2270f94ed4" id="32fbc391-1124-4074-8d91-ea2270f94ed4" @mouseover="addHoverClass('32fbc391-1124-4074-8d91-ea2270f94ed4')" @mouseleave="removeHoverClass('32fbc391-1124-4074-8d91-ea2270f94ed4')" @click="showModal('32fbc391-1124-4074-8d91-ea2270f94ed4')" :class="[returnClassRoom('32fbc391-1124-4074-8d91-ea2270f94ed4'), { 'hoverSvgClassPark': activeFloor === '32fbc391-1124-4074-8d91-ea2270f94ed4' }]" class="fil0" points="480.99,315.78 480.99,289.67 491.36,289.67 491.36,315.78 "/>
  <polygon ref="90a7c371-3c0a-4576-8c21-ac45c2e0466c" id="90a7c371-3c0a-4576-8c21-ac45c2e0466c" @mouseover="addHoverClass('90a7c371-3c0a-4576-8c21-ac45c2e0466c')" @mouseleave="removeHoverClass('90a7c371-3c0a-4576-8c21-ac45c2e0466c')" @click="showModal('90a7c371-3c0a-4576-8c21-ac45c2e0466c')" :class="[returnClassRoom('90a7c371-3c0a-4576-8c21-ac45c2e0466c'), { 'hoverSvgClassPark': activeFloor === '90a7c371-3c0a-4576-8c21-ac45c2e0466c' }]" class="fil0" points="348.3,315.87 348.3,289.76 358.67,289.76 358.67,315.87 "/>
  <polygon ref="ad099e4b-350c-4c5d-8c5f-a0a5220fdd80" id="ad099e4b-350c-4c5d-8c5f-a0a5220fdd80" @mouseover="addHoverClass('ad099e4b-350c-4c5d-8c5f-a0a5220fdd80')" @mouseleave="removeHoverClass('ad099e4b-350c-4c5d-8c5f-a0a5220fdd80')" @click="showModal('ad099e4b-350c-4c5d-8c5f-a0a5220fdd80')" :class="[returnClassRoom('ad099e4b-350c-4c5d-8c5f-a0a5220fdd80'), { 'hoverSvgClassPark': activeFloor === 'ad099e4b-350c-4c5d-8c5f-a0a5220fdd80' }]" class="fil0" points="359.3,315.87 359.3,289.76 369.67,289.76 369.67,315.87 "/>
  <polygon ref="4d3877c7-9f8f-4386-9f5f-360976b65744" id="4d3877c7-9f8f-4386-9f5f-360976b65744" @mouseover="addHoverClass('4d3877c7-9f8f-4386-9f5f-360976b65744')" @mouseleave="removeHoverClass('4d3877c7-9f8f-4386-9f5f-360976b65744')" @click="showModal('4d3877c7-9f8f-4386-9f5f-360976b65744')" :class="[returnClassRoom('4d3877c7-9f8f-4386-9f5f-360976b65744'), { 'hoverSvgClassPark': activeFloor === '4d3877c7-9f8f-4386-9f5f-360976b65744' }]" class="fil0" points="371.1,315.87 371.1,289.76 381.47,289.76 381.47,315.87 "/>
  <polygon ref="8a7d79ad-f933-4dd1-ad41-483f6cd4d732" id="8a7d79ad-f933-4dd1-ad41-483f6cd4d732" @mouseover="addHoverClass('8a7d79ad-f933-4dd1-ad41-483f6cd4d732')" @mouseleave="removeHoverClass('8a7d79ad-f933-4dd1-ad41-483f6cd4d732')" @click="showModal('8a7d79ad-f933-4dd1-ad41-483f6cd4d732')" :class="[returnClassRoom('8a7d79ad-f933-4dd1-ad41-483f6cd4d732'), { 'hoverSvgClassPark': activeFloor === '8a7d79ad-f933-4dd1-ad41-483f6cd4d732' }]" class="fil0" points="194.24,315.96 194.24,289.85 204.61,289.85 204.61,315.96 "/>
  <polygon ref="27550963-27e8-42c6-9637-b12ac8f99fb7" id="27550963-27e8-42c6-9637-b12ac8f99fb7" @mouseover="addHoverClass('27550963-27e8-42c6-9637-b12ac8f99fb7')" @mouseleave="removeHoverClass('27550963-27e8-42c6-9637-b12ac8f99fb7')" @click="showModal('27550963-27e8-42c6-9637-b12ac8f99fb7')" :class="[returnClassRoom('27550963-27e8-42c6-9637-b12ac8f99fb7'), { 'hoverSvgClassPark': activeFloor === '27550963-27e8-42c6-9637-b12ac8f99fb7' }]" class="fil0" points="205.24,315.96 205.24,289.85 215.61,289.85 215.61,315.96 "/>
  <polygon ref="5799124a-db29-4577-b470-51617d04f602" id="5799124a-db29-4577-b470-51617d04f602" @mouseover="addHoverClass('5799124a-db29-4577-b470-51617d04f602')" @mouseleave="removeHoverClass('5799124a-db29-4577-b470-51617d04f602')" @click="showModal('5799124a-db29-4577-b470-51617d04f602')" :class="[returnClassRoom('5799124a-db29-4577-b470-51617d04f602'), { 'hoverSvgClassPark': activeFloor === '5799124a-db29-4577-b470-51617d04f602' }]" class="fil0" points="217.04,315.96 217.04,289.85 227.41,289.85 227.41,315.96 "/>
  <polygon ref="0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5" id="0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5" @mouseover="addHoverClass('0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5')" @mouseleave="removeHoverClass('0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5')" @click="showModal('0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5')" :class="[returnClassRoom('0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5'), { 'hoverSvgClassPark': activeFloor === '0f8ff8a2-f78e-49c6-9067-c57d7b59e6f5' }]" class="fil0" points="553.68,223.14 553.68,197.04 564.06,197.04 564.06,223.14 "/>
  <polygon ref="a5dd458c-3766-424c-9e48-4813ce1d23bd" id="a5dd458c-3766-424c-9e48-4813ce1d23bd" @mouseover="addHoverClass('a5dd458c-3766-424c-9e48-4813ce1d23bd')" @mouseleave="removeHoverClass('a5dd458c-3766-424c-9e48-4813ce1d23bd')" @click="showModal('a5dd458c-3766-424c-9e48-4813ce1d23bd')" :class="[returnClassRoom('a5dd458c-3766-424c-9e48-4813ce1d23bd'), { 'hoverSvgClassPark': activeFloor === 'a5dd458c-3766-424c-9e48-4813ce1d23bd' }]" class="fil0" points="564.68,223.14 564.68,197.04 575.05,197.04 575.05,223.14 "/>
  <polygon ref="051311a1-3b11-4465-86be-5cb0dfea17bc" id="051311a1-3b11-4465-86be-5cb0dfea17bc" @mouseover="addHoverClass('051311a1-3b11-4465-86be-5cb0dfea17bc')" @mouseleave="removeHoverClass('051311a1-3b11-4465-86be-5cb0dfea17bc')" @click="showModal('051311a1-3b11-4465-86be-5cb0dfea17bc')" :class="[returnClassRoom('051311a1-3b11-4465-86be-5cb0dfea17bc'), { 'hoverSvgClassPark': activeFloor === '051311a1-3b11-4465-86be-5cb0dfea17bc' }]" class="fil0" points="506.56,315.87 506.56,289.76 516.93,289.76 516.93,315.87 "/>
  <polygon ref="f4fe9679-05b9-4f8c-ae91-acf43183c80f" id="f4fe9679-05b9-4f8c-ae91-acf43183c80f" @mouseover="addHoverClass('f4fe9679-05b9-4f8c-ae91-acf43183c80f')" @mouseleave="removeHoverClass('f4fe9679-05b9-4f8c-ae91-acf43183c80f')" @click="showModal('f4fe9679-05b9-4f8c-ae91-acf43183c80f')" :class="[returnClassRoom('f4fe9679-05b9-4f8c-ae91-acf43183c80f'), { 'hoverSvgClassPark': activeFloor === 'f4fe9679-05b9-4f8c-ae91-acf43183c80f' }]" class="fil0" points="517.56,315.87 517.56,289.76 527.93,289.76 527.93,315.87 "/>
  <polygon ref="b8694fc3-312a-4d79-b764-25858c31bfe4" id="b8694fc3-312a-4d79-b764-25858c31bfe4" @mouseover="addHoverClass('b8694fc3-312a-4d79-b764-25858c31bfe4')" @mouseleave="removeHoverClass('b8694fc3-312a-4d79-b764-25858c31bfe4')" @click="showModal('b8694fc3-312a-4d79-b764-25858c31bfe4')" :class="[returnClassRoom('b8694fc3-312a-4d79-b764-25858c31bfe4'), { 'hoverSvgClassPark': activeFloor === 'b8694fc3-312a-4d79-b764-25858c31bfe4' }]" class="fil0" points="507.27,257.84 507.27,231.73 517.65,231.73 517.65,257.84 "/>
  <polygon ref="929c56d0-0f6b-4e55-83a7-574a31ca6ee6" id="929c56d0-0f6b-4e55-83a7-574a31ca6ee6" @mouseover="addHoverClass('929c56d0-0f6b-4e55-83a7-574a31ca6ee6')" @mouseleave="removeHoverClass('929c56d0-0f6b-4e55-83a7-574a31ca6ee6')" @click="showModal('929c56d0-0f6b-4e55-83a7-574a31ca6ee6')" :class="[returnClassRoom('929c56d0-0f6b-4e55-83a7-574a31ca6ee6'), { 'hoverSvgClassPark': activeFloor === '929c56d0-0f6b-4e55-83a7-574a31ca6ee6' }]" class="fil0" points="519.53,257.75 519.53,231.64 529.9,231.64 529.9,257.75 "/>
  <polygon ref="674c823b-5b7f-4d50-bd79-5fd93c91704a" id="674c823b-5b7f-4d50-bd79-5fd93c91704a" @mouseover="addHoverClass('674c823b-5b7f-4d50-bd79-5fd93c91704a')" @mouseleave="removeHoverClass('674c823b-5b7f-4d50-bd79-5fd93c91704a')" @click="showModal('674c823b-5b7f-4d50-bd79-5fd93c91704a')" :class="[returnClassRoom('674c823b-5b7f-4d50-bd79-5fd93c91704a'), { 'hoverSvgClassPark': activeFloor === '674c823b-5b7f-4d50-bd79-5fd93c91704a' }]" class="fil0" points="242.76,315.87 242.76,289.76 253.13,289.76 253.13,315.87 "/>
  <polygon ref="4342d470-3f06-4559-be68-5426771e4077" id="4342d470-3f06-4559-be68-5426771e4077" @mouseover="addHoverClass('4342d470-3f06-4559-be68-5426771e4077')" @mouseleave="removeHoverClass('4342d470-3f06-4559-be68-5426771e4077')" @click="showModal('4342d470-3f06-4559-be68-5426771e4077')" :class="[returnClassRoom('4342d470-3f06-4559-be68-5426771e4077'), { 'hoverSvgClassPark': activeFloor === '4342d470-3f06-4559-be68-5426771e4077' }]" class="fil0" points="253.76,315.87 253.76,289.76 264.13,289.76 264.13,315.87 "/>
  <polygon ref="7dd02bef-7dab-41b3-8acc-a8bf16f76088" id="7dd02bef-7dab-41b3-8acc-a8bf16f76088" @mouseover="addHoverClass('7dd02bef-7dab-41b3-8acc-a8bf16f76088')" @mouseleave="removeHoverClass('7dd02bef-7dab-41b3-8acc-a8bf16f76088')" @click="showModal('7dd02bef-7dab-41b3-8acc-a8bf16f76088')" :class="[returnClassRoom('7dd02bef-7dab-41b3-8acc-a8bf16f76088'), { 'hoverSvgClassPark': activeFloor === '7dd02bef-7dab-41b3-8acc-a8bf16f76088' }]" class="fil0" points="157.04,315.87 157.04,289.76 167.42,289.76 167.42,315.87 "/>
  <polygon ref="0af8d79b-8ae0-46d2-8000-fc15dd6e9d43" id="0af8d79b-8ae0-46d2-8000-fc15dd6e9d43" @mouseover="addHoverClass('0af8d79b-8ae0-46d2-8000-fc15dd6e9d43')" @mouseleave="removeHoverClass('0af8d79b-8ae0-46d2-8000-fc15dd6e9d43')" @click="showModal('0af8d79b-8ae0-46d2-8000-fc15dd6e9d43')" :class="[returnClassRoom('0af8d79b-8ae0-46d2-8000-fc15dd6e9d43'), { 'hoverSvgClassPark': activeFloor === '0af8d79b-8ae0-46d2-8000-fc15dd6e9d43' }]" class="fil0" points="168.04,315.87 168.04,289.76 178.42,289.76 178.42,315.87 "/>
  <polygon ref="42b36b9a-c0bc-469d-8ae5-635bf71199e0" id="42b36b9a-c0bc-469d-8ae5-635bf71199e0" @mouseover="addHoverClass('42b36b9a-c0bc-469d-8ae5-635bf71199e0')" @mouseleave="removeHoverClass('42b36b9a-c0bc-469d-8ae5-635bf71199e0')" @click="showModal('42b36b9a-c0bc-469d-8ae5-635bf71199e0')" :class="[returnClassRoom('42b36b9a-c0bc-469d-8ae5-635bf71199e0'), { 'hoverSvgClassPark': activeFloor === '42b36b9a-c0bc-469d-8ae5-635bf71199e0' }]" class="fil0" points="328.99,316.05 328.99,289.94 339.36,289.94 339.36,316.05 "/>
  <polygon ref="edb5c9bf-d856-4b0b-b681-72b22fd5b461" id="edb5c9bf-d856-4b0b-b681-72b22fd5b461" @mouseover="addHoverClass('edb5c9bf-d856-4b0b-b681-72b22fd5b461')" @mouseleave="removeHoverClass('edb5c9bf-d856-4b0b-b681-72b22fd5b461')" @click="showModal('edb5c9bf-d856-4b0b-b681-72b22fd5b461')" :class="[returnClassRoom('edb5c9bf-d856-4b0b-b681-72b22fd5b461'), { 'hoverSvgClassPark': activeFloor === 'edb5c9bf-d856-4b0b-b681-72b22fd5b461' }]" class="fil0" points="434.85,257.57 434.85,231.46 445.22,231.46 445.22,257.57 "/>
  <polygon ref="c9e4381a-688e-4e25-9ee8-7a0fd44b0287" id="c9e4381a-688e-4e25-9ee8-7a0fd44b0287" @mouseover="addHoverClass('c9e4381a-688e-4e25-9ee8-7a0fd44b0287')" @mouseleave="removeHoverClass('c9e4381a-688e-4e25-9ee8-7a0fd44b0287')" @click="showModal('c9e4381a-688e-4e25-9ee8-7a0fd44b0287')" :class="[returnClassRoom('c9e4381a-688e-4e25-9ee8-7a0fd44b0287'), { 'hoverSvgClassPark': activeFloor === 'c9e4381a-688e-4e25-9ee8-7a0fd44b0287' }]" class="fil0" points="400.02,315.82 400.02,289.72 414.51,289.72 414.51,315.82 "/>
  <polygon ref="98a86645-68dd-406d-8b41-ab2f80bf827f" id="98a86645-68dd-406d-8b41-ab2f80bf827f" @mouseover="addHoverClass('98a86645-68dd-406d-8b41-ab2f80bf827f')" @mouseleave="removeHoverClass('98a86645-68dd-406d-8b41-ab2f80bf827f')" @click="showModal('98a86645-68dd-406d-8b41-ab2f80bf827f')" :class="[returnClassRoom('98a86645-68dd-406d-8b41-ab2f80bf827f'), { 'hoverSvgClassPark': activeFloor === '98a86645-68dd-406d-8b41-ab2f80bf827f' }]" class="fil0" points="587.37,169.53 613.03,169.53 613.03,179.91 587.37,179.91 "/>
  <polygon ref="8fe5ec55-57c7-485f-84de-5c93cb64b172" id="8fe5ec55-57c7-485f-84de-5c93cb64b172" @mouseover="addHoverClass('8fe5ec55-57c7-485f-84de-5c93cb64b172')" @mouseleave="removeHoverClass('8fe5ec55-57c7-485f-84de-5c93cb64b172')" @click="showModal('8fe5ec55-57c7-485f-84de-5c93cb64b172')" :class="[returnClassRoom('8fe5ec55-57c7-485f-84de-5c93cb64b172'), { 'hoverSvgClassPark': activeFloor === '8fe5ec55-57c7-485f-84de-5c93cb64b172' }]" class="fil0" points="587.37,180.53 613.03,180.53 613.03,190.9 587.37,190.9 "/>
  <polygon ref="5d5e9655-08fd-42a6-9c4a-1aa78f59ec05" id="5d5e9655-08fd-42a6-9c4a-1aa78f59ec05" @mouseover="addHoverClass('5d5e9655-08fd-42a6-9c4a-1aa78f59ec05')" @mouseleave="removeHoverClass('5d5e9655-08fd-42a6-9c4a-1aa78f59ec05')" @click="showModal('5d5e9655-08fd-42a6-9c4a-1aa78f59ec05')" :class="[returnClassRoom('5d5e9655-08fd-42a6-9c4a-1aa78f59ec05'), { 'hoverSvgClassPark': activeFloor === '5d5e9655-08fd-42a6-9c4a-1aa78f59ec05' }]" class="fil0" points="589.87,258.56 615.53,258.56 615.53,268.93 589.87,268.93 "/>
  <polygon ref="67a2f885-485a-4ce2-9077-a42897117306" id="67a2f885-485a-4ce2-9077-a42897117306" @mouseover="addHoverClass('67a2f885-485a-4ce2-9077-a42897117306')" @mouseleave="removeHoverClass('67a2f885-485a-4ce2-9077-a42897117306')" @click="showModal('67a2f885-485a-4ce2-9077-a42897117306')" :class="[returnClassRoom('67a2f885-485a-4ce2-9077-a42897117306'), { 'hoverSvgClassPark': activeFloor === '67a2f885-485a-4ce2-9077-a42897117306' }]" class="fil0" points="589.87,269.55 615.53,269.55 615.53,279.93 589.87,279.93 "/>
  <polygon ref="959b3ef4-b5b8-4a26-8d2a-68bb4a563459" id="959b3ef4-b5b8-4a26-8d2a-68bb4a563459" @mouseover="addHoverClass('959b3ef4-b5b8-4a26-8d2a-68bb4a563459')" @mouseleave="removeHoverClass('959b3ef4-b5b8-4a26-8d2a-68bb4a563459')" @click="showModal('959b3ef4-b5b8-4a26-8d2a-68bb4a563459')" :class="[returnClassRoom('959b3ef4-b5b8-4a26-8d2a-68bb4a563459'), { 'hoverSvgClassPark': activeFloor === '959b3ef4-b5b8-4a26-8d2a-68bb4a563459' }]" class="fil0" points="589.87,280.64 615.53,280.64 615.53,291.01 589.87,291.01 "/>
  <polygon ref="45f9fa6c-6d9f-4ed6-b442-afc8f8885203" id="45f9fa6c-6d9f-4ed6-b442-afc8f8885203" @mouseover="addHoverClass('45f9fa6c-6d9f-4ed6-b442-afc8f8885203')" @mouseleave="removeHoverClass('45f9fa6c-6d9f-4ed6-b442-afc8f8885203')" @click="showModal('45f9fa6c-6d9f-4ed6-b442-afc8f8885203')" :class="[returnClassRoom('45f9fa6c-6d9f-4ed6-b442-afc8f8885203'), { 'hoverSvgClassPark': activeFloor === '45f9fa6c-6d9f-4ed6-b442-afc8f8885203' }]" class="fil0" points="299.64,284.28 325.3,284.28 325.3,294.65 299.64,294.65 "/>
 </g>
</svg>
   </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>