

<template>
  <div>
   <SvgPanZoom
       style="width: 100%; height: 500px; margin: auto;"
       :zoomEnabled="true"
       :controlIconsEnabled="true"
       :fit="false"
       :center="true">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="425px" height="335px" version="1.0" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
viewBox="0 0 648.74 511.95" xmlns:xlink="http://www.w3.org/1999/xlink">
 <defs>
   <clipPath id="id0">
    <rect width="648.74" height="511.95"/>
   </clipPath>
 </defs>
 <g id="Слой_x0020_1">
  <metadata id="CorelCorpID_0Corel-Layer"/>
  <g style="clip-path:url(#id0)">
   <image xlink:href="@/assets/parking/parking-07-floor.png" x="5" y="-20" width="648.74" height="511.95"></image>
  </g>

  <polygon ref="fe2e8156-1d12-43b6-972c-53d026f7b59b" id="fe2e8156-1d12-43b6-972c-53d026f7b59b" @mouseover="addHoverClass('fe2e8156-1d12-43b6-972c-53d026f7b59b')" @mouseleave="removeHoverClass('fe2e8156-1d12-43b6-972c-53d026f7b59b')" @click="showModal('fe2e8156-1d12-43b6-972c-53d026f7b59b')" :class="[returnClassRoom('fe2e8156-1d12-43b6-972c-53d026f7b59b'), { 'hoverSvgClassPark': activeFloor === 'fe2e8156-1d12-43b6-972c-53d026f7b59b' }]" class="fil0" points="444.81,18.6 470.92,18.6 470.92,28.97 444.81,28.97 "/>
  <polygon ref="ab667948-8e53-438e-b37c-1e4a3b545087" id="ab667948-8e53-438e-b37c-1e4a3b545087" @mouseover="addHoverClass('ab667948-8e53-438e-b37c-1e4a3b545087')" @mouseleave="removeHoverClass('ab667948-8e53-438e-b37c-1e4a3b545087')" @click="showModal('ab667948-8e53-438e-b37c-1e4a3b545087')" :class="[returnClassRoom('ab667948-8e53-438e-b37c-1e4a3b545087'), { 'hoverSvgClassPark': activeFloor === 'ab667948-8e53-438e-b37c-1e4a3b545087' }]" class="fil0" points="444.81,29.69 470.92,29.69 470.92,40.06 444.81,40.06 "/>
  <polygon ref="88c46c6b-673a-4e33-b40b-4a7cc7bee015" id="88c46c6b-673a-4e33-b40b-4a7cc7bee015" @mouseover="addHoverClass('88c46c6b-673a-4e33-b40b-4a7cc7bee015')" @mouseleave="removeHoverClass('88c46c6b-673a-4e33-b40b-4a7cc7bee015')" @click="showModal('88c46c6b-673a-4e33-b40b-4a7cc7bee015')" :class="[returnClassRoom('88c46c6b-673a-4e33-b40b-4a7cc7bee015'), { 'hoverSvgClassPark': activeFloor === '88c46c6b-673a-4e33-b40b-4a7cc7bee015' }]" class="fil0" points="444.81,49.81 470.92,49.81 470.92,60.18 444.81,60.18 "/>
  <polygon ref="300936e6-ddb5-4ea3-8a74-ddccdff93587" id="300936e6-ddb5-4ea3-8a74-ddccdff93587" @mouseover="addHoverClass('300936e6-ddb5-4ea3-8a74-ddccdff93587')" @mouseleave="removeHoverClass('300936e6-ddb5-4ea3-8a74-ddccdff93587')" @click="showModal('300936e6-ddb5-4ea3-8a74-ddccdff93587')" :class="[returnClassRoom('300936e6-ddb5-4ea3-8a74-ddccdff93587'), { 'hoverSvgClassPark': activeFloor === '300936e6-ddb5-4ea3-8a74-ddccdff93587' }]" class="fil0" points="444.81,60.8 470.92,60.8 470.92,71.18 444.81,71.18 "/>
  <polygon ref="223230c1-8abe-4b3c-9a16-fd9aeff2de03" id="223230c1-8abe-4b3c-9a16-fd9aeff2de03" @mouseover="addHoverClass('223230c1-8abe-4b3c-9a16-fd9aeff2de03')" @mouseleave="removeHoverClass('223230c1-8abe-4b3c-9a16-fd9aeff2de03')" @click="showModal('223230c1-8abe-4b3c-9a16-fd9aeff2de03')" :class="[returnClassRoom('223230c1-8abe-4b3c-9a16-fd9aeff2de03'), { 'hoverSvgClassPark': activeFloor === '223230c1-8abe-4b3c-9a16-fd9aeff2de03' }]" class="fil0" points="444.81,82.17 470.92,82.17 470.92,92.55 444.81,92.55 "/>
  <polygon ref="9aee5a21-49f4-4bbe-9018-b6275267a23b" id="9aee5a21-49f4-4bbe-9018-b6275267a23b" @mouseover="addHoverClass('9aee5a21-49f4-4bbe-9018-b6275267a23b')" @mouseleave="removeHoverClass('9aee5a21-49f4-4bbe-9018-b6275267a23b')" @click="showModal('9aee5a21-49f4-4bbe-9018-b6275267a23b')" :class="[returnClassRoom('9aee5a21-49f4-4bbe-9018-b6275267a23b'), { 'hoverSvgClassPark': activeFloor === '9aee5a21-49f4-4bbe-9018-b6275267a23b' }]" class="fil0" points="444.81,93.17 470.92,93.17 470.92,103.54 444.81,103.54 "/>
  <polygon ref="0e091e20-943f-4e01-baee-ac326360e2d1" id="0e091e20-943f-4e01-baee-ac326360e2d1" @mouseover="addHoverClass('0e091e20-943f-4e01-baee-ac326360e2d1')" @mouseleave="removeHoverClass('0e091e20-943f-4e01-baee-ac326360e2d1')" @click="showModal('0e091e20-943f-4e01-baee-ac326360e2d1')" :class="[returnClassRoom('0e091e20-943f-4e01-baee-ac326360e2d1'), { 'hoverSvgClassPark': activeFloor === '0e091e20-943f-4e01-baee-ac326360e2d1' }]" class="fil0" points="444.81,105.06 470.92,105.06 470.92,115.44 444.81,115.44 "/>
  <polygon ref="00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7" id="00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7" @mouseover="addHoverClass('00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7')" @mouseleave="removeHoverClass('00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7')" @click="showModal('00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7')" :class="[returnClassRoom('00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7'), { 'hoverSvgClassPark': activeFloor === '00e1ab67-bcdd-4f7c-b6a2-32e0701a3be7' }]" class="fil0" points="444.81,116.06 470.92,116.06 470.92,126.44 444.81,126.44 "/>
  <polygon ref="101f410e-bd18-4677-8b28-a976d8209900" id="101f410e-bd18-4677-8b28-a976d8209900" @mouseover="addHoverClass('101f410e-bd18-4677-8b28-a976d8209900')" @mouseleave="removeHoverClass('101f410e-bd18-4677-8b28-a976d8209900')" @click="showModal('101f410e-bd18-4677-8b28-a976d8209900')" :class="[returnClassRoom('101f410e-bd18-4677-8b28-a976d8209900'), { 'hoverSvgClassPark': activeFloor === '101f410e-bd18-4677-8b28-a976d8209900' }]" class="fil0" points="502.34,18.6 553.66,18.6 553.66,28.97 502.34,28.97 "/>
  <polygon ref="38ad4dbb-1fe9-4fea-93c5-bbce7cd55096" id="38ad4dbb-1fe9-4fea-93c5-bbce7cd55096" @mouseover="addHoverClass('38ad4dbb-1fe9-4fea-93c5-bbce7cd55096')" @mouseleave="removeHoverClass('38ad4dbb-1fe9-4fea-93c5-bbce7cd55096')" @click="showModal('38ad4dbb-1fe9-4fea-93c5-bbce7cd55096')" :class="[returnClassRoom('38ad4dbb-1fe9-4fea-93c5-bbce7cd55096'), { 'hoverSvgClassPark': activeFloor === '38ad4dbb-1fe9-4fea-93c5-bbce7cd55096' }]" class="fil0" points="502.34,29.69 553.66,29.69 553.66,40.06 502.34,40.06 "/>
  <polygon ref="1185c508-1925-49b9-be40-374f015b7476" id="1185c508-1925-49b9-be40-374f015b7476" @mouseover="addHoverClass('1185c508-1925-49b9-be40-374f015b7476')" @mouseleave="removeHoverClass('1185c508-1925-49b9-be40-374f015b7476')" @click="showModal('1185c508-1925-49b9-be40-374f015b7476')" :class="[returnClassRoom('1185c508-1925-49b9-be40-374f015b7476'), { 'hoverSvgClassPark': activeFloor === '1185c508-1925-49b9-be40-374f015b7476' }]" class="fil0" points="502.34,49.81 553.66,49.81 553.66,60.18 502.34,60.18 "/>
  <polygon ref="c3332186-088b-426d-98e2-f53431657440" id="c3332186-088b-426d-98e2-f53431657440" @mouseover="addHoverClass('c3332186-088b-426d-98e2-f53431657440')" @mouseleave="removeHoverClass('c3332186-088b-426d-98e2-f53431657440')" @click="showModal('c3332186-088b-426d-98e2-f53431657440')" :class="[returnClassRoom('c3332186-088b-426d-98e2-f53431657440'), { 'hoverSvgClassPark': activeFloor === 'c3332186-088b-426d-98e2-f53431657440' }]" class="fil0" points="502.34,60.8 553.66,60.8 553.66,71.18 502.34,71.18 "/>
  <polygon ref="31b7d4a3-171e-47cc-b8ee-7f20d97c38e6" id="31b7d4a3-171e-47cc-b8ee-7f20d97c38e6" @mouseover="addHoverClass('31b7d4a3-171e-47cc-b8ee-7f20d97c38e6')" @mouseleave="removeHoverClass('31b7d4a3-171e-47cc-b8ee-7f20d97c38e6')" @click="showModal('31b7d4a3-171e-47cc-b8ee-7f20d97c38e6')" :class="[returnClassRoom('31b7d4a3-171e-47cc-b8ee-7f20d97c38e6'), { 'hoverSvgClassPark': activeFloor === '31b7d4a3-171e-47cc-b8ee-7f20d97c38e6' }]" class="fil0" points="502.34,82.17 553.66,82.17 553.66,92.55 502.34,92.55 "/>
  <polygon ref="3f9f1df6-5560-4264-a171-041653da5d56" id="3f9f1df6-5560-4264-a171-041653da5d56" @mouseover="addHoverClass('3f9f1df6-5560-4264-a171-041653da5d56')" @mouseleave="removeHoverClass('3f9f1df6-5560-4264-a171-041653da5d56')" @click="showModal('3f9f1df6-5560-4264-a171-041653da5d56')" :class="[returnClassRoom('3f9f1df6-5560-4264-a171-041653da5d56'), { 'hoverSvgClassPark': activeFloor === '3f9f1df6-5560-4264-a171-041653da5d56' }]" class="fil0" points="502.34,93.17 553.66,93.17 553.66,103.54 502.34,103.54 "/>
  <polygon ref="e7836bcd-9c5b-4d35-bf73-5fdbbbd68591" id="e7836bcd-9c5b-4d35-bf73-5fdbbbd68591" @mouseover="addHoverClass('e7836bcd-9c5b-4d35-bf73-5fdbbbd68591')" @mouseleave="removeHoverClass('e7836bcd-9c5b-4d35-bf73-5fdbbbd68591')" @click="showModal('e7836bcd-9c5b-4d35-bf73-5fdbbbd68591')" :class="[returnClassRoom('e7836bcd-9c5b-4d35-bf73-5fdbbbd68591'), { 'hoverSvgClassPark': activeFloor === 'e7836bcd-9c5b-4d35-bf73-5fdbbbd68591' }]" class="fil0" points="502.34,105.06 553.66,105.06 553.66,115.44 502.34,115.44 "/>
  <polygon ref="7852bbba-2540-456b-bde1-bbb3ea8b63ef" id="7852bbba-2540-456b-bde1-bbb3ea8b63ef" @mouseover="addHoverClass('7852bbba-2540-456b-bde1-bbb3ea8b63ef')" @mouseleave="removeHoverClass('7852bbba-2540-456b-bde1-bbb3ea8b63ef')" @click="showModal('7852bbba-2540-456b-bde1-bbb3ea8b63ef')" :class="[returnClassRoom('7852bbba-2540-456b-bde1-bbb3ea8b63ef'), { 'hoverSvgClassPark': activeFloor === '7852bbba-2540-456b-bde1-bbb3ea8b63ef' }]" class="fil0" points="502.34,116.06 553.66,116.06 553.66,126.44 502.34,126.44 "/>
  <polygon ref="940dd9ea-1675-4ec2-a2fa-70b1201d5f0c" id="940dd9ea-1675-4ec2-a2fa-70b1201d5f0c" @mouseover="addHoverClass('940dd9ea-1675-4ec2-a2fa-70b1201d5f0c')" @mouseleave="removeHoverClass('940dd9ea-1675-4ec2-a2fa-70b1201d5f0c')" @click="showModal('940dd9ea-1675-4ec2-a2fa-70b1201d5f0c')" :class="[returnClassRoom('940dd9ea-1675-4ec2-a2fa-70b1201d5f0c'), { 'hoverSvgClassPark': activeFloor === '940dd9ea-1675-4ec2-a2fa-70b1201d5f0c' }]" class="fil0" points="586.44,18.6 612.55,18.6 612.55,28.97 586.44,28.97 "/>
  <polygon ref="ffc7d42d-2e88-4919-bca7-886a217093f1" id="ffc7d42d-2e88-4919-bca7-886a217093f1" @mouseover="addHoverClass('ffc7d42d-2e88-4919-bca7-886a217093f1')" @mouseleave="removeHoverClass('ffc7d42d-2e88-4919-bca7-886a217093f1')" @click="showModal('ffc7d42d-2e88-4919-bca7-886a217093f1')" :class="[returnClassRoom('ffc7d42d-2e88-4919-bca7-886a217093f1'), { 'hoverSvgClassPark': activeFloor === 'ffc7d42d-2e88-4919-bca7-886a217093f1' }]" class="fil0" points="586.44,29.69 612.55,29.69 612.55,40.06 586.44,40.06 "/>
  <polygon ref="f9335c69-feaf-4d77-aace-530e9e9fe68d" id="f9335c69-feaf-4d77-aace-530e9e9fe68d" @mouseover="addHoverClass('f9335c69-feaf-4d77-aace-530e9e9fe68d')" @mouseleave="removeHoverClass('f9335c69-feaf-4d77-aace-530e9e9fe68d')" @click="showModal('f9335c69-feaf-4d77-aace-530e9e9fe68d')" :class="[returnClassRoom('f9335c69-feaf-4d77-aace-530e9e9fe68d'), { 'hoverSvgClassPark': activeFloor === 'f9335c69-feaf-4d77-aace-530e9e9fe68d' }]" class="fil0" points="586.44,49.81 612.55,49.81 612.55,60.18 586.44,60.18 "/>
  <polygon ref="2a51b431-bc02-4bc5-9c4c-090da6a3b22d" id="2a51b431-bc02-4bc5-9c4c-090da6a3b22d" @mouseover="addHoverClass('2a51b431-bc02-4bc5-9c4c-090da6a3b22d')" @mouseleave="removeHoverClass('2a51b431-bc02-4bc5-9c4c-090da6a3b22d')" @click="showModal('2a51b431-bc02-4bc5-9c4c-090da6a3b22d')" :class="[returnClassRoom('2a51b431-bc02-4bc5-9c4c-090da6a3b22d'), { 'hoverSvgClassPark': activeFloor === '2a51b431-bc02-4bc5-9c4c-090da6a3b22d' }]" class="fil0" points="586.44,60.8 612.55,60.8 612.55,71.18 586.44,71.18 "/>
  <polygon ref="69ed7b98-48bb-451c-a0e1-87ffaa142a90" id="69ed7b98-48bb-451c-a0e1-87ffaa142a90" @mouseover="addHoverClass('69ed7b98-48bb-451c-a0e1-87ffaa142a90')" @mouseleave="removeHoverClass('69ed7b98-48bb-451c-a0e1-87ffaa142a90')" @click="showModal('69ed7b98-48bb-451c-a0e1-87ffaa142a90')" :class="[returnClassRoom('69ed7b98-48bb-451c-a0e1-87ffaa142a90'), { 'hoverSvgClassPark': activeFloor === '69ed7b98-48bb-451c-a0e1-87ffaa142a90' }]" class="fil0" points="586.44,82.17 612.55,82.17 612.55,92.55 586.44,92.55 "/>
  <polygon ref="50c84612-7d28-449c-824e-320d33b86f61" id="50c84612-7d28-449c-824e-320d33b86f61" @mouseover="addHoverClass('50c84612-7d28-449c-824e-320d33b86f61')" @mouseleave="removeHoverClass('50c84612-7d28-449c-824e-320d33b86f61')" @click="showModal('50c84612-7d28-449c-824e-320d33b86f61')" :class="[returnClassRoom('50c84612-7d28-449c-824e-320d33b86f61'), { 'hoverSvgClassPark': activeFloor === '50c84612-7d28-449c-824e-320d33b86f61' }]" class="fil0" points="586.44,93.17 612.55,93.17 612.55,103.54 586.44,103.54 "/>
  <polygon ref="ee64e0ad-61ae-466d-a84c-118492105dc3" id="ee64e0ad-61ae-466d-a84c-118492105dc3" @mouseover="addHoverClass('ee64e0ad-61ae-466d-a84c-118492105dc3')" @mouseleave="removeHoverClass('ee64e0ad-61ae-466d-a84c-118492105dc3')" @click="showModal('ee64e0ad-61ae-466d-a84c-118492105dc3')" :class="[returnClassRoom('ee64e0ad-61ae-466d-a84c-118492105dc3'), { 'hoverSvgClassPark': activeFloor === 'ee64e0ad-61ae-466d-a84c-118492105dc3' }]" class="fil0" points="586.44,105.06 612.55,105.06 612.55,115.44 586.44,115.44 "/>
  <polygon ref="acbdf534-31c4-4bec-951c-47b4ec9f2b96" id="acbdf534-31c4-4bec-951c-47b4ec9f2b96" @mouseover="addHoverClass('acbdf534-31c4-4bec-951c-47b4ec9f2b96')" @mouseleave="removeHoverClass('acbdf534-31c4-4bec-951c-47b4ec9f2b96')" @click="showModal('acbdf534-31c4-4bec-951c-47b4ec9f2b96')" :class="[returnClassRoom('acbdf534-31c4-4bec-951c-47b4ec9f2b96'), { 'hoverSvgClassPark': activeFloor === 'acbdf534-31c4-4bec-951c-47b4ec9f2b96' }]" class="fil0" points="586.44,116.06 612.55,116.06 612.55,126.44 586.44,126.44 "/>
  <polygon ref="3cf164ca-a0c4-4c76-a248-a132db08f1a1" id="3cf164ca-a0c4-4c76-a248-a132db08f1a1" @mouseover="addHoverClass('3cf164ca-a0c4-4c76-a248-a132db08f1a1')" @mouseleave="removeHoverClass('3cf164ca-a0c4-4c76-a248-a132db08f1a1')" @click="showModal('3cf164ca-a0c4-4c76-a248-a132db08f1a1')" :class="[returnClassRoom('3cf164ca-a0c4-4c76-a248-a132db08f1a1'), { 'hoverSvgClassPark': activeFloor === '3cf164ca-a0c4-4c76-a248-a132db08f1a1' }]" class="fil0" points="502.34,138.42 553.66,138.42 553.66,148.79 502.34,148.79 "/>
  <polygon ref="b2d057c1-e7be-4cfb-bd71-53ca9ba7e060" id="b2d057c1-e7be-4cfb-bd71-53ca9ba7e060" @mouseover="addHoverClass('b2d057c1-e7be-4cfb-bd71-53ca9ba7e060')" @mouseleave="removeHoverClass('b2d057c1-e7be-4cfb-bd71-53ca9ba7e060')" @click="showModal('b2d057c1-e7be-4cfb-bd71-53ca9ba7e060')" :class="[returnClassRoom('b2d057c1-e7be-4cfb-bd71-53ca9ba7e060'), { 'hoverSvgClassPark': activeFloor === 'b2d057c1-e7be-4cfb-bd71-53ca9ba7e060' }]" class="fil0" points="502.34,149.41 553.66,149.41 553.66,159.79 502.34,159.79 "/>
  <polygon ref="9b8b9fea-9754-49af-8e79-5d31f220d24b" id="9b8b9fea-9754-49af-8e79-5d31f220d24b" @mouseover="addHoverClass('9b8b9fea-9754-49af-8e79-5d31f220d24b')" @mouseleave="removeHoverClass('9b8b9fea-9754-49af-8e79-5d31f220d24b')" @click="showModal('9b8b9fea-9754-49af-8e79-5d31f220d24b')" :class="[returnClassRoom('9b8b9fea-9754-49af-8e79-5d31f220d24b'), { 'hoverSvgClassPark': activeFloor === '9b8b9fea-9754-49af-8e79-5d31f220d24b' }]" class="fil0" points="587.01,138.42 612.67,138.42 612.67,148.79 587.01,148.79 "/>
  <polygon ref="f1bc54dc-70a1-42c0-9438-36745d9162f3" id="f1bc54dc-70a1-42c0-9438-36745d9162f3" @mouseover="addHoverClass('f1bc54dc-70a1-42c0-9438-36745d9162f3')" @mouseleave="removeHoverClass('f1bc54dc-70a1-42c0-9438-36745d9162f3')" @click="showModal('f1bc54dc-70a1-42c0-9438-36745d9162f3')" :class="[returnClassRoom('f1bc54dc-70a1-42c0-9438-36745d9162f3'), { 'hoverSvgClassPark': activeFloor === 'f1bc54dc-70a1-42c0-9438-36745d9162f3' }]" class="fil0" points="587.01,149.41 612.67,149.41 612.67,159.79 587.01,159.79 "/>
  <polygon ref="f4441e7a-98b5-476c-a177-19fb1857b4a6" id="f4441e7a-98b5-476c-a177-19fb1857b4a6" @mouseover="addHoverClass('f4441e7a-98b5-476c-a177-19fb1857b4a6')" @mouseleave="removeHoverClass('f4441e7a-98b5-476c-a177-19fb1857b4a6')" @click="showModal('f4441e7a-98b5-476c-a177-19fb1857b4a6')" :class="[returnClassRoom('f4441e7a-98b5-476c-a177-19fb1857b4a6'), { 'hoverSvgClassPark': activeFloor === 'f4441e7a-98b5-476c-a177-19fb1857b4a6' }]" class="fil0" points="439.22,167.61 439.22,141.5 449.59,141.5 449.59,167.61 "/>
  <polygon ref="668e062c-4273-4fd8-80c4-1514adc37b7b" id="668e062c-4273-4fd8-80c4-1514adc37b7b" @mouseover="addHoverClass('668e062c-4273-4fd8-80c4-1514adc37b7b')" @mouseleave="removeHoverClass('668e062c-4273-4fd8-80c4-1514adc37b7b')" @click="showModal('668e062c-4273-4fd8-80c4-1514adc37b7b')" :class="[returnClassRoom('668e062c-4273-4fd8-80c4-1514adc37b7b'), { 'hoverSvgClassPark': activeFloor === '668e062c-4273-4fd8-80c4-1514adc37b7b' }]" class="fil0" points="450.22,167.61 450.22,141.5 460.59,141.5 460.59,167.61 "/>
  <polygon ref="41c38cc8-ca64-4d2f-927e-524e08afeb1b" id="41c38cc8-ca64-4d2f-927e-524e08afeb1b" @mouseover="addHoverClass('41c38cc8-ca64-4d2f-927e-524e08afeb1b')" @mouseleave="removeHoverClass('41c38cc8-ca64-4d2f-927e-524e08afeb1b')" @click="showModal('41c38cc8-ca64-4d2f-927e-524e08afeb1b')" :class="[returnClassRoom('41c38cc8-ca64-4d2f-927e-524e08afeb1b'), { 'hoverSvgClassPark': activeFloor === '41c38cc8-ca64-4d2f-927e-524e08afeb1b' }]" class="fil0" points="410.07,167.61 410.07,141.5 420.44,141.5 420.44,167.61 "/>
  <polygon ref="84c1a078-ff9a-4f20-bc7a-77357a972f75" id="84c1a078-ff9a-4f20-bc7a-77357a972f75" @mouseover="addHoverClass('84c1a078-ff9a-4f20-bc7a-77357a972f75')" @mouseleave="removeHoverClass('84c1a078-ff9a-4f20-bc7a-77357a972f75')" @click="showModal('84c1a078-ff9a-4f20-bc7a-77357a972f75')" :class="[returnClassRoom('84c1a078-ff9a-4f20-bc7a-77357a972f75'), { 'hoverSvgClassPark': activeFloor === '84c1a078-ff9a-4f20-bc7a-77357a972f75' }]" class="fil0" points="421.07,167.61 421.07,141.5 431.44,141.5 431.44,167.61 "/>
  <polygon ref="9fc123b3-5177-4968-b36d-c948d1bd27c3" id="9fc123b3-5177-4968-b36d-c948d1bd27c3" @mouseover="addHoverClass('9fc123b3-5177-4968-b36d-c948d1bd27c3')" @mouseleave="removeHoverClass('9fc123b3-5177-4968-b36d-c948d1bd27c3')" @click="showModal('9fc123b3-5177-4968-b36d-c948d1bd27c3')" :class="[returnClassRoom('9fc123b3-5177-4968-b36d-c948d1bd27c3'), { 'hoverSvgClassPark': activeFloor === '9fc123b3-5177-4968-b36d-c948d1bd27c3' }]" class="fil0" points="325.84,167.61 325.84,141.5 336.22,141.5 336.22,167.61 "/>
  <polygon ref="b105982e-18d9-425b-99ca-b293d4af7222" id="b105982e-18d9-425b-99ca-b293d4af7222" @mouseover="addHoverClass('b105982e-18d9-425b-99ca-b293d4af7222')" @mouseleave="removeHoverClass('b105982e-18d9-425b-99ca-b293d4af7222')" @click="showModal('b105982e-18d9-425b-99ca-b293d4af7222')" :class="[returnClassRoom('b105982e-18d9-425b-99ca-b293d4af7222'), { 'hoverSvgClassPark': activeFloor === 'b105982e-18d9-425b-99ca-b293d4af7222' }]" class="fil0" points="336.84,167.61 336.84,141.5 347.21,141.5 347.21,167.61 "/>
  <polygon ref="cee0c5e6-9429-4714-80a2-24b603960c3e" id="cee0c5e6-9429-4714-80a2-24b603960c3e" @mouseover="addHoverClass('cee0c5e6-9429-4714-80a2-24b603960c3e')" @mouseleave="removeHoverClass('cee0c5e6-9429-4714-80a2-24b603960c3e')" @click="showModal('cee0c5e6-9429-4714-80a2-24b603960c3e')" :class="[returnClassRoom('cee0c5e6-9429-4714-80a2-24b603960c3e'), { 'hoverSvgClassPark': activeFloor === 'cee0c5e6-9429-4714-80a2-24b603960c3e' }]" class="fil0" points="313.86,167.61 313.86,141.5 324.24,141.5 324.24,167.61 "/>
  <polygon ref="0c0740c6-edc1-400a-aaab-2e4b5913c9c3" id="0c0740c6-edc1-400a-aaab-2e4b5913c9c3" @mouseover="addHoverClass('0c0740c6-edc1-400a-aaab-2e4b5913c9c3')" @mouseleave="removeHoverClass('0c0740c6-edc1-400a-aaab-2e4b5913c9c3')" @click="showModal('0c0740c6-edc1-400a-aaab-2e4b5913c9c3')" :class="[returnClassRoom('0c0740c6-edc1-400a-aaab-2e4b5913c9c3'), { 'hoverSvgClassPark': activeFloor === '0c0740c6-edc1-400a-aaab-2e4b5913c9c3' }]" class="fil0" points="398.18,167.61 398.18,141.5 408.55,141.5 408.55,167.61 "/>
  <polygon ref="d412d3e3-11a7-41e0-a599-53f979363783" id="d412d3e3-11a7-41e0-a599-53f979363783" @mouseover="addHoverClass('d412d3e3-11a7-41e0-a599-53f979363783')" @mouseleave="removeHoverClass('d412d3e3-11a7-41e0-a599-53f979363783')" @click="showModal('d412d3e3-11a7-41e0-a599-53f979363783')" :class="[returnClassRoom('d412d3e3-11a7-41e0-a599-53f979363783'), { 'hoverSvgClassPark': activeFloor === 'd412d3e3-11a7-41e0-a599-53f979363783' }]" class="fil0" points="378.23,167.61 378.23,141.5 388.6,141.5 388.6,167.61 "/>
  <polygon ref="ce615fdf-9a4f-4767-bfbc-e004d753c130" id="ce615fdf-9a4f-4767-bfbc-e004d753c130" @mouseover="addHoverClass('ce615fdf-9a4f-4767-bfbc-e004d753c130')" @mouseleave="removeHoverClass('ce615fdf-9a4f-4767-bfbc-e004d753c130')" @click="showModal('ce615fdf-9a4f-4767-bfbc-e004d753c130')" :class="[returnClassRoom('ce615fdf-9a4f-4767-bfbc-e004d753c130'), { 'hoverSvgClassPark': activeFloor === 'ce615fdf-9a4f-4767-bfbc-e004d753c130' }]" class="fil0" points="282.39,167.61 282.39,141.5 292.76,141.5 292.76,167.61 "/>
  <polygon ref="b20a91b7-2a89-49dc-bdc6-70a85a30673e" id="b20a91b7-2a89-49dc-bdc6-70a85a30673e" @mouseover="addHoverClass('b20a91b7-2a89-49dc-bdc6-70a85a30673e')" @mouseleave="removeHoverClass('b20a91b7-2a89-49dc-bdc6-70a85a30673e')" @click="showModal('b20a91b7-2a89-49dc-bdc6-70a85a30673e')" :class="[returnClassRoom('b20a91b7-2a89-49dc-bdc6-70a85a30673e'), { 'hoverSvgClassPark': activeFloor === 'b20a91b7-2a89-49dc-bdc6-70a85a30673e' }]" class="fil0" points="293.39,167.61 293.39,141.5 303.76,141.5 303.76,167.61 "/>
  <polygon ref="c6d897cd-dbae-49d9-bf37-ff3085c5528a" id="c6d897cd-dbae-49d9-bf37-ff3085c5528a" @mouseover="addHoverClass('c6d897cd-dbae-49d9-bf37-ff3085c5528a')" @mouseleave="removeHoverClass('c6d897cd-dbae-49d9-bf37-ff3085c5528a')" @click="showModal('c6d897cd-dbae-49d9-bf37-ff3085c5528a')" :class="[returnClassRoom('c6d897cd-dbae-49d9-bf37-ff3085c5528a'), { 'hoverSvgClassPark': activeFloor === 'c6d897cd-dbae-49d9-bf37-ff3085c5528a' }]" class="fil0" points="270.41,167.61 270.41,141.5 280.78,141.5 280.78,167.61 "/>
  <polygon ref="4137bf1e-2775-42ad-a707-d989a62ea780" id="4137bf1e-2775-42ad-a707-d989a62ea780" @mouseover="addHoverClass('4137bf1e-2775-42ad-a707-d989a62ea780')" @mouseleave="removeHoverClass('4137bf1e-2775-42ad-a707-d989a62ea780')" @click="showModal('4137bf1e-2775-42ad-a707-d989a62ea780')" :class="[returnClassRoom('4137bf1e-2775-42ad-a707-d989a62ea780'), { 'hoverSvgClassPark': activeFloor === '4137bf1e-2775-42ad-a707-d989a62ea780' }]" class="fil0" points="241.6,167.61 241.6,141.5 251.98,141.5 251.98,167.61 "/>
  <polygon ref="af88ef9a-b1f0-4c5e-a837-f0820f4ed318" id="af88ef9a-b1f0-4c5e-a837-f0820f4ed318" @mouseover="addHoverClass('af88ef9a-b1f0-4c5e-a837-f0820f4ed318')" @mouseleave="removeHoverClass('af88ef9a-b1f0-4c5e-a837-f0820f4ed318')" @click="showModal('af88ef9a-b1f0-4c5e-a837-f0820f4ed318')" :class="[returnClassRoom('af88ef9a-b1f0-4c5e-a837-f0820f4ed318'), { 'hoverSvgClassPark': activeFloor === 'af88ef9a-b1f0-4c5e-a837-f0820f4ed318' }]" class="fil0" points="252.6,167.61 252.6,141.5 262.97,141.5 262.97,167.61 "/>
  <polygon ref="6cbc7f77-7bfa-4657-aba0-171de3227529" id="6cbc7f77-7bfa-4657-aba0-171de3227529" @mouseover="addHoverClass('6cbc7f77-7bfa-4657-aba0-171de3227529')" @mouseleave="removeHoverClass('6cbc7f77-7bfa-4657-aba0-171de3227529')" @click="showModal('6cbc7f77-7bfa-4657-aba0-171de3227529')" :class="[returnClassRoom('6cbc7f77-7bfa-4657-aba0-171de3227529'), { 'hoverSvgClassPark': activeFloor === '6cbc7f77-7bfa-4657-aba0-171de3227529' }]" class="fil0" points="229.62,167.61 229.62,141.5 240,141.5 240,167.61 "/>
  <polygon ref="8668670c-efe9-484f-beaf-04cdd51b8631" id="8668670c-efe9-484f-beaf-04cdd51b8631" @mouseover="addHoverClass('8668670c-efe9-484f-beaf-04cdd51b8631')" @mouseleave="removeHoverClass('8668670c-efe9-484f-beaf-04cdd51b8631')" @click="showModal('8668670c-efe9-484f-beaf-04cdd51b8631')" :class="[returnClassRoom('8668670c-efe9-484f-beaf-04cdd51b8631'), { 'hoverSvgClassPark': activeFloor === '8668670c-efe9-484f-beaf-04cdd51b8631' }]" class="fil0" points="210.49,167.61 210.49,141.5 220.86,141.5 220.86,167.61 "/>
  <polygon ref="16d6be24-5d97-4abe-93f9-3a13865f8d94" id="16d6be24-5d97-4abe-93f9-3a13865f8d94" @mouseover="addHoverClass('16d6be24-5d97-4abe-93f9-3a13865f8d94')" @mouseleave="removeHoverClass('16d6be24-5d97-4abe-93f9-3a13865f8d94')" @click="showModal('16d6be24-5d97-4abe-93f9-3a13865f8d94')" :class="[returnClassRoom('16d6be24-5d97-4abe-93f9-3a13865f8d94'), { 'hoverSvgClassPark': activeFloor === '16d6be24-5d97-4abe-93f9-3a13865f8d94' }]" class="fil0" points="198.51,167.61 198.51,141.5 208.88,141.5 208.88,167.61 "/>
  <polygon ref="89bd0fee-46c1-4418-a3eb-dcdcf94d5c37" id="89bd0fee-46c1-4418-a3eb-dcdcf94d5c37" @mouseover="addHoverClass('89bd0fee-46c1-4418-a3eb-dcdcf94d5c37')" @mouseleave="removeHoverClass('89bd0fee-46c1-4418-a3eb-dcdcf94d5c37')" @click="showModal('89bd0fee-46c1-4418-a3eb-dcdcf94d5c37')" :class="[returnClassRoom('89bd0fee-46c1-4418-a3eb-dcdcf94d5c37'), { 'hoverSvgClassPark': activeFloor === '89bd0fee-46c1-4418-a3eb-dcdcf94d5c37' }]" class="fil0" points="183.84,167.61 183.84,141.5 194.22,141.5 194.22,167.61 "/>
  <polygon ref="a03a8f65-5f21-477c-97d7-69a1ebb47a89" id="a03a8f65-5f21-477c-97d7-69a1ebb47a89" @mouseover="addHoverClass('a03a8f65-5f21-477c-97d7-69a1ebb47a89')" @mouseleave="removeHoverClass('a03a8f65-5f21-477c-97d7-69a1ebb47a89')" @click="showModal('a03a8f65-5f21-477c-97d7-69a1ebb47a89')" :class="[returnClassRoom('a03a8f65-5f21-477c-97d7-69a1ebb47a89'), { 'hoverSvgClassPark': activeFloor === 'a03a8f65-5f21-477c-97d7-69a1ebb47a89' }]" class="fil0" points="171.86,167.61 171.86,141.5 182.23,141.5 182.23,167.61 "/>
  <polygon ref="8604bf0c-31e8-418d-9f12-83fb4b66de17" id="8604bf0c-31e8-418d-9f12-83fb4b66de17" @mouseover="addHoverClass('8604bf0c-31e8-418d-9f12-83fb4b66de17')" @mouseleave="removeHoverClass('8604bf0c-31e8-418d-9f12-83fb4b66de17')" @click="showModal('8604bf0c-31e8-418d-9f12-83fb4b66de17')" :class="[returnClassRoom('8604bf0c-31e8-418d-9f12-83fb4b66de17'), { 'hoverSvgClassPark': activeFloor === '8604bf0c-31e8-418d-9f12-83fb4b66de17' }]" class="fil0" points="158.45,167.61 158.45,141.5 168.82,141.5 168.82,167.61 "/>
  <polygon ref="43b3132a-31d8-4642-9827-f030c102b111" id="43b3132a-31d8-4642-9827-f030c102b111" @mouseover="addHoverClass('43b3132a-31d8-4642-9827-f030c102b111')" @mouseleave="removeHoverClass('43b3132a-31d8-4642-9827-f030c102b111')" @click="showModal('43b3132a-31d8-4642-9827-f030c102b111')" :class="[returnClassRoom('43b3132a-31d8-4642-9827-f030c102b111'), { 'hoverSvgClassPark': activeFloor === '43b3132a-31d8-4642-9827-f030c102b111' }]" class="fil0" points="325.84,223.05 325.84,196.94 336.22,196.94 336.22,223.05 "/>
  <polygon ref="e1865955-2531-43bd-a27a-8876821df16b" id="e1865955-2531-43bd-a27a-8876821df16b" @mouseover="addHoverClass('e1865955-2531-43bd-a27a-8876821df16b')" @mouseleave="removeHoverClass('e1865955-2531-43bd-a27a-8876821df16b')" @click="showModal('e1865955-2531-43bd-a27a-8876821df16b')" :class="[returnClassRoom('e1865955-2531-43bd-a27a-8876821df16b'), { 'hoverSvgClassPark': activeFloor === 'e1865955-2531-43bd-a27a-8876821df16b' }]" class="fil0" points="336.84,223.05 336.84,196.94 347.21,196.94 347.21,223.05 "/>
  <polygon ref="ab01fbd9-9203-49f6-8b32-22f76758e83b" id="ab01fbd9-9203-49f6-8b32-22f76758e83b" @mouseover="addHoverClass('ab01fbd9-9203-49f6-8b32-22f76758e83b')" @mouseleave="removeHoverClass('ab01fbd9-9203-49f6-8b32-22f76758e83b')" @click="showModal('ab01fbd9-9203-49f6-8b32-22f76758e83b')" :class="[returnClassRoom('ab01fbd9-9203-49f6-8b32-22f76758e83b'), { 'hoverSvgClassPark': activeFloor === 'ab01fbd9-9203-49f6-8b32-22f76758e83b' }]" class="fil0" points="313.86,223.05 313.86,196.94 324.24,196.94 324.24,223.05 "/>
  <polygon ref="a7e4985c-520a-4f63-96d8-cb1e142292bf" id="a7e4985c-520a-4f63-96d8-cb1e142292bf" @mouseover="addHoverClass('a7e4985c-520a-4f63-96d8-cb1e142292bf')" @mouseleave="removeHoverClass('a7e4985c-520a-4f63-96d8-cb1e142292bf')" @click="showModal('a7e4985c-520a-4f63-96d8-cb1e142292bf')" :class="[returnClassRoom('a7e4985c-520a-4f63-96d8-cb1e142292bf'), { 'hoverSvgClassPark': activeFloor === 'a7e4985c-520a-4f63-96d8-cb1e142292bf' }]" class="fil0" points="282.39,223.05 282.39,196.94 292.76,196.94 292.76,223.05 "/>
  <polygon ref="da55fc14-7370-4816-aae7-ea4bf58ecf65" id="da55fc14-7370-4816-aae7-ea4bf58ecf65" @mouseover="addHoverClass('da55fc14-7370-4816-aae7-ea4bf58ecf65')" @mouseleave="removeHoverClass('da55fc14-7370-4816-aae7-ea4bf58ecf65')" @click="showModal('da55fc14-7370-4816-aae7-ea4bf58ecf65')" :class="[returnClassRoom('da55fc14-7370-4816-aae7-ea4bf58ecf65'), { 'hoverSvgClassPark': activeFloor === 'da55fc14-7370-4816-aae7-ea4bf58ecf65' }]" class="fil0" points="293.39,223.05 293.39,196.94 303.76,196.94 303.76,223.05 "/>
  <polygon ref="a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7" id="a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7" @mouseover="addHoverClass('a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7')" @mouseleave="removeHoverClass('a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7')" @click="showModal('a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7')" :class="[returnClassRoom('a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7'), { 'hoverSvgClassPark': activeFloor === 'a1cd9ae4-27eb-458d-9d44-8d58c2f3c4a7' }]" class="fil0" points="270.41,223.05 270.41,196.94 280.78,196.94 280.78,223.05 "/>
  <polygon ref="3301840c-f6eb-44d7-ae16-757f20f1d896" id="3301840c-f6eb-44d7-ae16-757f20f1d896" @mouseover="addHoverClass('3301840c-f6eb-44d7-ae16-757f20f1d896')" @mouseleave="removeHoverClass('3301840c-f6eb-44d7-ae16-757f20f1d896')" @click="showModal('3301840c-f6eb-44d7-ae16-757f20f1d896')" :class="[returnClassRoom('3301840c-f6eb-44d7-ae16-757f20f1d896'), { 'hoverSvgClassPark': activeFloor === '3301840c-f6eb-44d7-ae16-757f20f1d896' }]" class="fil0" points="241.6,223.05 241.6,196.94 251.98,196.94 251.98,223.05 "/>
  <polygon ref="355f639c-cf8d-42de-8604-c13d07c68b0f" id="355f639c-cf8d-42de-8604-c13d07c68b0f" @mouseover="addHoverClass('355f639c-cf8d-42de-8604-c13d07c68b0f')" @mouseleave="removeHoverClass('355f639c-cf8d-42de-8604-c13d07c68b0f')" @click="showModal('355f639c-cf8d-42de-8604-c13d07c68b0f')" :class="[returnClassRoom('355f639c-cf8d-42de-8604-c13d07c68b0f'), { 'hoverSvgClassPark': activeFloor === '355f639c-cf8d-42de-8604-c13d07c68b0f' }]" class="fil0" points="252.6,223.05 252.6,196.94 262.97,196.94 262.97,223.05 "/>
  <polygon ref="1163da12-e817-4f91-8dfd-830869e767ff" id="1163da12-e817-4f91-8dfd-830869e767ff" @mouseover="addHoverClass('1163da12-e817-4f91-8dfd-830869e767ff')" @mouseleave="removeHoverClass('1163da12-e817-4f91-8dfd-830869e767ff')" @click="showModal('1163da12-e817-4f91-8dfd-830869e767ff')" :class="[returnClassRoom('1163da12-e817-4f91-8dfd-830869e767ff'), { 'hoverSvgClassPark': activeFloor === '1163da12-e817-4f91-8dfd-830869e767ff' }]" class="fil0" points="229.62,223.05 229.62,196.94 240,196.94 240,223.05 "/>
  <polygon ref="7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f" id="7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f" @mouseover="addHoverClass('7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f')" @mouseleave="removeHoverClass('7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f')" @click="showModal('7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f')" :class="[returnClassRoom('7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f'), { 'hoverSvgClassPark': activeFloor === '7b95a6f2-b5b8-41c6-b5f0-f24534b01e3f' }]" class="fil0" points="210.49,223.05 210.49,196.94 220.86,196.94 220.86,223.05 "/>
  <polygon ref="01d891b0-e068-4afd-82f9-6872ee514dca" id="01d891b0-e068-4afd-82f9-6872ee514dca" @mouseover="addHoverClass('01d891b0-e068-4afd-82f9-6872ee514dca')" @mouseleave="removeHoverClass('01d891b0-e068-4afd-82f9-6872ee514dca')" @click="showModal('01d891b0-e068-4afd-82f9-6872ee514dca')" :class="[returnClassRoom('01d891b0-e068-4afd-82f9-6872ee514dca'), { 'hoverSvgClassPark': activeFloor === '01d891b0-e068-4afd-82f9-6872ee514dca' }]" class="fil0" points="198.51,223.05 198.51,196.94 208.88,196.94 208.88,223.05 "/>
  <polygon ref="aeefb76f-f33f-4406-a4b8-557f59d26bfe" id="aeefb76f-f33f-4406-a4b8-557f59d26bfe" @mouseover="addHoverClass('aeefb76f-f33f-4406-a4b8-557f59d26bfe')" @mouseleave="removeHoverClass('aeefb76f-f33f-4406-a4b8-557f59d26bfe')" @click="showModal('aeefb76f-f33f-4406-a4b8-557f59d26bfe')" :class="[returnClassRoom('aeefb76f-f33f-4406-a4b8-557f59d26bfe'), { 'hoverSvgClassPark': activeFloor === 'aeefb76f-f33f-4406-a4b8-557f59d26bfe' }]" class="fil0" points="183.84,223.05 183.84,196.94 194.22,196.94 194.22,223.05 "/>
  <polygon ref="065bbf78-f4c3-4ba2-94a5-268c23e5f544" id="065bbf78-f4c3-4ba2-94a5-268c23e5f544" @mouseover="addHoverClass('065bbf78-f4c3-4ba2-94a5-268c23e5f544')" @mouseleave="removeHoverClass('065bbf78-f4c3-4ba2-94a5-268c23e5f544')" @click="showModal('065bbf78-f4c3-4ba2-94a5-268c23e5f544')" :class="[returnClassRoom('065bbf78-f4c3-4ba2-94a5-268c23e5f544'), { 'hoverSvgClassPark': activeFloor === '065bbf78-f4c3-4ba2-94a5-268c23e5f544' }]" class="fil0" points="171.86,223.05 171.86,196.94 182.23,196.94 182.23,223.05 "/>
  <polygon ref="473a5799-bf30-4034-911e-a99f945c55d0" id="473a5799-bf30-4034-911e-a99f945c55d0" @mouseover="addHoverClass('473a5799-bf30-4034-911e-a99f945c55d0')" @mouseleave="removeHoverClass('473a5799-bf30-4034-911e-a99f945c55d0')" @click="showModal('473a5799-bf30-4034-911e-a99f945c55d0')" :class="[returnClassRoom('473a5799-bf30-4034-911e-a99f945c55d0'), { 'hoverSvgClassPark': activeFloor === '473a5799-bf30-4034-911e-a99f945c55d0' }]" class="fil0" points="159.3,223.1 159.3,196.99 169.67,196.99 169.67,223.1 "/>
  <polygon ref="b6773ece-b9c5-404e-bc5a-92a5f26b4812" id="b6773ece-b9c5-404e-bc5a-92a5f26b4812" @mouseover="addHoverClass('b6773ece-b9c5-404e-bc5a-92a5f26b4812')" @mouseleave="removeHoverClass('b6773ece-b9c5-404e-bc5a-92a5f26b4812')" @click="showModal('b6773ece-b9c5-404e-bc5a-92a5f26b4812')" :class="[returnClassRoom('b6773ece-b9c5-404e-bc5a-92a5f26b4812'), { 'hoverSvgClassPark': activeFloor === 'b6773ece-b9c5-404e-bc5a-92a5f26b4812' }]" class="fil0" points="367.49,223.05 367.49,196.94 377.87,196.94 377.87,223.05 "/>
  <polygon ref="bc8a3922-471f-432b-ad0a-c5949abf6d82" id="bc8a3922-471f-432b-ad0a-c5949abf6d82" @mouseover="addHoverClass('bc8a3922-471f-432b-ad0a-c5949abf6d82')" @mouseleave="removeHoverClass('bc8a3922-471f-432b-ad0a-c5949abf6d82')" @click="showModal('bc8a3922-471f-432b-ad0a-c5949abf6d82')" :class="[returnClassRoom('bc8a3922-471f-432b-ad0a-c5949abf6d82'), { 'hoverSvgClassPark': activeFloor === 'bc8a3922-471f-432b-ad0a-c5949abf6d82' }]" class="fil0" points="378.49,223.05 378.49,196.94 388.86,196.94 388.86,223.05 "/>
  <polygon ref="de89164a-c15d-45a0-880c-de536904acf0" id="de89164a-c15d-45a0-880c-de536904acf0" @mouseover="addHoverClass('de89164a-c15d-45a0-880c-de536904acf0')" @mouseleave="removeHoverClass('de89164a-c15d-45a0-880c-de536904acf0')" @click="showModal('de89164a-c15d-45a0-880c-de536904acf0')" :class="[returnClassRoom('de89164a-c15d-45a0-880c-de536904acf0'), { 'hoverSvgClassPark': activeFloor === 'de89164a-c15d-45a0-880c-de536904acf0' }]" class="fil0" points="355.51,223.05 355.51,196.94 365.89,196.94 365.89,223.05 "/>
  <polygon ref="7284cc01-4e59-4190-8e78-befee350b2d8" id="7284cc01-4e59-4190-8e78-befee350b2d8" @mouseover="addHoverClass('7284cc01-4e59-4190-8e78-befee350b2d8')" @mouseleave="removeHoverClass('7284cc01-4e59-4190-8e78-befee350b2d8')" @click="showModal('7284cc01-4e59-4190-8e78-befee350b2d8')" :class="[returnClassRoom('7284cc01-4e59-4190-8e78-befee350b2d8'), { 'hoverSvgClassPark': activeFloor === '7284cc01-4e59-4190-8e78-befee350b2d8' }]" class="fil0" points="367.49,257.7 367.49,231.59 377.87,231.59 377.87,257.7 "/>
  <polygon ref="5a339f17-652a-490f-839d-d784dc8cd938" id="5a339f17-652a-490f-839d-d784dc8cd938" @mouseover="addHoverClass('5a339f17-652a-490f-839d-d784dc8cd938')" @mouseleave="removeHoverClass('5a339f17-652a-490f-839d-d784dc8cd938')" @click="showModal('5a339f17-652a-490f-839d-d784dc8cd938')" :class="[returnClassRoom('5a339f17-652a-490f-839d-d784dc8cd938'), { 'hoverSvgClassPark': activeFloor === '5a339f17-652a-490f-839d-d784dc8cd938' }]" class="fil0" points="378.49,257.7 378.49,231.59 388.86,231.59 388.86,257.7 "/>
  <polygon ref="7e534d92-a9ca-4a6b-b08c-57767cee5060" id="7e534d92-a9ca-4a6b-b08c-57767cee5060" @mouseover="addHoverClass('7e534d92-a9ca-4a6b-b08c-57767cee5060')" @mouseleave="removeHoverClass('7e534d92-a9ca-4a6b-b08c-57767cee5060')" @click="showModal('7e534d92-a9ca-4a6b-b08c-57767cee5060')" :class="[returnClassRoom('7e534d92-a9ca-4a6b-b08c-57767cee5060'), { 'hoverSvgClassPark': activeFloor === '7e534d92-a9ca-4a6b-b08c-57767cee5060' }]" class="fil0" points="355.51,257.7 355.51,231.59 365.89,231.59 365.89,257.7 "/>
  <polygon ref="b152660c-c022-40a6-a5d3-638cdda495bf" id="b152660c-c022-40a6-a5d3-638cdda495bf" @mouseover="addHoverClass('b152660c-c022-40a6-a5d3-638cdda495bf')" @mouseleave="removeHoverClass('b152660c-c022-40a6-a5d3-638cdda495bf')" @click="showModal('b152660c-c022-40a6-a5d3-638cdda495bf')" :class="[returnClassRoom('b152660c-c022-40a6-a5d3-638cdda495bf'), { 'hoverSvgClassPark': activeFloor === 'b152660c-c022-40a6-a5d3-638cdda495bf' }]" class="fil0" points="318.33,257.79 318.33,231.68 328.71,231.68 328.71,257.79 "/>
  <polygon ref="f86af088-dcdd-4aba-b956-994837446ca6" id="f86af088-dcdd-4aba-b956-994837446ca6" @mouseover="addHoverClass('f86af088-dcdd-4aba-b956-994837446ca6')" @mouseleave="removeHoverClass('f86af088-dcdd-4aba-b956-994837446ca6')" @click="showModal('f86af088-dcdd-4aba-b956-994837446ca6')" :class="[returnClassRoom('f86af088-dcdd-4aba-b956-994837446ca6'), { 'hoverSvgClassPark': activeFloor === 'f86af088-dcdd-4aba-b956-994837446ca6' }]" class="fil0" points="306.35,257.79 306.35,231.68 316.72,231.68 316.72,257.79 "/>
  <polygon ref="2b8e9cef-f633-4c1d-88ea-246900bad49c" id="2b8e9cef-f633-4c1d-88ea-246900bad49c" @mouseover="addHoverClass('2b8e9cef-f633-4c1d-88ea-246900bad49c')" @mouseleave="removeHoverClass('2b8e9cef-f633-4c1d-88ea-246900bad49c')" @click="showModal('2b8e9cef-f633-4c1d-88ea-246900bad49c')" :class="[returnClassRoom('2b8e9cef-f633-4c1d-88ea-246900bad49c'), { 'hoverSvgClassPark': activeFloor === '2b8e9cef-f633-4c1d-88ea-246900bad49c' }]" class="fil0" points="330.13,257.7 330.13,231.59 340.51,231.59 340.51,257.7 "/>
  <polygon ref="80073d19-76dc-4888-8b0f-877279894054" id="80073d19-76dc-4888-8b0f-877279894054" @mouseover="addHoverClass('80073d19-76dc-4888-8b0f-877279894054')" @mouseleave="removeHoverClass('80073d19-76dc-4888-8b0f-877279894054')" @click="showModal('80073d19-76dc-4888-8b0f-877279894054')" :class="[returnClassRoom('80073d19-76dc-4888-8b0f-877279894054'), { 'hoverSvgClassPark': activeFloor === '80073d19-76dc-4888-8b0f-877279894054' }]" class="fil0" points="281.17,257.74 281.17,231.63 291.54,231.63 291.54,257.74 "/>
  <polygon ref="32f89370-f154-4cc3-8477-108f551952d9" id="32f89370-f154-4cc3-8477-108f551952d9" @mouseover="addHoverClass('32f89370-f154-4cc3-8477-108f551952d9')" @mouseleave="removeHoverClass('32f89370-f154-4cc3-8477-108f551952d9')" @click="showModal('32f89370-f154-4cc3-8477-108f551952d9')" :class="[returnClassRoom('32f89370-f154-4cc3-8477-108f551952d9'), { 'hoverSvgClassPark': activeFloor === '32f89370-f154-4cc3-8477-108f551952d9' }]" class="fil0" points="269.18,257.74 269.18,231.63 279.56,231.63 279.56,257.74 "/>
  <polygon ref="94f9d3b6-f980-493a-bd30-a79be55695d2" id="94f9d3b6-f980-493a-bd30-a79be55695d2" @mouseover="addHoverClass('94f9d3b6-f980-493a-bd30-a79be55695d2')" @mouseleave="removeHoverClass('94f9d3b6-f980-493a-bd30-a79be55695d2')" @click="showModal('94f9d3b6-f980-493a-bd30-a79be55695d2')" :class="[returnClassRoom('94f9d3b6-f980-493a-bd30-a79be55695d2'), { 'hoverSvgClassPark': activeFloor === '94f9d3b6-f980-493a-bd30-a79be55695d2' }]" class="fil0" points="242.05,257.83 242.05,231.72 252.42,231.72 252.42,257.83 "/>
  <polygon ref="3732d941-febe-46a7-af02-a47e22b7bf20" id="3732d941-febe-46a7-af02-a47e22b7bf20" @mouseover="addHoverClass('3732d941-febe-46a7-af02-a47e22b7bf20')" @mouseleave="removeHoverClass('3732d941-febe-46a7-af02-a47e22b7bf20')" @click="showModal('3732d941-febe-46a7-af02-a47e22b7bf20')" :class="[returnClassRoom('3732d941-febe-46a7-af02-a47e22b7bf20'), { 'hoverSvgClassPark': activeFloor === '3732d941-febe-46a7-af02-a47e22b7bf20' }]" class="fil0" points="215.32,257.7 215.32,231.59 225.69,231.59 225.69,257.7 "/>
  <polygon ref="cace17cb-482b-4644-acc0-53f5d6249221" id="cace17cb-482b-4644-acc0-53f5d6249221" @mouseover="addHoverClass('cace17cb-482b-4644-acc0-53f5d6249221')" @mouseleave="removeHoverClass('cace17cb-482b-4644-acc0-53f5d6249221')" @click="showModal('cace17cb-482b-4644-acc0-53f5d6249221')" :class="[returnClassRoom('cace17cb-482b-4644-acc0-53f5d6249221'), { 'hoverSvgClassPark': activeFloor === 'cace17cb-482b-4644-acc0-53f5d6249221' }]" class="fil0" points="193.11,257.74 193.11,231.63 203.48,231.63 203.48,257.74 "/>
  <polygon ref="4dc08f12-f124-42c6-876d-f51783caf2c9" id="4dc08f12-f124-42c6-876d-f51783caf2c9" @mouseover="addHoverClass('4dc08f12-f124-42c6-876d-f51783caf2c9')" @mouseleave="removeHoverClass('4dc08f12-f124-42c6-876d-f51783caf2c9')" @click="showModal('4dc08f12-f124-42c6-876d-f51783caf2c9')" :class="[returnClassRoom('4dc08f12-f124-42c6-876d-f51783caf2c9'), { 'hoverSvgClassPark': activeFloor === '4dc08f12-f124-42c6-876d-f51783caf2c9' }]" class="fil0" points="204.46,257.7 204.46,231.59 214.84,231.59 214.84,257.7 "/>
  <polygon ref="0ed838f6-c7e3-4e95-956f-78e0c2605b24" id="0ed838f6-c7e3-4e95-956f-78e0c2605b24" @mouseover="addHoverClass('0ed838f6-c7e3-4e95-956f-78e0c2605b24')" @mouseleave="removeHoverClass('0ed838f6-c7e3-4e95-956f-78e0c2605b24')" @click="showModal('0ed838f6-c7e3-4e95-956f-78e0c2605b24')" :class="[returnClassRoom('0ed838f6-c7e3-4e95-956f-78e0c2605b24'), { 'hoverSvgClassPark': activeFloor === '0ed838f6-c7e3-4e95-956f-78e0c2605b24' }]" class="fil0" points="178.11,257.7 178.11,231.59 188.48,231.59 188.48,257.7 "/>
  <polygon ref="1b593162-604e-4e8e-8e4d-865ad7468228" id="1b593162-604e-4e8e-8e4d-865ad7468228" @mouseover="addHoverClass('1b593162-604e-4e8e-8e4d-865ad7468228')" @mouseleave="removeHoverClass('1b593162-604e-4e8e-8e4d-865ad7468228')" @click="showModal('1b593162-604e-4e8e-8e4d-865ad7468228')" :class="[returnClassRoom('1b593162-604e-4e8e-8e4d-865ad7468228'), { 'hoverSvgClassPark': activeFloor === '1b593162-604e-4e8e-8e4d-865ad7468228' }]" class="fil0" points="164.7,257.7 164.7,231.59 175.07,231.59 175.07,257.7 "/>
  <polygon ref="8735601b-05c1-4eeb-82fb-2c0081814415" id="8735601b-05c1-4eeb-82fb-2c0081814415" @mouseover="addHoverClass('8735601b-05c1-4eeb-82fb-2c0081814415')" @mouseleave="removeHoverClass('8735601b-05c1-4eeb-82fb-2c0081814415')" @click="showModal('8735601b-05c1-4eeb-82fb-2c0081814415')" :class="[returnClassRoom('8735601b-05c1-4eeb-82fb-2c0081814415'), { 'hoverSvgClassPark': activeFloor === '8735601b-05c1-4eeb-82fb-2c0081814415' }]" class="fil0" points="137.52,257.74 137.52,231.63 147.9,231.63 147.9,257.74 "/>
  <polygon ref="3f4b67cc-1da7-4831-9b77-92aee281e637" id="3f4b67cc-1da7-4831-9b77-92aee281e637" @mouseover="addHoverClass('3f4b67cc-1da7-4831-9b77-92aee281e637')" @mouseleave="removeHoverClass('3f4b67cc-1da7-4831-9b77-92aee281e637')" @click="showModal('3f4b67cc-1da7-4831-9b77-92aee281e637')" :class="[returnClassRoom('3f4b67cc-1da7-4831-9b77-92aee281e637'), { 'hoverSvgClassPark': activeFloor === '3f4b67cc-1da7-4831-9b77-92aee281e637' }]" class="fil0" points="439.22,223.1 439.22,196.99 449.59,196.99 449.59,223.1 "/>
  <polygon ref="fce533d1-9703-472f-b6f2-088dea99034f" id="fce533d1-9703-472f-b6f2-088dea99034f" @mouseover="addHoverClass('fce533d1-9703-472f-b6f2-088dea99034f')" @mouseleave="removeHoverClass('fce533d1-9703-472f-b6f2-088dea99034f')" @click="showModal('fce533d1-9703-472f-b6f2-088dea99034f')" :class="[returnClassRoom('fce533d1-9703-472f-b6f2-088dea99034f'), { 'hoverSvgClassPark': activeFloor === 'fce533d1-9703-472f-b6f2-088dea99034f' }]" class="fil0" points="450.22,223.1 450.22,196.99 460.59,196.99 460.59,223.1 "/>
  <polygon ref="8309a1f0-13cf-46ba-9cb4-b2beec4486a1" id="8309a1f0-13cf-46ba-9cb4-b2beec4486a1" @mouseover="addHoverClass('8309a1f0-13cf-46ba-9cb4-b2beec4486a1')" @mouseleave="removeHoverClass('8309a1f0-13cf-46ba-9cb4-b2beec4486a1')" @click="showModal('8309a1f0-13cf-46ba-9cb4-b2beec4486a1')" :class="[returnClassRoom('8309a1f0-13cf-46ba-9cb4-b2beec4486a1'), { 'hoverSvgClassPark': activeFloor === '8309a1f0-13cf-46ba-9cb4-b2beec4486a1' }]" class="fil0" points="467.83,223.1 467.83,196.99 478.21,196.99 478.21,223.1 "/>
  <polygon ref="04fde470-c467-4441-abd4-54324ffb3ab9" id="04fde470-c467-4441-abd4-54324ffb3ab9" @mouseover="addHoverClass('04fde470-c467-4441-abd4-54324ffb3ab9')" @mouseleave="removeHoverClass('04fde470-c467-4441-abd4-54324ffb3ab9')" @click="showModal('04fde470-c467-4441-abd4-54324ffb3ab9')" :class="[returnClassRoom('04fde470-c467-4441-abd4-54324ffb3ab9'), { 'hoverSvgClassPark': activeFloor === '04fde470-c467-4441-abd4-54324ffb3ab9' }]" class="fil0" points="478.83,223.1 478.83,196.99 489.2,196.99 489.2,223.1 "/>
  <polygon ref="9cb0272d-4ee7-4fc7-82d9-456f46b50117" id="9cb0272d-4ee7-4fc7-82d9-456f46b50117" @mouseover="addHoverClass('9cb0272d-4ee7-4fc7-82d9-456f46b50117')" @mouseleave="removeHoverClass('9cb0272d-4ee7-4fc7-82d9-456f46b50117')" @click="showModal('9cb0272d-4ee7-4fc7-82d9-456f46b50117')" :class="[returnClassRoom('9cb0272d-4ee7-4fc7-82d9-456f46b50117'), { 'hoverSvgClassPark': activeFloor === '9cb0272d-4ee7-4fc7-82d9-456f46b50117' }]" class="fil0" points="490.63,223.1 490.63,196.99 501.01,196.99 501.01,223.1 "/>
  <polygon ref="6e989662-43d3-4638-8ba0-9fc802de59eb" id="6e989662-43d3-4638-8ba0-9fc802de59eb" @mouseover="addHoverClass('6e989662-43d3-4638-8ba0-9fc802de59eb')" @mouseleave="removeHoverClass('6e989662-43d3-4638-8ba0-9fc802de59eb')" @click="showModal('6e989662-43d3-4638-8ba0-9fc802de59eb')" :class="[returnClassRoom('6e989662-43d3-4638-8ba0-9fc802de59eb'), { 'hoverSvgClassPark': activeFloor === '6e989662-43d3-4638-8ba0-9fc802de59eb' }]" class="fil0" points="459.98,257.75 459.98,231.64 470.35,231.64 470.35,257.75 "/>
  <polygon ref="fb2de677-497c-4edd-a69f-529d87f89d03" id="fb2de677-497c-4edd-a69f-529d87f89d03" @mouseover="addHoverClass('fb2de677-497c-4edd-a69f-529d87f89d03')" @mouseleave="removeHoverClass('fb2de677-497c-4edd-a69f-529d87f89d03')" @click="showModal('fb2de677-497c-4edd-a69f-529d87f89d03')" :class="[returnClassRoom('fb2de677-497c-4edd-a69f-529d87f89d03'), { 'hoverSvgClassPark': activeFloor === 'fb2de677-497c-4edd-a69f-529d87f89d03' }]" class="fil0" points="470.97,257.75 470.97,231.64 481.35,231.64 481.35,257.75 "/>
  <polygon ref="bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac" id="bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac" @mouseover="addHoverClass('bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac')" @mouseleave="removeHoverClass('bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac')" @click="showModal('bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac')" :class="[returnClassRoom('bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac'), { 'hoverSvgClassPark': activeFloor === 'bdb21e71-c6cc-4d3a-a1e6-c49bc2048bac' }]" class="fil0" points="482.78,257.75 482.78,231.64 493.15,231.64 493.15,257.75 "/>
  <polygon ref="523fb4a8-3adc-4874-b3c5-3403e51a8463" id="523fb4a8-3adc-4874-b3c5-3403e51a8463" @mouseover="addHoverClass('523fb4a8-3adc-4874-b3c5-3403e51a8463')" @mouseleave="removeHoverClass('523fb4a8-3adc-4874-b3c5-3403e51a8463')" @click="showModal('523fb4a8-3adc-4874-b3c5-3403e51a8463')" :class="[returnClassRoom('523fb4a8-3adc-4874-b3c5-3403e51a8463'), { 'hoverSvgClassPark': activeFloor === '523fb4a8-3adc-4874-b3c5-3403e51a8463' }]" class="fil0" points="510.05,223.05 510.05,196.95 520.42,196.95 520.42,223.05 "/>
  <polygon ref="78239c8b-dfb4-49fa-8284-cb893e232ef4" id="78239c8b-dfb4-49fa-8284-cb893e232ef4" @mouseover="addHoverClass('78239c8b-dfb4-49fa-8284-cb893e232ef4')" @mouseleave="removeHoverClass('78239c8b-dfb4-49fa-8284-cb893e232ef4')" @click="showModal('78239c8b-dfb4-49fa-8284-cb893e232ef4')" :class="[returnClassRoom('78239c8b-dfb4-49fa-8284-cb893e232ef4'), { 'hoverSvgClassPark': activeFloor === '78239c8b-dfb4-49fa-8284-cb893e232ef4' }]" class="fil0" points="521.04,223.05 521.04,196.95 531.42,196.95 531.42,223.05 "/>
  <polygon ref="95c8946d-6789-40b8-a71a-e7106c85bb3e" id="95c8946d-6789-40b8-a71a-e7106c85bb3e" @mouseover="addHoverClass('95c8946d-6789-40b8-a71a-e7106c85bb3e')" @mouseleave="removeHoverClass('95c8946d-6789-40b8-a71a-e7106c85bb3e')" @click="showModal('95c8946d-6789-40b8-a71a-e7106c85bb3e')" :class="[returnClassRoom('95c8946d-6789-40b8-a71a-e7106c85bb3e'), { 'hoverSvgClassPark': activeFloor === '95c8946d-6789-40b8-a71a-e7106c85bb3e' }]" class="fil0" points="532.85,223.05 532.85,196.95 543.22,196.95 543.22,223.05 "/>
  <polygon ref="b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf" id="b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf" @mouseover="addHoverClass('b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf')" @mouseleave="removeHoverClass('b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf')" @click="showModal('b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf')" :class="[returnClassRoom('b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf'), { 'hoverSvgClassPark': activeFloor === 'b0d18627-5641-4fa9-bc68-2ff5dfdb3ccf' }]" class="fil0" points="549.39,257.57 549.39,231.46 559.76,231.46 559.76,257.57 "/>
  <polygon ref="ca595a9b-d9e2-42cf-a262-18d9f39f1dd7" id="ca595a9b-d9e2-42cf-a262-18d9f39f1dd7" @mouseover="addHoverClass('ca595a9b-d9e2-42cf-a262-18d9f39f1dd7')" @mouseleave="removeHoverClass('ca595a9b-d9e2-42cf-a262-18d9f39f1dd7')" @click="showModal('ca595a9b-d9e2-42cf-a262-18d9f39f1dd7')" :class="[returnClassRoom('ca595a9b-d9e2-42cf-a262-18d9f39f1dd7'), { 'hoverSvgClassPark': activeFloor === 'ca595a9b-d9e2-42cf-a262-18d9f39f1dd7' }]" class="fil0" points="561.1,257.66 561.1,231.55 571.48,231.55 571.48,257.66 "/>
  <polygon ref="5981f7d4-2638-4ceb-b7a0-a17f0436dca2" id="5981f7d4-2638-4ceb-b7a0-a17f0436dca2" @mouseover="addHoverClass('5981f7d4-2638-4ceb-b7a0-a17f0436dca2')" @mouseleave="removeHoverClass('5981f7d4-2638-4ceb-b7a0-a17f0436dca2')" @click="showModal('5981f7d4-2638-4ceb-b7a0-a17f0436dca2')" :class="[returnClassRoom('5981f7d4-2638-4ceb-b7a0-a17f0436dca2'), { 'hoverSvgClassPark': activeFloor === '5981f7d4-2638-4ceb-b7a0-a17f0436dca2' }]" class="fil0" points="572.19,257.57 572.19,231.46 582.56,231.46 582.56,257.57 "/>
  <polygon ref="686b7c55-7097-44da-9e58-1311d770791c" id="686b7c55-7097-44da-9e58-1311d770791c" @mouseover="addHoverClass('686b7c55-7097-44da-9e58-1311d770791c')" @mouseleave="removeHoverClass('686b7c55-7097-44da-9e58-1311d770791c')" @click="showModal('686b7c55-7097-44da-9e58-1311d770791c')" :class="[returnClassRoom('686b7c55-7097-44da-9e58-1311d770791c'), { 'hoverSvgClassPark': activeFloor === '686b7c55-7097-44da-9e58-1311d770791c' }]" class="fil0" points="546.26,315.87 546.26,289.76 556.63,289.76 556.63,315.87 "/>
  <polygon ref="fd85037a-d144-4751-b6e2-149e1761d149" id="fd85037a-d144-4751-b6e2-149e1761d149" @mouseover="addHoverClass('fd85037a-d144-4751-b6e2-149e1761d149')" @mouseleave="removeHoverClass('fd85037a-d144-4751-b6e2-149e1761d149')" @click="showModal('fd85037a-d144-4751-b6e2-149e1761d149')" :class="[returnClassRoom('fd85037a-d144-4751-b6e2-149e1761d149'), { 'hoverSvgClassPark': activeFloor === 'fd85037a-d144-4751-b6e2-149e1761d149' }]" class="fil0" points="557.26,315.87 557.26,289.76 567.63,289.76 567.63,315.87 "/>
  <polygon ref="d195cd5e-d744-47bd-b116-13b35c6847b2" id="d195cd5e-d744-47bd-b116-13b35c6847b2" @mouseover="addHoverClass('d195cd5e-d744-47bd-b116-13b35c6847b2')" @mouseleave="removeHoverClass('d195cd5e-d744-47bd-b116-13b35c6847b2')" @click="showModal('d195cd5e-d744-47bd-b116-13b35c6847b2')" :class="[returnClassRoom('d195cd5e-d744-47bd-b116-13b35c6847b2'), { 'hoverSvgClassPark': activeFloor === 'd195cd5e-d744-47bd-b116-13b35c6847b2' }]" class="fil0" points="569.06,315.87 569.06,289.76 579.43,289.76 579.43,315.87 "/>
  <polygon ref="08afb21d-5dee-4509-8de0-d0b7a523665d" id="08afb21d-5dee-4509-8de0-d0b7a523665d" @mouseover="addHoverClass('08afb21d-5dee-4509-8de0-d0b7a523665d')" @mouseleave="removeHoverClass('08afb21d-5dee-4509-8de0-d0b7a523665d')" @click="showModal('08afb21d-5dee-4509-8de0-d0b7a523665d')" :class="[returnClassRoom('08afb21d-5dee-4509-8de0-d0b7a523665d'), { 'hoverSvgClassPark': activeFloor === '08afb21d-5dee-4509-8de0-d0b7a523665d' }]" class="fil0" points="458.19,315.78 458.19,289.67 468.56,289.67 468.56,315.78 "/>
  <polygon ref="c52ef3de-f4bc-445d-b424-7608f3392694" id="c52ef3de-f4bc-445d-b424-7608f3392694" @mouseover="addHoverClass('c52ef3de-f4bc-445d-b424-7608f3392694')" @mouseleave="removeHoverClass('c52ef3de-f4bc-445d-b424-7608f3392694')" @click="showModal('c52ef3de-f4bc-445d-b424-7608f3392694')" :class="[returnClassRoom('c52ef3de-f4bc-445d-b424-7608f3392694'), { 'hoverSvgClassPark': activeFloor === 'c52ef3de-f4bc-445d-b424-7608f3392694' }]" class="fil0" points="469.19,315.78 469.19,289.67 479.56,289.67 479.56,315.78 "/>
  <polygon ref="9b6ac50c-f574-423e-b67e-9aec78d7e117" id="9b6ac50c-f574-423e-b67e-9aec78d7e117" @mouseover="addHoverClass('9b6ac50c-f574-423e-b67e-9aec78d7e117')" @mouseleave="removeHoverClass('9b6ac50c-f574-423e-b67e-9aec78d7e117')" @click="showModal('9b6ac50c-f574-423e-b67e-9aec78d7e117')" :class="[returnClassRoom('9b6ac50c-f574-423e-b67e-9aec78d7e117'), { 'hoverSvgClassPark': activeFloor === '9b6ac50c-f574-423e-b67e-9aec78d7e117' }]" class="fil0" points="480.99,315.78 480.99,289.67 491.36,289.67 491.36,315.78 "/>
  <polygon ref="b62ff085-9642-446f-b24f-a51aaabe09f1" id="b62ff085-9642-446f-b24f-a51aaabe09f1" @mouseover="addHoverClass('b62ff085-9642-446f-b24f-a51aaabe09f1')" @mouseleave="removeHoverClass('b62ff085-9642-446f-b24f-a51aaabe09f1')" @click="showModal('b62ff085-9642-446f-b24f-a51aaabe09f1')" :class="[returnClassRoom('b62ff085-9642-446f-b24f-a51aaabe09f1'), { 'hoverSvgClassPark': activeFloor === 'b62ff085-9642-446f-b24f-a51aaabe09f1' }]" class="fil0" points="348.3,315.87 348.3,289.76 358.67,289.76 358.67,315.87 "/>
  <polygon ref="0d4a90c5-9835-4fcf-b1e7-694538a8773d" id="0d4a90c5-9835-4fcf-b1e7-694538a8773d" @mouseover="addHoverClass('0d4a90c5-9835-4fcf-b1e7-694538a8773d')" @mouseleave="removeHoverClass('0d4a90c5-9835-4fcf-b1e7-694538a8773d')" @click="showModal('0d4a90c5-9835-4fcf-b1e7-694538a8773d')" :class="[returnClassRoom('0d4a90c5-9835-4fcf-b1e7-694538a8773d'), { 'hoverSvgClassPark': activeFloor === '0d4a90c5-9835-4fcf-b1e7-694538a8773d' }]" class="fil0" points="359.3,315.87 359.3,289.76 369.67,289.76 369.67,315.87 "/>
  <polygon ref="4b00e9a9-107e-48ef-a4e1-52dc73168121" id="4b00e9a9-107e-48ef-a4e1-52dc73168121" @mouseover="addHoverClass('4b00e9a9-107e-48ef-a4e1-52dc73168121')" @mouseleave="removeHoverClass('4b00e9a9-107e-48ef-a4e1-52dc73168121')" @click="showModal('4b00e9a9-107e-48ef-a4e1-52dc73168121')" :class="[returnClassRoom('4b00e9a9-107e-48ef-a4e1-52dc73168121'), { 'hoverSvgClassPark': activeFloor === '4b00e9a9-107e-48ef-a4e1-52dc73168121' }]" class="fil0" points="371.1,315.87 371.1,289.76 381.47,289.76 381.47,315.87 "/>
  <polygon ref="f944963c-6bc2-4d80-800d-a1d353c0e124" id="f944963c-6bc2-4d80-800d-a1d353c0e124" @mouseover="addHoverClass('f944963c-6bc2-4d80-800d-a1d353c0e124')" @mouseleave="removeHoverClass('f944963c-6bc2-4d80-800d-a1d353c0e124')" @click="showModal('f944963c-6bc2-4d80-800d-a1d353c0e124')" :class="[returnClassRoom('f944963c-6bc2-4d80-800d-a1d353c0e124'), { 'hoverSvgClassPark': activeFloor === 'f944963c-6bc2-4d80-800d-a1d353c0e124' }]" class="fil0" points="194.24,315.96 194.24,289.85 204.61,289.85 204.61,315.96 "/>
  <polygon ref="9a9bdef4-1735-4ab6-b895-94af1eb8bde4" id="9a9bdef4-1735-4ab6-b895-94af1eb8bde4" @mouseover="addHoverClass('9a9bdef4-1735-4ab6-b895-94af1eb8bde4')" @mouseleave="removeHoverClass('9a9bdef4-1735-4ab6-b895-94af1eb8bde4')" @click="showModal('9a9bdef4-1735-4ab6-b895-94af1eb8bde4')" :class="[returnClassRoom('9a9bdef4-1735-4ab6-b895-94af1eb8bde4'), { 'hoverSvgClassPark': activeFloor === '9a9bdef4-1735-4ab6-b895-94af1eb8bde4' }]" class="fil0" points="205.24,315.96 205.24,289.85 215.61,289.85 215.61,315.96 "/>
  <polygon ref="ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d" id="ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d" @mouseover="addHoverClass('ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d')" @mouseleave="removeHoverClass('ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d')" @click="showModal('ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d')" :class="[returnClassRoom('ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d'), { 'hoverSvgClassPark': activeFloor === 'ca1bfc3b-55f9-4db3-8370-ec060c2e4a9d' }]" class="fil0" points="217.04,315.96 217.04,289.85 227.41,289.85 227.41,315.96 "/>
  <polygon ref="232982b9-fbe7-48fb-ab0c-7d308ca33f69" id="232982b9-fbe7-48fb-ab0c-7d308ca33f69" @mouseover="addHoverClass('232982b9-fbe7-48fb-ab0c-7d308ca33f69')" @mouseleave="removeHoverClass('232982b9-fbe7-48fb-ab0c-7d308ca33f69')" @click="showModal('232982b9-fbe7-48fb-ab0c-7d308ca33f69')" :class="[returnClassRoom('232982b9-fbe7-48fb-ab0c-7d308ca33f69'), { 'hoverSvgClassPark': activeFloor === '232982b9-fbe7-48fb-ab0c-7d308ca33f69' }]" class="fil0" points="553.68,223.14 553.68,197.04 564.06,197.04 564.06,223.14 "/>
  <polygon ref="1b98e2f8-3017-4a96-8215-2b93684eb35c" id="1b98e2f8-3017-4a96-8215-2b93684eb35c" @mouseover="addHoverClass('1b98e2f8-3017-4a96-8215-2b93684eb35c')" @mouseleave="removeHoverClass('1b98e2f8-3017-4a96-8215-2b93684eb35c')" @click="showModal('1b98e2f8-3017-4a96-8215-2b93684eb35c')" :class="[returnClassRoom('1b98e2f8-3017-4a96-8215-2b93684eb35c'), { 'hoverSvgClassPark': activeFloor === '1b98e2f8-3017-4a96-8215-2b93684eb35c' }]" class="fil0" points="564.68,223.14 564.68,197.04 575.05,197.04 575.05,223.14 "/>
  <polygon ref="ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1" id="ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1" @mouseover="addHoverClass('ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1')" @mouseleave="removeHoverClass('ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1')" @click="showModal('ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1')" :class="[returnClassRoom('ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1'), { 'hoverSvgClassPark': activeFloor === 'ee706a7b-abbc-4b0a-980a-04ec5c3d3dc1' }]" class="fil0" points="506.56,315.87 506.56,289.76 516.93,289.76 516.93,315.87 "/>
  <polygon ref="52ca9212-11b1-436d-ba3e-49972282fbe7" id="52ca9212-11b1-436d-ba3e-49972282fbe7" @mouseover="addHoverClass('52ca9212-11b1-436d-ba3e-49972282fbe7')" @mouseleave="removeHoverClass('52ca9212-11b1-436d-ba3e-49972282fbe7')" @click="showModal('52ca9212-11b1-436d-ba3e-49972282fbe7')" :class="[returnClassRoom('52ca9212-11b1-436d-ba3e-49972282fbe7'), { 'hoverSvgClassPark': activeFloor === '52ca9212-11b1-436d-ba3e-49972282fbe7' }]" class="fil0" points="517.56,315.87 517.56,289.76 527.93,289.76 527.93,315.87 "/>
  <polygon ref="13ef816a-d0ae-4372-b5b3-1ebcd3da2d18" id="13ef816a-d0ae-4372-b5b3-1ebcd3da2d18" @mouseover="addHoverClass('13ef816a-d0ae-4372-b5b3-1ebcd3da2d18')" @mouseleave="removeHoverClass('13ef816a-d0ae-4372-b5b3-1ebcd3da2d18')" @click="showModal('13ef816a-d0ae-4372-b5b3-1ebcd3da2d18')" :class="[returnClassRoom('13ef816a-d0ae-4372-b5b3-1ebcd3da2d18'), { 'hoverSvgClassPark': activeFloor === '13ef816a-d0ae-4372-b5b3-1ebcd3da2d18' }]" class="fil0" points="507.27,257.84 507.27,231.73 517.65,231.73 517.65,257.84 "/>
  <polygon ref="8dae645e-6632-4028-a428-c13080ac0c8c" id="8dae645e-6632-4028-a428-c13080ac0c8c" @mouseover="addHoverClass('8dae645e-6632-4028-a428-c13080ac0c8c')" @mouseleave="removeHoverClass('8dae645e-6632-4028-a428-c13080ac0c8c')" @click="showModal('8dae645e-6632-4028-a428-c13080ac0c8c')" :class="[returnClassRoom('8dae645e-6632-4028-a428-c13080ac0c8c'), { 'hoverSvgClassPark': activeFloor === '8dae645e-6632-4028-a428-c13080ac0c8c' }]" class="fil0" points="519.53,257.75 519.53,231.64 529.9,231.64 529.9,257.75 "/>
  <polygon ref="09fac936-11c7-4200-b4b5-19465b71b6d8" id="09fac936-11c7-4200-b4b5-19465b71b6d8" @mouseover="addHoverClass('09fac936-11c7-4200-b4b5-19465b71b6d8')" @mouseleave="removeHoverClass('09fac936-11c7-4200-b4b5-19465b71b6d8')" @click="showModal('09fac936-11c7-4200-b4b5-19465b71b6d8')" :class="[returnClassRoom('09fac936-11c7-4200-b4b5-19465b71b6d8'), { 'hoverSvgClassPark': activeFloor === '09fac936-11c7-4200-b4b5-19465b71b6d8' }]" class="fil0" points="242.76,315.87 242.76,289.76 253.13,289.76 253.13,315.87 "/>
  <polygon ref="5da57010-a030-4592-9781-e3843700d80d" id="5da57010-a030-4592-9781-e3843700d80d" @mouseover="addHoverClass('5da57010-a030-4592-9781-e3843700d80d')" @mouseleave="removeHoverClass('5da57010-a030-4592-9781-e3843700d80d')" @click="showModal('5da57010-a030-4592-9781-e3843700d80d')" :class="[returnClassRoom('5da57010-a030-4592-9781-e3843700d80d'), { 'hoverSvgClassPark': activeFloor === '5da57010-a030-4592-9781-e3843700d80d' }]" class="fil0" points="253.76,315.87 253.76,289.76 264.13,289.76 264.13,315.87 "/>
  <polygon ref="547c40d3-a3ce-43aa-9fbb-830335e6473e" id="547c40d3-a3ce-43aa-9fbb-830335e6473e" @mouseover="addHoverClass('547c40d3-a3ce-43aa-9fbb-830335e6473e')" @mouseleave="removeHoverClass('547c40d3-a3ce-43aa-9fbb-830335e6473e')" @click="showModal('547c40d3-a3ce-43aa-9fbb-830335e6473e')" :class="[returnClassRoom('547c40d3-a3ce-43aa-9fbb-830335e6473e'), { 'hoverSvgClassPark': activeFloor === '547c40d3-a3ce-43aa-9fbb-830335e6473e' }]" class="fil0" points="157.04,315.87 157.04,289.76 167.42,289.76 167.42,315.87 "/>
  <polygon ref="f19b6d89-e366-4ef6-80fd-b651da97b318" id="f19b6d89-e366-4ef6-80fd-b651da97b318" @mouseover="addHoverClass('f19b6d89-e366-4ef6-80fd-b651da97b318')" @mouseleave="removeHoverClass('f19b6d89-e366-4ef6-80fd-b651da97b318')" @click="showModal('f19b6d89-e366-4ef6-80fd-b651da97b318')" :class="[returnClassRoom('f19b6d89-e366-4ef6-80fd-b651da97b318'), { 'hoverSvgClassPark': activeFloor === 'f19b6d89-e366-4ef6-80fd-b651da97b318' }]" class="fil0" points="168.04,315.87 168.04,289.76 178.42,289.76 178.42,315.87 "/>
  <polygon ref="8f0f72db-e9f0-4161-8a9e-113bca2fc664" id="8f0f72db-e9f0-4161-8a9e-113bca2fc664" @mouseover="addHoverClass('8f0f72db-e9f0-4161-8a9e-113bca2fc664')" @mouseleave="removeHoverClass('8f0f72db-e9f0-4161-8a9e-113bca2fc664')" @click="showModal('8f0f72db-e9f0-4161-8a9e-113bca2fc664')" :class="[returnClassRoom('8f0f72db-e9f0-4161-8a9e-113bca2fc664'), { 'hoverSvgClassPark': activeFloor === '8f0f72db-e9f0-4161-8a9e-113bca2fc664' }]" class="fil0" points="328.99,316.05 328.99,289.94 339.36,289.94 339.36,316.05 "/>
  <polygon ref="02b55fd3-6c79-47cd-a7c3-14a0b4279399" id="02b55fd3-6c79-47cd-a7c3-14a0b4279399" @mouseover="addHoverClass('02b55fd3-6c79-47cd-a7c3-14a0b4279399')" @mouseleave="removeHoverClass('02b55fd3-6c79-47cd-a7c3-14a0b4279399')" @click="showModal('02b55fd3-6c79-47cd-a7c3-14a0b4279399')" :class="[returnClassRoom('02b55fd3-6c79-47cd-a7c3-14a0b4279399'), { 'hoverSvgClassPark': activeFloor === '02b55fd3-6c79-47cd-a7c3-14a0b4279399' }]" class="fil0" points="434.85,257.57 434.85,231.46 445.22,231.46 445.22,257.57 "/>
  <polygon ref="88bb2279-4303-47d2-b1bb-6bf592c2758d" id="88bb2279-4303-47d2-b1bb-6bf592c2758d" @mouseover="addHoverClass('88bb2279-4303-47d2-b1bb-6bf592c2758d')" @mouseleave="removeHoverClass('88bb2279-4303-47d2-b1bb-6bf592c2758d')" @click="showModal('88bb2279-4303-47d2-b1bb-6bf592c2758d')" :class="[returnClassRoom('88bb2279-4303-47d2-b1bb-6bf592c2758d'), { 'hoverSvgClassPark': activeFloor === '88bb2279-4303-47d2-b1bb-6bf592c2758d' }]" class="fil0" points="400.02,315.82 400.02,289.72 414.51,289.72 414.51,315.82 "/>
  <polygon ref="dd34358b-fc2d-4ae6-b13e-9378f535a9ff" id="dd34358b-fc2d-4ae6-b13e-9378f535a9ff" @mouseover="addHoverClass('dd34358b-fc2d-4ae6-b13e-9378f535a9ff')" @mouseleave="removeHoverClass('dd34358b-fc2d-4ae6-b13e-9378f535a9ff')" @click="showModal('dd34358b-fc2d-4ae6-b13e-9378f535a9ff')" :class="[returnClassRoom('dd34358b-fc2d-4ae6-b13e-9378f535a9ff'), { 'hoverSvgClassPark': activeFloor === 'dd34358b-fc2d-4ae6-b13e-9378f535a9ff' }]" class="fil0" points="587.37,169.53 613.03,169.53 613.03,179.91 587.37,179.91 "/>
  <polygon ref="6a2d04f7-43d6-4eea-aebf-3f79237434bf" id="6a2d04f7-43d6-4eea-aebf-3f79237434bf" @mouseover="addHoverClass('6a2d04f7-43d6-4eea-aebf-3f79237434bf')" @mouseleave="removeHoverClass('6a2d04f7-43d6-4eea-aebf-3f79237434bf')" @click="showModal('6a2d04f7-43d6-4eea-aebf-3f79237434bf')" :class="[returnClassRoom('6a2d04f7-43d6-4eea-aebf-3f79237434bf'), { 'hoverSvgClassPark': activeFloor === '6a2d04f7-43d6-4eea-aebf-3f79237434bf' }]" class="fil0" points="587.37,180.53 613.03,180.53 613.03,190.9 587.37,190.9 "/>
  <polygon ref="2c13f15b-00ed-43e0-87e4-9ea99d65f8d0" id="2c13f15b-00ed-43e0-87e4-9ea99d65f8d0" @mouseover="addHoverClass('2c13f15b-00ed-43e0-87e4-9ea99d65f8d0')" @mouseleave="removeHoverClass('2c13f15b-00ed-43e0-87e4-9ea99d65f8d0')" @click="showModal('2c13f15b-00ed-43e0-87e4-9ea99d65f8d0')" :class="[returnClassRoom('2c13f15b-00ed-43e0-87e4-9ea99d65f8d0'), { 'hoverSvgClassPark': activeFloor === '2c13f15b-00ed-43e0-87e4-9ea99d65f8d0' }]" class="fil0" points="589.87,258.56 615.53,258.56 615.53,268.93 589.87,268.93 "/>
  <polygon ref="80b4d854-9d83-40e9-832c-93f85b7f7bed" id="80b4d854-9d83-40e9-832c-93f85b7f7bed" @mouseover="addHoverClass('80b4d854-9d83-40e9-832c-93f85b7f7bed')" @mouseleave="removeHoverClass('80b4d854-9d83-40e9-832c-93f85b7f7bed')" @click="showModal('80b4d854-9d83-40e9-832c-93f85b7f7bed')" :class="[returnClassRoom('80b4d854-9d83-40e9-832c-93f85b7f7bed'), { 'hoverSvgClassPark': activeFloor === '80b4d854-9d83-40e9-832c-93f85b7f7bed' }]" class="fil0" points="589.87,269.55 615.53,269.55 615.53,279.93 589.87,279.93 "/>
  <polygon ref="58177552-cb9d-4f42-83b2-f4e4d2c96bb2" id="58177552-cb9d-4f42-83b2-f4e4d2c96bb2" @mouseover="addHoverClass('58177552-cb9d-4f42-83b2-f4e4d2c96bb2')" @mouseleave="removeHoverClass('58177552-cb9d-4f42-83b2-f4e4d2c96bb2')" @click="showModal('58177552-cb9d-4f42-83b2-f4e4d2c96bb2')" :class="[returnClassRoom('58177552-cb9d-4f42-83b2-f4e4d2c96bb2'), { 'hoverSvgClassPark': activeFloor === '58177552-cb9d-4f42-83b2-f4e4d2c96bb2' }]" class="fil0" points="589.87,280.64 615.53,280.64 615.53,291.01 589.87,291.01 "/>
  <polygon ref="bbb8efea-d60c-46d0-9285-beddf6996151" id="bbb8efea-d60c-46d0-9285-beddf6996151" @mouseover="addHoverClass('bbb8efea-d60c-46d0-9285-beddf6996151')" @mouseleave="removeHoverClass('bbb8efea-d60c-46d0-9285-beddf6996151')" @click="showModal('bbb8efea-d60c-46d0-9285-beddf6996151')" :class="[returnClassRoom('bbb8efea-d60c-46d0-9285-beddf6996151'), { 'hoverSvgClassPark': activeFloor === 'bbb8efea-d60c-46d0-9285-beddf6996151' }]" class="fil0" points="299.64,284.28 325.3,284.28 325.3,294.65 299.64,294.65 "/>
 </g>
</svg>
   </SvgPanZoom>
  </div>
</template>

<script>
  import SvgPanZoom from 'vue-svg-pan-zoom';

  export default {
    name: "third",
    data() {
      return {
        activeFloor: null
      }
    },
    components: {
      SvgPanZoom
    },
    mounted() {
      this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
    },
    props: ['rentersList'],
    methods: {
      getAllCount() {
        this.$root.$emit('allParkingPlaces', Object.keys(this.$refs).length)
      },
      updateRenters() {
        // debugger
      },
      addHoverClass(id) {
        this.$root.$emit('showShortInfo', id);
        this.$set(this, 'activeFloor', id)
      },
      removeHoverClass() {
        this.$root.$emit('hideShortInfo');
        this.$set(this, 'activeFloor', null)
      },
      showModal(id) {
        this.$root.$emit('showModal', id);
      },
      returnClassRoom(id) {
        let correctClass = 'fillBlue';

        if (this.$props.rentersList && this.$props.rentersList.length) {
          // debugger
          const room = this.$props.rentersList.find(x => {
            return x.image_id === id;
          });

          if (room) {
            switch (room.status) {
              case 'busy':
                correctClass = 'fillGreen';
                break;
              case 'reserve':
                correctClass = 'fillRed';
                break;
            }
          }
        }

        return correctClass;
      },
    }
  }
</script>